@import 'variables';

// horizontal bar
.bar-container {
    display: flex;
    position: relative;
    .bar-category {
        color: #7f8094;
    }
    .bar-chart {
        height: 9px;
        width: 100%;
        background: #2daea8;
        border-radius: 0 4.5px 4.5px 0;
        margin: auto;
        margin-left: 0px;
    }
}
.bar-amount {
    color: #27273c;
    color: black;
    font-weight: $fw-m;
}
.bar-item {
    margin-bottom: 21px;
}

.horizontal-tooltip {
    position: absolute;
    display: block;
    border-style: solid;
    white-space: nowrap;
    z-index: 9999999;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 10px;
    transition: opacity 0.2s cubic-bezier(0.23, 1, 0.32, 1) 0s, visibility 0.2s cubic-bezier(0.23, 1, 0.32, 1) 0s,
        left 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s, top 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-radius: 4px;
    color: rgb(35, 35, 52);
    padding: 10px;
    top: -60px;
    border-color: rgb(255, 255, 255);
    pointer-events: none;
}
