<div class="row">
    <div class="col-lg-12 mt-4">
        <p class="description">Add photo and media files here to give viewers a sneak peak into your roastery</p>
    </div>
</div>
<div class="row">
        <div class="col-lg-12 ">
            <!-- <div class="row">
            <div class=" col-lg-4">
                <div class="card text-center">
                    <img class="plus-circle" src="assets/images/plus-circle.svg">
                    <p class="text">Add photo or videos</p>
                </div>
            </div>
            <div class=" col-lg-4">
                <div class="card text-center">
                    <img class="plus-circle" src="assets/images/plus-circle.svg">
                    <p class="text">Add photo or videos</p>
                </div>
            </div>
            <div class=" col-lg-4">
                    <div class="card text-center">
                        <img class="plus-circle" src="assets/images/plus-circle.svg">
                        <p class="text">Add photo or videos</p>
                    </div>
            </div>
        </div>

        <div class="row">
                <div class=" col-lg-4">
                    <div class="card text-center">
                        <img class="plus-circle" src="assets/images/plus-circle.svg">
                        <p class="text">Add photo or videos</p>
                    </div>
                </div>
                <div class=" col-lg-4">
                    <div class="card text-center">
                        <img class="plus-circle" src="assets/images/plus-circle.svg">
                        <p class="text">Add photo or videos</p>
                    </div>
                </div>
             
            </div> -->


            <div class="row cursor-pointer mobile-tabs-gallary">
                <a href="javascript:void(0);" class="col-lg-4 col-md-6 col-sm-6 col-6 pb-3 " *ngIf="roasteryProfileService.addMediaDiv">
                    <!-- <div class="social-post-farmlink__item position-relative">
                        <img class="social-images" src="assets/images/farm-5.png" alt="farm"> -->
                        <!-- <img class="video-play" src="assets/images/play-button.png" alt="farm"> -->
                        <!-- <p class="mb-0 post-info">Different coffee brewing styles</p>
                    </div> -->
                    <div class="card text-center">
                            <img class="plus-circle" src="assets/images/plus-circle.svg">
                            <p class="text">Add photo or videos</p>
                        </div>
                </a>
                    <a href="javascript:void(0);" class="col-lg-4 col-md-6 col-sm-6 col-6 pb-3 " >
                        <div class="social-post-farmlink__item position-relative">
                            <img class="social-images" src="assets/images/farm-1.png" alt="farm">
                            <img class="video-play" src="assets/images/play-button.png" alt="farm">
                            <p class="mb-0 post-info">Different coffee brewing styles</p>
                        </div>
                    </a>

                    <a href="javascript:void(0);" class="col-lg-4 col-md-6 col-sm-6 col-6 pb-3 ">
                        <div class="social-post-farmlink__item position-relative">
                            <img class="social-images" src="assets/images/farm-2.png" alt="farm">
                            <!-- <img class="video-play" src="assets/images/play-button.png" alt="farm"> -->
                            <p class="mb-0 post-info">Different coffee brewing styles</p>
                        </div>
                    </a>

                    <a href="javascript:void(0);" class="col-lg-4 col-md-6 col-sm-6 col-6 pb-3 ">
                        <div class="social-post-farmlink__item position-relative">
                            <img class="social-images" src="assets/images/farm-3.png" alt="farm">
                            <!-- <img class="video-play" src="assets/images/play-button.png" alt="farm"> -->
                            <p class="mb-0 post-info">Different coffee brewing styles</p>
                        </div>
                    </a>
                    <a href="javascript:void(0);" class="col-lg-4 col-md-6 col-sm-6 col-6 pb-3 ">
                        <div class="social-post-farmlink__item position-relative">
                            <img class="social-images" src="assets/images/farm-4.png" alt="farm">
                            <!-- <img class="video-play" src="assets/images/play-button.png" alt="farm"> -->
                            <p class="mb-0 post-info">Different coffee brewing styles</p>
                        </div>
                    </a>
                   
            </div>
        </div>
    </div>
