@import 'variables';

.green_grading_cont {
    h1 {
        font-family: $general-font-family;
        font-size: 18px;
        font-weight: bold;
    }
}

.green_grade_button {
    width: 100%;
    text-align: left;
    border-radius: 2px;
    border: solid 1px #ebebeb;
    background-color: #ffffff;
    padding: 2rem;
    height: 100%;
    display: inline-flex;
    flex-direction: column;

    &:hover {
        border-radius: 2px;
        box-shadow: 0 22px 54px -10px rgba(223, 223, 223, 0.5);
        border: solid 1px $primary-color;
        .btn-stroked {
            color: #ffffff;
            background-color: $primary-color;
        }
    }

    @media (max-width: 575px) {
        padding: 14px;
    }

    div {
        margin-top: auto;
    }
}

.grade_heading {
    font-family: $general-font-family;
    font-size: 18px;
    font-weight: 600;
    color: #232334;
    margin-bottom: 0.5rem;

    @media (max-width: 575px) {
        font-size: 14px;
        font-weight: 500;
    }
}

.grade_para {
    font-family: $general-font-family;
    font-size: 14px;
    font-weight: 600;
    color: #747588;
    padding-top: 4px;

    @media (max-width: 575px) {
        font-size: 12px;
        font-weight: normal;
        padding-top: 0;
    }
}
