<div class="welcome-sec p-md-3 pl-lg-5 pr-lg-5">
    <h2 class="fnt-16 fnt-md-18 fnt-bold text-clr334 mb-4 d-none d-md-block">
        {{ 'Hello ' + authService.currentUser?.firstname + ',' }}
    </h2>
    <!-- <div>
        <app-dashboard-notify></app-dashboard-notify>
    </div> -->
    <div class="row d-lg-flex">
        <div *appAclIf="'sourcing-management'" class="col-12 col-lg-8 pr-lg-2 mb-3 mb-lg-5">
            <app-dashboard-estate></app-dashboard-estate>
        </div>
        <div class="col-12 col-lg-4 col-md-4 pr-md-1 pl-md-3 pl-lg-2 mb-3 mb-lg-5 pr-lg-3">
            <app-dashboard-review></app-dashboard-review>
        </div>
        <div class="col-md-4 pl-md-2 pr-md-2 mb-3 mb-lg-5 d-none md-only-show">
            <app-dashboard-product></app-dashboard-product>
        </div>
        <div class="col-md-4 pl-md-1 pr-md-3 mb-3 mb-lg-5 d-none md-only-show">
            <app-dashboard-friend></app-dashboard-friend>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3 mb-md-5">
            <app-dashboard-sales></app-dashboard-sales>
        </div>
    </div>

    <div class="row md-only-hide">
        <div class="col-md-4 col-sm-12 pr-md-0 mb-3 mb-md-5e">
            <app-dashboard-variety></app-dashboard-variety>
        </div>
        <div class="col-md-4 col-sm-12 pr-md-2 mb-3 mb-md-5e">
            <app-dashboard-product></app-dashboard-product>
        </div>
        <div class="col-md-4 col-sm-12 pl-md-2 mb-3 mb-md-5e">
            <app-dashboard-friend></app-dashboard-friend>
        </div>
    </div>

    <div *appAclIf="'sourcing-management'" class="mb-3 mb-md-5">
        <app-dashboard-coffee></app-dashboard-coffee>
    </div>

    <div class="mb-3 mb-md-5">
        <app-dashboard-experience></app-dashboard-experience>
    </div>

    <div class="row d-lg-flex">
        <div class="col-12 col-md-12 col-lg-8 pr-lg-2 mb-3 mb-lg-5 mb-md-3">
            <app-dashboard-sourcing></app-dashboard-sourcing>
        </div>
        <div class="col-12 col-md-6 col-lg-4 pl-md-2 mb-3 mb-lg-5 mb-md-3 md-only-hide">
            <app-dashboard-invite></app-dashboard-invite>
        </div>
    </div>

    <div class="row d-none md-only-show-flex">
        <div class="col-md-6 col-lg-8 pr-md-2 pr-lg-2 mb-3 mb-lg-5 mb-md-3">
            <app-dashboard-invite></app-dashboard-invite>
        </div>
        <div class="col-md-6 col-lg-8 pl-md-2 pr-lg-2 mb-3 mb-lg-5 mb-md-3">
            <app-dashboard-variety></app-dashboard-variety>
        </div>
    </div>

    <div class="mb-3 mb-lg-5">
        <app-dashboard-blog></app-dashboard-blog>
    </div>

    <div class="mb-3 mb-md-5">
        <app-dashboard-activity></app-dashboard-activity>
    </div>
</div>
