@import 'variables';

::ng-deep .rowClass {
    width: 300px;
}

@media (max-width: 767px) {
    .mobile-header {
        margin: -0.75rem;
        background-color: $primary-bg-color;
    }
    ::ng-deep .p-datatable.p-datatable-responsive .p-datatable-tbody > tr > td:first-child {
        border-bottom: none !important;
    }
}
