@import 'variables';

::ng-deep .rowClass {
    @media (min-width: 768px) {
        width: 300px;
    }
}
.break-word {
    word-break: break-word;
}

::ng-deep .p-calendar .p-inputtext {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

@media screen and (max-width: 767px) {
    ::ng-deep #exp-Table .p-datatable table {
        margin-top: 1rem !important;
    }
    ::ng-deep .menu-arrow {
        top: 0px !important;
    }

    .mobile-header {
        margin: -0.75rem;
        background-color: $primary-bg-color;
    }
    ::ng-deep .p-datatable.p-datatable-responsive .p-datatable-tbody > tr > td:first-child {
        border-bottom: none !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    ::ng-deep #exp-Table .p-datatable-wrapper {
        overflow-x: scroll !important;
    }
    ::ng-deep #exp-Table .p-datatable table {
        width: 180% !important;
    }
}
