<div class="mt-4">
    <p-dropdown
        *ngIf="path === 'orders'"
        [options]="originArray"
        [showClear]="true"
        optionLabel="name"
        optionValue="isoCode"
        [(ngModel)]="termStatus"
        (onChange)="setStatus()"
        scrollHeight="225px"
        placeholder="{{ globals.languageJson?.all_origins }}"
        [autoDisplayFirst]="false"
        styleClass="round-border mr-2 mb-3 {{ termStatus ? 'highlight' : '' }}"
    ></p-dropdown>
    <p-calendar
        class="ml-md-2 calender"
        [readonlyInput]="true"
        placeholder="Date range"
        selectionMode="range"
        dateFormat="dd/mm/yy"
        [formControl]="searchForm.controls['dates']"
        [showButtonBar]="true"
        [showIcon]="true"
        [styleClass]="
            'round-border mb-25 mb-md-3 mb-lg-4' + (queryParams.from_date || queryParams.to_date ? ' highlight' : '')
        "
    >
    </p-calendar>
    <div class="float-right mobile-lead">
        <p-dropdown
            [options]="displayItems"
            [showClear]="true"
            [(ngModel)]="display"
            (onChange)="setDisplay()"
            scrollHeight="225px"
            placeholder="{{ globals.languageJson?.display }}"
            [autoDisplayFirst]="false"
            styleClass="round-border mb-3 {{ display ? 'highlight' : '' }}"
        ></p-dropdown>
    </div>
</div>

<!-- Primeng table for Procured Coffee -->
<div class="coffee-procured">
    <p-table
        id="exp-Table"
        #coffeeExpTable
        [class.table-mobile]="primeTableService.isMobileView"
        [value]="primeTableService.records"
        [columns]="primeTableService._allColumns"
        [(selection)]="primeTableService.selectedRecords"
        dataKey="id"
        styleClass="ui-table-customers"
        [rows]="primeTableService.rows"
        [showCurrentPageReport]="false"
        [loading]="primeTableService.loading"
        [paginator]="primeTableService.paginationValue"
        [lazy]="true"
        (onLazyLoad)="getData($event)"
        [totalRecords]="primeTableService.totalRecords"
        [responsive]="primeTableService.isMobileView"
    >
        <ng-template pTemplate="colgroup" let-columns>
            <colgroup *ngIf="!primeTableService.isMobileView">
                <col *ngFor="let col of columns" [style.width]="col.width ? col.width + 'px' : '50px'" />
            </colgroup>
        </ng-template>

        <ng-template pTemplate="header" let-columns>
            <tr>
                <th
                    *ngFor="let col of columns"
                    [pSortableColumn]="
                        col.sortable === true ? (col.field === 'gc_total_quantity' ? 'quantity' : col.field) : null
                    "
                >
                    <span class="primeng-table-header">{{ col.header | translate }}</span>
                    <p-sortIcon
                        *ngIf="col.sortable === true"
                        [field]="col.field"
                        ariaLabel="Activate to sort"
                        ariaLabelDesc="Activate to sort in descending order"
                        ariaLabelAsc="Activate to sort in ascending order"
                    >
                    </p-sortIcon>
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr class="rowClass">
                <td
                    *ngFor="let col of columns"
                    class="order-border"
                    [ngSwitch]="col.field"
                    [ngClass]="{ borderNone: col.field === 'order_reference' }"
                >
                    <span *ngSwitchCase="'name'" (click)="availabilityPage(rowData)">
                        <div class="d-flex">
                            <span *ngIf="primeTableService.isMobileView" class="prime-table-label text-clr588 w-50">
                                <span *ngIf="path === 'orders'"> {{ 'estate_name' | translate }}</span>
                                <span *ngIf="path !== 'orders'"> {{ 'customer_name' | translate }}</span>
                            </span>

                            <span [class.w-50]="primeTableService.isMobileView">
                                <span *ngIf="path === 'orders'"> {{ rowData['estate_name'] }}</span>
                                <span *ngIf="path === 'mr-orders'"> {{ rowData['micro_roaster_name'] }}</span>
                                <span *ngIf="path === 'hrc-orders'"> {{ rowData['user_name'] }} </span>
                                <span *ngIf="path === 'outtake-orders'"> {{ rowData['customer_name'] }}</span>
                            </span>
                        </div>
                    </span>
                    <span *ngSwitchCase="'customer_name'" (click)="availabilityPage(rowData)">
                        <div class="d-flex">
                            <span *ngIf="primeTableService.isMobileView" class="prime-table-label text-clr588 w-50">
                                {{ 'customer_name' | translate }}
                            </span>

                            <span [class.w-50]="primeTableService.isMobileView">
                                {{ rowData['customer_name'] }}
                            </span>
                        </div>
                    </span>
                    <span *ngSwitchCase="'gc_total_quantity'" (click)="availabilityPage(rowData)">
                        <div *ngIf="rowData['customer_type'] === 'hrc'" class="d-flex">
                            <span *ngIf="primeTableService.isMobileView" class="prime-table-label text-clr588 w-50">
                                {{ 'quantity' | translate }}
                            </span>

                            <span [class.w-50]="primeTableService.isMobileView">
                                {{ rowData['rc_total_quantity'] }}
                                {{
                                    rowData['rc_total_quantity_unit'] === 'jute_bags'
                                        ? 'Jute bags'
                                        : rowData['rc_total_quantity_unit']
                                }}
                            </span>
                        </div>
                        <div *ngIf="rowData['customer_type'] === 'mr'" class="d-flex">
                            <span *ngIf="primeTableService.isMobileView" class="prime-table-label text-clr588 w-50">
                                {{ 'quantity' | translate }}
                            </span>

                            <span [class.w-50]="primeTableService.isMobileView">
                                {{ rowData['gc_total_quantity'] }}
                                {{
                                    rowData['gc_total_quantity_unit'] === 'jute_bags'
                                        ? 'Jute bags'
                                        : rowData['gc_total_quantity_unit']
                                }}
                            </span>
                        </div>
                    </span>
                    <span *ngSwitchCase="'order_date'" (click)="availabilityPage(rowData)">
                        <div class="d-flex">
                            <span *ngIf="primeTableService.isMobileView" class="prime-table-label text-clr588 w-50">
                                {{ 'ordered_date' | translate }}
                            </span>
                            <span [class.w-50]="primeTableService.isMobileView">
                                {{ rowData['order_date'] | date: 'mediumDate' }}
                            </span>
                        </div>
                    </span>
                    <span *ngSwitchCase="'created_at'" (click)="availabilityPage(rowData)">
                        <div class="d-flex">
                            <span *ngIf="primeTableService.isMobileView" class="prime-table-label text-clr588 w-50">
                                {{ 'ordered_date' | translate }}
                            </span>

                            <span
                                *ngIf="path === 'orders' || path === 'mr-orders'"
                                [class.w-50]="primeTableService.isMobileView"
                            >
                                {{ rowData['created_at'] | date: 'mediumDate' }}
                            </span>
                            <span
                                *ngIf="path === 'hrc-orders' || path === 'outtake-orders'"
                                [class.w-50]="primeTableService.isMobileView"
                            >
                                {{ rowData['order_date'] | date: 'mediumDate' }}
                            </span>
                        </div>
                    </span>
                    <span *ngSwitchCase="'date_received'" (click)="availabilityPage(rowData)">
                        <div class="d-flex">
                            <span *ngIf="primeTableService.isMobileView" class="prime-table-label text-clr588 w-50">
                                {{ 'recieved_date' | translate }}
                            </span>

                            <span [class.w-50]="primeTableService.isMobileView">
                                {{ rowData['date_received'] | date: 'mediumDate' }}
                            </span>
                        </div>
                    </span>
                    <span *ngSwitchCase="'product_name'" (click)="availabilityPage(rowData)">
                        <div class="d-flex">
                            <span *ngIf="primeTableService.isMobileView" class="prime-table-label text-clr588 w-50">
                                {{ 'product_name' | translate }}
                            </span>

                            <span [class.w-50]="primeTableService.isMobileView">
                                {{ rowData['product_name'] || '-' }}
                            </span>
                        </div>
                    </span>
                    <span *ngSwitchCase="'roast_level'" (click)="availabilityPage(rowData)">
                        <div class="d-flex">
                            <span *ngIf="primeTableService.isMobileView" class="prime-table-label text-clr588 w-50">
                                {{ 'ro_roast_level' | translate }}
                            </span>

                            <span [class.w-50]="primeTableService.isMobileView">
                                {{ rowData['roast_level'] || '-' }}
                            </span>
                        </div>
                    </span>
                    <span *ngSwitchCase="'order_id'" (click)="availabilityPage(rowData)">
                        <div class="d-flex">
                            <span *ngIf="primeTableService.isMobileView" class="prime-table-label text-clr588 w-50">
                                {{ 'estate_order_id' | translate }}
                            </span>

                            <span [class.w-50]="primeTableService.isMobileView">
                                {{ rowData['order_id'] || '-' }}
                            </span>
                        </div>
                    </span>
                    <span *ngSwitchCase="'status'" (click)="availabilityPage(rowData)">
                        <span *ngIf="!primeTableService.isMobileView">
                            {{ rowData['status'] | titlecase }}
                        </span>
                    </span>
                    <span *ngSwitchCase="'varieties'" (click)="availabilityPage(rowData)">
                        <div class="d-flex">
                            <span *ngIf="primeTableService.isMobileView" class="prime-table-label text-clr588 w-50">
                                {{ 'variety' | translate }}
                            </span>

                            <span [class.w-50]="primeTableService.isMobileView">
                                {{ rowData['varieties'] || 'NA' }}
                            </span>
                        </div>
                    </span>
                    <span *ngSwitchCase="'sub_order_id'" (click)="availabilityPage(rowData)">
                        <div class="d-flex">
                            <span *ngIf="primeTableService.isMobileView" class="prime-table-label text-clr588 w-50">
                                {{ 'sub_order_id' | translate }}
                            </span>

                            <span [class.w-50]="primeTableService.isMobileView">
                                {{ rowData['order_id'] || '-' }}
                            </span>
                        </div>
                    </span>
                    <span *ngSwitchCase="'origin'" (click)="availabilityPage(rowData)">
                        <div class="d-flex">
                            <span *ngIf="primeTableService.isMobileView" class="prime-table-label text-clr588 w-50">
                                <span> {{ 'origin' | translate }}</span>
                            </span>
                            <span [class.w-50]="primeTableService.isMobileView" class="truncate break-word">
                                {{ rowData['origin'] | country | translate }}
                            </span>
                        </div>
                    </span>
                    <span *ngSwitchCase="'roast_level'" (click)="availabilityPage(rowData)">
                        <div class="d-flex">
                            <span *ngIf="primeTableService.isMobileView" class="prime-table-label text-clr588 w-50">
                                <span> {{ 'roast_level' | translate }}</span>
                            </span>
                            <span [class.w-50]="primeTableService.isMobileView" class="truncate break-word">
                                {{ (rowData['roast_level'] | titlecase)?.replace('-', ' ') }}
                            </span>
                        </div>
                    </span>
                    <span *ngSwitchCase="'cup_score'" (click)="availabilityPage(rowData)">
                        <div class="d-flex">
                            <span *ngIf="primeTableService.isMobileView" class="prime-table-label text-clr588 w-50">
                                <span> {{ 'cupping_score' | translate }}</span>
                            </span>
                            <span [class.w-50]="primeTableService.isMobileView" class="truncate break-word">
                                {{ rowData['cup_score'] || '-' }}
                            </span>
                        </div>
                    </span>
                    <span *ngSwitchCase="'quantity'" (click)="availabilityPage(rowData)">
                        <div class="d-flex">
                            <span *ngIf="primeTableService.isMobileView" class="prime-table-label text-clr588 w-50">
                                <span> {{ 'quantity' | translate }}</span>
                            </span>
                            <span [class.w-50]="primeTableService.isMobileView" class="truncate break-word">
                                <span *ngIf="path === 'orders'">
                                    {{ rowData['quantity_count'] }}
                                    {{
                                        rowData['quantity_type'] === 'jute_bags'
                                            ? 'Jute bags'
                                            : (rowData['quantity_type'] | translate)
                                    }}</span
                                >
                                <span *ngIf="path === 'mr-orders'">
                                    {{ rowData['quantity'] }}
                                    {{
                                        rowData['quantity_type'] === 'jute_bags'
                                            ? 'Jute bags'
                                            : (rowData['quantity_type'] | translate)
                                    }}</span
                                >
                                <span *ngIf="path === 'hrc-orders'">
                                    {{ rowData['quantity'] }}
                                    {{
                                        rowData['available_quantity_type'] === 'jute_bags'
                                            ? 'Jute bags'
                                            : rowData['available_quantity_type']
                                    }}</span
                                >
                            </span>
                        </div>
                    </span>

                    <span *ngSwitchCase="'id'">
                        <span *ngIf="!primeTableService.isMobileView" (click)="availabilityPage(rowData)">
                            <span *ngIf="path === 'hrc-orders'">{{ rowData.main_order_id }}</span>
                            <span *ngIf="path !== 'hrc-orders'">{{ rowData[col.field] }}</span>
                        </span>
                        <div class="d-flex mobile-header br-4 p-2 p-md-0">
                            <span *ngIf="primeTableService.isMobileView" class="mobile-heading w-50">
                                {{ 'order_id' | translate }} #
                                <span *ngIf="path === 'hrc-orders'">{{ rowData.main_order_id }}</span>
                                <span *ngIf="path !== 'hrc-orders'">{{ rowData[col.field] }}</span>
                            </span>
                            <span
                                *ngIf="!primeTableService.isMobileView; else mobile_name"
                                [class.prime-table-heading]="primeTableService.isMobileView"
                                class="w-50"
                            >
                            </span>
                            <ng-template #mobile_name>
                                <span class="ml-auto">
                                    <ng-container *ngIf="primeTableService.isMobileView">
                                        <app-action-menu [menuItems]="getMenuItems(rowData)"></app-action-menu>
                                    </ng-container>
                                </span>
                            </ng-template>
                        </div>
                    </span>
                    <span *ngSwitchCase="'actions'" class="text-center" (click)="availabilityPage(rowData)">
                        <span *ngIf="path === 'orders'">
                            <ng-container *ngIf="!primeTableService.isMobileView">
                                <span class="brown-cta">{{ 'view_details' | translate }}</span>
                            </ng-container>
                        </span>
                        <span *ngIf="path !== 'orders'">
                            <ng-container *ngIf="!primeTableService.isMobileView">
                                <span class="brown-cta">{{ 'update_details' | translate }}</span>
                            </ng-container>
                        </span>
                    </span>
                    <span *ngSwitchDefault>
                        {{ rowData[col.field] }}
                    </span>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="summary">
            <app-empty
                *ngIf="!primeTableService.loading && !primeTableService.records?.length"
                [title]="'no_data_available' | translate"
            ></app-empty>
        </ng-template>
    </p-table>
</div>
