<div class="d-flex justify-content-between filter">
    <div class="d-flex">
        <div *ngIf="customerType === 'estate'">
            <p-dropdown
                scrollHeight="225px"
                (onChange)="filterOrigin()"
                [showClear]="true"
                [options]="originData"
                [(ngModel)]="selectedOrigin"
                placeholder="Origin"
                styleClass="round-border mr-25 mb-2"
            ></p-dropdown>
        </div>
        <div>
            <p-calendar
                styleClass="only-icon"
                [(ngModel)]="rangeDates"
                (onSelect)="filterDate()"
                (onClearClick)="closeCalendar($event)"
                [showIcon]="true"
                dateFormat="dd.mm.yy"
                [readonlyInput]="true"
                [showButtonBar]="true"
                selectionMode="range"
                placeholder="{{ 'date_range' | translate }}"
                styleClass="round-border range-picker"
            ></p-calendar>
        </div>
    </div>
    <div class="web-farm">
        <p-dropdown
            [options]="displayItems"
            [(ngModel)]="filterDisplay"
            (onChange)="getOrdersData()"
            scrollHeight="225px"
            placeholder="Display"
            [autoDisplayFirst]="false"
            styleClass="round-border {{ filterDisplay ? 'highlight' : '' }}"
        ></p-dropdown>
    </div>
</div>

<div class="estate-table web-farm pt-3">
    <p-table
        class="coffee-experience-table"
        [value]="filteredCoffeeData | filter: searchTerm | filter: estatetermOrigin"
        sortMode="multiple"
    >
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="order_id" class="order">
                    {{ 'order_id' | translate }}<p-sortIcon field="order_id"> </p-sortIcon>
                </th>
                <th *ngIf="customerType === 'outtake-orders'" pSortableColumn="product_name">
                    {{ 'product_name' | translate }}<p-sortIcon field="product_name"></p-sortIcon>
                </th>
                <th *ngIf="customerType === 'estate'" pSortableColumn="estate_name">
                    {{ 'estate_name' | translate }}
                    <p-sortIcon field="estate_name"> </p-sortIcon>
                </th>
                <th *ngIf="customerType !== 'estate'" pSortableColumn="name_customer">
                    {{ 'name_customer' | translate }}
                    <p-sortIcon field="name_customer"> </p-sortIcon>
                </th>
                <th *ngIf="customerType === 'estate'" pSortableColumn="origin" class="variety">
                    {{ 'origin' | translate }}<p-sortIcon field="origin"> </p-sortIcon>
                </th>
                <th
                    *ngIf="customerType !== 'estate' && customerType !== 'outtake-orders'"
                    pSortableColumn="product_name"
                >
                    {{ 'product_name' | translate }}<p-sortIcon field="product_name"></p-sortIcon>
                </th>

                <th pSortableColumn="date_ordered">
                    {{ 'date_ordered' | translate }}<p-sortIcon field="date_ordered"></p-sortIcon>
                </th>
                <th *ngIf="customerType === 'estate'" pSortableColumn="date_recieved">
                    Date recieved<p-sortIcon field="date_recieved"></p-sortIcon>
                </th>
                <th
                    *ngIf="customerType !== 'hrc' && customerType !== 'outtake-orders'"
                    pSortableColumn="variety"
                    class="variety"
                >
                    {{ 'variety' | translate }}<p-sortIcon field="variety"></p-sortIcon>
                </th>
                <th *ngIf="customerType === 'hrc'" pSortableColumn="roast_level">
                    {{ 'roast_level' | translate }}<p-sortIcon field="roast_level"></p-sortIcon>
                </th>
                <th *ngIf="customerType === 'outtake-orders'" pSortableColumn="order_id">
                    {{ 'gc_order_id' | translate }}<p-sortIcon field="order_id"></p-sortIcon>
                </th>
                <th pSortableColumn="quantity" class="quantity">
                    {{ 'quantity' | translate }}<p-sortIcon field="quantity"> </p-sortIcon>
                </th>
                <th *ngIf="customerType !== 'hrc' && customerType !== 'outtake-orders'" pSortableColumn="cupping_score">
                    {{ 'cupping_score' | translate }}<p-sortIcon field="cupping_score"> </p-sortIcon>
                </th>
                <th
                    pSortableColumn="actions"
                    [ngClass]="{ order: customerType === 'estate', 'update-details': customerType !== 'estate' }"
                >
                    {{ 'actions' | translate }}<p-sortIcon field="actions"> </p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td
                    *ngIf="customerType === 'estate'"
                    class="fnt-14"
                    routerLink="/coffee-experience/coffee-details/"
                    [queryParams]="{ estate_id: item.id }"
                >
                    {{ item.id }}
                </td>
                <td
                    *ngIf="customerType === 'micro-roasters'"
                    class="fnt-14"
                    routerLink="/coffee-experience/coffee-details/"
                    [queryParams]="{ micro_roasters_id: item.id }"
                >
                    {{ item.id }}
                </td>
                <td
                    *ngIf="customerType === 'hrc'"
                    class="fnt-14"
                    routerLink="/coffee-experience/coffee-details/"
                    [queryParams]="{ hrc_id: item.order_id }"
                >
                    {{ item.order_id }}
                </td>
                <td
                    *ngIf="customerType === 'outtake-orders'"
                    class="fnt-14"
                    routerLink="/coffee-experience/coffee-details/"
                    [queryParams]="{ outtake_orders_id: item.id }"
                >
                    {{ item.id }}
                </td>

                <td
                    *ngIf="customerType === 'estate'"
                    class="fnt-14"
                    routerLink="/coffee-experience/coffee-details/"
                    [queryParams]="{ estate_id: item.id }"
                >
                    {{ item.estate_name }}
                </td>
                <td
                    *ngIf="customerType === 'micro-roasters'"
                    class="fnt-14"
                    routerLink="/coffee-experience/coffee-details/"
                    [queryParams]="{ micro_roasters_id: item.id }"
                >
                    {{ item.estate_name }}
                </td>
                <td
                    *ngIf="customerType === 'hrc'"
                    class="fnt-14"
                    routerLink="/coffee-experience/coffee-details/"
                    [queryParams]="{ hrc_id: item.order_id }"
                >
                    {{ item.horeca_name }}
                </td>
                <td
                    *ngIf="customerType === 'outtake-orders'"
                    class="fnt-14"
                    routerLink="/coffee-experience/coffee-details/"
                    [queryParams]="{ outtake_orders_id: item.id }"
                >
                    {{ item.product_name }}
                </td>
                <td
                    *ngIf="customerType === 'estate'"
                    class="fnt-14"
                    routerLink="/coffee-experience/coffee-details/"
                    [queryParams]="{ estate_id: item.id }"
                >
                    {{ item.origin | country }}
                </td>
                <td
                    *ngIf="customerType === 'estate'"
                    class="fnt-14"
                    routerLink="/coffee-experience/coffee-details/"
                    [queryParams]="{ estate_id: item.id }"
                >
                    {{ item.created_at | date: 'mediumDate' }}
                </td>
                <td
                    *ngIf="customerType === 'micro-roasters'"
                    class="fnt-14"
                    routerLink="/coffee-experience/coffee-details/"
                    [queryParams]="{ micro_roasters_id: item.id }"
                >
                    {{ item.product_name }}
                </td>
                <td
                    *ngIf="customerType === 'hrc'"
                    class="fnt-14"
                    routerLink="/coffee-experience/coffee-details/"
                    [queryParams]="{ hrc_id: item.order_id }"
                >
                    {{ item.product_name }}
                </td>
                <td
                    *ngIf="customerType === 'outtake-orders'"
                    class="fnt-14"
                    routerLink="/coffee-experience/coffee-details/"
                    [queryParams]="{ outtake_orders_id: item.id }"
                >
                    {{ item.customer_name }}
                </td>

                <td
                    *ngIf="customerType === 'estate'"
                    class="fnt-14"
                    routerLink="/coffee-experience/coffee-details/"
                    [queryParams]="{ estate_id: item.id }"
                >
                    {{ item.date_received | date: 'mediumDate' }}
                </td>
                <td
                    *ngIf="customerType === 'micro-roasters'"
                    class="fnt-14"
                    routerLink="/coffee-experience/coffee-details/"
                    [queryParams]="{ micro_roasters_id: item.id }"
                >
                    {{ item.created_at | date: 'mediumDate' }}
                </td>
                <td
                    *ngIf="customerType === 'hrc'"
                    class="fnt-14"
                    routerLink="/coffee-experience/coffee-details/"
                    [queryParams]="{ hrc_id: item.order_id }"
                >
                    {{ item.order_date | date: 'mediumDate' }}
                </td>
                <td
                    *ngIf="customerType === 'outtake-orders'"
                    class="fnt-14"
                    routerLink="/coffee-experience/coffee-details/"
                    [queryParams]="{ outtake_orders_id: item.id }"
                >
                    {{ item.order_date | date: 'mediumDate' }}
                </td>
                <td
                    *ngIf="customerType === 'estate'"
                    class="fnt-14"
                    routerLink="/coffee-experience/coffee-details/"
                    [queryParams]="{ estate_id: item.id }"
                >
                    {{ item.varieties }}
                </td>
                <td
                    *ngIf="customerType === 'micro-roasters'"
                    class="fnt-14"
                    routerLink="/coffee-experience/coffee-details/"
                    [queryParams]="{ micro_roasters_id: item.id }"
                >
                    {{ item.varieties || '--' }}
                </td>
                <td
                    *ngIf="customerType === 'hrc'"
                    class="fnt-14"
                    routerLink="/coffee-experience/coffee-details/"
                    [queryParams]="{ hrc_id: item.order_id }"
                >
                    {{ item.roast_level || '--'}}
                </td>
                <td
                    *ngIf="customerType === 'outtake-orders'"
                    class="fnt-14"
                    routerLink="/coffee-experience/coffee-details/"
                    [queryParams]="{ outtake_orders_id: item.id }"
                >
                    {{ item.order_id || '--' }}
                </td>

                <td
                    *ngIf="customerType === 'estate'"
                    class="fnt-14"
                    routerLink="/coffee-experience/coffee-details/"
                    [queryParams]="{ estate_id: item.id }"
                >
                    {{ item.quantity || '--' }} kg
                </td>
                <td
                    *ngIf="customerType === 'micro-roasters'"
                    class="fnt-14"
                    routerLink="/coffee-experience/coffee-details/"
                    [queryParams]="{ micro_roasters_id: item.id }"
                >
                    {{ item.quantity || '--' }} kg
                </td>
                <td
                    *ngIf="customerType === 'hrc'"
                    class="fnt-14"
                    routerLink="/coffee-experience/coffee-details/"
                    [queryParams]="{ hrc_id: item.order_id }"
                >
                    {{ item.quantity || '--' }} kg
                </td>
                <td
                    *ngIf="customerType === 'outtake-orders'"
                    class="fnt-14"
                    routerLink="/coffee-experience/coffee-details/"
                    [queryParams]="{ outtake_orders_id: item.id }"
                >
                    {{ item.rc_total_quantity || '--' }} {{ item.rc_total_quantity_unit }}
                </td>

                <td
                    *ngIf="customerType === 'estate'"
                    routerLink="/coffee-experience/coffee-details/"
                    [queryParams]="{ estate_id: item.id }"
                    class="fnt-14"
                >
                    {{ item.cup_score || '--' }}
                </td>
                <td
                    *ngIf="customerType === 'micro-roasters'"
                    class="fnt-14"
                    routerLink="/coffee-experience/coffee-details/"
                    [queryParams]="{ micro_roasters_id: item.id }"
                >
                    {{ item.cup_score || '--' }}
                </td>
                <td
                    *ngIf="customerType === 'estate'"
                    class="brown-cta fnt-bold ng-star-inserted"
                    routerLink="/coffee-experience/coffee-details/"
                    [queryParams]="{ estate_id: item.id }"
                >
                    View Details
                </td>
                <td
                    *ngIf="customerType === 'micro-roasters'"
                    class="brown-cta fnt-bold ng-star-inserted"
                    routerLink="/coffee-experience/coffee-details/"
                    [queryParams]="{ micro_roasters_id: item.id }"
                >
                    Update Details
                </td>
                <td
                    *ngIf="customerType === 'hrc'"
                    class="brown-cta fnt-bold ng-star-inserted"
                    routerLink="/coffee-experience/coffee-details/"
                    [queryParams]="{ hrc_id: item.order_id }"
                >
                    Update Details
                </td>
                <td
                    *ngIf="customerType === 'outtake-orders'"
                    class="brown-cta fnt-bold ng-star-inserted"
                    routerLink="/coffee-experience/coffee-details/"
                    [queryParams]="{ outtake_orders_id: item.id }"
                >
                    Update Details
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<div class="pt-md-2 mobile-farm agreement-x">
    <div class="table-details mobile-farm">
        <div class="table-responsive border-sourcetable agreement-top">
            <div class="col-12 mb-3 bor-ebe" *ngFor="let item of filteredCoffeeData">
                <div class="row">
                    <div class="col-12 mobile-ce p-0">
                        <div class="d-flex justify-content-between bg-f4f4 py-2 px-3 name-header">
                            <div>
                                <p class="black fnt-14">
                                    Order #{{ customerType === 'hrc' ? item.order_id : item.id }}
                                </p>
                            </div>
                            <div>
                                <a [popover]="poplistTemplate" placement="left" [outsideClick]="true" #pop="bs-popover">
                                    <p><img src="assets/images/kebab-menu.svg" /></p>
                                </a>
                                <ng-template
                                    #poplistTemplate
                                    id="{{ customerType === 'hrc' ? item.order_id : item.id }}"
                                >
                                    <div id="popover-mobile-content">
                                        <ul class="list-group custom-popover">
                                            <li class="list-group-item">
                                                <a
                                                    *ngIf="customerType === 'estate'"
                                                    class="light-eight fnt-14"
                                                    routerLink="/coffee-experience/coffee-details/"
                                                    [queryParams]="{ estate_id: item.id }"
                                                    >View Details</a
                                                >
                                                <a
                                                    *ngIf="customerType === 'micro-roasters'"
                                                    class="light-eight fnt-14"
                                                    routerLink="/coffee-experience/coffee-details/"
                                                    [queryParams]="{ micro_roasters_id: item.id }"
                                                    >Update Details</a
                                                >
                                                <a
                                                    *ngIf="customerType === 'hrc'"
                                                    class="light-eight fnt-14"
                                                    routerLink="/coffee-experience/coffee-details/"
                                                    [queryParams]="{ hrc_id: item.order_id }"
                                                    >Update Details</a
                                                >
                                            </li>
                                        </ul>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                        <div class="bor-bot-d6d6 mx-3 py-3 row">
                            <div class="col-5 p-0">
                                <p
                                    class="light-eight fnt-14"
                                    *ngIf="customerType === 'estate'"
                                    routerLink="/coffee-experience/coffee-details/"
                                    [queryParams]="{ estate_id: item.id }"
                                >
                                    {{ 'estate_name' | translate }}
                                </p>
                                <p
                                    class="light-eight fnt-14"
                                    *ngIf="customerType === 'micro-roasters'"
                                    routerLink="/coffee-experience/coffee-details/"
                                    [queryParams]="{ micro_roasters_id: item.id }"
                                >
                                    {{ 'name_customer' | translate }}
                                </p>
                                <p
                                    class="light-eight fnt-14"
                                    *ngIf="customerType === 'hrc'"
                                    routerLink="/coffee-experience/coffee-details/"
                                    [queryParams]="{ hrc_id: item.order_id }"
                                >
                                    {{ 'name_customer' | translate }}
                                </p>
                            </div>
                            <div class="col-7 p-0">
                                <p
                                    *ngIf="customerType === 'estate'"
                                    class="fnt-14"
                                    routerLink="/coffee-experience/coffee-details/"
                                    [queryParams]="{ estate_id: item.id }"
                                >
                                    {{ item.estate_name }}
                                </p>
                                <p
                                    *ngIf="customerType === 'micro-roasters'"
                                    class="fnt-14"
                                    routerLink="/coffee-experience/coffee-details/"
                                    [queryParams]="{ micro_roasters_id: item.id }"
                                >
                                    {{ item.estate_name }}
                                </p>
                                <p
                                    *ngIf="customerType === 'hrc'"
                                    class="fnt-14"
                                    routerLink="/coffee-experience/coffee-details/"
                                    [queryParams]="{ hrc_id: item.order_id }"
                                >
                                    {{ item.horeca_name }}
                                </p>
                            </div>
                        </div>
                        <div *ngIf="customerType === 'estate'" class="bor-bot-d6d6 mx-3 py-3 row">
                            <div class="col-5 p-0">
                                <p
                                    class="light-eight fnt-14"
                                    routerLink="/coffee-experience/coffee-details/"
                                    [queryParams]="{ estate_id: item.id }"
                                >
                                    {{ 'origin' | translate }}
                                </p>
                            </div>
                            <div class="col-7 p-0">
                                <p
                                    class="fnt-14"
                                    routerLink="/coffee-experience/coffee-details/"
                                    [queryParams]="{ estate_id: item.id }"
                                >
                                    {{ item.origin | country }}
                                </p>
                            </div>
                        </div>
                        <div class="bor-bot-d6d6 mx-3 py-3 row">
                            <div class="col-5 p-0">
                                <p
                                    class="light-eight fnt-14"
                                    *ngIf="customerType === 'estate'"
                                    routerLink="/coffee-experience/coffee-details/"
                                    [queryParams]="{ estate_id: item.id }"
                                >
                                    Date recieved
                                </p>
                                <p
                                    class="light-eight fnt-14"
                                    *ngIf="customerType === 'micro-roasters'"
                                    routerLink="/coffee-experience/coffee-details/"
                                    [queryParams]="{ micro_roasters_id: item.id }"
                                >
                                    Order Date
                                </p>
                                <p
                                    class="light-eight fnt-14"
                                    *ngIf="customerType === 'hrc'"
                                    routerLink="/coffee-experience/coffee-details/"
                                    [queryParams]="{ hrc_id: item.order_id }"
                                >
                                    Order Date
                                </p>
                            </div>
                            <div class="col-7 p-0">
                                <p
                                    *ngIf="customerType === 'estate'"
                                    class="fnt-14"
                                    routerLink="/coffee-experience/coffee-details/"
                                    [queryParams]="{ estate_id: item.id }"
                                >
                                    {{ item.date_received | date: 'mediumDate' }}
                                </p>
                                <p
                                    *ngIf="customerType === 'micro-roasters'"
                                    class="fnt-14"
                                    routerLink="/coffee-experience/coffee-details/"
                                    [queryParams]="{ micro_roasters_id: item.id }"
                                >
                                    {{ item.created_at | date: 'mediumDate' }}
                                </p>
                                <p
                                    *ngIf="customerType === 'hrc'"
                                    class="fnt-14"
                                    routerLink="/coffee-experience/coffee-details/"
                                    [queryParams]="{ hrc_id: item.order_id }"
                                >
                                    {{ item.order_date | date: 'mediumDate' }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
