.bread-nav {
    padding-left: 3.1rem;
}

.border-lots {
    border-radius: 4px;
    border: solid 1px #d6d6d6;
    padding: 6px 4px;
    margin-top: 0.7rem;
}

.table-container {
    margin: 2% 4.5% 0 4.5%;
}

.table-header {
    border-radius: 4px;
    background-color: #f8f8f8;
}

table th,
table td,
.header-row {
    border: none !important;
}

tr {
    border-bottom: 1px dashed #d6d6d6;
}

tr:last-child {
    border-bottom-style: none;
    border-bottom-color: none;
}

.table .table-header th {
    font-family: Muli;
    font-size: 13px;
    font-weight: bold;
    color: #232334;
    padding: 14px 15px;
}

.table td {
    padding: 18px 15px;
}

.ticket-boby-txt {
    font-family: Muli;
    font-size: 13px;
    font-weight: 600;
    color: #232334;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.checkmark {
    top: 2px !important;
    left: 8px !important;
    height: 17px !important;
    width: 17px !important;
}

.customcheckbox .checkmark:after {
    left: 5px !important;
    top: 1px !important;
    border-width: 0 2px 2px 0 !important;
}

span.checkmark {
    background-color: #fff !important;
    border: solid 1px #979797;
    border-radius: 2px;
}

.customcheckbox input:checked~.checkmark {
    background-color: #30855c !important;
}


.estate-orders {
    /* margin: 1rem 3.1rem; */
    position: relative;
}

.estate-orders-heading {
    margin: 1rem 3.1rem;
}

.add-role-butn {
    border-radius: 4px;
    background-color: #30855c;
    padding: 10px 0px;
    font-family: Muli;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    margin-right: 3rem;
}

.add-role-butn:hover {
    background-color: #3d8462;
    box-shadow: 0 0 7px 1px rgba(67, 146, 108, 0.5);
}

.estate-title {
    border-radius: 4px;
    background-color: #f8f8f8;
    height: 55px;
}

.estate-title th {
    font-family: Muli;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #232334;
}


.estate-boby-txt {
    border-radius: 4px;
    border: solid 1px #d6d6d6;
}

.estate-order-title {
    font-family: Muli;
    font-size: 18px;
    font-weight: bold;
    color: #232334;
}

.border-order {
    border-radius: 20px;
    border: solid 1px #d6d6d6;
    background-color: #ffffff;
    padding: 10px 12px;
}

.border-order:focus {
    outline-color: 1px solid #30855c;
}

.title-header {
    margin: 1.3rem 4rem;
}

.filter-text {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    color: #747588;
}

.filter {
    font-family: 'Muli';
    font-weight: 600;
    color: #232334;
    font-size: 14px;
}

.search {
    /*width: 255px;*/
    font-family: 'Muli';
    height: 36px;
    border-radius: 8px;
    border: solid 1px #cccccc;
    background-color: #ffffff;
    /* background: url(../../../assets/images/grey.png) no-repeat scroll 12px 5px; */
    padding-left: 45px;
}


/**********popover*******/

.list-group-item {
    border: none;
    font-family: 'Muli';
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #747588;
}

.list-group-item:hover {
    color: #232334;
    font-weight: 600;
    background-color: #f8f8f8;
}

.menu-arrow {
    cursor: pointer;
}

::ng-deep .popover-body {
    padding: .25rem .25rem !important;
}

::ng-deep .popover {
    border: none !important;
    border-radius: 5px !important;
    box-shadow: 0 0 17px 2px rgba(27, 27, 27, 0.08) !important;
    background-color: #ffffff;
    top: -1px !important;
    position: absolute !important;
}

::ng-deep .bs-popover-bottom .arrow:after {
    top: 0px !important;
}

.pointer-item {
    cursor: pointer;
}

@media (max-width:1024px) {
    .estate-table {
        /* width: 100%; */
        overflow: scroll;
    }
    .estate-table table {
        width: 1024px;
    }
}

@media (max-width:480px) {
    .estate-orders {
        margin: 1rem 0px;
    }
}


.create-role-section {
    padding: 0px 40px;
}

.spacing-order {
    padding: 1rem 0.6rem !important;
}
.display_div {
    /* width: 100%; */
    position: absolute;
    right: 3.2rem;
    top: -0.3rem;
}

.Give-your-end-users {
    font-family: Muli;
    font-size: 14px;
    font-weight: normal;
    color: #747588;
    width: 48%;
    padding: 5px 0px;
}

.share-txt {
    font-family: Muli;
    font-size: 13px;
    font-weight: 500;
    color: #232334;
}

.share-img {
    width: 17px;
    height: 17px;
}

.dwnd-img {
    width: 23px;
    height: 23px;
}

.share-bor {
    border-radius: 2px;
    border: solid 2px rgba(116, 117, 136, 0.6);
    padding: 6px 12px;
    cursor: pointer;
}

.upload-order {
    background-color: #ffffff;
    padding: 10px 12px;
}

.file-inpt {
    opacity: 0;
    visibility: hidden;
    display: none;
}

::ng-deep .dwnd-img {
    width: 22px;
    height: 21px;
    object-fit: contain;
}
.create-share {
    border-radius: 4px;
    background-color: #30855c;
    outline: 0;
    border: 0;
    color: #ffffff;
    opacity: 0.9;
}

.create-share:hover {
    background-color: #30855c;
    opacity: 1;
}

.create-share:focus {
    box-shadow: none !important;
    outline: 0 !important;
    border: 0 !important;
    background-color: #30855c !important;
}


/*  media query Fram Link */

@media (max-width:767px) {
    .bg-fff {
        padding: 1rem .7rem !important;
    }
    .bread-nav {
        padding-left: 0rem;
    }
    .estate-orders-heading {
        margin: 0rem;
    }
    .Give-your-end-users {
        width: 98%;
        padding-bottom: 1rem;
    }
    .web-farm {
        display: none !important;
    }
    .mobile-filiters-farm {
        padding-top: 3rem;
    }
    .title-header {
        margin: 1.3rem 1rem;
    }
    .estate-table {
        margin: 1rem 0rem;
    }
    .nav-tabs {
        border-bottom: 0px solid #dee2e6;
    }
    .source-cont .nav-tabs .nav-link.active {
        border-bottom: 0px solid #30855c;
        color: #30855c;
    }
    .bor-coffe {
        border: 1px solid #ebebeb;
        border-radius: 4px;
        padding-top: 10px;
        max-width: 48% !important;
        margin: 1% !important;
    }
    .mobile-ce p {
        margin-bottom: .5rem !important;
    }
    .bor-d6d6 {
        border-top: 2px dashed #d6d6d6;
        padding-bottom: 5px;
    }
    .vide-tble {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .video-section-modal{
        padding: 0 !important;
        margin-top: 0 !important;
    }
}
.customcheckbox{
    bottom: 8px;
}


/* =====Video popup css==== */

.video-section-modal{
    padding: 0 !important;
    margin-top: 0 !important;
}
::ng-deep .modal-content.video-content{
    padding: 0 !important;
    background: none !important;
}
.video-close {
    background: #00b3ff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: 700;
    margin: 0 0 0 auto;
    transform: translate(50%, -50%);
    position: absolute;
    z-index: 99;
    cursor: pointer;
    right: 0;
    top: 0;
    pointer-events: all;
}

.auto-complete-box{
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
}


.file-share-addMail {
    background-color: #ffffff;
}

@media (min-width: 768px) {
    .file-share-addMail {
        border-radius: 4px;
        border: solid 1px #d6d6d6;
        background-color: #ffffff;
    }
}

.file-share-addMail input {
    outline: 0;
    border: 0;
    background: none;
}

.quick-pinned-files__Image input[type="file"] {
    opacity: 0;
    visibility: hidden;
    display: none;
}

.file-share-addMail input {
    width: 60%;
}

.ownerName{
    text-overflow: ellipsis;
}
.folderName{
    text-overflow: ellipsis;
}

@media (min-width: 768px) {
    .file-share-addMail input {
        width: 65%;
    }
}
.tab-overflow-auto{
    width: 100%;
}
.user-img{
    border-radius: 100%;
    height: 32px;
    width: 32px;
}
