.onboard-total {
    padding: 2rem 3rem;
}

.estate-orgins {
    padding: 40px 24px;
    border-radius: 4px;
    border: solid 1px #ebebeb;
}

.top-countries,
.onboard-customers {
    border-radius: 4px;
    border: solid 1px #ebebeb;
}

.origins-description h2,
.top-sourcing-head h2,
.onboard-customer-head h2,
.sewn-blog {
    font-family: Muli;
    font-size: 18px;
    font-weight: bold;
    color: #232334;
    margin-bottom: 0;
}

.origins-description h6,
.customer-text {
    font-family: Muli;
    font-size: 14px;
    font-weight: normal;
    color: #747588;
}

.top-sourcing-head,
.onboard-customer-head {
    border-radius: 4px;
    background-color: #f8f8f8;
    margin: 4px;
    padding: 14px 20px;
}

.chart-details {
    margin: 24px 40px 30px;
}

.customer-padding {
    padding: 24px 20px;
}

.customer-invite {
    border-radius: 4px;
    border: solid 1px #30855c;
    font-family: Muli;
    font-size: 14px;
    font-weight: bold;
    color: #30855c;
    padding: 12px 24px;
}

.customer-invite:hover {
    color: #fff;
    background-color: #30855c;
}

.origins-description img {
    margin-top: 6rem;
}

.pad-card {
    /* padding: 0px 83px 0px 0px; */
    border-bottom: dashed 1px #dddddd;
    padding-bottom: 1.5rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem 1.25rem 0rem 1.25rem !important;
}

.border-card {
    border-radius: 4px;
    border: solid 1px #dddddd;
}

.light-gray {
    color: #747588;
}

.estate-map {
    width: 100%;
}

.read-more {
    font-family: Muli;
    font-size: 14px;
    font-weight: bold;
    color: #80460b;
}

.image-top {
    margin-top: -4px;
}

.view-all {
    border-radius: 4px;
    border: solid 1px #30855c;
    font-family: Muli;
    font-size: 14px;
    font-weight: bold;
    color: #30855c;
    padding: 12px 32px;
    margin-top: 16px;
}

.view-all:hover {
    color: #fff;
    background-color: #30855c;
}

.pointer-text {
    cursor: pointer;
}

.bar-parent {
    overflow: auto
}

.onboard-web {
    display: block;
}

.onboard-mob {
    display: none;
}

@media (max-width:767px) {
    .bar-parent {
        overflow: scroll
    }
    .onboard-total {
        padding: 0.5rem;
    }
    .estate-orgins {
        padding: 12px;
    }
    .origins-description h2,
    .top-sourcing-head h2,
    .onboard-customer-head h2,
    .sewn-blog {
        font-size: 14px;
    }
    .origins-description h6 {
        font-size: 12px;
        line-height: 18px;
        border-bottom: 1px solid #ebebeb;
        padding-bottom: 12px;
    }
    .onboard-web {
        display: none;
    }
    .onboard-mob {
        display: block;
    }
    .ordered-list {
        padding-left: 12px;
    }
    .ordered-list li {
        color: #232334;
        font-size: 12px;
        font-weight: 600;
        font-family: Muli;
    }
    .top-sourcing-head,
    .onboard-customer-head {
        padding: 14px 12px;
    }
    .chart-details {
        margin: 16px 18px 12px;
    }
    .customer-padding {
        padding: 12px 16px;
    }
    .customer-text {
        font-size: 12px;
    }
    .invite-main {
        text-align: right;
        margin-top: 20px;
    }
    .p-mobile {
        padding: 0;
    }
    .top-countries {
        margin-top: 1rem;
    }
    .card-body {
        padding: 1.5rem 1rem 1rem !important;
    }
    .read-more {
        font-size: 12px;
    }
}