<div class="priview-wrap">
    <div class="back-wrap d-flex justify-content-between align-items-center">
        <div>
            <a class="back-page white" (click)="close()">
                {{ record.name }}
            </a>
        </div>
    </div>
    <div class="content-wrap">
        <img *ngIf="record.type == FileType.IMAGE" class="img" [src]="record.url" />
        <div *ngIf="record.type == FileType.VIDEO" class="video-wrap">
            <div class="video-close" (click)="close()">
                <span>&#x2715;</span>
            </div>
            <div>
                <video id="player" playsinline controls>
                    <source [src]="record.url" type="video/mp4" />
                </video>
            </div>
        </div>
    </div>
</div>
