@import 'variables';

.priview-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 2rem 2rem;
    @media (min-width: 768px) {
        padding: 2rem 6rem;
    }
}

.content-wrap {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    @media (min-width: 768px) {
        padding: 2rem 0;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 2px;
    }

    .video-wrap {
        position: relative;
        margin: 1rem;
        @media (min-width: 768px) {
            margin: 2rem;
        }

        .video-close {
            background: #00b3ff;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #ffffff;
            font-weight: $fw-b;
            margin: 0 0 0 auto;
            transform: translate(50%, -50%);
            position: absolute;
            z-index: 99;
            cursor: pointer;
            right: 0;
            top: 0;
            pointer-events: all;
        }
    }
}

.back-wrap {
    position: relative;
    width: 100%;
}
