.title-wrap {
    margin-bottom: 16px;
    @media (min-width: 768px) {
        margin-bottom: 38px;
    }
}
.card {
    .card-img-top {
        @media (min-width: 768px) {
            border-radius: 0;
        }
        img {
            width: 100%;
            height: auto;
            transition: all 1200ms;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}
