<div animateOnScroll animationName="fadeIn" class="animation-bounce-in-up br-md-main br-4 h-100 d-md-flex flex-column">
    <div class="p-0 p-md-4">
        <h3 class="fnt-18 lh-normal fnt-muli fnt-bold text-clr334 title-wrap">Invite your friends & colleagues</h3>
    </div>
    <div class="card br-sm-main mb-0 flex-md-fill">
        <div class="overflow-hidden card-img-top">
            <img class="" src="assets/images/manage-green-coffee.png" alt="Card image cap" />
        </div>
        <div class="p-3 pt-md-3 px-md-4 pb-md-4">
            <p class="fnt-14 fnt-muli text-clr588 mb-3">
                Drinking coffee has become so addictive that people will even queue up to be served their favorite
                variation, be it latte, espresso…
            </p>
            <div>
                <button type="submit" class="btn-raised" routerLink="/invite-friends">Invite now</button>
            </div>
        </div>
    </div>
</div>
