.recent-question-item {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

::ng-deep .question-name h1,
p {
    font-size: 18px;
    font-weight: 700;
    @media (max-width: 768px) {
        font-size: 16px;
    }
}

.border-question-view {
    border: 1px solid #d0d0d0;
    border-radius: 14px;
}

.border-bottom-down {
    border-bottom: 1px solid #d8d8d8;
}

.border-bottom-top {
    border-top: 1px solid #d8d8d8;
}

.add-comment {
    margin: 0 0 0 8px;
    // padding: 24px;
    object-fit: contain;
    border: 1px solid transparent;
    border-radius: 25px !important;
    background-color: rgba(116, 117, 136, 0.08);
}

.comment-hgt {
    height: 50px !important;
}

.cursor-point {
    cursor: pointer;
}

.width-comment {
    width: 100%;
    @media screen and (max-width: 767px) {
        width: 80%;
    }
}

::ng-deep .p-inputtextarea:enabled:hover,
::ng-deep .p-inputtextarea:enabled:focus {
    border: 1px solid #30855c !important;
}

.back-page::before {
    top: -4px !important;
    width: 20px !important;
    height: 20px !important;
    padding: 15px !important;
    background-repeat: no-repeat !important;
    background-size: auto !important;
}
.back-page:hover::before {
    border-radius: 50%;
    background-color: rgba(128, 70, 11, 0.14);
}

.answer-wrapper {
    border-bottom: 1px solid #d8d8d8;
    &:first-child {
        border-top: 1px solid #d8d8d8;
    }
}

.hover-save-icon {
    padding: 7px 8px 7px 11px;
    border-radius: 50%;
    background-color: rgba(116, 117, 136, 0.08);
    @media (min-width: 992px) {
        &:hover {
            background-color: rgba(48, 133, 92, 0.16);
        }
    }
}

.flavour-profiles {
    border: dashed 2px #d6d6d6;
    a {
        cursor: pointer;
        text-decoration: underline;
        color: #154faa;
    }
}

.hover-share-icon {
    padding: 8px 9px 8px 11px;
    border-radius: 50%;
    background-color: rgba(116, 117, 136, 0.08);
    @media (min-width: 992px) {
        &:hover {
            background-color: rgba(48, 133, 92, 0.16);
        }
    }
}

.icon-height {
    @media (min-width: 768px) {
        height: 47px;
    }
}

.align-like {
    .like-int {
        cursor: pointer;
        padding: 0 9.5px;
        border-radius: 50%;
        background-color: rgba(116, 117, 136, 0.08);
        @media (min-width: 992px) {
            &:hover {
                background-color: rgba(48, 133, 92, 0.12);
            }
        }
        .like {
            position: relative;
            top: 8px;
            height: 20px;
        }
    }
}

.category-btn {
    margin: 5px 0px 0 0;
    padding: 8px 10px 8px 10px;
    border-radius: 4px;
    border: none;
    background-color: #eaeaea;
    @media (max-width: 768px) {
        margin: 0 12px 0 0;
        padding: 8px 10px 8px 10px;
    }
}
