@import 'variables';

.recent-question-item {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

::ng-deep .question-name {
    white-space: pre-wrap;
    h1,
    p {
        font-size: 18px;
        font-weight: $fw-b;
        @media (max-width: 768px) {
            font-size: 16px;
        }
    }
}

.border-question-view {
    border: 1px solid #d0d0d0;
    border-radius: 14px;
}

.border-bottom-down {
    border-bottom: 1px solid #d8d8d8;
}

.border-bottom-top {
    border-top: 1px solid #d8d8d8;
}

.add-comment {
    margin: 0 0 0 8px;
    // padding: 24px;
    object-fit: contain;
    border: 1px solid transparent;
    border-radius: 25px !important;
    background-color: rgba(116, 117, 136, 0.08);
}

.comment-hgt {
    height: 50px !important;
}

.cursor-point {
    cursor: pointer;
}

.width-comment {
    width: 100%;
    @media screen and (max-width: 767px) {
        width: 80%;
    }
}

::ng-deep .p-inputtextarea:enabled:hover,
::ng-deep .p-inputtextarea:enabled:focus {
    border: 1px solid #30855c !important;
}

.answer-wrapper {
    border-bottom: 1px solid #d8d8d8;
    &:first-child {
        border-top: 1px solid #d8d8d8;
    }
}

.flavour-profiles {
    border: dashed 2px #d6d6d6;
    a {
        cursor: pointer;
        text-decoration: underline;
        color: #154faa;
    }
}

.icon-height {
    @media (min-width: 768px) {
        height: 47px;
    }
}
