.pls-note {
    border-radius: 4px;
    background-color: #f8f8f8;
    padding: 16px;
}

.fnt-13 {
    font-size: 13px;
    list-style: 26px;
}

.table-container {
    margin: .5rem 0;
    border-radius: 4px;
    border: 1px solid #d6d6d6;
    padding: 4px;
}

.table-header {
    border-radius: 4px;
    background-color: #f8f8f8;
}

.header-row {
    border: none !important;
}

table th,
table td {
    border: none !important;
}    
.add-vat{
    color: #ffffff;
    border-radius: 4px;
    border: solid 1px #30855c;
    background-color: #30855c;
    padding: 8px 16px;
}

.loader {
    height: 17px;
    width: 17px;
    margin-left: 4px;
    margin-top: -4px;
}