<section>
    <div class="row">

        <div class="pls-note">
            <p class="fnt-13 fnt-400 fnt-muli txt-clr334 m-0"> <span class="fnt-700">Please note  : </span> Edit VAT rate only when you are sure of a change in the rates. A slight mistake can lead to a penalty from the authorities. </p>
        </div>

        <div class="col-md-12 Onboard-vatmr pt-5">
            <div class="Onboard-vatmr__inputs">
                <div class="row">

                    <div class="col-12 col-md-4 Onboard-input">
                        <label class="w-100">Country *</label>
                        <select name="Year" class="form-control select-region">
                                <option  value="" selected="" disabled=""> Select a Country</option>
                                <option  value="Sweden"> Sweden </option>
                                <option  value="Australia"> Australia </option>
                                <option  value="India"> India </option>
                            </select>
                    </div>

                    <div class="col-12 col-md-4 Onboard-input">
                        <label class="w-100">Transaction type *</label>
                        <input class="w-100" type="text" placeholder="Please enter your type">
                    </div>

                    <div class="col-12 col-md-4 Onboard-input">
                        <label class="w-100">Vat percentage *</label>
                        <input class="w-100" type="number" placeholder="Enter percentage">
                    </div>

                </div>

            </div>
            <div class="add-partner d-inline-flex align-items-center">
                <img src="assets/images/add-partner.svg">
                <span class="ml-2 fnt-muli fnt-700 fnt-14 txt-clr60b cursor-pointer ">Add new transaction  </span>

            </div>
        </div>

        <div class="table-container mb-2 mt-4 col-12 d-none">
            <div class="table-responsive">
                <table class="table">
                    <thead class="table-header">
                        <tr class="header-row">
                            <th scope="col"> Country </th>
                            <th scope="col"> Transaction </th>
                            <th scope="col"> VAT Rate </th>
                        </tr>
                    </thead>
                    <tbody class="customtable">
                        <tr>
                            <td> Sweden </td>
                            <td> Green coffee </td>
                            <td> 12% </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>
</section>