@import 'variables';

.content-wrapper {
    .dropdown-wrapper {
        display: flex;
        margin: 0 -6px;
        width: 100%;
        .dropdown-col {
            padding: 0 6px;
            max-width: 50%;
        }
    }

    .table-container {
        .table-responsive {
            overflow: visible;
            .table-mobile-first-col {
                @media (max-width: 767px) {
                    background: $primary-bg-color;
                    padding: 4px 14px 5px 12px;
                    border-radius: 4px;
                }
            }
            .p-button-text:hover {
                background: #ffffff !important;
            }
        }

        @media (max-width: 991px) {
            margin-top: 26px;
        }

        @media (max-width: 767px) {
            border: none;
            padding: 0;
            margin-top: 16px;
        }
    }
}

@media (max-width: 767px) {
    .circle-dot {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: $muted-text-color;
        margin: 0 6px;
    }
    .back-page {
        padding-left: 24px !important;
        padding-bottom: 12px;
        &::before {
            padding: 17px 11px !important;
        }
    }
}

::ng-deep {
    .p-paginator-current {
        display: none !important;
    }
    .p-radiobutton-assign-estate .p-radiobutton {
        width: 25px;
        height: 25px;
        .p-radiobutton-box {
            width: 25px;
            height: 25px;
            .p-radiobutton-icon {
                width: 17px;
                height: 17px;
            }
        }
    }
}
