.content-wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;

    .header-wrapper {
        h4 {
            margin-bottom: 24px;
        }
        @media (max-width: 767px) {
            h4 {
                font-size: 16px;
                margin-bottom: 16px;
            }
        }
    }

    .dropdown-wrapper {
        display: flex;
        margin: 0 -6px;
        width: 100%;
        .dropdown-col {
            padding: 0 6px;
            max-width: 50%;
        }
    }

    .table-container {
        .table-responsive {
            overflow: visible;
            .table-mobile-first-col {
                @media (max-width: 767px) {
                    background: #f8f8f8;
                    padding: 4px 14px 5px 12px;
                    border-radius: 4px;
                }
            }
            .circle-dot {
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background: #747588;
                margin: 0 6px;
            }
            .p-button-text:hover {
                background: #ffffff !important;
            }
        }

        @media (max-width: 991px) {
            margin-top: 26px;
        }

        @media (max-width: 767px) {
            border: none;
            padding: 0;
            margin-top: 16px;
        }
    }
}

::ng-deep {
    .p-radiobutton-assign-estate .p-radiobutton {
        width: 25px;
        height: 25px;
        .p-radiobutton-box {
            width: 25px;
            height: 25px;
            .p-radiobutton-icon {
                width: 17px;
                height: 17px;
            }
        }
    }
}
