<div class="mt-4 mb-4">
    <div class="row v-gutter-16">
        <div class="col-md-6 col-lg-4 order-1 order-md-2">
            <div class="custom-search w-100">
                <input
                    class="w-100"
                    [(ngModel)]="termSearch"
                    (ngModelChange)="getData()"
                    [placeholder]="'search_by_batchid_batchname' | translate"
                    pInputText
                />
            </div>
        </div>
        <div class="col-md-6 col-lg-8 order-2 order-md-1">
            <p-dropdown
                [options]="roastLevelArray"
                optionLabel="name"
                optionValue="id"
                [(ngModel)]="profileFilter"
                (ngModelChange)="getData()"
                scrollHeight="225px"
                [showClear]="true"
                placeholder="{{ 'roast_level' | translate }}"
                styleClass="round-border {{ profileFilter ? 'highlight' : '' }}"
            >
            </p-dropdown>
        </div>
    </div>
</div>

<p-table
    #myTable
    [value]="tableValue"
    [columns]="tableColumns"
    dataKey="id"
    [showCurrentPageReport]="false"
    [paginator]="totalCount > rows"
    [rows]="rows"
    [loading]="isLoading"
    [lazy]="true"
    [lazyLoadOnInit]="false"
    (onLazyLoad)="getData($event)"
    [totalRecords]="totalCount"
    selectionMode="multiple"
    [responsive]="true"
    [scrollable]="isTablet$ | async"
    styleClass="mobile-card-view"
>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th
                *ngFor="let col of columns"
                [style.width]="col.width ? col.width + '%' : '30%'"
                [pSortableColumn]="col.sortable ? col.field : null"
            >
                <span>{{ col.header | translate }}</span>
                <p-sortIcon *ngIf="col.sortable" [field]="col.field"> </p-sortIcon>
            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr (click)="redirectToEdit(rowData)">
            <td
                *ngFor="let col of columns"
                [ngSwitch]="col.field"
                [style.width]="col.width ? col.width + '%' : '30%'"
                [class.ellipsis]="col.field === 'roasting_profile_name'"
            >
                <span *ngIf="col.field !== 'name'" class="p-column-title">{{ col.header | translate }}</span>
                <span *ngSwitchCase="'name'">
                    <span class="d-none d-md-inline-block">
                        {{ rowData[col.field] }}
                    </span>
                    <div class="d-flex d-md-none align-items-center justify-content-between">
                        <span class="fw-b">{{ rowData[col.field] }}</span>
                        <app-action-menu [menuItems]="getMenuItemsForItem(rowData)"></app-action-menu>
                    </div>
                </span>
                <span *ngSwitchCase="'created_at'">
                    {{ rowData[col.field] | date: 'dd MMM y' }}
                </span>
                <span *ngSwitchCase="'remaining_quantity'">
                    {{ rowData[col.field] | convertKg: rowData['quantity_unit'] | number: '1.0-2' }}
                    {{ rowData['quantity_unit'] }}
                </span>
                <span *ngSwitchCase="'actions'">
                    <div class="d-flex align-items-center">
                        <span class="brown-cta mr-2">{{ 'view_details' | translate }}</span>
                        <app-action-menu [menuItems]="getMenuItemsForItem(rowData)"></app-action-menu>
                    </div>
                </span>
                <span *ngSwitchDefault>
                    {{ rowData[col.field] || '-' }}
                </span>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="summary">
        <app-empty *ngIf="!isLoading && !tableValue?.length" [title]="'no_data_available' | translate"></app-empty>
    </ng-template>
</p-table>
