<section>
    <div class="main-block">
        <p-breadcrumb [model]="breadItems" styleClass="mb-3 mb-md-4"></p-breadcrumb>

        <div class="d-flex justify-content-between align-items-start mb-4 mb-md-45 pt-3">
            <div>
                <h4 class="fnt-18 fnt-700 fnt-muli text-clr334">Sustainability</h4>
                <p class="fnt-14 fnt-600 fnt-muli text-clr588 mb-0">
                    Add details about your estate to give yours a view.
                </p>
            </div>
            <div class="d-none d-md-block">
                <button type="button" class="btn-stroked mr-2">Preview</button>
                <button type="button" class="btn-raised ml-1" (click)="saveBrandProfile()">Save</button>
            </div>
        </div>

        <form [formGroup]="infoForm" novalidate>
            <div class="row">
                <div class="col-lg-8">
                    <div class="br-main br-2 p-3 p-md-4">
                        <h4 class="fnt-18 fnt-700 text-clr334">Banner<span class="star">*</span></h4>
                        <p class="fnt-14 fnt-600 text-clr334 mb-1">Image/Video banner<span class="star">*</span></p>
                        <p class="fnt-14 fnt-600 text-clr588 mb-4">Size - 1440 x 465 px</p>

                        <div class="w-100 sewn-form-field mb-4 mb-md-45">
                            <app-uploader formControlName="banner_file"></app-uploader>
                            <small *ngIf="infoForm.controls.banner_file.errors?.required" class="p-error">
                                Please upload
                            </small>
                        </div>

                        <div class="w-100 sewn-form-field mb-0">
                            <label>
                                Banner Title<span class="star">*</span>
                                <span class="pull-right text-clr588">
                                    {{ infoForm.get('banner_title').value | wordCount }}/10 words
                                </span>
                            </label>
                            <input type="text" formControlName="banner_title" pInputText />
                            <small *ngIf="infoForm.controls.banner_title.errors?.required" class="p-error">
                                Required
                            </small>
                            <small *ngIf="infoForm.controls.banner_title.errors?.maxWordCount" class="p-error">
                                Please input 10 words
                            </small>
                        </div>
                    </div>

                    <div class="br-main br-2 mt-4 mt-md-45 p-3 p-md-4">
                        <h4 class="fnt-18 fnt-700 text-clr334">Intro</h4>
                        <p class="fnt-14 fnt-600 text-clr334">Give yourself a small intro!</p>

                        <div class="w-100 sewn-form-field mb-4 mb-md-45">
                            <label>
                                Title<span class="star">*</span>
                                <span class="pull-right text-clr588">
                                    {{ infoForm.get('intro_title').value | wordCount }}/15 words
                                </span>
                            </label>
                            <input type="text" formControlName="intro_title" pInputText />
                            <small *ngIf="infoForm.controls.intro_title.errors?.required" class="p-error">
                                Required
                            </small>
                            <small *ngIf="infoForm.controls.intro_title.errors?.maxWordCount" class="p-error">
                                Please input 15 words
                            </small>
                        </div>

                        <div class="w-100 sewn-form-field mb-2">
                            <p class="fnt-14 fnt-600 text-clr334 mb-1">
                                Upload an Image/Video<span class="star">*</span>
                            </p>
                            <p class="fnt-14 fnt-600 text-clr588 mb-4">Size - 815 x 449 px</p>
                            <app-uploader formControlName="intro_file"></app-uploader>
                            <small *ngIf="infoForm.controls.intro_file.errors?.required" class="p-error">
                                Please upload
                            </small>
                        </div>
                    </div>

                    <div class="br-main br-2 mt-4 mt-md-45 p-3 p-md-4">
                        <h4 class="fnt-18 fnt-700 text-clr334">Info about your sustainability work</h4>
                        <p class="fnt-14 fnt-600 text-clr334">Give a brief intro about your sustainability practises</p>

                        <div class="w-100 sewn-form-field mb-4 mb-md-45">
                            <label>
                                Title<span class="star">*</span>
                                <span class="pull-right text-clr588">
                                    {{ infoForm.get('title').value | wordCount }}/10 words
                                </span>
                            </label>
                            <input type="text" formControlName="title" pInputText />
                            <small *ngIf="infoForm.controls.title.errors?.required" class="p-error"> Required </small>
                            <small *ngIf="infoForm.controls.title.errors?.maxWordCount" class="p-error">
                                Please input 10 words
                            </small>
                        </div>

                        <div class="w-100 sewn-form-field mb-0">
                            <label>
                                Sub heading<span class="star">*</span>
                                <span class="pull-right text-clr588">
                                    {{ infoForm.get('short_description').value | wordCount }}/100 words
                                </span>
                            </label>
                            <textarea formControlName="short_description" rows="3" cols="50" pInputTextarea></textarea>
                            <small *ngIf="infoForm.controls.short_description.errors?.required" class="p-error">
                                Required
                            </small>
                            <small *ngIf="infoForm.controls.short_description.errors?.maxWordCount" class="p-error">
                                Please input 100 words
                            </small>
                        </div>

                        <ng-container *ngFor="let i of [1, 2, 3, 4]">
                            <div class="divider my-4"></div>
                            <h4 class="fnt-18 fnt-700 text-clr334">Your sustainability pratice #{{ i }}</h4>

                            <div class="w-100 sewn-form-field mb-4 mb-md-45">
                                <label>
                                    Title<span class="star">*</span>
                                    <span class="pull-right text-clr588">
                                        {{ infoForm.get('section' + i + '_title').value | wordCount }}/15 words
                                    </span>
                                </label>
                                <input type="text" formControlName="section{{ i }}_title" pInputText />
                                <small
                                    *ngIf="infoForm.controls['section' + i + '_title'].errors?.required"
                                    class="p-error"
                                >
                                    Required
                                </small>
                                <small
                                    *ngIf="infoForm.controls['section' + i + '_title'].errors?.maxWordCount"
                                    class="p-error"
                                >
                                    Please input 15 words
                                </small>
                            </div>

                            <div class="w-100 sewn-form-field mb-4 mb-md-45">
                                <label>
                                    Sub heading<span class="star">*</span>
                                    <span class="pull-right text-clr588">
                                        {{ infoForm.get('section' + i + '_description').value | wordCount }}/70 words
                                    </span>
                                </label>
                                <textarea
                                    formControlName="section{{ i }}_description"
                                    rows="3"
                                    cols="50"
                                    pInputTextarea
                                ></textarea>
                                <small
                                    *ngIf="infoForm.controls['section' + i + '_description'].errors?.required"
                                    class="p-error"
                                >
                                    Required
                                </small>
                                <small
                                    *ngIf="infoForm.controls['section' + i + '_description'].errors?.maxWordCount"
                                    class="p-error"
                                >
                                    Please input 70 words
                                </small>
                            </div>

                            <div class="w-100 sewn-form-field mb-2">
                                <p class="fnt-14 fnt-600 text-clr334 mb-1">
                                    Upload {{ i === 3 ? '2 Image/Video' : 'an Image/Video' }}<span class="star">*</span>
                                </p>
                                <p class="fnt-14 fnt-600 text-clr588 mb-4">
                                    Size - {{ i === 3 ? '282 x 460' : '389 x 417' }} px
                                </p>
                                <app-uploader
                                    formControlName="section{{ i }}_file"
                                    [count]="i == 3 ? 2 : 1"
                                ></app-uploader>
                                <small
                                    *ngIf="infoForm.controls['section' + i + '_file'].errors?.required"
                                    class="p-error"
                                >
                                    Please upload
                                </small>
                                <small
                                    *ngIf="infoForm.controls['section' + i + '_file'].errors?.fileCount"
                                    class="p-error"
                                >
                                    Please upload 2 images
                                </small>
                            </div>
                        </ng-container>
                    </div>

                    <div class="br-main br-2 mt-4 mt-md-45 p-3 p-md-4">
                        <h4 class="fnt-18 fnt-700 text-clr334">Product Labels</h4>

                        <div class="w-100 sewn-form-field mb-4 mb-md-45">
                            <label>
                                A short description*<span class="star">*</span>
                                <span class="pull-right text-clr588">
                                    {{ infoForm.get('product_short_description').value | wordCount }}/40 words
                                </span>
                            </label>
                            <textarea
                                formControlName="product_short_description"
                                rows="3"
                                cols="50"
                                pInputTextarea
                            ></textarea>
                            <small *ngIf="infoForm.controls.product_short_description.errors?.required" class="p-error">
                                Required
                            </small>
                            <small
                                *ngIf="infoForm.controls.product_short_description.errors?.maxWordCount"
                                class="p-error"
                            >
                                Please input 40 words
                            </small>
                        </div>

                        <div class="w-100 sewn-form-field mb-2">
                            <p class="fnt-14 fnt-600 text-clr334 mb-1">
                                Upload 4 label icons<span class="star">*</span>
                            </p>
                            <p class="fnt-14 fnt-600 text-clr588 mb-4">Size - 100 x 100 px</p>
                            <app-uploader formControlName="product_label_icon" [count]="4" type="image"></app-uploader>
                            <small *ngIf="infoForm.controls.product_label_icon.errors?.fileCount" class="p-error">
                                Please upload 4 icons
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="mt-45">
            <button type="button" class="btn-stroked mr-4" routerLink="/brand-profile">Cancel</button>
            <button type="button" class="btn-raised" (click)="saveBrandProfile()">Save</button>
        </div>
    </div>
</section>
