.pin-quiker-files input[type="file"] {
    opacity: 0;
    visibility: hidden;
    display: none;
}

.quick-pinned-files__Image {
    background-color: #f5f5f5;
    width: 100%;
    height: 150px;
    padding: 10px 10px 0 10px;
    position: relative;
}

.quick-pinned-files__Image .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.quick-pinned-files__info {
    padding: 10px;
    background-color: #ffffff;
}

.quicker-files__list:first-child {
    border: 0;
    background: none;
}

.quick-pinned-files {
    border-radius: 2px;
    border: 1px solid #ebebeb;
    background-color: #f5f5f5;
}

.file-dropdown {
    cursor: pointer;
    width: 20px;
}

.file-dropdown span {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    display: block;
    background-color: #747588;
    margin-bottom: 4px;
    margin-left: auto;
}

.file-dropdown span:last-of-type {
    margin-bottom: 0;
}

.quick-pinned-files__info .file-name {
    width: 85%;
}

.quick-pinned-files__info .file-name h4 {
    width: 95%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.quicker-files__list {
    margin-bottom: 15px;
}

.quick-pinned-files__pinIcon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgba(35, 35, 52, 0.6);
    position: absolute;
    top: 20px;
    right: 20px;
    pointer-events: all;
    cursor: pointer;
}

.file-share-search input[type="search"] {
    outline: 0;
    border: 0;
    background: none;
    font-size: 12px;
    font-weight: 600;
    color: #232334;
    font-family: 'Muli', sans-serif;
}

.file-share-search input[type="search"]::placeholder {
    font-size: 12px;
    font-weight: 600;
    color: #747588;
    font-family: 'Muli', sans-serif;
}

.file-share-search {
    display: inline-block;
    border-radius: 4px;
    border: solid 1px #d6d6d6;
    background-color: #ffffff;
    padding: 5px 10px;
}

.invite-radios__input {
    margin-right: 20px;
}

.invite-radios__input:last-child {
    margin-right: 0;
}

.create-share {
    border-radius: 4px;
    background-color: #30855c;
    outline: 0;
    border: 0;
    color: #ffffff;
    opacity: 0.9;
}

.create-share:hover {
    background-color: #30855c;
    opacity: 1;
}

.create-share:focus {
    box-shadow: none !important;
    outline: 0 !important;
    border: 0 !important;
    background-color: #30855c !important;
}

.view-order-file {
    border-radius: 4px;
    border: solid 2px rgba(116, 117, 136, 0.6);
    padding: 5px 10px;
    cursor: pointer;
}

.view-order-file:hover {
    text-decoration: none !important;
}

.file-share-addMail {
    background-color: #ffffff;
}

@media (min-width: 768px) {
    .file-share-addMail {
        border-radius: 4px;
        border: solid 1px #d6d6d6;
        background-color: #ffffff;
    }
}

.file-share-addMail input {
    outline: 0;
    border: 0;
    background: none;
}

.quick-pinned-files__Image input[type="file"] {
    opacity: 0;
    visibility: hidden;
    display: none;
}

.file-share-addMail input {
    width: 60%;
}

@media (min-width: 768px) {
    .file-share-addMail input {
        width: 65%;
    }
}


/* MOdal popup css */

.modal-content {
    padding: 15px;
}

.modal-header {
    padding: 0 0 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.modal-content .close {
    padding: 0 !important;
    margin: 0 !important;
}

.modal-content .close span {
    font-size: 35px;
    line-height: 0;
}

.modal-content .close:focus {
    box-shadow: none !important;
    outline: 0;
    border: 0;
}

.modal-body {
    padding: 15px 0 0 0 !important;
}

.modal-backdrop {
    background-color: rgb(0, 0, 0) !important;
}

.modal-backdrop.show {
    opacity: 0.8 !important;
}

.existing-members-list {
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 0;
    padding-bottom: 0;
}

.existing-members-list__item {
    padding-bottom: 15px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
}

@media (min-width: 768px) {
    .existing-members-list__item:last-child {
        border: 0;
    }
}

.member-profile {
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 50%;
    object-fit: cover;
}

.member-profile img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.modal-footer {
    border: 0 !important;
    padding: 15px 0 0 0 !important;
}

.remove-quiker-file {
    position: absolute;
    top: 10px;
    right: 10px;
    pointer-events: all;
    cursor: pointer;
    font-size: 30px;
    line-height: 20px;
    color: #232334;
}

.quick-pinned-files__pinIcon img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.priview-popup-fileshare__back {
    position: relative;
    top: 12%;
    padding: 0 5%;
    width: 100%;
}

.priview-popup-fileshare__back img {
    cursor: pointer;
    display: inline-block;
}

.priview-popup-fileshare {
    /* pointer-events: none; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8) !important;
    opacity: 0;
    visibility: hidden;
    display: none;
    transition: 0.4s ease-in-out;
    z-index: 999;
}

.priview-popup-fileshare.active {
    opacity: 1 !important;
    visibility: visible !important;
    display: block !important;
}

.priview-popup-fileshare.active .priview-popup-fileshare__img.active {
    bottom: 50% !important;
    transform: translate(-50%, 50%) !important;
}

.priview-popup-fileshare__img {
    width: calc(100% - 30px);
    height: 300px;
    margin: auto;
    position: absolute;
    bottom: -100%;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 2px;
    transition: 0.8s ease-in-out;
}

.priview-popup-fileshare .img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 2px;
}

.img-side-dots span {
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #ffffff;
    margin-bottom: 3px;
    cursor: pointer;
}

@media (min-width: 576px) {
    .priview-popup-fileshare__img {
        width: 540px;
        margin: auto;
        padding: 0 15px;
    }
}

@media (min-width: 768px) {
    .pin-quiker-files label {
        padding: 20px;
    }
    .file-share-container {
        padding: 25px 35px;
    }
    .quick-pinned-files__Image {
        width: 100%;
        height: 130px;
        padding: 10px 10px 0 10px;
    }
    .quicker-files__list {
        margin-bottom: 20px;
    }
    .invite-radios__input {
        margin-right: 25px;
    }
    .modal-content {
        padding: 20px !important;
    }
    .modal-header {
        padding: 0 0 20px 0 !important;
    }
    .modal-body {
        padding: 20px 0 0 0 !important;
    }
    .existing-members-list__item {
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    .modal-footer {
        padding: 20px 0 0 0 !important;
    }
    .priview-popup-fileshare__img {
        width: 75%;
        height: 350px;
        margin: auto;
    }
    .priview-popup-fileshare__back {
        top: 40px;
    }
}

@media (min-width: 992px) {
    .pin-quiker-files label {
        padding: 25px;
    }
    .quicker-files__list {
        min-height: 180px;
        margin-bottom: 25px;
    }
    .file-share-container {
        padding: 30px 45px;
    }
    .quick-pinned-files__Image {
        height: 150px;
    }
    .quick-pinned-files__pinIcon {
        width: 35px;
        height: 35px;
    }
    .file-share-search input[type="search"]::placeholder {
        font-size: 14px;
    }
    .file-share-search input[type="search"] {
        font-size: 14px;
    }
    .modal-header {
        padding: 0 0 25px 0 !important;
    }
    .modal-body {
        padding: 25px 0 0 0 !important;
    }
    .modal-dialog {
        max-width: 740px !important;
    }
    .modal-footer {
        padding: 25px 0 0 0 !important;
        border: 0 !important;
    }
    .invite-radios__input {
        margin-right: 30px;
    }
    .create-share {
        padding: 10px 15px;
    }
    .modal-content {
        padding: 25px !important;
    }
    .existing-members-list__item {
        padding-bottom: 22px;
        margin-bottom: 22px;
    }
    .member-profile {
        width: 35px;
        height: 35px;
    }
    .remove-quiker-file {
        top: 15px;
        right: 15px;
        font-size: 35px;
    }
    .priview-popup-fileshare__img {
        width: 65%;
        height: 500px;
        margin: auto;
    }
}

@media (min-width: 1300px) {
    .quick-pinned-files__Image {
        height: 170px;
    }
}


/* Radio */


/* The container */

.custom-radio {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 0;
    cursor: pointer;
    font-size: 12px;
    line-height: 16px !important;
    user-select: none;
    color: #747588;
}

.custom-radio.active {
    color: #232334;
}


/* Hide the browser's default radio button */

.custom-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* Create a custom radio button */

.checkmark-custom {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: none;
    border-radius: 50%;
    border: solid 1px #747588;
}


/* On mouse-over, add a grey background color */


/* .custom-radio:hover input ~ .checkmark-custom {
    background-color: #ccc;
  }
   */


/* When the radio button is checked, add a blue background */

.custom-radio input:checked~.checkmark-custom {
    background-color: none;
    border: 1px solid #30855c;
}


/* Create the indicator (the dot/circle - hidden when not checked) */

.checkmark-custom:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the indicator (dot/circle) when checked */

.custom-radio input:checked~.checkmark-custom:after {
    display: block;
}


/* Style the indicator (dot/circle) */

.custom-radio .checkmark-custom:after {
    top: 50%;
    left: 50%;
    width: 11px;
    height: 11px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #30855c;
}


/*=======   Tabs  =======*/

.mixups-tabs {
    background-color: #ffffff;
    /* overflow: hidden; */
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #232334;
    font-size: 14px;
    font-weight: 600;
    background-color: unset !important;
    border-radius: unset;
}

.nav-pills .nav-link.active {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

.nav-pills .nav-link:before {
    content: '';
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 50%;
    text-align: center;
    margin: auto;
    transform: translateX(-50%);
    border-radius: 1.5px;
    background-color: #30855c;
    transition: 0.3s ease-in-out;
    opacity: 0;
}

.nav-pills .nav-link.active:before {
    width: 100%;
    opacity: 1;
}

.nav-pills {
    border-bottom: 1px solid #dddddd;
}

@media (max-width: 767px) {
    li.nav-item {
        margin-right: 15px !important;
    }
}

li.nav-item {
    margin-right: 25px;
    position: relative;
    top: .25rem;
}

.nav-pills .nav-link {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    color: #232334;
}

@media (max-width: 767px) {
    .nav-pills {
        padding-bottom: 3px;
    }
}

.nav-pills .nav-link.active {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    color: #30855c;
}

.preview--activity-history {
    position: relative;
    transform: translateY(-15px);
    z-index: 9;
}

.preview {
    border-radius: 4px;
    color: #30855c;
    border: solid 1px #30855c;
    padding: 8px 16px;
    text-align: center;
    font-size: 14px;
    float: right;
    background-color: #ffffff;
}

.preview:hover {
    color: #ffffff;
    background-color: #30855c;
}

.close-file {
    width: 20px;
    height: 20px;
    object-fit: contain;
    opacity: 0.8;
}