@import 'variables';

.editBorder {
    border: 1px solid #d6d6d6;
    padding: 1.5rem;
    border-radius: 4px;
}
.contentDiv {
    min-height: 37.56rem;
    height: auto;
}
.emailDiv {
    width: 20.5rem;
}
.containerBackground {
    background: #fcfbf8;
}
@media all and (max-width: 767px) {
    .editBorder {
        border: 0px !important;
        padding: 0px;
        border-radius: 4px;
    }
}

:host ::ng-deep .p-selectbutton.p-selectbutton-status {
    .p-button {
        font-size: 12px;
        padding: 6px 12px;
    }
}
