<section>
    <div class="main-block">
        <div class="row mb-3">
            <div class="col-8">
                <p-breadcrumb [model]="breadCrumbItem"></p-breadcrumb>
            </div>
            <div class="col-4 d-none d-sm-none d-md-block">
                <button
                    *ngIf="!isEdit"
                    class="btn pull-right btn-raised d-md-block d-none"
                    (click)="isEdit = !isEdit; updateForm()"
                >
                    {{ 'edit' | translate }}
                </button>
                <button
                    *ngIf="!isEdit"
                    class="btn pull-right btn-stroked d-md-block d-none mr-3"
                    (click)="this.location.back()"
                >
                    {{ 'cancel' | translate }}
                </button>
                <button
                    *ngIf="isEdit"
                    class="btn pull-right btn-raised d-md-block d-none"
                    (click)="onSave()"
                    [disabled]="submitted"
                >
                    {{ 'save' | translate }}
                </button>
                <button
                    *ngIf="isEdit"
                    class="btn pull-right btn-stroked d-md-block d-none mr-3"
                    (click)="onEditCancel(); updateForm()"
                >
                    {{ 'cancel' | translate }}
                </button>
            </div>
        </div>
        <div *ngIf="userDetails" class="row no-gutters contentDiv">
            <div class="col-12 col-xl-8 editBorder">
                <div class="row p-0">
                    <div class="col-md-6">
                        <span class="primary_txt">{{ 'edit' | translate }}</span>
                        <div class="mt-2">
                            <span class="fw-m text-clr588">{{ 'account_activated' | translate }}</span
                            >&nbsp;
                            <span *ngIf="userDetails && userDetails['last_activated']" class="fw-b">{{
                                userDetails['last_activated'] | date: 'd MMM, y, h:mm a'
                            }}</span>
                        </div>
                    </div>
                    <div class="col-md-6 d-none d-md-flex justify-content-end">
                        <p-selectButton
                            [options]="statusOptions"
                            [(ngModel)]="userStatus"
                            (onChange)="updateForm()"
                            styleClass="p-selectbutton-status"
                            [disabled]="!isEdit"
                        ></p-selectButton>
                    </div>
                </div>
                <div [formGroup]="userForm" class="row mt-3 mt-md-5 p-0">
                    <div class="sewn-form-field col-md-6">
                        <label>{{ 'first_name' | translate }}<span class="star">*</span></label>
                        <input
                            type="text"
                            [placeholder]="'please_enter_first_name' | translate"
                            formControlName="firstname"
                            pInputText
                        />
                        <small *ngIf="userForm.controls.firstname.errors?.required" class="p-error">
                            {{ 'required' | translate }}
                        </small>
                    </div>
                    <div class="sewn-form-field col-md-6">
                        <label>{{ 'last_name' | translate }}<span class="star">*</span></label>
                        <input
                            type="text"
                            [placeholder]="'please_enter_last_name' | translate"
                            formControlName="lastname"
                            pInputText
                        />
                        <small *ngIf="userForm.controls.lastname.errors?.required" class="p-error">
                            {{ 'required' | translate }}
                        </small>
                    </div>
                    <div class="sewn-form-field col-md-6">
                        <label class="secondary_txt">Enter work e-mail address<span class="star">*</span></label>
                        <input type="text" placeholder="you@example.com" formControlName="email" pInputText />
                        <small *ngIf="userForm.controls.email.errors?.required" class="p-error">
                            {{ 'required' | translate }}
                        </small>
                        <small *ngIf="userForm.controls.email.errors?.email" class="p-error">
                            {{ 'email_must_be_in_a_valid_format' | translate }}
                        </small>
                    </div>
                </div>
                <div>
                    <label class="fw-m">Role(s)<span class="star">*</span></label>
                </div>
                <div *ngFor="let role of roles.controls; let i = index; last as isLast">
                    <div class="row gutter-16 mb-4 mb-md-3">
                        <div class="col-md-6 sewn-form-field mb-0">
                            <p-dropdown
                                [options]="roleOptions(i)"
                                optionLabel="name"
                                optionValue="id"
                                placeholder="Select role"
                                [style]="{ width: '100%' }"
                                [formControl]="role"
                            >
                            </p-dropdown>
                            <small *ngIf="role.errors?.required" class="p-error">{{ 'required' | translate }}</small>
                        </div>
                        <div
                            *ngIf="isEdit && userStatus === UserStatus.ACTIVE && (i || roles.controls?.length > 1)"
                            class="brown-cta col-auto mt-2 mt-md-3"
                            (click)="removeRole(i)"
                        >
                            {{ 'remove_role' | translate }}
                        </div>
                    </div>
                    <p-divider
                        type="dashed"
                        styleClass="mt-2 mb-4"
                        class="d-block d-md-none"
                        *ngIf="isEdit && isLast && userStatus === UserStatus.ACTIVE"
                    ></p-divider>
                    <div
                        class="d-block d-sm-block d-md-block mb-2 mt-2"
                        *ngIf="isEdit && isLast && userStatus === UserStatus.ACTIVE"
                    >
                        <img src="assets/images/add-partner.svg" />
                        <span class="ml-2 brown-cta" (click)="addRole()">
                            {{ 'assign_role' | translate }}
                        </span>
                    </div>
                </div>
                <div class="col-md-6 d-md-none p-0 mt-3 mb-4">
                    <label>{{ 'status' | translate }}<span class="star">*</span></label>
                    <div>
                        <p-selectButton
                            [options]="statusOptions"
                            [(ngModel)]="userStatus"
                            (onChange)="updateForm()"
                            styleClass="p-selectbutton-status"
                            [disabled]="!isEdit"
                        ></p-selectButton>
                    </div>
                </div>
                <div class="d-md-none">
                    <button *ngIf="!isEdit" class="btn btn-raised w-100" (click)="isEdit = !isEdit; updateForm()">
                        {{ 'edit' | translate }}
                    </button>
                    <button *ngIf="!isEdit" class="btn btn-stroked w-100 mt-3" (click)="this.location.back()">
                        {{ 'cancel' | translate }}
                    </button>
                    <button *ngIf="isEdit" class="btn btn-raised w-100" (click)="onSave()" [disabled]="submitted">
                        {{ 'save' | translate }}
                    </button>
                    <button *ngIf="isEdit" class="btn btn-stroked w-100 mt-3" (click)="onEditCancel(); updateForm()">
                        {{ 'cancel' | translate }}
                    </button>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 p-0 d-none d-xl-block emailDiv">
                <div class="ml-3 h-100 containerBackground">
                    <div class="col-12 p-0 ml-3 p-3">
                        <div class="primary_txt mb-1">{{ 'recovery_email' | translate }}</div>
                        <span class="fw-m text-clr588">{{ 'recovery_link_desription' | translate }}. </span>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 p-0 ml-3 p-3">
                        <button class="btn btn-stroked mt-2" (click)="sendMail()">
                            {{ 'send' | translate }}
                        </button>
                    </div>
                </div>
            </div>
            <div class="d-xl-none col-12 pt-4">
                <div class="h-100 containerBackground">
                    <div class="col-12 p-3">
                        <div class="primary_txt mb-1">{{ 'recovery_email' | translate }}</div>
                        <span class="fw-m text-clr588">{{ 'recovery_link_desription' | translate }}. </span>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 p-3">
                        <button class="btn btn-stroked w-100 mt-2" (click)="sendMail()">
                            {{ 'send' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
