@import 'variables';

::ng-deep {
    .p-tabview.p-tabview-report {
        .p-tabview-nav li .p-tabview-nav-link {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }

        .p-tabview-panels {
            padding: 1.5rem 0;

            @media (max-width: 991px) and (min-width: 768) {
                padding: 1rem 0;
            }
        }
    }

    .p-datatable {
        table tr td {
            @media (max-width: 767px) {
                display: flex !important;
            }
            .action-button {
                color: #747588;
                padding-left: 0.25rem;
                padding-right: 0.25rem;
                font-weight: $fw-m;
            }

            .p-inputtext {
                @media (min-width: 768px) {
                    padding: 15px 0.25rem;
                }
            }

            .p-button-text {
                color: #747588;
                position: relative;
            }

            .p-button-outlined {
                padding: 0.5rem;
                color: #232334;
                border-color: #747588;
                font-family: $general-font-family;
                font-size: 14px;
                font-weight: $fw-m !important;
            }
        }
    }

    .table-action-button:not(:disabled):hover {
        border-color: $primary-color !important;
        .p-button-label {
            color: $primary-color !important;
        }
    }
}

@media (max-width: 767px) {
    .drop-space {
        position: relative;
        bottom: 12px;
    }
}
