@import 'variables';

.green_grading_cont {
    h1 {
        font-size: 18px;
    }
}

::ng-deep {
    .p-tabview.p-tabview-report {
        .p-tabview-nav li .p-tabview-nav-link {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }

        .p-tabview-panels {
            padding: 1.5rem 0;

            @media (max-width: 991px) and (min-width: 768) {
                padding: 1rem 0;
            }
        }
    }

    .p-datatable {
        table tr td {
            .action-button {
                color: #747588;
                padding-left: 0.25rem;
                padding-right: 0.25rem;
                font-weight: $fw-m;
            }

            .p-inputtext {
                @media (min-width: 768px) {
                    padding: 15px 0.25rem;
                }
            }

            .p-button-text {
                color: #747588;
                position: relative;
            }

            .p-button-outlined {
                padding: 0.5rem;
                color: #232334;
                border-color: #747588;
                font-family: $general-font-family;
                font-size: 14px;
                font-weight: 500 !important;
            }
        }
    }

    .table-action-button:hover {
        border-color: #30855c !important;
        .p-button-label {
            color: #30855c !important;
        }
    }
}
