<ng-container *ngIf="!rejectMode; else rejectForm">
    <div class="confirm-header">{{ 'confirm_order' | translate }}</div>
    <div class="mt-2" *ngIf="availability$ | async as availability">
        {{ 'available_quantity' | translate }} : {{ availability.quantityCount }} {{ availability.quantityType }}
    </div>
    <div class="mt-2 secondary-description">{{ 'confirm_the_order_within' | translate }}</div>
    <div class="mt-4 button-block">
        <button class="btn-raised p-12" (click)="accept()">{{ 'accept_order' | translate | titlecase }}</button>
        <button class="ml-4 btn-stroked p-12" (click)="reject()">{{ 'reject_order' | translate | titlecase }}</button>
    </div>
</ng-container>

<ng-template #rejectForm>
    <div class="pt-4 text-clr02 fnt-16 fnt-500">
        {{ 'order_has_been_rejected' | translate }}
    </div>
    <div class="d-flex flex-column mt-4" [formGroup]="rejectReasonForm">
        <div class="custom-control custom-checkbox mb-3 float-left pad-left">
            <input
                type="checkbox"
                class="custom-control-input"
                id="not_serviceable"
                formControlName="not_serviceable"
            />
            <label class="custom-control-label" for="not_serviceable">
                <span class="remeber-left">{{ 'not_serviceable' | translate }}</span>
            </label>
        </div>

        <div class="custom-control custom-checkbox mb-3 float-left pad-left">
            <input type="checkbox" class="custom-control-input" id="out_of_stock" formControlName="out_of_stock" />
            <label class="custom-control-label pt-1" for="out_of_stock">
                <span class="remeber-left">{{ 'out_of_stock' | translate }}</span>
            </label>
        </div>

        <div class="custom-control custom-checkbox float-left pad-left">
            <input type="checkbox" class="custom-control-input" id="other" formControlName="other" />
            <label class="custom-control-label" for="other">
                <span class="remeber-left">{{ 'other' | translate }}</span>
            </label>
        </div>
    </div>
    <div class="mt-45 button-block">
        <button class="btn btn-raised p-12" (click)="submitReason()">{{ 'submit' | translate }}</button>
    </div>
</ng-template>
