<div class="row">
    <div class="col-md-12 lot-content lot-content--mb table-responsive mb-15">
        <table class="lot-table lot-table--vertical">
            <!-- <thead>
                <tr>
                    <th>Origin</th>
                    <th>Variety</th>
                    <th>Bulk Ordered</th>
                    <th>Rate per bag</th>
                    <th>Total</th>
                </tr>
            </thead> -->

            <tbody>
                <tr>
                    <th>{{globals.languageJson?.origin}}</th>
                    <td *ngIf="bookedService.origin">{{GetCountry(bookedService.origin)}}</td>
                </tr>
                <tr>
                    <th>{{globals.languageJson?.variety}}</th>
                    <td>{{bookedService.variety}}</td>
                </tr>
                <tr>
                    <th>Quantity </th>
                    <td>{{bookedService.quantity}} {{bookedService.quantity_type}}
                        <p class="procedure"> View lot details </p>

                    </td>
                </tr>
                <tr>
                    <th>{{globals.languageJson?.rate_per_kg}}</th>
                    <td>${{bookedService.price}}USD/lb</td>
                </tr>
                <tr>
                    <th>{{globals.languageJson?.total}}</th>
                    <td>${{getPrice()}}</td>
                    <!-- <td>$112,000</td> -->
                </tr>
            </tbody>
            <!-- <tbody>
                <tr>
                    
                    <td>Columbia</td>
                    <td>Bourbon,Cautai</td>
                    <td>Sample
                     <p class="lot-link">View lot details &#x0003E;</p> 
                    </td>
                    <td>$450/bag</td>
                    <td>$100</td>
                </tr>
            </tbody> -->

        </table>
    </div>
</div>
<hr>
<div class="row pb-md-7">
    <div class="col-lg-7 col-md-7 col-sm-12 bulk-details-content">
        <h4 class="sub-title">Availability details</h4>
        <table class="recent-time">

            <tr>
                <td> <span class="list-que"> Flavour profile :  </span></td>
                <td> <span class="list-ans"> {{bookedService.flavours}} </span> </td>
                

            </tr>
            <tr>
                <td> <span class="list-que">  Listing Status : </span></td>
                <td> <span class="list-ans">  {{bookedService.listing_status}} </span> </td>

            </tr>
            <tr>
                <td> <span class="list-que">  {{globals.languageJson?.processing}}: </span></td>
                <td> <span class="list-ans">  {{bookedService.processing_types}} </span> </td>

            </tr>

            <tr>
                <td> <span class="list-que">  {{globals.languageJson?.type}}: </span></td>
                <td> <span class="list-ans">  {{bookedService.type}} </span> </td>

            </tr>

            <tr>
                <td> <span class="list-que">  {{globals.languageJson?.species}}: </span></td>
                <td> <span class="list-ans">  {{bookedService.species}} </span> </td>

            </tr>

            <tr>
                <td> <span class="list-que">   {{globals.languageJson?.quality}}: </span></td>
                <td> <span class="list-ans">  - </span> </td>

            </tr>

            <tr>
                <td> <span class="list-que"> Packaging : </span></td>
                <td> <span class="list-ans">  {{bookedService.packaging}} </span> </td>

            </tr>

            <tr>
                <td> <span class="list-que"> Water activity : </span></td>
                <td> <span class="list-ans">  {{bookedService.water_activity}} </span> </td>

            </tr>

            <tr>
                <td> <span class="list-que">ICO : </span></td>
                <td> <span class="list-ans"> {{bookedService.ico_number}}</span> </td>

            </tr>

        </table>
        <p class="procedure text-center mt-3"> View availability details </p>

    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 payment-status-content mb-15">
        <h4 class="sub-title">{{globals.languageJson?.payment_status}}</h4>
        <div class="w-100 mt-2 mt-md-3">
            <p class="status_paid" *ngIf="bookedService.statusPending">PENDING</p>
            <p class="status_paid" *ngIf="bookedService.statusPaid"> PAID</p>
            <button type="button" class="btn receipt-btn mb-2" (click)="fileUpload.click()" *ngIf="bookedService.uploadShow && bookedService.statusPending"><img src="assets/images/upload-icon.png" class="pr-2">Upload receipt</button>
            <button type="button" class="btn receipt-btn mb-2" *ngIf="bookedService.statusPaid"><img src="assets/images/view.png" class="pr-2">View receipt</button>
            <p class="pb-md-2 mb-0 mt-3 mt-md-0"><a class="procedure mt-2">View payment procedure </a></p>

            <div class="track-info mt-4 pt-2" *ngIf="bookedService.shipmentDone">
                <p class="track-info-title">Tracking ID
                    <!-- <img class="space ml-1" src="assets/images/open-icon.png" alt=""> -->
                </p>
                <!-- <p class="track-id">9274972094-29ei43</p> -->
                <button class="btn track-btn"><span class="track">{{globals.languageJson?.track_shipment}}</span></button>
            </div>
            <!-- <div class="shipment-info mt-4" *ngIf="bookedService.shipmentDone">
                <p class="shipment-title">Shipment ID <img class="space" src="assets/images/open-icon.png" alt=""></p>
                <p class="shipment-id">9274972094-29ei43</p>
            </div> -->
            <input type="file" hidden #fileUpload (change)="openFile($event)">
        </div>
    </div>
</div>