<div *ngIf="loader">
    <img class="loader-gif web-loader" src="/assets/images/loader.gif" />
    <img class="loader-gif mob-loader" src="/assets/images/coffeeloader-mobile.gif" />
</div>
<div class="mb-2 mt-4" *ngIf="!loader">
    <p-table [value]="generatedKeyData" [lazy]="true" (onLazyLoad)="getData($event)">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="org_name">
                    {{ globals.languageJson?.customer }}<p-sortIcon field="org_name"></p-sortIcon>
                </th>
                <th pSortableColumn="org_type">
                    {{ globals.languageJson?.customer_type }}<p-sortIcon field="org_type"></p-sortIcon>
                </th>
                <th pSortableColumn="requested_at">
                    {{ globals.languageJson?.date_requested }}<p-sortIcon field="requested_at"></p-sortIcon>
                </th>
                <th pSortableColumn="generated_at">
                    {{ globals.languageJson?.key_generated_on }}<p-sortIcon field="generated_at"></p-sortIcon>
                </th>
                <th pSortableColumn="is_active">
                    {{ globals.languageJson?.key_status }}<p-sortIcon field="is_active"></p-sortIcon>
                </th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td>{{ item.org_name }}</td>
                <td>{{ item.org_type }}</td>
                <td>{{ item.requested_at | date: 'MMMM y' }}</td>
                <td>{{ item.generated_at | date: 'MMMM y' }}</td>
                <td [ngClass]="item?.is_active ? 'active-status' : 'status-paused'">
                    <img *ngIf="item?.is_active" src="assets/images/active.svg" />
                    <img *ngIf="!item?.is_active" src="assets/images/paused.svg" /><span class="pl-8">
                        {{ item.is_active ? 'Active' : 'Paused' }}
                    </span>
                </td>
                <td>
                    <a
                        class="menu-arrow"
                        [popover]="!item.is_active ? resumeAccessTemplate : poplistTemplate"
                        placement="left"
                        [outsideClick]="true"
                        #pop="bs-popover"
                    >
                        <p><img class="ellipse-image" src="assets/images/ellipses.png" alt="" /></p>
                    </a>
                    <ng-template #resumeAccessTemplate>
                        <div id="popover-mobile-content">
                            <ul class="list-group custom-popover">
                                <li class="list-group-item">
                                    <a class="pointer-item" (click)="resumeKey(item); pop.hide()"
                                        >{{ globals.languageJson?.resume_access_and_notify_customer }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </ng-template>
                    <ng-template #poplistTemplate>
                        <div id="popover-mobile-content">
                            <ul class="list-group custom-popover">
                                <li class="list-group-item">
                                    <a class="pointer-item" (click)="pauseKey(item); pop.hide()">{{
                                        globals.languageJson?.pause_key_access
                                    }}</a>
                                </li>
                                <li class="list-group-item">
                                    <a class="pointer-item" (click)="deleteKey(); pop.hide()">{{
                                        globals.languageJson?.delete_key
                                    }}</a>
                                </li>
                                <li class="list-group-item">
                                    <a class="pointer-item" (click)="notifyCustomer(item.id); pop.hide()">{{
                                        globals.languageJson?.notify_customer
                                    }}</a>
                                </li>
                            </ul>
                        </div>
                    </ng-template>
                    <ng-template #deletetemplate>
                        <div class="delete-template-modal-body text-center">
                            <p class="fnt-14 fnt-muli fnt-700 text-clr334 m-0">
                                Are you sure you want to delete the API key for "Third wave coffee roasters"?
                            </p>
                            <div class="templete-btn">
                                <button class="btn no-btn" (click)="modalRef.hide()">{{ 'Cancel' | translate }}</button>
                                <button class="btn add-btn ml-3" (click)="onConfirm(item.id)">
                                    {{ 'Yes' | translate }}
                                </button>
                            </div>
                        </div>
                    </ng-template>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-paginator
        [rows]="rows"
        [totalRecords]="totalRecords"
        pageLinkSize="3"
        *ngIf="paginationValue && generatedKeyData?.length"
    ></p-paginator>
</div>

<!-- no-data for Api Generated Keys -->
<div class="row pt-5" *ngIf="!generatedKeyData?.length && !loader">
    <div class="col-lg-12 col-md-12 no-data-sec">
        <div class="text-center">
            <img src="assets/images/table-empty.png" alt="welcome-illustration" class="error-image" />
            <h1 class="fnt-16 fnt-md-18 fnt-700 fnt-muli text-clr334">No data available</h1>
        </div>
    </div>
</div>
<!-- no-data for Api Generated Keys -->
