<div>
    <div class="py-4 px-md-4 d-flex align-items-center border-top-main border-bottom-main">
        <img
            [src]="
                authService.currentUser?.profile_image_thumb_url
                    ? authService.currentUser?.profile_image_thumb_url
                    : authService.currentUser?.profile_image_url
                    ? authService.currentUser?.profile_image_url
                    : 'assets/images/default-avatar.png'
            "
            alt="avatar"
            class="rounded-circle mr-3"
            width="40"
            height="40"
        />
        <span class="sewn-form-field mb-0 ml-z5 w-100">
            <input
                class="w-100"
                pInputText
                [readonly]="true"
                placeholder="{{ 'leave_a_comment' | translate }}"
                routerLink="/coffee-lab/create-post/comment"
                [queryParams]="{ parentForumId: forumId, parentForumType: forumType, forumType: 'comment' }"
            />
        </span>
    </div>
    <div class="pt-4 pt-lg-45">
        <p class="fnt-14 fnt-bold text-clr334 mb-0 mb-md-2">{{ 'comment' | translate }}s</p>
        <div
            class="w-100 pt-4 pt-lg-45"
            *ngFor="let commentItem of commentList; let isLast = last"
            [ngClass]="{
                'border-bottom-dashed': (commentData?.length > 3 && commentList.length < 4) || !isLast,
                'pb-4': (commentData?.length > 3 && commentList.length < 4) || !isLast,
                'pb-lg-45': (commentData?.length > 3 && commentList.length < 4) || !isLast
            }"
        >
            <app-user-header [prop]="commentItem"></app-user-header>
            <p class="fnt-14 fnt-normal text-clr334 lh-157 mb-0 mt-3 comment-text">
                {{ commentItem?.comment }}
            </p>
        </div>
        <div class="d-flex">
            <button
                class="btn-f8 mx-auto w-mob-100 px-4 mt-3 mt-lg-45"
                *ngIf="commentData?.length > 3 && commentList.length < 4"
                (click)="onClickMoreComment()"
            >
                {{ 'view_more' | translate }} {{ 'comment' | translate }}s
            </button>
            <p class="pb-0 mt-4" *ngIf="!commentData?.length">{{ 'no_comments_show' | translate }}</p>
        </div>
    </div>
</div>
