.sourcing-main {
    margin: 0rem 3rem;
    padding-top: 2rem;
}

.sourcing-border {
    border-radius: 4px;
    border: solid 1px #d6d6d6;
    background-color: #ffffff;
}

.filter-set {
    width: 100%;
    padding: 10px 10px 10px 19px;
    margin: 0 2px 0 0;
    border-right: 1px solid #d6d6d6;
}

.filter-set:last-child {
    border: 0;
}

.space-width {
    width: 76%;
}

.select-origin,
.add-variety,
.filter-text {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.43;
    color: #747588;
}

.search-name {
    background: url(/assets/images/search-user.png) no-repeat scroll 11px 11px;
    padding-left: 45px;
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    color: #747588;
    margin-left: 7px;
}

.border-grade {
    border-radius: 20px;
    border: solid 1px #d6d6d6;
    background-color: #ffffff;
    padding: 10px 12px;
}

.title-header {
    margin: 0.8rem 1rem;
}


/**********popover*******/

.list-group-item {
    border: none;
    font-family: 'Muli';
    font-size: 12px;
    font-weight: 600;
    color: #747588;
}

.list-group-item:hover {
    color: #232334;
    font-weight: 600;
    background-color: #f8f8f8;
}

.menu-arrow {
    cursor: pointer;
}

::ng-deep .popover-body {
    padding: 0 !important;
}

::ng-deep .popover {
    border: none !important;
    border-radius: 5px !important;
    box-shadow: 0 0 17px 2px rgba(27, 27, 27, 0.08) !important;
    background-color: #ffffff;
    top: 4px !important;
}

::ng-deep .bs-popover-bottom .arrow:after {
    top: 0px !important;
}

.pointer-item {
    cursor: pointer;
}


/*********************Tab Css **********************/

@media (min-width:1400px) {
    .container {
        max-width: 1240px !important;
    }
}

ul {
    padding-left: 0;
}

ul li {
    list-style: none;
}

.source-cont {
    background: #fff;
    /* padding: 48px; */
}

.sourcing-panel {
    padding-top: 1rem;
}

.source-cont .nav-tabs .nav-link {
    border: none;
    border-bottom: 2px solid transparent;
    font-size: 14px;
    color: #232334;
    flex: inherit;
    padding-bottom: 6px;
    font-weight: 600;
}

.source-cont .nav-tabs .nav-link.active {
    border-bottom: 2px solid #30855c;
    color: #30855c;
}

.s-cert li {
    display: flex;
    width: 32px;
    margin-left: 14px;
}

.table-details {
    display: none;
}

.s-cert li img {
    width: 100%;
}

.flex {
    display: flex;
}

.s-details h3 {
    height: 23px;
    font-family: Muli;
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
    color: #242424;
}

.s-details h6 {
    font-size: 18px;
    font-weight: bold;
}

.s-details {
    padding: 22px;
}

.s-gal img {
    width: 100%;
}

.s-tit {
    width: 80%;
}

.orgin-att label {
    font-size: 14px;
    font-weight: 600;
    color: #747588;
}

.orgin-att h6 {
    font-size: 14px;
    font-weight: bold;
}

.orgin-att {
    padding-left: 15px;
    padding-right: 15px;
    border-right: 1px solid #ebebeb;
}

.orgin-att:first-child {
    padding-left: 0;
}

.orgin-att:last-child {
    padding-right: 0;
    border: none;
}

.source-lets {
    padding-bottom: 40px;
    border-bottom: 1px solid #ebebeb;
    padding-top: 32px;
    margin-bottom: 16px;
}

.top-lots label {
    width: 100%;
    font-size: 14px;
    color: #747588;
    font-weight: bold;
}

.top-lots a {
    color: #80460b;
    padding-right: 16px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
}

.checked {
    color: #ffc107;
}

.card-border {
    border: 1px solid #ebebeb;
    margin-bottom: 26px;
    border-radius: 4px;
}

.card-border:hover {
    box-shadow: 0px 0px 24px -2px #979797;
}

.filter-sort {
    position: absolute;
    right: 0;
    top: -10px;
}

.green-coffee-product .s-tit h5 {
    color: #747588;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.green-coffee-product .s-details h3 {
    height: auto;
    margin-bottom: 3px;
}

.flo-list {
    margin-bottom: 0;
    margin-top: -5px;
}

.flo-list li,
.flavor-coffee span {
    float: left;
    font-size: 12px;
    /* border: 1px solid #ebebeb; */
    padding: 3px 9px 1px 15px;
    font-weight: 600;
    margin-right: 5px;
    color: #747588;
    position: relative;
    border-radius: 11.5px;
    border: solid 0.5px #747588;
}

.flo-list li:last-child {
    margin-right: 0;
}

.flo-list li:before,
.flavor-coffee span:before {
    content: '';
    width: 4px;
    height: 4px;
    background: #747588;
    border-radius: 50%;
    position: absolute;
    left: 6px;
    top: 42%;
}

.green-coffee-product .top-lots label {
    font-size: 16px;
}

.green-coffee-product .source-lets {
    padding-bottom: 24px;
    padding-top: 24px;
    margin-bottom: 22px;
}

.top-lots span {
    color: #232334
}

.activate-toggle.active {
    background: #000;
    color: #fff;
}

.remove-toggle.active {
    background: #000;
    color: #fff;
}

.btn-switch {
    width: 40px;
    padding: 10px 13px;
    border-radius: 50%;
    background: #f0f0f0;
    cursor: pointer;
}

.btn-group {
    border-radius: 20px;
    background: #f0f0f0;
}

.btn-switch svg path {
    fill: #232334;
}

.btn-switch.active svg path {
    fill: #fff;
}

.s-gal {
    position: relative;
}

.cupping {
    position: absolute;
    bottom: -30px;
    z-index: 9;
    right: 10px;
}

.cupping p {
    background-color: #f19634;
    color: #fff;
    padding: 8px 12px;
    border-radius: 17px;
    font-size: 13px;
    font-weight: bold;
}


/**************Table CSS ********************/

.border-sourcetable,
.border-coffeetable {
    border-radius: 4px;
    border: solid 1px #d6d6d6;
    padding: 6px 4px;
    margin-top: 0.7rem;
}

.table-container {
    margin: 2% 4.5% 0 4.5%;
}

.table-header {
    border-radius: 4px;
    background-color: #f8f8f8;
}

table th,
table td,
.header-row {
    border: none !important;
}

tr {
    border-bottom: 1px dashed #d6d6d6;
}

tr:last-child {
    border-bottom-style: none;
    border-bottom-color: none;
}

.table .table-header th {
    font-family: Muli;
    font-size: 14px;
    font-weight: bold;
    color: #232334;
    /* padding-left: 2rem; */
    padding: 14px 15px;
}

.table td {
    /* padding: 1rem 2rem; */
    padding: 15px 15px;
}

.ticket-boby-txt {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    color: #232334;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.lot-class {
    color: #80460b !important;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline !important;
}


/* 
::ng-deep .modal.show .modal-dialog {
    max-width: 55%;
} */

.modal-body,
.modal-header {
    padding: 1rem 1.5rem 0rem 1.5rem !important;
}

.modal-header {
    border-bottom: none;
}

.more-heading {
    font-family: Muli;
    font-size: 18px;
    font-weight: bold;
    color: #242424;
}

.altitude-heading,
.to-heading {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    color: #747588;
}

.search-div {
    width: 82%;
    height: 50px;
    border: none;
    background-color: #ffffff;
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    color: #747588;
}

.border-filter {
    padding-top: 23px !important;
    border-top: solid 1px #d6d6d6;
}

.meter-border {
    border: solid 1px #d6d6d6;
    border-radius: 4px;
}

.to-space {
    padding: 16px 16px;
}

.meter-data {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    color: #232334;
}

.flavour-profile,
.listing-status,
.certificates {
    font-family: Muli;
    font-size: 16px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: normal;
    color: #232334;
}

.popup-filter ul li {
    width: 20%;
    float: left;
    padding-bottom: 1rem;
}

.checkmark {
    top: 2px !important;
    left: 2px !important;
    height: 17px !important;
    width: 17px !important;
}

.customcheckbox .checkmark:after {
    left: 5px !important;
    top: 1px !important;
    border-width: 0 2px 2px 0 !important;
}

span.checkmark {
    background-color: #fff !important;
    border: solid 1px #979797;
    border-radius: 2px;
}

.customcheckbox input:checked~.checkmark {
    background-color: #30855c !important;
}

.flavour-text {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    color: #747588;
    padding-left: 36px;
}

.load-more {
    font-family: Muli;
    font-size: 14px;
    font-weight: bold;
    color: #80460b;
    text-decoration: underline;
}

.save-filter {
    border-radius: 4px;
    background-color: #30855c;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    font-family: Muli;
}

.cursor-item {
    cursor: pointer;
}

@media (min-width:1366px) {
    .container {
        max-width: 1240px !important;
    }
}

@media (max-width:1200px) {
    .orgin-att {
        padding-right: 10px;
        padding-left: 10px
    }
    .s-cert li {
        width: 22px;
        margin-left: 9px;
    }
}

@media (max-width:1024px) {
    .source-cont {
        padding: 28px;
    }
    .orgin-att label,
    .orgin-att h6,
    .top-lots label,
    .top-lots a {
        font-size: 12px;
    }
    .s-details {
        padding: 15px;
    }
    .source-lets {
        padding-bottom: 20px;
        padding-top: 12px;
    }
}

@media (max-width:767px) {}

@media (max-width:480px) {
    .source-cont {
        padding: 0;
    }
}

@media (min-width: 576px) {
     ::ng-deep .modal-dialog {
        max-width: 55% !important;
    }
}