<div class="p-md-3 p-lg-4 p-4 border-main br-4 h-100">
    <p class="fnt-14 fnt-md-16 fw-b text-clr334 mb-1 mb-md-2 d-none d-md-block">
        {{ 'your_rating' | translate }}
    </p>
    <p class="fnt-12 fnt-md-14 fw-n text-clr588 mb-2 mb-lg-4 mb-md-2 d-none d-md-block">
        {{ 'dashboard_your_rating_desp' | translate }}
    </p>

    <div class="row">
        <div class="col-12">
            <div class="review-block">
                <p class="fnt-16 fw-b text-clr334 mb-2 d-md-none">{{ 'reviews' | translate }}</p>

                <h2 class="fnt-32 fw-b text-clr334 mb-md-1 mb-0">
                    {{ reviewsSummary?.rating.toFixed(1) || '-' }}
                </h2>
                <div class="fnt-14 fw-b text-clr588">out of 5</div>
                <div>
                    <div *ngIf="reviewsSummary" class="d-flex star-wrap mt-md-1 mt-2 mb-45">
                        <p-rating
                            [(ngModel)]="reviewsSummary.rating"
                            [readonly]="true"
                            [stars]="5"
                            [cancel]="false"
                            class="fnt-lg-20"
                        ></p-rating>
                    </div>
                </div>

                <p class="fnt-14 fnt-md-84 fw-b text-clr334 mb-3">
                    {{ reviewsSummary?.total_review || '0' }} customer reviews
                </p>
                <div class="rating-bar" *ngIf="reviewsSummary">
                    <div class="row" *ngFor="let item of reviewStars; let i = index">
                        <div class="col-2 col-md-2 col-lg-2 common-rating-item core-star" style="display: flex">
                            <span class="fnt-14 fnt-md-84 fw-b text-clr334 pr-1 pr-lg-2 pr-md-1">{{ item.label }}</span>
                            <p-rating
                                value="1"
                                [readonly]="true"
                                [stars]="1"
                                [cancel]="false"
                                class="fnt-8 fnt-lg-14"
                            ></p-rating>
                        </div>
                        <div class="col-7 col-md-7 col-lg-7 custom-progress-bar">
                            <p-progressBar
                                class="rating-progress"
                                value="{{ item.percent }}"
                                mode="determinate"
                                [showValue]="false"
                                [ngClass]="{ 'rating-high': i < 3, 'rating-middle': i === 3, 'rating-low': i === 4 }"
                            ></p-progressBar>
                        </div>
                        <div class="col-2 col-md-2 col-lg-2 common-rating-item core-count">
                            <span class="fnt-14 fnt-md-84 fw-b text-clr588"> ({{ item.value }}) </span>
                        </div>
                    </div>
                </div>

                <div class="w-100 text-right text-md-left mt-3 mt-md-2 mt-lg-3">
                    <a class="arrow-link fnt-12 fnt-lg-14" routerLink="/roastery-profile/reviews">{{
                        'see_more' | translate
                    }}</a>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #star>
    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15">
        <g fill="none" fill-rule="evenodd">
            <path d="M0 0H15V15H0z" />
            <path
                fill="#979797"
                d="M13.978 6.073c-.046-.148-.175-.243-.335-.258L9.41 5.55 7.84 1.733c-.052-.133-.197-.199-.342-.206-.152 0-.305.066-.365.206L5.564 5.55l-4.204.265c-.16.015-.29.11-.343.258-.045.14 0 .302.122.398l3.238 2.623-1.052 3.978c-.038.14.023.295.145.383.13.089.297.096.427.015l3.602-2.188 3.572 2.188c.137.081.305.074.434-.015.122-.088.183-.235.145-.383l-1.051-3.978 3.265-2.623c.122-.096.167-.258.114-.398z"
            />
        </g>
    </svg>
</ng-template>
