.bread-nav {
    padding-top: 2rem;
    padding-left: 3rem;
}

.grading__total {
    padding: 40px 48px;
}

.green_grading_cont h1 {
    font-family: Muli;
    font-size: 18px;
    font-weight: bold;
    color: #232334;
}

.green_grading_cont h3 {
    font-family: Muli;
    font-size: 14px;
    font-weight: normal;
    color: #747588;
    margin-top: 4px;
}

hr {
    background-color: #dedede;
    margin: 1.5rem 0rem;
}

.text-data {
    font-family: Muli;
    font-size: 16px;
    font-weight: bold;
    color: #232334;
}

.star {
    color: #d50000;
}

label {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    color: #232334;
}

.id-text {
    font-family: Muli;
    font-size: 11px;
    font-weight: 600;
    color: #747588;
}

.form-control {
    height: 46px;
}

.add-sample {
    height: 46px;
    border-radius: 4px;
    border: solid 1px #30855c;
    font-family: Muli;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.57;
    color: #30855c;
    background-color: #ffffff;
    margin-left: 1rem;
    padding: 12px 16px;
}

.next {
    background-color: #30855c;
    border-radius: 4px;
    border: 1px solid #30855c;
    font-family: Muli;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.57;
    color: #ffffff;
    margin-left: 1rem;
    padding: 12px 16px;
}

.next:hover {
    box-shadow: 0 0 7px 1px rgba(67, 146, 108, 0.5);
}

.add-sample:hover {
    background-color: #30855c;
    color: #ffffff;
}

.bg-fff {
    padding-bottom: 10rem;
}

.table-header {
    border-radius: 4px;
    background-color: #f8f8f8;
}

.header-row {
    border: none !important;
}

table th,
table td {
    border: none !important;
}

tr {
    border-bottom: 1px dashed #d6d6d6;
}

.table td {
    padding: 0.75rem 1.6rem 0.75rem 0rem !important;
}

.table thead th {
    color: #232334;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Muli';
}

.table tbody tr {
    color: #232334;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Muli';
}

span.checkmark {
    background-color: #fff !important;
    border: solid 1px #979797;
    border-radius: 2px;
}

.customcheckbox input:checked~.checkmark {
    background-color: #30855c !important;
}

.table-container {
    margin: 0.5rem 0;
    /* border-radius: 4px; */
    border-top: solid 1px #d6d6d6;
    padding: 4px;
}

.checkmark {
    top: -4px !important;
    left: 8px !important;
    height: 17px !important;
    width: 17px !important;
}

.customcheckbox .checkmark:after {
    left: 5px !important;
    top: 1px !important;
    border-width: 0 2px 2px 0 !important;
}

.edit-div {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    color: #747588;
}

.v-line {
    color: #d6d6d6;
}

.edit-pic {
    padding-right: 3%;
    position: relative;
    bottom: 2px;
}

.cursor-pointer:hover {
    text-decoration: underline !important;
}

.select-title {
    font-family: Muli;
    font-weight: bold;
    color: #232334;
    font-size: 16px;
    margin-top: 2rem;
    margin-bottom: 0;
}
.role_edit {
    border-radius: 4px;
    border: solid 1px #d6d6d6;
    background-color: #ffffff;
    background: url(../../../../assets/images/active.png) right 16px top 19px/10px
      no-repeat;
    -webkit-appearance: none;
    font-family: Muli;
    font-weight: 500;
    height: 46px !important;
    padding-top: 7px;
    cursor: pointer;
  }