@import 'variables';

.card {
    border: solid 1px $secondary-border-color;
    &:hover {
        transition: box-shadow 400ms ease;
        box-shadow: 0 0 54px -10px rgba(114, 114, 114, 0.5);
    }
}

.available-mark {
    position: absolute;
    top: 8px;
    left: 8px;
    right: auto;
    padding: 4px 8px;
    background-color: rgba(0, 0, 0, 0.38);
    border-radius: 15px;
    color: $white;
    font-size: 12px;
    font-weight: $fw-m;

    @media (min-width: 992px) {
        top: 16px;
        left: 8px;
        padding: 6px 14px;
        font-size: 14px;
    }
}

.pad-card {
    padding-top: 2rem;
    @media (max-width: 768px) {
        padding-top: 1rem;
        padding-bottom: 0.25rem;
    }
}

.name-wrap {
    max-width: 70%;
}

.card-img-top {
    height: 160px;
    background-color: $primary-bg-color;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (min-width: 992px) {
        height: 208px;
    }
    img {
        &:not(.empty) {
            min-width: 100%;
            min-height: 100%;
            object-fit: cover;
        }
    }
}

.card-body {
    padding: 1.5rem;
    @media (max-width: 991px) {
        padding: 1rem;
    }
}

.orgin-att {
    @media (max-width: 767px) {
        width: 50%;
        margin-bottom: 20px;
        &:nth-child(2),
        &:nth-child(4) {
            border-left: 1px solid $secondary-border-color;
            padding-left: 20px;
        }
    }

    @media (min-width: 768px) {
        width: 28%;
        margin-bottom: 24px;
        &:nth-child(2),
        &:nth-child(3) {
            width: 36%;
            border-left: 1px solid $secondary-border-color;
            padding-left: 24px;
        }
        &:last-child {
            width: 100%;
        }
    }
}

.cert-image {
    width: 24px;
    height: 24px;
    object-fit: cover;

    @media (min-width: 768px) {
        width: 32px;
        height: 32px;
    }
}

.checked {
    font-size: 16px;
    @media (min-width: 768px) {
        font-size: 22px;
    }
}
