<section>
    <div class="main-block">
        <div class="mb-4 mb-md-45">
            <a class="back-page" routerLink="/people/customer-management"> {{ 'back' | translate }}</a>
        </div>
        <div class="onboard-section">
            <h1 class="fnt-20 fnt-md-34 fw-b fnt-head mb-2 mb-md-25">
                {{ 'onboard_customers' | translate }}
            </h1>
            <p class="lh-143 text-clr588 mb-45 mb-lg-475">{{ 'invite_mr_hrc_for_setup' | translate }}</p>
            <div class="row gutter-16">
                <div class="col-md-auto mb-3">
                    <button
                        class="dashboard-button d-flex align-items-center justify-content-between"
                        [routerLink]="['/features/roaster-quick-setup', OrgType.MICRO_ROASTER]"
                    >
                        <div class="d-flex align-items-center">
                            <img src="assets/images/group-19.svg" />
                            <span class="fnt-16 fnt-md-20 fw-m ml-2 mr-3 mr-md-45">{{
                                'micro_roasters' | translate
                            }}</span>
                        </div>
                        <img class="icon-img" src="assets/images/cta-arrow.svg" />
                        <img class="icon-img-filled" src="assets/images/cta-arrow-hover.svg" />
                    </button>
                </div>
                <div class="col-md-auto mb-3">
                    <button
                        class="dashboard-button d-flex align-items-center justify-content-between"
                        [routerLink]="['/features/roaster-quick-setup', OrgType.HORECA]"
                    >
                        <div class="d-flex align-items-center">
                            <img src="assets/images/group-7.svg" />
                            <span class="fnt-16 fnt-md-20 fw-m ml-2 mr-3 mr-md-45">{{
                                'roasted_coffee_customers' | translate
                            }}</span>
                        </div>
                        <img class="icon-img" src="assets/images/cta-arrow.svg" />
                        <img class="icon-img-filled" src="assets/images/cta-arrow-hover.svg" />
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
