@import 'variables';

.onboard-section {
    padding-bottom: 15rem !important;
}

.dashboard-button {
    height: 70px;
    width: 100%;
    border-radius: 6px;
    border: solid 1px $primary-border-color;
    background-color: $white;
    padding-left: 16px;
    padding-right: 20px;
    text-align: left;

    .icon-img,
    .icon-img-filled {
        width: 25px;
        height: 25px;
    }

    .icon-img-filled {
        display: none;
    }

    &:hover {
        border: solid 1px $primary-color;

        .icon-img {
            display: none;
        }
        .icon-img-filled {
            display: inline;
        }
    }
}

@media (max-width: 425px) {
    .dashboard-button {
        height: 56px;
        border-radius: 4px;
        padding-left: 16px;
        padding-right: 16px;
    }
}
