@import 'variables';

.onboard-section {
    padding-bottom: 15rem !important;
}

.dashboard-button {
    height: 70px;
    width: 100%;
    border-radius: 6px;
    border: solid 1px $primary-border-color;
    background-color: $white;
    padding-left: 28px;
    padding-right: 28px;
    text-align: left;

    .logo-img {
        bottom: 2px;
        position: relative;
    }

    .icon-img,
    .icon-img-filled {
        position: relative;
        top: 3px;
        width: 25px;
        height: 25px;
    }

    .icon-img-filled {
        display: none;
    }

    span {
        position: relative;
        @media (max-width: 767px) {
            top: 5px;
        }
    }

    &:hover {
        border: solid 1px $primary-color;

        .icon-img {
            display: none;
        }
        .icon-img-filled {
            display: inline;
        }
    }
}

@media only screen and (min-width: 991px) and (max-width: 1200px) {
    .dashboard-button {
        height: 70px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .logo-img {
        bottom: 6px;
        position: relative;
    }
}

@media (max-width: 425px) {
    .dashboard-button {
        height: 56px;
        border-radius: 4px;
        padding-left: 16px;
        padding-right: 16px;
    }
}
