.break-word {
    word-break: break-all;
}
.list-group-item {
    a {
        cursor: pointer;
    }
    &:hover {
        background-color: #f8f8f8;
        a {
            color: #232334 !important;
            text-decoration: none;
        }
    }
}
::ng-deep .deleteProductDiv .p-dialog .p-dialog-header {
    display: none;
}

@media (max-width: 1270px) and (min-width: 768px) {
    ::ng-deep .coffee-procured .p-datatable table {
        border-collapse: collapse;
        table-layout: fixed;
        width: 1100px !important;
    }

    ::ng-deep .coffee-procured .p-datatable {
        position: relative;
        overflow: auto !important;
        width: 100% !important;
    }
}
