<div class="mt-4">
    <p-dropdown
        [options]="originArray"
        [showClear]="true"
        optionLabel="name"
        optionValue="isoCode"
        [(ngModel)]="termOrigin"
        (onChange)="setOrigin()"
        scrollHeight="225px"
        placeholder="{{ 'all_origins' | translate }}"
        [autoDisplayFirst]="false"
        styleClass="round-border mr-2 mb-3 mb-md-4 {{ termOrigin ? 'highlight' : '' }}"
    ></p-dropdown>
    <p-dropdown
        [options]="statusItems"
        [showClear]="true"
        [(ngModel)]="termStatus"
        (onChange)="setStatus()"
        scrollHeight="225px"
        placeholder="{{ 'status' | translate }}"
        [autoDisplayFirst]="false"
        styleClass="round-border mr-2 mb-3 {{ termStatus ? 'highlight' : '' }}"
    ></p-dropdown>
    <div class="float-right mobile-lead">
        <p-dropdown
            [options]="displayItems"
            [showClear]="true"
            [(ngModel)]="display"
            (onChange)="setDisplay()"
            scrollHeight="225px"
            placeholder="Display"
            [autoDisplayFirst]="false"
            styleClass="round-border mb-3 {{ display ? 'highlight' : '' }}"
        ></p-dropdown>
    </div>
</div>

<!-- Primeng table for Marked for sale -->
<div class="coffee-procured">
    <p-table
        #markedTable
        [value]="primeTableService.records"
        [columns]="primeTableService._allColumns"
        [(selection)]="primeTableService.selectedRecords"
        dataKey="id"
        [rows]="primeTableService.rows"
        [showCurrentPageReport]="false"
        [loading]="primeTableService.loading"
        [paginator]="primeTableService.paginationValue"
        [lazy]="true"
        (onLazyLoad)="primeTableService.getData($event)"
        [totalRecords]="primeTableService.totalRecords"
        [responsive]="true"
        [scrollable]="isTablet$ | async"
        styleClass="mobile-card-view"
    >
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th
                    *ngFor="let col of columns"
                    [pSortableColumn]="col.sortable === true ? col.field : null"
                    [style.width]="col.width ? col.width + '%' : '30%'"
                >
                    <span>{{ col.header | translate }}</span>
                    <p-sortIcon *ngIf="col.sortable" [field]="col.field"> </p-sortIcon>
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td
                    *ngFor="let col of columns"
                    [ngSwitch]="col.field"
                    [style.width]="col.width ? col.width + '%' : '30%'"
                    (click)="onView(rowData)"
                >
                    <span *ngIf="col.field !== 'status'" class="p-column-title">{{ col.header | translate }}</span>
                    <span *ngSwitchDefault>
                        <span>{{ rowData[col.field] || '--' }}</span>
                    </span>

                    <ng-container *ngSwitchCase="'origin'">
                        <span>{{ rowData['origin'] | country }}</span>
                    </ng-container>

                    <ng-container *ngSwitchCase="'quantity'">
                        <span
                            class="d-flex"
                            tooltipStyleClass="custom-tooltip"
                            [pTooltip]="
                                rowData['quantity_count'] +
                                ' ' +
                                rowData['quantity_type'] +
                                ' / ' +
                                rowData['quantity'] +
                                ' kg'
                            "
                            tooltipPosition="top"
                        >
                            {{ rowData['quantity_count'] || 'NA' }}
                            <span *ngIf="rowData['quantity_count']">&nbsp;{{ rowData['quantity_type'] }}</span>
                        </span>
                    </ng-container>

                    <ng-container *ngSwitchCase="'status'">
                        <div class="d-flex justify-content-between">
                            <span>{{ rowData[col.field] | sentencecase }}</span>
                            <span class="d-md-none brown-cta" (click)="onView(rowData)">
                                {{ 'view' | translate }}
                            </span>
                        </div>
                    </ng-container>

                    <ng-container *ngSwitchCase="'actions'" class="text-center">
                        <div class="d-flex align-items-center">
                            <span class="brown-cta mr-3" (click)="onView(rowData)">{{ 'view' | translate }}</span>
                            <app-action-menu [menuItems]="getMenuItems(rowData)"></app-action-menu>
                        </div>
                    </ng-container>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <app-empty
                *ngIf="!primeTableService?.loading && !primeTableService?.records?.length"
                [title]="'no_data_available' | translate"
            ></app-empty>
        </ng-template>
    </p-table>
</div>
