.router-design {
    background-color: #f1f1f1;
    /* margin: 12rem 0rem 3rem 0rem; */
    /* padding-top: 12rem;
    padding-bottom: 1.5rem; */
}

.cursor-dots {
    cursor: pointer;
    color: #747588;
    font-family: Muli;
}

.cursor-dots:hover {
    text-decoration: none !important;
    color: #232334 !important;
}

.profile-name {
    cursor: pointer;
    position: relative;
    top: 5px;
}

.list-group-item {
    border: none;
    font-family: 'Muli';
    font-size: 12px;
    font-weight: 600 !important;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #747588 !important;
}

.list-group-item:hover {
    color: #232334 !important;
    font-weight: 600 !important;
    background-color: #f8f8f8;
    border-radius: 4px;
}

::ng-deep .popover-body {
    padding: .25rem .25rem !important;
}

.profile-pic {
    border-radius: 100%;
}

.mobile-farm {
    display: none !important;
}

@media (max-width: 767px) {
    .mobile-farm {
        display: block !important;
    }
}