/* Dashboard css */

.welcome-sec {
    border-radius: 4px;
    background-color: #ffffff;
    padding: 1rem;
    margin: 0rem 0rem 2rem 0rem;
}

.pink {
    /* background-image: linear-gradient(to top, #ffffff 106%, #faf8f4 -2%);*/
    background-color: #faf8f4;
    padding: 2.5rem 0rem;
}

.add-tem-butn {
    border-radius: 4px;
    background-color: #30855c;
    border: 1px solid #30855c;
    color: #FFFFFF;
    cursor: pointer;
    padding: 12px 24px;
}

.add-tem-butn:focus {
    outline: none !important;
}

.add-tem-butn:hover {
    /* background-color: #3d8462; 
    color:#fff; */
    box-shadow: 0 0 7px 1px rgba(67, 146, 108, 0.5);
}

.border-0 {
    border: 0px;
}

.create-txt {
    padding: 0 32%;
}

.black {
    color: #232334;
}

.pad-card {
    padding: 0px 83px 0px 0px;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem 1.25rem 2.5rem 1.25rem !important;
}

.light-gray {
    color: #747588;
}


/* media query */

@media (max-width: 767px) {
    .fnt-34 {
        font-size: 30px;
        line-height: 40px;
    }
    .create-txt {
        padding: 0 5%;
    }
}

@media (max-width: 480px) {
    .fnt-34 {
        font-size: 26px;
        line-height: 36px;
    }
    .create-txt {
        padding: 0 5%;
    }
    .pad-card {
        padding: 0px 10% 0px 0px;
    }
}