<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="welcome-sec p-md-2 p-1">
            <div class="text-center pink">
                <img src="assets/images/roaster-dashboard.svg" alt="welcome-illustration" class="" />
                <h1 class="fnt-34 black fnt-normal fnt-play mb-4">{{ globals.languageJson?.welcome_aboard }}!</h1>
                <ng-container *ngIf="welcomeBoardStatus === 0">
                    <p class="fnt-18 black fnt-700 fnt-muli mb-0">{{ globals.languageJson?.add_roles_team_members }}</p>
                    <p class="fnt-14 light-gray fnt-muli create-txt mb-4">
                        {{ globals.languageJson?.dashboard_text }}!
                    </p>
                    <div class="text-center">
                        <button
                            type="button"
                            class="btn cancel-butn fnt-14 fnt-600 fnt-muli"
                            (click)="welcomeBoardStatus = 1"
                        >
                            Skip
                        </button>
                        <button
                            type="button"
                            class="fnt-14 fnt-600 fnt-muli add-tem-butn"
                            routerLink="/team-management/create-role"
                        >
                            {{ globals.languageJson?.add_team_members }}
                        </button>
                    </div>
                </ng-container>
                <ng-container *ngIf="welcomeBoardStatus === 1">
                    <p class="fnt-18 black fnt-700 fnt-muli mb-0">Estate Profile</p>
                    <p class="fnt-14 light-gray fnt-muli create-txt mb-4">
                        Complete your roastery profile for users on the platform to view more about your compnay
                    </p>
                    <div class="text-center">
                        <button
                            type="button"
                            class="btn cancel-butn fnt-14 fnt-600 fnt-muli"
                            routerLink="/features/roaster-dashboard"
                        >
                            Skip
                        </button>
                        <button
                            type="button"
                            class="fnt-14 fnt-600 fnt-muli add-tem-butn"
                            routerLink="/team-management/create-role"
                        >
                            Completed Roastery Profile
                        </button>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-md-12">
        <h2 class="fnt-34 black fnt-normal fnt-play">{{ globals.languageJson?.complete_text }}...</h2>
        <div class="row mt-lg-3 mt-md-0">
            <div class="col-lg-4 col-md-4 col-sm-12 mt-md-1 mt-sm-3 mt-xs-3 hover-img">
                <div class="card border-0">
                    <img class="card-img-top" src="assets/images/selling-your-green-coffee.png" alt="Card image cap" />
                    <div class="card-body">
                        <h5 class="fnt-18 black fnt-700 fnt-muli">Selling your green coffee</h5>
                        <p class="fnt-14 light-gray fnt-muli pad-card">
                            Lorem ipsum dolor sit amet, consecte tur adipiscing . Explore estates and start sourcing
                            beans by your preference!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 mt-md-1 mt-sm-2 mt-xs-2 hover-img">
                <div class="card border-0">
                    <img class="card-img-top" src="assets/images/insights-experts.png" alt="Card image cap" />
                    <div class="card-body">
                        <h5 class="fnt-18 black fnt-700 fnt-muli">Get insights from experts</h5>
                        <p class="fnt-14 light-gray fnt-muli pad-card">
                            Lorem ipsum dolor sit amet, consecte tur adipiscing . Explore estates and start sourcing
                            beans by your preference!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 mt-md-1 mt-sm-2 mt-xs-2 hover-img">
                <div class="card border-0">
                    <img class="card-img-top" src="assets/images/community.png" alt="Card image cap" />
                    <div class="card-body">
                        <h5 class="fnt-18 black fnt-700 fnt-muli">Selling your green coffee</h5>
                        <p class="fnt-14 light-gray fnt-muli pad-card">
                            Lorem ipsum dolor sit amet, consecte tur adipiscing . Explore estates and start sourcing
                            beans by your preference!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
