.search-raised {
    width: 68%;
    height: 38px;
    background-color: #fff;
    background: url(/assets/images/search-user.png) no-repeat scroll 11px 11px;
    background-size: 16px 16px;
    padding-left: 41px;
    font-family: Muli;
    font-size: 14px;
    font-weight: normal;
    color: #232334;
    border-radius: 4px;
    border: solid 1px #d6d6d6;
    background-color: #ffffff;
    margin-left: 10px;
}

/* Popover css */

::ng-deep .popover-body {
    padding: 0.25rem 0.25rem !important;
}

::ng-deep .popover {
    border: none !important;
    border-radius: 5px !important;
    box-shadow: 0 0 17px 2px rgba(27, 27, 27, 0.08) !important;
    background-color: #ffffff;
    top: 4px !important;
}

::ng-deep .bs-popover-bottom .arrow:after {
    top: 0px !important;
}

.pointer-item {
    cursor: pointer;
}

.list-group-item {
    border: none;
    font-family: 'Muli';
    font-size: 12px;
    font-weight: 600 !important;
    color: #747588;
}

.list-group-item:hover {
    color: #232334;
    font-weight: 600 !important;
    background-color: #f8f8f8;
}

::ng-deep .productListTable .p-checkbox {
    margin-left: 0px;
}
::ng-deep .productListTable .p-datatable.p-datatable-hoverable-rows .p-datatable-tbody > tr:not(.p-highlight):hover {
    background: #ffffff;
}
.bord-profile {
    border-radius: 4px;
    border: solid 1px #d6d6d6;
}
@media screen and (max-width: 767px) {
    .filterLayout {
        margin-top: 1.5rem;
    }
    :host ::ng-deep .productListTable .p-datatable-tbody > tr > .nameMobileHeader {
        padding: 0px;
        width: 100% !important;
    }
    .mobileValueTxt {
        font-size: 14px !important;
    }
    .mobileCardBody {
        border-bottom: 1px dashed #d6d6d6;
        padding: 1rem 0px;
    }
    :host ::ng-deep .productListTable .p-datatable-tbody > tr > .cardBottom {
        margin-bottom: 14px;
        border-bottom: 1px solid #d6d6d6 !important;
    }
    :host ::ng-deep .productListTable .p-datatable .p-datatable-tbody > tr {
        border-bottom: 0px !important;
    }
    .borderCard {
        background-color: #f8f8f8;
        border: 1px solid #d6d6d6;
    }
    .productHeight {
        height: 138px !important;
    }
    .mobileCard {
        border-left: 1px solid #d6d6d6;
        border-right: 1px solid #d6d6d6;
        border-bottom: 1px solid #d6d6d6;
    }
    .editDiv {
        border: 1px solid #d6d6d6;
        padding: 20px 15px;
        margin-bottom: 1rem !important;
    }
    .bord-profile {
        border: none;
    }
}
