<div>
    <p class="fnt-16 fnt-md-18 fnt-bold text-clr334 mb-1 mb-md-2">{{ 'era_of_we_blog' | translate }}</p>
    <div class="row">
        <div
            *ngFor="let blog of blogs"
            class="col-md-6 col-lg-4 col-sm-12 mt-md-1 mt-sm-3 mt-xs-3 pl-md-3 pr-md-2 p-lg-3"
        >
            <app-blog-card
                [imgUrl]="blog.img_url"
                [title]="blog.title"
                [description]="blog.description | convertToShortDescription: 20"
                [link]="'/social-media/blog-details/' + blog.id"
            ></app-blog-card>
        </div>
    </div>
</div>
