.card {
  border: none;

  .card-img-top {
    border-radius: 0;
    img {
      width: 100%;
      height: auto;
      transition: all 1200ms;
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .card-body {
    .pad-card {
    }
  }
}
