<div class="main-block select-order">
    <div class="back-page" [routerLink]="['/dispute-system/raise-ticket/', orgType, orderId]">Back to ticket</div>

    <div class="row mt-4">
        <div class="col-8">
            <div class="primary_txt mb-2">Select an order</div>
            <div class="secondary_txt">Please select one ongoing order to raise a ticket for</div>
        </div>
        <div *ngIf="selectedOrder" class="col-4 d-none d-sm-none d-md-flex">
            <button class="btn btn-stroked ml-auto" [routerLink]="['/dispute-system/order-chat/', orderId]">
                {{ 'cancel' | translate }}
            </button>
            <button class="btn btn-raised ml-3" (click)="onContinue()">Continue</button>
        </div>
    </div>

    <div *ngIf="selectedOrder" class="d-flex d-sm-flex d-md-none">
        <button class="btn btn-stroked flex-grow-1" [routerLink]="['/dispute-system/order-chat/', orderId]">
            {{ 'cancel' | translate }}
        </button>
        <button class="btn btn-raised ml-3 flex-grow-1" (click)="onContinue()">Continue</button>
    </div>

    <div class="mt-475">
        <p-tabView [(activeIndex)]="currentIndex" (onChange)="onTabChange($event)">
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <span>Estate</span>
                </ng-template>
            </p-tabPanel>
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <span>Micro-roaster</span>
                </ng-template>
            </p-tabPanel>
        </p-tabView>
    </div>

    <div class="mt-4 mb-md-0 mb-4">
        <p-dropdown
            [options]="originArray"
            optionLabel="name"
            optionValue="isoCode"
            [(ngModel)]="originFilter"
            (onChange)="filterCall()"
            scrollHeight="225px"
            [showClear]="true"
            placeholder="Origin"
            styleClass="round-border mr-2 mb-3 mb-md-4 {{ originFilter ? 'highlight' : '' }}"
        >
        </p-dropdown>
        <p-dropdown
            [options]="statusTypeArray"
            optionLabel="label"
            optionValue="value"
            [(ngModel)]="statusFilter"
            (onChange)="filterCall()"
            scrollHeight="225px"
            [showClear]="true"
            placeholder="Type of order"
            styleClass="round-border mr-2 mb-3 mb-md-4 {{ statusFilter ? 'highlight' : '' }}"
        >
        </p-dropdown>
        <p-dropdown
            [options]="orderTypeArray"
            optionLabel="label"
            optionValue="value"
            [(ngModel)]="typeFilter"
            (onChange)="filterCall()"
            scrollHeight="225px"
            [showClear]="true"
            placeholder="Status"
            styleClass="round-border mr-2 mb-3 mb-md-4 {{ typeFilter ? 'highlight' : '' }}"
        >
        </p-dropdown>
        <p-calendar
            styleClass="only-icon"
            [(ngModel)]="rangeDates"
            [showIcon]="true"
            selectionMode="range"
            dateFormat="dd.mm.yy"
            (onClose)="filterCall()"
            [readonlyInput]="true"
            [showButtonBar]="true"
            placeholder="{{ 'date_range' | translate }}"
            styleClass="round-border"
        ></p-calendar>
        <p-dropdown
            [options]="displayArray"
            optionLabel="label"
            optionValue="value"
            [(ngModel)]="displayFilter"
            (onChange)="filterCall()"
            scrollHeight="225px"
            [showClear]="true"
            placeholder="Display"
            styleClass="round-border d-none d-sm-none d-md-flex float-right {{ displayFilter ? 'highlight' : '' }}"
        >
        </p-dropdown>
    </div>

    <p-table
        #myTable
        [value]="tableValue"
        [columns]="tableColumns"
        dataKey="id"
        [rows]="displayFilter"
        selectionMode="single"
        [(selection)]="selectedOrder"
        [showCurrentPageReport]="false"
        [paginator]="totalRecords > displayFilter"
        [rows]="displayFilter"
        [lazy]="true"
        (onLazyLoad)="filterCall($event)"
        [loading]="loading"
        [totalRecords]="totalRecords"
        [responsive]="true"
        [scrollable]="isTablet$ | async"
        styleClass="mobile-card-view"
    >
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [style.width]="col.width ? col.width + '%' : '30%'">
                    <span>{{ col.header | translate }}</span>
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td
                    *ngFor="let col of columns"
                    [ngSwitch]="col.field"
                    [style.width]="col.width ? col.width + '%' : '30%'"
                >
                    <span *ngIf="col.field !== 'id' && col.field !== 'checkbox'" class="p-column-title">{{
                        col.header | translate
                    }}</span>
                    <p-tableRadioButton *ngSwitchCase="'checkbox'" [value]="rowData"></p-tableRadioButton>
                    <ng-container *ngSwitchCase="'id'">
                        <span class="d-none d-md-block">{{ rowData[col.field] }}</span>
                        <div class="d-flex d-md-none justify-content-between align-items-center p-mobile-row-content">
                            <div class="d-flex">
                                <span class="fnt-bold">{{ 'order_id' | translate }} #{{ rowData[col.field] }}</span>
                                <span class="ml-3 fnt-600 status-badge" [ngClass]="rowData.type">{{
                                    rowData.type | orderType
                                }}</span>
                            </div>
                            <p-tableRadioButton [value]="rowData"></p-tableRadioButton>
                        </div>
                    </ng-container>
                    <span *ngSwitchCase="'estate_name'">{{ rowData[col.field] }} </span>
                    <span *ngSwitchCase="'created_at'">{{ rowData[col.field] | date: 'dd MMM yyyy' }}</span>
                    <span *ngSwitchCase="'price'"
                        >{{ rowData[col.field] | number: '1.2-4' }} {{ rowData.price_unit }}</span
                    >
                    <span *ngSwitchCase="'quantity'">
                        {{ rowData[col.field] }} {{ rowData['quantity_type'] | quantityType }}
                    </span>
                    <span *ngSwitchCase="'origin'">{{ rowData.origin | country }}</span>
                    <span *ngSwitchCase="'type'" class="fnt-600 status-badge" [ngClass]="rowData.type">{{
                        rowData.type | orderType
                    }}</span>
                    <span *ngSwitchCase="'status'">{{ rowData.status | sentencecase }}</span>
                    <span *ngSwitchDefault>
                        {{ rowData[col.field] }}
                    </span>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
