@import 'variables';
.back-href {
    color: #80460b;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

.back-href:hover .back-arrow-butn {
    -webkit-transform: translateX(-6px);
    -ms-transform: translateX(-6px);
    transform: translateX(-6px);
    -webkit-transition: all 0.6s cubic-bezier(0.2, 0.59, 0.21, 0.6);
    -o-transition: all 0.6s cubic-bezier(0.2, 0.59, 0.21, 0.6);
    transition: all 0.6s cubic-bezier(0.2, 0.59, 0.21, 0.6);
}
.tabPadding {
    margin-top: 40px !important;
}
.tableDataFont {
    font-family: Muli;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #232334;
}
::ng-deep .ui-table-disputes {
    border: 1px solid #d6d6d6;
}
.typeofStatus-booked {
    color: #649a2b;
}
.typeofStatus-sample {
    color: #f19634;
}
.typeofStatus-preBook {
    color: #979797;
}
.mobileNameDiv {
    background-color: #f8f8f8;
    margin: 4px;
    padding: 12px;
}
.mobileLable {
    color: #747588;
}
@media screen and (max-width: 767px) {
    ::ng-deep .ui-table-disputes {
        border: 0px;
    }
    .mobileNameDiv {
        background-color: #f8f8f8;
        margin: 4px;
        padding: 12px;
    }
    .mobileHeader {
        font-size: 14px !important;
    }
    .mobileLable {
        color: #747588;
    }
    .nameMobileHeader {
        padding: 0px !important;
    }
    ::ng-deep .orderTable .p-datatable.p-datatable-responsive .p-datatable-tbody > tr {
        padding: 0px;
    }
    ::ng-deep .orderTable .p-datatable.p-datatable-responsive .p-datatable-tbody > tr > td {
        border-bottom: 0px !important;
    }
    ::ng-deep .orderTable .p-datatable.p-datatable-responsive .p-datatable-tbody > tr > .mobileBorderClass {
        border-bottom: 1px dashed #d6d6d6 !important;
        padding: 1rem 1rem;
    }
    :host ::ng-deep .p-datatable-tbody > tr > .mobileBottom {
        padding: 1rem 1rem !important;
    }
}
