<section>
    <div class="main-block">
        <p-breadcrumb [model]="breadItems" styleClass="mb-25 mb-md-4"></p-breadcrumb>
        <div class="pt-3 d-md-flex justify-content-between align-items-start">
            <div class="mb-4">
                <h4 class="fnt-18 lh-normal fnt-700 text-clr334 mb-2 mb-md-25">
                    {{ globals.languageJson?.brand_profile }}
                </h4>
                <div class="fnt-mb-14 lh-normal fnt-normal text-clr588">
                    {{ globals.languageJson?.brand_profile_text }}
                </div>
            </div>
            <a class="btn-raised w-mob-100 mb-4" [href]="roasterSlug | roasterBrandLink" target="_blank">
                Edit on webpage
            </a>
        </div>
        <div class="divider mb-4"></div>
        <div class="row mb-4 pb-md-3 pt-md-3">
            <div class="col-md-6 mb-3 mb-md-0">
                <div class="fnt-14 lh-normal fnt-600 text-clr334 mb-2">
                    Permalink - Customise your brand profile url<span class="star">*</span>
                </div>
                <div class="fnt-14 lh-normal fnt-600 text-clrb1f">The chosen name can be subject to availability.</div>
            </div>
            <div class="col-md-6 d-flex flex-wrap align-items-center justify-content-lg-end">
                <div class="fnt-14 lh-normal fnt-600 text-clr334 w-mob-100 mb-2 mb-lg-0 mr-lg-3">
                    {{ '' | roasterBrandLink }}
                </div>
                <div class="sewn-form-field slug-input mr-3 mr-md-2 mb-0">
                    <input
                        type="text"
                        [(ngModel)]="slug"
                        placeholder="your-custom-name"
                        pInputText
                        [readonly]="roasterSlug"
                    />
                </div>
                <a *ngIf="!roasterSlug" class="btn-raised" (click)="updateSlug()">
                    {{ globals.languageJson?.save }}
                </a>
            </div>
        </div>
        <div class="divider mb-4 mb-md-45"></div>

        <div class="row gutter-20">
            <div *ngFor="let page of pages; index as i" class="col-md-6 col-lg-4 mb-3 mb-md-4 mb-lg-45">
                <div class="page-wrap d-flex flex-column" [class.small]="i < 3">
                    <p class="title-wrap text-clr334 mb-3 mb-md-25">{{ page.title }}</p>
                    <p class="fnt-mb-14 lh-normal fnt-600 text-clr588 mb-2 mb-md-4">{{ page.desp }}</p>
                    <div class="flex-fill">
                        <p *ngIf="page.slug === 'blog'" class="custom-chip">15 Blogs&nbsp;</p>
                    </div>
                    <button
                        type="button"
                        class="btn-stroked w-100 mb-md-3"
                        routerLink="/brand-profile/{{ page.slug }}"
                        *ngIf="
                            globals.checkItem('brand-profile-management') &&
                            globals.permissions['brand-profile-management'].manage
                        "
                    >
                        Go to {{ page.title }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
