<!-- TimeLine HTML code starts -->

<div *ngIf="harvestDetails && harvestDetails.length > 0" class="row progress-bar-tooltip pb-7">
    <div class="col-12 col-md-12 ">

        <div class="row">
            <div *ngFor="let item of harvestDetails" class="order-tracking completed mixups-track" id="gradedTimeline1">
                <div class="is-complete tooltips">
                    <p class="cup-score">{{item.final_score}}</p>
                    <p class="score-text">{{globals.languageJson?.cupping_score}}</p>
                </div>
                <p class="order-date mt-3">{{item.cupping_date | date : 'd MMM yyyy'}}</p>
                <p class="order-status mt-2"> Graded by {{item.evaluator_type}}</p>
                <p class="order-view" data-toggle="collapse" data-target="#estate" (click)="viewReport(item)">
                    {{globals.languageJson?.view_report}} </p>
            </div>
        </div>
    </div>
</div>

<div class="row  know-more-content">
    <div class="">
        <h4 class="transit-txt pb-2">{{globals.languageJson?.trying_best}} :)</h4>
        <p class="delivery pb-3"> {{globals.languageJson?.to_get_your_coffee}}.
        </p>
        <!-- <p class="delivery"> SEWN follow a unique grade scale to ensure there is no confusion with grading.</p> -->
        <!-- <a href="javascript:void(0)"> <span class="order-view">Know More > </span></a> -->
        <!-- <button class="btn know-more" type="button">Know more</button> -->


    </div>
    <!-- <div class="col-md-6">
        <div class="avg-per-cup mt-md-3">
            <i class="fa fa-coffee" aria-hidden="true"></i>
            <p class="avg-cup"> Average Per cup score</p>
            <p class="avg-cup"> 82.5</p>
        </div>
     
    </div> -->

</div>