
<!-- TimeLine HTML code starts -->

<div class="row progress-bar-tooltip pb-7">
    <div class="col-12 col-md-12 ">

        <div class="row">
            <div class="order-tracking completed mixups-track" id="gradedTimeline1">
                <span class="is-complete tooltips">
                        <p class="cup-score">82.5</p>
                        <p class="score-text">{{appLanguage.cupping_score}}</p>

                    </span>
                <p class="order-date mt-3">19 DEC 2019</p>
                <p class="order-status mt-2">{{appLanguage.grade_by_facilitator}}</p>
                <p class="order-view" data-toggle="collapse" data-target="#estate"> {{appLanguage.view_report}} </p>
                <!-- <div id="estate" class="collapse">
                    <p class="order-date">Before the green coffee is handed to the facilitator, series of test have been conducted by the estate to get an accurate score </p>
                    </div> -->
            </div>
            <div class="order-tracking  mixups-track" id="gradedTimeline2">
                <span class="is-complete tooltips">
                        <div *ngIf="prebookService.afterGradeComplete">
                            <p class="cup-score"   >82.5</p>
                            <p class="score-text" >{{appLanguage.cupping_score}}</p>
                        </div>
                    </span>
                <!-- <p class="order-date mt-3">20 JAN 2020</p> -->
                <div *ngIf="prebookService.afterGradeComplete">
                    <p class="order-date mt-3">20 JAN 2020</p>
                    <p class="order-status  mt-2">Order graded by Roaster</p>
                </div>
                <p class="order-status-incomplete  mt-2" *ngIf="prebookService.beforeGradeComplete">Order graded by Roaster</p>
                <p class="order-view" data-toggle="collapse" data-target="#facilitor"> {{appLanguage.view_report}} </p>
                <!-- <div id="facilitor" class="collapse">
                        <p class="order-date">The green coffee before being onboarded on the shippment is graded again to get the latest score </p>
                    </div> -->
            </div>
            <!-- <div class="order-tracking mixups-track">
                    <span class="is-complete "></span>
                    <p class="order-status-incomplete mt-3">Bulk graded</p> -->
            <!-- <p class="order-date"> To ensure that you has recieved the correct batch, you can grade the coffee before accepting the order</p> 
                </div> -->

        </div>
    </div>
</div>

<div class="row  know-more-content">
    <div class="">
        <h4 class="transit-txt pb-2">{{appLanguage.trying_best}} :)</h4>
        <p class="delivery pb-3"> {{appLanguage.to_get_your_coffee}}.
        </p>
        <!-- <p class="delivery"> SEWN follow a unique grade scale to ensure there is no confusion with grading.</p> -->
        <!-- <a href="javascript:void(0)"> <span class="order-view">Know More > </span></a> -->
        <!-- <button class="btn know-more" type="button">Know more</button> -->


    </div>
    <!-- <div class="col-md-6">
        <div class="avg-per-cup mt-md-3">
            <i class="fa fa-coffee" aria-hidden="true"></i>
            <p class="avg-cup"> Average Per cup score</p>
            <p class="avg-cup"> 82.5</p>
        </div>
     
    </div> -->

</div>
