<ng-container *ngIf="!needConfirmation; else confirmationDetails">
    <div class="w-100 h-100 border-ebebeb border-mobile tabs mx-0 pr-0 mt-3 mt-md-0 mb-2 mb-md-0">
        <p-tabView styleClass="mt-2" [(activeIndex)]="selectedTab">
            <p-tabPanel [header]="'order_details' | translate">
                <app-lot-details *ngIf="orgType" [lot]="order" [orgType]="orgType"></app-lot-details>
            </p-tabPanel>
            <p-tabPanel [header]="'documents' | translate" *ngIf="order?.order_type === OrderType.Booked">
                <app-documents></app-documents>
            </p-tabPanel>
            <p-tabPanel [header]="'grade_info' | translate">
                <app-grade-info [harvestId]="order?.harvest_id"></app-grade-info>
            </p-tabPanel>
            <p-tabPanel
                [header]="'shipping' | translate"
                *ngIf="order?.order_type === OrderType.Booked && orderShipped"
            >
                <app-shipping-details
                    [shippingDetails]="shippingDetails"
                    [bulk]="bulk$ | async"
                    [isFullyServicedDelivery]="order?.is_fully_serviced_delivery"
                ></app-shipping-details>
            </p-tabPanel>
        </p-tabView>

        <div class="have-a-problem" *appAclIf="'sourcing-management'">
            <button
                type="button"
                class="btn-raised"
                [routerLink]="['/dispute-system/raise-ticket', orgType, orderId]"
                [queryParams]="{ supportValue: 'Coffee Bulks' }"
                *ngIf="order?.status !== OrderStatus.Received && (!isMobile || (isMobile && selectedTab === 0))"
            >
                {{ 'have_a_problem' | translate }}
            </button>
        </div>
    </div>

    <div class="border-ebebeb m-0 mt-md-3" *ngIf="selectedTab === 0">
        <div class="row pb-md-7 flex-column-reverse flex-md-row">
            <div class="col-lg-7 col-md-7 col-sm-12 pr-lg-5 bulk-details-content">
                <app-bulk-details *ngIf="order?.order_type === OrderType.Prebook" [bulk]="bulk$ | async">
                </app-bulk-details>
                <app-availability-details
                    *ngIf="order?.order_type !== OrderType.Prebook"
                    [bulk]="bulk$ | async"
                    [estateId]="order?.estate_id"
                    [harvestId]="order?.harvest_id"
                >
                </app-availability-details>
            </div>

            <div class="col-lg-5 col-md-5 col-sm-12 pl-lg-4 mt-3 mt-md-0 payment-status-content mb-2">
                <app-order-payment-status
                    [order]="order"
                    [trackingUrl]="shippingDetails?.tracking_id || order?.tracking_link"
                ></app-order-payment-status>
            </div>
        </div>
    </div>
</ng-container>

<ng-template #confirmationDetails>
    <div class="border-ebebeb pr-0">
        <div class="fw-b fnt-18 text-clr334 mb-md-4">{{ 'order_details' | translate }}</div>
        <app-lot-details [lot]="order" [orgType]="orgType"></app-lot-details>
    </div>

    <div class="border-ebebeb mt-3">
        <div class="fw-b fnt-18 text-clr334">{{ 'delivery_details' | translate }}</div>
        <app-roaster-details
            [companyName]="roaster?.name"
            [rating]="roaster?.rating"
            [companyImageThumbnailUrl]="roaster?.companyImageThumbnailUrl"
            [userId]="roaster?.adminId"
            [estateId]="roaster?.id"
            [orderId]="orderId"
            orgType="es"
        ></app-roaster-details>
        <app-delivery-address [orderConfirmation]="true"></app-delivery-address>
    </div>
</ng-template>
