@import 'variables';
.page-wrapper {
    background: $white;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    min-height: 100vh;
    padding-bottom: 150px;
    .pr-45 {
        padding-right: 45px !important;
    }
    .preparation-sm {
        white-space: nowrap;
    }

    .visibility-hidden {
        visibility: hidden;
    }

    .ingredient-block {
        .ingredient-details {
            max-width: 313px;
            min-width: auto;
            margin: 16px 0 0;
            padding: 24px;
            border-radius: 4px;
            border: solid 1px $secondary-border-color;
            .saprator {
                margin: 16px 0;
                border-bottom: solid 1px $secondary-border-color;
            }
            .name {
                width: 150px;
                color: #636363;
                text-transform: capitalize;
            }
        }
    }
    .background-header {
        padding: 11px 15px;
        border-radius: 4px;
        background-color: $primary-bg-color;
    }
    .expertise-level-block {
        display: flex;
        align-items: center;
        padding: 24px;
        border-radius: 4px;
        background-color: $primary-bg-color;
        .expertise-level {
            font-family: Muli;
            font-size: 18px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: $general-text-color;
        }
        .expertise {
            font-family: Muli;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.57;
            letter-spacing: normal;
            color: #636363;
        }
    }

    .coffee-name {
        font-family: Muli;
        font-size: 18px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $general-text-color;
    }
    @media (max-width: 767px) {
        .ingredient-block {
            .ingredient-details {
                .name {
                    width: auto;
                }
            }
        }
    }

    @media (max-width: 768px) {
        padding-bottom: 0 !important;
        .expert-sm {
            border-bottom: solid 1px $primary-border-color;
            padding: 0 16px 16px 8px !important;
            white-space: break-spaces;
        }
        .preparation-sm {
            padding: 8px 0px 16px 8px !important;
            border-bottom: solid 1px $primary-border-color;
            white-space: break-spaces;
        }
        .serving-sm {
            padding: 8px 0px 16px 8px !important;
        }
        .expertise-level-block {
            flex-wrap: wrap;
            padding: 12px 22px !important;
        }
        .cooking-time {
            white-space: initial;
        }
    }
}
