.req-ratio {
    border-color: #d50000 !important;
}

.no-brew {
    color: #d50000 !important;
}

.min-hght {
    min-height: 70px;
}

::ng-deep .question-dropdown {
    @media (min-width: 768px) {
        width: 40% !important;
    }
}

::ng-deep .p-chips.p-category-chips .p-chips-multiple-container {
    background-color: transparent !important;
    border: 0px !important;
    box-shadow: none !important;
    padding-left: 0px;
    .p-chips-token {
        border-radius: 4px !important;
        background-color: #eaeaea;
        border-color: #eaeaea;
        color: #232334;
        padding: 10px 10px;
    }

    .p-chips-input-token {
        display: none;
    }
}
