@import 'variables';

.chart-block {
    border: solid 1px #ebebeb;
    @media (min-width: 768px) {
        border: none;
    }

    .total-stats {
        position: absolute;
        left: 50%;
        top: 120px;
        transform: translateX(-50%);
        line-height: 1.4;
    }
}

table th,
table td,
.header-row {
    border: none !important;
}

.table {
    .table-header {
        border-radius: 4px;
        background-color: #f8f8f8;
        th {
            font-family: $general-font-family;
            font-size: 14px;
            font-weight: $fw-b;
            color: #232334;
            padding: 14px 15px;
        }
    }

    tr {
        border-bottom: 1px dashed #d6d6d6;

        &:last-child {
            border-bottom-style: none;
            border-bottom-color: none;
        }
    }
    td {
        font-family: $general-font-family;
        font-size: 14px;
        font-weight: $fw-n;
        color: #232334;
        padding: 18px 15px;
    }
}

.ticket-status {
    text-transform: lowercase;
    &:first-letter {
        text-transform: uppercase;
    }
}

.order-card-item {
    padding: 7px 16px;
}

.order-card-item2 {
    margin: 0px 16px;
    padding: 15px 0;
}

.order-card-date {
    padding-bottom: 0px !important;
    margin-bottom: -4px !important;
    margin-top: 9px !important;
}
.dashed-br {
    border-bottom: 1px dashed #d6d6d6;
}

.fnt-md-84 {
    @media screen and (min-width: 768px) and (max-width: 992px) {
        font-size: 8.4px !important;
        line-height: normal !important;
    }
}

.fnt-md-12 {
    @media screen and (min-width: 768px) and (max-width: 992px) {
        font-size: 12px !important;
        line-height: normal !important;
    }
}

.fnt-md-14 {
    @media screen and (min-width: 768px) and (max-width: 992px) {
        font-size: 14px !important;
        line-height: normal !important;
    }
}

.fnt-md-16 {
    @media screen and (min-width: 768px) and (max-width: 992px) {
        font-size: 16px !important;
        line-height: normal !important;
    }
}

.fnt-16 {
    font-size: 16px;
    line-height: 20px;
}

.fnt-md-18 {
    font-size: 18px;
    line-height: 22px;
}
