::ng-deep .breadCrumb .p-breadcrumb ul {
    width: max-content;
}
.breadCrumb::-webkit-scrollbar {
    display: none !important;
}
/* Hide scrollbar for IE, Edge and Firefox */
.breadCrumb {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
