.file-share-search input[type='search'] {
    outline: 0;
    border: 0;
    background: none;
    font-size: 12px;
    font-weight: 600;
    color: #232334;
    font-family: 'Muli', sans-serif;
}

.file-share-search input[type='search']::placeholder {
    font-size: 12px;
    font-weight: 600;
    color: #747588;
    font-family: 'Muli', sans-serif;
}

.file-share-search {
    display: inline-block;
    border-radius: 4px;
    border: solid 1px #d6d6d6;
    background-color: #ffffff;
    padding: 5px 44px 5px 10px;
}
