@import 'variables';

.delete-wrap {
    padding-top: 40px;
}

.cert-header {
    padding: 13px 16px;
    @media (min-width: 992px) {
        padding: 13px 24px;
    }
}
.cert-add {
    position: relative;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border: solid 1px $muted-text-color;
    cursor: pointer;
    span {
        font-size: 20px;
        line-height: 24px;
        position: absolute;
        top: -2px;
    }
}
