<div class="create-role">
    <h4 class="primary_txt fnt-16 fnt-md-18 mb-0">{{ 'manage_permissions' | translate }}</h4>
    <p-tree
        [value]="permissionList"
        selectionMode="checkbox"
        [(selection)]="selectedPermission"
        (onNodeSelect)="change()"
        (onNodeUnselect)="change()"
        [filter]="true"
        filterPlaceholder="Search by role"
        [propagateSelectionUp]="false"
        [propagateSelectionDown]="false"
        expandedIcon="pi pi-angle-down"
        collapsedIcon="pi pi-angle-up"
    >
        <ng-template let-node pTemplate="default">
            <p class="fnt-14 fw-m lh-normal text-clr334">{{ node.label }}</p>
            <p class="fnt-14 fw-n lh-normal text-clr588 pt-2 mb-0" *ngIf="node.description">
                {{ node.description }}
            </p>
        </ng-template>
    </p-tree>
    <div class="clear"></div>
</div>
