<div class="row mb-3 mb-md-5">
  <div class="col-6 pr-1 pr-md-2">
    <div class="br-4 br-main notify-wrap h-100">
      <div class="row">
        <div class="col-12 col-md-3">
          <div class="notify-mark br-4 fnt-14 fnt-600 fnt-muli text-black334 mb-2">Dispute</div>
        </div>
        <div class="notify-content col-12 col-md-9">
          <p class="fnt-18 fnt-bold fnt-muli text-black334 mb-1 mb-md-2">New Dispute Raised!</p>
          <p class="fnt-14 fnt-normal fnt-muli text-gray588 mb-2 mb-md-4">
            Raised by Micro-Roster name for Order #{{ disputes.order_id }}
          </p>
          <a routerLink="/dispute" class="custom-link float-right float-md-left">See details</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 pl-1 pl-md-2">
    <div class="br-4 br-main notify-wrap h-100">
      <div class="row">
        <div class="col-12 col-md-3">
          <div class="notify-mark br-4 fnt-14 fnt-600 fnt-muli text-black334 mb-2">Messages</div>
        </div>
        <div class="notify-content col-12 col-md-9">
          <p class="fnt-18 fnt-bold fnt-muli text-black334 mb-1 mb-md-2">
            <span class="d-none d-md-inline">You have &nbsp;</span>
            5 new messages
          </p>
          <p class="fnt-14 fnt-normal fnt-muli text-gray588 mb-2 mb-md-4">See what your contacts have to say!</p>
          <a routerLink="/dispute" class="custom-link float-right float-md-left">Take me to messages</a>
        </div>
      </div>
    </div>
  </div>
</div>
