<div class="row mb-3 mb-md-5">
    <div class="col-6 pr-1 pr-md-2">
        <div class="br-4 br-main notify-wrap h-100">
            <div class="row">
                <div class="col-12 col-md-3">
                    <div class="notify-mark br-4 fnt-14 fnt-600 fnt-muli text-black334 mb-2" [class.active]="disputes">
                        Dispute
                    </div>
                </div>
                <div class="notify-content col-12 col-md-9">
                    <ng-container *ngIf="disputes; else noDispute">
                        <p class="fnt-18 fnt-bold fnt-muli text-black334 mb-1 mb-md-2">New Dispute Raised!</p>
                        <p class="fnt-14 fnt-normal fnt-muli text-gray588 mb-2 mb-md-4">
                            Raised by {{ disputes?.disputer_org_name || '' }} for Order #{{ disputes?.order_id || '' }}
                        </p>
                        <a routerLink="/dispute" class="arrow-link fnt-mb-14 float-right float-md-left">See details</a>
                    </ng-container>
                    <ng-template #noDispute>
                        <p class="fnt-18 fnt-bold fnt-muli text-black334 mb-1 mb-md-2">No Dispute Raised!</p>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 pl-1 pl-md-2">
        <div class="br-4 br-main notify-wrap h-100">
            <div class="row">
                <div class="col-12 col-md-3">
                    <div class="notify-mark br-4 fnt-14 fnt-600 fnt-muli text-black334 mb-2" [class.active]="messages">
                        Messages
                    </div>
                </div>
                <div class="notify-content col-12 col-md-9">
                    <ng-container *ngIf="messages.length; else noMessage">
                        <p class="fnt-18 fnt-bold fnt-muli text-black334 mb-1 mb-md-2">
                            <span class="d-none d-md-inline">You have </span>
                            {{ messages.length }} new messages
                        </p>
                        <p class="fnt-14 fnt-normal fnt-muli text-gray588 mb-2 mb-md-4">
                            See what your contacts have to say!
                        </p>
                        <a
                            (click)="openMessages()"
                            href="javascript:void(0)"
                            class="start-messaging arrow-link fnt-mb-14 float-right float-md-left"
                            >Go to messages</a
                        >
                    </ng-container>
                    <ng-template #noMessage>
                        <p class="fnt-18 fnt-bold fnt-muli text-black334 mb-1 mb-md-2">No Messages!</p>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
