<div class="card border-card mb-0 h-100">
    <div class="position-relative">
        <div class="overflow-hidden card-img-top">
            <img *ngIf="data.images?.length" [src]="data.images[0].url" alt="Green Coffee" />
            <img *ngIf="!data.images?.length" src="assets/images/empty.svg" alt="Empty" class="empty" />
        </div>
        <div class="cupping">
            <p>Cup score {{ data.cup_score || '-' }}</p>
        </div>
    </div>
    <div class="card-body d-flex flex-column">
        <h5 class="fnt-16 fnt-md-18 black fw-b mb-1 ellipsis">{{ data.name }}</h5>
        <div class="fnt-14 fnt-md-16 fw-m text-clr588 mb-3">{{ data.estate?.name || '-' }}</div>
        <div class="fnt-16 fnt-md-18 fw-b text-clr334">
            <span>{{ data.price * (sourcingSrv.quantityUnit == QuantityUnit.lb ? LBUNIT : 1) | number: '1.0-2' }}</span
            >&nbsp;<span>{{ data.price_unit }}/{{ sourcingSrv.quantityUnit }}</span>
        </div>
        <div class="pad-card flex-fill">
            <div class="d-flex flex-wrap">
                <div class="orgin-att">
                    <label class="fnt-12 fnt-md-14 text-clr588 mb-2">{{ 'origin' | translate }}</label>
                    <h6 class="fnt-14 fw-m text-clr334 ellipsis mb-0">
                        {{ data.lot?.country | country }}
                    </h6>
                </div>
                <div class="orgin-att">
                    <label class="fnt-12 fnt-md-14 text-clr588 mb-2">{{ 'species' | translate }}</label>
                    <h6 class="fnt-14 fw-m text-clr334 ellipsis mb-0">
                        {{ data.lot?.species[0] || 'NA' }}
                        {{ data.lot?.species?.length > 1 ? ' +' + (data.lot.species.length - 1) : '' }}
                    </h6>
                </div>
                <div class="orgin-att">
                    <label class="fnt-12 fnt-md-14 text-clr588 mb-2">{{ 'variety' | translate }}</label>
                    <h6 class="fnt-14 fw-m text-clr334 ellipsis mb-0">
                        {{ data.lot?.varieties[0] || 'NA' }}
                        {{ data.lot?.varieties?.length > 1 ? ' +' + (data.lot.varieties.length - 1) : '' }}
                    </h6>
                </div>
                <div class="orgin-att">
                    <label class="fnt-12 fnt-md-14 text-clr588 mb-2">{{ 'processing' | translate }}</label>
                    <h6 class="fnt-14 fw-m text-clr334 ellipsis mb-0">
                        {{ data.wetmilling_process_name || 'NA' }}
                    </h6>
                </div>
                <div class="orgin-att">
                    <label class="fnt-12 fnt-md-14 text-clr588 mb-2">{{ 'flavor' | translate }}</label>
                    <div *ngIf="data.flavours?.length" class="row gutter-12 v-gutter-8">
                        <div *ngFor="let flavour of data.flavours | slice: 0:3" class="col-auto">
                            <div class="custom-chip">
                                {{ flavour | flavour }}
                            </div>
                        </div>
                        <div *ngIf="data.flavours?.length > 3" class="col-auto d-flex align-items-center">
                            <span class="fw-m">+ {{ data.flavours?.length - 3 }}</span>
                        </div>
                    </div>
                    <h6 *ngIf="!data.flavours?.length" class="fnt-14 fw-m ellipsis mb-0">NA</h6>
                </div>
            </div>
        </div>
        <div class="solid-divider-de mb-3 mb-md-4"></div>
        <div class="fnt-14 fnt-md-16 fw-m text-clr588">
            {{ 'available_quantity' | translate }} :
            <span class="fw-b text-clr334">
                {{ data.quantity_count | number }}&nbsp;{{ data.quantity_type | quantityType }} of {{ data.quantity
                }}{{ data.quantity_unit }}
            </span>
        </div>
    </div>
</div>
