<div class="col-lg-12 px-2 px-md-0 pb-35 pb-md-0">
    <div class="payment-container bg-white">
        <div class="w-100 clearfix d-flex flex-column flex-md-row">
            <div class="d-flex flex-1 fnt-12 fnt-md-14 fw-m text-muted align-items-center">
                {{ 'mark_as_payment_done' | translate }}
            </div>

            <div class="row gutter-16 mt-3 mt-md-0">
                <div class="col col-md-auto order-2 order-md-1">
                    <button class="w-100 btn-raised px-1 px-lg-4 no-text-wrap" (click)="verifyPayment()">
                        {{ 'payment_recieved' | translate }}
                    </button>
                </div>
                <div *ngIf="!orderDetails?.payment_after_delivery" class="col col-md-auto order-1 order-md-2">
                    <button class="w-100 btn-raised px-1 px-lg-4 no-text-wrap" (click)="verifyPaymentAfterDelivery()">
                        {{ 'payment_after' | translate }}
                        <span class="d-none d-md-inline">{{ 'delivery' | translate }}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
