<div class="d-flex justify-content-between mb-4 mb-md-25">
    <p-breadcrumb [model]="breadItems"></p-breadcrumb>
    <a class="btn-raised d-none d-md-block" [href]="roasterSlug | roasterBrandLink: pageSlug" target="_blank">
        Edit on webpage
    </a>
</div>

<div class="d-flex justify-content-between align-items-md-end align-items-lg-start mb-4 mb-md-45">
    <div class="col-md-7 px-0">
        <h4 class="fnt-18 lh-normal fnt-700 text-clr334 mb-2 mb-md-25">
            {{ globals.languageJson[pageSlug] || pageSlug }}
        </h4>
        <div class="fnt-mb-14 lh-15 lh-md-normal fnt-normal text-clr588">
            {{ desp[pageSlug] }}
        </div>
    </div>
    <div class="d-none d-md-block">
        <a class="btn-stroked mr-25" [href]="roasterSlug | roasterBrandLink: pageSlug" target="_blank"> Preview </a>
        <button type="button" class="btn-raised" (click)="savePageData()">Save</button>
    </div>
</div>
<a class="btn-raised w-100 mb-3 d-md-none" [href]="roasterSlug | roasterBrandLink: pageSlug" target="_blank">
    Edit on webpage
</a>
