@import 'variables';

.layout-wrap {
    min-height: calc(100vh + 1px);
}

.nav-top1 {
    display: flex;
    align-items: center;
    height: $mobile-header-height;
    @media (min-width: 768px) {
        height: $tablet-header-height;
    }
    @media (min-width: 992px) {
        height: $desktop-header-height;
    }
}
.router-design.hide-footer-for-chat {
    padding-bottom: 0px !important;
}

.sidenav-hamberg {
    img {
        width: 24px;
        height: 24px;
    }
}

.router-design {
    background-color: $body-bg-color;
    padding-top: calc(#{$mobile-header-height + $mobile-page-pt});
    padding-bottom: 16px;
    @media (min-width: 768px) {
        padding-top: calc(#{$tablet-header-height + $tablet-page-pt});
    }
    @media (min-width: 992px) {
        padding-top: calc(#{$desktop-header-height + $desktop-nav-height + $desktop-page-pt});
        padding-bottom: $desktop-page-pb;
    }
}

.cursor-dots {
    cursor: pointer;
    color: $muted-text-color;
    font-family: $general-font-family;
}

.cursor-dots:hover {
    text-decoration: none !important;
    color: $general-text-color !important;
}

.profile-name {
    cursor: pointer;
    position: relative;
    top: 5px;
}

::ng-deep .popover-body {
    padding: 0.25rem 0.25rem !important;
}

.profile-pic {
    border-radius: 100%;
}

.mobile-farm {
    display: none !important;
}

@media (max-width: 767px) {
    .mobile-farm {
        display: block !important;
    }
}

:host >>> .ui-autocomplete .ui-autocomplete-input {
    padding: 0.429em;
    position: relative !important;
    top: -5px !important;
    left: -75% !important;
}

:host >>> .ui-autocomplete .ui-autocomplete-panel {
    left: -75% !important;
}

// notification popover
::ng-deep .popover {
    max-width: 414px !important;
}
.p-overlaypanel-content {
    padding: 4px !important;
}
.notification-header {
    background-color: $primary-bg-color;
    margin: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 12px;
}
.notification-body {
    max-height: 50vh;
    overflow: auto;
    .notifi-cotainer {
        cursor: pointer;
        &:hover {
            background-color: #f1f1f1;
        }
    }
}

.under-mark {
    font-size: 14px;
    font-weight: $fw-b;
    color: #80460b;
    text-decoration: underline;
}

.overflow-visible {
    overflow: visible !important;
}

::ng-deep {
    .p-overlaypanel {
        &.notification-overlay {
            width: 422px;
            left: -350px !important;
            top: 34px !important;
            --overlayArrowLeft: 340px !important;
            border-radius: 2px;
            border: none;
            box-shadow: 0 22px 34px 0 rgba(0, 0, 0, 0.08);
            .p-overlaypanel-content {
                padding: 0;
            }
            &:before {
                box-shadow: 0 22px 34px 0 rgb(0 0 0 / 8%);
                border-bottom-color: transparent;
            }
        }
        &.mobile-notification-overlay {
            background: #f1f1f1;
            width: 100%;
            position: fixed !important;
            display: block !important;
            top: 56px !important;
            box-shadow: none;
            border: none;
            &::before,
            &::after {
                display: none;
            }
            .p-overlaypanel-content {
                padding: 0;
                .notification-body {
                    max-height: calc(100vh - 160px);
                    min-height: calc(100vh - 160px);
                    padding: 18px 16px 0;
                    & > div {
                        background: #fff;
                        padding-top: 8px;
                    }
                    .notifi-cotainer {
                        padding: 8px 16px;
                    }
                }
            }
        }
    }
}

/* Footer Mobile */
.sectin-footer-mb {
    opacity: 0;
    pointer-events: none;
    display: block;
    visibility: visible;
    padding: 0;
    background: $white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 98;
    transition: 0.4s ease-in-out;

    &.show {
        opacity: 1;
        pointer-events: all;
    }

    @media (min-width: 768px) {
        display: none;
        opacity: 0;
        visibility: hidden;
    }

    .footer-links__item {
        position: relative;
        text-align: center;
        width: 20%;
        padding: 7px 0;
        @media (min-width: 350px) {
            padding: 10px 10px;
        }

        &.active {
            background: #eff6f2;

            img.active {
                display: block !important;
                opacity: 1 !important;
                visibility: visible !important;
            }

            img.in-active {
                display: none;
                opacity: 0;
                visibility: hidden;
            }

            p {
                color: $primary-color !important;
            }
        }

        img.active {
            display: none;
            opacity: 0;
            visibility: hidden;
        }

        a {
            text-decoration: none;

            &:hover {
                text-decoration: none;
            }

            img {
                width: 20px;
                height: 20px;
                object-fit: contain;
                margin-bottom: 2px;
            }
        }

        &:not(.active) .red-mark {
            position: relative;
            &::after {
                content: '';
                position: absolute;
                top: 2px;
                right: 2px;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: #e02f1f;
            }
        }
    }
}

.header-button {
    height: 38px;
    width: 38px;
    padding: 0;
    background: rgba(184, 184, 184, 0.11);
    box-shadow: none;
    border: none;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &:enabled.active {
        background: rgba(48, 133, 92, 0.08) !important;
    }

    &.red-mark {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            top: 2px;
            right: 2px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #e02f1f;
        }
    }

    & > img {
        display: none;
    }

    &:not(.active) img.in-active-icon {
        display: block;
    }
    &.active img.active-icon {
        display: block;
    }
}
