<div animateOnScroll animationName="fadeIn" class="animation-bounce-in-up">
  <p class="fnt-18 fnt-bold fnt-muli text-black334 mb-1 mb-md-2 d-none d-md-block">Recent activity</p>

  <div class="p-3 p-md-1 br-main br-4 h-100">
    <p class="fnt-14 fnt-bold fnt-muli text-black334 mb-1 mb-md-2 d-md-none">Recent activity</p>
    <div class="">
      <table *ngIf="recentActivities" class="table w-100 d-none d-md-block">
        <thead class="table-header">
          <tr class="header-row">
            <th>
              <label class="customcheckbox m-b-20">
                <input type="checkbox" id="mainCheckbox" [checked]="isAllChecked()" (change)="checkAll($event)" />
                <span class="checkmark"></span>
              </label>
            </th>
            <th>Activity</th>
            <th scope="col">Action taken by</th>
            <th scope="col">Date & Time</th>
          </tr>
        </thead>
        <tbody class="customtable">
          <tr class="ticket-boby-txt" *ngFor="let item of recentActivities.slice(0, 5)">
            <td>
              <label class="customcheckbox" (click)="checkOne(item)">
                <input
                  type="checkbox"
                  class="listCheckbox"
                  name="sizecb[]"
                  value="{{ item.id }}"
                  [(ngModel)]="item.state"
                />
                <span class="checkmark"></span>
              </label>
            </td>
            <td>{{ item.description }}</td>
            <td>{{ item.user_name }}</td>
            <td>{{ item.created_at | date: 'd MMM h:mm a' }}</td>
          </tr>
        </tbody>
      </table>

      <div class="d-md-none">
        <div *ngFor="let item of recentActivities.slice(0, 5)" class="d-flex activity-wrap">
          <div class="mr-2">
            <app-avatar [size]="36" [src]="item.profile_image" [name]="item.user_name"></app-avatar>
          </div>
          <div>
            <p class="fnt-12 fnt-bold fnt-muli text-gray588 mb-0">{{ item.created_at | date: 'd MMM h:mm a' }}</p>
            <p class="fnt-14 fnt-bold fnt-muli text-black334 mb-0">{{ item.user_name }}</p>
            <p class="fnt-12 fnt-600 fnt-muli text-gray588 mb-0">{{ item.organisation_name }}</p>
            <p class="fnt-14 fnt-600 fnt-muli text-black334 mb-2">{{ item.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
