.login {
    border-radius: 4px;
    box-shadow: 0 0 10px 4px rgba(27, 27, 27, 0.3);
    background-color: #ffffff;
    padding: 2.3rem 2.3rem 1.1rem 2.3rem;
}

.login_heading {
    font-family: PlayfairDisplay;
    font-size: 32px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 42px;
    letter-spacing: normal;
    color: #232334;
}

.login_para {
    font-family: Muli;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 28px;
    letter-spacing: normal;
    color: #747588;
}

.role-name {
    font-size: 13px;
    font-weight: 600;
    color: #232334;
    font-family: Muli;
}

.rectangle_name {
    height: 46px;
    border-radius: 2px;
    border: solid 1px #d6d6d6;
    background-color: #ffffff;
    font-size: 13px;
}

.remember {
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #232334;
    margin-top: 3px;
    margin-left: 5px;
}

.forgot {
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #3d8462;
}

.forgot:hover {
    color: #3d8462;
}

.login-butn {
    border-radius: 4px;
    background-color: #30855c;
    padding: 10px 11px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    height: 40px;
    border: #30855c;
}

.login-butn:focus {
    outline: 0;
    background-color: #30855c !important;
}

.login-butn:hover {
    background-color: #30855c;
    border: #30855c;
    box-shadow: 0 0 7px 1px rgba(67, 146, 108, 0.5);
}

.space-bottom {
    margin-bottom: 0.2px !important;
}

.mobile-change {
    display: none;
}

.confirmPasswordError,
.passwordError {
    color: #D50000;
    font-size: 12px;
}


/* common css responsive for login reset change password */

.loader {
    height: 17px;
    width: 17px;
    margin-left: 4px;
    margin-top: -4px;
}

@media only screen and (max-width: 767px) {
    .web-change {
        display: none !important;
    }
    .mobile-change {
        display: block !important;
        padding-top: 4rem !important;
    }
    .login {
        border-radius: 6px 6px 0px 0px;
        box-shadow: 0 0 10px 4px rgba(27, 27, 27, 0.3);
        background-color: #ffffff;
        padding: 2.3rem 2.3rem 1.1rem 2.3rem;
        height: calc(100vh - 93px);
    }
}

@media only screen and (max-width: 375px) {
    .login_heading {
        font-size: 28px;
    }
    .login_para,
    .remember,
    .forgot {
        font-size: 12px;
    }
}

@media only screen and (max-width: 320px) {
    .login_heading {
        font-size: 24px;
    }
    .login_para,
    .remember,
    .forgot {
        font-size: 10px;
    }
    .login {
        padding: 1rem;
    }
}


/*ends */