<div class="bg-fff">
    <nav role="navigation" aria-labelledby="title-breadcrumb-1" class="breadcrumb1 pt-4">
        <span id="title-breadcrumb-1" class="sr-only"></span>
        <ul class="bread-nav">
            <li class="b-cum">
                <a class="b-cum" routerLink="/features/welcome-aboard">Home</a><span class="padl-r" aria-hidden="true"><img class="group-img" src="/assets/images/arrow-1.png" alt=""> </span>
            </li>
            <li class="b-cum">
                <a class="b-cum" routerLink="/ordermanagement/myorders">Order management</a><span class="padl-r" aria-hidden="true"> <img class="group-img" src="/assets/images/arrow-1.png" alt="">
                </span>
            </li>

            <li class="b-cum c-pink">Micro-Roaster orders</li>

            <button type="submit" class="btn col-12 col-md-1 pull-right add-role-butn d-md-block d-none">Export</button>

        </ul>
    </nav>

    <section class="estate-orders-heading">
        <h5 class="estate-order-title">Micro-Roaster orders</h5>
    </section>


    <div class="row">
        <div class="mixups-tabs mt-3 pr-3 col-lg-12 col-md-12">
            <ul class="nav nav-pills mb-3 w-100" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-images-tab" data-toggle="pill" href="#pills-images" role="tab" aria-controls="pills-home" aria-selected="true">Orders</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="pills-videos-tab" data-toggle="pill" href="#pills-videos" role="tab" aria-controls="pills-profile" aria-selected="false">Requests</a>
                </li>
            </ul>

            <div class="tab-content mt-md-4" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-images" role="tabpanel" aria-labelledby="pills-images-tab">
                    <app-orders-table></app-orders-table>
                </div>

                <div class="tab-pane fade" id="pills-videos" role="tabpanel" aria-labelledby="pills-videos-tab">
                    <app-requests-table></app-requests-table>
                </div>

            </div>
        </div>
    </div>

</div>