.addImageContainer {
    background: #fff;
    height: 276px;
    position: relative;
    .cover-image {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    & > label {
        z-index: 1;
    }
    @media (max-width: 767px) {
        height: 256px;
    }
}

::ng-deep .p-disabled,
.p-component:disabled {
    background: #f8f8f8 !important;
}

::ng-deep .custom-hgt {
    .clipboard-img-p {
        display: block !important;
    }
    .clipboard-img-p:before {
        right: 0px;
        left: 0px;
        bottom: 0px;
    }
}

.custom-hgt {
    color: #676767;
    @media (min-width: 768px) {
        min-height: 357px;
    }
}

.copy-paste-button {
    position: absolute;
    bottom: 16px;
    right: 16px;
    cursor: pointer;
    @media (max-width: 767px) {
        bottom: 8px;
        right: 8px;
    }
}

.image-btn-group {
    position: absolute;
    right: 24px;
    top: 24px;
}
.mv-change-icon {
    position: absolute;
    right: 12px;
    top: 7px;
}

.border-right {
    @media (min-width: 768px) {
        border-right: 1px solid #e3e3e3;
    }
}

.border-mob {
    @media (max-width: 768px) {
        border: 1px solid #e3e3e3;
        border-radius: 0.25rem;
    }
}

.border-btm {
    border-bottom: 1px solid #d6d6d6;
}

::ng-deep .bg-tabView-artical .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link,
.p-tabview .p-tabview-nav li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
    background-color: rgba(48, 133, 92, 0.16) !important;
}
::ng-deep .bg-tabView-artical .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    padding: 18px 24px 18px 24px !important;
}

.swap-img {
    position: relative;
    bottom: 8px;
}

.button-list {
    margin: 0 4px 5px 0;
    padding: 7px 10px 8px;
    border-radius: 4px;
    background-color: #eaeaea;
    border: none;
    @media (min-width: 768px) {
        margin: 0 12px 0 0;
        padding: 10px 15px;
    }
}

.category-btn {
    margin: 5px 0px 0 0;
    padding: 8px 10px 8px 10px;
    border-radius: 4px;
    border: none;
    background-color: #eaeaea;
    @media (max-width: 768px) {
        margin: 0 12px 0 0;
        padding: 8px 10px 8px 10px;
    }
}

::ng-deep.p-component:disabled {
    opacity: 0.8;
}
