@import 'src/theme/styles/variables';

.flavor {
    white-space: nowrap;
    @media (min-width: 768px) {
        padding: 3px 3px 1px 10px;
        position: relative;
        &:before {
            content: '';
            width: 4px;
            height: 4px;
            background: $muted-text-color;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 43%;
        }
        &:first-of-type {
            padding: 3px 3px 1px 0px;
            &:before {
                display: none;
            }
        }
    }
    @media (max-width: 767px) {
        float: left;
        font-size: 12px;
        margin-bottom: 5px;
        padding: 3px 9px 1px 15px;
        font-weight: 600;
        margin-right: 5px;
        color: #747588;
        position: relative;
        border-radius: 11.5px;
        border: solid 0.5px #747588;
        &:before {
            content: '';
            width: 4px;
            height: 4px;
            background: #747588;
            border-radius: 50%;
            position: absolute;
            left: 6px;
            top: 43%;
        }
    }
}

agm-map {
    height: 425px;
    width: 100%;
}
