@import 'src/theme/styles/variables';

.flavor {
    white-space: nowrap;
    @media (min-width: 768px) {
        padding: 0 5px 0 0px;
        position: relative;
        &.with-dot {
            padding: 0 5px 0 12px;
            &:before {
                content: '';
                width: 4px;
                height: 4px;
                background: $muted-text-color;
                border-radius: 50%;
                position: absolute;
                left: 0;
                top: 7px;
            }
        }
    }
}

.real-estate {
    margin-bottom: 20px;
    h6 {
        margin-bottom: 8px;
    }
}

agm-map {
    height: 425px;
    width: 100%;
}
