<!--All accounts body with search-->
<section>
    <div class="container sewn-container section-head-pad">
        <div class="chat-accounts__body active mobile-farm">
            <div class="search-account">
                <div class="chat-profile  no-image clearfix">
                    <div class="chat-profile__name d-inline-block">
                        <h5 class="name-notifi ">Notifications</h5>

                    </div>
                </div>

            </div>

            <div class="chat-accounts__name">

                <!--Account-->
                <div class="clearfix account umesh">
                    <div class="d-inline-block profile-pic">
                        <img class="profile-pic__item" src="assets/images/ft-roastry-profile.png">
                        <span class="live-account"></span>
                    </div>
                    <div class="chat-profile clearfix">
                        <div class="chat-profile__name d-inline-block">
                            <h5 class="name">Order confirmed by Estate</h5>
                            <span class="status">Luis Stanley</span>
                        </div>
                        <div class="chat-profile__time d-inline-block">
                            <span>12:44</span><span>pm</span>
                        </div>

                    </div>
                </div>

                <!--Account-->
                <div class="clearfix account vijay">
                    <div class="d-inline-block profile-pic">
                        <img class="profile-pic__item" src="assets/images/dm-profile.png">
                        <span class="offline-account"></span>
                    </div>
                    <div class="chat-profile clearfix">
                        <div class="chat-profile__name d-inline-block">
                            <h5 class="name">You’ve been invited to cup this coffee</h5>
                            <span class="status">Luis Stanley</span>
                        </div>
                        <div class="chat-profile__time d-inline-block">
                            <span>1:25</span><span>pm</span>
                        </div>
                    </div>
                </div>

                <!--Account-->
                <div class="clearfix account dinesh">
                    <div class="chat-profile  no-image clearfix">
                        <div class="chat-profile__name d-inline-block">
                            <h5 class="name">New Coffee request</h5>
                            <span class="status">Micro Roaster</span>
                        </div>
                        <div class="chat-profile__time d-inline-block">
                            <span>2.30</span><span>pm</span>
                        </div>
                    </div>
                </div>

                <!--Account-->
                <div class="clearfix account dinesh">
                    <div class="chat-profile no-image  clearfix">
                        <div class="chat-profile__name d-inline-block">
                            <h5 class="name">Coffee Harvested</h5>
                            <span class="status">Finca La Pampa</span>
                        </div>
                        <div class="chat-profile__time d-inline-block">
                            <span>12:44</span><span>am</span>
                        </div>

                    </div>
                </div>

                <!--Account-->
                <div class="clearfix account vijay">
                    <div class="d-inline-block profile-pic">
                        <img class="profile-pic__item" src="assets/images/dm-profile.png">
                        <span class="offline-account"></span>
                    </div>
                    <div class="chat-profile clearfix">
                        <div class="chat-profile__name d-inline-block">
                            <h5 class="name">New message for Order #1..</h5>
                            <span class="status">Luis Stanley</span>
                        </div>
                        <div class="chat-profile__time d-inline-block">
                            <span>1:25</span><span>pm</span>
                        </div>
                    </div>
                </div>




            </div>
        </div>
    </div>
</section>