@import 'variables';

.generated-key-detail-container {
    padding: 32px 48px;
    border-radius: 4px;
    background-color: #ffffff;

    .breadCrumb-block {
        padding-bottom: 24px;
    }

    .note {
        white-space: pre;
    }

    .note-heading {
        display: flex;
        padding: 16px 0 32px 0;
    }

    .delivery__body .pl-16 {
        padding-left: 16px;
    }

    .delivery__body .key-activate-block {
        padding: 0 0 16px 16px;
    }

    tr {
        cursor: inherit;
    }

    th {
        font-family: $general-font-family;
        font-size: 14px;
        font-weight: bold !important;
        color: #232334;
        padding-right: 1.9rem;
    }

    .table thead th {
        border-bottom: none !important;
        border-top: none !important;
        padding-left: 1.9rem;
    }

    .table tbody td {
        padding-top: 24px;
        padding-bottom: 15px;
    }

    .table th,
    .table td {
        border-top: none !important;
    }

    td {
        font-family: $general-font-family;
        font-size: 14px;
        font-weight: $fw-m;
        color: #232334;
    }

    .table {
        margin: 0 !important;
    }

    .express__delivery {
        border-radius: 4px;
        border: 1px solid #d6d6d6;
        padding: 5px;
    }

    .delivery__head {
        border-radius: 4px;
        background-color: #f8f8f8;
        padding: 12px 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .border-none {
        border-top: none !important;
    }

    .key-border {
        border-bottom: 1px dashed #dddddd;
        border-top: 1px dashed #dddddd;
    }

    .lot-table tr,
    .key-border {
        border-bottom: 1px dashed #dddddd;
        border-top: 1px dashed #dddddd;
    }

    .lot-table tr:last-child {
        border-bottom: none;
    }

    .generate-border {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
        border-radius: 4px;
        border: solid 1px #ebebeb;
        background-color: #ffffff;
    }

    /* togggle */
    .active__main {
        border-radius: 4px;
        border: solid 1px #d6d6d6;
        padding: 2px;
    }

    .delivery__body {
        padding-top: 25px;
    }

    .active_class {
        height: 30px;
        padding: 4px 16px;
        font-size: 14px;
        border-radius: 4px !important;
        font-family: $general-font-family;
        font-weight: $fw-m;
    }

    .active_default {
        background-color: #3d8462;
        color: #fff !important;
        @extend .active_class;
    }

    .disable_default {
        background-color: #ffffff;
        color: #979797;
        @extend .active_class;
    }

    @media (min-width: 768px) {
        .mobile-delete-key {
            display: none;
        }

        .delete-key {
            display: block;
        }
    }

    @media screen and (max-width: 475px) {
        .key-active {
            float: left !important;
            padding: 0 16px 16px 16px;
        }
    }

    @media screen and (max-width: 767px) {
        .generate-border {
            flex-direction: column;
            align-items: center;
            align-items: initial;

            .save {
                margin-top: 18px;
            }
        }

        .key-active {
            padding: 0 16px 16px 16px;
        }

        padding: 16.5px 16px;

        .mobile-delete-key {
            display: block;
        }

        .delete-key {
            display: none;
        }
    }
}

@media (max-width: 991px) {
    .generated-key-detail-container {
        padding: 24px 16px;
    }
}
