<h4 class="fnt-18 fnt-bold text-clr334">{{ 'availability_details' | translate }}</h4>

<table class="recent-time w-100 mb-2">
    <tr>
        <td>
            <span class="list-que"> {{ 'availability_name' | translate }}: </span>
        </td>
        <td>
            <span class="list-ans">{{ bulk?.name || '-' }}</span>
        </td>
    </tr>
    <tr>
        <td>
            <span class="list-que"> {{ 'flavor_profile' | translate }}: </span>
        </td>
        <td>
            <span class="list-ans">{{ (bulk?.flavours.join(', ') | titlecase) || '-' }}</span>
        </td>
    </tr>
    <tr>
        <td>
            <span class="list-que"> {{ 'listing_status' | translate }}: </span>
        </td>
        <td>
            <span class="list-ans">{{ (bulk?.listing_status | sentencecase) || '-' }}</span>
        </td>
    </tr>
    <tr>
        <td>
            <span class="list-que"> {{ 'processing' | translate }}: </span>
        </td>
        <td>
            <span class="list-ans">{{ (bulk?.wet_milling?.process | sentencecase) || '-' }}</span>
        </td>
    </tr>

    <tr>
        <td>
            <span class="list-que"> {{ 'type' | translate }}: </span>
        </td>
        <td>
            <span class="list-ans"> {{ bulk?.type | sentencecase }} </span>
        </td>
    </tr>

    <tr>
        <td>
            <span class="list-que"> {{ 'species' | translate }}: </span>
        </td>
        <td>
            <span class="list-ans"> {{ bulk?.species | sentencecase }} </span>
        </td>
    </tr>

    <tr>
        <td>
            <span class="list-que"> {{ 'quality_grade' | translate }}: </span>
        </td>
        <td>
            <span class="list-ans"> {{ bulk?.dry_milling?.quality_grade }} </span>
        </td>
    </tr>

    <tr>
        <td>
            <span class="list-que"> {{ 'packaging' | translate }}: </span>
        </td>
        <td>
            <span class="list-ans"> {{ (bulk?.packaging | sentencecase) || '-' }} </span>
        </td>
    </tr>

    <tr>
        <td>
            <span class="list-que"> {{ 'water_activity' | translate }}: </span>
        </td>
        <td>
            <span class="list-ans"> {{ (bulk?.water_activity | sentencecase) || '-' }} </span>
        </td>
    </tr>

    <tr>
        <td class="no-border">
            <span class="list-que"> {{ 'ico' | translate | uppercase }}: </span>
        </td>
        <td class="no-border">
            <span class="list-ans"> {{ bulk?.ico_number || '-' }} </span>
        </td>
    </tr>
</table>
