<section>
    <div class="bg-fff">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <p-breadcrumb [model]="breadItems" styleClass="mb-3 mb-md-4"></p-breadcrumb>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-12">
                <p class="fnt-18 fnt-muli fnt-700 text-clr334 m-0">Product Settings</p>
                <p class="fnt-14 fnt-muli fnt-400 text-clr588">
                    Set-up your billing details, terms and conditions of use, privacy and cookie policies here
                </p>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-md-3 col-xs-12 mb-3">
                <p-listbox [options]="options" [(ngModel)]="selectedTab" optionLabel="name" (onClick)="selectTabs()">
                    <ng-template let-option pTemplate="item">
                        <div class="d-flex">
                            <div>{{option.name}}</div>
                            <i class="selectedMenu fa fa-angle-right"></i>
                        </div>
                    </ng-template>
                </p-listbox>
            </div>
            <div class="col-md-9 col-xs-12">
                <div class="row">
                    <div *ngIf="selectedTab.index == 0">
                        <div class="col-lg-12 col-md-12">
                            <p-tabView styleClass="pb-4" [(activeIndex)]="selectedIndex">
                                <p-tabPanel header="Micro roaster">
                                    <div class="pt-3">
                                        <app-vat-micro-roaster> </app-vat-micro-roaster>
                                    </div>
                                </p-tabPanel>
                                <p-tabPanel header="B2B e-commerce">
                                    <div class="pt-3">
                                        <app-vat-b2b> </app-vat-b2b>
                                    </div>
                                </p-tabPanel>
                            </p-tabView>
                        </div>
                    </div>
                    <div class="col-12" *ngIf="selectedTab.index == 1">
                        <div class="row ml-0">
                            <div class="pls-note col-12" *ngIf="saveshippingmode">
                                <p class="fnt-13 fnt-400 fnt-muli text-clr334 m-0">
                                    The shipping price & estimated delivery time you set will be applicable to all green coffee and roasted coffee
                                    you sell on the platform.
                                </p>
                            </div>
                            
                            <div class="col-md-12 Onboard-rows">
                                <div class="Onboard-rows__inputs pt-5" *ngIf="saveshippingmode">
                                    <div class="row">
                                        <div class="col-12 col-md-4 Onboard-input">
                                            <label class="fnt-14 fnt-muli fnt-600 text-clr334">Shipping type *</label>
                                            <input class="w-100" type="text" placeholder="Please enter shipping name" name="transcation_type"
                                                [(ngModel)]="shippingName" name="this.shippingName" />
                                        </div>
                                    </div>
                            
                                    <div class="row">
                                        <div class="col-12 col-md-4 Onboard-input">
                                            <div class="form-input">
                                                <label class="fnt-14 fnt-muli fnt-600 text-clr334">Shipping Price<span>*</span></label>
                                                <div class="input-group">
                                                    <input type="text" placeholder="Please enter shipping amount"
                                                        class="form-control input-group-right-border" aria-label="Text input with dropdown button"
                                                        name="shippingPrice" [(ngModel)]="this.shippingPrice" />
                                                    <div class="input-group-append">
                                                        <select name="Year" required=""
                                                            class="form-control select-region select-form-group-dropdown select-region-local">
                                                            <option value="USD">USD</option>
                                                            <option value="USD" ng-reflect-value="Yes">USD</option>
                                                            <!-- <option value="per mkg" ng-reflect-value="No">per mkg</option> -->
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                            
                                        <div class="col-12 col-md-4 Onboard-input">
                                            <div class="form-input">
                                                <label class="fnt-14 fnt-muli fnt-600 text-clr334">Estimated delivery time<span>*</span></label>
                                                <div class="input-group">
                                                    <input type="text" placeholder="" class="form-control input-group-right-border"
                                                        aria-label="Text input with dropdown button" name="dayMin" [(ngModel)]="this.dayMin" />
                                                    <div class="input-group-append">
                                                        <span name="Year" required=""
                                                            class="form-control select-region select-form-group-dropdown select-region-local select-arrow-no">
                                                            <option value="USD">days</option>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                            
                                        <div class="col-12 col-md-4 Onboard-input">
                                            <div class="form-input">
                                                <label class="fnt-14 fnt-muli fnt-600 text-clr334">Estimated delivery time<span>*</span></label>
                                                <div class="input-group">
                                                    <input type="text" placeholder="" class="form-control input-group-right-border"
                                                        aria-label="Text input with dropdown button" name="dayMax
                                                                                    " [(ngModel)]="this.dayMax" />
                                                    <div class="input-group-append">
                                                        <span name="Year" required=""
                                                            class="form-control select-region select-form-group-dropdown select-region-local select-arrow-no">
                                                            <option value="USD">days</option>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button type="button" class="fnt-14 fnt-muli fnt-700 send-invites edit-right" (click)="saveShippingInfo()"
                                            [disabled]="resetButtonValue === 'Saving'">
                                            {{ resetButtonValue}}
                                            <img class="loader" *ngIf="resetButtonValue === 'Saving'" src="assets/images/orange-loader.gif" />
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- after save -->

                        <div class="col-12" *ngIf="editshippingmode && shippData != null">
                            <div class="pls-note col-12">
                                <p class="fnt-13 fnt-400 fnt-muli text-clr334 m-0">
                                    This information will be used for all orders placed on the platform by the Roasters
                                    and Micro roasters.
                                </p>
                            </div>
                            <div class="shipping-border col-12 mt-4">
                                <table class="shipping-time col-12">
                                    <tr>
                                        <td><span class="list-que"> Shipping name : </span></td>
                                        <td>
                                            <span class="list-ans"> {{ this.shippingName }} </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span class="list-que"> Shipping price : </span></td>
                                        <td>
                                            <span class="list-ans"> $ {{ this.shippingPrice }} </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span class="list-que"> Estimated delivery time : </span></td>
                                        <td>
                                            <span class="list-ans"> {{ this.dayMin }} - {{ this.dayMax }} days </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <div class="col-12 mt-3">
                                <button
                                    type="button"
                                    class="fnt-14 fnt-muli fnt-700 send-invites edit-right"
                                    (click)="editShippingInfo()"
                                >
                                    Edit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>