/* direct messaging css starts here */

/* .mt-chat {
    margin-top: -11rem;
} */
.chat {
    border-radius: 4px;
    position: fixed;
    right: -200%;
    width: 100%;
    /* top: 0;
    height: 100vh; */
    bottom: 0px;
    transition: 0.4s ease-in-out;
    z-index: 10;
    overflow: hidden;
}

@media (max-width: 767px) {
    .chat {
        width: 100% !important;
        top: 0;
        height: 100vh;
        z-index: 99;
    }
}

/* @media (min-width: 768px) {
    .chat {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .chat {
        width: 960px;
    }
}

@media (min-width: 1200px) {
    .chat {
        width: 1140px;
    }
}

@media (min-width: 1280px) {
    .chat {
        width: 1240px;
    }
} */

.chat.open {
    right: 0 !important;
}

.chat-box {
    width: 100%;
    height: 100vh;
    box-shadow: 0 10px 9px 0 rgba(233, 233, 233, 0.5);
    background-color: #ffffff;
    font-family: 'Muli', sans-serif;
    overflow: hidden;
    float: right;
    border-left: 1px solid #dedede;
}

.chat-head {
    padding: 18px 25px;
    border-bottom: 1px solid #dedede;
    display: none;
    opacity: 0;
    visibility: hidden;
}

.expand-active {
    left: 0px;
    box-shadow: 0 10px 9px 0 rgba(233, 233, 233, 0.5);
    // padding: 0px;
    background-color: #ffffff;
}

.expand-active .live-caht__head {
    border-top: 0 !important;
}

.expand-active .chat-accounts .live-chat {
    display: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
}

.expand-active .chat-accounts .chat-accounts__body {
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
}

.expand-active .chat-head {
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
}
.chat-inputs {
    border: 1px solid #d6d6d6;
    border-radius: 4px;
}
.expand-active {
    .messag-form {
        padding: 10px 34px;
        .chat-inputs {
            padding: 5px 10px !important;
            display: flex;
            align-items: center;
            min-height: 48px;
            .chat-inputs__img {
                margin: 0px;
            }
            .chat-inputs__text {
                line-height: 22px;
                width: calc(100% - 45px);
            }
        }
    }
    .live-chat-message-body__text {
        width: calc(100% - 44px);
        margin: 5px 22px;
    }
}
.collapse-chat {
    .chat-inputs {
        padding: 10px 15px;
        display: flex;
        min-height: 85px;
        .chat-inputs__img {
            margin: 5px 0px 0px 0px;
        }
        .chat-inputs__text {
            width: calc(100% - 5px);
            line-height: 22px;
        }
    }
    .live-chat-message-body__text {
        width: calc(100% - 15px);
        margin: 5px 0;
    }
}

.expand-active .chat-inputs .send-message {
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
}

.expand-active .send-message {
    display: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
}

.chat-title {
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    color: #232334;
    display: inline-block;
    padding-right: 10px;
    margin: 0;
}

.chat-control {
    float: right;
    display: inline-flex;
    align-items: center;
}

.chat-body__expand .live-chat {
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
}

.chat-body__expand .back-to-accounts {
    display: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
}

.img-container {
    display: none;
    position: absolute;
    bottom: 120%;
    left: 15px;
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.img-container .img-container__remove {
    cursor: pointer;
}

.img-container img {
    object-fit: cover;
    width: 100% !important;
    height: 100% !important;
}

.chat-accounts__name {
    height: calc(100% - 130px);
    overflow-y: auto;
}

.chat-accounts__name::-webkit-scrollbar {
    display: none;
}

.chat-control__expand {
    width: 30px;
    height: 30px;
    display: none;
    border-radius: 2px;
    border: solid 1px #747588;
    padding: 5px;
    position: relative;
    cursor: pointer;
    pointer-events: all;
}

.chat-control__close {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: 15px;
    border-radius: 2px;
    border: solid 1px #747588;
    padding: 5px;
    position: relative;
    cursor: pointer;
    pointer-events: all;
}

.chat-control__expand img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.chat-control__close img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.chat-accounts__head {
    padding: 15px 25px;
    position: relative;
}
.thread-block {
    padding: 22px 17px 0px 32px;
    &.activate_account {
        background-color: #f8f8f8;
        .chat-profile {
            border: none;
        }
    }
}
.user-list-padding {
    padding: 20px;
    .chat-accounts__name {
        padding: 10px 20px;
    }
}

.chat-accounts__body {
    display: none;
    opacity: 0;
    visibility: hidden;
    // padding: 10px 25px 25px 25px;
}

.chat-accounts__body.active {
    display: block;
    opacity: 1;
    visibility: visible;
}

.search-account__input {
    width: 85%;
    outline: 0;
    float: right;
    border: 0;
    top: 4px;
    position: relative;
}

.search-account {
    border-radius: 4px;
    border: solid 1px #d6d6d6;
    background-color: #ffffff;
    padding: 5px;
    margin: 10px 25px 10px 25px;
}

.search-account__input::placeholder {
    font-size: 14px;
    color: #747588;
    font-weight: 600;
}

.d-inline-block {
    display: inline-block;
}

.name {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #232334;
    font-weight: 700;
}

.status {
    font-size: 12px;
    /* line-height: 22px; */
    color: #747588;
    font-weight: 600;
    display: inline-block;
}

.expand-active .status {
    color: #747588 !important;
}

.expand-active .last-seen {
    display: inline-block;
    visibility: visible;
    margin-left: 10px;
    padding-left: 5px;
    position: relative;
}

.expand-active .last-seen::before {
    position: absolute;
    content: '';
    top: 50%;
    left: -4px;
    width: 1px;
    height: 11px;
    opacity: 0.6;
    transform: translateY(-50%);
    background-color: #747588;
}

.chat-profile {
    width: 83%;
    float: right;
    border-bottom: 1px solid #dedede;
    padding: 0 0 15px 5px;
}

.account {
    margin-top: 8px;
    cursor: pointer;
}

.chat-profile__time {
    float: right;
}

.chat-messaged {
    margin: 8px 0 0 0;
}

.chat-profile__name {
    width: 100%;
}
.chat-profile__name .chat-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 4px 0px;
}

.chat-messaged__text {
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    color: #232334;
    margin: 0;
    padding-right: 5px;
    width: 85%;
    display: inline-block;
}

.chat-messaged__total {
    float: right;
    font-size: 10px;
    font-weight: 600;
    color: #ffffff;
    width: 20px;
    height: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #232334;
}

.chat-profile__time span {
    font-size: 12px;
    font-weight: 600;
    color: #979797;
}

.profile-pic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
}

.live-account {
    position: absolute;
    top: 0;
    right: -2px;
    width: 12px;
    height: 12px;
    border: solid 2px #ffffff;
    border-radius: 50%;
    background-color: #55912d;
}

.offline-account {
    position: absolute;
    top: 0;
    right: -2px;
    width: 12px;
    height: 12px;
    border: solid 2px #ffffff;
    border-radius: 50%;
    background-color: #747588;
}

.profile-pic__item {
    width: 100%;
    height: 100%;
}
.profile-pic__item.bg-profile {
    background-image: url(~/images/profile.svg~);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    display: inline-block;
}

.live-account-profile {
    width: 100%;
    display: flex;
    align-items: center;
}

.live-account-profile .chat-profile__name {
    width: 100% !important;
}

.live-caht__head {
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    padding: 10px 24px;
    display: flex;
    align-items: center;
}

.live-caht__head .chat-profile {
    border: 0 !important;
    width: 65% !important;
    padding-bottom: 0 !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.live-chat .chat-profile {
    padding-left: 12px !important;
}

.expand-active .live-caht__head .chat-profile {
    width: 75% !important;
}

.chat-seeting {
    float: right;
    margin-left: auto;
    cursor: pointer;
    width: 25px;
    padding-left: 20px;
}

.chat-seeting span {
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #747588;
    margin-bottom: 4px;
    margin-left: auto;
}

.chat-seeting span:last-of-type {
    margin-bottom: 0;
}

.chat-inputs__text::placeholder {
    font-size: 14px;
    color: #747588;
    font-weight: 600;
    vertical-align: middle;
}

.back-to-accounts {
    outline: 0;
    border: 0;
    box-shadow: 0;
    padding: 0;
    background: none;
    margin-right: 20px;
    cursor: pointer;
}

.back-to-accounts:focus {
    box-shadow: none;
    outline: 0;
}

.back-to-shrinkMode {
    outline: 0;
    border: 0;
    box-shadow: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.back-to-shrinkMode:focus {
    box-shadow: none;
    outline: 0;
}

.live-chat {
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s ease-in-out;
}

.live-chat.active {
    display: block;
    opacity: 1;
    visibility: visible;
}

.live-chat-message-body {
    height: calc(100% - 191px);
    overflow-y: auto;
    background-color: #f8f8f8;
}

.live-chat-message-body::-webkit-scrollbar {
    display: none;
}

.live-time {
    font-size: 12px;
    line-height: 22px;
    font-weight: 600;
    color: #979797;
    margin: 0;
    text-align: right;
}

.live-time span {
    margin-left: 4px;
}

.live-time-from {
    font-size: 12px;
    line-height: 22px;
    font-weight: 600;
    color: #979797;
    margin: 0;
    text-align: left;
}

.live-time-from span {
    margin-left: 4px;
}

.chat-inputs .send-message {
    width: 32px !important;
    height: 32px !important;
    border-radius: 50%;
    margin: 0 0 0 auto !important;
    display: none;
    opacity: 0;
    visibility: hidden;
}

.chat-inputs .send-message img {
    width: 32px;
    height: 32px;
}

.chat-inputs .send-message__btn {
    padding: 0 !important;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-inputs__text {
    border: 0;
    outline: 0;
    padding: 3px 10px;
    font-size: 14px;
    resize: none;
    overflow: auto;
}

.d-none {
    display: none !important;
}

.send-message {
    text-align: center;
    margin-top: 12px;
}

.messag-form {
    padding: 15px;
}

.send-message__btn {
    width: 100%;
    margin: auto;
    outline: 0;
    border: 0;
    box-shadow: 0;
    padding: 11px;
    border-radius: 4px;
    background-color: #30855c;
    cursor: pointer;
}

.send-message__btn:hover {
    box-shadow: 0 0 7px 1px rgba(67, 146, 108, 0.5);
}

.send-message__btn span {
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    text-transform: capitalize;
    margin-right: 10px;
}

.send-message__btn:focus {
    outline: 0;
    box-shadow: none;
}

.message-from {
    text-align: left;
    padding: 10px;
}

.message-to {
    text-align: right;
    padding: 10px;
}

.message-from__text {
    text-align: left;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #eeeeee;
}

.files {
    opacity: 0;
    visibility: hidden;
    display: none;
}

.chat-inputs__img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.message-body {
    text-align: right;
    padding: 10px;
    border-radius: 4px;
    background-color: #f2e2c5;
    display: inline-block;
}

.message-body-from {
    text-align: left;
    padding: 10px;
    border-radius: 4px;
    background-color: #eeeeee;
    display: inline-block;
}
.message-body .message-to__text {
    white-space: pre-line;
}
.message-body-from .message-to__from {
    white-space: pre-line;
}

.message-to__from span {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: #232334;
}

.message-to__text span {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: #232334;
    text-align: left;
}

/* .expand-active .offensive-lang {
    top: calc(-100% - 15px);
} */

.offensive-lang {
    border-radius: 2px;
    background-color: #d50000;
    padding: 10px;
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;
    position: absolute;
    width: calc(100% - 30px);
    bottom: 100%;
    right: calc(-100% + 30px);
    opacity: 0;
    transition: 0.4s ease-in-out;
}

/* .expand-active .offensive-lang {
    top: calc(-100% - 55px);
    opacity: 1;
} */

.offensive-lang.active {
    opacity: 1;
    right: 50%;
    transform: translateX(50%);
}

.account-setting {
    padding: 25px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    right: -100%;
    background-color: #ffffff;
    border-top: 1px solid #f8f8f8;
    transition: 0.4s ease-in-out;
    z-index: 999;
}

.account-setting.open {
    right: 0 !important;
}

.back-to-conversation {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: #80460b;
    margin-bottom: 20px;
    cursor: pointer;
}
.bg-user-dp {
    width: 100%;
    height: 100%;
    background-image: url(~/images/profile.svg~);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10%;
    display: inline-block;
}
.pointer {
    cursor: pointer;
}

.back-to-conversation span {
    display: inline-block;
    padding-right: 25px;
    margin-left: 5px;
}

.account-setting__profile {
    position: relative;
    border-radius: 6px;
    display: flex;
    padding: 20px;
}

.account-setting__profile::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 35px);
    background-color: #faf8f4;
    padding: 20px;
    border-radius: 6px;
    /* z-index: -1; */
}

.account-setting__profile .set-profile {
    width: 80px;
    height: 80px;
}

.account-setting__profile .set-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.set-profile {
    float: left;
    position: relative;
    z-index: 9;
}

.set-profile-name {
    float: left;
    max-width: 65%;
    padding: 10px;
    position: relative;
    z-index: 9;
}

.recent-tag {
    font-size: 14px;
    color: #747588;
    font-weight: 600;
    display: block;
    margin: 15px 20px;
}

@media (max-width: 767px) {
    .chat-control__expand {
        display: none !important;
        opacity: 0 !important;
        visibility: hidden !important;
    }
    .expand-active .last-seen {
        display: block;
        margin: 0;
        padding: 0;
    }
}

@media (max-width: 991px) {
    .expand-active .last-seen {
        display: block;
        margin: 0;
        padding: 0;
    }
    .expand-active .last-seen::before {
        content: none;
        display: none;
    }
}

@media (min-width: 768px) {
    /* .chat {
        width: 85%;
    } */
    // .expand-active {
    //     .chat-box {
    //         width: 55%;
    //     }
    // }

    .chat-box {
        width: 55%;
        margin-left: auto;
    }
    .chat-body__expand {
        float: left;
        width: 45%;
        border-right: 1px solid #f8f8f8;
    }
    .chat-title {
        font-size: 18px;
        line-height: 28px;
    }
    /* .expand-active .offensive-lang {
        top: calc(-100% - 70px);
        opacity: 1;
    } */
    .last-seen {
        display: none;
        visibility: hidden;
    }
}

@media (min-width: 992px) {
    .expand-active {
        .chat-box {
            width: 50%;
        }
        .chat-body__expand {
            width: 50%;
        }
    }
    .chat-box {
        width: 36%;
    }
    .chat-body__expand {
        width: 64%;
    }
    .chat-control__expand,
    .chat-control__close {
        width: 36px;
        height: 36px;
    }
    .chat-profile {
        width: 85%;
    }
}

@media (min-width: 1300px) {
    .expand-active {
        .chat-box {
            width: 40%;
        }
        .chat-body__expand {
            width: 60%;
        }
    }
    .chat-box {
        width: 32%;
    }
    .chat-body__expand {
        width: 68%;
    }
}

@media (min-width: 1400px) {
    .expand-active {
        .chat-box {
            width: 40%;
        }
        .chat-body__expand {
            width: 60%;
        }
    }
    .chat-box {
        width: 25%;
    }
    .chat-body__expand {
        width: 75%;
    }
}

/* 
@media (min-width: 1200px) {
    .offensive-lang {
        top: calc(-100% + 35px);
    }
}

@media (min-width: 1300px) {
    .offensive-lang {
        top: calc(-100% + 45px);
    }
} */

/* direct messaging css Ends here */

.chat-seeting__content {
    position: relative;
}

.chat-seeting__content::after {
    position: absolute;
    content: '';
    top: -14px;
    right: 13px;
    width: 15px;
    height: 15px;
    border-top: solid 10px #ffffff;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
    z-index: 9;
    transform: rotate(180deg);
}

.chat-seeting:hover .chat-seeting__items {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.chat-seeting__items {
    position: absolute;
    top: 100%;
    width: 213px;
    right: -20px;
    border-radius: 6px !important;
    box-shadow: 0 0 17px 2px rgba(27, 27, 27, 0.08) !important;
    background-color: #ffffff;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.chat-seeting__content .list-group-item:hover {
    background-color: #f8f8f8;
    color: #232334 !important;
}

.chat-seeting__content .list-group-item.list-group-item__disabled {
    color: rgb(168, 165, 165);
}
.chat-seeting__content .list-group-item.list-group-item__disabled:hover {
    background-color: #f8f8f8;
    color: rgb(168, 165, 165) !important;
}

.start-chat {
    text-align: center;
    margin: 20px 32px;
    .start-chat__btn {
        width: 100%;
        margin: auto;
        outline: 0;
        border: 0;
        box-shadow: 0;
        padding: 11px;
        border-radius: 4px;
        background-color: #30855c;
        cursor: pointer;
        span {
            font-size: 14px;
            color: #ffffff;
            font-weight: 700;
            margin-right: 10px;
        }
        &:hover {
            box-shadow: 0 0 7px 1px rgba(67, 146, 108, 0.5);
        }
        :focus {
            outline: 0;
            box-shadow: none;
        }
    }
}
.search-close-button {
    right: 13px;
    top: 13px;
    position: absolute;
    z-index: 100;
    height: 12px;
}
