<div class="main-block">
    <div class="mb-3">
        <p-breadcrumb [model]="breadCrumbItem"></p-breadcrumb>
    </div>
    <div class="mb-3 mb-md-4">
        <span class="d-none d-md-flex fnt-18 fw-b">
            {{ 'invite_new_members_to' | translate }}&nbsp;
            <p-dropdown
                [options]="roleList"
                optionLabel="name"
                optionValue="id"
                scrollHeight="225px"
                placeholder="{{ 'all_roles' | translate }}"
                [(ngModel)]="currentRoleID"
                styleClass="no-border no-padding accent role-selector"
            >
            </p-dropdown>
        </span>
        <div class="d-block d-md-none primary_txt">{{ 'create_role' | translate }}</div>
    </div>

    <div class="d-block d-md-none col-12 p-0 mt-3">
        <div class="sewn-form-field w-100">
            <label>{{ 'add_member' | translate }}<span class="star">*</span></label>
            <p-dropdown
                [options]="roleList"
                optionLabel="name"
                placeholder="Select role"
                [style]="{ width: '100%' }"
                [(ngModel)]="currentRoleID"
                optionValue="id"
            ></p-dropdown>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <app-edit-user-details></app-edit-user-details>
        </div>
    </div>
    <div class="mt-3 mt-md-5">
        <div class="d-flex flex-column-reverse flex-md-row flex-wrap">
            <button (click)="location.back()" class="btn-stroked mb-3 w-mob-100 mr-md-25">
                {{ 'cancel' | translate }}
            </button>
            <button (click)="onInvite()" class="btn-raised mb-3 w-mob-100">
                {{ 'send_invites' | translate }}
            </button>
        </div>
    </div>
</div>
