<div class="w-100 h-100 loading-wrapper position-relative d-flex justify-content-center align-items-center">
    <video class="w-100 h-100 d-none d-md-block">
        <source src="/assets/images/coffee_loader_bg.mpeg" type="video/mpeg" />
    </video>
    <video class="w-100 h-100 d-md-none">
        <source src="/assets/images/coffee_loader_bg_mobile.mpeg" type="video/mpeg" />
    </video>
    <div class="position-absolute">
        <div class="lds-ring">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
