@import 'variables';

.coffee-item {
    border-radius: 14px;
    min-height: 415px;
    transition: transform 420ms cubic-bezier(0.165, 0.84, 0.44, 1);
    border: 1px solid #d0d0d0;
    img {
        height: 234px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        object-fit: cover;
    }

    .recipe-name {
        .recipe-title {
            height: 40px;
            overflow: hidden;
        }
    }

    @media (min-width: 992px) {
        &:hover {
            cursor: pointer;
            border: 0px !important;
            transform: scale(1.05);
            box-shadow: 0 0 2rem rgb(0 0 0 / 20%);
            .recipe-name {
                .recipe-title {
                    text-decoration: underline;
                }
            }
        }
    }
}

.expertise {
    text-transform: capitalize;
    font-weight: $fw-m;
    position: absolute;
    left: 0;
    margin: 16px;
    padding: 8px 16px;
    border-radius: 14px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(116, 117, 136, 0.45);
    color: $white;
}
