<div class="bg-fff">
    <!-- <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb" class="col-12 col-md-12 col-lg-12 pl-0">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item active"><a class="b-cum" routerLink="/features/welcome-aboard">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a class="b-cum" routerLink="/ordermanagement/">Order management</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a class="b-cum" routerLink="/ordermanagement/">Estate orders</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a class="b-cum" routerLink="/ordermanagement/">Order 12416</a></li>
                            <li class="breadcrumb-item active confirm-padding" aria-current="page"><a>Order 12416</a></li>
                        </ul>
                    </nav>
                </div>
            </div> -->

    <nav role="navigation" aria-labelledby="title-breadcrumb-1" class="breadcrumb1 pt-4">
        <span id="title-breadcrumb-1" class="sr-only"></span>
        <ul class="bread-nav">
            <li class="b-cum">
                <a class="b-cum" routerLink="/features/welcome-aboard">Home</a><span class="padl-r" aria-hidden="true"> <img class="group-img" src="/assets/images/arrow-1.png" alt=""> </span>
            </li>
            <li class="b-cum">
                <a class="b-cum" routerLink="/ordermanagement/">Order Management</a><span class="padl-r" aria-hidden="true"> <img class="group-img" src="/assets/images/arrow-1.png" alt=""> </span>
            </li>
            <li class="b-cum">
                <a class="b-cum" routerLink="/ordermanagement/">Estate Orders</a><span class="padl-r" aria-hidden="true"> <img class="group-img" src="/assets/images/arrow-1.png" alt=""> </span>
            </li>
            <li class="b-cum c-pink">Order 12416</li>
        </ul>
    </nav>
    <!-- <div class="confirm_header mb-2 page-breadcrumb"> -->

    <section class="create-role-sec">
        <div class="confirm-order mt-4">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <h4 class="confirm-txt fnt-play">Confirm Order</h4>
                    <div class="fill-txt">Your sample has been recieved and graded.</div>
                    <div class="fill-txt">Please fill in the details to order the complete shipment</div>
                </div>
            </div>
        </div>
        <div class="border-div">
            <div class="row">
                <div class="col-12 details-header pb-2">Order Details</div>

                <!-- <div class="table-container"></div> -->
                <div class="col-12 lot-content table-responsive">

                    <table class="table lot-table">
                        <thead class="table-head">
                            <tr>
                                <th>Customer</th>
                                <th>Origin</th>
                                <th>Variety</th>
                                <th>Species</th>
                                <th>Cupping score</th>
                                <th>Available Quantity</th>
                                <th>Rate per bag</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Finca Guadalupe Zajú</td>
                                <td>Columbia</td>
                                <td>Arabica </td>
                                <td>Bourbon</td>
                                <td>84.5</td>
                                <td>266/60kg</td>
                                <td>$450/bag</td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
        <div class="mt-3 col-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="pull-left ord-quantity">Order Quantity:
                </div>
                <div class="pull-right ml-auto amount">Total amount to be paid</div>
            </div>
            <div class="row pt-2">
                <div class="row">
                    <div class="pull-left col-8 col-md-8 col-lg-8 pr-0">
                        <input type="text" name="search" class="col-12 search" id="quantityId" [(ngModel)]="quantity" placeholder="" />
                        <span class="main-bag">Bags</span>
                        <div class="confirm-ordererror" *ngIf="confirmOrderError != ''">{{confirmOrderError}}</div>
                    </div>
                    <div class="d-inline col-4 col-md-4 col-lg-4 price-tag">X<span class="pl-2"></span>${{this.price}}</div>
                </div>
                <div class="pull-right ml-auto price-total" *ngIf="quantity==''">$0</div>
                <div class="pull-right ml-auto price-total" *ngIf="quantity!=''">${{price*quantity}}</div>
            </div>


            <!-- <div class="row">
                    <div class="ord-quantity">Order Quantity:</div>
                    <div class="row mt-3 pb-3">
                        <div class="col-8 col-md-7 col-lg-7 pr-0">
                            <input type="text" name="search" class="col-12 search" placeholder="" />
                            <span class="main-bag">Bags</span>
    
                        </div>
                        <div class="d-inline col-4 col-md-4 col-lg-4 price-tag">X<span class="price-tag pl-2">$480</span> </div>
                    </div>
                    <div class="pt-4 amount">Total amount to be paid</div>
                    <div class="price-total mt-2">$112,500</div>
                </div> -->
        </div>

        <div class="edit-div col-12 col-md-12 col-lg-7 mt-5">
            <div class="row">
                <div class="pull-left shipping-addr">Shipping Address
                </div>
                <div class="pull-right ml-auto edit-text"><img class="edit-icon pr-2" src="assets/images/shape-2.png" alt="Edit">Edit shipping details</div>
            </div>
            <div class="row mt-2 address-bar">
                <div class="col-12 col-md-4 col-lg-5 add-text">
                    Löfbergs Lila AB, Box 1501, 651 21 - Karlstad
                    <div>Sweden</div>
                </div>
                <div class="col-md-1 col-lg-4"></div>
                <div class="col-12 col-md-4 col-lg-3 details pl-lg-0">
                    <div>+420 6365719 </div>
                    <div class="pt-2">info@lofbergs.com</div>
                </div>
            </div>
        </div>
        <div class="col-12 mt-4 bottom-border">
            <div class="row">
                <div class="custom-control custom-checkbox mb-1 top-spacing box_mobile">
                    <input type="checkbox" class="custom-control-input" id="custom_check1" name="example1">
                    <label class="custom-control-label text_checkbox" for="custom_check1"><span class="remeber-left">I have read and understood the <span class="terms-color">terms & conditions</span> of the platform, and agree to them.</span></label>
                </div>

            </div>
        </div>
        <div class="row pb-5">
            <div class="col-12 mt-4">
                <button type="submit" class="place-order float-right btn" (click)="placeOrder()">Place Order</button>
                <button type="button" class="ord_cancel float-right btn btn-link mr-2" routerLink="/ordermanagement/order-prebook">Cancel</button>
            </div>
        </div>


    </section>

    <!-- </div> -->
</div>

<ng-template #confirmtemplate>
    <div class="modal-header">
        <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button> -->
    </div>
    <div class="modal-body text-center mb-5">
        <i class="pi pi-exclamation-triangle pb-2" style="font-size: 3em"></i>

        <div class="are-sure fnt-play">
            Confirm Order
        </div>
        <div class="do-account pt-1 pb-2">Are you sure you want to</div>
        <div class="pt-4">
            <button class="btn add-btn">Continue adding</button>

        </div>
        <div class="done_order pt-2" (click)="modalRef.hide();">Done</div>


    </div>
</ng-template>