<div class="header-sewn">
    <h1 class="hello-txt">Chat & Notification</h1>
</div>
<nav role="navigation" aria-labelledby="title-breadcrumb-1" class="breadcrumb1 pt-3">
    <span id="title-breadcrumb-1" class="sr-only"></span>
    <ul class="bread-nav">
        <li class="b-cum">
            <a class="b-cum" routerLink="/features/welcome-aboard">Home</a><span class="padl-r" aria-hidden="true"> <img class="group-img" src="/assets/images/group1.png" alt=""> </span>
        </li>
        <li class="b-cum">
            <a class="b-cum" routerLink="/features/account-settings">Account Settings</a><span class="padl-r" aria-hidden="true"> <img class="group-img" src="/assets/images/group1.png" alt=""> </span>
        </li>
        <li class="b-cum c-pink">Preferences</li>
    </ul>
</nav>

<section class="chat-notify">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h1 class="preferences">Preferences</h1>
            <p class="custom-text">Customise your preferences</p>
        </div>
        <div class="float-right ml-auto save-padding">
            <button type="button" class="btn save-butn">SAVE CHANGES </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-lg-5 col-sm-10 col-xs-12 pt-4">
            <h2 class="units-header">Measurement Units</h2>
            <div class="pt-4">
                <span class="farm-size">Farm Size</span>
                <div class="chat-content">
                    <span class="hectares-data  text-left mr-auto">Hecters</span>
                    <span class="float-right ml-auto top-space"><input type="radio" name="optradio"></span>
                </div>
                <div class="chat-content">
                    <span class="acres-data text-left mr-auto">Acres</span>
                    <span class="float-right ml-auto top-space"><input type="radio" name="optradio"></span>
                </div>
            </div>
            <div class="pt-4 pb-2">
                <span class="quantity-size">Quantity</span>
                <div class="chat-content">
                    <span class="pounds-data  text-left mr-auto">Pounds (lb)</span>
                    <span class="float-right ml-auto top-space"><input type="radio" name="optradio1"></span>
                </div>
                <div class="chat-content">
                    <span class="kilograms-data text-left mr-auto">Kilograms (Kg)</span>
                    <span class="float-right ml-auto top-space"><input type="radio" name="optradio1"></span>
                </div>
                <div class="chat-content">
                    <span class="kilograms-data text-left mr-auto">Kilograms (Kg)</span>
                    <span class="float-right ml-auto top-space"><input type="radio" name="optradio1"></span>
                </div>
            </div>
            <h2 class="chat-header pt-4 pb-2">Chat</h2>
            <div class="chat-content">
                <span class="receipt-data text-left mr-auto">Read Recipient</span>
                <span class="float-right ml-auto"><p-inputSwitch [(ngModel)]="receipt"></p-inputSwitch></span>
                <div class="text-left mr-auto read-text pt-1">See read recipient in a chat</div>

            </div>
            <div class="chat-content">
                <span class="receipt-data text-left mr-auto">Enable Emoticons</span>
                <span class="float-right ml-auto"><p-inputSwitch [(ngModel)]="keyboard"></p-inputSwitch></span>
                <div class="text-left mr-auto read-text pt-1">Enable or disable emoticon keyboard in chat</div>

            </div>
            <div class="chat-content">
                <span class="receipt-data text-left mr-auto">Chat text size</span>
                <span class="float-right ml-auto normal-txt">Normal<img class="pl-1" src="assets/images/active.png"></span>
            </div>

            <h2 class="chat-header pt-4 pb-2">Notifications</h2>
            <div class="chat-content">
                <span class="receipt-data text-left mr-auto">Enable Desktop Notifications</span>
                <span class="float-right ml-auto"><p-inputSwitch [(ngModel)]="notify"></p-inputSwitch></span>

            </div>
            <div class="chat-content">
                <span class="receipt-data text-left mr-auto">Order Related Updates</span>
                <span class="float-right ml-auto"><p-inputSwitch [(ngModel)]="updates"></p-inputSwitch></span>
                <div class="text-left mr-auto read-text pt-1 web-display">Receive push notifications for new orders, order requests,
                    <div>disputes, invoice generation, etc.</div>
                </div>
                <div class="text-left mr-auto read-text pt-1 mob-display">Receive push notifications for new orders, order requests,disputes, invoice generation, etc.
                </div>

            </div>
            <div class="chat-content">
                <span class="receipt-data text-left mr-auto">New Chat</span>
                <span class="float-right ml-auto"><p-inputSwitch [(ngModel)]="chat"></p-inputSwitch></span>
                <div class="text-left mr-auto read-text pt-1">Push notifications for new messages</div>

            </div>
            <div class="chat-content1">
                <span class="receipt-data text-left mr-auto">Notification Sound</span>
                <span class="float-right ml-auto"><p-inputSwitch [(ngModel)]="sound"></p-inputSwitch></span>
                <div class="text-left mr-auto read-text pt-1">Play sound for any notification</div>

            </div>
        </div>
    </div>
</section>