.chat-notify {
    padding: 0.5rem 2.7rem 2.5rem 2.6rem;
}

.bread-nav {
    margin-left: 1.7rem;
}

.prefer-space {
    margin-right: 2.6rem;
}

.top-padding {
    padding-top: 2rem;
}

.preferences {
    font-family: Muli !important;
    font-size: 18px;
    font-weight: bold;
    color: #232334;
}

.border-chat {
    border-radius: 0px;
    border: solid 1px #ebebeb;
    padding: 1.5rem;
}

.custom-text {
    font-family: Muli;
    font-size: 14px;
    font-weight: normal;
    color: #747588;
}

.save-butn {
    border-radius: 4px;
    background-color: #30855c;
    font-family: Muli;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    color: #ffffff;
    padding: 0.7rem;
}

.save-butn:hover {
    box-shadow: 0 0 7px 1px rgba(67, 146, 108, 0.5);
}

.save-padding {
    margin-right: 2%;
}

.units-header,
.chat-header {
    font-family: Muli;
    font-size: 18px;
    font-weight: bold;
    color: #232334;
}

.farm-size,
.quantity-size {
    font-family: Muli;
    font-size: 14px;
    font-weight: normal;
    color: #747588;
}

.hectares-data,
.acres-data,
.pounds-data,
.kilograms-data,
.receipt-data {
    font-family: Muli;
    font-size: 16px;
    font-weight: 600;
    color: #232334;
}

.read-text {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    color: #747588;
}

.chat-content {
    border-bottom: 1px dashed #cccccc;
    padding-bottom: 3%;
    padding-top: 3%;
}

.chat-content1 {
    /* padding-bottom: 3%; */
    padding-top: 3%;
}

input[type='radio'] {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    outline: none;
    border: solid 1px #30855c;
    background-color: #ffffff;
}

input[type='radio']:before {
    content: '';
    display: block;
    width: 10px !important;
    height: 10px !important;
    margin: 14% auto;
    border-radius: 50%;
}

input[type='radio']:checked:before {
    width: 12px;
    height: 12px;
    border: solid 1px #30855c;
    background-color: #30855c;
}

.top-space {
    margin-top: 3px;
}

.normal-txt {
    font-family: Muli;
    font-size: 13px;
    font-weight: bold;
    color: #3d8462;
}

:host ::ng-deep .ui-inputswitch.ui-inputswitch-checked .ui-inputswitch-slider:before {
    background-color: #24be46 !important;
}

 :host ::ng-deep .ui-inputswitch .ui-inputswitch-slider:before {
    background-color: #999999 !important;
}

 :host ::ng-deep .ui-inputswitch.ui-inputswitch-checked .ui-inputswitch-slider {
    background-color: #D3F2DA !important;
}

 :host ::ng-deep .ui-inputswitch .ui-inputswitch-slider {
    background-color: #dddddd !important;
}

 :host ::ng-deep .ui-inputswitch .ui-inputswitch-focus {
    box-shadow: none !important;
    outline: none !important;
}

.web-display {
    display: block;
}

.mob-display {
    display: none;
}

.mobile-view {
    display: none;
}


/*********Media Queries***************/

@media screen and (max-width: 520px) {
    .chat-notify {
        padding: 0.5rem 1rem 1rem 1rem;
    }
    .save-butn {
        font-size: 12px;
    }
    .page-breadcrumb {
        padding: 12px 0px;
        margin-left: 0.7rem;
    }
    .preferences {
        font-size: 16px;
    }
    .hectares-data,
    .acres-data,
    .pounds-data,
    .kilograms-data,
    .receipt-data {
        font-size: 14px;
    }
    .farm-size,
    .quantity-size {
        font-size: 12px;
    }
    .units-header,
    .chat-header {
        font-size: 14px;
    }
    .mob-display {
        display: block;
    }
    .web-display {
        display: none;
    }
    .border-chat {
        border: none;
        padding: 0%;
    }
    .desk-view {
        display: none;
    }
    .mobile-view {
        display: block;
        padding: 1rem 1rem 1rem 2rem;
    }
    .back-ticket {
        font-family: Muli;
        font-size: 16px;
        font-weight: 600;
        color: #80460b;
        cursor: pointer;
    }
    .top-padding {
        padding: 0rem;
    }
    .save-butn {
        width: 100% !important;
    }
}

.farm-stricky {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: 99;
    background-color: #fff;
    padding: 10px 30px;
}

.mobile-farm {
    margin-bottom: 2rem;
}

.list-group-item {
    border: none;
    font-family: 'Muli';
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #747588;
}

.list-group-item:hover {
    color: #232334;
    font-weight: 600;
    background-color: #f8f8f8;
}

::ng-deep .popover-body {
    padding: .25rem .25rem !important;
}

::ng-deep .popover {
    border: none !important;
    border-radius: 5px !important;
    box-shadow: 0 0 17px 2px rgba(27, 27, 27, 0.08) !important;
    background-color: #ffffff;
}

::ng-deep .bs-popover-bottom .arrow:after {
    top: 0px !important;
}

.pointer-item {
    cursor: pointer;
}

.filter {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #30855c;
}