.breadcrumb-item a {
    color: #666666;
}

.breadcrumb-item.active {
    color: #000;
    padding-top: 1%;
}

a.b-cum:hover {
    color: #000000;
    text-decoration: underline;
    font-weight: bold;
}

.page-wrapper {
    background-color: #FFFFFF;
}

.page-breadcrumb {
    background-color: #FFFFFF;
    margin-left: 1.5rem;
}

.chat-notify {
    padding: 1rem 1.5rem 1rem 2.6rem;
}

.preferences {
    font-family: PlayfairDisplay;
    font-size: 27px;
    font-weight: normal;
    color: #000000;
}

.custom-text {
    font-family: Montserrat;
    font-size: 13px;
    font-weight: normal;
    color: #666666;
}

.save-butn {
    border-radius: 6px;
    background-color: #3d8462;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}

.save-padding {
    margin-right: 2%;
}

.units-header,
.chat-header {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
}

.farm-size,
.quantity-size {
    font-family: Montserrat;
    font-size: 11px;
    font-weight: normal;
    color: #666666;
}

.hectares-data,
.acres-data,
.pounds-data,
.kilograms-data,
.receipt-data {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    color: #000000;
}

.read-text {
    font-size: 10px;
    font-weight: normal;
    color: #666666;
}

.chat-content {
    border-bottom: 1px dashed #dddddd;
    padding-bottom: 3%;
    padding-top: 3%;
}

.chat-content1 {
    padding-bottom: 3%;
    padding-top: 3%;
}

input[type='radio'] {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    outline: none;
    border: solid 1px #666666;
    background-color: #ffffff;
}

input[type='radio']:before {
    content: '';
    display: block;
    width: 10px !important;
    height: 10px !important;
    margin: 14% auto;
    border-radius: 50%;
}

input[type='radio']:checked:before {
    width: 12px;
    height: 12px;
    border: solid 1px #000000;
    background-color: #000000;
}

.top-space {
    margin-top: 3px;
}

.normal-txt {
    font-family: Montserrat;
    font-size: 13px;
    font-weight: bold;
    color: #3d8462;
}

:host ::ng-deep .ui-inputswitch.ui-inputswitch-checked .ui-inputswitch-slider:before {
    background-color: #24be46 !important;
}

 :host ::ng-deep .ui-inputswitch .ui-inputswitch-slider:before {
    background-color: #999999 !important;
}

 :host ::ng-deep .ui-inputswitch.ui-inputswitch-checked .ui-inputswitch-slider {
    background-color: #D3F2DA !important;
}

 :host ::ng-deep .ui-inputswitch .ui-inputswitch-slider {
    background-color: #dddddd !important;
}

 :host ::ng-deep .ui-inputswitch .ui-inputswitch-focus {
    box-shadow: none !important;
    outline: none !important;
}

.web-display {
    display: block;
}

.mob-display {
    display: none;
}


/*********Media Queries***************/

@media screen and (max-width: 520px) {
    .chat-notify {
        padding: 0.5rem 1rem 1rem 1rem;
    }
    .save-butn {
        font-size: 12px;
    }
    .page-breadcrumb {
        padding: 12px 0px;
        margin-left: 0.7rem;
    }
    .preferences {
        font-size: 24px;
    }
    .hectares-data,
    .acres-data,
    .pounds-data,
    .kilograms-data,
    .receipt-data {
        font-size: 13px;
    }
    .units-header,
    .chat-header {
        font-size: 14px;
    }
    .mob-display {
        display: block;
    }
    .web-display {
        display: none;
    }
}