@import 'variables';

.weight-form-wrapper {
    width: calc(100% - 200px);
}

.weight-item.active {
    border-color: $primary-color !important;
    & > div {
        color: $primary-color !important;
    }
}

.weight-item.invalid {
    border-color: $error-border-color !important;
    & > div {
        color: $invalid-color !important;
    }
}

.delete-weight-variant {
    position: absolute;
    right: 0;
    color: #80460b !important;
    cursor: pointer;
    text-decoration: underline !important;
}

.addWeightDiv {
    border: 1px solid #747588;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

::ng-deep .weight-tabview.p-tabview .p-tabview-nav {
    display: none;
    @media screen and (max-width: 991px) {
        display: flex;
    }
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.weightInputDiv {
    border: 0px;
}

.daysInputDiv {
    display: flex;
    align-items: center;
    padding: 12px 9px;
    background-color: #f8f8f8;
    margin: 2px;
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #232334;
}

.productWeightDiv {
    width: 200px;
    flex: none;
}

@media screen and (max-width: 991px) {
    .weight-form-wrapper {
        width: 100%;
    }
}

.p-input-icon-left {
    position: relative;
    .left-icon {
        position: absolute;
        padding: 12px;
        background-color: #f8f8f8;
        margin: 4px;
        left: 0;
    }
    input {
        padding-left: 56px;
    }
}

.p-input-icon-right {
    position: relative;
    .right-icon {
        position: absolute;
        padding: 12px;
        background-color: #f8f8f8;
        margin: 4px;
        right: 0;
    }
    input {
        padding-right: 56px;
    }
}

@media screen and (max-width: 767px) {
    .productWeightDiv {
        width: 100%;
    }

    .weightVariantBtn {
        border: solid 1px $primary-color;
        color: $primary-color;
        padding: 0.5rem 2rem;
        display: flex;
        border-radius: 4px;
        align-items: center;
        justify-content: center;
    }
}
