.member_title {
    font-family: Muli;
    font-size: 16px;
    font-weight: 600;
    color: #232334;
}
.select_title {
    font-family: Muli;
    font-size: 16px;
    font-weight: 600;
    color: #30855c !important;
    padding: 5px;
    border: none;
    background-color: #ffffff;
    -webkit-appearance: none;
    cursor: pointer;
}

.member_name,
.member_email {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600 !important;
    color: #232334 !important;
}

.member_details {
    margin-top: 3%;
    padding-left: 2rem;
}

.rectangle_name,
.rectangle_email {
    height: 46px;
    border-radius: 8px;
    border: solid 1px #d6d6d6;
    background-color: #ffffff;
    color: #232334;
    font-weight: 500;
    font-family: Muli;
}

.rectangle_name::placeholder,
.rectangle_email::placeholder {
    font-family: Muli;
    font-size: 12px;
    font-weight: 500;
    color: #747588;
}

.invites_button {
    height: 46px;
    border-radius: 8px;
    background-color: #3d8462;
    width: 129px;
    /* margin-top: 14%; */
}

.send_invites {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
}

.loader {
    height: 17px;
    width: 17px;
    margin-left: 4px;
    margin-top: -4px;
}

.invites_button:hover {
    background-color: #3d8462;
    box-shadow: 0 0 7px 1px rgba(67, 146, 108, 0.5);
}

.popover-title {
    text-align: center;
}

.custom-popover li {
    list-style: none;
    padding-right: 4.5rem;
    border: none !important;
}

.content_list {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    color: #747588;
    padding: 10px 0px 8px 3px;
    cursor: pointer;
}
.content_list:hover {
    color: #232334;
    background-color: #f8f8f8;
}

::ng-deep .ui-overlaypanel {
    border: none !important;
    border-radius: 6px !important;
    box-shadow: 0 0 17px 2px rgba(27, 27, 27, 0.08) !important;
    background-color: #ffffff;
    margin-top: 16px;
    margin-left: -9px;
}

::ng-deep .ui-overlaypanel:before {
    border-bottom-color: #fffafa !important;
}

::ng-deep .ui-overlaypanel-shifted:after {
    right: 10.9em !important;
}

.addrole_button {
    border-radius: 4px;
    border: solid 1px #3d8462;
    color: #2f845b;
    background-color: #fff;
    width: 100%;
    font-family: Muli;
    font-size: 14px;
    font-weight: normal;
    color: #2f845b;
    font-weight: bold;
}

.addrole_button:hover {
    background-color: #2f845b;
    color: #ffffff;
    /* box-shadow: 0 0 7px 1px rgba(67, 146, 108, 0.5); */
}

/* .addrole_content {
    font-family: Muli;
    font-size: 14px;
    font-weight: normal;
    color: #2f845b;
    font-weight: bold;
}

.addrole_content:hover {
    color: #fff !important;
} */

.cancel_member {
    border-radius: 4px;
    border: solid 1px #30855c;
    background-color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    color: #30855c;
    padding: 12px 24px;
    margin-right: 3rem;
}

.cancel_value {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #30855c;
}

.total_header {
    /* margin-left: 25px; */
    margin-left: 4rem;
    padding: 0 !important;
}

.image_cursor {
    cursor: pointer;
}

.cancel_member:hover {
    background-color: #30855c;
    color: #fff;
}

.cancel_value {
    color: white;
}

.mobview_add {
    display: none;
}

.left-spacing {
    padding-top: 1.5rem;
    padding-left: 23px;
}

.memberFirstNameError,
.memberLastNameError,
.memberEmailError,
.memberPasswordError,
.memberConfirmPasswordError,
.timeZoneError,
.languageError {
    color: #d50000;
    font-size: 14px;
}

a.b-cum:hover {
    color: #232334;
    text-decoration: underline;
    font-weight: bold;
}

.confirm-pwd {
    float: left;
    width: 100% !important;
}

.disable {
    background-color: #f3efe8 !important;
    cursor: not-allowed;
}

.cancel-top {
    /* margin-top: -3%; */
}

.bread-nav {
    padding-left: 3rem;
    padding-top: 2rem;
}

/***********NEW CSS**************/

.left-space {
    padding-left: 3rem !important;
    padding-top: 2rem;
}

label {
    font-weight: 600 !important;
    color: #232334 !important;
}

.form-control {
    font-size: 14px !important;
    height: 48px !important;
    border-radius: 4px;
    border: solid 1px #d6d6d6;
    color: #232334 !important;
    background-color: #fff;
    /* font-weight: 500; */
    font-family: Muli;
}

.chn-btn {
    background-color: #30855c;
    border: 1px solid #30855c;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    padding: 1% 6%;
    margin-left: 1rem;
}
.chn-btn:hover {
    box-shadow: 0 0 7px 1px rgba(67, 146, 108, 0.5);
}
.rectangle_dropdown {
    border-radius: 4px;
    border: solid 1px #d6d6d6;
    background-color: #ffffff;
    background: url(/assets/images/role-down.svg) right 16px top 16px no-repeat;
    -webkit-appearance: none;
    font-family: Muli;
    font-size: 14px;
    font-weight: 500;
    color: #232334;
    height: 46px !important;
}
@media all and (max-width: 767px) {
    .mobview_add {
        display: block;
    }
    .webview_add {
        display: none;
    }
    .cancel_member {
        display: none;
    }
    .page-breadcrumb {
        padding: 0;
    }
    .mob-addmember {
        color: #232334;
        font-size: 16px;
        font-family: Muli;
        font-weight: bold;
        margin-bottom: 0;
    }

    .padding-spacing {
        margin-left: 4px;
        margin-right: 4px;
    }
    .cancel {
        background-color: #fdfdfd;
        border: 1px solid #30855c;
        color: #30855c;
        padding: 12px 16px;
        font-size: 14px;
        font-weight: bold;
        margin-top: 12px;
        border-radius: 4px;
        margin-bottom: 4rem;
    }
    .update {
        border: 1px solid #30855c;
        color: #ffffff;
        padding: 12px 16px;
        font-size: 14px;
        font-weight: bold;
        border-radius: 4px;
        background-color: #30855c;
        margin-top: 2rem;
    }
    .update:hover {
        background-color: #30855c;
        box-shadow: 0 0 7px 1px rgba(67, 146, 108, 0.5) !important;
    }
    .total_header {
        margin-left: 3px;
    }
    .left-spacing {
        padding-left: 0px;
        padding-top: 0;
    }
    .member_details {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .mob-space {
        padding: 0;
    }
    .bread-nav {
        padding-left: 1rem;
        padding-top: 0;
        padding-bottom: 1rem;
    }
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .member_title,
    .select_title {
        font-size: 16px !important;
    }
}
