.avg-per-cup {
    border-left: 1px solid #999999;
    padding: 1rem 1.5rem;
}

.transit-txt {
    font-family: PlayfairDisplay;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    /* text-align: center; */
    color: #020202;
}

.delivery {
    font-family: Muli;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    /* text-align: center; */
    color: #232334;
    /* padding: 0px 4rem; */
}

.delivery-date {
    color: #333333;
}

.order-view {
    color: #256547;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
}

.avg-cup {
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.know-more {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #80460b;
    text-decoration: underline!important;
}

.know-more-content {
    padding: 2rem 2rem;
}


/* 
.know-more:hover {
    box-shadow: 0 0 7px 1px rgba(67, 146, 108, 0.5);
} */


/* ==========Timeline CSS from my-orders========== */

.order-tracking {
    text-align: left;
    width: 16%;
    position: relative;
    display: block;
}

.order-tracking .is-complete {
    display: block;
    position: relative;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    border: solid 2px #747588;
    background-color: #ffffff;
    margin: 0;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
    z-index: 2;
    top: 5%;
}

.order-tracking .is-complete:after {
    display: block;
    position: absolute;
    /* content: ''; */
    height: 14px;
    width: 7px;
    top: -2px;
    bottom: 0;
    left: 5px;
    margin: auto 0;
    border: 0px solid #AFAFAF;
    border-width: 0px 2px 2px 0;
    transform: rotate(45deg);
    border-color: #f3efe8;
    border-width: 0px 3px 3px 0;
    width: 7px;
    left: 11px;
    opacity: 1;
}

.order-tracking.completed .is-complete {
    border-color: #232334;
    border-width: 0px;
    background-color: #232334;
}

.order-tracking.completed .is-complete:after {
    border-color: #fff;
    border-width: 0px 3px 3px 0;
    width: 7px;
    left: 11px;
    opacity: 1;
}


/* .order-tracking:last-child:after{
	content: '';
	display: block;
    height: 2px;
    width: calc(100%);
    background-color: #f3efe8;
    top: 13px;
    position: absolute;
	right: calc(-19%);
    z-index: 0;
}
.mixups-track:last-child:after{
	content: '';
	display: block;
    height: 3px;
    width: calc(100%);
    background-color: #f3efe8;
    top: 13px;
    position: absolute;
	right: calc(-1%);
    z-index: 0;
} */

.is-complete:before {
    border-color: #fff;
    border-width: 0px 3px 3px 0;
    width: 7px;
    left: 11px;
    opacity: 1;
}

.order-tracking::before {
    content: '';
    display: block;
    height: 2px;
    width: calc(100%);
    background-color: #747588;
    top: 13px;
    position: absolute;
    /* left: calc(-90%); */
    z-index: 0;
    left: 1%;
}

.mixups-tabs .order-tracking::before {
    left: calc(-90%);
}


/* .order-tracking:first-child:before{display: none;} */

.order-tracking.completed:before {
    background-color: #232334;
}

.mixups-track {
    width: 33.3%;
}

.order-status {
    font-family: Muli;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #232334;
}

.order-date {
    font-family: Muli;
    font-size: 15px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #747588;
    margin-bottom: 0%;
}

.order-view {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #80460b;
    text-decoration: underline !important;
    cursor: pointer;
}

.order-status-incomplete {
    font-family: Muli;
    font-size: 15px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #747588;
}

.progress-bar-tooltip {
    padding: 6rem 3rem 0rem 2rem;
}

.tooltips {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltips .cup-score {
    width: 100%;
    color: #232334;
    border-radius: 0px;
    /* padding: 5px 0; */
    position: absolute;
    /* z-index: 1; */
    bottom: 2.7rem;
    /* left: 50%; */
    /* margin-left: 0px; */
    margin-bottom: 0%;
    font-size: 20px;
    font-family: Muli;
    font-weight: 600;
}

.tooltips .score-text {
    width: 250px;
    color: #747588;
    border-radius: 0px;
    /* padding: 5px 0; */
    position: absolute;
    /* z-index: 1; */
    bottom: 1.5rem;
    /* left: 50%; */
    /* margin-left: 0px; */
    margin-bottom: 0%;
    font-family: Muli;
}

@media only screen and (max-width: 640px) {
    .progress-bar-tooltip {
        padding: 6rem 3rem 0rem 2rem;
        overflow-x: scroll;
    }
}

.pb-7 {
    padding-bottom: 5.8rem;
}