<div class="table-details d-none d-md-block">
    <div class="table-responsive border-lots">
        <table class="table">
            <thead class="table-header">
                <tr class="header-row">
                    <th>Overview</th>
                    <th scope="col">Lot Size</th>
                    <th scope="col"> Av. score</th>
                    <th scope="col">Altitude</th>
                    <th scope="col">Variety</th>
                    <th scope="col">Species</th>
                    <th scope="col">Flavour profile</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody class="customtable">
                <tr class="ticket-boby-txt" *ngFor="let item of lots">
                    <td>{{ item.lotname }}</td>
                    <td>{{ item.lotsize }}</td>
                    <td>{{ item.score }}</td>
                    <td>{{item.altitude}}</td>
                    <td>{{ item.variety }} </td>
                    <td>{{item.species}}</td>

                    <td>
                        <div class="flavor-coffee mb-2">
                            <span>Honey</span><span>Dark Chocolate</span><span>Spices</span>
                        </div>
                        <div class="flavor-coffee">
                            <span>Red Fruit</span><span>Black tea</span>
                        </div>
                    </td>
                    <td class="view-lot">View Lot</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="mt-5 d-none d-md-block">
    <div class="map-heading">Map of the estate</div>
    <div class="text-center map-lots">
        <img src="assets/images/estate-map.jpg" alt="">
    </div>
    <div class="w-100 chat-div d-md-block d-none">
        <button type="button" class="btn col-md-4 pull-right ml-auto chat-btn stricky-order" routerLink="/features/sourcing-chat">Order #12416 chat <span class="chat-indicator"> &#x25CF;</span><img class="pull-right ml-auto" src="assets/images/back-arrow.png"></button>
    </div>
</div>
<div class="row">
<div class="col-lg-12 m-padding-8">
    <div class=" d-block d-md-none" *ngFor="let lot of lots">
        <div class="mdevics">
    <h6 class="d-block d-md-none tit-cont">{{lot.lotname}}</h6>
    <div class="row mt-4 mt-md-0">
        <div class="col-lg-3 col-md-3 col-sm-6 col-6 mb-3">
            <div class="real-estate">
                <h6>Lot size</h6>
                <h3>{{ lot.lotsize }}</h3>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-6 mb-3">
            <div class="real-estate">
                <h6>Av. Score</h6>
                <h3>{{ lot.score }}</h3>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-6 mb-3">
            <div class="real-estate">
                <h6>Altitude</h6>
                <h3>{{lot.altitude}}</h3>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-6 mb-3">
            <div class="real-estate">
                <h6>Variety</h6>
                <h3>{{ lot.variety }}</h3>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-6 mb-3">
            <div class="real-estate">
                <h6>Species</h6>
                <h3>{{lot.species}}</h3>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
            <div class="real-estate">
                <h6>Flavour</h6>
        <ul class="sugar-prod">
            <li>Honey</li>
            <li>Dark chocalte</li>
            <li>Spices</li>
        </ul>
        </div>
        </div>

    </div>
    <div class="landlots mb-3">
        <a href="#">Buy Now</a>
    </div>
    </div>
    </div>
</div>
</div>
<div class="row mt-4 d-md-none d-block">
        <app-overview-ratings></app-overview-ratings>

    </div>