.editBorder {
    border: 1px solid #d6d6d6;
    padding: 1.5rem;
}
.inputPadding {
    margin-top: 3rem;
}
.toggleDiv {
    border: 1px solid #d6d6d6;
    padding: 2px;
}
.enableBtn {
    background-color: #30855c;
    padding: 4px 16px;
    color: #fff !important;
    border-radius: 4px !important;
}
.greyText {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    color: #747588;
}
.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}
@media all and (max-width: 767px) {
    .editBorder {
        border: 0px !important;
        padding: 1rem;
    }
    .inputPadding {
        margin-top: 1rem;
    }
}
