@import 'variables';

.bg {
    background-color: $primary-bg-color;
}

.inner-bg,
.btn-f8 {
    background-color: $white;
}

.pointer {
    cursor: pointer;
}

.mobile-dot {
    @media (max-width: 480px) {
        display: flex;
        align-items: center;
    }
}
