<div class="recipe-post-wrapper p-2 p-md-0 bg-f8">
    <div class="row" [formGroup]="recipeForm" (ngSubmit)="onSave()" novalidate>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 sewn-form-field w-100" *ngIf="isTranslate">
            <p-dropdown
                [options]="applicationLanguages"
                optionLabel="label"
                placeholder="Select translate language"
                [style]="{ width: '100%' }"
                optionValue="value"
                formControlName="language"
                class="inputFieldBox"
            ></p-dropdown>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 sewn-form-field w-100">
            <label>{{ 'add_cover_image' | translate }}<span class="star">*</span></label>
            <div class="addImageContainer d-flex align-items-center justify-content-center imagesDiv">
                <div class="edit-btn-group d-flex" *ngIf="coverImageUrl">
                    <button
                        class="btn-raised d-none d-md-flex mr-2"
                        pButton
                        (click)="bannerFileInput.click()"
                        label="{{ 'replace_image' | translate }}"
                    ></button>
                    <button
                        pButton
                        icon="pi pi-trash"
                        iconPos="left"
                        class="fnt-14 btn-trans-nb d-none d-md-flex"
                        (click)="deleteCoverImage()"
                        label="{{ 'delete' | translate }}"
                    ></button>
                </div>
                <img [src]="coverImageUrl" *ngIf="coverImageUrl" class="cover-image" />
                <label class="d-block align-items-center justify-content-center pointer-item">
                    <input
                        type="file"
                        accept="image/png, image/jpeg"
                        style="display: none"
                        #bannerFileInput
                        (change)="uploadImage($event, 0, 'recipeCoverImage')"
                    />
                    <div class="d-flex flex-column align-items-center">
                        <img src="assets/images/plus-circle.svg" class="mb-2 mb-md-25" />
                        <span class="fnt-muli fnt-14 fnt-600 lh-normal text-clr588 mb-2 mb-md-25"
                            >{{ 'add_cover_image' | translate }}<span class="star">*</span></span
                        >
                        <span class="fnt-muli fnt-14 fnt-600 lh-normal text-clr588 mb-2 mb-md-25"
                            >({{ 'max_size' | translate }} 2mb)</span
                        >
                    </div>
                </label>
                <div
                    *ngIf="isTranslate"
                    class="bg-f8 br-4 py-2 px-3 d-flex align-items-center justify-content-center copy-paste-button"
                    (click)="pasteCoverImage()"
                >
                    <img src="assets/images/paste.svg" class="mr-1" />
                    <span class="fnt-muli fnt-14 fnt-600 lh-normal text-clr334 ml-1">{{ 'paste' | translate }}</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 sewn-form-field w-100">
            <label>{{ 'recipe_name' | translate }}<span class="star">*</span></label>
            <input type="text" placeholder="Enter Recipe Name" pInputText formControlName="name" />
            <small *ngIf="recipeForm.controls['name'].errors?.required" class="p-error"> Required </small>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 sewn-form-field w-100">
            <label>{{ 'recipe_description' | translate }}<span class="star">*</span></label>
            <app-forum-editor
                [(content)]="description"
                [(isUploadingImage)]="isUploadingImage"
                [(imageIdList)]="imageIdList"
                fileModule="recipe-post"
                [height]="103"
            ></app-forum-editor>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 sewn-form-field w-100 pr-md-2 pr-lg-3">
            <label>{{ 'expertise' | translate }}<span class="star">*</span></label>
            <p-dropdown
                [options]="expertiseArray"
                optionLabel="label"
                placeholder="Select level"
                [style]="{ width: '100%' }"
                optionValue="value"
                class="inputFieldBox"
                formControlName="expertise"
            ></p-dropdown>
            <small *ngIf="recipeForm.controls['expertise'].errors?.required" class="p-error"> Required </small>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 sewn-form-field w-100 pl-md-2 pl-lg-3">
            <label>{{ 'serves' | translate }}<span class="star">*</span></label>
            <input type="text" placeholder="Enter number of servings" formControlName="serves" pInputText />
            <small *ngIf="recipeForm.controls['serves'].errors?.required" class="p-error"> Required </small>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 sewn-form-field w-100 pr-md-2 pr-lg-3">
            <label>{{ 'preparation_time' | translate }}<span class="star">*</span></label>
            <div class="p-inputgroup custom-addon dropdownClass inputFieldBox">
                <input
                    type="number"
                    placeholder="Give a preparation time"
                    formControlName="preparation_time"
                    pInputText
                />
                <span class="p-inputgroup-addon">
                    <p-dropdown
                        placeholder="Give a preparation time"
                        [style]="{ width: '100%', height: '40px', border: '0px', background: '#f8f8f8' }"
                        [options]="preparationArray"
                        optionLabel="label"
                        optionValue="value"
                        class="inputFieldBox"
                        formControlName="preparation_time_unit"
                    ></p-dropdown>
                </span>
                <small *ngIf="recipeForm.controls['preparation_time'].errors?.required" class="p-error">
                    Required
                </small>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 sewn-form-field w-100 pl-md-2 pl-lg-3">
            <label>{{ 'cooking_time' | translate }}<span class="star">*</span></label>
            <div class="p-inputgroup custom-addon dropdownClass inputFieldBox">
                <input type="number" placeholder="Enter Cooking Time" formControlName="cooking_time" pInputText />
                <span class="p-inputgroup-addon">
                    <p-dropdown
                        placeholder="mins"
                        [style]="{ width: '100%', height: '40px', border: '0px', background: '#f8f8f8' }"
                        [options]="preparationArray"
                        optionLabel="label"
                        optionValue="value"
                        formControlName="cooking_time_unit"
                        class="inputFieldBox"
                    ></p-dropdown>
                </span>
                <small *ngIf="recipeForm.controls['cooking_time'].errors?.required" class="p-error"> Required </small>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 my-3 d-flex">
            <span class="primary_txt fnt-14">{{ 'list_of_ingredients' | translate }}<span class="star">*</span></span>
        </div>
        <ng-container
            formArrayName="ingredients"
            *ngFor="let ingredient of recipeForm.controls['ingredients']['controls']; let i = index; last as isLast"
        >
            <div [formGroupName]="i" class="p-0 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 sewn-form-field w-100 pr-md-2 pr-lg-3">
                    <label>{{ 'ingredient' | translate }}<span class="star">*</span></label>
                    <input type="text" placeholder="Ingredient Name" pInputText formControlName="name" />
                    <small *ngIf="ingredient.controls['name'].errors?.required" class="p-error"> Required </small>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 sewn-form-field w-100 pl-md-2 pl-lg-3">
                    <label>{{ 'quantity' | translate }}<span class="star">*</span></label>
                    <div class="p-inputgroup custom-addon dropdownClass inputFieldBox">
                        <input type="text" placeholder="Ingredient Quantity" pInputText formControlName="quantity" />
                        <span class="p-inputgroup-addon">
                            <p-dropdown
                                [options]="qualityArray"
                                optionLabel="label"
                                optionValue="value"
                                placeholder="Select quantity unit"
                                formControlName="quantity_unit"
                                class="inputFieldBox"
                                [style]="{ width: '100%', height: '40px', border: '0px', background: '#f8f8f8' }"
                            ></p-dropdown>
                        </span>
                        <small *ngIf="ingredient.controls['quantity'].errors?.required" class="p-error">
                            Required
                        </small>
                    </div>
                </div>
            </div>
        </ng-container>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-2 mb-md-3 mb-0 d-flex">
            <span class="fnt-14"
                ><span class="editBtn cursor-pointer" (click)="addIngredient()">{{
                    'add_ingredients' | translate
                }}</span></span
            >
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-3 d-flex mb-md-3 mb-0">
            <span class="primary_txt fnt-14">{{ 'method_of_preparation' | translate }}<span class="star">*</span></span>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 sewn-form-field w-100 d-none d-md-block">
            <p-dropdown
                [options]="preparationMethods"
                optionLabel="label"
                placeholder="Add step by step introduction & video"
                [style]="{ width: '100%' }"
                optionValue="value"
                class="inputFieldBox"
                formControlName="preparation_method"
            ></p-dropdown>
            <small *ngIf="recipeForm.controls['preparation_method'].errors?.required" class="p-error"> Required </small>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 my-3 d-flex step-mb">
            <p-tabView styleClass="tabview-create-recipe" style="width: 100%">
                <p-tabPanel header="instruction steps & video">
                    <ng-container *ngFor="let step of recipeForm?.value?.steps; let i = index; last as isLast">
                        <div class="p-0 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-9 sewn-form-field w-100 pt-4">
                                <div>
                                    <label>{{ 'step' | translate }} {{ i + 1 }}<span class="star">*</span></label>
                                    <label class="float-right limitFont"
                                        >({{ step.description?.length || 0 }}/50 words)</label
                                    >
                                </div>
                                <app-forum-editor
                                    [(content)]="step.description"
                                    [(isUploadingImage)]="isUploadingImage"
                                    [(imageIdList)]="imageIdListStep[i]"
                                    fileModule="recipe-post"
                                    [height]="103"
                                ></app-forum-editor>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-3 sewn-form-field w-100">
                                <label>{{ 'add_image' | translate }}</label>
                                <div
                                    class="stepAddImageContainer d-flex align-items-center justify-content-center imagesDiv"
                                >
                                    <label class="d-block align-items-center justify-content-center pointer-item">
                                        <input
                                            type="file"
                                            accept="image/png, image/jpeg"
                                            style="display: none"
                                            #featureImage
                                            (change)="uploadImage($event, 0, 'stepImage')"
                                        />
                                        <div class="d-flex flex-column align-items-center">
                                            <img src="assets/images/plus-circle.svg" class="mb-2 mb-md-25" />
                                            <span class="fnt-muli fnt-14 fnt-600 lh-normal text-clr588 mb-2 mb-md-25">{{
                                                'drag_drop_or_upload_image' | translate
                                            }}</span>
                                            <span class="fnt-muli fnt-14 fnt-600 lh-normal text-clr588 mb-2 mb-md-25"
                                                >({{ 'max_size' | translate }} 2mb)</span
                                            >
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-3 d-md-none">
                                <span class="fnt-14"
                                    ><span class="editBtn cursor-pointer" (click)="addStep()">{{
                                        'add_another_step' | translate
                                    }}</span></span
                                >
                            </div>
                        </div>
                    </ng-container>
                </p-tabPanel>
                <p-tabPanel header="video recipe">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 sewn-form-field w-100 pt-4">
                        <label>{{ 'upload_recipe_video' | translate }}</label>
                        <div
                            class="addImageContainer d-flex align-items-center justify-content-center imagesDiv position-relative"
                        >
                            <video
                                id="player"
                                class="w-100"
                                playsinline
                                controls
                                data-poster="/path/to/poster.jpg"
                                *ngIf="isShowVideo"
                                class="cover-image"
                            >
                                <source [src]="videoUrl" type="video/mp4" />
                            </video>
                            <label class="d-block align-items-center justify-content-center pointer-item">
                                <input
                                    type="file"
                                    style="display: none"
                                    #featureImage
                                    (change)="uploadImage($event, 0, 'recipeVideo')"
                                />
                                <div class="d-flex flex-column align-items-center">
                                    <img src="assets/images/plus-circle.svg" class="mb-2 mb-md-25" />
                                    <span class="fnt-muli fnt-14 fnt-600 lh-normal text-clr588 mb-2 mb-md-25"
                                        >{{ 'add_a_video' | translate }}<span class="star">*</span></span
                                    >
                                    <span class="fnt-muli fnt-14 fnt-600 lh-normal text-clr588 mb-2 mb-md-25"
                                        >({{ 'max_size' | translate }} 2mb)</span
                                    >
                                </div>
                            </label>
                        </div>
                    </div>
                </p-tabPanel>
            </p-tabView>
        </div>
        <div
            class="row col-sm-12 col-md-12 col-lg-12 col-xl-12 step-xs"
            *ngIf="recipeForm?.value?.preparation_method === 'video'"
        >
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 sewn-form-field w-100 pr-0">
                <label>{{ 'upload_recipe_video' | translate }}</label>
                <div
                    class="addImageContainer d-flex align-items-center justify-content-center imagesDiv position-relative"
                >
                    <video
                        id="player"
                        class="w-100"
                        playsinline
                        controls
                        data-poster="/path/to/poster.jpg"
                        *ngIf="isShowVideo"
                        class="cover-image"
                    >
                        <source [src]="videoUrl" type="video/mp4" />
                    </video>
                    <label class="d-block align-items-center justify-content-center pointer-item">
                        <input
                            type="file"
                            style="display: none"
                            #featureImage
                            (change)="uploadImage($event, 0, 'recipeVideo')"
                        />
                        <div class="d-flex flex-column align-items-center">
                            <img src="assets/images/plus-circle.svg" class="mb-2 mb-md-25" />
                            <span class="fnt-muli fnt-14 fnt-600 lh-normal text-clr588 mb-2 mb-md-25"
                                >{{ 'add_a_video' | translate }}<span class="star">*</span></span
                            >
                            <span class="fnt-muli fnt-14 fnt-600 lh-normal text-clr588 mb-2 mb-md-25"
                                >({{ 'max_size' | translate }} 2mb)</span
                            >
                        </div>
                    </label>
                </div>
            </div>
        </div>

        <ng-container *ngFor="let step of recipeForm?.value?.steps; let i = index; last as isLast">
            <div class="p-0 col-sm-12 col-md-12 col-lg-12 col-xl-12 step-xs flex-wrap">
                <div class="col-sm-12 col-md-8 col-lg-8 col-xl-9 pr-md-2 pr-lg-3 sewn-form-field w-100">
                    <div>
                        <label>{{ 'step' | translate }} {{ i + 1 }}<span class="star">*</span></label>
                        <label class="float-right limitFont">({{ step.description?.length || 0 }}/50 words)</label>
                    </div>
                    <app-forum-editor
                        [(content)]="step.description"
                        [(isUploadingImage)]="isUploadingImage"
                        [(imageIdList)]="imageIdListStep[i]"
                        fileModule="recipe-post"
                        [height]="103"
                        [images]="images"
                    ></app-forum-editor>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 col-xl-3 pl-md-2 pl-lg-3 sewn-form-field w-100">
                    <label>{{ 'add_image' | translate }}</label>
                    <div
                        class="stepAddImageContainer d-flex align-items-center justify-content-center imagesDiv position-relative"
                    >
                        <img [src]="step?.coverImageUrl" *ngIf="step?.coverImageUrl" class="cover-image" />
                        <label class="d-block align-items-center justify-content-center pointer-item">
                            <input
                                type="file"
                                accept="image/png, image/jpeg"
                                style="display: none"
                                #featureImage
                                (change)="uploadImage($event, 0, 'stepImage')"
                            />
                            <div class="d-flex flex-column align-items-center">
                                <img src="assets/images/plus-circle.svg" class="mb-2 mb-md-25" />
                                <span class="fnt-muli fnt-14 fnt-600 lh-normal text-clr588 mb-2 mb-md-25">{{
                                    'drag_drop_or_upload_image' | translate
                                }}</span>
                                <span class="fnt-muli fnt-14 fnt-600 lh-normal text-clr588 mb-2 mb-md-25"
                                    >({{ 'max_size' | translate }} 2mb)</span
                                >
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </ng-container>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-2 mb-3 d-none d-md-flex">
            <span class="fnt-14"
                ><span class="editBtn cursor-pointer" (click)="addStep()">{{
                    'add_another_step' | translate
                }}</span></span
            >
        </div>
        <div class="d-flex col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 align-items-center my-4">
            <p-checkbox
                [binary]="true"
                label="Allow translations by other authors"
                formControlName="allow_translation"
            ></p-checkbox>
            <i class="pi pi-info-circle text-clr588 fnt-16 ml-2"></i>
        </div>
        <div class="row mt-2 col-sm-12 m-0">
            <div class="col-md-6 order-2 order-md-1 p-0">
                <button routerLink="/coffee-lab/overview/qa-forum" class="btn-stroked px-4 w-mob-100 mb-2 mb-md-0">
                    {{ 'cancel' | translate }}
                </button>
            </div>
            <div class="col-md-6 order-1 order-md-2 p-0">
                <div class="d-flex justify-content-end flex-column flex-md-row">
                    <button
                        class="btn-stroked px-4 order-2 order-md-1 w-mob-100 mb-2 mb-md-0"
                        [disabled]="isPosting"
                        (click)="onSave('draft')"
                    >
                        {{ 'save_as_draft' | translate }}
                    </button>
                    <button
                        [disabled]="isPosting"
                        (click)="onSave('published')"
                        class="btn-raised px-4 ml-md-3 order-1 order-md-2 w-mob-100 mb-2 mb-md-0"
                    >
                        {{ (recipeId ? 'save_changes' : 'submit') | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
