@import 'variables';
.recipe-post-wrapper {
    .recipe-mob {
        @media screen and (max-width: 767px) {
            margin-left: 0px;
        }
    }
    .addImageContainer {
        background: $white;
        height: 280px;
        border: 1px solid $primary-border-color;
        border-radius: 4px;
        text-align: center;
        position: relative;
        margin-top: 0.2rem;
        & > label {
            z-index: 1;
        }
        .edit-btn-group {
            z-index: 1;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
    .copy-paste-button {
        position: absolute;
        bottom: 5px;
        padding: 10.5px 17.5px;
        right: 16px;
        cursor: pointer;
        @media (max-width: 768px) {
            bottom: 8px;
            right: 8px;
        }
    }
    .limitFont {
        font-family: $general-font-family;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: right;
        color: #ababab;
    }
    .stepAddImageContainer {
        background: $white;
        height: 210px;
        width: 184px;
        border: 1px solid $primary-border-color;
        border-radius: 4px;
        text-align: center;
        & > label {
            z-index: 1;
        }
    }
    .step-img-delete {
        z-index: 1;
        position: absolute;
        right: 0;
        top: 0;
        .delete-icon {
            border-radius: 50%;
            padding: 6px 8px;
            background-color: #f8f8f8;
            cursor: pointer;
            box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.16);
        }
    }

    .cover-image {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .translate-hgt {
        height: 276px !important;
        border-radius: 4px;
        @media (max-width: 768px) {
            height: 100% !important;
        }
    }

    .min-hght {
        min-height: 70px;
    }

    .step-border {
        margin: 4px 15px 16px 15px;
        border-bottom: dashed 2px #d6d6d6;
    }
    .btn-controls {
        button {
            @media (max-width: 768px) {
                width: 100%;
                margin-bottom: 8px;
            }
        }
    }

    .step-oval {
        @extend .oval;
        margin: auto !important;
    }

    .oval {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 28px;
        margin: 0 50px 12px 52px;
        padding: 8px 9px 9px 8px;
        border: solid 1.5px $button-icon-color;
        border-radius: 50%;
        i {
            margin: 0 !important;
            color: $button-icon-color;
            position: relative;
            top: 1px;
        }
    }

    ::ng-deep {
        .tabview-create-recipe {
            border-radius: 4px;
            border: solid 1px #d6d6d6;
            background-color: #ffffff;
            .p-tabview-nav {
                li {
                    @media (max-width: 767px) {
                        // padding-top: 16px;
                        border-right: none !important;
                    }
                }
            }
        }
    }
    .step-mb {
        display: none !important;
    }
    .step-xs {
        display: inherit;
        .col-xl-9 {
            max-width: 73% !important;
        }
    }
    @media (max-width: 767px) {
        .addImageContainer,
        .stepAddImageContainer {
            width: auto !important;
        }
        .step-mb {
            ::ng-deep .p-component {
                width: 100%;
            }
        }
        .step-xs {
            margin-top: 1.5rem;
        }
        ::ng-deep .ql-toolbar.ql-snow .ql-formats {
            margin-right: 0 !important;
        }
    }
}

.text-area {
    border: 1px solid $error-border-color !important;
}

.align-another {
    position: relative;
    bottom: 18px;
}

.req-ratio {
    border-color: $error-border-color !important;
}

.bring-top {
    position: relative;
    z-index: 1;
}

::ng-deep .text-area-mobile .forum-editor {
    @media screen and (min-width: 767px) {
        left: 8px;
    }
}

.form-middle {
    @media screen and (max-width: 767px) {
        margin-top: -18px;
    }
    @media screen and (min-width: 768px) {
        padding-top: 40px;
    }
}

::ng-deep .p-chips.p-category-chips .p-chips-multiple-container {
    background-color: transparent !important;
    border: 0px !important;
    box-shadow: none !important;
    padding-left: 0px;
    .p-chips-token {
        border-radius: 4px !important;
        background-color: #eaeaea;
        border-color: #eaeaea;
        color: #232334;
        padding: 10px;
        margin-bottom: 0.75rem;
        @media screen and (max-width: 767px) {
            padding: 0.5rem;
            margin-bottom: 0.5rem;
        }
    }

    .p-chips-input-token {
        display: none;
    }
}

::ng-deep .category-multi {
    .p-multiselect {
        width: 100%;
    }
}

.trans-margin {
    padding-top: 1.5rem !important;
    @media (min-width: 992px) {
        margin-top: 1rem;
    }
}

.brew-dis.p-component:disabled {
    opacity: 0.5 !important;
}
