.main-block {
    @media (min-width: 768px) {
        min-height: 640px;
        &.success {
            min-height: 726px;
        }
    }
}

.delete-wrap {
    padding-top: 60px;
}

.success-wrap {
    margin-top: 8% !important;
    margin-bottom: 15% !important;
    max-width: 500px;
    margin: 8% auto 15% auto;
}

.mail-img {
    width: 85px;
    @media (min-width: 768px) {
        width: 96px;
    }
}
