.custom-width {
    max-width: 100% !important;
    padding: 0 !important;
}

.nav-item__link {
    position: relative;
    background: none;
    color: #232334 !important;
    border-bottom: 1px solid #d6d6d6;
    border-radius: unset !important;
}

.nav-item__link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 6px;
    height: 0;
    background-color: #30855c;
    -webkit-transition: none !important;
    transition: none !important;
    z-index: 1;
}

.nav-item__link.active {
    background-color: #f8f8f8;
}

.nav-item__link.active::before {
    height: 100%;
    opacity: 1;
    color: #232334 !important;
}

.nav-pills .nav-link:hover::before {
    width: 100%;
    content: '';
    opacity: 1;
}

.nav-pills .nav-link.active:before {
    opacity: 1;
    width: 6px !important;
}

.tab-titles,
.tab-contents {
    background-color: #ffffff;
}

/* grade */

.grade_source_total h1 {
    font-size: 24px;
    font-weight: normal;
    color: #232334;
}

.grade_source_total {
    padding: 1.5rem 2rem 2rem 2rem;
    display: inline-block;
}

.sample_info,
.evaluator {
    border-radius: 4px;
    border: solid 1px #d6d6d6;
}

.info_heading {
    border-radius: 4px;
    background-color: #f8f8f8;
    padding: 12px 10px;
}

.sample_info_head {
    font-family: Muli;
    font-size: 14px;
    font-weight: bold;
    color: #232334;
}

.view_process {
    font-family: Muli;
    font-size: 12px;
    font-weight: bold;
    color: #80460b;
}

.info_list ul li {
    width: 100%;
    float: left;
    border-bottom: 1px dashed #eee;
    padding: 12px;
}

.info_list ul li label {
    font-family: Muli;
    font-size: 12px;
    font-weight: 500;
    color: #747588;
    float: left;
    width: 58%;
    margin-bottom: 0;
}

.info_list ul li p {
    margin-bottom: 0;
    width: 42%;
    float: left;
    font-size: 12px;
    color: #232334;
    font-weight: 600;
}

.info_list ul li:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.color-text {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    color: #747588;
    padding-left: 30px;
}

.customcheckbox .checkmark:after {
    left: 7px !important;
    top: 3px !important;
    border-width: 0 2px 2px 0 !important;
}

span.checkmark {
    background-color: #fff !important;
    border: solid 1px #979797;
    border-radius: 2px;
}

.customcheckbox input:checked ~ .checkmark {
    background-color: #30855c !important;
}

.cupping-report {
    padding: 2rem;
    margin: 1rem 0rem;
    border-radius: 4px;
    border: solid 1px #d6d6d6;
}

.add-comment {
    text-align: center;
    color: #30855c;
    background-color: #ffffff;
    padding: 8px;
    border-radius: 2px;
    border: solid 1px #30855c;
}

.tab-pad-report {
    padding-top: 30px;
}

@media only screen and (max-width: 991px) {
    .tab-mob-generate-pad {
        padding-left: 10px;
        padding-right: 10px;
    }
    .tab-mob-scroll {
        overflow-y: auto;
        margin-top: 0.7rem;
    }
    .tab-titles {
        width: 100%;
    }
    .nav-item__link.active::before {
        height: 3px;
        width: 100%;
        bottom: 0;
        top: auto;
    }
    .tab-pad-report {
        padding: 16px;
    }
    .grade_source_total {
        padding: 1.5rem 16px 16px 16px;
        display: inline-block;
        margin-bottom: 3rem;
    }
    .cupping-report {
        padding: 16px;
    }
    .mdev-100 {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .tab-titles {
        width: 800px;
    }
    .tab-pad-report {
        width: 100% !important;
        padding-left: 22px;
    }
}
