<div>
    <p class="fnt-18 fnt-bold fnt-muli text-black334 mb-1 mb-md-2">SEWN blog</p>
    <div class="row">
        <div
            *ngFor="let item of blogData"
            animateOnScroll
            animationName="fadeIn"
            class="animation-bounce-in-up col-md-4 col-sm-12 mt-md-1 mt-sm-3 mt-xs-3"
        >
            <app-blog-card
                [imgUrl]="item.imgUrl"
                [title]="item.title"
                [description]="item.description"
                [link]="item.link"
            ></app-blog-card>
        </div>
        <div
            animateOnScroll
            animationName="fadeIn"
            class="animation-bounce-in-up col-md-4 col-sm-12 mt-md-1 mt-sm-2 mt-xs-2"
        >
            <div class="card border-card">
                <div class="overflow-hidden card-img-top">
                    <img src="assets/images/onboard-estate-2.jpg" alt="Card image cap" />
                </div>
                <div class="card-body">
                    <h5 class="fnt-18 black fnt-700 fnt-muli">
                        Using social platforms, coffee shops take arts & entertai..
                    </h5>
                    <p class="fnt-14 fnt-muli text-gray588 pad-card">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration in some form, by inject..
                    </p>
                    <p class="float-right mb-0 pointer-text">
                        <a class="arrow-link" routerLink="/features/sourcing"> Read more </a>
                    </p>
                </div>
            </div>
        </div>
        <div
            animateOnScroll
            animationName="fadeIn"
            class="animation-bounce-in-up col-md-4 col-sm-12 mt-md-1 mt-sm-2 mt-xs-2"
        >
            <div class="card border-card">
                <div class="overflow-hidden card-img-top">
                    <img src="assets/images/onboard-estate-3.jpg" alt="Card image cap" />
                </div>
                <div class="card-body">
                    <h5 class="fnt-18 black fnt-700 fnt-muli">Open for service gives a voice to coffee workers..</h5>
                    <p class="fnt-14 fnt-muli text-gray588 pad-card">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration in some form, by inject..
                    </p>
                    <p class="float-right mb-0 pointer-text">
                        <a class="arrow-link" routerLink="/features/sourcing"> Read more </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="text-center">
                <button type="submit" class="btn-stroked">View all</button>
            </div>
        </div>
    </div>
</div>
