<div class="bg-fff">
    <nav role="navigation" aria-labelledby="title-breadcrumb-1" class="breadcrumb1 farm-breadcum">
        <span id="title-breadcrumb-1" class="sr-only"></span>
        <ul class="bread-nav">

            <li class="b-cum">
                <a class="b-cum" routerLink="/features/welcome-aboard">Home</a><span class="padl-r" aria-hidden="true"><img class="group-img" src="/assets/images/arrow-1.png" alt=""> </span>
            </li>

            <li class="b-cum">
                <a class="b-cum">People</a><span class="padl-r" aria-hidden="true"> <img class="group-img" src="/assets/images/arrow-1.png" alt=""> </span>
            </li>

            <li class="b-cum">
                <a class="b-cum">Customer Management</a><span class="padl-r" aria-hidden="true"> <img class="group-img" src="/assets/images/arrow-1.png" alt=""> </span>
            </li>

            <li class="b-cum">
                <a class="b-cum">HoReCa</a><span class="padl-r" aria-hidden="true"> <img class="group-img" src="/assets/images/arrow-1.png" alt=""> </span>
            </li>

            <li class="b-cum c-pink">Third-wave coffee roasters</li>

        </ul>
    </nav>

    <!-- Royal coffee roasters company -->
    <section class="royal-cofee">
        <div class="row">
            <div class="col-md-8 col-12">
                <div class="row">
                    <div class="col-md-2 col-3">
                        <img class="ft-roastry-profile" src="assets/images/ft-roastry-profile.png" />
                    </div>

                    <div class="col-9">
                        <p class="m-0"> <span class="fnt-18 fnt-muli fnt-700 black"> Royal coffee roasters company</span> <span> <img class=""  src="assets/images/customer-back-arrow.svg"/> </span></p>
                        <p class="fnt-18 fnt-600 fnt-muli text-clr588 m-0"> <span> Owned by Markel </span> <span> .Founded in 1994</span></p>
                        <p class=" fnt-18 fnt-700 fnt-muli txt-clr55c"> <span> Admin: </span> <span>Molly Jennings </span></p>
                    </div>

                </div>

            </div>
            <div class="col-md-4 col-12 pull-right ml-auto">
                <div class="message-customer">
                    <span class="bg-msg">
                        
                        <img src="assets/images/message-icon.svg" alt="Message" class="message-icon">
                        <span  class="estate-message pl-1">Message</span></span>

                    <button class="fnt-14 fnt-muli fnt-normal update-now"> Simulated Login </button>

                </div>


            </div>
        </div>
    </section>

    <!-- Discount -->

    <section class="discount-sec">

        <div class="col-12">
            <div class="row">

                <div class="col-md-6 col-12 discount-border">
                    <div class="row">

                        <div class="col-9">
                            <p class="fnt-18 fnt-700 fnt-muli black"> Discount % </p>
                            <p class="fnt-14 fnt-400 fnt-muli black"> Please enter the discount % you would be provident this customer. The price would be changed on the e-commerce shop accordingly</p>

                        </div>

                        <div class="col-3">
                            <p class="fnt-40 fnt-bold fnt-muli black m-0"> 28% </p>
                            <p class="fnt-18 fnt-600 fnt-muli text-clr588 m-0"> Discount </p>
                            <p routerLink="/people/discount-edit" class="pointer-hand"> <span><img src="assets/images/edit-horeca.svg" alt="edit-horeca" class="edit-horeca"> </span> <span class="fnt-14 fnt-700 fnt-muli txt-clr55c"> Edit </span> </p>

                        </div>
                    </div>

                </div>

                <div class="col-md-6 col-12 discount-border customer-status-width">

                    <div class="row">

                        <div class="col-8">
                            <p class="fnt-18 fnt-700 fnt-muli black m-0"> Customer Status </p>
                            <p class="fnt-14 fnt-600 fnt-muli black"> Manage their status on the platform</p>

                        </div>

                        <div class="col-4">
                            <div class="btn-group btn-toggle ml-auto pull-right active__main">
                                <div class="btn active_default">Active</div>
                                <div class="btn disable_default">Disable</div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </section>



    <!--Important Contacts -->

    <section class="imp-contact">

        <p class="fnt-18 fnt-700 fnt-muli black"> Important Contacts </p>

        <div class="col-12 imp-contact-inner">
            <div class="row">
                <div class="col-md-4 col-12">
                    <div class="row finca-per-details border-contact">

                        <div class="col-2">
                            <img class="" src="assets/images/user-profile.png" alt="">
                        </div>
                        <div class="col-10">
                            <p class="fnt-16 fnt-muli fnt-600 black m-0"> Molly Jennings </p>
                            <p class="fnt-14 fnt-muli fnt-600 text-clr588 m-0"> Cupping Manager</p>
                            <p class="fnt-14 fnt-muli fnt-600 black m-0"> mollyjkennings@royalcoffeerosters.com </p>
                            <p class="fnt-14 fnt-muli fnt-600 black">+46 793 313 322 </p>
                        </div>


                    </div>

                </div>
                <div class="col-md-4 col-12">
                    <div class="row finca-per-details border-contact">

                        <div class="col-2">
                            <img class="" src="assets/images/user-profile.png" alt="">
                        </div>
                        <div class="col-10">
                            <p class="fnt-16 fnt-muli fnt-600 black m-0"> Aarav Lynn </p>
                            <p class="fnt-14 fnt-muli fnt-600 text-clr588 m-0"> Roaster Manager</p>
                            <p class="fnt-14 fnt-muli fnt-600 black m-0"> aaravlynn@royalcoffeerosters.com </p>
                            <p class="fnt-14 fnt-muli fnt-600 black">+46 793 313 322 </p>
                        </div>


                    </div>

                </div>
                <div class="col-md-4 col-12">
                    <div class="row finca-per-details">

                        <div class="col-2">
                            <img class="" src="assets/images/user-profile.png" alt="">
                        </div>
                        <div class="col-10">
                            <p class="fnt-16 fnt-muli fnt-600 black m-0"> Sophia Perez </p>
                            <p class="fnt-14 fnt-muli fnt-600 text-clr588 m-0"> Sourcing Manager </p>
                            <p class="fnt-14 fnt-muli fnt-600 black m-0"> sophiaperez@royalcoffeerosters.com </p>
                            <p class="fnt-14 fnt-muli fnt-600 black">+46 793 313 322 </p>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </section>

    <!-- Customers on-boarder by HoReCa -->

    <section class="discount-sec">
        <p class="fnt-18 fnt-700 fnt-muli black"> Customers on-boarder by HoReCa </p>
        <div class="col-12">

            <app-horeca-table> </app-horeca-table>

        </div>
    </section>


</div>