<div *ngIf="!isLoading; else loader" [formGroup]="productForm" class="main-block">
    <p-breadcrumb [model]="breadCrumbItem" class="breadcrumb-mb"></p-breadcrumb>

    <section class="d-flex flex-column flex-md-row justify-content-md-between align-items-md-end">
        <span class="fnt-16 fnt-md-18 fw-b">
            {{ productID ? productForm.value.name || 'NA' : ('add_new_product' | translate) }}
        </span>
        <div *ngIf="productID">
            <p-divider type="dashed" styleClass="d-block d-md-none"></p-divider>
            <div class="pt-3 pt-md-0 d-flex justify-content-between align-items-center">
                <span class="fw-b pr-2">{{ 'product_visibility' | translate }}</span>
                <p-selectButton
                    [options]="visibilityOptions"
                    formControlName="is_public"
                    (onChange)="onChangeVisibility()"
                    styleClass="p-selectbutton-prebook"
                ></p-selectButton>
            </div>
            <p-divider type="dashed" styleClass="d-block d-md-none"></p-divider>
        </div>
    </section>

    <section class="border-main br-4 p-3 p-md-4 mt-4">
        <div class="mb-4">
            <div class="fnt-16 fnt-md-18 fw-b mb-1">{{ 'product_details' | translate }}</div>
            <div class="fnt-semi-bold text-clr588">{{ 'product_details_note' | translate }}</div>
        </div>

        <div class="row gutter-16 gutter-lg-24">
            <div class="col-md-6 sewn-form-field">
                <label>{{ 'product_name' | translate }}<span class="star">*</span></label>
                <input type="text" [placeholder]="'product_name' | translate" formControlName="name" pInputText />
                <small *ngIf="productForm.controls['name'].errors?.required" class="p-error">
                    {{ 'required' | translate }}
                </small>
            </div>
            <div class="col-md-6 col-lg-3 sewn-form-field">
                <label>{{ 'product_eligible_for' | translate }}<span class="star">*</span></label>
                <p-dropdown
                    [options]="eligibleArray"
                    optionLabel="label"
                    [placeholder]="'select_subscription_type' | translate"
                    formControlName="purchase_type"
                    optionValue="value"
                ></p-dropdown>
                <small *ngIf="productForm.controls['purchase_type'].errors?.required" class="p-error">
                    {{ 'required' | translate }}
                </small>
            </div>
            <div class="col-md-6 col-lg-3 sewn-form-field" *ngIf="type === ProductType.b2c">
                <label>{{ 'is_product_bought_platform' | translate }}</label>
                <p-dropdown
                    [options]="boughtOnPlatformOptions"
                    optionLabel="label"
                    [placeholder]=""
                    formControlName="is_external_product"
                    optionValue="value"
                    (onChange)="checkGrindForm()"
                ></p-dropdown>
            </div>
            <div class="col-lg-6 sewn-form-field mb-lg-0">
                <label>
                    {{ 'product_description' | translate }}<span class="star">*</span>
                    <span class="pull-right text-clr588">
                        {{ productForm.get('description').value | wordCount }}/300 {{ 'words' | translate }}
                    </span>
                </label>
                <textarea
                    type="text"
                    [placeholder]="'tell_about_product' | translate"
                    formControlName="description"
                    [rows]="3"
                    autoResize="autoResize"
                    pInputTextarea
                ></textarea>
                <small *ngIf="productForm.controls['description'].errors?.required" class="p-error">
                    {{ 'required' | translate }}
                </small>
                <small *ngIf="productForm.controls['description'].errors?.maxWordCount" class="p-error">
                    Please input 300 words
                </small>
            </div>
            <div class="col-md-6 col-lg-3 sewn-form-field mb-md-0">
                <label>{{ 'vat_transaction' | translate }}<span class="star">*</span></label>
                <p-dropdown
                    [options]="vatSettings"
                    [placeholder]="'select_vat_type' | translate"
                    styleClass="w-100"
                    formControlName="vat_setting_id"
                ></p-dropdown>
                <small *ngIf="productForm.controls['vat_setting_id'].errors?.required" class="p-error">
                    {{ 'required' | translate }}
                </small>
            </div>
            <div class="col-md-6 col-lg-3 mt-md-4">
                <div class="fnt-14 fw-m mb-2">{{ 'is_product_price_vat' | translate }}<span class="star">*</span></div>
                <p-checkbox
                    formControlName="is_price_including_vat"
                    binary="true"
                    [label]="'price_inclusive_vat' | translate"
                    [readonly]="type === ProductType.b2c"
                >
                </p-checkbox>
            </div>
        </div>

        <div class="pt-3">
            <div class="row gutter-16 v-gutter-16">
                <div class="col-12 col-md-auto order-1 order-md-2">
                    <button
                        class="btn-raised w-100"
                        (click)="onSaveProduct()"
                        [disabled]="isSubmitted || pristine(productForm)"
                    >
                        {{ 'save_product_details' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </section>

    <section class="border-main br-4 p-3 p-md-4 mt-4">
        <div class="mb-4 mb-md-45">
            <div class="fnt-16 fnt-md-18 fw-b mb-1">{{ 'product_weights' | translate }}</div>
            <div class="fnt-semi-bold text-clr588">{{ 'product_weights_note' | translate }}</div>
        </div>

        <p-tabView
            [(activeIndex)]="currentVariantIdx"
            (onChange)="onChangeWeightTab()"
            styleClass="tabview-weight-variant position-relative"
        >
            <p-tabPanel
                formArrayName="weightVariants"
                *ngFor="
                    let weightForm of productForm.controls['weightVariants']['controls'];
                    let i = index;
                    last as isLast
                "
            >
                <ng-template pTemplate="header">
                    <span class="d-flex align-items-center"
                        >{{ weightForm.get('weight').value || '0' }} {{ weightForm.get('weight_unit').value }}
                        <i
                            *ngIf="productForm.get('weightVariants').value.length > 1"
                            class="pi pi-trash text-clr55c ml-2"
                            (click)="deleteWeightVariant(weightForm, i)"
                        ></i>
                    </span>
                </ng-template>

                <div
                    *ngIf="!editWeightMode"
                    class="btn-trans-icon plus-icon add-weight-btn w-mob-100 mt-4 mt-md-0"
                    (click)="addWeightVariant()"
                >
                    {{ 'add_a_new_weight' | translate }}
                </div>
                <div [formGroup]="weightForm" class="mt-4 mt-md-45">
                    <div class="row gutter-16 gutter-lg-24">
                        <div class="col-md-4 col-lg-3 sewn-form-field">
                            <label>{{ 'product_weight' | translate }}/bag<span class="star">*</span></label>
                            <div class="input-and-select gray">
                                <p-inputNumber
                                    formControlName="weight"
                                    (ngModelChange)="makePending(weightForm.get('weight'))"
                                ></p-inputNumber>
                                <p-dropdown
                                    formControlName="weight_unit"
                                    [options]="weightTypeArray"
                                    autoDisplayFirst="false"
                                ></p-dropdown>
                                <small *ngIf="weightForm.controls['weight'].errors?.required" class="p-error">
                                    {{ 'required' | translate }}
                                </small>
                                <small *ngIf="weightForm.controls['weight'].errors?.min" class="p-error">
                                    {{ 'should_be_greater_than_limit' | translate | strReplace: '{limit}':'0' }}
                                </small>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-3 sewn-form-field">
                            <label>{{ 'status' | translate }}<span class="star">*</span></label>
                            <p-dropdown formControlName="status" [options]="statusArray" autoDisplayFirst="false">
                                <ng-template let-item pTemplate="selectedItem">{{
                                    item.label | translate
                                }}</ng-template>
                                <ng-template let-item pTemplate="item">{{ item.label | translate }}</ng-template>
                            </p-dropdown>
                            <small *ngIf="weightForm.controls['status'].errors?.required" class="p-error">
                                {{ 'required' | translate }}
                            </small>
                        </div>
                    </div>

                    <div class="w-100 mt-2 mb-4 mb-md-45">
                        <div class="fnt-16 fw-b mb-2">{{ 'add_images' | translate }}</div>
                        <div class="fnt-semi-bold text-clr588 mb-4">
                            {{ 'add_product_images_note' | translate }}
                        </div>

                        <div class="row gutter-16 gutter-lg-24 flex-nowrap overflow-auto">
                            <div class="col sewn-form-field mb-0">
                                <label class="text-nowrap"
                                    >{{ ((isMobile$ | async) ? 'feature_image' : 'upload_feature_image') | translate
                                    }}<span class="star">*</span></label
                                >
                                <app-product-image
                                    formControlName="featured_image_id"
                                    (ngModelChange)="onChangeImage()"
                                    accept="image/png, image/jpeg"
                                ></app-product-image>
                                <small *ngIf="weightForm.controls.featured_image_id.errors?.required" class="p-error">{{
                                    'required' | translate
                                }}</small>
                            </div>
                            <div
                                class="col sewn-form-field mb-0"
                                *ngFor="let productImage of weightForm?.get('images').controls"
                            >
                                <label>{{ 'product_images' | translate }}</label>
                                <app-product-image
                                    [formControl]="productImage"
                                    (ngModelChange)="onChangeImage()"
                                    accept="image/png, image/jpeg"
                                ></app-product-image>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="type === ProductType.b2b" class="w-100">
                        <div class="fnt-16 fw-b mb-2">{{ 'boxes_details' | translate }}</div>
                        <div class="fnt-semi-bold text-clr588 mb-4">
                            {{ 'boxes_details_note' | translate }}
                        </div>

                        <div class="row mt-2">
                            <div class="d-flex w-mob-100">
                                <div class="sewn-form-field w-100 bags-width ml-3">
                                    <label class="text-nowrap">{{ 'box_value' | translate }}</label>
                                    <input value="1 box" pInputText [disabled]="true" />
                                </div>
                                <div class="equal-operators">=</div>
                            </div>
                            <div class="sewn-form-field w-100 boxCrateWidth ml-3 ml-md-0">
                                <label>{{ 'weight' | translate }}/bag</label>
                                <input
                                    value="{{ weightForm.get('weight').value || '0' }} {{
                                        weightForm.get('weight_unit').value
                                    }}"
                                    pInputText
                                    [disabled]="true"
                                />
                            </div>
                            <div class="equal-operators px-1 px-md-2">x</div>
                            <div class="sewn-form-field w-100 boxCrateWidth mr-3 mr-md-0">
                                <label class="d-none d-md-block">
                                    {{ 'number_of_bags' | translate }} <span class="star">*</span>
                                </label>
                                <label class="d-block d-md-none"
                                    >{{ 'no_of_bags' | translate }}<span class="star">*</span></label
                                >
                                <p-inputNumber
                                    formControlName="crate_capacity"
                                    (ngModelChange)="makePending(weightForm.get('crate_capacity'))"
                                ></p-inputNumber>
                                <small *ngIf="weightForm.controls['crate_capacity'].errors?.required" class="p-error">
                                    {{ 'required' | translate }}
                                </small>
                                <small *ngIf="weightForm.controls['crate_capacity'].errors?.min" class="p-error">
                                    {{ 'must_be_greater_than' | translate }} 0
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="mt-2">
                        <button
                            class="btn-raised w-mob-100"
                            (click)="onSaveWeightVariant(weightForm)"
                            [disabled]="isSubmitted || pristine(weightForm)"
                        >
                            {{ 'save_weight_variant' | translate }}
                        </button>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </section>

    <section class="border-main br-4 p-3 p-md-4 mt-4">
        <div class="mb-4 mb-md-45">
            <div class="fnt-16 fnt-md-18 fw-b mb-1">{{ 'inventory' | translate }}</div>
            <div class="row v-gutter-16">
                <div class="col-md-8 fnt-semi-bold text-clr588">{{ 'product_inventory_note' | translate }}</div>
                <div *ngIf="!isExternal" class="col-md-4 text-right">
                    <button class="btn-stroked w-mob-100" routerLink="/roasted-coffee-batch/new-roasted-batch">
                        {{ 'create_a_roasted_coffee_batch' | translate }}
                    </button>
                </div>
            </div>
        </div>

        <p-tabView
            [(activeIndex)]="currentVariantIdx"
            (onChange)="onChangeWeightTab()"
            styleClass="tabview-weight-variant"
        >
            <p-tabPanel *ngFor="let weightForm of productForm.controls['weightVariants']['controls']">
                <ng-template pTemplate="header">
                    <span>{{ weightForm.get('weight').value || '0' }} {{ weightForm.get('weight_unit').value }}</span>
                </ng-template>
                <div
                    *ngIf="weightForm.value.id && weightForm.get('weight').value > 0; else firstSaveWeight"
                    class="mt-4 mt-md-45"
                >
                    <div
                        *ngFor="
                            let grindForm of weightForm.controls['grind_variants']['controls'];
                            let i = index;
                            last as isLast
                        "
                        class="mb-4"
                    >
                        <ng-container *ngIf="!grindForm.value.editable">
                            <div class="border-main" [class.invalid]="grindForm.invalid">
                                <div class="d-md-flex align-items-center py-md-2 px-1 px-md-0">
                                    <ng-container *ngFor="let col of grindFields" [ngSwitch]="col.field">
                                        <div
                                            *ngIf="
                                                (isExternal && col.field !== 'roasted_coffee_batch') ||
                                                (!isExternal && col.field !== 'roast_level_id')
                                            "
                                            class="grind-wrap fnt-semi-bold px-2 px-md-3 py-2"
                                            [style.width]="col.width + '%'"
                                        >
                                            <div
                                                *ngIf="col.field === 'id'"
                                                class="fnt-semi-bold text-clr55c text-underline mb-1"
                                            >
                                                {{ 'grind' | translate }} {{ i + 1 }}
                                            </div>
                                            <div
                                                *ngIf="col.field !== 'id' && col.field !== 'actions'"
                                                class="fnt-semi-bold text-clr588 mb-1"
                                            >
                                                {{ col.label | translate }}
                                            </div>
                                            <div *ngSwitchCase="'id'">
                                                {{ 'variant_id' | translate }} :
                                                {{ grindForm.value.grind_variant_id || '-' }}
                                            </div>
                                            <div *ngSwitchCase="'weight'">
                                                {{ weightForm.get('weight').value || '0' }}
                                                {{ weightForm.get('weight_unit').value }}
                                            </div>
                                            <div *ngSwitchCase="'roasted_coffee_batch'">
                                                {{ 'batch' | translate }} #{{ grindForm.value.rc_batch_id }} -
                                                {{ grindForm.getRawValue().rc_batch_name }}
                                            </div>
                                            <div *ngSwitchCase="'roast_level_id'">
                                                {{ getRoastLevel(grindForm.value.roast_level_id)?.label || '-' }}
                                            </div>
                                            <div *ngSwitchCase="'grind'">
                                                {{ (grindForm.value.grind | sentencecase) || '-' }}
                                            </div>
                                            <div *ngSwitchCase="'price'">
                                                {{ grindForm.value.price | number: '1.0-2' }} {{ baseCurrency }} /
                                                {{
                                                    grindForm.value.available_quantity_type
                                                        | strReplace: 'es':''
                                                        | strReplace: 's':''
                                                }}
                                            </div>
                                            <div *ngSwitchCase="'remaining_quantity'">
                                                {{ grindForm.value.available_quantity }}
                                                {{ grindForm.value.available_quantity_type }}
                                            </div>
                                            <div
                                                *ngSwitchCase="'actions'"
                                                class="d-flex align-items-center justify-content-between"
                                            >
                                                <span class="brown-cta mr-2" (click)="editGrind(grindForm)">{{
                                                    'edit' | translate
                                                }}</span>
                                                <app-action-menu
                                                    [menuItems]="getGrindMenuItems(grindForm)"
                                                ></app-action-menu>
                                            </div>
                                            <div *ngSwitchDefault>
                                                {{ grindForm.value[col.field] || '-' }}
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="grindForm.value.editable">
                            <ng-container
                                *ngTemplateOutlet="grindFormTpl; context: { grindFormGroup: grindForm, index: i }"
                            ></ng-container>
                        </ng-container>
                    </div>

                    <div *ngIf="!editGrindMode" class="mt-4 mt-md-45">
                        <span class="brown-cta" (click)="addGrindVariant()">
                            {{ 'add_grind_variant' | translate }}
                        </span>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </section>

    <section class="d-flex flex-column flex-md-row justify-content-md-between mt-4 mt-md-5">
        <button
            type="button"
            class="btn btn-raised order-1 order-md-2 w-mob-100"
            (click)="publishProduct()"
            *ngIf="!isPublished"
        >
            {{ 'publish' | translate }}
        </button>
        <div class="d-flex flex-column flex-md-row order-2 order-md-1">
            <button
                type="button"
                class="btn btn-stroked order-2 order-md-1 mt-3 mt-md-0 w-mob-100"
                routerLink="/e-commerce/product-list/{{ this.type }}"
            >
                {{ 'cancel' | translate }}
            </button>
            <button
                *ngIf="isPublished"
                type="submit"
                class="btn btn-raised ml-md-3 order-1 order-md-2 mt-md-0 w-mob-100"
                (click)="onSaveProduct()"
            >
                {{ 'save' | translate }}
            </button>
        </div>
    </section>
</div>

<ng-template #grindFormTpl let-grindFormGroup="grindFormGroup" let-index="index">
    <div [formGroup]="grindFormGroup" class="bg-f8 mx-n4 p-4">
        <div class="d-flex mb-4 mb-md-45">
            <div class="fnt-semi-bold text-clr55c">{{ 'grind' | translate }} {{ index + 1 }}</div>
            <div class="v-divider mx-3"></div>
            <div class="fnt-semi-bold">
                {{ 'variant_id' | translate }} :
                {{ grindFormGroup.value.grind_variant_id || '-' }}
            </div>
        </div>
        <div class="row gutter-16 gutter-lg-24">
            <div class="col-md-6 col-lg-3 sewn-form-field">
                <label>{{ 'grind' | translate }}<span class="star">*</span></label>
                <p-dropdown
                    [options]="grindArray"
                    [placeholder]="'select_grind_level' | translate"
                    formControlName="grind"
                ></p-dropdown>
                <small *ngIf="grindFormGroup['controls']['grind'].errors?.required" class="p-error">
                    {{ 'required' | translate }}
                </small>
            </div>
            <div *ngIf="!isExternal" class="col-md-6 col-lg-6 sewn-form-field">
                <label>{{ 'select_roasted_batch' | translate }}<span class="star">*</span></label>
                <p-dropdown
                    [options]="roastedBatches"
                    [placeholder]="'select_batch' | translate"
                    formControlName="rc_batch_id"
                    optionValue="id"
                    optionLabel="name"
                    [filter]="true"
                    (onChange)="onBatchChange(grindFormGroup)"
                >
                </p-dropdown>
                <small *ngIf="grindFormGroup.controls['rc_batch_id'].errors?.required" class="p-error">
                    {{ 'required' | translate }}
                </small>
            </div>
            <div *ngIf="isExternal" class="col-md-6 col-lg-3 sewn-form-field">
                <label>{{ 'roaster_level' | translate }}</label>
                <p-dropdown [options]="roastLevelArray" formControlName="roast_level_id" [autoDisplayFirst]="false">
                </p-dropdown>
                <small *ngIf="grindFormGroup['controls']['roast_level_id'].errors?.required" class="p-error">
                    {{ 'required' | translate }}
                </small>
            </div>
            <div *ngIf="isExternal" class="col-md-6 col-lg-3 sewn-form-field">
                <label>{{ 'roaster_gc_ref_no' | translate }}</label>
                <input formControlName="roaster_ref_no" pInputText />
                <small *ngIf="grindFormGroup.controls['roaster_ref_no'].errors?.required" class="p-error">
                    {{ 'required' | translate }}
                </small>
            </div>
            <div class="col-md-6 col-lg-3 form-middle mb-3 mb-md-4">
                <p-checkbox
                    formControlName="is_default_variant"
                    binary="true"
                    [label]="'set_as_the_default_variant' | translate"
                    (onChange)="changeDefulat(grindFormGroup)"
                >
                </p-checkbox>
                <small *ngIf="grindFormGroup.controls['is_default_variant'].errors?.required" class="p-error">
                    {{ 'required' | translate }}
                </small>
            </div>
            <div *ngIf="!isExternal" class="col-md-6 col-lg-3 sewn-form-field">
                <label>{{ 'remaining_quantity_in_the_batch' | translate }}</label>
                <div class="p-inputgroup custom-addon">
                    <input
                        [value]="grindFormGroup.getRawValue().remaining_quantity || '0'"
                        [disabled]="true"
                        pInputText
                    />
                    <span class="p-inputgroup-addon gray">{{ grindFormGroup.getRawValue().quantity_unit }}</span>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 sewn-form-field">
                <label>{{ 'price' | translate }}<span class="star">*</span></label>
                <div class="p-inputgroup custom-addon">
                    <p-inputNumber
                        [minFractionDigits]="2"
                        [maxFractionDigits]="2"
                        formControlName="price"
                    ></p-inputNumber>
                    <span class="p-inputgroup-addon gray">{{ baseCurrency }}</span>
                    <small *ngIf="grindFormGroup['controls']['price'].errors?.required" class="p-error">
                        {{ 'required' | translate }}
                    </small>
                    <small *ngIf="grindFormGroup['controls']['price'].errors?.min" class="p-error">
                        {{ 'must_be_greater_than' | translate }} 0
                    </small>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 sewn-form-field">
                <label>{{ 'stock_available' | translate }}<span class="star">*</span></label>
                <div class="p-inputgroup custom-addon">
                    <p-inputNumber formControlName="available_quantity"></p-inputNumber>
                    <span class="p-inputgroup-addon gray">{{ grindFormGroup.value.available_quantity_type }}</span>
                    <small
                        *ngIf="grindFormGroup['controls']['available_quantity'].errors?.required"
                        class="position-absolute p-error"
                    >
                        {{ 'required' | translate }}
                    </small>
                    <small
                        *ngIf="grindFormGroup['controls']['available_quantity'].errors?.min"
                        class="position-absolute p-error"
                    >
                        {{ 'must_be_greater_equal' | translate | strReplace: '{limit}':'0' }}
                    </small>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 sewn-form-field">
                <label>{{ 'sku_number' | translate }}<span class="star">*</span></label>
                <input type="text" formControlName="sku_number" pInputText />
                <small *ngIf="grindFormGroup['controls']['sku_number'].errors?.required" class="p-error">
                    {{ 'required' | translate }}
                </small>
            </div>

            <div class="col-12 mb-4">
                <div class="fnt-16 fw-b mb-1">{{ 'batch_information' | translate }}</div>
                <div class="fnt-semi-bold text-clr588">
                    {{ (isExternal ? 'add_batch_information_note' : 'batch_information_note') | translate }}
                </div>
            </div>

            <div *ngIf="!isExternal" class="col-md-6 col-lg-3 sewn-form-field">
                <label>{{ 'roaster_level' | translate }}</label>
                <p-dropdown [options]="roastLevelArray" formControlName="roast_level_id" [autoDisplayFirst]="false">
                </p-dropdown>
                <small *ngIf="grindFormGroup['controls']['roast_level_id'].errors?.required" class="p-error">
                    {{ 'required' | translate }}
                </small>
            </div>
            <div class="col-md-6 col-lg-3 sewn-form-field">
                <label>{{ 'estate_name' | translate }}</label>
                <input type="text" formControlName="estate_name" pInputText />
            </div>
            <div class="col-md-6 col-lg-3 sewn-form-field">
                <label>{{ 'origin' | translate }}</label>
                <p-dropdown
                    [options]="countryArray"
                    [filter]="true"
                    optionLabel="name"
                    styleClass="w-100"
                    formControlName="origin"
                    optionValue="isoCode"
                    [autoDisplayFirst]="false"
                >
                </p-dropdown>
            </div>
            <div *ngIf="isExternal" class="col-md-6 col-lg-3 sewn-form-field">
                <label>{{ 'region' | translate }}</label>
                <input type="text" formControlName="region" pInputText />
            </div>
            <div *ngIf="isExternal" class="col-md-6 col-lg-3 sewn-form-field">
                <label>{{ 'harvest_year' | translate }}</label>
                <p-calendar
                    formControlName="harvest_year"
                    [placeholder]="'select_date' | translate"
                    [showIcon]="true"
                    [showButtonBar]="true"
                    view="month"
                    dateFormat="MM yy"
                >
                </p-calendar>
            </div>

            <div *ngIf="isExternal" class="col-12 fnt-16 fw-b mb-3">{{ 'tasting_notes' | translate }}</div>
            <div *ngIf="isExternal" class="col-md-6 col-lg-24 sewn-form-field">
                <label>{{ 'aroma' | translate }}</label>
                <p-inputNumber
                    [minFractionDigits]="1"
                    [placeholder]="'enter_number' | translate"
                    formControlName="aroma"
                ></p-inputNumber>
            </div>
            <div *ngIf="isExternal" class="col-md-6 col-lg-24 sewn-form-field">
                <label>{{ 'acidity' | translate }}</label>
                <p-inputNumber
                    [minFractionDigits]="1"
                    [placeholder]="'enter_number' | translate"
                    formControlName="acidity"
                ></p-inputNumber>
            </div>
            <div *ngIf="isExternal" class="col-md-6 col-lg-24 sewn-form-field">
                <label>{{ 'body' | translate }}</label>
                <p-inputNumber
                    [minFractionDigits]="1"
                    [placeholder]="'enter_number' | translate"
                    formControlName="body"
                ></p-inputNumber>
            </div>
            <div *ngIf="isExternal" class="col-md-6 col-lg-24 sewn-form-field">
                <label>{{ 'flavor' | translate }}</label>
                <p-inputNumber
                    [minFractionDigits]="1"
                    [placeholder]="'enter_number' | translate"
                    formControlName="flavour"
                ></p-inputNumber>
            </div>
            <div *ngIf="isExternal" class="col-md-6 col-lg-24 sewn-form-field">
                <label>{{ 'processing' | translate }}</label>
                <input type="text" formControlName="processing" pInputText />
            </div>
            <div *ngIf="!isExternal" class="col-md-6 col-lg-3 sewn-form-field">
                <label>{{ 'roast_batch_ref_no' | translate }}</label>
                <input type="text" formControlName="roaster_ref_no" pInputText />
            </div>

            <div class="col-12 sewn-form-field">
                <label class="mb-0 mb-md-2">{{ 'flavor_profile' | translate }}</label>
                <app-multiselect-chips
                    formControlName="flavour_profiles"
                    [placeholder]="'add_descriptors' | translate"
                    [itemList]="flavoursList"
                ></app-multiselect-chips>
                <small *ngIf="grindFormGroup.controls['flavour_profiles'].errors?.required" class="p-error">
                    {{ 'required' | translate }}
                </small>
            </div>

            <div *ngIf="isExternal" class="col-lg-6 sewn-form-field">
                <label>{{ 'roaster_notes' | translate }}</label>
                <textarea
                    [rows]="3"
                    [placeholder]="'please_give_small_comment_desp' | translate"
                    formControlName="roaster_notes"
                    pInputText
                ></textarea>
                <small *ngIf="grindFormGroup.controls['roaster_notes'].errors?.required" class="p-error">
                    {{ 'required' | translate }}
                </small>
            </div>
            <div *ngIf="isExternal" class="col-lg-6 sewn-form-field">
                <label>{{ 'recipes' | translate }}</label>
                <textarea
                    [rows]="3"
                    [placeholder]="'recommended_recipe_placeholder' | translate"
                    formControlName="recipes"
                    pInputText
                ></textarea>
                <small *ngIf="grindFormGroup.controls['recipes'].errors?.required" class="p-error">
                    {{ 'required' | translate }}
                </small>
            </div>

            <div *ngIf="isExternal" class="col-12 fnt-16 fw-b mb-3">
                {{ 'recommended_brewing_method' | translate }}
            </div>
            <div *ngIf="isExternal" class="col-md-4 sewn-form-field mb-md-0">
                <label>{{ 'brewing_method' | translate }}</label>
                <p-dropdown
                    [options]="BREWING_METHOD_ITEMS"
                    [placeholder]="'select_method' | translate"
                    formControlName="brewing_method"
                >
                    <ng-template let-item pTemplate="selectedItem">{{ item.label | translate }}</ng-template>
                    <ng-template let-item pTemplate="item">{{ item.label | translate }}</ng-template>
                </p-dropdown>
            </div>
            <div *ngIf="isExternal" class="col-md-8 sewn-form-field mb-0">
                <label
                    >{{ 'recommendation_text' | translate
                    }}<span class="star" *ngIf="grindFormGroup.get('recommendation_text').value">*</span>
                    <span class="float-right text-clr588"
                        >{{ grindFormGroup.value.recommendation_text | wordCount }}/10 {{ 'words' | translate }}</span
                    >
                </label>
                <input class="d-none d-md-block" formControlName="recommendation_text" pInputText />
                <textarea class="d-md-none" [rows]="3" formControlName="recommendation_text" pInputText></textarea>
                <small *ngIf="grindFormGroup['controls']['recommendation_text'].errors?.required" class="p-error">
                    {{ 'required' | translate }}
                </small>
                <small *ngIf="grindFormGroup['controls']['recommendation_text'].errors?.maxWordCount" class="p-error">
                    {{ 'should_not_be_over_n_words' | translate | strReplace: '{limit}':'10' }}
                </small>
            </div>
        </div>

        <div class="pt-3">
            <div class="row gutter-16 v-gutter-16">
                <div class="col-12 col-md-auto order-1 order-md-2">
                    <button class="btn-raised w-100" (click)="onSaveGrind(grindFormGroup)" [disabled]="isSubmitted">
                        {{ 'save_variant' | translate }}
                    </button>
                </div>
                <div class="col-12 col-md-auto order-2 order-md-1">
                    <button class="btn-stroked w-100" (click)="onCancelGrind(grindFormGroup)">
                        {{ 'cancel' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #firstSaveWeight>
    <div class="text-invalid mt-4 mt-md-45">
        {{ 'note' | translate }} : {{ 'first_save_weight_variant_note' | translate }}
    </div>
</ng-template>

<ng-template #loader>
    <div class="main-block"><app-loading></app-loading></div>
</ng-template>
