@import 'variables';

:host ::ng-deep {
    .p-tabview.tabview-weight-variant {
        .p-tabview-nav li {
            .p-tabview-nav-link {
                padding: 13px 8px 9px 8px;
                @media (min-width: 768px) {
                    padding: 13px 16px 9px 16px;
                }
                @media (min-width: 992px) {
                    padding: 13px 24px 9px 24px;
                }
            }
            &.p-highlight .p-tabview-nav-link,
            &:hover .p-tabview-nav-link {
                background-color: rgba(48, 133, 92, 0.19);
            }
        }
    }

    .grind-wrap {
        @media (max-width: 767px) {
            width: 100% !important;
            display: flex;
            border-bottom: dashed 1px $primary-border-color;
            div {
                width: 50%;
            }
            &:last-child {
                border: none;
                div {
                    width: 100%;
                }
            }
        }
        @media (min-width: 768px) {
            border-left: solid 1px $primary-border-color;
            &:first-child,
            &:last-child {
                border: none;
            }
        }
    }

    @media (min-width: 992px) {
        .col-lg-24 {
            flex: 0 0 20%;
            max-width: 20%;
        }
    }
}

.add-weight-btn {
    @media (min-width: 768px) {
        position: absolute;
        right: 0;
        top: -12px;
    }
}

.equal-operators {
    font-size: 14px;
    font-weight: $fw-m;
    color: #454545;
    position: relative;
    min-height: 1px;
    float: left;
    vertical-align: middle;
    padding: 9px 10px;
    margin-top: 30px;
}

.boxCrateWidth {
    width: 200px !important;
}

.bags-width {
    width: 200px !important;
}

@media screen and (max-width: 767px) {
    .bags-width {
        width: 100% !important;
        padding: 0px !important;
        padding-left: 15px !important;
        margin-left: 0 !important;
    }
    .boxCrateWidth {
        flex: 1;
    }
}

.border-main.invalid {
    border-color: $error-border-color !important;
}

.form-middle {
    @media screen and (min-width: 768px) {
        padding-top: 40px;
    }
}
