@import 'variables';

:host ::ng-deep {
    .p-tabview.tabview-weight-variant {
        .p-tabview-nav li {
            .p-tabview-nav-link {
                padding: 13px 8px 9px 8px;
                @media (min-width: 768px) {
                    padding: 13px 16px 9px 16px;
                }
                @media (min-width: 992px) {
                    padding: 13px 24px 9px 24px;
                }
            }
            &.p-highlight .p-tabview-nav-link,
            &:hover .p-tabview-nav-link {
                background-color: rgba(48, 133, 92, 0.19);
            }
        }
    }

    .grind-wrap {
        @media (max-width: 767px) {
            width: 100% !important;
            display: flex;
            border-bottom: dashed 1px $primary-border-color;
            div {
                width: 50%;
            }
            &:last-child {
                border: none;
                div {
                    width: 100%;
                }
            }
        }
        @media (min-width: 768px) {
            border-left: solid 1px $primary-border-color;
            &:first-child,
            &:last-child {
                border: none;
            }
        }
    }
}

.write-post-btn {
    @media (min-width: 768px) {
        position: absolute;
        right: 0;
        top: -12px;
    }
}

.addNewWeightDiv {
    border: 1px solid #747588;
    padding: 8px 16px 8px 12px;
    border-radius: 4px;
    width: fit-content;
    align-items: center;
    span {
        white-space: nowrap;
    }
}

.flavour-item {
    padding: 8px 16px;
    border-radius: 17px;
    background-color: #747588;
    color: #fff;
    margin: 8px 8px 0 0;
}

.limitFont {
    font-family: Muli;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #ababab;
}

.equal-operators {
    font-size: 14px;
    font-weight: 600;
    color: #454545;
    position: relative;
    min-height: 1px;
    float: left;
    vertical-align: middle;
    padding: 9px 10px;
    margin-top: 30px;
}

.boxCrateWidth {
    width: 200px !important;
}

.bags-width {
    width: 200px !important;
}

@media screen and (max-width: 767px) {
    .bags-width {
        width: 100% !important;
        padding: 0px !important;
        padding-left: 15px !important;
        margin-left: 0 !important;
    }
    .weightVariantBtn {
        border: solid 1px #30855c;
        color: #30855c;
        padding: 0.5rem 2rem;
        display: flex;
        border-radius: 4px;
        align-items: center;
        justify-content: center;
    }
    :host ::ng-deep .p-tabview-nav {
        display: none;
    }
    .boxCrateWidth {
        flex: 1;
    }
}

.p-input-icon-right {
    position: relative;
    .right-icon {
        position: absolute;
        padding: 12px 20px;
        background-color: #f8f8f8;
        margin: 4px;
        right: 0;
    }
    input {
        padding-right: 56px;
    }
}

::ng-deep {
    .p-breadcrumb {
        max-width: 100%;
    }

    .isProductOption .p-tabview .p-tabview-nav {
        display: none;
    }
    .p-calendar {
        &.p-harvest-calendar .p-component:disabled {
            opacity: 1 !important;
        }
    }
    .p-dropdown {
        &.p-dropdown-variantType {
            background: #f9f9f9;
            .p-dropdown-label {
                padding: 16px !important;
            }
            .p-dropdown-panel .p-dropdown-items .p-dropdown-item:last-child {
                padding-right: 12px;
            }
        }
        &.p-dropdown-flavour {
            border: solid 1px #747558;

            &:not(.p-disabled):hover .p-dropdown-label.p-placeholder,
            .p-dropdown:not(.p-disabled).p-focus .p-dropdown-label.p-placeholder {
                color: $dark-color;
            }

            .p-dropdown-label {
                color: $dark-color;
                font-weight: bold;
                padding: 0.5rem 1rem;
            }

            .p-dropdown-trigger {
                display: none;
            }
        }
    }
    .platformLevel .p-dropdown .p-dropdown-trigger {
        display: none;
    }
}

::ng-deep {
    .p-multiselect.flavor-profile-selector {
        border: dashed 1px $primary-color !important;

        .p-multiselect-label {
            color: $primary-color !important;
        }

        .p-multiselect-trigger-icon {
            color: $primary-color !important;
        }
    }
    .p-calendar.p-calendar-has-left-icon {
        .p-inputtext {
            margin-left: 38px;
        }
    }

    .hide-year-selector .p-datepicker-group-container {
        display: none;
    }
}
