@import 'variables';

.addNewWeightDiv {
    border: 1px solid #747588;
    padding: 8px 16px 8px 12px;
    border-radius: 4px;
    width: fit-content;
    align-items: center;
    span {
        white-space: nowrap;
    }
}

.sewn-form-field {
    margin-bottom: 1rem !important;
    label {
        color: #747588;
    }
}

.flavour-item {
    padding: 8px 16px;
    border-radius: 17px;
    background-color: #747588;
    color: #fff;
    margin: 8px 8px 0 0;
}

.limitFont {
    font-family: Muli;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #ababab;
}

.equal-operators {
    font-size: 14px;
    font-weight: 600;
    color: #454545;
    position: relative;
    min-height: 1px;
    float: left;
    vertical-align: middle;
    padding: 9px 10px;
    margin-top: 30px;
}

.boxCrateWidth {
    width: 200px !important;
}

.bags-width {
    width: 200px !important;
}

.vat-type-wrapper {
    width: 200px;
}

@media screen and (max-width: 767px) {
    .vat-type-wrapper {
        width: 100%;
    }
    .bags-width {
        width: 100% !important;
        padding: 0px !important;
        padding-left: 15px !important;
        margin-left: 0 !important;
    }
    .weightVariantBtn {
        border: solid 1px #30855c;
        color: #30855c;
        padding: 0.5rem 2rem;
        display: flex;
        border-radius: 4px;
        align-items: center;
        justify-content: center;
    }
    :host ::ng-deep .p-tabview-nav {
        display: none;
    }
    .boxCrateWidth {
        flex: 1;
    }
}

::ng-deep {
    .p-breadcrumb {
        max-width: 100%;
    }

    .isProductOption .p-tabview .p-tabview-nav {
        display: none;
    }
    .p-dropdown {
        &.p-dropdown-variantType {
            background: #f9f9f9;
            .p-dropdown-label {
                padding: 16px !important;
            }
            .p-dropdown-panel .p-dropdown-items .p-dropdown-item:last-child {
                padding-right: 12px;
            }
        }
    }
}
