<div class="header-sewn">
    <h1 class="hello-txt">Finca La Pampa</h1>
</div>

<section class="rating-top">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <img src="/assets/images/backarrow.png" alt="">
            <span class="back-order pl-2">Return to Order</span>
        </div>
        <div class="float-right ml-auto save-padding">
            <button type="button" class="btn save-button">SUBMIT</button>
        </div>
    </div>

    <div class="feedback-total mt-4">
        <h1 class="leave-text">Leave a feedback!</h1>
        <div class="give-rating">
            Give your experience a rating and help us create a more transparent and trusting community.
        </div>
        <div class="rating-subtext">By giving a feedback you get noticed more!
        </div>
    </div>

    <div class="rating-total mt-4">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-12">
                <div class="row m-0">
                    <div class=""><img class="img-estate" src="assets/images/activity1.png" alt="User"></div>
                    <div class="col-11 pl-0">
                        <ul class="details-lists p-0">
                            <li class="person-name">
                                Finca La Pampa
                                <span class="last-seen">Last Seen today at 4:30pm </span>
                            </li>
                            <li class="roaster">
                                Roaster
                            </li>
                            <li class="d-flex rating-space">

                                <star-rating value="4" totalstars={{totalstar}} checkedcolor="#a88057" readonly="true" uncheckedcolor="#979797" size="19px"></star-rating>
                                <p class="rating-value">{{this.newvalue.toFixed(1)}}</p>

                            </li>
                            <li>
                                <span class="location pr-2">Belgium</span>
                                <span class="details pl-2">Contact details <img src="/assets/images/group.png" alt=""></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="rate-experience">
                    Rate your experience, it helps best if you can give a review about your experience and what we can improve on!
                </div>

            </div>
            <div class="col-lg-7 col-md-7 col-12 pl-3">
                <div class="row experience-padding">
                    <div class="col-lg-5 col-md-5 col-12">
                        <span class="over-exp">Overall experience</span>
                        <p class="">
                            <star-rating value="0" totalstars={{totalstar}} checkedcolor="#a88057" uncheckedcolor="#979797" size="36px"></star-rating>
                        </p>
                    </div>
                    <div class="col-lg-5 col-md-5 col-12">
                        <span class="over-exp">Communication</span>
                        <p class="">
                            <star-rating value="0" totalstars={{totalstar}} checkedcolor="#a88057" uncheckedcolor="#979797" size="36px"></star-rating>
                        </p>
                    </div>

                </div>
                <div class="row experience-padding">
                    <div class="form-group col-md-11 mb-0">
                        <label class="review-label">WRITE A REVIEW!</label>
                        <textarea class="form-control" placeholder="Please enter a short description" rows="4" cols="50" name="problem" id="problem" required=""></textarea>
                        <!-- <div class="problemError" *ngIf="problemError != ''">{{problemError}}</div> -->

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="rating-total mt-4 mb-4">
        <div class="row">
            <div class="col-lg-5 col-md-12 col-12">
                <div class="row m-0">
                    <div class=""><img class="img-estate" src="assets/images/activity1.png" alt="User"></div>
                    <div class="col-11 pl-0">
                        <ul class="details-lists p-0">
                            <li class="person-name">
                                Kevil Baliey
                                <span class="last-seen">Online</span>
                            </li>
                            <li class="roaster">
                                Facilitator
                            </li>
                            <li class="d-flex rating-space">

                                <star-rating value="4" totalstars={{totalstar}} checkedcolor="#a88057" readonly="true" uncheckedcolor="#979797" size="19px"></star-rating>
                                <p class="rating-value">{{this.newvalue.toFixed(1)}}</p>

                            </li>
                            <li>
                                <span class="location pr-2">Belgium</span>
                                <span class="details pl-2">Contact details <img src="/assets/images/group.png" alt=""></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="rate-experience">
                    Rate your experience, it helps best if you can give a review about your experience and what we can improve on!
                </div>

            </div>
            <div class="col-lg-7 col-md-12 col-12 pl-3">
                <div class="row experience-padding">
                    <div class="col-lg-5 col-md-12 col-12">
                        <span class="over-exp">Overall experience</span>
                        <p class="">
                            <star-rating value="0" totalstars={{totalstar}} checkedcolor="#a88057" uncheckedcolor="#979797" size="36px"></star-rating>
                        </p>
                    </div>
                    <div class="col-lg-5 col-md-12 col-12">
                        <span class="over-exp">Communication</span>
                        <p class="">
                            <star-rating value="0" totalstars={{totalstar}} checkedcolor="#a88057" uncheckedcolor="#979797" size="36px"></star-rating>
                        </p>
                    </div>

                </div>
                <div class="row experience-padding">
                    <div class="form-group col-lg-11 col-md-12 mb-0">
                        <label class="review-label">WRITE A REVIEW!</label>
                        <textarea class="form-control" placeholder="Please enter a short description" rows="4" cols="50" name="problem" id="problem" required=""></textarea>
                        <!-- <div class="problemError" *ngIf="problemError != ''">{{problemError}}</div> -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>