    .rating-top {
        padding: 1.5rem 3.2rem 1rem 3.2rem;
    }
    
    .back-order {
        font-family: Muli;
        font-size: 14px;
        font-weight: 600;
        color: #30855c;
    }
    
    .user-name {
        font-family: Muli;
        font-size: 18px;
        font-weight: bold;
        color: #232334;
        margin-top: -10px;
    }
    
    .save-button {
        border-radius: 4px;
        background-color: #30855c;
        font-family: Muli;
        font-size: 14px;
        font-weight: bold;
        color: #ffffff;
        padding: 8px 18px;
    }
    
    .save-padding {
        margin-right: 1%;
    }
    
    .feedback-total {
        border-radius: 8px;
        border: solid 1px #d6d6d6;
        background-color: #faf8f4;
        padding: 1.8rem;
    }
    
    .leave-text {
        font-family: Muli;
        font-size: 16px;
        font-weight: 600;
        color: #232334;
    }
    
    .give-rating,
    .rating-subtext {
        font-family: Muli;
        font-size: 14px;
        font-weight: 600;
        color: #747588;
    }
    
    .rating-total {
        border-radius: 4px;
        border: solid 1px #ebebeb;
        background-color: #ffffff;
        padding: 1.4rem;
    }
    
    .details-lists {
        list-style: none;
        margin-left: 0.5rem;
        width: 91%;
    }
    
    .person-name {
        font-family: Muli;
        font-size: 16px;
        font-weight: bold;
        color: #232334;
    }
    
    .last-seen {
        font-family: Muli;
        font-size: 14px;
        font-weight: 600;
        color: #979797;
        padding-left: 1%;
    }
    
    .roaster {
        font-family: Muli;
        font-size: 14px;
        font-weight: bold;
        color: #747588;
    }
    
    .rating-value {
        position: relative;
        top: 5px;
        left: 5px;
        font-family: Muli;
        font-size: 14px;
        font-weight: bold;
        color: #232334;
    }
    
    .location {
        font-family: Muli;
        font-size: 14px;
        font-weight: bold;
        color: #747588;
    }
    
    .details {
        font-family: Muli;
        font-size: 14px;
        font-weight: bold;
        color: #30855c;
        border-left: 1px solid #ccc;
    }
    
    .top-image {
        margin-top: -3px;
    }
    
    .rate-experience {
        font-family: Muli;
        font-size: 14px;
        font-weight: 600;
        color: #747588;
        /* padding-top: 1.5rem; */
    }
    
    .over-exp {
        font-family: Muli;
        font-size: 16px;
        font-weight: bold;
        color: #232334;
    }
    
    .review-label {
        font-family: Muli;
        font-size: 14px;
        font-weight: 600;
        color: #747588;
    }
    
    .area-border {
        border-radius: 6px;
        border: solid 1px #d6d6d6;
        background-color: #ffffff;
        font-family: Muli;
        font-size: 14px !important;
        font-weight: 600;
        color: #232334 !important;
    }
    
    .experience-padding {
        padding-left: 1.5rem;
    }
    
    .experienceError,
    .communicationError,
    .experienceUserError,
    .communicationUserError {
        color: #D50000;
        font-size: 12px;
        margin-top: -7px;
    }
    
    .reviewError,
    .reviewUserError {
        color: #D50000;
        font-size: 12px;
    }
    
    @media only screen and (max-width: 767px) {
        .rating-top {
            padding: 1.5rem 0.5rem 1rem 0.5rem;
        }
        .experience-padding {
            padding-left: 0rem;
        }
        .rate-experience {
            padding-top: 0rem;
            font-size: 14px;
            padding-bottom: 0.7rem;
        }
        .details-lists {
            margin-left: 0rem;
        }
    }
    
    @media only screen and (max-width:991px) and (min-width:768px) {
        .rating-top {
            padding: 1.5rem 1rem 1rem 1rem;
        }
        .experience-padding {
            padding-left: 0;
        }
    }