.feedback-total {
    padding: 1rem 0.75rem;
    background: linear-gradient(to top, #ffffff -2%, #faf8f4 106%);
    @media (min-width: 768px) {
        padding: 2.5rem;
    }
}

.rating-total {
    padding: 1rem 0.5rem 0.5rem;
    @media (min-width: 768px) {
        padding: 2rem 2rem 1.5rem;
    }
}

.mobile-btn-wrap {
    margin: 0 -15px -15px -15px;
    padding: 12px 28px 12px 28px;
}

.star-input-wrap {
    font-size: 24px;
}
