.rectangle_name {
    height: 46px !important;
    border-radius: 4px;
    border: solid 1px #d6d6d6;
    background-color: #ffffff;
    font-family: Muli;
    font-size: 14px !important;
    font-weight: 500;
    color: #232334 !important;
}

.role-name {
    font-size: 12px;
    font-weight: 600;
    color: #747588;
    font-family: Muli;
}

.form_header {
    height: 46px;
    font-family: PlayfairDisplay;
    font-size: 34px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #232334;
}

.form_para {
    height: 20px;
    font-family: Muli;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #747588;
}

.form_content {
    position: relative;
    /* left: 8%; */
}

.btn-div {
    padding-right: 8%;
}

.prev-div {
    padding-right: 10%;
}

.text-area {
    height: 106px !important;
}

.upload-text {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    /* padding-left: 12%; */
}

.upload-btn {
    margin-top: 16%;
    height: 46px;
    border-radius: 4px;
    background-color: #30855c;
    padding: 0 1.35rem;
}

.upload-btn:hover {
    box-shadow: 0 0 7px 1px rgba(67, 146, 108, 0.5);
}

.upload-div {
    padding: 0%;
    position: relative;
    right: 2%;
    margin-left: 3%;
}


/* .cert-year{
      width: 90%;
  } */

.add_image {
    text-align: center;
    padding: 8% 6%;
    cursor: pointer;
    font-family: Muli;
    background-color: #f8f8f8;
    white-space: nowrap;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.attachImage {
    text-align: center;
    padding: 8% 6%;
    cursor: pointer;
    font-family: Muli;
}

#image_info {
    font-size: 10px !important;
    margin-bottom: 0rem !important;
}

.add-text {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #3d8462;
    padding-left: 8%;
}

.role_edit {
    border-radius: 4px;
    border: solid 1px #d6d6d6;
    background-color: #ffffff;
    background: url(/assets/images/active.png) right 16px top 21px/10px no-repeat;
    -webkit-appearance: none;
    font-family: Muli;
    font-weight: 500;
    height: 46px !important;
    padding-top: 7px;
    cursor: pointer;
}

.btn {
    text-decoration: none;
}

#delete-btn {
    padding: 0%;
    margin-top: 5%;
}

.upload-add-btn {
    margin-top: 11%;
    padding: 0%;
}

.add-btn:hover>.add-text,
.upload-add-btn:hover>.upload-text {
    text-decoration: underline;
}

.certificate-details {
    height: 40px;
    border-radius: 4px;
    background-color: #f8f8f8;
    border: 1px solid #f8f8f8;
    /* margin-left: 9%; */
}

.name {
    padding: 0.7rem;
    font-family: Muli;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #232334;
}

.button-div {
    padding: 0.5rem;
    margin-right: 1%;
}

.edit-btn {
    padding: 0%;
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #979797;
}

.del-btn {
    padding: 0%;
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #979797;
}

.view-btn {
    padding: 0%;
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #979797;
}

.edit-img,
.del-img {
    padding-right: .5rem;
    position: relative;
    bottom: 3px;
}

.del-btn:focus,
.edit-btn:focus,
.view-btn:focus {
    box-shadow: none !important;
    outline: 0;
}

.v-line {
    display: none;
}

.bar {
    color: #d6d6d6 !important;
}

.certificationNameError,
.certificationYearError {
    color: #d50000;
}

.career-loader {
    height: 17px;
    width: 17px;
    margin-left: 4px;
    margin-top: -4px;
}

.desk {
    display: block;
}

.mob {
    display: none;
}

.header {
    font-size: 34px;
    color: #232334;
    font-weight: normal;
    text-align: center;
    font-family: PlayfairDisplay;
}

.page-padding {
    padding: 4rem 8rem;
}

.back-ticket {
    font-family: Muli;
    font-size: 16px;
    font-weight: 600;
    color: #80460b;
    cursor: pointer;
}

@media screen and (max-width: 425px) {
    .page-padding {
        padding: 1rem !important;
    }
    .mobile-view {
        padding: 1rem;
    }
    .header {
        font-size: 16px;
        text-align: left;
        font-family: Muli;
        font-weight: bold;
    }
    hr {
        position: relative;
        top: 1.5rem;
        width: 95%
    }
    .form-control {
        width: 100%;
        font-size: 14px;
    }
    .upload-btn {
        padding: 0;
        margin-top: 0;
        border: 1px solid #30855c;
        border-radius: 4px;
        width: 50%;
        height: 46px;
        /* margin-left: 5%; */
    }
    /* .upload-text {
      padding-left: 5%;
    } */
    .upload-add-btn {
        width: 45%;
        margin-left: 5%;
        margin-top: 0%;
        padding-bottom: 3%;
    }
    .upload-del-btn {
        padding: 0% !important;
        /* position: relative; */
        /* right: 2%; */
        border: 1px solid #3d8462;
        border-radius: 4px;
        display: inline-block;
        /* margin: 0 0; */
        width: 83%;
        margin-left: 5%;
        margin-top: 5%;
    }
    #delete-btn {
        width: 45%;
        padding: 0;
        margin-top: 0;
        border: none;
        border-radius: none;
        height: 46px;
        padding-bottom: 4%;
    }
    .v-line {
        font-size: xx-large;
        display: inline-block;
    }
    .add_image {
        padding-top: 4%;
        text-align: unset;
    }
    .attachImage {
        padding-top: 4%;
    }
    .desk {
        display: none !important;
    }
    .mob {
        display: block !important;
    }
    .upload-div {
        right: 0%;
        margin-left: 0%;
        text-align: center;
    }
    .form_para {
        text-align: left;
        margin-bottom: 2rem;
    }
}


/* @media screen and (max-width: 1200px) {
.page-padding{
  padding: 2rem ;
}
  } */

@media screen and (max-width: 767px) {
    .button-div {
        float: left !important;
        width: 100% !important;
        display: block !important;
    }
    .certificate-details {
        height: 80px;
    }
    .page-padding {
        padding: 2rem 5rem;
    }
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list {
    display: block;
    border-radius: 4px;
}

.example-box {
    box-sizing: border-box;
    cursor: move;
    padding: 0;
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.reorder {
    padding-left: 5px;
    padding-right: 25px;
    position: relative;
    bottom: 3px;
}

.cancel-icon {
    position: relative;
    bottom: 3px;
}

.galleryImg {
    position: relative;
    bottom: 2px;
}

.descr {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #747588;
}

.text-data {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #232334;
}

.list-group-item {
    border: none;
    font-family: 'Muli';
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #747588;
}

.list-group-item:hover {
    color: #232334;
    font-weight: 600;
    background-color: #f8f8f8;
}

::ng-deep .popover-body {
    padding: .25rem .25rem !important;
}

::ng-deep .popover {
    border: none !important;
    border-radius: 5px !important;
    box-shadow: 0 0 17px 2px rgba(27, 27, 27, 0.08) !important;
    background-color: #ffffff;
}

::ng-deep .bs-popover-bottom .arrow:after {
    top: 0px !important;
}

.pointer-item {
    cursor: pointer;
}

.filter {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #30855c;
}