.information-wrapper {
    width: calc(75% - 16px);
}

@media screen and (max-width: 991px) {
    .information-wrapper {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .vat-type-wrapper {
        width: 100%;
    }
}
