@import 'variables';
.link-wrapper {
    display: flex;
    @media (min-width: 768px) {
        width: 46%;
    }
    .link-text {
        padding: 10px 16px;
        border-radius: 4px;
        border: solid 1px $secondary-border-color;
        background: $primary-bg-color;
        text-overflow: ellipsis;
        overflow: hidden;
        border-radius: 4px 0 0 4px !important;
        white-space: nowrap;
    }
    button {
        white-space: nowrap;
        border-radius: 0 4px 4px 0 !important;
    }
}

::ng-deep .w-cal {
    .p-calendar .p-calendar {
        width: 150px !important;
    }
}
