<div class="main-block">
    <div class="d-flex justify-content-between">
        <div class="breadcrumb-container">
            <p-breadcrumb [model]="breadItems"></p-breadcrumb>
        </div>
    </div>
    <section>
        <div class="d-md-flex flex-column flex-md-row justify-content-between align-items-end mt-4 mt-md-475 mb-4">
            <div>
                <div class="fnt-md-18 fnt-16 fnt-bold text-clr334 fnt-muli mb-2">
                    {{ 'micro_roaster_invite' | translate }}
                </div>
                <div class="text-clr588 fnt-md-14 fnt-12 fnt-600 fnt-muli mb-0">{{ 'send_public' | translate }}.</div>
                <div class="text-clr588 fnt-md-14 fnt-12 fnt-600 fnt-muli">{{ 'you_can_manually' | translate }}.</div>
            </div>
        </div>
        <div class="link-wrapper">
            <span class="fnt-14 fnt-600 flex-1 link-text">{{ microRoasterLink?.invite_url }}</span>
            <button (click)="onCopy()" class="btn-raised" ngxClipboard [cbContent]="microRoasterLink?.invite_url">
                {{ 'copy_link' | translate }}
            </button>
        </div>
        <div class="d-block d-md-none mb-3 mt-4 pt-4 border-top-dashed-d6">
            <span class="custom-search mobile-bord">
                <input
                    type="text"
                    pInputText
                    class="w-100 round-border {{ searchTerm ? 'highlight' : '' }} "
                    [(ngModel)]="searchTerm"
                    placeholder="{{ 'Search with company name' | translate }}"
                />
            </span>
        </div>
    </section>

    <div class="mt-4 d-flex justify-content-between">
        <div class="d-md-flex">
            <p-dropdown
                [options]="status"
                [showClear]="true"
                [(ngModel)]="customerStatus"
                (onChange)="setStatus()"
                scrollHeight="225px"
                placeholder="{{ 'status' | translate }}"
                [autoDisplayFirst]="false"
                styleClass="round-border mr-25 mb-3 {{ customerStatus ? 'highlight' : '' }}"
            ></p-dropdown>
            <p-calendar
                class="calender w-cal"
                [readonlyInput]="true"
                placeholder="Date added"
                [formControl]="searchForm.controls['dates']"
                dateFormat="dd-mm-yy"
                [maxDate]="currentDate"
                [showButtonBar]="true"
                [showIcon]="true"
                [styleClass]="
                    'round-border mb-25 mb-md-3 mb-lg-4' +
                    (queryParams.from_date || queryParams.to_date ? ' highlight' : '')
                "
            >
            </p-calendar>
        </div>
        <div class="col-md-5 col-lg-3 px-0 web-farm">
            <span class="custom-search">
                <input
                    type="text"
                    pInputText
                    class="w-100 round-border {{ searchTerm ? 'highlight' : '' }}"
                    [(ngModel)]="searchTerm"
                    (input)="search()"
                    placeholder="{{ 'Search with company name' | translate }}"
                />
            </span>
        </div>
    </div>
    <div>
        <p-table
            id="tabTable"
            #markedTable
            [class.table-mobile]="primeTableService.isMobileView"
            [value]="primeTableService?.records"
            [columns]="primeTableService._allColumns"
            [(selection)]="primeTableService.selectedRecords"
            dataKey="id"
            styleClass="ui-table-customers"
            [rows]="primeTableService.rows"
            [showCurrentPageReport]="false"
            [loading]="primeTableService.loading"
            [paginator]="primeTableService.paginationValue"
            [lazy]="true"
            (onLazyLoad)="primeTableService.getData($event)"
            [totalRecords]="primeTableService.totalRecords"
            [responsive]="primeTableService.isMobileView"
        >
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th
                        *ngFor="let col of columns"
                        [style.width]="col.width ? col.width + '%' : '30%'"
                        [pSortableColumn]="col.sortable === true ? col.field : null"
                    >
                        <span class="primeng-table-header">{{ col.header }}</span>
                        <p-sortIcon
                            *ngIf="col.sortable === true"
                            [field]="col.field"
                            ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order"
                        >
                        </p-sortIcon>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns" [ngSwitch]="col.field">
                        <span *ngSwitchCase="'id'" [routerLink]="onView(rowData)">
                            <div class="d-flex">
                                <span *ngIf="primeTableService.isMobileView" class="prime-table-label text-clr588 w-50">
                                    {{ 'order_id' | translate }}
                                </span>

                                <span [class.w-50]="primeTableService.isMobileView">
                                    {{ rowData['id'] }}
                                </span>
                            </div>
                        </span>
                        <span *ngSwitchCase="'user_first_name'" [routerLink]="onView(rowData)">
                            <div class="d-flex">
                                <span *ngIf="primeTableService.isMobileView" class="prime-table-label text-clr588 w-50">
                                    {{ 'product_name' | translate }}
                                </span>

                                <span [class.w-50]="primeTableService.isMobileView">
                                    {{ rowData['user_first_name'] }} {{ rowData['user_last_name'] }}
                                </span>
                            </div>
                        </span>
                        <span *ngSwitchCase="'name'" [routerLink]="onView(rowData)">
                            <div class="d-flex">
                                <span *ngIf="primeTableService.isMobileView" class="prime-table-label text-clr588 w-50">
                                    {{ 'company_name' | translate }}
                                </span>

                                <span [class.w-50]="primeTableService.isMobileView">
                                    {{ rowData['name'] }}
                                </span>
                            </div>
                        </span>
                        <span *ngSwitchCase="'customer_name'" [routerLink]="onView(rowData)">
                            <div class="d-flex">
                                <span *ngIf="primeTableService.isMobileView" class="prime-table-label text-clr588 w-50">
                                    {{ 'customer_name' | translate }}
                                </span>

                                <span [class.w-50]="primeTableService.isMobileView">
                                    {{ rowData['customer_name'] }}
                                </span>
                            </div>
                        </span>
                        <span *ngSwitchCase="'email'" [routerLink]="onView(rowData)">
                            <div class="d-flex">
                                <span *ngIf="primeTableService.isMobileView" class="prime-table-label text-clr588 w-50">
                                    {{ 'email' | translate }}
                                </span>

                                <span [class.w-50]="primeTableService.isMobileView">
                                    {{ rowData['email'] }}
                                </span>
                            </div>
                        </span>
                        <span *ngSwitchCase="'country'" [routerLink]="onView(rowData)">
                            <div class="d-flex">
                                <span *ngIf="primeTableService.isMobileView" class="prime-table-label text-clr588 w-50">
                                    {{ 'country_name' | translate }}
                                </span>

                                <span [class.w-50]="primeTableService.isMobileView">
                                    {{ rowData['country'] | country }}
                                </span>
                            </div>
                        </span>
                        <span *ngSwitchCase="'created_at'" [routerLink]="onView(rowData)">
                            <div class="d-flex">
                                <span *ngIf="primeTableService.isMobileView" class="prime-table-label text-clr588 w-50">
                                    {{ 'created_on' | translate }}
                                </span>

                                <span [class.w-50]="primeTableService.isMobileView">
                                    {{ rowData['created_at'] | date: 'd MMM yyyy' }}
                                </span>
                            </div>
                        </span>
                        <span *ngSwitchCase="'status'" [routerLink]="onView(rowData)">
                            <div class="d-flex">
                                <span *ngIf="primeTableService.isMobileView" class="prime-table-label text-clr588 w-50">
                                    {{ 'status' | translate }}
                                </span>

                                <span
                                    [class.w-50]="primeTableService.isMobileView"
                                    [ngStyle]="{
                                        color:
                                            rowData['status'] === 'approved'
                                                ? '#649a2b'
                                                : rowData['status'] === 'rejected'
                                                ? '#d50000'
                                                : '#f19634'
                                    }"
                                >
                                    {{ rowData['status'] | titlecase }}
                                </span>
                            </div>
                        </span>

                        <span *ngSwitchCase="'actions'" class="text-center">
                            <ng-container *ngIf="!primeTableService.isMobileView">
                                <span class="brown-cta" [routerLink]="onView(rowData)">{{
                                    'view' | titlecase | translate
                                }}</span>
                            </ng-container>
                        </span>

                        <span *ngSwitchDefault>
                            {{ rowData[col.field] }}
                        </span>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="summary">
                <app-empty
                    *ngIf="!primeTableService?.loading && !primeTableService?.records?.length"
                    [title]="'no_data_available' | translate"
                ></app-empty>
            </ng-template>
        </p-table>
    </div>
</div>
