<div>
    <div class="d-none d-md-block">
        <h1 class="fnt-18 fnt-bold text-clr334 mb-0">
            {{ 'filter_by_content' | translate }}
        </h1>
    </div>
    <div class="d-md-none">
        <h1 class="fnt-18 fnt-bold text-clr334 mb-0 mb-4">{{ 'my_posts' | translate }}</h1>
        <h1 class="fnt-14 fnt-bold text-clr334 mb-0 mb-3">{{ 'filter_by_content' | translate }}</h1>
    </div>
    <div>
        <p-tabMenu [model]="menuItems" styleClass="inner-menu remove-menu-post mt-3 custom-menu">
            <ng-template pTemplate="item" let-item let-i="index">
                <span class="pl-1">{{ item.label | translate }}</span>
            </ng-template>
        </p-tabMenu>
        <div class="mb-4">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
