// Custom Theming for Prime Ng

@import '../variables';

// Dialog
.p-dialog {
    background: #fff;
    border: none;
    width: 90vw;
    @media (min-width: 768px) {
        width: 75vw;
    }
}
.confirm-dialog.p-dialog {
    max-width: 450px;
}
.p-dialog .p-dialog-header {
    background: #fff;
    color: #242424;
    padding-left: 0;
    padding-right: 0;
}
.p-dialog .p-dialog-header .p-dialog-header-icon {
    color: $button-icon-color;
}
.p-dialog-header-close-icon {
    font-size: 20px;
}
.p-dialog .p-dialog-content {
    padding: 0;
    border-radius: 4px;
}
.p-dialog .p-dialog-footer {
    padding-left: 0;
    padding-right: 0;
}
.p-dialog-mask {
    background-color: rgba(0, 0, 0, 0.8) !important;
}
