@import '../variables';

.p-button {
    &:enabled:hover {
        background: $primary-color;
        border-color: transparent;
        border: none;
    }
}

.p-button:focus {
    box-shadow: none;
}
