// Custom Theming for Prime Ng

@import '../variables';

// Checkbox
.p-checkbox .p-checkbox-box.p-highlight {
    border-color: $primary-color;
    background: $primary-color;
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
    border-color: $primary-color;
    background: $primary-color;
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
    border-color: $primary-color;
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
    box-shadow: none;
    border-color: $primary-color;
}
.p-checkbox-label {
    margin-bottom: 0;
    color: $general-text-color;
}

.dark {
    .p-checkbox .p-checkbox-box.p-highlight {
        border-color: $dark-color;
        background: $dark-color;
    }
    .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
        border-color: $dark-color;
        background: $dark-color;
    }
    .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
        box-shadow: none;
        border-color: $dark-color;
    }
}
