@import 'variables';

.profile-header-details {
    overflow: hidden;
    background: linear-gradient(#faf8f4, #ffffff);
    height: 190px;
    @media screen and (max-width: 767px) {
        height: 107px;
    }
    .mv-change-icon {
        position: absolute;
        right: 12px;
        top: 7px;
    }

    .cover-pic {
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .plus-circle {
            margin: auto;
        }
        @media screen and (max-width: 767px) {
            top: 24px;
            transform: translate(-50%, 0%);
        }
    }
    .cover-image-profile-banner {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .replace-img {
        position: absolute;
        bottom: 20px;
        right: 12%;
        cursor: pointer;
    }

    .edit-btn-group {
        position: absolute;
        right: 24px;
        bottom: 24px;
    }
}

.profile-description-container {
    position: relative;
    .profile-avatar {
        position: absolute;
        width: 160px;
        height: 160px;
        border-radius: 50%;
        top: -80px;
        left: 36px;
        @media screen and (max-width: 767px) {
            width: 90px;
            height: 90px;
            border-radius: 50%;
            top: -33px;
            left: 50%;
            transform: translateX(-50%);
        }
        .avatar-img {
            width: 100%;
            height: auto;
            border-radius: 50%;
            border: 5px solid white;
            @media screen and (max-width: 767px) {
                border: 2px solid white;
            }
        }
        .change-avatar-btn {
            position: absolute;
            right: 14px;
            bottom: 0px;
        }
    }
    .profile-metadata-container {
        margin-left: 216px;
        max-width: 345px;
        min-height: 123px;
        @media screen and (max-width: 767px) {
            margin: auto;
            max-width: 100%;
            text-align: center;
            padding-top: 56px;
        }
    }
}

.btn-trans-nb {
    background-color: transparent;
    border: none;
    color: #ffffff;
    padding: 11px 24px;
}

.underline {
    text-decoration: underline !important;
}
