<div class="bg-fff coffee-exp agreements">
    <nav role="navigation" aria-labelledby="title-breadcrumb-1" class="breadcrumb1 pt-4">
        <span id="title-breadcrumb-1" class="sr-only"></span>
        <ul class="bread-nav">
            <li class="b-cum">
                <a class="b-cum" routerLink="/features/welcome-aboard">Home</a><span class="padl-r" aria-hidden="true"><img class="group-img" src="/assets/images/arrow-1.png" alt=""> </span>
            </li>
            <li class="b-cum">
                <a class="b-cum">Marketing Arena</a><span class="padl-r" aria-hidden="true"> <img class="group-img" src="/assets/images/arrow-1.png" alt=""> </span>
            </li>

            <li class="b-cum c-pink">Agreements</li>
            <!-- <button type="submit" class="btn col-12 col-md-1 pull-right add-role-butn d-md-block d-none">Export</button> -->

        </ul>
    </nav>

    <section class="estate-orders-heading">
        <h5 class="estate-order-title pt-3"> Agreements</h5>
    </section>



    <section class="estate-orders">

        <!-- <div class="row mb-4">
        <div class="d-inline col-sm-12 search-div">
			<input type="text" name="search" class="col-12 col-md-4 search" [(ngModel)]="estateterm" placeholder="Search by Name,role..">
		</div>
    </div> -->
        <div class="row ">
            <div class="d-inline table-w pt-2">
                <div class="title-header d-inline desk_view_user">
                    <div class="d-inline border-order role-div col-sm-6" id="origin_id">
                        <!-- <p class="d-inline">Role:</p><p class="d-inline filter"> All&nbsp;  <a data-toggle="popover-roles" data-placement="bottom"><img src="assets/images/active.png"></a></p> -->
                        <p class="d-inline filter-text" *ngIf="estatetermOrigin == ''">Select customer&nbsp;</p>
                        <a class="pointer-item" [popover]="originTemplate" placement="bottom" container="body" #pop4="bs-popover">
                            <p class="d-inline filter" *ngIf="estatetermOrigin == ''" (click)="toggleOrigin()">
                                &nbsp; <img src="{{ showOrigin ? 'assets/images/active-user.png' : 'assets/images/user-down.svg'}}" />
                            </p>
                        </a>
                        <a class="pointer-item" [popover]="originTemplate" placement="bottom" container="body" #pop5="bs-popover">
                            <p class="d-inline filter" *ngIf="estatetermOrigin != ''" (click)="toggleOrigin()">
                                {{ estatetermOrigin }} &nbsp;<img src="{{ showOrigin ? 'assets/images/active-user.png' : 'assets/images/user-down.svg'}}" />
                            </p>
                        </a>
                    </div>



                    <div class="d-inline display_div">
                        <div class="float-right upload-order top-space">
                            <label class="share-bor"> <input class="file-inpt" type="file"> <img class="dwnd-img" src="assets/images/upload-icon.png" alt="upload-icon">  <span class="share-txt"> Upload </span> </label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="estate-table pt-2">
            <table class="estate-boby-txt" datatable [dtOptions]="dtOptions">
                <!-- <thead>
                    <tr class="estate-title">
                        <th>
                            <label class="b-check first-t">
                            <input type="checkbox" checked="checked"  name="user_all" [checked]="isAllCheckedEstate()" (change)="checkAllEstate($event)" >
                            <span class="checkmark"></span>
                        </label>
                        </th>
                        <th>Order ID </th>
                        <th>Estate name </th>
                        <th>Date ordered </th>
                        <th>Orgin </th>
                        <th>Species</th>
                        <th>Price</th>
                        <th>Quantity </th>
                        <th>Type of Order </th>
                        <th>Status </th>
                        <th>Action</th>
                    </tr>
                </thead> 
                <tbody>
                    <tr *ngFor="let group of data" class="estate-boby-txt">
                        <td class="spacing-order" style="width: 40px;">
                            <label class="b-check">
                            <input type="checkbox" name="sizecb[]" value="{{ group.id }}" [(ngModel)]="group.state" />
                            <span class="checkmark"></span>
                          </label>
                        </td>

                        <td>{{group.id}}</td>
                        <td>{{group.estatename}}</td>
                        <td>{{group.dataordered}}</td>
                        <td>{{group.origin}}</td>
                        <td>{{group.species}}</td>
                        <td>{{group.price}}</td>
                        <td>{{group.quantity}}</td>
                        <td>

                            <p class="typeoforder-Sample" *ngIf="group.typeoforder == 'Sample'">&#9679; {{group.typeoforder}}</p>
                            <p class="typeoforder-Booked" *ngIf="group.typeoforder == 'Booked'">&#9679; {{group.typeoforder}}</p>
                            <p class="typeoforder-Pre-Booked" *ngIf="group.typeoforder == 'Pre-Booked'">&#9679; {{group.typeoforder}}</p>

                        </td>
                        <td>{{group.status}}
                        </td>
                        <td class="view-order" (click)="displayData($event,group)">View order</td>
                    </tr>
                </tbody> -->
            </table>
        </div>

    </section>
</div>

<ng-template #originTemplate>
    <div id="status-content">
        <ul class="list-group custom-popover">
            <li class="list-group-item item-color">
                <a class="pointer-item" (click)="setOrigin(''); pop4.hide(); pop5.hide();toggleOrigin()">All</a>
            </li>
            <li class="list-group-item item-color">
                <a class="pointer-item" (click)="setOrigin('The Steam Hotel'); pop4.hide(); pop5.hide();toggleOrigin()">The Steam Hotel</a>
            </li>
            <li class="list-group-item item-color">
                <a class="pointer-item" (click)="setOrigin('Candela'); pop4.hide(); pop5.hide();toggleOrigin()">Candela</a>
            </li>
            <li class="list-group-item item-color">
                <a class="pointer-item" (click)="setOrigin('Finca'); pop4.hide(); pop5.hide();toggleOrigin()">Finca</a>
            </li>
            <li class="list-group-item item-color">
                <a class="pointer-item" (click)="setOrigin('Santa'); pop4.hide(); pop5.hide();toggleOrigin()">Santa</a>
            </li>
            <li class="list-group-item item-color">
                <a class="pointer-item" (click)="setOrigin('Hacienda'); pop4.hide(); pop5.hide();toggleOrigin()">Hacienda</a>
            </li>
            <li class="list-group-item item-color">
                <a class="pointer-item" (click)="setOrigin('Vijay'); pop4.hide(); pop5.hide();toggleOrigin()">Vijay</a>
            </li>
        </ul>
    </div>
</ng-template>