.bread-nav {
    padding-left: 3.1rem;
}

.agre-index-z {
    z-index: 9;
}


/*=======   Tabs  =======*/

.mixups-tabs {
    background-color: #ffffff;
    overflow: hidden;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #232334;
    font-size: 14px;
    font-weight: 600;
    background-color: unset !important;
    border-radius: unset;
}

.nav-pills .nav-link.active {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

.nav-pills .nav-link.active:before {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 50%;
    text-align: center;
    margin: auto;
    top: 80%;
    transform: translate(-50%);
    border-radius: 1.5px;
    background-color: #30855c;
}

.nav-pills {
    border-bottom: 1px solid #dddddd;
}

li.nav-item {
    margin-right: 7%;
    position: relative;
    top: .25rem;
}

.nav-pills .nav-link {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    color: #232334;
}

.nav-pills .nav-link.active {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    color: #30855c;
}

.file-share-search input[type="search"] {
    outline: 0;
    border: 0;
    background: none;
    font-size: 12px;
    font-weight: 600;
    color: #232334;
    font-family: 'Muli', sans-serif;
    width: 80% !important;
}

.file-share-search input[type="search"]::placeholder {
    font-size: 12px;
    font-weight: 600;
    color: #747588;
    font-family: 'Muli', sans-serif;
}

.file-share-search {
    display: inline-block;
    border-radius: 4px;
    border: solid 1px #d6d6d6;
    background-color: #ffffff;
    padding: 5px 10px;
}

.bread-nav {
    padding-left: 3.1rem;
}

.orders-border {
    border-radius: 4px;
    border: solid 1px #d6d6d6 !important;
}

.agreements {
    padding: 2rem 0rem;
}

.estate-orders-heading {
    margin: 1rem 3.1rem;
}

@media (max-width:767px) {
    .bg-fff {
        padding: 1rem .7rem;
    }
    .estate-orders-heading {
        margin: .2rem;
    }
}