<section>
    <div class="main-block">
        <app-brand-profile-header pageSlug="learn" (saveClick)="savePageData()"></app-brand-profile-header>

        <form [formGroup]="infoForm" novalidate>
            <div class="row">
                <div class="col-lg-8">
                    <div class="br-main br-2 p-3 p-md-4">
                        <h4 class="fnt-16 lh-normal fnt-700 text-clr334 mb-3">Banner<span class="star">*</span></h4>
                        <p class="fnt-14 lh-normal fnt-600 text-clr334 mb-2">
                            Image/Video banner<span class="star">*</span>
                        </p>
                        <p class="fnt-mb-14 lh-normal fnt-600 fnt-muli text-clr588 mb-2">
                            Upload a banner cover about your roaster
                        </p>
                        <p class="fnt-mb-14 lh-normal fnt-600 text-clr588 mb-3 mb-md-4">Size - 1440 x 465 px</p>

                        <div class="w-100 sewn-form-field mb-4 mb-md-45">
                            <app-uploader formControlName="banner_file"></app-uploader>
                            <small *ngIf="infoForm.controls.banner_file.errors?.required" class="p-error">
                                Please upload
                            </small>
                        </div>

                        <div class="w-100 sewn-form-field mb-0">
                            <label>
                                Banner Title<span class="star">*</span>
                                <span class="pull-right text-clr588">
                                    {{ infoForm.get('banner_title').value | wordCount }}/10 words
                                </span>
                            </label>
                            <input type="text" formControlName="banner_title" pInputText />
                            <small *ngIf="infoForm.controls.banner_title.errors?.required" class="p-error">
                                Required
                            </small>
                            <small *ngIf="infoForm.controls.banner_title.errors?.maxWordCount" class="p-error">
                                Please input 10 words
                            </small>
                        </div>
                    </div>

                    <div class="br-main br-2 mt-4 mt-md-45 p-3 p-md-4">
                        <h4 class="fnt-16 lh-normal fnt-700 text-clr334 mb-3">Intro</h4>
                        <p class="fnt-14 lh-normal fnt-600 text-clr334 mb-4">Give yourself a small intro!</p>

                        <div class="w-100 sewn-form-field mb-4 mb-md-45">
                            <label>
                                Title<span class="star">*</span>
                                <span class="pull-right text-clr588">
                                    {{ infoForm.get('intro_title').value | wordCount }}/15 words
                                </span>
                            </label>
                            <input type="text" formControlName="intro_title" pInputText />
                            <small *ngIf="infoForm.controls.intro_title.errors?.required" class="p-error">
                                Required
                            </small>
                            <small *ngIf="infoForm.controls.intro_title.errors?.maxWordCount" class="p-error">
                                Please input 15 words
                            </small>
                        </div>

                        <div class="w-100 sewn-form-field mb-2">
                            <p class="fnt-14 fnt-600 text-clr334 mb-1">
                                Upload an Image/Video<span class="star">*</span>
                            </p>
                            <p class="fnt-14 fnt-600 text-clr588 mb-4">Size - 815 x 449 px</p>
                            <app-uploader formControlName="intro_file"></app-uploader>
                            <small *ngIf="infoForm.controls.intro_file.errors?.required" class="p-error">
                                Please upload
                            </small>
                        </div>
                    </div>

                    <div class="br-main br-2 mt-4 mt-md-45 p-3 p-md-4">
                        <h4 class="fnt-16 lh-normal fnt-700 text-clr334 mb-3">What you want to tell your users</h4>
                        <p class="fnt-14 lh-normal fnt-600 text-clr334 mb-4">Give a step by step guide to your user</p>

                        <div class="w-100 sewn-form-field mb-0">
                            <label>
                                What is the process title<span class="star">*</span>
                                <span class="pull-right text-clr588">
                                    {{ infoForm.get('title').value | wordCount }}/10 words
                                </span>
                            </label>
                            <input type="text" formControlName="title" pInputText />
                            <small *ngIf="infoForm.controls.title.errors?.required" class="p-error"> Required </small>
                            <small *ngIf="infoForm.controls.title.errors?.maxWordCount" class="p-error">
                                Please input 10 words
                            </small>
                        </div>

                        <ng-container *ngFor="let i of [1, 2, 3, 4]">
                            <div class="divider my-4"></div>
                            <h4 class="fnt-16 lh-normal fnt-700 text-clr334 mb-4">Step {{ i }}</h4>

                            <div class="w-100 sewn-form-field mb-4 mb-md-45">
                                <label>
                                    Step title<span class="star">*</span>
                                    <span class="pull-right text-clr588">
                                        {{ infoForm.get('step' + i + '_title').value | wordCount }}/10 words
                                    </span>
                                </label>
                                <input type="text" formControlName="step{{ i }}_title" pInputText />
                                <small
                                    *ngIf="infoForm.controls['step' + i + '_title'].errors?.required"
                                    class="p-error"
                                >
                                    Required
                                </small>
                                <small
                                    *ngIf="infoForm.controls['step' + i + '_title'].errors?.maxWordCount"
                                    class="p-error"
                                >
                                    Please input 10 words
                                </small>
                            </div>

                            <div class="w-100 sewn-form-field mb-4 mb-md-45">
                                <label>
                                    Description<span class="star">*</span>
                                    <span class="pull-right text-clr588">
                                        {{ infoForm.get('step' + i + '_short_description').value | wordCount }}/50 words
                                    </span>
                                </label>
                                <input type="text" formControlName="step{{ i }}_short_description" pInputText />
                                <small
                                    *ngIf="infoForm.controls['step' + i + '_short_description'].errors?.required"
                                    class="p-error"
                                >
                                    Required
                                </small>
                                <small
                                    *ngIf="infoForm.controls['step' + i + '_short_description'].errors?.maxWordCount"
                                    class="p-error"
                                >
                                    Please input 50 words
                                </small>
                            </div>

                            <div class="w-100 sewn-form-field mb-2">
                                <p class="fnt-14 fnt-600 text-clr334 mb-1">
                                    Upload an Image/Video<span class="star">*</span>
                                </p>
                                <p class="fnt-14 fnt-600 text-clr588 mb-4">Size - 601 x 395 px</p>
                                <app-uploader formControlName="step{{ i }}_file"></app-uploader>
                                <small *ngIf="infoForm.controls['step' + i + '_file'].errors?.required" class="p-error">
                                    Please upload
                                </small>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </form>

        <app-brand-profile-footer pageSlug="learn" (saveClick)="savePageData()"></app-brand-profile-footer>
    </div>
</section>
