.bread-nav {
    padding-left: 3.1rem;
}

table.dataTable thead .sorting_asc,
table.dataTable thead .sorting,
table.dataTable thead .sorting_desc {
    background-image: unset !important;
}

.estate-orders {
    /* margin: 1rem 3.1rem; */
    position: relative;
}

.estate-orders-heading {
    margin: 1rem 3.1rem;
}

.add-role-butn {
    border-radius: 4px;
    background-color: #30855c;
    padding: 10px 0px;
    font-family: Muli;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    margin-right: 3rem;
}

.add-role-butn:hover {
    background-color: #3d8462;
    box-shadow: 0 0 7px 1px rgba(67, 146, 108, 0.5);
}

.table thead th,
table.dataTable.row-border tbody th,
table.dataTable.row-border tbody td,
table.dataTable.display tbody th,
table.dataTable.display tbody td {
    border: none !important;
}

.orders-border {
    border-radius: 4px;
    border: solid 1px #d6d6d6 !important;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
    display: none !important;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fff !important;
}

table.dataTable.hover tbody tr:hover,
table.dataTable.display tbody tr:hover {
    background-color: #fff !important;
}

table.dataTable.row-border tbody tr {
    border-bottom: 1px solid red;
}

.estate-title {
    border-radius: 4px;
    background-color: #f8f8f8;
    height: 55px;
}

.estate-title th {
    font-family: Muli;
    font-size: 12px;
    font-weight: bold;
    color: #232334;
}

.dataTable {
    border-radius: 4px !important;
    padding: 6px 4px;
}

.row {
    color: #232334 !important;
    font-size: 14px !important;
    font-weight: bold !important;
    font-family: 'Muli' !important;
    border-bottom: none !important;
}

table.dataTable.no-footer {
    border-bottom: solid 1px #d6d6d6 !important;
    width: 100% !important;
}

table.dataTable thead th {
    border-bottom: none !important;
}

.even {
    font-family: Muli !important;
    font-size: 12px !important;
    font-weight: bold !important;
    color: #232334 !important;
    padding: 1rem 0rem 0rem 1rem;
}

.odd {
    font-family: Muli;
    font-size: 12px;
    font-weight: bold;
    color: #232334;
    padding: 1rem 0rem 0rem 1rem;
}

.estate-boby-txt {
    border-radius: 4px;
    border: solid 1px #d6d6d6;
}

.status-Shipped {
    font-size: 12px;
    font-weight: 500;
    color: #e78926;
}

.status-Received {
    font-size: 12px;
    font-weight: 500;
    color: #24be46;
}

.status-Order-Confirmed {
    font-size: 12px;
    font-weight: 500;
    color: #e78926;
}

.typeoforder-Sample {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    color: #f19634;
}

.typeoforder-Booked {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    color: #649a2b;
}

.odd .typeoforder-Pre-Booked {
    font-family: Muli !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    color: #7c6be8 !important;
}

.foo-calendar input {
    display: none !important;
}

.even .typeoforder-Pre-Booked {
    font-family: Muli !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    color: #7c6be8 !important;
}

.view-order {
    font-family: Muli !important;
    font-size: 14px !important;
    font-weight: bold !important;
    color: #80460b !important;
    text-decoration: underline !important;
    cursor: pointer !important;
}

.estate-order-title {
    font-family: Muli;
    font-size: 18px;
    font-weight: bold;
    color: #232334;
}

.border-order {
    border-radius: 20px;
    border: solid 1px #d6d6d6;
    background-color: #ffffff;
    padding: 10px 12px;
}

.border-order:focus {
    outline-color: 1px solid #30855c;
}

.title-header {
    margin: 1.3rem 4rem;
}

.estate-table {
    margin: 1rem 3.1rem;
}

.filter-text {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    color: #747588;
}

.filter {
    font-family: 'Muli';
    font-weight: 600;
    color: #232334;
    font-size: 14px;
}

.search {
    /*width: 255px;*/
    font-family: 'Muli';
    height: 36px;
    border-radius: 8px;
    border: solid 1px #cccccc;
    background-color: #ffffff;
    padding-left: 45px;
}

span.checkmark {
    background-color: white;
    border: 1px solid #666666;
    border-radius: 4px;
}

.customcheckbox input:checked~.checkmark {
    background-color: #000;
}

.estate-title .checkmark {
    top: 3px !important;
}

.estate-boby-txt .checkmark {
    top: 3px !important;
    left: 8px !important;
}

#DataTables_Table_0_length {
    position: relative;
    bottom: 2.5rem;
    left: 57%;
    font-family: Muli;
    font-size: 12px;
    color: #000000;
}

.text-filters,
#dataTables_filter input {
    font-family: Muli;
    font-size: 12px;
    font-weight: normal;
    color: #000000;
}


/**********popover*******/

.list-group-item {
    border: none;
    font-family: 'Muli';
    font-size: 12px;
    font-weight: 600;
    color: #747588;
}

.list-group-item:hover {
    color: #232334;
    font-weight: 600;
    background-color: #f8f8f8;
}

.menu-arrow {
    cursor: pointer;
}

::ng-deep .popover-body {
    padding: .25rem .25rem !important;
}

::ng-deep .popover {
    border: none !important;
    border-radius: 5px !important;
    box-shadow: 0 0 17px 2px rgba(27, 27, 27, 0.08) !important;
    background-color: #ffffff;
    top: 4px !important;
}

::ng-deep .bs-popover-bottom .arrow:after {
    top: 0px !important;
}

.pointer-item {
    cursor: pointer;
}


/******Date Range Css*********/

:host ::ng-deep .ui-inputtext {
    display: none !important;
}

:host ::ng-deep .ui-button-icon-only .ui-button-icon-left {
    color: #3d8462;
}

.mixups-tabs {
    /* padding: 0rem 2rem 2rem 0rem; */
    /* background-color: #ffffff; */
    overflow: hidden;
    /* border-right: 1px solid #dddddd; */
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #30855c !important;
    font-size: 14px;
    font-weight: 600;
    background-color: unset !important;
    border-radius: unset;
}

.nav-pills .nav-link.active {
    position: relative;
    padding-right: 0;
    padding-left: 0;
}


/* 
.spacing-order {
    margin-top: 2rem;
} */

.nav-pills .nav-link.active:before {
    content: '';
    width: 100%;
    height: 2px;
    background: #30855c;
    position: absolute;
    bottom: 0;
    left: 50%;
    text-align: center;
    margin: auto;
    top: 80%;
    transform: translate(-50%);
    border-radius: 41.5px;
}

.nav-pills {
    border-bottom: 1px solid #d6d6d6;
    /* height: 5.2%; */
}

li.nav-item {
    /* margin-right: 4.5%; */
    position: relative;
    top: .25rem;
    /* margin-left: 1.3%; */
}

.nav-pills .nav-link {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    color: #232334;
    /* padding: 1rem 1.5rem; */
    padding: 1rem 1.5rem 0.6rem 1.5rem;
}

.nav-pills .nav-link.active {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    color: #30855c !important;
    padding: 1rem 1.5rem 0.6rem 1.5rem;
}

.highlight {
    background-color: #f9f9f9;
}

.spacing-date {
    margin-right: -6px;
    margin-left: -11px;
}

.top-space {
    margin-top: -12px;
}

@media (max-width:1024px) {
    .estate-table {
        /* width: 100%; */
        overflow: scroll;
    }
    .estate-table table {
        width: 1024px;
    }
}

@media (max-width:480px) {
    .estate-orders {
        margin: 1rem 0px;
    }
}


/* The container */

.bestate-check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 1rem;
}


/* Hide the browser's default checkbox */

.bestate-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.estatecheckmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: #fff;
    border: 1px solid #d6d6d6;
    border-radius: 2px;
}

.first_t {
    top: -5px !important;
}


/* On mouse-over, add a grey background color */

.bestate-check:hover input~.estatecheckmark {
    background-color: #fff;
}


/* When the checkbox is checked, add a blue background */

.bestate-check input:checked~.estatecheckmark {
    background-color: #30855c;
}


/* Create the checkmark/indicator (hidden when not checked) */

.estatecheckmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.bestate-check input:checked~.estatecheckmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.bestate-check .estatecheckmark:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: 1px solid #d6d6d6;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.create-role-section {
    padding: 0px 40px;
}


/* 
.spacing-order {
    padding: 1rem 0.6rem !important;
} */

.display_div {
    /* width: 100%; */
    position: absolute;
    right: 3.2rem;
    top: -0.3rem;
}

.desk_view_user {
    display: block;
}

.mob_view_user {
    display: none;
}

@media (max-width:991px) {
    .source-cont {
        padding: 0;
    }
    .sourcing-main {
        margin: 0rem 16px;
    }
    .space-width {
        width: 50%;
        margin-right: 0;
        padding: 10px 8px 10px 14px;
        display: inline-block !important;
        border: 1px solid #d6d6d6;
    }
    .sourcing-border {
        border: 0;
    }
    .space-width:first-child {
        border-right: 0 !important;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .space-width:nth-child(2) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .filter-set {
        border: 1px solid #d6d6d6 !important;
        margin-left: 0;
        margin-top: 16px;
        border-radius: 4px;
    }
    .border-grade {
        width: auto !important;
        margin-bottom: 10px;
        float: left;
        margin-right: 10px;
        border-radius: 20px;
        border: solid 1px #d6d6d6;
        background-color: #ffffff;
        padding: 10px 12px;
    }
    .btn-group {
        display: none;
    }
    .filter-sort {
        top: 56px;
    }
    /*End filter List*/
    .mobile-tab {
        padding-left: 16px;
        padding-right: 16px;
    }
    .raised-mobile .select-cont,
    .selok {
        display: none;
    }
    .raised-mobile.active .select-cont,
    .highlight .selok {
        display: block;
    }
    .selok {
        right: 10px;
        color: #fff;
        background-color: #649a2b;
        border-radius: 50%;
        float: right;
        position: absolute;
        top: 8px;
    }
    .raised-list li {
        border: 1px solid #ebebeb;
        margin-bottom: 20px;
    }
    .raised-detils {
        position: relative;
        width: 100%;
    }
    .raised-tit {
        background: #f8f8f8;
        padding: 10px 9px 4px 0px;
        border: 5px solid #fff;
        border-radius: 5px;
    }
    .raised-tit h4 {
        font-size: 16px;
        font-weight: bold;
    }
    .raised-ticket h3 {
        font-size: 14px;
        font-weight: bold;
        width: 100%;
    }
    .raised-ticket h4 {
        font-size: 16px;
        font-weight: bold;
    }
    .raised-ticket h6 {
        color: #747588;
        font-size: 12px;
    }
    .raised-ticket label {
        position: relative;
        border-radius: 30px;
        padding: 4px 10px 4px 15px;
    }
    .raised-ticket label:before {
        content: "";
        position: absolute;
        top: 11px;
        left: 0px;
        width: 6px;
        height: 6px;
        background: #747588;
        border-radius: 50%;
    }
    .raised-ticket a {
        color: #80460b;
        font-size: 12px;
        font-weight: bold;
    }
    .select-cont {
        margin-bottom: 3rem;
        width: 100%;
        left: 0;
        bottom: 3rem;
        height: 80px;
        background: #fff;
        padding: 20px 9%;
    }
    .select-cont a {
        background: #30855c;
        border-radius: 4px;
        color: #fff;
        display: block;
        text-align: center;
        padding: 12px 0;
        font-size: 12px;
    }
    .highlight .raised-detils {
        border: 10px solid #ebebeb;
        border-radius: 6px;
    }
    .search-name {
        background: url(/assets/images/search-user.png) no-repeat scroll 11px 11px;
        padding-left: 45px !important;
        font-family: Muli;
        font-size: 14px;
        font-weight: 600;
        color: #747588;
        margin-left: 0px;
        height: 42px;
        width: 100%;
    }
    .filter-set {
        width: 100%;
        padding: 10px 10px 10px 19px;
        margin: 0 2px 0 0;
        border-right: 1px solid #d6d6d6;
        margin-top: 10px;
    }
    .table-container {
        padding-top: 20px;
    }
    .ticket-heading {
        margin-bottom: 0;
    }
    .title-header {
        margin: 0;
    }
    .bread-nav {
        padding-left: 16px;
    }
    .estate-orders-headin {
        margin: 0;
        padding-left: 16px;
        padding-right: 16px;
    }
    .estate-order {
        border-bottom: 2px dotted #ebebeb;
        margin-left: 16px;
        margin-right: 16px;
    }
    .status-booked {
        color: #649a2b;
    }
    .status-prebook {
        color: #7c6be8;
    }
    .status-sample {
        color: #f19634;
    }
    .status-booked,
    .status-prebook,
    .status-sample {
        display: inline-block;
        position: relative;
        padding-bottom: 20px;
        padding-top: 2px;
        width: 100%;
    }
    .status-booked:before,
    .status-prebook:before,
    .status-sample:before {
        content: "";
        position: absolute;
        top: 11px;
        left: 0px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
    }
    .estate-orders-heading {
        margin: 0;
        padding-left: 16px;
    }
    .desk_view_user {
        display: none;
    }
    .mob_view_user {
        display: block;
    }
}