.mobile-dot {
    @media (max-width: 480px) {
        display: flex;
        align-items: center;
    }
}

::ng-deep .assign-a-stakeholder .p-placeholder {
    display: flex;
    align-items: center;
    &:before {
        display: block;
        content: '';
        background-image: url('/assets/images/assign-stakeholder.svg');
        width: 17px;
        height: 17px;
        margin-right: 4px;
    }
}

.border-box {
    border: solid 1px #d0d0d0;
    border-radius: 14px;
}
