@import 'variables';

.company-detail {
    img {
        height: 28px;
        @media (max-width: 767px) {
            height: 24px;
        }
    }
}

hr {
    border-top: 2px dashed $primary-border-color !important;
}

.cert-img {
    width: 35px;
    height: 35px;
}

.brand-image {
    height: 80px;
    width: 80px;
    border-radius: 100%;
}

.custom-chart-container {
    height: 293px;
    width: 293px;
    margin: auto;
}

.brand-edit-btn {
    margin-left: 19px;
    margin-top: 10px;
}
