@import 'primeng-table';

.break-word {
    word-break: break-all;
}
@media screen and (min-width: 992px) {
    .border-class {
        border: 1px solid #ebebeb;
        border-radius: 2px;
        padding: 3px;
    }
}
.list-group-item {
    a {
        cursor: pointer;
    }
    &:hover {
        background-color: #f8f8f8;
        a {
            color: #232334 !important;
            text-decoration: none;
        }
    }
}
::ng-deep .deleteProductDiv .p-dialog .p-dialog-header {
    display: none;
}
