.chart-details {
    margin: 24px 10px 30px -23px;
}

.bar-parent {
    /* overflow: auto; */
    width: 100% !important;
}

@media (max-width:767px) {
    .chart-details {
        margin: 16px 18px 12px;
    }
    .bar-parent {
        overflow: scroll;
    }
}