@import 'variables';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: $general-font-family;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: normal;
    color: $general-text-color;
    text-align: left;
    background-color: $body-bg-color;
}

a {
    text-decoration: none;
    color: inherit;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

.activate-link a,
a.activate-link {
    text-decoration: underline;
    &:hover {
        text-decoration: underline;
    }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    box-shadow: none !important;
    outline: none;
}

input::placeholder {
    font-family: $general-font-family;
    font-weight: $fw-n !important;
    color: $muted-text-color;
}

ul,
p {
    margin: 0;
}

// Layout style
.container {
    @media (min-width: 768px) and (max-width: 992px) {
        max-width: 734px;
    }
    @media (min-width: 992px) and (max-width: 1280px) {
        max-width: 990px;
    }
    @media (min-width: 1280px) {
        max-width: 1270px !important;
    }
}

div[class^='col-'] {
    // For pMenu Please don't remove
    position: unset;
}

.overlay-sewn {
    position: absolute;
    top: 0;
    width: 100%;
    height: 150px;
    z-index: 9;
    opacity: 0.8;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0) 65%);
    background-image: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0) 65%);
    background-image: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0) 65%);
}

/* common css responsive for login reset change password */

.loader {
    height: 17px;
    width: 17px;
    margin-left: 4px;
    margin-top: -4px;
}

.pointer-items {
    cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */

input[type='number'] {
    -moz-appearance: textfield;
}

.bg-f8 {
    background: $primary-bg-color;
}
.bg-md-f8 {
    @media (min-width: 768px) {
        background: $primary-bg-color;
    }
}
.bg-fa {
    background-color: #faf8f4;
}

.bg-white {
    background-color: #fff !important;
}

// link with arrow
.arrow-link {
    color: $brown-color !important;
    font-weight: $fw-m;
    position: relative;
    padding-right: 16px;
    line-height: normal !important;
    cursor: pointer;

    &::after {
        content: '';
        position: absolute;
        width: 16px;
        height: 100%;
        top: 0px;
        background-image: url('/assets/images/arrow-brown-onboard.svg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    &:hover {
        color: $brown-color;
        text-decoration: underline !important;
    }

    &.green {
        color: $primary-color !important;
        &::after {
            background-image: url('/assets/images/arrow-green.svg');
        }
        &:hover {
            color: $primary-color !important;
        }
    }
}

// link without arrow
.custom-link {
    color: $brown-color !important;
    font-size: 12px;
    font-weight: $fw-m;
    position: relative;
    text-decoration: underline !important;

    &:hover {
        color: $brown-color !important;
        cursor: pointer;
        text-decoration: underline !important;
    }

    @media (min-width: 992px) {
        font-size: 14px;
    }
}

// link with up arrow
.uparrow-link {
    color: $brown-color !important;
    font-weight: $fw-m;
    position: relative;
    padding-right: 16px;
    line-height: normal !important;
    cursor: pointer;

    &::after {
        content: '';
        position: absolute;
        width: 16px;
        height: 100%;
        top: 0px;
        right: -8px;
        background-image: url('/assets/images/back_arrow_link.svg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    &:hover {
        color: $brown-color;
        text-decoration: underline !important;
    }
}

// link with add
.add-link {
    color: $brown-color !important;
    font-weight: $fw-m;
    position: relative;
    padding-right: 16px;
    line-height: normal !important;
    cursor: pointer;

    &::before {
        content: '';
        position: absolute;
        width: 16px;
        height: 100%;
        top: 0px;
        left: 0px;
        background-image: url('/assets/images/add-field.svg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    &:hover {
        color: $brown-color;
        text-decoration: underline !important;
    }
}

// brown CTA
.brown-cta {
    color: $brown-color !important;
    font-size: 14px;
    font-weight: $fw-m;
    white-space: nowrap;

    &:hover {
        color: $brown-color !important;
        cursor: pointer;
        text-decoration: underline !important;
    }

    @media (min-width: 768px) {
        font-size: 14px;
    }

    @media (max-width: 767px) {
        text-decoration: underline !important;
    }
}

.hover-underline {
    &:hover {
        text-decoration: underline !important;
    }
}

.h-md-100 {
    @media (min-width: 992px) {
        height: 100%;
    }
}

.h-sm-100 {
    @media (min-width: 768px) {
        height: 100%;
    }
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.w-mob-100 {
    @media (max-width: 767px) {
        width: 100%;
    }
}

@media (max-width: 991px) {
    .w-tab-100 {
        width: 100%;
    }
}

.divider {
    height: 0;
    border-bottom: dashed 2px #ebebeb;
}
.solid-divider {
    height: 0;
    border-bottom: solid 1px #ebebeb;
}
.solid-divider-de {
    height: 0;
    border-bottom: solid 1px #dedede;
}
.v-divider {
    position: relative;
    min-height: 100%;
    width: 0;
    border-left: solid 1px #ebebeb;
}

// Scroll style
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: $primary-color;
    box-shadow: inset 0 0 3px $primary-color;
}

.osano-cm-widget {
    display: none;
}

// Cursor
.cursor-move {
    cursor: move;
}
.md-only-show {
    @media screen and (min-width: 768px) and (max-width: 992px) {
        display: initial !important;
    }
}

.md-only-show-flex {
    @media screen and (min-width: 768px) and (max-width: 992px) {
        display: flex !important;
    }
}

.md-only-hide {
    @media screen and (min-width: 768px) and (max-width: 992px) {
        display: none !important;
    }
}

.sm-hide {
    @media screen and (max-width: 576px) {
        display: none !important;
    }
}

.clipboard-img-p {
    position: relative;
    display: inline-block;
    &:before {
        display: block;
        content: 'Copy';
        position: absolute;
        right: 16px;
        bottom: 16px;
        background-color: #f8f8f8;
        width: 97px;
        height: 40px;
        padding-top: 11px;
        padding-left: 44px;
        border-radius: 4px;
        cursor: pointer;
        background-image: url(assets/images/copy.svg);
        background-repeat: no-repeat;
        background-position: 16px;
        font-weight: $fw-m;
        color: $general-text-color;
        @media (max-width: 767px) {
            bottom: 8px;
            right: 8px;
        }
    }
}

.copying-image .clipboard-img-p::before {
    cursor: not-allowed;
}

#deskpro-container {
    @media (max-width: 767px) {
        span:nth-child(1) iframe {
            bottom: 120px !important;
        }
        span:nth-child(2) iframe {
            bottom: 52px !important;
        }
    }
}
