@import 'variables';

.main-block {
    background-color: #fff;
    border-radius: 4px;
    padding: 1rem;
    @media (min-width: 768px) {
        padding: 32px 48px 24px 48px;
    }
}

.fit-sm-screen {
    @media (max-width: 767px) {
        min-height: calc(100vh - (#{$mobile-header-height} + #{$mobile-page-pt} + #{$mobile-page-pb}));
    }
}
.fa-star.checked {
    color: #ffc107;
}

span.star {
    margin-left: 2px;
    color: #ff1557;
}

.back-page {
    position: relative;
    padding-left: 24px;
    font-size: 14px;
    color: $brown-color;
    font-weight: 700;
    cursor: pointer;
    line-height: 16px;
    text-decoration: none !important;
    @media (min-width: 768px) {
        padding-left: 32px;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
    }

    &::before {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        left: 0;
        top: 1px;
        background-image: url('/assets/images/back-arrow-1.svg');
        background-size: cover;
        background-position: center;
        transition: all 0.6s cubic-bezier(0.2, 0.59, 0.21, 0.6);
        @media (min-width: 768px) {
            top: 0;
            width: 20px;
            height: 20px;
        }
    }
    &:hover {
        color: $brown-color;
        &::before {
            transform: translateX(-6px);
        }
    }
}

.back-page.green {
    color: $primary-color;
    &::before {
        background-image: url('/assets/images/backarrow.svg');
    }
    &:hover {
        color: $primary-color;
    }
}

.single-calendar {
    display: inline-block;
    width: 130px;
}

.real-estate {
    img {
        height: 38px;
        width: auto;
        object-fit: cover;
        margin-bottom: 12px;
    }
    h6 {
        font-size: 14px;
        line-height: 18px;
        font-weight: 600;
        margin-bottom: 4px;
        color: #747588;
    }
    h3 {
        font-size: 14px;
        line-height: 18px;
        font-weight: bold;
        color: #232334;
        margin-bottom: 0;
    }
    @media (max-width: 767px) {
        img {
            height: 24px;
            margin-bottom: 8px;
        }
        h6 {
            font-size: 12px;
            line-height: 15px;
        }
        h3 {
            font-size: 14px;
        }
    }
}

.estate-focus ul li {
    width: 100%;
    float: left;
    border-bottom: 1px solid #eeeeee;
    padding: 16px 0;

    label {
        float: left;
        width: 36%;
        margin-bottom: 0;
        color: #747588;
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
        padding-right: 24px;
        @media (min-width: 768px) {
            padding-right: 40px;
        }
    }

    p {
        margin-bottom: 0;
        width: 60%;
        float: left;
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
        color: #232334;
    }
}
.estate-focus:not(.with-last-border) ul li:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.estate-chat-btn {
    padding: 10px;
    border-radius: 8px 8px 0px 0px !important;
    box-shadow: 0 0 17px 2px rgba(27, 27, 27, 0.08);
    background-color: #232334;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    text-align: left;
    position: fixed;
    right: 10%;
    bottom: 0px;
    z-index: 99;
    width: 100%;
    max-width: 370px;

    &:hover {
        text-decoration: none;
        color: #fff;
    }

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 12px;
        width: 14px;
        height: 14px;
        background-image: url('/assets/images/back-arrow.png');
        background-size: cover;
        background-position: center;
    }

    &.active span {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            top: 5px;
            right: -18px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #649a2b;
        }
    }
}

// Chip style
.custom-chip {
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    border: 1px solid #ebebeb;
    padding: 4px 7px 3px 15px;
    border-radius: 12px;
    position: relative;
    color: $muted-text-color;

    &:last-child {
        margin-right: 0;
    }

    &:before {
        content: '';
        width: 4px;
        height: 4px;
        background: #747588;
        border-radius: 50%;
        position: absolute;
        left: 6px;
        top: 42%;
    }
}

.primary_txt {
    font-family: Muli;
    font-size: 18px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #232334;
}
.secondary_txt {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #747588;
}

.editBtn {
    font-weight: bold;
    color: #80460b !important;
    text-decoration: underline !important;
    cursor: pointer;
}
.deleteModal {
    width: 450px;
    @media (max-width: 768px) {
        width: auto;
    }
}
ngx-intl-tel-input {
    .custom-intl-tel-input {
        height: 50px !important;
        border: 1px solid $primary-border-color !important;
        border-radius: 4px;
        color: $general-text-color;
        font-family: 'Muli', sans-serif !important;
        font-weight: bold;
        font-size: 14px;

        &:hover {
            border-color: $primary-color !important;
        }
    }

    .iti__selected-flag {
        margin-left: 8px !important;
    }

    .iti__flag-container {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }

    .iti--allow-dropdown input {
        padding-left: 63px !important;
    }

    .dropdown-toggle {
        border-right: 1px solid #d6d6d6 !important;
    }
    &.w-100 .iti--allow-dropdown {
        width: 100% !important;

        .custom-intl-tel-input {
            width: 100% !important;
        }
    }
}
