.fnt-play {
    font-family: 'Playfair Display', serif !important;
}

.fnt-mont {
    font-family: 'Muli', sans-serif;
}

.fnt-muli {
    font-family: 'Muli', sans-serif !important;
}

//////////////////// Font Weight

.fnt-200 {
    font-weight: 200;
}

.fnt-300 {
    font-weight: 300;
}

.fnt-400 {
    font-weight: 400;
}

.fnt-500 {
    font-weight: 500;
}

.fnt-normal {
    font-weight: normal;
}

.fnt-600 {
    font-weight: 600;
}

.fnt-700 {
    font-weight: 700;
}

.fnt-bold {
    font-weight: 700 !important;
}

//////////////////// Font Size
// Static font size
.fnt-mb-18 {
    font-size: 18px;
    line-height: 28px;
}
/* Mobile screens */

.fnt-10 {
    font-size: 10px;
    line-height: 20px;
}

.fnt-9 {
    font-size: 9px;
    line-height: 20px;
}

.fnt-12 {
    font-size: 12px;
}

.fnt-14 {
    font-size: 14px;
    line-height: 24px;
}

.fnt-16 {
    font-size: 14px;
    line-height: 24px;
}

.fnt-18 {
    font-size: 16px;
    line-height: 26px;
}

.fnt-20 {
    font-size: 18px;
    line-height: 28px;
}

.fnt-32 {
    font-size: 32px;
    line-height: 43px;
}

.fnt-40 {
    font-size: 40px;
    line-height: 50px;
}

.fnt-mb-14 {
    font-size: 12px;
    line-height: 22px;
}

.fnt-24 {
    font-size: 24px;
}

.fnt-bold {
    font-weight: bold;
}

/* Tablet screens */

@media (min-width: 768px) {
    .fnt-20 {
        font-size: 20px;
        line-height: 30px;
    }
    .fnt-18 {
        font-size: 18px;
        line-height: 28px;
    }
    .fnt-16 {
        font-size: 16px;
        line-height: 26px;
    }
    .fnt-mb-14 {
        font-size: 14px;
        line-height: 24px;
    }
    .fnt-md-16 {
        font-size: 16px;
        line-height: 26px;
    }
    .fnt-md-18 {
        font-size: 18px;
        line-height: 28px;
    }
}

/* Desktop screens */

.fnt-34 {
    font-size: 34px;
    line-height: 44px;
}

.lh-normal {
    line-height: normal;
}

.lh-15 {
    line-height: 1.5;
}

//////////////////// Font Color
.text-clr5d {
    color: #5d5d5d;
}

.text-clr588 {
    color: #747588 !important;
}

.text-clrb46 {
    color: #2c2b46;
}

.text-clr-e5a {
    color: #ff1e5a;
}

.text-clr60b {
    color: #80460b;
}

.text-clr4d {
    color: #4d4d4d;
}

.text-clrab {
    color: #ababab;
}

.text-clr000 {
    color: #000000;
}

.text-clr333 {
    color: #333333;
}

.text-clr5d {
    color: #5d5d5d;
}

.text-clr55c {
    color: #30855c;
}

.text-clr60b {
    color: #80460b;
}

.text-clr334 {
    color: #232334 !important;
}

.text-clr97 {
    color: #979797;
}

.text-clr24 {
    color: #242424;
}

.text-clr02 {
    color: #020202;
}

.text-white {
    color: #ffffff;
}

@media (min-width: 768px) {
    .text-md-clr334 {
        color: #232334 !important;
    }
}
