/***********Gallery style***********/

.g-image-item {
    background-size: cover !important;
}

.gallery-core[thumbPosition='bottom'] .gallery-thumb {
    padding: 9px 12px 0px 1px !important;
}

.g-nav-prev,
.g-nav-next {
    position: absolute;
    top: auto !important;
    bottom: 5%;
    left: auto !important;
    width: 20px !important;
    height: 20px !important;
    cursor: pointer;
    z-index: 999;
    transform: none !important;

    svg {
        display: none;
    }

    &:before {
        content: '';
        position: absolute;
        z-index: 99;
        width: 40px;
        height: 40px;
        top: 0;
    }
}

.g-nav-next {
    right: 1.5em !important;
}
.g-nav-prev {
    right: 3.5em;
}

.g-nav-prev:before {
    background: url(/assets/images/slider-left-arrow.svg) no-repeat !important;
}

.g-nav-next:before {
    background: url(/assets/images/slider-right-arrow.svg) no-repeat !important;
}

.g-items-container .g-slider {
    left: 0;
}

.g-slider {
    left: 11% !important;
}

.g-counter {
    display: none;
}

.g-items-container .g-slider {
    left: 0 !important;
}

.g-box .ng-star-inserted {
    padding-right: 0px !important;
    border-radius: 2px;
}

.g-box {
    margin-bottom: 12px;
    @media (min-width: 768px) {
        margin-bottom: 8px;
    }
}

.g-thumbs-container .ng-star-inserted {
    padding-right: 12px !important;
    border-radius: 2px;
    @media (min-width: 768px) {
        padding-right: 8px !important;
    }
}

gallery-thumb {
    opacity: 0.7;
}
