// Custom Theming for Prime Ng
@import 'variables';
@import 'primeng-table';
body .ui-widget {
    font-family: $general-font-family;
}

// TabMenu
body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem {
    position: relative;
    border: none !important;
    flex: inherit !important;
    padding-bottom: 6px !important;
    margin-bottom: -3px;
    margin-right: 0px;
    background-color: transparent !important;
    transition: 0.4s ease-in-out;
    &::before {
        content: '';
        width: 0%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 50%;
        text-align: center;
        margin: auto;
        top: 80%;
        transform: translate(-50%);
        border-radius: 1.5px;
        background-color: #30855c;
        opacity: 0;
        transition: 0.4s ease-in-out;
    }
    a {
        font-weight: 600 !important;
        font-family: $general-font-family !important;
        font-size: 14px !important;
        color: #232334 !important;
        &:focus {
            box-shadow: none !important;
        }
    }
    &.ui-state-active,
    &:hover {
        &::before {
            width: 100%;
            content: '';
            opacity: 1;
        }
        .ui-menuitem-link .ui-menuitem-text {
            color: #30855c !important;
        }
    }
}

// TabView
.ui-tabview {
    .ui-tabview-nav {
        li {
            border: none !important;
            border-bottom: 2px solid transparent !important;
            flex: inherit !important;
            padding-bottom: 6px !important;
            background-color: transparent !important;
            a {
                font-weight: 600 !important;
                font-family: $general-font-family !important;
                font-size: 14px !important;
                color: #232334 !important;
            }
            &.ui-tabview-selected {
                border-bottom: 2px solid #30855c !important;
                a {
                    color: #30855c !important;
                }
            }
            &:focus {
                box-shadow: none !important;
            }
        }
    }
    .ui-tabview-panels {
        border: none !important;
        border-top: 1px solid #ebebeb !important;
        padding: 0 !important;
    }
}

// Table
// body .ui-table .ui-table-thead > tr > th {
//     padding: 1.1em 0.857em;
//     border: none;
//     border-radius: 4px;
//     font-weight: 700;
//     color: #232334;
//     background-color: #f8f8f8;
// }
// body .ui-table .ui-table-tbody > tr > td {
//     padding: 1.3em 0.857em;
//     background-color: inherit;
//     border: none;
//     font-weight: 600;
//     color: #232334;
//     transition: box-shadow 0.2s;
// }
// body .ui-table .ui-table-tbody > tr {
//     border-bottom: 1px dashed #d6d6d6;
//     &:hover {
//         box-shadow: 0 4px 26px 2px rgba(0, 0, 0, 0.05);
//         cursor: pointer;
//     }
//     &:nth-child(even) {
//         background-color: inherit;
//     }
//     &:last-child {
//         border: none;
//     }
// }
// Carousel
body .ui-carousel .ui-carousel-content .ui-carousel-prev,
body .ui-carousel .ui-carousel-content .ui-carousel-next {
    display: none;
}

body .ui-carousel .ui-carousel-dots-container .ui-carousel-dot-item .ui-carousel-dot-icon {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #80460b;
    background-color: #ffffff;
}

body .ui-carousel .ui-carousel-dots-container .ui-carousel-dot-item.ui-state-highlight .ui-carousel-dot-icon {
    background-color: #80460b;
}

.ui-carousel-content {
    padding: 0;
}

.ui-carousel-items-container .ui-carousel-item {
    padding-right: 0.75em;
}

.ui-carousel-items-content {
    padding-right: 0.75em;
}
