// Custom Theming for Prime Ng

@import 'variables';

// global
.p-component {
    font-family: $general-font-family;
    font-size: $general-font-size;
}

.p-inputtext {
    font-family: $general-font-family;
    font-size: 14px;
    font-weight: 600;
    color: $muted-text-color;
    background: #ffffff;
    padding: 0.625rem 1rem;
    border: 1px solid $main-border-color;
    line-height: 18px;
}
.p-inputtext:enabled:hover {
    border-color: $primary-color;
}
.round-border .p-inputtext {
    border-radius: 20px;
}

.p-button:focus {
    box-shadow: none;
}

// TabView
.p-tabview .p-tabview-nav {
    border-radius: 0;
    border-bottom: 1px solid $main-border-color;
}
.p-tabview .p-tabview-nav li .p-tabview-nav-link {
    position: relative;
    flex: inherit !important;
    margin-bottom: -4px;
    margin-right: 0px;
    transition: 0.4s ease-in-out;
    border: none;
    background-color: transparent;
    color: $general-text-color;
    font-weight: 600;

    &::before {
        content: '';
        width: 0%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 50%;
        text-align: center;
        margin: auto;
        top: 80%;
        transform: translate(-50%);
        border-radius: 1.5px;
        background-color: $primary-color;
        opacity: 0;
        transition: 0.4s ease-in-out;
    }
}
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link,
.p-tabview .p-tabview-nav li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
    background: transparent;
    color: $primary-color;
    &::before {
        width: 100%;
        opacity: 1;
    }
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
}

// SelectButton
.p-selectbutton {
    display: inline-flex;
    border: solid 1px #3d8462;
    font-size: inherit !important;
    line-height: 1;
    padding: 2px;
    border-radius: 4px;
}

.p-selectbutton .p-button {
    background: #ffffff;
    border: 1px solid #ffffff;
    color: $muted-text-color;
}

.p-buttonset .p-button:first-of-type,
.p-buttonset .p-button:last-of-type {
    border-radius: 4px !important;
}

.p-selectbutton .p-button.p-highlight {
    background: $primary-color;
    border-color: $primary-color;
}

.p-selectbutton .p-button:not(.p-state-disabled):not(.p-state-active):hover {
    background-color: $gray-color;
    border-color: $gray-color;
    color: #ffffff;
}

// Checkbox
.p-checkbox .p-checkbox-box.p-highlight {
    border-color: $primary-color;
    background: $primary-color;
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
    border-color: $primary-color;
    background: $primary-color;
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
    box-shadow: none;
    border-color: $primary-color;
}
.p-checkbox-label {
    margin-bottom: 0;
    color: $general-text-color;
}

.dark {
    .p-checkbox .p-checkbox-box.p-highlight {
        border-color: $dark-color;
        background: $dark-color;
    }
    .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
        border-color: $dark-color;
        background: $dark-color;
    }
    .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
        box-shadow: none;
        border-color: $dark-color;
    }
}

// TabMenu
.p-tabmenu {
    .p-tabmenu-nav {
        border-radius: 0;
        border-bottom: 1px solid $main-border-color;
        .p-tabmenuitem {
            .p-menuitem-link {
                position: relative;
                flex: inherit !important;
                margin-bottom: -4px;
                margin-right: 0px;
                transition: 0.4s ease-in-out;
                border: none;
                background-color: transparent;
                color: $general-text-color;
                font-weight: 600;

                &::before {
                    content: '';
                    width: 0%;
                    height: 2px;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    text-align: center;
                    margin: auto;
                    top: 80%;
                    transform: translate(-50%);
                    border-radius: 1.5px;
                    background-color: $primary-color;
                    opacity: 0;
                    transition: 0.4s ease-in-out;
                }

                &:focus {
                    box-shadow: none !important;
                }

                &.p-menuitem-link-active,
                &:hover {
                    color: $primary-color;
                    &::before {
                        width: 100%;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem:not(.p-highlight):not(.p-disabled):hover .p-menuitem-link,
.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
    background: transparent;
    color: $primary-color;
}

// Table
.p-datatable .p-datatable-thead > tr > th {
    padding: 1.1em 0.857em;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    color: #232334;
    background-color: #f8f8f8;
}

.p-datatable .p-datatable-tbody > tr > td {
    padding: 1.3em 0.857em;
    background-color: inherit;
    border: none;
    font-weight: 600;
    color: #232334;
    transition: box-shadow 0.2s;
}

.p-datatable .p-datatable-tbody > tr {
    border-bottom: 1px dashed $main-border-color;

    &:hover {
        box-shadow: 0 4px 26px 2px rgba(0, 0, 0, 0.05);
        cursor: pointer;
    }

    &:nth-child(even) {
        background-color: inherit;
    }

    &:last-child {
        border: none;
    }
}

// DropDown
.round-border .p-dropdown {
    border-radius: 20px;
}
.p-dropdown {
    border-color: $main-border-color;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    background: $primary-color;
}

.p-dropdown:not(.p-disabled):hover {
    border-color: $primary-color;
}

.p-dropdown:not(.p-disabled).p-focus {
    box-shadow: none;
    border-color: $primary-color;
}

.p-dropdown-trigger-icon {
    transition: color 0.2s, transform 0.2s;
}
.p-dropdown-open .p-dropdown-trigger-icon {
    color: $primary-color;
    transform: rotate(180deg);
}

// Calendar
.p-calendar {
    border: 1px solid $main-border-color;
    border-radius: 3px;
    &:hover {
        border-color: $primary-color;
    }
}
.round-border .p-calendar {
    border-radius: 20px;
}
.p-calendar .p-inputtext {
    border: none;
}
.p-calendar .p-button {
    color: $button-icon-color;
    background-color: transparent;
    border: none;
}
.p-calendar .p-button:enabled:hover {
    color: $button-icon-color;
    background-color: transparent;
}
.p-calendar .p-button-icon {
    font-size: 20px;
}
