$general-font-family: 'Muli', sans-serif;
$special-font-family: 'Playfair Display', serif;

$general-font-size: 14px;

$general-text-color: #232334;
$muted-text-color: #747588;

$primary-color: #30855c;
$dark-color: #232334;
$gray-color: #dadada;

$main-border-color: #d6d6d6;
