$primary-font-family: 'Muli', sans-serif;
$secondary-font-family: 'Playfair Display', serif;

$general-font-size: 14px;

$primary-text-color: #232334;
$muted-text-color: #747588;

$primary-color: #30855c;
$dark-color: #232334;
$gray-color: #dadada;

$primary-border-color: #d6d6d6;
$primary-bg-color: #f8f8f8;

$button-icon-color: #979797;

$primary-border-radius: 4px;
