$general-font-family: 'Muli', sans-serif;
$special-font-family: 'Playfair Display', serif;

$general-text-color: #232334;
$muted-text-color: #747588;

$primary-color: #30855c;

$main-border-color: #d6d6d6;
