.border-total {
    border-radius: 20px;
    border: solid 1px #d6d6d6;
    background-color: #ffffff;
    padding: 10px 12px;
}
.search-raised {
    height: 38px;
    background-color: #fff;
    background: url(/assets/images/search-user.png) no-repeat scroll 11px 11px;
    background-size: 16px 16px;
    padding-left: 41px;
    font-family: Muli;
    font-size: 14px;
    font-weight: normal;
    color: #232334;
    margin-left: 4.7rem;
    border-radius: 4px;
    border: solid 1px #d6d6d6;
    background-color: #ffffff;
}
::ng-deep .userDialog .p-dialog-header {
    display: none;
}
.popupExpression_txt {
    font-family: PlayfairDisplay;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #020202;
}
.popupMessage_txt {
    font-family: PlayfairDisplay;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #5d5d5d;
}
.img-file {
    width: 53px;
    height: 85px;
}
.pointer-item {
    cursor: pointer;
}

.list-group-item {
    border: none;
    font-family: 'Muli';
    font-size: 12px;
    font-weight: 600 !important;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #747588;
}
::ng-deep .productListTable .p-checkbox {
    margin-left: 0px;
}
::ng-deep .productListTable .p-datatable.p-datatable-hoverable-rows .p-datatable-tbody > tr:not(.p-highlight):hover {
    background: #ffffff;
}

.list-group-item:hover {
    color: #232334;
    font-weight: 600 !important;
    background-color: #f8f8f8;
}
@media screen and (max-width: 767px) {
    .filterLayout {
        margin-top: 1.5rem;
    }
    :host ::ng-deep .productListTable .p-datatable-tbody > tr > .nameMobileHeader {
        padding: 0px;
        width: 100% !important;
    }
    .mobileValueTxt {
        font-size: 14px !important;
    }
    .mobileCardBody {
        border-bottom: 1px dashed #d6d6d6;
        padding: 1rem 0px;
    }
    :host ::ng-deep .productListTable .p-datatable-tbody > tr > .cardBottom {
        margin-bottom: 14px;
        border-bottom: 1px solid #d6d6d6 !important;
    }
    :host ::ng-deep .productListTable .p-datatable .p-datatable-tbody > tr {
        border-bottom: 0px !important;
    }
    .borderCard {
        background-color: #f8f8f8;
        border: 1px solid #d6d6d6;
    }
    .productHeight {
        height: 138px !important;
    }
    .mobileCard {
        border-left: 1px solid #d6d6d6;
        border-right: 1px solid #d6d6d6;
    }
    .editDiv {
        border: 1px solid #d6d6d6;
        padding: 20px 15px;
        margin-bottom: 1rem !important;
    }
}
