.back-arrow-butn {
    display: inline-flex;
}

.back-href {
    color: #80460b;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

.back-href:hover .back-arrow-butn {
    -webkit-transform: translateX(-6px);
    -ms-transform: translateX(-6px);
    transform: translateX(-6px);
    -webkit-transition: all 0.6s cubic-bezier(0.2, 0.59, 0.21, 0.6);
    -o-transition: all 0.6s cubic-bezier(0.2, 0.59, 0.21, 0.6);
    transition: all 0.6s cubic-bezier(0.2, 0.59, 0.21, 0.6);
}

.back-page {
    display: inline-block;
    -webkit-transition: all 0.6s cubic-bezier(0.2, 0.59, 0.21, 0.6);
    -o-transition: all 0.6s cubic-bezier(0.2, 0.59, 0.21, 0.6);
    transition: all 0.6s cubic-bezier(0.2, 0.59, 0.21, 0.6);
    -webkit-font-smoothing: antialiased;
}

.order-chat-image {
    margin-top: -5px;
}

.img-can-coverse {
    width: 24px;
    height: 24px;
}

.ellyse-main {
    background-color: #fff;
    padding: 10px 15px 20px 15px;
}

.ellyse-pic {
    width: 80px;
    height: 80px;
}

.country-txt {
    position: absolute;
    padding-left: 5px;
}

.main-message__profile .img:hover .person-details-info {
    display: block;
    cursor: pointer;
}

.person-details-info {
    display: none;
    position: absolute;
    left: 50px;
    top: 0;
    z-index: 2;
    width: 1000px;
}

.img-location {
    height: auto !important;
    width: auto !important;
}

.view-chat-profile {
    font-family: Muli;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    line-height: 24px;
    padding: 8px 16px;
    border: 1px solid #30855c;
    border-radius: 4px;
    background-color: #30855c;
}

.view-chat-profile:hover {
    box-shadow: 0 0 7px 1px rgba(67, 146, 108, 0.5);
}

.assigned-border {
    border-right: 1px solid #2c2b46;
    padding: 0px 10px 0px 0px;
    margin: 0px 10px 0px 0px;
}

.order-width {
    padding: 12px 23px 12px 12px;
    opacity: 0.7;
    border-radius: 4px;
    border: solid 1px #ebebeb;
    background-color: #ffffff;
    margin: 12px;
    width: 9%;
    cursor: pointer;
}

.ticket-width {
    padding: 12px 23px 12px 12px;
    opacity: 0.7;
    border-radius: 4px;
    border: solid 1px #ebebeb;
    background-color: #ffffff;
    margin: 12px;
    width: 11%;
    cursor: pointer;
}

.order-width:hover,
.ticket-width:hover,
.order-select {
    opacity: 0.9;
    border: solid 1px #3a8561;
    background-color: rgba(61, 132, 98, 0.05);
}

.track-btn {
    border: 1px solid #30855c;
    background-color: #ffffff;
    border-radius: 4px;
    margin-right: 20px;
}
.ticketLayout {
    overflow: auto;
}
.track {
    color: #30855c;
    font-family: Muli;
    font-weight: bold;
    font-size: 14px;
}
.disputeCard {
    margin: 30px;
    background: #fff !important;
}
.dispute-margin {
    margin: 10px;
}
.esccalate-btn {
    float: right;
}

.order-ticket {
    box-shadow: 0 12px 44px -10px rgba(143, 51, 11, 0.1);
}

.send-message {
    text-align: center;
    margin-top: 12px;
}

.messag-form {
    padding: 15px;
}

.send-message__btn {
    width: 100%;
    margin: auto;
    outline: 0;
    border: 0;
    box-shadow: 0;
    padding: 11px;
    border-radius: 4px;
    background-color: #30855c;
    cursor: pointer;
}

.send-message__btn:hover {
    box-shadow: 0 0 7px 1px rgba(67, 146, 108, 0.5);
}

.send-message__btn span {
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    text-transform: capitalize;
    margin-right: 10px;
}

.send-message__btn:focus {
    outline: 0;
    box-shadow: none;
}

@media (min-width: 992px) {
    .dispute-order__conversation {
        width: 100% !important;
        padding: 10px 0px !important;
    }
    .dispute-order__head {
        padding: 25px 25px 5px 25px !important;
    }
}

@media (min-width: 768px) {
    .dispute-order__conversation {
        height: calc(100vh - 24px) !important;
    }
}

.chat-inputs {
    border: 1px solid #d6d6d6;
    border-radius: 4px;
}
.messag-form {
    padding: 10px 34px;
}

.messag-form .chat-inputs {
    padding: 5px 10px !important;
    display: flex;
    align-items: center;
    min-height: 48px;
}

.messag-form .chat-inputs .chat-inputs__img {
    margin: 0px;
}

.messag-form .chat-inputs .chat-inputs__text {
    line-height: 22px;
    width: calc(100% - 45px);
}

.chat-inputs .send-message {
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
}
.send-message {
    display: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
}
.img-container {
    display: none;
    position: absolute;
    bottom: 120%;
    left: 15px;
    width: 100px;
    height: 100px;
    -o-object-fit: contain;
    object-fit: contain;
}
.img-container .img-container__remove {
    cursor: pointer;
}
.chat-inputs__text::-moz-placeholder {
    font-size: 14px;
    color: #747588;
    font-weight: 600;
    vertical-align: middle;
}
.chat-inputs__text::placeholder {
    font-size: 14px;
    color: #747588;
    font-weight: 600;
    vertical-align: middle;
}
.chat-inputs .send-message {
    width: 32px !important;
    height: 32px !important;
    border-radius: 50%;
    margin: 0 0 0 auto !important;
    display: none;
    opacity: 0;
    visibility: hidden;
}
.chat-inputs .send-message img {
    width: 32px;
    height: 32px;
}
.chat-inputs .send-message__btn {
    padding: 0 !important;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chat-inputs__text {
    border: 0;
    outline: 0;
    padding: 3px 10px;
    font-size: 14px;
    resize: none;
    overflow: auto;
}
.send-message {
    text-align: center;
    margin-top: 12px;
}
.messag-form {
    padding: 15px;
}
.send-message__btn {
    width: 100%;
    margin: auto;
    outline: 0;
    border: 0;
    box-shadow: 0;
    padding: 11px;
    border-radius: 4px;
    background-color: #30855c;
    cursor: pointer;
}
.send-message__btn:hover {
    box-shadow: 0 0 7px 1px rgba(67, 146, 108, 0.5);
}
.send-message__btn span {
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    text-transform: capitalize;
    margin-right: 10px;
}
.send-message__btn:focus {
    outline: 0;
    box-shadow: none;
}
.files {
    opacity: 0;
    visibility: hidden;
    display: none;
}
.chat-inputs__img {
    width: 20px;
    height: 20px;
    -o-object-fit: contain;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
.offensive-lang {
    border-radius: 2px;
    background-color: #d50000;
    padding: 10px;
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;
    position: absolute;
    width: calc(100% - 30px);
    bottom: 100%;
    right: calc(-100% + 30px);
    opacity: 0;
    transition: 0.4s ease-in-out;
}
.main-message__profile {
    .name {
        margin: 0 0 2px;
        font-family: Muli;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.57;
        letter-spacing: normal;
        color: #232334;
    }
    .status {
        margin: 2px 25px 0 0;
        font-family: Muli;
        font-size: 12px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #747588;
    }
}
.message-info {
    .live-time {
        font-family: Muli;
        font-size: 12px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: right;
        color: #747588;
    }
}
.message-from {
    .message-text {
        margin: 12px 0 0;
        padding: 12px 12px 12px 16px;
        border-radius: 4px;
        background-color: #eeeeee;
    }
    .live-time {
        transform: translate(-100%, -30px);
    }
}
.message-to {
    .live-time {
        transform: translate(0px, -30px);
    }
}
