<div class="row">
    <div class="col-12 mb-3 mb-md-45">
        <div class="bg-fa br-4 fnt-14 fnt-md-16 fw-m text-clr5d p-3 mt-4">
            <span *ngIf="selType === 0">
                Monitor the level of vegetation on the fields. True color map offers a natural color rendition.
            </span>
            <span *ngIf="selType === 1">
                Monitor the level of vegetation on the fields. False color map allows you to analyze the atmospheric
                haze, its smoke, etc.
            </span>
            <span *ngIf="selType === 2">
                NDVI map helps to monitor the state of plant health. Higher the index value, better the plant health.
            </span>
            <span *ngIf="selType === 3">
                EVI map helps to monitor the state of plant health. Higher the index value, better the plant health.
            </span>
        </div>
    </div>
    <div class="col-12 w-100 d-md-flex justify-content-between">
        <div class="d-inline-flex ndvi-mark flex-column mb-25 mb-md-0" *ngIf="selType === 2">
            <div class="color-wrap"></div>
            <div class="label-wrap d-flex justify-content-between">
                <p class="fnt-14 fnt-md-16 fw-m text-clr334 m-0">High</p>
                <p class="fnt-14 fnt-md-16 fw-m text-clr334 m-0">Med</p>
                <p class="fnt-14 fnt-md-16 fw-m text-clr334 m-0">Low</p>
            </div>
        </div>
        <div class="d-inline-flex evi-mark flex-column mb-25 mb-md-0" *ngIf="selType === 3">
            <div class="color-wrap"></div>
            <div class="label-wrap d-flex justify-content-between">
                <p class="fnt-14 fnt-md-16 fw-m text-clr334 m-0">High</p>
                <p class="fnt-14 fnt-md-16 fw-m text-clr334 m-0">Med</p>
                <p class="fnt-14 fnt-md-16 fw-m text-clr334 m-0">Low</p>
            </div>
        </div>
        <div class="w-100 d-flex justify-content-end align-items-center">
            <span class="fnt-14 fw-b text-clr588 mr-3 d-none d-md-block"> Selected day </span>
            <p-calendar
                [(ngModel)]="selectedDate"
                (onSelect)="changeDate()"
                [showIcon]="true"
                dateFormat="dd.mm.yy"
                [readonlyInput]="true"
                [showButtonBar]="true"
                placeholder="Selected dates"
                styleClass="round-border mr-25 mb-25 mb-md-0"
            ></p-calendar>
            <p-dropdown
                [options]="imageTypes"
                [(ngModel)]="selType"
                (onChange)="changeWeatherType()"
                styleClass="round-border mb-25 mb-md-0"
            ></p-dropdown>
        </div>
    </div>
</div>
<div class="mt-0 mt-md-4 chart-wrap">
    <div>
        <div id="map" style="width: 100%; height: 360px"></div>
    </div>
</div>
