.border-total {
    border-radius: 20px;
    border: solid 1px #d6d6d6;
    background-color: #ffffff;
    padding: 10px 12px;
}

.ndvi-mark {
    width: 100%;
    .color-wrap {
        width: 100%;
        height: 20px;
        border-radius: 2px;
        background-image: linear-gradient(
            to right,
            #fc0000,
            #fdb000 12%,
            #f8fe01 25%,
            #1aff00 40%,
            #00ecfd 58%,
            #0030ff 74%,
            #5a007e 88%,
            #000000
        );
    }
    @media (min-width: 768px) {
        width: 434px;
    }
}

.evi-mark {
    width: 100%;
    .color-wrap {
        width: 100%;
        height: 20px;
        border-radius: 2px;
        background-image: linear-gradient(
            to right,
            #091f03,
            #213d03 12%,
            #43551f 25%,
            #6a761e 40%,
            #908f3b 58%,
            #b7ac79 74%,
            #d7cab1 88%,
            #ebded5
        );
    }
    @media (min-width: 768px) {
        width: 434px;
    }
}

:host ::ng-deep .gm-style .gm-style-mtc li {
    label {
        margin-bottom: 0 !important;
    }
    span img {
        transform: translate(0) !important;
        margin-right: 0.5rem;
        width: 18px !important;
        height: 18px !important;
    }
}
