<section>
    <div class="total_header mb-md-2 page-breadcrumb margin-mb-0 pmb-0">
        <div class="row">
            <div class="col-12">
                <div class="d-md-flex flex-column order-fff w-100">
                    <div class="col-12 px-md-0 page-breadcrumb__nav">
                        <div class="col-lg-6 col-md-12 pull-left mr-auto pl-0 pr-0">
                            <nav role="navigation" aria-labelledby="title-breadcrumb-1" class="breadcrumb1 pt-2">
                                <span id="title-breadcrumb-1" class="sr-only"></span>
                                <ul class="bread-nav">
                                    <li class="b-cum">
                                        <a class="b-cum">Home</a
                                        ><span class="padl-r" aria-hidden="true"
                                            ><img class="group-img" src="/assets/images/arrow-1.png" alt=""
                                        /></span>
                                    </li>
                                    <li class="b-cum">
                                        <a class="b-cum">Services</a
                                        ><span class="padl-r" aria-hidden="true"
                                            ><img class="group-img" src="/assets/images/arrow-1.png" alt=""
                                        /></span>
                                    </li>
                                    <li class="b-cum">
                                        <a class="b-cum">Service requests</a
                                        ><span class="padl-r" aria-hidden="true">
                                            <img class="group-img" src="/assets/images/arrow-1.png" alt="" />
                                        </span>
                                    </li>
                                    <li class="b-cum c-pink">#902797</li>
                                </ul>
                            </nav>
                        </div>

                        <div class="col-lg-6 col-md-12 pull-right ml-auto d-none d-md-block pl-0 pr-0">
                            <span class="pull-right ml-auto order-placed-text">
                                Service Requested : <span class="date-text">1st Jan 2020</span>
                            </span>
                        </div>
                    </div>

                    <section class="container create-role-sec mt-2 px-md-0 mb-15">
                        <div class="col-lg-12 col-md-12 col-sm-12 pr-0">
                            <div class="row">
                                <div class="col-md-6 pl-0 pr-0">
                                    <div class="order-id d-flex align-items-center">Service #902797</div>
                                </div>

                                <div class="btn-div col-md-6 pl-0 pr-3 d-md-block d-none">
                                    <button type="submit" class="btn pull-right ord-invoice-butn">Order Invoice</button>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="service-sample-req mt-3">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-lg-6 col-12 service-bor">
                                    <div class="services-status">
                                        <h3>Service Status</h3>
                                        <p>This ststaus would be visible to the estate and can track their request</p>
                                        <a href="#">Have a Problem ?</a>
                                    </div>

                                    <div class="accordion" id="accordionExample">
                                        <div class="card">
                                            <div class="card-header" id="headingOne">
                                                <h2 class="mb-0">
                                                    <button
                                                        class="btn btn-link"
                                                        type="button"
                                                        data-toggle="collapse"
                                                        data-target="#collapseOne"
                                                        aria-expanded="true"
                                                        aria-controls="collapseOne"
                                                    >
                                                        Sample recieved
                                                    </button>
                                                </h2>
                                            </div>

                                            <div
                                                id="collapseOne"
                                                class="collapse show"
                                                aria-labelledby="headingOne"
                                                data-parent="#accordionExample"
                                            >
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="p-grid ui-fluid date-birth">
                                                            <div class="p-col-6 ml-3">
                                                                <h3 class="raise-date pb-1">Cup score date</h3>
                                                                <p-calendar
                                                                    [(ngModel)]="date6"
                                                                    [showIcon]="true"
                                                                    [monthNavigator]="true"
                                                                    [yearNavigator]="true"
                                                                    yearRange="1970:2020"
                                                                    required=""
                                                                    dateFormat="yy-mm-dd"
                                                                ></p-calendar>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-4 col-6">
                                                            <div class="cup-score-date">
                                                                <label> Cup Score* </label>
                                                                <input
                                                                    type="text"
                                                                    class="score-date"
                                                                    placeholder="86.5"
                                                                />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mt-3 border-dotted">
                                                        <div class="col-md-3">
                                                            <p class="report-pdf">report.pdf</p>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <ul class="edit-delete">
                                                                <li class="border-drive">
                                                                    <a href="#">
                                                                        <img
                                                                            class="img-estate"
                                                                            src="assets/images/edit.png"
                                                                            alt="User"
                                                                        />
                                                                        Edit</a
                                                                    >
                                                                </li>
                                                                <li>
                                                                    <a href="#"
                                                                        ><img
                                                                            class="img-estate"
                                                                            src="assets/images/delete.svg"
                                                                            alt="User"
                                                                        />
                                                                        Delete</a
                                                                    >
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-md-3"></div>
                                                    </div>

                                                    <div class="row mt-4 border-dotted">
                                                        <div class="col-12">
                                                            <div class="flavor pb-3">
                                                                <h2>Flavour profile</h2>
                                                                <div class="f-profile">
                                                                    <a
                                                                        class="pointer-item"
                                                                        [popover]="allTemplate"
                                                                        placement="right"
                                                                        [outsideClick]="true"
                                                                        container="body"
                                                                        #pop2="bs-popover"
                                                                    >
                                                                        <span class="share-bor"
                                                                            ><img
                                                                                src="assets/images/region-plus.svg"
                                                                                alt="farm"
                                                                                class="dwnd-img"
                                                                            /><span class="share-txt ml-1">
                                                                                Add Descriptors
                                                                            </span></span
                                                                        >
                                                                    </a>
                                                                    <div class="chips">
                                                                        <mat-chip-list
                                                                            #chipList
                                                                            aria-label="language"
                                                                            class="desk-chips"
                                                                        >
                                                                            <mat-chip
                                                                                *ngFor="let language of langChips"
                                                                                [selectable]="selectable"
                                                                                [removable]="removable"
                                                                                (removed)="remove(language)"
                                                                                >{{ language }}
                                                                                <img
                                                                                    *ngIf="removable"
                                                                                    class="cross-icon"
                                                                                    src="assets/images/cross-white.svg"
                                                                                    (click)="remove(language)"
                                                                                />
                                                                            </mat-chip>
                                                                        </mat-chip-list>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row mt-4">
                                                        <div class="col-12">
                                                            <div class="pull-right">
                                                                <button
                                                                    class="fnt-14 fnt-muli fnt-700 text-clrfff save mr-2"
                                                                >
                                                                    Save
                                                                </button>
                                                                <button
                                                                    class="fnt-14 fnt-muli fnt-700 txt-clr55c reconduct"
                                                                >
                                                                    Re-Conduct cupping
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="headingTwo">
                                                <h2 class="mb-0">
                                                    <button
                                                        class="btn btn-link collapsed"
                                                        type="button"
                                                        data-toggle="collapse"
                                                        data-target="#collapseTwo"
                                                        aria-expanded="false"
                                                        aria-controls="collapseTwo"
                                                    >
                                                        Upload cupping report
                                                    </button>
                                                </h2>
                                            </div>
                                            <div
                                                id="collapseTwo"
                                                class="collapse"
                                                aria-labelledby="headingTwo"
                                                data-parent="#accordionExample"
                                            >
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="p-grid ui-fluid date-birth">
                                                            <div class="p-col-6 ml-3">
                                                                <h3 class="raise-date pb-1">Cup score date</h3>
                                                                <p-calendar
                                                                    [(ngModel)]="date6"
                                                                    [showIcon]="true"
                                                                    [monthNavigator]="true"
                                                                    [yearNavigator]="true"
                                                                    yearRange="1970:2020"
                                                                    required=""
                                                                    dateFormat="yy-mm-dd"
                                                                ></p-calendar>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-4 col-6">
                                                            <div class="cup-score-date">
                                                                <label> Cup Score* </label>
                                                                <input
                                                                    type="text"
                                                                    class="score-date"
                                                                    placeholder="86.5"
                                                                />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mt-3 border-dotted">
                                                        <div class="col-md-3">
                                                            <p class="report-pdf">report.pdf</p>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <ul class="edit-delete">
                                                                <li class="border-drive">
                                                                    <a href="#">
                                                                        <img
                                                                            class="img-estate"
                                                                            src="assets/images/edit.png"
                                                                            alt="User"
                                                                        />
                                                                        Edit</a
                                                                    >
                                                                </li>
                                                                <li>
                                                                    <a href="#"
                                                                        ><img
                                                                            class="img-estate"
                                                                            src="assets/images/delete.svg"
                                                                            alt="User"
                                                                        />
                                                                        Delete</a
                                                                    >
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-md-3"></div>
                                                    </div>

                                                    <div class="row mt-4 border-dotted">
                                                        <div class="col-12">
                                                            <div class="flavor pb-3">
                                                                <h2>Flavour profile</h2>
                                                                <div class="f-profile">
                                                                    <a
                                                                        class="pointer-item"
                                                                        [popover]="allTemplate"
                                                                        placement="right"
                                                                        [outsideClick]="true"
                                                                        container="body"
                                                                        #pop2="bs-popover"
                                                                    >
                                                                        <span class="share-bor"
                                                                            ><img
                                                                                src="assets/images/region-plus.svg"
                                                                                alt="farm"
                                                                                class="dwnd-img"
                                                                            /><span class="share-txt ml-1">
                                                                                Add Descriptors
                                                                            </span></span
                                                                        >
                                                                    </a>
                                                                    <div class="chips">
                                                                        <mat-chip-list
                                                                            #chipList
                                                                            aria-label="language"
                                                                            class="desk-chips"
                                                                        >
                                                                            <mat-chip
                                                                                *ngFor="let language of langChips"
                                                                                [selectable]="selectable"
                                                                                [removable]="removable"
                                                                                (removed)="remove(language)"
                                                                                >{{ language }}
                                                                                <img
                                                                                    *ngIf="removable"
                                                                                    class="cross-icon"
                                                                                    src="assets/images/cross-white.svg"
                                                                                    (click)="remove(language)"
                                                                                />
                                                                            </mat-chip>
                                                                        </mat-chip-list>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row mt-4">
                                                        <div class="col-12">
                                                            <div class="pull-right">
                                                                <button
                                                                    class="fnt-14 fnt-muli fnt-700 text-clrfff save mr-2"
                                                                >
                                                                    Save
                                                                </button>
                                                                <button
                                                                    class="fnt-14 fnt-muli fnt-700 txt-clr55c reconduct"
                                                                >
                                                                    Re-Conduct cupping
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-12 service-bor width-service">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-12 col-12">
                                            <div class="assign-bor">
                                                <div class="w-100 float-left">
                                                    <p class="pull-left fnt-18 fnt-700 fnt-muli black">
                                                        Assigned Facilitator
                                                    </p>
                                                    <p class="pull-right fnt-14 fnt-700 fnt-muli txt-clr60b">Edit</p>
                                                </div>
                                                <div class="row mt-3 border-div">
                                                    <div class="col-2">
                                                        <img
                                                            class="img-estate"
                                                            src="assets/images/stakeholder1.png"
                                                            alt="User"
                                                        />
                                                    </div>
                                                    <div class="col-10">
                                                        <ul class="details-list p-0 ml-2 ml-md-3">
                                                            <li class="fnt-16 fnt-700 fnt-muli black">
                                                                Finca La Pampa
                                                            </li>
                                                            <li class="fnt-16 fnt-500 fnt-muli black pt-1">
                                                                Coffee Estate
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-12">
                                            <div class="assign-bor">
                                                <div class="w-100 float-left">
                                                    <p class="pull-left fnt-18 fnt-700 fnt-muli black">
                                                        Assigned Facilitator
                                                    </p>
                                                </div>
                                                <div class="row mt-3 border-div">
                                                    <div class="col-2">
                                                        <img
                                                            class="img-estate"
                                                            src="assets/images/stakeholder1.png"
                                                            alt="User"
                                                        />
                                                    </div>
                                                    <div class="col-10">
                                                        <ul class="details-list p-0 ml-2 ml-md-3">
                                                            <li class="fnt-16 fnt-700 fnt-muli black">
                                                                Finca La Pampa
                                                            </li>
                                                            <li class="fnt-16 fnt-500 fnt-muli black pt-1">
                                                                Coffee Estate
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="service-details mt-4">
                                        <div class="Stakeholders-mbVersion col-12">
                                            <div class="mt-md-4 mb-3">
                                                <h3 class="fnt-18 fnt-700 fnt-muli black d-line-block">Stakeholders</h3>
                                                <a class="fnt-14 fnt-muli fnt-700 txt-clr55c view-lot">
                                                    View lot details
                                                </a>
                                            </div>

                                            <div class="service-req-bor">
                                                <span class="fnt-16 fnt-700 fnt-muli text-clr588">
                                                    Service Requested :
                                                </span>
                                                <span class="fnt-16 fnt-700 fnt-muli black">Cupping Service</span>
                                            </div>

                                            <div class="row mt-3 border-div">
                                                <div class="p-0">
                                                    <img
                                                        class="img-estate"
                                                        src="assets/images/stakeholder1.png"
                                                        alt="User"
                                                    />
                                                </div>
                                                <div class="pull-left">
                                                    <ul class="details-list p-0 ml-2 ml-md-3">
                                                        <li class="fnt-16 fnt-700 fnt-muli black">Finca La Pampa</li>
                                                        <li class="fnt-16 fnt-500 fnt-muli black pt-1">
                                                            Coffee Estate
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="pull-right ml-auto">
                                                    <span class="bg-msg"
                                                        ><img
                                                            class="message-icon"
                                                            src="assets/images/message-icon.svg"
                                                            alt="Message"
                                                        /><span class="estate-message pl-1">Message</span></span
                                                    >
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 bulk-details-content mt-lg-0 mt-3">
                                            <table class="recent-time">
                                                <tr>
                                                    <td><span class="list-que"> Origin : </span></td>
                                                    <td><span class="list-ans"> Colombia </span></td>
                                                </tr>

                                                <tr>
                                                    <td><span class="list-que"> Region : </span></td>
                                                    <td><span class="list-ans"> Bourbon, cautai </span></td>
                                                </tr>

                                                <tr>
                                                    <td><span class="list-que"> Pickup Address : </span></td>
                                                    <td>
                                                        <span class="list-ans">
                                                            865 Bruce Expressway London - 302992
                                                        </span>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td><span class="list-que"> Delivery Address : </span></td>
                                                    <td>
                                                        <span class="list-ans">
                                                            865 Bruce Expressway London - 302992
                                                        </span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>

<ng-template #allTemplate>
    <div id="status-content">
        <ul class="list-group custom-popover">
            <li class="list-group-item item-color">
                <a class="pointer-item" (click)="addLang('Plum'); pop2.hide()">Plum</a>
            </li>
            <li class="list-group-item item-color">
                <a class="pointer-item" (click)="addLang('Pineapple'); pop2.hide()">Pineapple</a>
            </li>
            <li class="list-group-item item-color">
                <a class="pointer-item" (click)="addLang('Apple'); pop2.hide()">Apple</a>
            </li>
            <li class="list-group-item item-color">
                <a class="pointer-item" (click)="addLang('Orange'); pop2.hide()">Orange</a>
            </li>
            <li class="list-group-item item-color">
                <a class="pointer-item" (click)="addLang('Kiwi'); pop2.hide()">Kiwi</a>
            </li>
            <li class="list-group-item item-color">
                <a class="pointer-item" (click)="addLang('Guava'); pop2.hide()">Guava</a>
            </li>
            <li class="list-group-item item-color">
                <a class="pointer-item" (click)="addLang('Grape'); pop2.hide()">Grape</a>
            </li>
        </ul>
    </div>
</ng-template>
