:host {
    display: block;
}

.status-pen {
    color: #f19634;
    &::before {
        content: '\a';
        position: relative;
        top: -1px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 8px;
        background-color: #f19634;
    }
}
