<section>
    <div class="main-block">
        <div class="row mb-1">
            <div class="col-6">
                <app-breadcrumb [items]="breadCrumbItem"></app-breadcrumb>
            </div>
            <div class="col-6">
                <button
                    type="submit"
                    class="btn pull-right btn-raised d-md-block d-none"
                    routerLink="/features/roasting-profile"
                >
                    {{ globals.languageJson?.manage_roasting_profiles }}
                </button>
                <button
                    type="submit"
                    class="btn pull-right btn-stroked d-md-block d-none mr-2"
                    routerLink="/features/new-roasted-batch"
                >
                    {{ globals.languageJson?.create_new_batch }}
                </button>
            </div>
        </div>
        <div class="row mt-4 mt-md-0">
            <div class="col-12">
                <span class="primary_txt mb-1">Roasted Coffee Inventory</span>
            </div>
        </div>
        <div class="row mb-3 mt-2 mt-md-0">
            <div class="col-12 col-sm-12 col-md-7">
                <span class="fnt-14 black fnt-normal fnt-muli">{{
                    globals.languageJson?.maintain_inventory_text
                }}</span>
            </div>

            <div [formGroup]="searchForm" class="d-none d-sm-none d-md-block col-5">
                <input
                    type="text"
                    name="search"
                    class="search-raised pull-right"
                    formControlName="searchField"
                    placeholder="{{ globals.languageJson?.search_name_role }}"
                />
            </div>
        </div>
        <div class="row mt-4 mb-4 d-block d-sm-block d-md-none">
            <div class="col-12 col-sm-12">
                <button type="submit" class="btn btn-raised w-100" [routerLink]="['/features/roasting-profile']">
                    Manage roasting profiles
                </button>
            </div>
            <div class="col-12 col-sm-12 mt-3">
                <button type="button" class="btn btn-stroked w-100" [routerLink]="['/features/new-roasted-batch']">
                    Create a new batch
                </button>
            </div>
        </div>
        <div class="row">
            <div class="d-block d-sm-block d-md-none col-12 mb-3" [formGroup]="searchForm">
                <input
                    type="text"
                    name="search"
                    class="search-raised w-100 ml-0"
                    formControlName="searchField"
                    placeholder="{{ globals.languageJson?.search_name_role }}"
                />
            </div>
        </div>
        <div class="row pt-1">
            <div class="col-lg-8">
                <p-dropdown
                    [options]="profileArray"
                    optionLabel="label"
                    optionValue="value"
                    [(ngModel)]="profileFilter"
                    (onChange)="filterCall()"
                    scrollHeight="225px"
                    [showClear]="true"
                    placeholder="Roast level"
                    styleClass="round-border mb-3 {{ profileFilter ? 'highlight' : '' }}"
                >
                </p-dropdown>
            </div>
        </div>

        <div class="table-container userTable mt-2 mb-2 pt-0 productListTable bord-profile">
            <p-table
                #myTable
                [class.table-mobile]="sharedService.isMobileView"
                [value]="tableValue"
                [columns]="tableColumns"
                [(selection)]="selectedProfiles"
                dataKey="id"
                [resizableColumns]="true"
                styleClass="ui-table-customers"
                [showCurrentPageReport]="false"
                [paginator]="false"
                [lazy]="true"
                (onLazyLoad)="roasterCoffeeBatchsData()"
                [totalRecords]="totalCount"
                selectionMode="multiple"
                [responsive]="sharedService.isMobileView"
            >
                <ng-template pTemplate="header" let-columns>
                    <tr class="d-none d-sm-none d-md-table-row">
                        <th *ngFor="let col of columns" [style.width]="col.width ? col.width + '%' : '30%'">
                            <span class="primeng-table-header">{{ col.header }}</span>
                            <p-sortIcon
                                *ngIf="col.sortable === true"
                                [field]="col.field"
                                ariaLabel="Activate to sort"
                                ariaLabelDesc="Activate to sort in descending order"
                                ariaLabelAsc="Activate to sort in ascending order"
                            >
                            </p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td
                            *ngFor="let col of columns"
                            [ngSwitch]="col.field"
                            [style.width]="col.width ? col.width + '%' : '30%'"
                            [ngClass]="{
                                'd-none':
                                    col.field == 'created_at' ||
                                    col.field == 'roasting_profile_quantity' ||
                                    col.field == 'estate_name' ||
                                    col.field == 'order_id' ||
                                    col.field == 'roaster_ref_no' ||
                                    col.field == 'actions' ||
                                    col.field == 'roasting_profile_name',
                                'd-sm-none':
                                    col.field == 'created_at' ||
                                    col.field == 'roasting_profile_quantity' ||
                                    col.field == 'estate_name' ||
                                    col.field == 'order_id' ||
                                    col.field == 'roaster_ref_no' ||
                                    col.field == 'actions' ||
                                    col.field == 'roasting_profile_name',
                                'd-md-table-cell':
                                    col.field == 'created_at' ||
                                    col.field == 'roasting_profile_quantity' ||
                                    col.field == 'estate_name' ||
                                    col.field == 'order_id' ||
                                    col.field == 'roaster_ref_no' ||
                                    col.field == 'actions' ||
                                    col.field == 'roasting_profile_name',
                                nameMobileHeader: col.field == 'roast_batch_name'
                            }"
                        >
                            <span *ngSwitchCase="'roast_batch_name'" class="">
                                <span class="d-none d-sm-none d-md-inline-block">
                                    {{ rowData['roast_batch_name'] | titlecase }}
                                </span>

                                <div class="d-block d-sm-block d-md-none row m-0 pb-4">
                                    <div class="col-12 borderCard p-3">
                                        <span>{{ rowData[col.field] | titlecase }}</span>
                                        <span class="float-right">
                                            <a
                                                class="menu-arrow"
                                                [popover]="poplistTemplate"
                                                placement="left"
                                                [outsideClick]="true"
                                                #pop="bs-popover"
                                            >
                                                <img
                                                    class="ellipse-image pl-3"
                                                    src="assets/images/more-opns-file.png"
                                                    alt=""
                                                />
                                            </a>
                                            <ng-template #poplistTemplate>
                                                <div id="popover-mobile-content">
                                                    <ul class="list-group custom-popover">
                                                        <li class="list-group-item">
                                                            <a
                                                                class="pointer-item"
                                                                (click)="openDeleteModal(rowData['id']); pop.hide()"
                                                                >{{ globals.languageJson?.delete }}</a
                                                            >
                                                        </li>
                                                        <li class="list-group-item">
                                                            <a class="pointer-item" (click)="redirectToEdit(rowData)"
                                                                >View details</a
                                                            >
                                                        </li>
                                                    </ul>
                                                </div>
                                            </ng-template>
                                        </span>
                                    </div>
                                    <div class="col-12 row p-3 m-0 mobileCard">
                                        <div class="cardBottom p-0 w-100">
                                            <div class="mobileCardBody pt-0">
                                                <div class="pb-1">
                                                    <span>Order id #{{ rowData['order_id'] }}</span>
                                                </div>
                                                <div class="pb-3 fnt-12">
                                                    <span class="light-eight">Created on : </span>
                                                    <span class="black">{{
                                                        rowData['created_at'] | date: 'dd MMM y h:mma'
                                                    }}</span>
                                                </div>
                                                <div>
                                                    <span class="secondary_txt">Estate Name </span>
                                                    <span class="float-right primary_txt mobileValueTxt">{{
                                                        rowData['estate_name']
                                                    }}</span>
                                                </div>
                                            </div>
                                            <div class="mobileCardBody">
                                                <span class="secondary_txt">Roaster Ref. No.</span>
                                                <span class="float-right primary_txt mobileValueTxt">{{
                                                    rowData['roaster_ref_no']
                                                }}</span>
                                            </div>
                                            <div class="mobileCardBody">
                                                <span class="secondary_txt">Quantity </span>
                                                <span class="float-right primary_txt mobileValueTxt"
                                                    >{{ rowData['roasting_profile_quantity'] }}
                                                    {{ rowData['roasting_profile_unit'] }}</span
                                                >
                                            </div>
                                            <div class="pt-3">
                                                <span class="secondary_txt">Roasting profile</span>
                                                <span class="float-right primary_txt mobileValueTxt">{{
                                                    rowData['roasting_profile_name']
                                                }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </span>
                            <span *ngSwitchCase="'actions'" class="">
                                <span>
                                    <a class="fnt-muli editBtn" (click)="redirectToEdit(rowData)">View details</a>
                                    <span class="float-right">
                                        <a
                                            class="menu-arrow"
                                            [popover]="poplistTemplate"
                                            placement="left"
                                            [outsideClick]="true"
                                            #pop="bs-popover"
                                        >
                                            <img
                                                class="ellipse-image pl-3"
                                                src="assets/images/more-opns-file.png"
                                                alt=""
                                            />
                                        </a>
                                        <ng-template #poplistTemplate>
                                            <div id="popover-mobile-content">
                                                <ul class="list-group custom-popover">
                                                    <li class="list-group-item">
                                                        <a
                                                            class="pointer-item"
                                                            (click)="openDeleteModal(rowData['id']); pop.hide()"
                                                            >{{ globals.languageJson?.delete }}</a
                                                        >
                                                    </li>
                                                </ul>
                                            </div>
                                        </ng-template>
                                    </span>
                                </span>
                            </span>
                            <span *ngSwitchCase="'created_at'" class="">
                                <span>{{ rowData[col.field] | date: 'dd MMM y' }}</span>
                            </span>
                            <span *ngSwitchCase="'roasting_profile_quantity'" class="">
                                <span>{{ rowData[col.field] }} {{ rowData['roasting_profile_unit'] }}</span>
                            </span>

                            <span *ngSwitchDefault>
                                <span>{{ rowData[col.field] }}</span>
                            </span>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</section>

<p-dialog
    *ngIf="popupDisplay"
    header=""
    position="center"
    [style]="{ width: '28.12rem' }"
    styleClass="userDialog"
    [(visible)]="popupDisplay"
>
    <div class="mt-5 mb-5 text-center fnt-muli">
        <div><img src="assets/images/delete-role.svg" alt="" /></div>
        <div class="popupExpression_txt mt-2">Oh noh :(</div>
        <div class="popupMessage_txt mt-2 pb-3">Are you sure you want to delete this product?</div>
        <div class="mt-4">
            <button class="btn btn-stroked" (click)="popupDisplay = false">
                {{ globals.languageJson?.cancel }}
            </button>
            <button class="btn btn-raised ml-3" (click)="deleteRoastedBatch()">
                {{ globals.languageJson?.delete }}
            </button>
        </div>
    </div>
</p-dialog>
