@import 'variables';

.categ-label {
    font-size: 14px;
    font-family: $general-font-family;
    font-weight: $fw-m;
    margin-bottom: 0;
    color: #232334;
    padding: 0 0.5rem 0 0 !important;
}

.category__body {
    padding: 1rem 1.5rem 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.category-wrapper {
    border-radius: 4px;
    border: solid 1px #d6d6d6;
}

.category-inputs {
    margin-bottom: 8px;
    .p-input-icon-right .right-icon {
        position: absolute;
        top: 25%;
        right: 1rem;
    }
}

.category-value {
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    font-size: 14px;
    font-family: $general-font-family;
    color: #232334;
    height: 50px;
    padding: 13px 16px;
    width: 100%;
}

@media (max-width: 991px) {
    .border__grade {
        padding-bottom: 0;
    }
}

@media (max-width: 767px) {
    .skip_btn {
        border: 0 !important;
        text-decoration: underline;
        padding: 0;
        line-height: normal;
    }

    .category__body {
        padding: 1rem 0.5rem 0;
    }

    .green-button {
        width: 100%;
        margin-bottom: 0.5rem;
    }
}
