.total_header {
    margin-left: 2.2rem;
    margin-right: 5.4rem;
}
.top-padding{
    margin-top: 3px;
    color: #000000;
    font-weight: bold;
}
.order-id{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}
.booked{
    border-radius: 4px;
  background-color: rgba(71, 180, 13, 0.1);
  font-family: Montserrat;
  font-size: 13px;
  font-weight: bold;
  color: #24be46;
  padding: 4px;
}
.note-prebooked{
    font-family: Montserrat;
  font-size: 12px;
  font-weight: normal;
  color: #e02f1f;
}
.bold-note{
    font-weight: bold;

}
.in-order{
    background-color: #faf8f4;
    padding: 2rem;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    margin-right: -1rem;    
    overflow: hidden;
}


.recent-time td{
  font-family: Montserrat;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  padding: 1rem 2rem 1rem 0rem;
  border-bottom: 1px solid #dddddd;

}

.list-que{
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #666666;
}
.list-ans{
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

/* ============Order Placed Date============= */
.order-placed-text{
    font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #666666;
}
.date-text{
    font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
.ord-invoice-butn{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #ffffff;
    border-radius: 4px;
    background-color: #3d8462;
    padding: .7rem 1rem;
}



/****************************css for booked starts***************************************/
.in-order{
  background-color: #faf8f4;
  padding: 1.5rem;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  /* margin: .5rem; */
  overflow: hidden;
}
.order-txt{
  font-family: PlayfairDisplay;
font-size: 24px;
font-weight: normal;
color: #020202;
}
.order-status{
  margin-left: -0.8rem;
  font-family: Montserrat;
  font-size: 13px;
 font-weight: normal;
  color: #bea080;
  cursor: pointer;
}
.order-tracking{
  text-align: left;
  width: 16%;
  position: relative;
  display: block;
}

.order-tracking .is-complete{
	display: block;
	position: relative;
	border-radius: 50%;
	/* height: 30px;
  width: 30px; */
  height: 23px;
    width: 23px;
	/* border: 1px solid #c29d7a4a;
  background-color: #ffffff; */
  border: solid 2.2px #24be46;
  background-color: #24be46;
	margin: 0 ;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
    z-index: 2;
    
}
.order-tracking .is-complete:after {
	display: block;
	position: absolute;
	content: '';
	top: -2px;
	bottom: 0;
	margin: auto 0;
	border: 0px solid #AFAFAF;
	transform: rotate(45deg);
	border-color: #ffffff;
    border-width: 0px 2px 2px 0;
    width: 6px;
    left: 7px;
    opacity: 1;
    height: 10px;
}
.order-tracking.completed .is-complete{
	/* border-color: #c29d7a;
	border-width: 0px;
  background-color: #c29d7a; */
    border: solid 2px #bea080;
    background-color: #faf8f4;
}
.order-tracking.completed .is-complete:after {
  border-color: #bea080;
  border-width: 0px 2px 2px 0;
  width: 6px;
  left: 7px;
  opacity: 1;
  height: 10px;
}

.order-tracking:last-child:after{
	content: '';
	display: block;
    height: 3px;
    /* width: calc(100%); */
    background-color: #c29d7a1f;
    top: 13px;
    position: absolute;
	right: calc(-19%);
    z-index: 0;
}
.mixups-track:last-child:after{
	content: '';
	display: block;
    height: 3px;
    width: calc(100%);
    background-color: #c29d7a1f;
    top: 13px;
    position: absolute;
	right: calc(-9%);
    z-index: 0;
}

 .is-complete:before {
    border-color: #fff;
    border-width: 0px 3px 3px 0;
    width: 7px;
    left: 11px;
    opacity: 1;
}



.order-tracking::before {
	content: '';
  display: block;
  width: calc(72%);
    background-color: #c29d7a1f;
    top: 13px;
    position: absolute;
    left: calc(-83%);
    z-index: 0;
    border: dashed 0.5px #bea080;

	/* height: 3px;
	width: calc(100%);
	background-color: #c29d7a1f;
	top: 13px;
	position: absolute;
	left: calc(-90%);
	z-index: 0; */
}

.mixups-tabs .order-tracking::before {left: calc(-90%);}
.order-tracking:first-child:before{display: none;}
.order-tracking.completed:before{
  border: dashed 0.5px #bea080;}
.transit-scoll{
  width:107%;
}
.transit-maxwidth{
  margin-left: 4rem;
    margin-top: 1.5rem;
}
.order-date{
  font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    /* margin-left: -2.8rem; */
    margin-left: -1rem;
}
.order-datecolor{
  color:#3d8462;
  font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    margin-left: -1rem;
}
.shipping-div{
  padding-left: 3rem;
}
.shipping-addr,.estate-details{
  font-family: Montserrat;
  font-size: 15px;
  font-weight: bold;
  color: #000000;
}
.edit-text,.view-details{
  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
  color: #3d8462;
}
.addr-text{
  font-family: Montserrat;
  font-size: 12px;
  font-weight: normal;
  color: #000000;
}
.details-list{
  list-style: none;
  margin-left: 1.5rem;
}
.img-logo{
  width: 100%;
      height: 134px;
}
.img-estate{
  width: 32px;
    height: 32px;
}
.ship-pl{
  padding-left: 3rem;
}
.estate-name{
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  color: #000000;
}
.estate-number{
  font-family: Montserrat;
  font-size: 11px;
  font-weight: normal;
  color: #000000;
}
.estate-mail{
  font-family: Montserrat;
  font-size: 11px;
  font-weight: normal;
  color: #000000;
  border-left: 1px solid #cccccc;
}
.estate-message{
  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
  color: #3d8462;
}
.border-div{
  border-bottom: 1px solid #dddddd;
}
.company-phone{
  font-family: Montserrat;
  font-size: 12px;
  font-weight: normal;
  color: #666666;
}
.company-text{
  font-family: Montserrat;
  font-size: 12px;
  font-weight: normal;
  color: #000000;
}