@import 'variables';

.total-wrap {
    @media (min-width: 992px) {
        border-right: solid 1px #ebebeb;
    }
}

.select-wrap {
    border-bottom: 1px solid #dddddd;
}

/*=======   Tabs  =======*/

.mixups-tabs {
    background-color: #ffffff;
    overflow: hidden;
}

a.nav-link {
    @media screen and (min-width: 992px) {
        padding-left: 24px !important;
        padding-right: 24px !important;
    }
    @media screen and (min-width: 768px) and (max-width: 992px) {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    @media screen and (max-width: 768px) {
        padding-left: 18px !important;
        padding-right: 17.5px !important;
    }
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #232334;
    font-size: 14px;
    font-weight: 600;
    background-color: unset !important;
    border-radius: unset;
}

.nav-pills .nav-link.active {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    display: inline-block;
}

.nav-pills .nav-link.active:before {
    content: '';
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 50%;
    text-align: center;
    margin: auto;
    top: 80%;
    transform: translate(-50%);
    border-radius: 1.5px;
    background-color: #30855c;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.nav-pills .nav-link:hover::before {
    width: 100%;
    content: '';
    opacity: 1;
}

.nav-pills .nav-link.active:before {
    opacity: 1;
    width: 100%;
}

.nav-pills {
    border-bottom: 1px solid #dddddd;
}

li.nav-item {
    position: relative;
    top: 0.25rem;
}

.nav-pills .nav-link {
    font-family: $general-font-family;
    font-size: 14px;
    font-weight: 600;
    color: #232334;
}

.nav-pills .nav-link.active {
    font-family: $general-font-family;
    font-size: 14px;
    font-weight: 600;
    color: #30855c;
}

.vertical-bar {
    display: none;
}
.horizontal-bar {
    display: block;
}
@media screen and (min-width: 992px) {
    .vertical-bar {
        display: block;
    }
    .horizontal-bar {
        display: none;
    }
}
.custom-chart-tooltip {
    background: white;
    color: black;
}
.break-all {
    word-break: break-all;
}
::ng-deep ngx-tooltip-content.ngx-charts-tooltip-content.type-tooltip {
    .tooltip-caret.position-top {
        border-top-color: white;
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    }

    background-color: white;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    padding: 5px;
}

::ng-deep .textDataLabel {
    font-size: 12px;
    font-family: $general-font-family;
    font-weight: bold;
    // transform: translate(-20px, -8px);
}

::ng-deep .textDataLabel:before {
    content: '$';
}
::ng-deep .ng-tns-c229-5:before {
    content: '$';
}
