<div class="category-wrapper mb-3 mb-md-4">
    <div class="category__head">
        <div class="d-flex flex-wrap align-items-center">
            <label class="categ-labels col-4 col-md-6 col-lg-4 p-0">Category {{ categoryIndex }}</label>
            <label class="categ-labels col-4 col-md-6 col-lg-4 p-0">Number of defects</label>
            <label class="categ-labels col-4 col-md-6 col-lg-4 p-0 pl-lg-0">Equivalent defects</label>
        </div>
    </div>
    <div class="category__body">
        <div class="d-flex flex-wrap align-items-center mb-2" *ngFor="let cat of categoryList">
            <label class="categ-label col-4 col-md-6 col-lg-4">{{ cat.label }}</label>
            <div class="col-4 col-md-3 col-lg-4 py-0 pl-0 pr-1">
                <input
                    type="number"
                    class="category-value"
                    (focus)="$event.target.select()"
                    [readonly]="readonly"
                    [(ngModel)]="categoryData[cat.key1]"
                    (change)="onChange()"
                />
            </div>
            <div class="col-4 col-md-3 col-lg-4 py-0 pl-1 pr-0">
                <input
                    type="number"
                    class="category-value"
                    (focus)="$event.target.select()"
                    [readonly]="readonly"
                    [(ngModel)]="categoryData[cat.key2]"
                    (change)="onChange()"
                />
            </div>
        </div>

        <div class="d-flex flex-wrap align-items-center pt-5 pt-md-2 mb-2">
            <label class="fw-b col-md-6 col-lg-4 p-0 mb-2 mb-md-0"
                >{{ 'total_category' | translate }} {{ categoryIndex }} {{ 'defects' | translate | lowercase }} :</label
            >
            <div class="col-md-6 col-lg-8 p-0">
                <input
                    type="number"
                    class="category-value fw-b br-4 w-100"
                    (focus)="$event.target.select()"
                    [readonly]="readonly"
                    [(ngModel)]="categoryDefects"
                    (change)="onChangeDefects()"
                />
            </div>
        </div>
    </div>
</div>
