<div class="border-main br-4 mb-3 mb-md-4">
    <div class="px-2 px-md-35 py-3 m-0 m-md-1 br-4 bg-f8">
        <div class="row gutter-8 flex-wrap align-items-center">
            <div class="fnt-12 fnt-md-14 fw-b col-4 col-md-6 col-lg-4">
                {{ 'category' | translate }} {{ categoryIndex }}
            </div>
            <div class="fnt-12 fnt-md-14 fw-b col-4 col-md-3 col-lg-4">{{ 'number_of_defects' | translate }}</div>
            <div class="fnt-12 fnt-md-14 fw-b col-4 col-md-3 col-lg-4">{{ 'equivalent_defects' | translate }}</div>
        </div>
    </div>
    <div class="px-2 px-md-4 pt-3 pb-0">
        <div class="row gutter-8 flex-wrap align-items-center mb-2" *ngFor="let cat of categoryList">
            <label class="fw-m col-4 col-md-6 col-lg-4 mb-0">{{ cat.label }}</label>
            <div class="col-4 col-md-3 col-lg-4 sewn-form-field mb-0">
                <input
                    type="number"
                    pInputText
                    [readonly]="readonly"
                    [(ngModel)]="categoryData[cat.key1]"
                    (change)="onChange()"
                />
            </div>
            <div class="col-4 col-md-3 col-lg-4 sewn-form-field mb-0">
                <input
                    type="number"
                    pInputText
                    [readonly]="readonly"
                    [(ngModel)]="categoryData[cat.key2]"
                    (change)="onChange()"
                />
            </div>
        </div>

        <div class="row gutter-8 flex-wrap align-items-center pt-5 pt-md-2 mb-2">
            <label class="fw-b col-md-6 col-lg-4 mb-2 mb-md-0"
                >{{ 'total_category' | translate }} {{ categoryIndex }} {{ 'defects' | translate | lowercase }}</label
            >
            <div class="col-md-6 col-lg-8 sewn-form-field mb-0">
                <input
                    type="number"
                    pInputText
                    [readonly]="readonly"
                    [(ngModel)]="categoryDefects"
                    (change)="onChangeDefects()"
                />
            </div>
        </div>
    </div>
</div>
