@import 'variables';

.confirm-order {
    padding: 3rem 2rem;
}

.confirm-txt {
    font-size: 18px;
    font-weight: normal;
    color: #020202;
    @media (min-width: 768px) {
        font-size: 28px;
    }
}

.fill-txt {
    font-size: 12px;
    font-weight: $fw-m;
    line-height: 20px;
    @media (min-width: 768px) {
        font-size: 16px;
        font-weight: normal;
    }
}

.service-wrap {
    max-width: 325px;
}

.form-middle {
    padding-top: 40px;
}

.order-sec {
    padding: 8rem 0;
}

:host ::ng-deep {
    .p-datatable.p-datatable-responsive .p-datatable-tbody > tr > td .p-column-title {
        width: 50% !important;
    }
    .p-overlaypanel.price-tier-overlay-panel {
        max-width: 500px;
        width: 80%;
        box-shadow: 0 22px 34px 0 rgba(0, 0, 0, 0.08);
        border: none;
        background-color: $white;
        .p-overlaypanel-content {
            padding: 0;
        }
        th,
        td {
            font-size: 12px;
        }
        .p-overlaypanel-close.p-link {
            background-color: $brown-color;
        }
    }
    .price-tier-table.p-datatable-scrollable .p-datatable-scrollable-wrapper .p-datatable-scrollable-view {
        min-width: 460px;
    }
}
