.confirm-order {
    padding: 3rem 2rem;
}

.confirm-txt {
    font-size: 18px;
    font-weight: normal;
    color: #020202;
    @media (min-width: 768px) {
        font-size: 28px;
    }
}

.fill-txt {
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    @media (min-width: 768px) {
        font-size: 16px;
        font-weight: normal;
    }
}

.service-wrap {
    max-width: 325px;
}

.form-middle {
    padding-top: 40px;
}

.order-sec {
    padding: 8rem 0;
}
::ng-deep .price-tier-overlay-panel {
    max-width: 500px;
    width: 80%;
    margin: 2px;
    th,
    td {
        font-size: 12px;
    }
    .p-overlaypanel-close.p-link {
        background-color: #80460b;
    }
}

:host ::ng-deep {
    .p-datatable.p-datatable-responsive .p-datatable-tbody > tr > td .p-column-title {
        min-width: 50% !important;
    }
}
