.existing-min {
    min-height: 200px;
}

:host ::ng-deep {
    .p-autocomplete-multiple-container {
        padding-right: 8.429rem !important;
    }
    .p-autocomplete-loader {
        right: 8rem;
    }
}
.owner-wrap {
    padding: 10px 12px;
}
