<div class="ml-md-3 border-md-main br-4 row">
    <div *ngIf="!isMobile" class="col-md-6 px-md-0">
        <app-recipe-original-post
            (checkTranslationExits)="checkTranslationExits($event)"
            [recipeId]="id"
        ></app-recipe-original-post>
    </div>

    <div *ngIf="!showNoDataSection" class="col-12 col-md-6 px-md-0 mt-4 mt-md-0">
        <div class="w-100 bg-f8">
            <div class="d-flex border-btm drop-pad">
                <span class="fnt-14 fnt-600 text-clr334 pr-2 pt-25">{{ 'translation_language' | translate }} - </span>
                <p-dropdown
                    [options]="remainingLangugage"
                    [(ngModel)]="selectedLang"
                    optionLabel="label"
                    optionValue="value"
                    [filter]="true"
                    filterBy="label"
                    [showClear]="true"
                    (onChange)="onChangeTab($event)"
                    [placeholder]="'language_placeholder' | translate"
                    styleClass="bg-white"
                >
                </p-dropdown>
            </div>
        </div>
        <div *ngIf="selectedLang" class="px-2 py-3 py-md-2 pr-md-4 pl-md-4 bg-f8">
            <app-create-recipe [isTranslate]="true"></app-create-recipe>
        </div>
    </div>
    <div *ngIf="showNoDataSection" class="col-12 col-md-6 px-md-0 mt-4 mt-md-0 noborder-left">
        <div class="align-items-center d-flex fnt-18 fnt-md-20 h-25 justify-content-center mt-5 pt-5">
            {{ 'no_language_available_translated' | translate }}
        </div>
    </div>
    <div *ngIf="isMobile" class="col-12 br-4 mt-4">
        <app-recipe-original-post
            (checkTranslationExits)="checkTranslationExits($event)"
            [recipeId]="id"
        ></app-recipe-original-post>
    </div>
</div>
<div class="row ml-0 ml-lg-3 mt-2 py-2 px-md-0 p-0 col-sm-12 my-3 my-md-45 my-lg-5">
    <div class="col-md-6 order-2 order-md-1 p-0">
        <button (click)="onCancel()" class="btn-stroked px-4 w-mob-100 mb-2 mb-md-0">
            {{ 'cancel' | translate }}
        </button>
        <button
            *ngIf="draftId"
            (click)="onDeleteDraft()"
            class="btn-stroked ml-md-3 px-4 order-2 order-md-1 w-mob-100 mt-2 mt-md-0"
        >
            {{ 'delete' | translate }}
        </button>
    </div>
    <div class="col-md-6 order-1 order-md-2 p-0">
        <div class="d-flex justify-content-end flex-column flex-md-row">
            <button (click)="onSave(false)" class="btn-stroked px-4 order-2 order-md-1 w-mob-100 mb-2 mb-md-0">
                {{ (draftId ? 'save_changes_to_draft' : 'save_as_draft') | translate }}
            </button>
            <button
                (click)="onSave(true)"
                [disabled]="showNoDataSection"
                class="btn-raised px-4 ml-md-3 order-1 order-md-2 w-mob-100 mb-2 mb-md-0"
            >
                {{ 'publish' | translate }}
            </button>
        </div>
    </div>
</div>
