@import 'variables';

.vertical-bar {
    display: none;
}
.horizontal-bar {
    display: block;
}
@media screen and (min-width: 768px) {
    .vertical-bar {
        display: block;
    }
    .horizontal-bar {
        display: none;
    }
}
.custom-chart-tooltip {
    background: white;
    color: black;
}

::ng-deep ngx-tooltip-content.ngx-charts-tooltip-content.type-tooltip {
    .tooltip-caret.position-top {
        border-top-color: white;
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
        text {
            fill: #747588;
        }
    }

    background-color: white;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    padding: 5px;
    color: #747588;
    text {
        fill: #747588;
    }
}

::ng-deep .textDataLabel {
    font-size: 12px;
    font-family: $general-font-family;
    font-weight: $fw-b;
    fill: #747588;
    transform: translate(-20px, -8px);
}

::ng-deep .textDataLabel:before {
    content: '$';
}
::ng-deep .ng-tns-c229-5:before {
    content: '$';
}

::ng-deep .tick {
    text {
        fill: #747588;
    }
}

::ng-deep .y,
.axis {
    text {
        fill: #747588;
    }
}
