.checked {
    color: #ffc107;
}


/*Detail page*/

.source-cont {
    margin: 0rem 3rem;
    padding-top: 2rem;
}

.back-page a {
    font-size: 16px;
    color: #80460b;
    cursor: pointer;
    font-family: Muli;
    text-decoration: none;
    font-weight: 600;
}

.star-rate {
    font-family: Muli;
    font-size: 18px;
    font-weight: bold;
    color: #242424;
}

.rating-data {
    text-decoration: underline;
    padding-left: 2px;
}

.det-tit h2 {
    font-size: 18px;
    font-weight: bold;
    color: #242424;
    font-family: Muli;
    cursor: pointer;
}

.pro-logo {
    float: left;
    margin-right: 10px;
}

.des-content article {
    width: 65%;
    border: 1px solid #000;
    float: left;
    margin-right: 1.5%;
    padding: 32px 24px;
    border-radius: 4px;
    border: solid 1px #ebebeb;
}

.des-content aside {
    width: 33.5%;
    border-radius: 4px;
    border: solid 1px #ebebeb;
    float: left;
    padding: 32px 24px;
    border-radius: 4px;
}

.stit h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #232334;
    font-family: Muli;
}

.stit p {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 25px;
    color: #232334;
    font-family: Muli;
}

.stit p:last-child {
    margin-bottom: 40px;
}

.source-cont .nav-item {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.real-estate h6 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 3px;
    margin-top: 12px;
    color: #747588;
    font-family: Muli;
}

.real-estate h3 {
    font-size: 14px;
    font-weight: bold;
    color: #232334;
    font-family: Muli;
}

.estate-focus h3 {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    font-family: Muli;
}

.estate-focus ul {
    margin-bottom: 0;
}

.estate-focus ul li {
    width: 100%;
    float: left;
    border-bottom: 1px solid #eeeeee;
    padding: 16px 0;
}

.estate-focus ul li:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.estate-focus ul li label {
    float: left;
    width: 37%;
    margin-bottom: 0;
    color: #747588;
    font-size: 14px;
    font-weight: 500;
    font-family: Muli;
}

.estate-focus ul li p {
    margin-bottom: 0;
    width: 60%;
    float: left;
    font-size: 14px;
    color: #232334;
    font-weight: 600;
    font-family: Muli;
}

.cetify-logo ul li {
    display: inline-block;
    width: 50px;
    margin-right: 30px;
}

.cetify-logo ul li :last-child {
    margin-right: 0;
}

.cetify-logo ul li img {
    width: 100%
}

.prodcoffee {
    width: 100%;
    position: relative;
    height: 234px;
    background: url(/assets/images/video-image.jpg) no-repeat scroll;
}

.prodcoffee h4 {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0px, -50%);
    padding: 24px;
    font-size: 18px;
    z-index: 10;
    font-weight: 600;
    font-family: Muli;
}

.prebook .more-text {
    width: 100%;
    text-align: center;
    font-family: Muli;
    border-radius: 4px;
    font-weight: bold;
    padding: 10px 16px;
    border: 1px solid #30855c;
    font-size: 14px;
    background-color: #30855c;
    color: #fff;
    margin-right: 12px;
    cursor: pointer;
}

.prebook .prebook-estate {
    width: 100%;
    text-align: center;
    font-family: Muli;
    border-radius: 4px;
    font-weight: bold;
    padding: 10px 16px;
    border: 1px solid #30855c;
    font-size: 14px;
    color: #30855c;
    cursor: pointer;
}

.prebook .prebook-estate:last-child {
    margin-right: 0;
}

.prebook .prebook-estate:hover {
    background: #30855c;
    color: #fff;
}

.employer h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 22px;
    color: #000000;
    font-family: Muli;
}

.p-gal img {
    width: 100%
}

.profile-des h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 12px;
    color: #232334;
    font-family: Muli;
}

.profile-des h6 {
    font-family: Muli;
    font-size: 14px;
    font-weight: 500;
    color: #000000;
}

.msg-chat {
    border: 1px solid #747588;
    padding: 4px 13px 6px;
    float: left;
    border-radius: 2px;
}

.msg-chat p {
    margin-bottom: 0;
    font-family: Muli;
    font-size: 14px;
    font-weight: 500;
    color: #232334;
}

.gals {
    margin-bottom: 25px;
}

.gals img {
    width: 100%;
}

.whyus-zoom img {
    float: left;
    margin-top: 3px;
    margin-right: 10px;
}

.whyus-details {
    padding: 24px;
    border: 1px solid #ebebeb;
    border-radius: 4px;
}

.marketing-gal {
    position: relative;
}

.marklist {
    position: absolute;
    bottom: 0;
    z-index: 9;
    background: #c69c6c;
    color: #fff;
    height: 90%;
    left: 32px;
    width: 540px;
    padding: 5% 2% 0 4%;
}

.marklist h2 {
    font-size: 47px;
    font-style: italic;
    margin-bottom: 12px;
    font-weight: normal;
}

.marklist h5 {
    font-size: 16px;
    font-family: Muli;
    font-weight: normal;
}

.marklist h2 span {
    width: 100%;
    display: block;
}

.mark-brand {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 30px;
}

.mark-brand h3 {
    font-size: 38px;
    font-style: italic;
    padding-right: 4rem;
    color: #a88057;
    font-weight: normal;
}

.mark-brand p {
    font-family: Muli;
    font-size: 14px;
    font-weight: normal;
    color: #232334;
    margin-bottom: 16px;
}

.mark-brand p:last-child {
    margin-bottom: 0;
}

.video-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.video-part {
    background: #0006;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.prodcoffee .video-btn {
    right: 8px;
    bottom: 7px;
    width: auto;
    left: auto;
    top: auto;
}


/***********COffee Availability Tab css************/

.card-border {
    border: 1px solid #ebebeb;
    margin-bottom: 26px;
    border-radius: 4px;
}

.card-border:hover {
    box-shadow: 0px 0px 24px -2px #979797;
}

.filter-sort {
    position: absolute;
    right: 0;
    top: -10px;
}

.green-coffee-product .s-tit h5 {
    color: #747588;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.green-coffee-product .s-details h3 {
    height: auto;
    margin-bottom: 3px;
}

.flo-list {
    margin-bottom: 0;
    margin-top: -5px;
}

.flo-list li,
.flavor-coffee span {
    float: left;
    font-size: 12px;
    padding: 3px 9px 1px 15px;
    font-weight: 600;
    margin-right: 5px;
    color: #747588;
    position: relative;
    border-radius: 11.5px;
    border: solid 0.5px #747588;
    margin-bottom: 5px;
}

.flo-list li:last-child {
    margin-right: 0;
}

.flo-list li:before,
.flavor-coffee span:before {
    content: '';
    width: 4px;
    height: 4px;
    background: #747588;
    border-radius: 50%;
    position: absolute;
    left: 6px;
    top: 42%;
}

.green-coffee-product .top-lots label {
    font-size: 16px;
}

.green-coffee-product .source-lets {
    padding-bottom: 24px;
    padding-top: 24px;
    margin-bottom: 22px;
}

.top-lots span {
    color: #232334
}

.s-gal {
    position: relative;
}

.cupping {
    position: absolute;
    bottom: -30px;
    z-index: 9;
    right: 10px;
}

.cupping p {
    background-color: #f19634;
    color: #fff;
    padding: 8px 12px;
    border-radius: 17px;
    font-size: 13px;
    font-weight: bold;
}

ul {
    padding-left: 0;
}

ul li {
    list-style: none;
}

.s-cert li {
    display: flex;
    width: 32px;
    margin-left: 14px;
}

.table-details {
    display: none;
}

.s-cert li img {
    width: 100%;
}

.flex {
    display: flex;
}

.s-details h3 {
    height: 23px;
    font-family: Muli;
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
    color: #242424;
}

.s-details h6 {
    font-size: 18px;
    font-weight: bold;
}

.s-details {
    padding: 22px;
}

.s-gal img {
    width: 100%;
}

.s-tit {
    width: 80%;
}

.orgin-att label {
    font-size: 14px;
    font-weight: 600;
    color: #747588;
}

.orgin-att h6 {
    font-size: 14px;
    font-weight: bold;
}

.orgin-att {
    padding-left: 15px;
    padding-right: 15px;
    border-right: 1px solid #ebebeb;
}

.orgin-att:first-child {
    padding-left: 0;
}

.orgin-att:last-child {
    padding-right: 0;
    border: none;
}

.source-lets {
    padding-bottom: 40px;
    border-bottom: 1px solid #ebebeb;
    padding-top: 32px;
    margin-bottom: 16px;
}

.top-lots label {
    width: 100%;
    font-size: 14px;
    color: #747588;
    font-weight: bold;
}

.top-lots a {
    color: #80460b;
    padding-right: 16px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
}

.chat-btn {
    border-radius: 8px 8px 0px 0px !important;
    box-shadow: 0 0 17px 2px rgba(27, 27, 27, 0.08);
    background-color: #333333;
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    text-align: left;
}

.chat-indicator {
    color: #24be46;
}

.chat-div {
    width: 98%!important;
}

.stricky-order {
    position: fixed;
    left: 0;
    right: 10%;
    bottom: 0px;
    z-index: 99;
    width: 23%;
}

.source-knowmore .contact-us {
    padding: 12px 16px;
    font-family: Muli;
    font-size: 14px;
    border: 1px solid #30855c;
    font-weight: bold;
    border-radius: 4px;
    background-color: #30855c;
    text-decoration: none !important;
    display: inline-block;
    color: #ffffff !important;
    cursor: pointer;
}

.source-knowmore .know-more {
    padding: 12px 16px;
    border: 1px solid #30855c;
    font-family: Muli;
    font-size: 14px;
    font-weight: bold;
    color: #30855c !important;
    border-radius: 4px;
    margin-left: 10px;
    text-decoration: none !important;
    display: inline-block;
    margin-top: 5px;
    cursor: pointer;
}

.source-knowmore .know-more:hover {
    background: #30855c !important;
    color: #fff !important;
}

.star-rate:hover {
    color: #80460b;
    text-decoration: underline;
}

@media (max-width:991px) {
    .des-content article {
        width: 100%;
        margin-right: 0;
    }
    .des-content aside {
        width: 100%;
        margin-top: 2rem;
    }
}

@media (max-width:575px) {
    .cetify-logo ul li {
        width: 40px;
        margin-right: 10px;
    }
    .estate-focus ul li label,
    .estate-focus ul li p {
        width: 100%;
    }
    .m-overflow {
        overflow: hidden;
        padding: 0;
    }
    .m-padding-0 {
        padding: 0;
    }
    .star-rate {
        font-size: 16px;
    }
    .source-cont {
        margin: 0rem 16px;
        padding-top: 1rem;
    }
    .source-det-tit {
        width: 100%;
        text-align: center;
        margin-top: -5rem;
        position: relative;
        z-index: 9;
    }
    .pro-logo {
        float: none;
        width: 100%;
    }
    .source-knowmore {
        width: 100%;
    }
    .source-knowmore a {
        width: 48%;
        text-align: center;
        margin: 0;
    }
    .source-tabs {
        overflow-x: scroll;
        padding-bottom: 0.3rem;
    }
    .nav-tabs {
        width: 1000px;
    }
    .m-padding-8 {
        padding: 0 8px;
    }
    .des-content article {
        padding: 16px;
    }
    .stit h2 {
        width: 65%;
        display: inline-block;
        font-size: 16px;
    }
    .s-cert {
        width: 35%;
        display: inline-block;
        float: right;
    }
    .s-cert ul li {
        margin-right: 0px;
    }
    .s-cert ul li:last-child {
        margin-right: 0;
    }
    .s-cert li img {
        width: 23px;
    }
    .area-location,
    .stit p,
    .real-estate h6 {
        color: #747588;
        font-size: 12px;
    }
    .m-orgin {
        font-size: 14px;
        color: #242424;
        font-weight: bold;
    }
    .real-estate img {
        width: 24px;
    }
    .stit p:last-child {
        margin-bottom: 0px;
    }
    .des-content aside {
        padding: 0px;
        margin-top: 1rem;
    }
    .prebook a {
        padding: 10px 0 !important;
    }
    .prodcoffee h4 {
        font-size: 14px;
    }
    .employer {
        padding-left: 15px;
        padding-right: 15px;
    }
    .gals {
        margin-bottom: 8px;
    }
    .gals img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .gals:nth-child(1n) {
        padding-right: 4px;
        padding-left: 0;
        width: 50% !important;
    }
    .gals:nth-child(2n) {
        padding-left: 4px;
        padding-right: 0;
    }
    .cardpanel-detail {
        overflow: hidden;
    }
    .source-lets.flex,
    .s-details .m-flex {
        display: block;
    }
    .orgin-att {
        width: 50%;
        display: inline-block;
        margin-bottom: 10px;
    }
    .orgin-att:last-child {
        padding-left: 0;
        margin-bottom: 0;
    }
    .orgin-att:nth-child(2) {
        padding-left: 20px;
        border-right: 0;
    }
    .s-cert li:first-child {
        margin-left: 0;
    }
    .s-tit {
        width: 100%;
    }
    .s-details h3 {
        height: auto;
        white-space: initial;
    }
    .green-coffee-product .orgin-att:last-child {
        width: 100%;
    }
    .green-coffee-product .top-lots label,
    .green-coffee-product .s-tit h5,
    .orgin-att h6 {
        font-size: 14px !important;
    }
    .s-details h6,
    .s-details h3 {
        font-size: 16px;
    }
    .pointer-item {
        float: right;
        margin-right: 10px;
    }
}