@import 'variables';

.certification-item {
    background-color: $primary-bg-color;
    padding: 16px 24px;

    @media (max-width: 991px) {
        padding: 0 16px;
        flex-direction: column;
        align-items: flex-start;
    }

    & > div {
        @media (max-width: 991px) {
            padding: 14px 0;
            width: 100%;
            &:first-child {
                border-bottom: 1px solid $primary-border-color;
            }
        }
    }
    .vertical-divider {
        height: 18px;
        border-left: 1px solid $primary-border-color;
    }
}

:host ::ng-deep {
    .btn-trans-icon {
        @media (min-width: 992px) {
            padding: 15px 24px 15px 24px;
        }
    }
}
