<div class="license-content-wrapper">
    <div>
        <ng-container *ngFor="let certificationItem of certificationArray; let i = index">
            <div
                class="certification-item justify-content-between d-flex align-items-center"
                *ngIf="i !== editingRowIndex; else addAndEditTemplate"
            >
                <div class="d-flex align-items-center">
                    <div class="fnt-muli fnt-600 fnt-14 text-clr334">{{ certificationItem.name }}</div>
                    <div class="vertical-divider mx-3"></div>
                    <div class="fnt-muli fnt-600 fnt-14 text-clr334">{{ certificationItem.year }}</div>
                </div>
                <div class="d-flex align-items-center">
                    <span
                        class="fnt-muli d-flex fnt-14 fnt-600 lh-normal text-clr97 cursor-pointer"
                        (click)="onEdit(i)"
                    >
                        <img class="mr-2" src="assets/images/icon-edit.svg" alt="icon" />
                        Edit
                    </span>
                    <div class="vertical-divider ml-3 mr-25"></div>
                    <span
                        class="fnt-muli d-flex fnt-14 fnt-600 lh-normal text-clr97 cursor-pointer"
                        (click)="onDelete(i)"
                    >
                        <img class="mr-2" src="assets/images/icon-delete.svg" alt="icon" />
                        Delete
                    </span>
                </div>
            </div>
        </ng-container>
        <div class="mt-2" *ngIf="(editingRowIndex === -1 || !certificationArray.length) else addAnotherCertificate">
            <ng-container *ngTemplateOutlet="addAndEditTemplate"></ng-container>
        </div>
        <ng-template #addAnotherCertificate>
            <div class="pt-2 pb-45 pb-md-0">
            <span class="fnt-muli fnt-14 fnt-bold text-clr60b cursor-pointer" (click)="onAdd()">
                <i class="pi pi-plus mr-25 fnt-bold fnt-14"></i>
                Add another certificate
            </span>
            </div>
        </ng-template>
    </div>
    <input #myFileInput type="file" class="d-none" (change)="onFileChange($event)" />
</div>

<ng-template #addAndEditTemplate>
    <div class="row gutter-24 pt-2">
        <div class="col-md-6">
            <div class="mb-4 mb-md-45 sewn-form-field w-100">
                <label class="fnt-14 text-clr588 fnt-muli"> Certification name </label>
                <input
                    class="w-100"
                    type="text"
                    pInputText
                    placeholder="Please type certificate name"
                    [(ngModel)]="selectedCertificationName"
                />
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-4 mb-md-45 sewn-form-field w-100">
                <label class="fnt-14 text-clr588 fnt-muli"> Year of certification </label>
                <p-dropdown
                    [options]="yearList"
                    optionLabel="label"
                    optionValue="value"
                    [(ngModel)]="
                        editingRowIndex < 0 ? selectedCertificationYear : certificationArray[editingRowIndex].year
                    "
                    styleClass="p-dropdown-full"
                    placeholder="Please select year"
                    [autoDisplayFirst]="false"
                    (onChange)="onChangeYear($event)"
                ></p-dropdown>
            </div>
        </div>
        <div class="col-12">
            <div class="mb-3">
                <label class="fnt-14 text-clr588 fnt-muli"> Upload certificate </label>
                <div class="d-flex align-items-center flex-column flex-md-row">
                    <div class="file-name mr-3" *ngIf="file || certificationArray[editingRowIndex]?.public_url">
                        <span class="fnt-muli fnt-600 fnt-14 text-clr588 lh-normal mb-0 text-overflow-ellipsis">
                            {{ file?.name || certificationArray[editingRowIndex]?.public_url.split('/').pop() }}
                        </span>
                        <i class="pi pi-times fnt-14 text-clr588 ml-25 cursor-pointer" (click)="onRemoveFile()"></i>
                    </div>
                    <div
                        class="file-attach-btn mr-0 mr-md-3"
                        (click)="onUpload()"
                        *ngIf="!file && !certificationArray[editingRowIndex]?.public_url"
                    >
                        <img src="assets/images/shape.svg" alt="icon" />
                        Attach
                    </div>
                    <div class="d-block d-md-flex btn-container">
                        <button
                                class="btn-raised px-4 mr-2 mt-3 mt-md-0"
                                [disabled]="isSavingCertificate"
                                (click)="onSave()"
                        >Save</button>
                        <button class="btn-stroked px-4 mt-3 mt-md-0" (click)="onCancel()" *ngIf="editingRowIndex > -1">
                            Cancel
                        </button>
                    </div>
                </div>
                <div class="d-none d-md-block mt-2 fnt-10 text-clr588 upload-description">
                    You can upload a JPG or PNG, file. Max file size limit 2MB
                </div>
            </div>
        </div>
    </div>
</ng-template>
