@import '../../../../../theme/styles/variables';

.recent ul li {
    padding: 15px 0px;
}

.list-activity p {
    color: #747588;
    font-size: 14px;
    font-weight: $fw-m;
}

@media (max-width: 767px) {
    .list-time--mobile {
        font-size: 12px !important;
        font-weight: 600 !important;
    }
}

.activity-date {
    color: $davys-grey;
    margin-bottom: 0 !important;
}

.date-separator {
    height: 1px;
    margin: 16.4px 0 14.6px;
    border-bottom: dotted 1px #eeeeee;
}

.timing {
    min-width: 63px;
}

.confirmation {
    @media all and (max-width: 767px) {
        color: $general-text-color;
    }
}

.recent-activity-list {
    border-bottom: 1px solid #d6d6d6;
    padding: 0 !important;
}

.recent-activity-list:last-child {
    border-bottom: none;
}

::ng-deep {
    .p-accordion-content {
        max-width: 350px;
    }

    .p-accordion-tab:not(.p-accordion-tab-active) {
        @media all and (max-width: 767px) {
            margin-bottom: 0.75rem !important;
        }
    }
}
