.sewn_heading {
    /* background-color: #f8f8f8; */
    padding: 2rem 7rem;
    margin-bottom: 2rem;
    background-color: white;
}

.middle_column {
    border-radius: 6px;
    /* background-color: #ffffff; */
}

.line_spacing {
    border-top: 1px dashed #f8f8f8;
}

.next-button {
    height: 46px;
    border-radius: 4px;
    background-color: #30855c;
    margin-top: 4%;
}

.next-text {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
}

.custom-control-label:before {
    border-radius: 6px;
    border: solid 1px #827a7a87;
    background-color: #ffffff;
}


/* ====STEP FORM SECTION ===== */

.form-section {
    display: none;
}

.form-section.current {
    display: inherit;
}

.btn-info,
.btn-default {
    margin-top: 10px;
}

html.codepen body {
    margin: 1em;
}

.form-nav-list {
    list-style-type: none;
}

.form-nav-list__item {
    min-width: 25%;
    max-width: 30%;
    position: relative;
}

.form-nav-list__item:last-child {
    min-width: 0 !important;
}

.form-nav-list__item::after {
    position: absolute;
    content: "";
    top: 30%;
    left: 25%;
    transform: translateY(-50%);
    width: 70%;
    height: 2px;
    z-index: 9;
    border-bottom: 1.5px dashed #d6d6d6;
}

.form-nav-list__item.succeed::after {
    background-color: #c29d7a;
}

.form-nav-list__item.succeed .step__circle:after {
    border-color: #fff;
    border-width: 0px 3px 3px 0;
    width: 7px;
    left: 11px;
    opacity: 1;
}

.form-nav-list__item .step__circle:after {
    display: block;
    position: absolute;
    content: "";
    height: 14px;
    width: 7px;
    top: -4px;
    bottom: 0;
    margin: auto 0;
    border: 1.5px solid #ffffff;
    border-width: 0px 2px 2px 0;
    transform: rotate(45deg);
    border-width: 0px 2px 2px 0;
    width: 7px;
    left: 10px;
    opacity: 0;
}

.form-nav-list__item:last-child::after {
    content: none;
    display: none;
}


/*succesed circle color */

.form-nav-list__item.succeed .step .step__circle {
    background-color: #c29d7a;
    text-indent: -200000px;
}

/*Cureent nav text color */

.form-nav-list__item.active .step .step__info {
    color: #232334;
    opacity: 1;
}

.form-nav-list__item .step {
    width: 65%;
    text-align: center;
    position: relative;
    right: 22%;
}

.form-nav-list__item .step .step__circle {
    width: 32px;
    color: #747588;
    height: 32px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid #747588;
    opacity:1;
    position: relative;
    padding: 2px 0px;
    font-size: 16px;
}

.Member-tracker-active {
    text-indent: 2000px;
    background-color: #649a2b !important;
    border: 1px solid #649a2b !important;
}

.font-title-active {
    color: #232334 !important;
    font-weight: bold;
}

.step_focus {
    border: 1px solid #747588 !important;
    opacity: 1 !important;
}

.font_focus {
    color: #232334 !important;
    font-weight: bold;
}

.form-nav-list__item .Member-tracker-active:after {
    opacity: 1;
}

.form-nav-list__item .step .step__info {
    color:#747588;
    font-size: 14px;
    font-weight: 600;
    padding-top: 3%;
}

.Successful {
    border: 1px solid gray;
    padding: 3rem;
}

.career-loader {
    height: 17px;
    width: 17px;
    margin-left: 4px;
    margin-top: -4px;
}

/*  forms inputs */

.rectangle_name {
    height: 50px !important;
    border-radius: 4px;
    border: solid 1px #d6d6d6;
    background-color: #ffffff;
    font-family: Muli;
    font-size: 14px;
    font-weight: 500;
    color: #232334 !important;
}

.role-name {
    font-size: 14px;
    font-weight: 600;
    color: #232334;
    font-family: Muli;
}

.login-butn {
    border-radius: 4px;
    background-color: #30855c;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    border: #30855c;
}

.login-butn:hover {
    background-color: #30855c;
    border: #30855c;
    box-shadow: 0 0 7px 1px rgba(67, 146, 108, 0.5);
}

.login-butn:focus {
    outline: 0;
    background-color: #30855c !important;
}

.done-btn:hover {
    background-color: #30855c;
    box-shadow: 0 0 7px 1px rgba(67, 146, 108, 0.5);
}

.role_edit {
    border-radius: 4px;
    border: solid 1px #d6d6d6;
    background-color: #ffffff;
    background: url(../../../assets/images/active.png) right 16px top 19px/10px no-repeat;
    -webkit-appearance: none;
    font-family: Muli;
    font-weight: 500;
    height: 50px !important;
    padding-top: 7px;
    cursor: pointer;
}

.form_header {
    height: 46px;
    font-family: PlayfairDisplay;
    font-size: 34px;
    text-align: center;
    color: #232334;
}

.form_para {
    height: 20px;
    font-family: Muli;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    text-align: center;
    color: #747588;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form_content {
    position: relative;
    left: 8%;
}

.btn-div {
    padding-right: 8%;
}

.prev-div {
    padding-right: 10%;
}

.text-area {
    height: 106px !important;
}

.upload-text {
    font-family: Muli;
    font-size: 14px;
    font-weight: bold;
    color: #30855c;
    padding-left: 12%;
}

.upload-btn:hover {
    text-decoration: none;
}

.upload-btn {
    padding: 8% 0%;
}

.upload-div {
    padding: 0%;
    position: relative;
    right: 2%;
}

.cert-year {
    width: 90%;
}

.add-btn {
    margin-top: 5%;
}

.profile_content-div {
    padding-top: 1rem;
}

.roaster_content-div {
    padding-top: 1rem;
}

.add-btn:hover {
    text-decoration: none;
}

.add-text {
    font-family: Muli;
    font-size: 14px;
    font-weight: bold;
    color: #30855c;
    padding-left: 8px;
}

.pic-head-text {
    font-family: Muli;
    font-size: 16px;
    font-weight: bold;
    color: #232334;
    padding-top: 1rem;
}

.profile-div {
    border-radius: 4px;
    border: solid 2px #d6d6d6;
    border-style: dashed;
    width: 84%;
}

.add-pic {
    position: absolute;
    top: 48%;
    left: 53%;
    cursor: pointer;
}

.form_para_text {
    font-family: Muli;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    color: #747588;
}

/* ==FOOTER SECTION CSS== */
.footer-que-text{
    font-family: Muli;
    font-size: 16px;
    font-weight: bold;
    color: #232334;
}
.footer-text {
    font-family: Muli;
    font-size: 14px;
    font-weight: bold;
    color: #232334;
}

.sub-text {
    font-family: Muli;
    font-size: 14px;
    line-height: 1.67;
    color: #747588;
    margin-bottom: 0%;
    font-weight: 500;
}

.admin-div {
    padding: 0% 6%;
}

.bill-div {
    padding-left: 4%;
}

hr {
    border-style: dashed !important;
    margin-top: 2rem;
    border: 0;
    border-top: 1px solid #d6d6d6;
}

.upload-text:hover,
.add-text:hover {
    text-decoration: underline;
}



.admin-mobile-div {
    display: none;
}

.star{
    color: #ff1e5a;
}

:host ::ng-deep  .ui-dialog-mask.ui-widget-overlay.ui-dialog-visible.ui-dialog-mask-scrollblocker{
    background-color: rgba(0, 0, 0, 0.8) !important;
}
.word-center{
    position: relative;
    right: 12px;
}
:host ::ng-deep .ui-dialog .ui-dialog-footer{
    border: 1px solid #fff !important;
    padding: 1.25rem 1rem !important;
  }
  :host ::ng-deep .overlay{
  outline: var(--cropper-overlay-color,#919191) solid 100vw !important;
}

/* ==== Changes ==== */

.Member-tracker-active,
.border-color::after {
    border: 0.5px dashed #649a2b;
}

.nameError,
.emailError,
.phoneNoError,
.passwordError,
.roleError,
.roasterNameError,
.roasterEmailError,
.roasterPhoneError,
.countryError,
.stateError,
.address1Error,
.address2Error,
.cityError,
.zipCodeError,
.foundedYearError,
.websiteError,
.shortDescrError,
.facebookError,
.instagramError {
    color: #d50000;
}

/* ======= MODAL ======= */

:host ::ng-deep .ui-button {
    margin: 0.5em 0.5em 0.5em 0;
    width: 140px;
}

/* ============ALERT CSS BOX=========== */

.alert {
    display: none;
}

.invalid-combination {
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    border-radius: unset;
    background-color: #d50000;
    padding: 2% 10%;
    width: fit-content;
    font-family: Muli !important;
}

.alert_box {
    position: fixed;
    top: 45%;
    z-index: 999;
    left: 77%;
}

@media screen and (max-width: 40em) {
     :host ::ng-deep .ui-dialog {
        width: 75vw !important;
    }
}

#change-pic:focus {
    outline: none;
    box-shadow: none;
}

:host ::ng-deep .ui-dialog-titlebar {
    font-family: Muli !important;
    font-size: 24px !important;
    color: #232334 !important;
    background-color: #ffffff !important;
    font-weight: bold;
}

:host ::ng-deep .ui-dialog-content {
    border-bottom-style: dashed !important;
    border-bottom-color: #d6d6d6 !important;
    height: 40% !important;
    overflow-y: unset;
    border-top: none !important;
    padding: 0 !important;
}

:host ::ng-deep .ui-dialog-titlebar-icon span {
    display: none !important;
}

:host ::ng-deep .ui-dialog-titlebar-icon::before {
    background: url(/assets/images/close.svg) !important;
    display: inline !important;
}

.close-pic {
    cursor: pointer;
    position: relative;
    top: 2px;
}

#save-pic,
#change-pic {
    font-size: 14px !important;
    font-family: Muli;
    font-weight: 600;
}

.mail-id{
    font-size: 18px;
    font-weight: bold;
    color: #232334;
}

/* ======== MEDIA QUERIES ======= */

@media screen and (max-width: 768px) {
    .profile_content-div,
    .roaster_content_div {
        margin-left: 7%;
    }
    .add-pic {
        top: 42%;
        left: 90%;
    }
    .add-btn {
        padding: 0%;
    }
    .success-mail {
        margin: 0% 15% !important;
    }
    .sewn_heading {
        padding: 2rem 4rem;
    }
    .profile-div {
        width: 90%;
    }
    .profile-img-div {
        padding-left: 0%;
    }
    .rectangle_name {
        font-size: 14px;
    }
    .form-nav-list__item {
        position: relative;
        left: 4%;
    }
    .form-nav-list__item .step {
        width: 83%;
        text-align: center;
        position: relative;
        right: 31%;
    }
    .done-btn {
        padding: 0% 10% !important;
        margin-top: 8% !important;
    }
    /* =====Alert box css =========== */
    .alert,
    .alert_box {
        display: none;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .add-pic {
        left: 73%;
    }
    .profile-pic {
        padding-left: 1% !important;
    }
    .success-mail {
        margin: 0% 25% !important;
    }
    .sewn_heading {
        padding: 2rem 5rem;
    }
}

@media screen and (max-width: 425px) {
    .login-butn{
        width: 100%;
        height: 46px;
    }
    .cancel-butn{
        width: 100%;
        height: 46px;
    }
    .form_content{
        left: 0%;
    }
    .container {
        padding-right: 0px;
        padding-left: 0px;
        margin-right: none;
        margin-left: none;
    }
    .signup-fill-tracker {
        padding-top: 1rem;
        margin-top: 0% !important;
        margin-bottom: 0% !important;
    }
    .profile-div {
       margin-left: 0rem;
        border: none;
        width: 100%;
    }
    .roaster-profile {
        position: relative !important;
        margin-left: 33% !important;
    }
    .add-pic {
        left: 57%;
        top: 66%;
    }
    .profile_content-div {
        margin-left: 0%;
    }
    .roaster_content_div {
        margin-left: 0%;
    }
    .profile-img-div{
        margin: 0% !important;
    }
    .form_para_text {
        text-align: center;
    }
    .form-group {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .done-btn {
        margin-top: 20% !important;
        width: 100% !important;
    }
    .form_para {
        margin: 0% !important;
        font-size: 14px;
    }
    .form_header {
        font-family: Muli !important;
        font-size: 16px;
        font-weight: bold;
        padding-top: 1rem;
    }
    .profile-pic {
        margin-left: 33% !important;
    }
   .step_focus{
    border: 1px solid #55912d !important;
    color: #55912d !important;
   }
    .sewn_heading {
        padding: 2rem 2rem;
        text-align: center;
    }
    #upload-btn {
        padding: 0%;
    }
    #add-btn {
        margin-top: 0%;
        padding: 0%;
    }
    .step__info {
        display: none !important;
    }
    .form-nav-list__item::after {
        position: absolute;
        top: 50%;
        width: 45%;
        left: 32%;
    }
    .Member-tracker-active,
    .border-color::after {
        background-color: #649a2b !important;
        border: 1px solid #649a2b;
    }
    .form-nav-list__item .step .step__circle {
        color: #747588;
        background-color: #ffffff;
        border: 1px solid #747588;
    }
    .form-nav-list__item .step {
        position: relative;
        right: 36%;
    }
    .pic-head-text {
        text-align: center;
    }
    .mail-box {
        margin-top: 15% !important;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .add-btn {
       
        width: 100%;
    }
    .add-text {
        padding-left: 5px;
    }
   .mail-id{
       font-size: 16px;
   }
    .successful-text {
        font-family: PlayfairDisplay !important;
        font-size: 32px !important;
        color: #232334 !important;
        margin-bottom: 4% !important;
        font-weight: normal !important;
    }
    .footer-text {
        padding-right: 10%;
    }
    #pwd_strength_wrap {
        width: 88% !important;
    }
    .admin-div,
    .bill-div {
        display: none;
    }
    .admin-mobile-div {
        display: block;
    }
  
.desk-view{
    display: none;
}
    .mob-view{
        display: block !important;
    }
    .show_modal{
        right: 9%;
    position: relative;
    top: 14%;
    }
}

@media screen and (max-width: 1024px) {
    .alert_box {
        left: 70% !important;
    }
}
.mob-view{
    display: none;
}
.profile-pic {
    height: 100px !important;
    width: 100px !important;
    border-radius: 100% !important;
}

.roaster-profile {
    height: 90px !important;
    width: 90px !important;
    border-radius: 100% !important;
}