.sewn_heading {
    background-color: #f3efe8;
    padding: 2rem 7rem;
}

.first_column {
    background-color: #f3efe8;
}

.last_column {
    background-color: #f3efe8;
}

.middle_column {
    border-radius: 6px;
    background-color: #ffffff;
}

.line_spacing {
    border-top: 1px dashed #f3efe8;
}

.next-button {
    height: 46px;
    border-radius: 6px;
    background-color: #3d8462;
    margin-top: 4%;
}

.next-text {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
}

.custom-control-label:before {
    border-radius: 6px;
    border: solid 1px #827a7a87;
    background-color: #ffffff;
}


/* ====STEP FORM SECTION ===== */

.form-section {
    display: none;
}

.form-section.current {
    display: inherit;
}

.btn-info,
.btn-default {
    margin-top: 10px;
}

html.codepen body {
    margin: 1em;
}

.form-nav-list {
    list-style-type: none;
}

.form-nav-list__item {
    min-width: 25%;
    max-width: 30%;
    position: relative;
}

.form-nav-list__item:last-child {
    min-width: 0 !important;
}

.form-nav-list__item::after {
    position: absolute;
    content: "";
    top: 30%;
    left: 25%;
    transform: translateY(-50%);
    width: 70%;
    height: 1px;
    z-index: 9;
    border-bottom: 1px dashed;
}

.form-nav-list__item.succeed::after {
    background-color: #c29d7a;
}

.form-nav-list__item.succeed .step__circle:after {
    border-color: #fff;
    border-width: 0px 3px 3px 0;
    width: 7px;
    left: 11px;
    opacity: 1;
}

.form-nav-list__item .step__circle:after {
    display: block;
    position: absolute;
    content: '';
    height: 14px;
    width: 7px;
    top: -4px;
    bottom: 0;
    left: 5px;
    margin: auto 0;
    border: 0px solid #AFAFAF;
    border-width: 0px 2px 2px 0;
    transform: rotate(45deg);
    border-color: #fff;
    border-width: 0px 2px 2px 0;
    width: 7px;
    left: 9px;
    opacity: 0;
}

.form-nav-list__item:last-child::after {
    content: none;
    display: none;
}


/*succesed circle color */

.form-nav-list__item.succeed .step .step__circle {
    background-color: #c29d7a;
    text-indent: -200000px;
}


/*succesed circle color */


/*Cureent nav text color */

.form-nav-list__item.active .step .step__info {
    color: black;
    opacity: 1;
}

.form-nav-list__item .step {
    width: 65%;
    text-align: center;
    position: relative;
    right: 22%;
}

.form-nav-list__item .step .step__circle {
    width: 25px;
    color: #bb8e5f;
    height: 25px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid #a88057;
    position: relative;
    padding: 1px 0px;
}

.Member-tracker-active {
    text-indent: 2000px;
    background-color: #3D8462 !important;
}

.font-title-active {
    color: #3d8462 !important;
    font-weight: 500;
}

.step_focus {
    border: 1px solid #a88057 !important;
}

.font_focus {
    color: #a88057!important;
    font-weight: 500;
}

.form-nav-list__item .Member-tracker-active:after {
    opacity: 1;
}

.form-nav-list__item .step .step__info {
    color: gray;
    opacity: .7;
    font-size: 12px;
}

.Successful {
    border: 1px solid gray;
    padding: 3rem;
}


/*  forms inputs */

select.role {
    cursor: not-allowed;
}

.rectangle_name {
    height: 50px !important;
    border-radius: 8px;
    border: solid 1px #cccccc;
    background-color: #ffffff;
    font-family: Muli;
    font-size: 14px;
    font-weight: 500;
    color: #000000;
}

.role-name {
    font-size: 11px;
    font-weight: 600;
    color: #666666;
    font-family: Muli;
}

.login-butn {
    border-radius: 8px;
    background-color: #3d8462;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    border: #3d8462;
}

.login-butn:hover {
    background-color: #3d8462;
    border: #3d8462;
    box-shadow: 0 0 7px 1px rgba(67, 146, 108, 0.5);
}

.login-butn:focus {
    outline: 0;
    background-color: #3d8462 !important;
}

.done-btn:hover {
    background-color: #3d8462;
    box-shadow: 0 0 7px 1px rgba(67, 146, 108, 0.5);
}

.role_edit {
    border-radius: 8px;
    border: solid 1px #cccccc;
    background-color: #ffffff;
    background: url(../../../assets/images/active.png) right 16px top 19px/10px no-repeat;
    -webkit-appearance: none;
    font-family: Muli;
    font-weight: 500;
    height: 50px !important;
    padding-top: 7px;
    cursor: pointer;
}

.form_header {
    height: 46px;
    font-family: PlayfairDisplay;
    font-size: 34px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.form_para {
    height: 20px;
    font-family: Muli;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #666666;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.previous {
    border-radius: 8px;
    background-color: #ffffff;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    color: #3d8462;
    border: #ffffff;
}

.success-mail {
    margin: 0 30%;
}

.mail-box {
    margin-top: 8%;
    margin-bottom: 15%;
}

.done-btn {
    height: 50px;
    border-radius: 6px;
    background-color: #3d8462;
    padding: 0% 10%;
    margin-top: 8%;
}

.done-text {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.form_content {
    position: relative;
    left: 8%;
}

.btn-div {
    padding-right: 8%;
}

.prev-div {
    padding-right: 10%;
}

.text-area {
    height: 106px!important;
}

.upload-text {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #3d8462;
    padding-left: 12%;
}

.upload-btn:hover {
    text-decoration: none;
}

.upload-btn {
    padding: 8% 0%;
}

.upload-div {
    padding: 0%;
    position: relative;
    right: 2%;
}

.cert-year {
    width: 90%;
}

.add-btn:hover {
    text-decoration: none;
}

.add-text {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #3d8462;
    padding-left: 8%;
}

.pic-head-text {
    font-family: Muli;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    padding-top: 2rem;
}

.profile-div {
    border-radius: 6px;
    border: solid 1px #bbbbbb;
    border-style: dashed;
    width: 84%;
    padding-left: 8%;
}

.add-pic {
    position: absolute;
    top: 34%;
    left: 48%;
    cursor: pointer;
}


/* ==FOOTER SECTION CSS== */

.footer-text {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.sub-text {
    font-family: Muli;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: #000000;
    margin-bottom: 0%;
}

.admin-div {
    padding: 0% 6%;
}

.bill-div {
    padding-left: 4%;
}

hr {
    border-style: dashed !important;
    margin-top: 2rem;
    border: 0;
    border-top: 1px solid #f2efeb;
}

.previous:hover,
.upload-text:hover,
.add-text:hover {
    text-decoration: underline;
}

.confirm-header {
    display: none;
}

.admin-mobile-div {
    display: none;
}


/* ==== Changes ==== */

.Member-tracker-active,
.border-color::after {
    /* background-color: #c29d7a !important; */
    border: 1px dashed #c29d7a;
}

.nameError,
.emailError,
.phoneNoError,
.passwordError,
.roleError,
.roasterNameError,
.roasterEmailError,
.roasterPhoneError,
.countryError,
.stateError,
.address1Error,
.address2Error,
.cityError,
.zipCodeError,
.foundedYearError,
.websiteError,
.shortDescrError,
.facebookError,
.instagramError {
    color: #FD4545;
}


/* ======= MODAL ======= */

 :host ::ng-deep .ui-button {
    margin: .5em .5em .5em 0;
    width: 140px;
}

@media screen and (max-width: 40em) {
     :host ::ng-deep .ui-dialog {
        width: 75vw !important;
    }
}

#change-pic:focus {
    outline: none;
    box-shadow: none;
}

 :host ::ng-deep .ui-dialog-titlebar {
    font-family: Muli !important;
    font-size: 16px !important;
    color: #000000 !important;
    background-color: #ffffff !important;
    font-weight: 900;
    font-style: bold;
}

 :host ::ng-deep .ui-dialog-content {
    border-bottom-style: dashed !important;
    border-bottom-color: #f2efeb!important;
    height: 40% !important;
}

 :host ::ng-deep .ui-dialog-titlebar-icon span {
    display: none !important;
}

 :host ::ng-deep .ui-dialog-titlebar-icon::before {
    background: url(/assets/images/close-icon.png) !important;
    display: inline !important;
}

.close-pic {
    cursor: pointer;
}

#save-pic,
#change-pic {
    font-size: 12px;
    font-family: Muli;
    font-weight: 600;
}


/* ======== MEDIA QUERIES ======= */

@media screen and (max-width:768px) {
    .add-pic {
        top: 31%;
        left: 47%;
    }
    .profile-pic {
        padding-left: 1%;
    }
    .add-btn {
        margin-top: 5%;
    }
    .success-mail {
        margin: 0% 20%;
    }
    .sewn_heading {
        padding: 2rem 4rem;
    }
    .profile-div {
        padding-left: 5%;
    }
    .rectangle_name {
        font-size: 12px;
    }
    .form-nav-list__item {
        position: relative;
        left: 4%;
    }
    .form-nav-list__item .step {
        width: 83%;
        text-align: center;
        position: relative;
        right: 31%;
    }
}

@media screen and (min-width:1024px) and (max-width:1200px) {
    .add-pic {
        left: 48%;
    }
    .profile-pic {
        padding-left: 1%;
    }
    .success-mail {
        margin: 0% 25%;
    }
    .sewn_heading {
        padding: 2rem 5rem;
    }
}

@media screen and (max-width:425px) {
    .container {
        padding-right: 0px;
        padding-left: 0px;
        margin-right: none;
        margin-left: none;
    }
    .signup-fill-tracker {
        border-bottom: 1px solid #faf8f4;
        background-color: #faf8f4;
        padding-top: 1rem;
        margin-top: 0% !important;
        margin-bottom: 0% !important;
    }
    .profile-div {
        padding-left: 0%;
        width: 90%;
        border: none;
    }
    .roaster-profile {
        position: relative;
        left: 1%;
    }
    .add-pic {
        left: 46%;
        top: 30%;
    }
    .add-btn {
        margin-top: 15%;
    }
    .form-control {
        width: 88%;
    }
    .form-group {
        padding-left: 0%;
    }
    .done-btn {
        margin-top: 20%;
        width: 100%;
    }
    .form_para {
        margin: 0%;
        font-size: 12px;
    }
    .form_header {
        height: 19px;
        font-family: Muli;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        color: #87623b;
        margin-top: 2rem;
    }
    .profile-pic {
        padding-left: 2%;
    }
    .profile-img-div {
        margin: 0rem !important;
        padding-left: 10px;
    }
    .sewn_heading {
        padding: 2rem 2rem;
        text-align: center;
    }
    #upload-btn {
        padding: 0%;
    }
    #add-btn {
        margin-top: 0%;
        padding: 0%;
    }
    .step__info {
        display: none !important;
    }
    .form-nav-list__item::after {
        position: absolute;
        top: 50%;
        border: 1px solid;
        width: 60%;
    }
    .Member-tracker-active,
    .border-color::after {
        background-color: #c29d7a !important;
        border: 1px solid #c29d7a;
    }
    .form-nav-list__item .step .step__circle {
        color: #bb8e5f;
        background-color: #ffffff;
        border: 1px solid #a88057;
    }
    .form-nav-list__item .step {
        position: relative;
        right: 36%;
    }
    .pic-head-text {
        font-family: Muli;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
        padding-top: 2rem;
    }
    .mail-box {
        margin-top: 20%;
    }
    .add-btn {
        border: 1px solid #3d8462;
        border-radius: 8px;
        width: 100%;
        height: 46px;
    }
    .add-text {
        padding-left: 5%;
    }
    .confirm-header {
        display: block!important;
    }
    .successful-text {
        font-family: PlayfairDisplay;
        font-style: normal;
        font-size: 26px;
        color: #000000;
        margin-bottom: 8%;
        font-weight: normal;
    }
    .footer-text {
        padding-right: 10%;
    }
    #pwd_strength_wrap {
        width: 88%!important;
    }
    .admin-div,
    .bill-div {
        display: none;
    }
    .admin-mobile-div {
        display: block;
    }
}


/* ======image css====== */

.profile-pic {
    height: 100px;
    width: 100px;
    border-radius: 100%;
}

.roaster-profile {
    height: 100px;
    width: 100px;
    border-radius: 100%;
}