<section class="estate-orders">

    <!-- <div class="row mb-4">
<div class="d-inline col-sm-12 search-div">
<input type="text" name="search" class="col-12 col-md-4 search" [(ngModel)]="estateterm" placeholder="Search by Name,role..">
</div>
</div> -->
    <div class="row web-farm">
        <div class="d-inline table-w pt-2 agre-index-z">
            <div class="title-header d-inline web">
                <div class="hover-filters d-inline-block">
                    <div class="d-inline border-order role-div col-sm-6" id="origin_id">
                        <!-- <p class="d-inline">Role:</p><p class="d-inline filter"> All&nbsp;  <a data-toggle="popover-roles" data-placement="bottom"><img src="assets/images/active.png"></a></p> -->
                        <p class="d-inline filter-text" *ngIf="estatetermOrigin == ''">Select customer&nbsp;</p>
                        <a class="pointer-item" [popover]="originTemplate" placement="bottom" container="body" #pop4="bs-popover">
                            <p class="d-inline filter" *ngIf="estatetermOrigin == ''" (click)="toggleOrigin()">
                                &nbsp; <img src="{{ showOrigin ? 'assets/images/down-arrow.svg' : 'assets/images/user-down.svg'}}" />
                            </p>
                        </a>
                        <a class="pointer-item" [popover]="originTemplate" placement="bottom" container="body" #pop5="bs-popover">
                            <p class="d-inline filter" *ngIf="estatetermOrigin != ''" (click)="toggleOrigin()">
                                {{ estatetermOrigin }} &nbsp;<img src="{{ showOrigin ? 'assets/images/down-arrow.svg' : 'assets/images/user-down.svg'}}" />
                            </p>
                        </a>
                    </div>
                </div>

                <div class="d-inline display_div">
                    <div class="float-right upload-order top-space" data-toggle="modal" data-target="#uploadfolder">
                        <label class="share-bor">  <img class="dwnd-img" src="assets/images/upload-icon.png" alt="upload-icon">  <span class="share-txt"> {{globals.languageJson?.upload}} </span> </label>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row mobile-farm">
        <div class="title-header  d-inline">
            <div class="d-inline border-order top-padd col-sm-6" id="orgin-mob-id">
                <p class="d-inline filter-text" *ngIf="customerMob == ''">Select customer&nbsp;</p>
                <a class="pointer-item" [popover]="templateMob" placement="bottom" container="body" #pop9="bs-popover">
                    <p class="d-inline filter" *ngIf="customerMob == ''" (click)="toggleCustomerMob()">
                        &nbsp; <img src="{{ showCustomerMob ? 'assets/images/down-arrow.svg' : 'assets/images/user-down.svg'}}" />
                    </p>
                </a>
                <a class="pointer-item" [popover]="templateMob" placement="bottom" container="body" #pop10="bs-popover">
                    <p class="d-inline filter" *ngIf="customerMob != ''" (click)="toggleCustomerMob()">
                        {{ customerMob }} &nbsp;<img src="{{ showCustomerMob ? 'assets/images/down-arrow.svg' : 'assets/images/user-down.svg'}}" />
                    </p>
                </a>
            </div>

            <div class="d-inline display_div">
                <div class="float-right upload-order top-space" data-toggle="modal" data-target="#uploadfolder">
                    <label class="share-bor">  <img class="dwnd-img" src="assets/images/upload-icon.png" alt="upload-icon">  <span class="share-txt"> Upload </span> </label>
                </div>
            </div>
        </div>
    </div>

    <div class="estate-table pt-2 web-farm">
        <!-- <table class="estate-boby-txt " datatable [dtOptions]="dtOptions">

</table> -->

        <div class="table-responsive border-lots">
            <table class="table">
                <thead class="table-header">
                    <tr class="header-row">
                        <th>
                            <label class="customcheckbox m-b-20">
                        <input type="checkbox" id="mainCheckbox"  [checked]="isAllChecked()"
                        (change)="checkAll($event)"/>
                        <span class="checkmark head-check"></span>
                    </label>
                        </th>
                        <th>{{globals.languageJson?.files}}</th>

                        <th scope="col">{{globals.languageJson?.added_on}}</th>
                        <th scope="col">{{globals.languageJson?.customer_name}}</th>
                        <th scope="col">{{globals.languageJson?.origin}}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="customtable">
                    <tr class="ticket-boby-txt" *ngFor="let item of mainData | filter:searchTerm | filter : estatetermOrigin">
                        <td>
                            <label class="customcheckbox">
                        <input type="checkbox" class="listCheckbox"  name="sizecb[]" value="{{item.id}}" [(ngModel)]="item.state"/>
                        <span class="checkmark head-check"></span>
                    </label>
                        </td>
                        <td>
                            <!-- <span *ngIf="item.type=='Folder'"><img class="dwnd-img pr-2" src="assets/images/file-fld.png" alt="upload-icon"> {{ item.files }}</span> -->
                            <span><img class="file-icon pr-2" src="assets/images/pdf-img.PNG" alt="upload-icon"> {{ item.file_name }}</span>
                            <!-- <span *ngIf="item.type=='CSV'"><img class="dwnd-img pr-2" src="assets/images/file-floder.png" alt="upload-icon"> {{ item.files }}</span>
                    <span *ngIf="item.type=='mp4'"><img class="dwnd-img pr-2" src="assets/images/file-video.png" alt="upload-icon">{{ item.files }}</span> -->
                        </td>
                        <td>{{ item.created_at | date : 'M/d/yy, h:mm a' }}
                        </td>
                        <td>{{item.customer_name}}</td>
                        <td>{{ getCountryName(item.origin)}}</td>
                        <td>
                            <a class="menu-arrow" [popover]="poplistTemplate" placement="left" [outsideClick]="true" #pop="bs-popover">
                                <p><img class="ellipse-image" src="assets/images/more-opns-file.png" alt=""></p>
                            </a>
                            <ng-template #poplistTemplate id="{{item.id}}">
                                <div id="popover-mobile-content">
                                    <ul class="list-group custom-popover">
                                        <li class="list-group-item"><a class="pointer-item" (click)="pop.hide();openFileModal(updateAgreementTemplate,item.id)">{{globals.languageJson?.update}}</a></li>
                                        <li class="list-group-item"><a class="pointer-item" (click)="pop.hide(); openDeleteModal(deleteTemplate,item.id)">{{globals.languageJson?.delete}}</a></li>
                                    </ul>
                                </div>
                            </ng-template>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="estate-table pt-md-2 mobile-farm">
        <div class="table-details mobile-farm">
            <div class="table-responsive border-sourcetable agreement-top">

                <div class="col-12 bor-d6d6" *ngFor="let data of mainData | filter:customerMob">
                    <div class="row pt-4">
                        <div class="col-2"> <img class="" src="assets/images/pdf-img.PNG" alt="upload-icon"></div>
                        <div class="col-10 mobile-ce">
                            <p class="black fnt-14">{{data.file_name}}</p>
                            <p class="fnt-12 light-eight"> Added on {{ data.created_at | date : 'M/d/yy, h:mm a' }}</p>
                            <p class="fnt-12 light-eight">{{data.customer_name}}</p>
                            <p class="fnt-12 light-eight"> {{getCountryName(data.origin)}}</p>
                        </div>
                    </div>
                </div>

                <!-- <div class="col-12 bor-d6d6">
        <div class="row pt-4">
            <div class="col-2"> <img class="" src="assets/images/pdf-img.PNG" alt="upload-icon"></div>
            <div class="col-10 mobile-ce">
                <p class="black fnt-14"> Candela agreement pap</p>
                <p class="fnt-12 light-eight">#221669</p>
                <p class="fnt-12 light-eight"> Added on 18/12/2019</p>
                <p class="fnt-12 light-eight"> Gothenburg</p>
                <p class="fnt-12 light-eight"> Candela</p>
            </div>
        </div>
    </div>
    <div class="col-12 bor-d6d6">
        <div class="row pt-4">
            <div class="col-2"> <img class="" src="assets/images/pdf-img.PNG" alt="upload-icon"></div>
            <div class="col-10 mobile-ce">
                <p class="black fnt-14"> Finca Nápoles agreement</p>
                <p class="fnt-12 light-eight">#879082</p>
                <p class="fnt-12 light-eight"> Added on 01/20/2019</p>
                <p class="fnt-12 light-eight"> Finca Nápoles</p>
                <p class="fnt-12 light-eight"> Stockholm</p>
            </div>
        </div>
    </div>

    <div class="col-12 bor-d6d6">
        <div class="row pt-4">
            <div class="col-2"> <img class="" src="assets/images/pdf-img.PNG" alt="upload-icon"></div>
            <div class="col-10 mobile-ce">
                <p class="black fnt-14"> Santa Rosa agreement</p>
                <p class="fnt-12 light-eight">#127908</p>
                <p class="fnt-12 light-eight"> Added on 24/01/2020</p>
                <p class="fnt-12 light-eight">Santa Rosa</p>
                <p class="fnt-12 light-eight"> Karlstad</p>
            </div>
        </div>
    </div>

    <div class="col-12 bor-d6d6">
        <div class="row pt-4">
            <div class="col-2"> <img class="" src="assets/images/pdf-img.PNG" alt="upload-icon"></div>
            <div class="col-10 mobile-ce">
                <p class="black fnt-14"> The Steam Hotel agreeme…</p>
                <p class="fnt-12 light-eight">#129979</p>
                <p class="fnt-12 light-eight"> Added on 24/09/2019</p>
                <p class="fnt-12 light-eight"> The Steam Hotel</p>
                <p class="fnt-12 light-eight"> Västerås</p>
            </div>
        </div>
    </div>

    <div class="col-12 bor-d6d6">
        <div class="row pt-4">
            <div class="col-2"> <img class="" src="assets/images/pdf-img.PNG" alt="upload-icon"></div>
            <div class="col-10 mobile-ce">
                <p class="black fnt-14"> The Steam Hotel agreeme…</p>
                <p class="fnt-12 light-eight">#129979</p>
                <p class="fnt-12 light-eight"> Added on 24/09/2019</p>
                <p class="fnt-12 light-eight"> The Steam Hotel</p>
                <p class="fnt-12 light-eight"> Västerås</p>
            </div>
        </div>
    </div>-->

            </div>

        </div>
    </div>

</section>

<ng-template #originTemplate>
    <div id="status-content">
        <ul class="list-group custom-popover">
            <li class="list-group-item item-color">
                <a class="pointer-item" (click)="setOrigin(''); pop4.hide(); pop5.hide();toggleOrigin()">All</a>
            </li>
            <li class="list-group-item item-color" *ngFor="let customer of newList">
                <a class="pointer-item" (click)="setOrigin(customer.name); pop4.hide(); pop5.hide();toggleOrigin()">{{customer.name}}</a>
            </li>
            <!-- <li class="list-group-item item-color">
                <a class="pointer-item" (click)="setOrigin('Candela'); pop4.hide(); pop5.hide();toggleOrigin()">Candela</a>
            </li>
            <li class="list-group-item item-color">
                <a class="pointer-item" (click)="setOrigin('Finca Nápoles'); pop4.hide(); pop5.hide();toggleOrigin()">Finca Nápoles</a>
            </li>
            <li class="list-group-item item-color">
                <a class="pointer-item" (click)="setOrigin('Santa Rosa'); pop4.hide(); pop5.hide();toggleOrigin()">Santa Rosa</a>
            </li>
            <li class="list-group-item item-color">
                <a class="pointer-item" (click)="setOrigin('Hacienda Sonora'); pop4.hide(); pop5.hide();toggleOrigin()">Hacienda Sonora</a>
            </li> -->

        </ul>
    </div>
</ng-template>



<ng-template #templateMob>
    <div id="status-content">
        <ul class="list-group custom-popover">
            <li class="list-group-item item-color">
                <a class="pointer-item" (click)="setUser(''); pop9.hide(); pop10.hide();toggleCustomerMob()">All</a>
            </li>
            <li class="list-group-item item-color" *ngFor="let customer of newList">
                <a class="pointer-item" (click)="setUser(customer.name); pop9.hide(); pop10.hide();toggleCustomerMob()">{{customer.name}}</a>
            </li>
            <!-- <li class="list-group-item item-color">
                <a class="pointer-item" (click)="setUser('Candela'); pop9.hide(); pop10.hide();toggleCustomerMob()">Candela</a>
            </li>
            <li class="list-group-item item-color">
                <a class="pointer-item" (click)="setUser('Finca Nápoles'); pop9.hide(); pop10.hide();toggleCustomerMob()">Finca Nápoles</a>
            </li>
            <li class="list-group-item item-color">
                <a class="pointer-item" (click)="setUser('Santa Rosa'); pop9.hide(); pop10.hide();toggleCustomerMob()">Santa Rosa</a>
            </li>
            <li class="list-group-item item-color">
                <a class="pointer-item" (click)="setUser('Hacienda Sonora'); pop9.hide(); pop10.hide();toggleCustomerMob()">Hacienda Sonora</a>
            </li> -->

        </ul>
    </div>
</ng-template>


<div class="modal fade" id="uploadfolder" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fnt-18 fnt-muli fnt-700 text-black2424 mb-0">{{globals.languageJson?.upload_new_agreement}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="">
                    <form>

                        <div class="invite-to">

                            <div class="roastery-fields mb-3 mb-lg-4">
                                <h4 class="fnt-16 fnt-700 fnt-muli text-black334 mb-0">{{globals.languageJson?.select_customer}} <span class="star-mark">*</span></h4>
                                <!-- <span class="d-block fnt-14 fnt-500 text-gray588 fnt-muli text-black334 mb-1">Linking
                                your files to the order helps you and your custoemrs to find files faster</span>

                            <a class="d-inline-flex mt-2 view-order-file align-items-center share-bor">
                                <img src='assets/images/view.png'>
                                <span class="d-inline-block ml-2 fnt-14 fnt-500 fnt-muli text-black334">View
                                    orders</span>
                            </a> -->
                                <select [(ngModel)]="customer_id" class="customer px-2" name="customer" id="customer">
                                <option value="">Please select customer</option>
                                <option *ngFor="let horeca of newList"   value="{{horeca.id}}">{{horeca.name}}</option>
                                <!-- <option value="2">Vijay</option>
                                <option value="3">Sindhuja</option>
                                <option value="4">Dinesh</option> -->
                            </select>
                                <div class="customerIdError" *ngIf="customerIdError != ''">
                                    {{ customerIdError }}
                                </div>
                                <!-- <div class="mt-4">
                                <label class="customcheckbox">
                                            <input type="checkbox" class="listCheckbox"  name="notify" value="" [(ngModel)]="notify"/>
                                            <span class="checkmark head-check"></span>
                                        </label><span class="notify-text">{{globals.languageJson?.notify_customer}}</span>
                                        
                            </div> -->
                            </div>

                            <div class="roastery-fields mb-0">
                                <div class="farm-input col-12 col-md-8 px-0">
                                    <h4 class="fnt-16 fnt-700 fnt-muli text-black334 mb-0">{{globals.languageJson?.upload}}</h4>
                                    <span class="d-block fnt-14 fnt-500 text-gray588 fnt-muli text-black334 mb-1">{{globals.languageJson?.please_upload_document}}</span>
                                    <label class="share-bor w-30 d-inline-block">  <input class="file-inpt" accept="application/pdf" type="file"  (change)="uploadFile($event)"><img class="dwnd-img" src="assets/images/upload-icon.png" alt="upload-icon">  <span class="share-txt"> {{globals.languageJson?.upload}} </span> </label>
                                    <span class="value-name pl-3">{{ fileNameValue }}</span>
                                </div>

                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary create-share fnt-14 fnt-700 fnt-muli" (click)="uploadAgreement()" [disabled]="resetButtonValue==='Uploading'">
                    {{resetButtonValue}}<img class="loader" *ngIf="resetButtonValue==='Uploading'" src="assets/images/orange-loader.gif"/>
            </button>
            </div>
        </div>
    </div>
</div>



<ng-template #updateAgreementTemplate>
    <div class="p-3">
        <div class="modal-header">
            <h5 class="modal-title fnt-18 fnt-muli fnt-700 text-black2424 mb-0">{{globals.languageJson?.update}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="">
                <form>
                    <div class="invite-to">

                        <div class="roastery-fields mb-3 mb-lg-4">
                            <h4 class="fnt-16 fnt-700 fnt-muli text-black334 mb-0">{{globals.languageJson?.select_customer}} <span class="star-mark">*</span></h4>
                            <!-- <span class="d-block fnt-14 fnt-500 text-gray588 fnt-muli text-black334 mb-1">Linking
                                your files to the order helps you and your custoemrs to find files faster</span>

                            <a class="d-inline-flex mt-2 view-order-file align-items-center share-bor">
                                <img src='assets/images/view.png'>
                                <span class="d-inline-block ml-2 fnt-14 fnt-500 fnt-muli text-black334">View
                                    orders</span>
                            </a> -->
                            <select [(ngModel)]="customer_id_value" class="customer px-2" name="customer" id="customer_id_value" disabled>
                                <option value="">Please select customer</option>
                                <option *ngFor="let horeca of newList"   value="{{horeca.id}}">{{horeca.name}}</option>
                                <!-- <option value="2">Vijay</option>
                                <option value="3">Sindhuja</option>
                                <option value="4">Dinesh</option> -->
                            </select>
                            <div class="customerIdError" *ngIf="customerIdError != ''">
                                {{ customerIdError }}
                            </div>
                            <!-- <div class="mt-4">
                                <label class="customcheckbox">
                                            <input type="checkbox" class="listCheckbox"  name="notify" value="" [(ngModel)]="notify"/>
                                            <span class="checkmark head-check"></span>
                                        </label><span class="notify-text">{{globals.languageJson?.notify_customer}}</span>
                                        
                            </div> -->
                        </div>

                        <div class="roastery-fields mb-0">
                            <div class="farm-input col-12 col-md-8 px-0">
                                <h4 class="fnt-16 fnt-700 fnt-muli text-black334 mb-0">{{globals.languageJson?.upload}}</h4>
                                <span class="d-block fnt-14 fnt-500 text-gray588 fnt-muli text-black334 mb-1">{{globals.languageJson?.please_upload_document}}</span>
                                <label class="share-bor  d-inline-block">  <input class="file-inpt" accept="application/pdf" type="file"  (change)="reUploadFile($event)"><img class="dwnd-img" src="assets/images/upload-icon.png" alt="upload-icon">  <span class="share-txt"> {{globals.languageJson?.upload}} </span> </label>
                                <span class="value-name pl-3">{{ re_fileNameValue }}</span>
                            </div>

                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary create-share fnt-14 fnt-700 fnt-muli" (click)="updateAgreement()" [disabled]="updateValue==='Uploading'">
                    {{updateValue}}<img class="loader" *ngIf="updateValue==='Uploading'" src="assets/images/orange-loader.gif"/>
            </button>
            </div>
        </div>
    </div>

</ng-template>


<ng-template #deleteTemplate>
    <div class="modal-body mt-5 mb-5 text-center fnt-muli">
        <div><img src="assets/images/delete-role.svg" alt=""></div>
        <!-- <div class="fnt-play fnt-24 fnt-bold oh__text mt-2">Oh noh :(</div> -->
        <div class="fnt-muli fnt-18 fnt-normal delete__text mt-2 pb-3">You sure you really want to delete this?</div>
        <div class="mt-4">
            <button class="cancel-btn" (click)="modalRef.hide();">{{globals.languageJson?.cancel}}</button>
            <button class="btn delete-btn ml-3" (click)="modalRef.hide();deleteAgreement(deleteAgreementId)">{{globals.languageJson?.delete}}</button>
        </div>
    </div>
</ng-template>