.page-breadcrumb {
    background-color: #FFFFFF;
    margin: 1% 0.5% 0 1%;
}

.breadcrumb-item a {
    color: #666666;
}

.breadcrumb-item.active {
    color: #000;
}

a.b-cum:hover {
    color: #232334;
    text-decoration: underline;
    font-weight: bold;
}

.page-wrapper {
    background-color: #FFFFFF;
}

.header-value{
    font-family: Muli;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #232334;
    padding-left: 2%;
    word-break: keep-all;
}

.sub-text{
    font-family: Muli;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #747588;
    padding-left: 2%;
}
.sub-header{
    font-family: Muli;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #232334;
    padding: 5% 0 0% 1%;
}

.privacy-content-list{
    padding: 2% 1% ;
}

/* .cookies-content:last-child{
    border-bottom: none;
} */

.mobile-view{
    display: none;
}

@media screen and (max-width : 425px){
    .sub-header{
        font-size: 16px;
    }
    .sub-text{
        font-size: 14px;
        font-weight: 600;
    }
    .text-data{
        font-size: 14px;
    }
    .border-clr{
        border: none !important;
        padding: 0rem !important;
        margin: 0rem !important;
    }
    .desk-view{
        display: none ;
    }
    .mobile-view{
        display: block;
        padding: 1rem 1rem 0rem;
    }

    .back-ticket {
    font-family: Muli;
    font-size: 16px;
    font-weight: 600;
    color: #80460b;
    cursor: pointer;
}
.mob-header-view{
    padding-left: 0% !important;
    padding-right: 0rem !important;
    border-bottom: 1.5px dashed #d6d6d6;
    padding-bottom: 1rem;
}
.accordion{
    padding-left: 0% !important;
    padding-right: 0rem !important;
    padding-bottom: 2rem !important;
}
.create-role-btn{
    width: 100% !important;
}
}

.farm-stricky {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: 99;
    background-color: #fff;
    padding: 10px 30px;
}

.breadcrumb1 {
    padding: 2rem 2rem 0rem 2rem;
}
.border-clr {
    border-radius: 0px;
    border: solid 1px #ebebeb;
    padding: 1rem 1rem 2.5rem 1rem;
    margin: .5rem;
}
.raise-ticket {
    padding-right: 2rem;
    padding-top: 2rem;
}
.create-role-btn {
    background-color: #30855c;
    border-radius: 4px;
    color: #ffffff;
    border: 1px solid #30855c;
    font-size: 13px;
    font-weight: 600;
    padding: 0.7rem;
}

.create-role-btn:hover {
    /* background-color: #30855c; 
    color:#fff; */
    box-shadow: 0 0 7px 1px rgba(67, 146, 108, 0.5);
}


/* Accordian css */

.accordion .card {
    border: none;
    margin-bottom: 20px;
}

.accordion .card h2 {
    /* background: url(../../../../assets/images/arrow-up.svg) no-repeat calc(0% - -15px) center; */
    padding-left: .5rem;
    padding-right: .5rem;
    background-size: 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    font-family: Muli;
}

.accordion .card h2 .image
{
    background: url(../../../assets/images/arrow-up.svg) no-repeat right;
    float: right;
    width: 100%;
}
.accordion .card h2.collapsed .image {
    background: url(../../../assets/images/arrow-1.png) no-repeat right;
    float: right;
}

.accordion .card-body {
    padding-left: 0;
    padding-right: 0;
}

.sourcing {
    font-size: 14px;
    font-weight: 500;
    font-family: Muli;
    color: #333333;
    margin-top: 3px;
    margin-left: 5px
}

.sourcing-collapse {
    margin-left: 1rem;
}

.content {
    font-family: Muli;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
    color: #232334;
    padding-right: 5%;
}

.card {
    border: none;
    margin-bottom: 0 !important;
    border-bottom: 1px dashed #ebebeb !important;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}

.card-body {
    padding-bottom: 0;
}


.card:hover {
    border-radius: 2px !important;
    background-color: #f8f8f8;
}

