@import '../../../../../../theme/styles/variables';

:host {
    display: block;
    padding-bottom: 24px;

    .add-btn {
        border-color: $muted-text-color;
    }
}
.word-count-box {
    display: block;
    height: 20px;
    margin: 10px;
}
