.status-border {
    @media (max-width: 480px) {
        border-top: 2px dashed #d6d6d6;
        border-bottom: 2px dashed #d6d6d6;
        margin-left: -16px;
        margin-right: -16px;
    }
}

.active-button {
    margin: 1rem 0;
    @media (max-width: 480px) {
        margin-right: 16px;
    }
    .active__main {
        border-radius: 4px;
        border: solid 1px #d6d6d6;
        padding: 2px;
        @media (min-width: 992px) {
            padding: 6px;
        }
    }
}

.cust-status {
    @media (max-width: 480px) {
        display: flex;
        align-items: center;
        margin-left: 16px;
    }
}

.active_default {
    background-color: #3d8462;
    height: 30px;
    padding: 4px 16px;
    font-size: 14px;
    color: #fff !important;
    border-radius: 4px !important;
    font-family: Muli;
    font-weight: 600;
}

.active {
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
    border-radius: 4px;
    background-color: #3d8462;
    padding: 5px 10px;
}

.disable {
    font-size: 12px;
    font-weight: 600;
    color: #979797;
    border: solid 0.5px #3d8462;
    background-color: #ffffff;
    padding: 5px 10px;
}

.disable_default {
    background-color: #ffffff;
    height: 30px;
    padding: 4px 16px;
    font-size: 14px;
    font-weight: 600;
    color: #979797;
    font-family: Muli;
}
