<div class="d-flex justify-content-between status-border">
    <div class="web-farm">
        <p class="fnt-16 fnt-md-18 fnt-700 fnt-muli black m-0">Customer Status</p>
        <p class="fnt-14 fnt-600 fnt-muli black">Manage their status on the platform</p>
    </div>
    <div class="align-items-center d-flex mobile-farm">
        <p class="fnt-14 fnt-md-18 fnt-700 fnt-muli black m-0">Customer Status</p>
    </div>

    <div class="active-button">
        <div
            *ngIf="customerType === 'micro-roasters'"
            class="btn-group btn-toggle ml-auto pull-right active__main"
            (click)="customerService.activeStatus('micro-roaster')"
        >
            <div
                class="btn btn-group__item"
                [ngClass]="customerService.btnToggle ? 'active_default' : 'active disable_default'"
                id="activeStatus"
            >
                Active
            </div>
            <div
                class="btn btn-group__item"
                [ngClass]="!customerService.btnToggle ? 'active_default active' : 'disable_default'"
                id="disableStatus"
            >
                Disable
            </div>
        </div>
        <div
            *ngIf="customerType === 'hrc'"
            class="btn-group btn-toggle ml-auto pull-right active__main"
            (click)="customerService.activeStatus('horeca')"
        >
            <div
                class="btn btn-group__item"
                [ngClass]="customerService.btnToggle ? 'active_default' : 'active disable_default'"
                id="activeStatus"
            >
                Active
            </div>
            <div
                class="btn btn-group__item"
                [ngClass]="!customerService.btnToggle ? 'active_default active' : 'disable_default'"
                id="disableStatus"
            >
                Disable
            </div>
        </div>
    </div>
</div>
