@import 'variables';

.ft-roastry-profile {
    width: 94px;
}
.royal-cofee {
    padding: 1rem 0rem;
}
.bg-fff {
    padding: 3rem;
}
.message-icon {
    width: 14px;
    height: 14px;
}
@media (max-width: 480px) {
    .bg-fff {
        padding: 1rem;
    }
    .discount-sec {
        margin: 0rem;
    }
}
.discount-sec {
    margin: 1rem 0rem;
}
.discount-border {
    border-radius: 4px;
    border: solid 1px #ebebeb;
    padding: 1.5rem 1.5rem 3.5rem 1.5rem;
}
.customer-status-width {
    max-width: 48%;
    margin-left: 2%;
}
.search {
    height: 44px;
    border-radius: 4px;
    border: solid 1px #d6d6d6;
    background-color: #ffffff;
    -webkit-appearence: none !important;
}
.main-bag {
    position: absolute;
    top: 70%;
    right: 53%;
}
.update-now {
    border-radius: 4px;
    background-color: #30855c;
    padding: 10px 24px;
    color: #fff;
    border: #30855c;
}
.update-now:hover {
    box-shadow: 0 0 7px 1px rgba(67, 146, 108, 0.5);
}
.bg-msg {
    border-radius: 2px;
    border: solid 1px #747588;
    color: #747588;
    padding: 10px 16px;
}
.message-icon {
    width: 14px;
    height: 14px;
}
.estate-message {
    font-family: $general-font-family;
    font-size: 14px;
    font-weight: 500;
}
.back-page a {
    font-size: 16px;
    color: #80460b;
    cursor: pointer;
    font-family: $general-font-family;
    text-decoration: none;
    font-weight: 600;
}
@media (max-width: 767px) {
    .customer-status-width {
        max-width: 100%;
        margin-left: 0%;
    }
}
@media (max-width: 480px) {
    .pending-border {
        border-bottom: 2px dashed #d6d6d6;
    }
}
