<div class="bg-fff">
    <div class="col-lg-12 mb-3 px-0">
        <div class="back-page w-100">
            <a class="back-href fw-m" routerLink="/people/customer-management">Back </a>
        </div>
    </div>
    <!-- Royal coffee roasters company -->
    <section class="royal-cofee">
        <div class="row web-farm">
            <div class="col-md-8 col-12">
                <div class="row">
                    <div class="col-md-2 col-3">
                        <img class="ft-roastry-profile" src="assets/images/ft-roastry-profile.png" />
                    </div>
                    <div class="col-9 mt-2 pt-1">
                        <p>
                            <span class="fnt-16 fnt-md-18 fw-b black" *ngIf="customerService.pendingCompany != ''">{{
                                customerService.pendingCompany
                            }}</span>
                        </p>
                        <p>
                            <span class="fnt-16 fnt-md-18 fw-b black" *ngIf="customerService.pendingCompany == ''"
                                >-</span
                            >
                        </p>
                        <p class="fnt-14 fw-b black fw-n">{{ customerService.pendingEmail }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-farm">
            <div class="">
                <div class="">
                    <div class="d-flex justify-content-center">
                        <img class="ft-roastry-profile" src="assets/images/ft-roastry-profile.png" />
                    </div>
                    <div class="text-center pt-4">
                        <p class="mb-2">
                            <span class="fnt-16 fnt-md-18 fw-b black" *ngIf="customerService.pendingCompany != ''">{{
                                customerService.pendingCompany
                            }}</span>
                        </p>
                        <p class="mb-2">
                            <span class="fnt-16 fnt-md-18 fw-b black" *ngIf="customerService.pendingCompany == ''"
                                >-</span
                            >
                        </p>
                        <p class="fnt-14 fw-b black fw-n m-0">{{ customerService.pendingEmail }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Discount -->
    <section class="discount-sec">
        <div class="col-12">
            <div class="row">
                <div class="col-lg-8 col-12 discount-border">
                    <div class="row web-farm">
                        <div class="col-8">
                            <p class="fnt-14 fnt-md-16 fw-b black m-0">Customer Status</p>
                            <p class="fnt-14 fnt-md-16 fw-b black">Manage their status on the platform</p>
                        </div>
                        <div class="col-4">
                            <div class="d-flex flex-column">
                                <p class="black fnt-18 fw-m fnt-md-16 mb-1 pull-right text-right">
                                    {{ customerService.pendingStatus }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row mobile-farm mx-0">
                        <div class="col-12 pending-border px-0">
                            <p class="fnt-16 fnt-md-16 fw-b black mb-2">Customer Status</p>
                            <p class="fnt-14 fnt-md-14 fw-b black">Manage their status on the platform</p>
                        </div>
                        <div class="col-12 px-0">
                            <div class="d-flex flex-column">
                                <p class="black fnt-16 fw-m fnt-md-16 mb-3 pt-3">
                                    {{ customerService.pendingStatus }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
