.view-listing {
    color: #8c5000 !important;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.active {
    color: #649a2b;
    font-size: 14px;
    font-weight: 600;
}

.disabled {
    color: #979797;
    font-size: 14px;
    font-weight: 600;
}
