.view-listing {
    color: #80460b !important;
    font-weight: bold !important;
    cursor: pointer;
    font-size: 14px;
}
.view-listing:hover {
    cursor: pointer;
    text-decoration: underline !important;
}

.active {
    color: #649a2b;
    font-size: 14px;
    font-weight: 600;
}

.disabled {
    color: #979797;
    font-size: 14px;
    font-weight: 600;
}

.active-dot {
    width: 8px;
    background-color: #649a2b;
    border-radius: 100%;
    height: 8px;
    margin-right: 8px;
    margin-top: 5px;
}

.disabled-dot {
    width: 8px;
    background-color: #979797;
    border-radius: 100%;
    height: 8px;
    margin-right: 8px;
    margin-top: 5px;
}

.disabled-pointer {
    cursor: no-drop;
}

.estate-orders {
    position: relative;
}

.row {
    color: #232334 !important;
    font-size: 14px !important;
    font-weight: bold !important;
    font-family: 'Muli' !important;
    border-bottom: none !important;
}

/**********popover*******/

.list-group-item {
    border: none;
    font-family: 'Muli';
    font-size: 14px;
    font-weight: 600;
    color: #747588;
}

.list-group-item:hover {
    color: #232334;
    font-weight: 600;
    background-color: #f8f8f8;
}

.menu-arrow {
    cursor: pointer;
    position: relative;
    top: 6px;
}

.cust-width {
    width: 40%;
}

.file_url {
    color: #232334 !important;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Muli';
    text-decoration: none !important;
}

.customer-name {
    width: 185px;
}

#customer-contract-popup popover-container {
    border: 0 !important;
}

@media (min-width: 993px) and (max-width: 1279px) {
    #customer-table .p-datatable table {
        width: 115%;
    }
    #customer-table .p-datatable-wrapper {
        overflow-x: auto;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    #customer-table .p-datatable table {
        width: 170%;
    }
    #customer-table .p-datatable-wrapper {
        overflow-x: auto;
    }
}

@media (max-width: 767px) {
    .estate-table {
        margin: -1.5rem 0rem;
    }
    .mobile-ce p {
        margin-bottom: 0rem !important;
    }
    .bg-f4f4 {
        background: #f8f8f8;
    }
    .bor-bot-d6d6 {
        border-bottom: 2px dashed #d6d6d6 !important;
    }
    .bor-ebe {
        border: 1px solid #ebebeb;
        border-radius: 4px;
    }
    .agreement-top {
        margin-top: 2rem;
    }
}
@media (max-width: 480px) {
    .estate-orders {
        margin: 1rem 0px;
    }
    .name-header {
        margin: 4px;
        border-radius: 4px;
    }
}
