.imp-contact {
    margin: 1rem 0rem;
}

.imp-contact-inner {
    border-radius: 4px;
    border: solid 1px #ebebeb;
    padding: 1rem;
}

.imp-contact,
.discount-sec {
    margin: 1rem 0rem;
}

.meet-our-team-list {
    padding-bottom: 16px;
}

.team-images {
    width: 100%;
    height: 100%;
}

.team-des {
    margin-top: 0.5rem;
}

.msg-team {
    border: 1px solid #747588;
    padding: 4px 13px 6px;
    float: left;
    border-radius: 2px;
}

.imp-contact {
    @media (max-width: 480px) {
        border-bottom: 2px solid #ebebeb;
        border-top: 2px solid #ebebeb;
        margin-left: -16px;
        margin-right: -16px;
    }
}

.top-cont {
    @media (max-width: 480px) {
        margin-left: 16px;
        margin-right: 16px;
    }
}

.team-images {
    @media (max-width: 480px) {
        width: 35px;
        border-radius: 50%;
    }
}

.status-border {
    @media (max-width: 480px) {
        border-bottom: 2px dashed #d6d6d6;
    }
}

.status-border:last-child {
    border-bottom: none;
}
