@import 'variables';
/**********popover*******/

.list-group-item {
    border: none;
    font-family: 'Muli';
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.list-group-item:hover {
    color: #232334;
    font-weight: 600;
    background-color: #f8f8f8;
}

.menu-arrow {
    cursor: pointer;
}

::ng-deep .popover-body {
    padding: 0.25rem 0.25rem !important;
}

::ng-deep .popover {
    border: none !important;
    border-radius: 5px !important;
    box-shadow: 0 0 17px 2px rgba(27, 27, 27, 0.08) !important;
    background-color: #ffffff;
}

::ng-deep .bs-popover-bottom .arrow:after {
    top: 0px !important;
}

.pointer-item {
    cursor: pointer;
}

.filter {
    font-family: Muli;
    font-size: 13px;
    font-weight: 600;
    color: #232334;
}

.filter-text {
    color: #747588;
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
}
.tableDataFont {
    font-family: Muli;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #232334;
}
::ng-deep .ui-table-disputes {
    border: 1px solid #d6d6d6;
}
::ng-deep .orderTable .p-datatable-tbody > tr > td:first-child {
    padding-left: 0px;
}
:host ::ng-deep .orderTable .p-radiobutton .p-radiobutton-box.p-highlight {
    border-color: $primary-color;
    background: $primary-color;
}
.mobileNameDiv {
    background-color: #f8f8f8;
    margin: 4px;
    padding: 12px;
}
.mobileLable {
    color: #747588;
}
.arrow-color {
    color: #80460b;
}
@media screen and (max-width: 767px) {
    :host ::ng-deep .p-datatable-tbody > tr > td {
        border-left: 1px solid #d6d6d6 !important;
        border-right: 1px solid #d6d6d6 !important;
        padding: 14px 14px;
        width: 100% !important;
        display: block;
        border-bottom: 0px !important;
    }
    ::ng-deep .ui-table-disputes {
        border: 0px;
    }
    :host ::ng-deep .orderTable .p-datatable-tbody > tr > td:first-child {
        padding: 0px;
    }
    .mobileNameDiv {
        background-color: #f8f8f8;
        margin: 4px;
        padding: 12px;
    }
    .mobileHeader {
        font-size: 14px !important;
    }
    .mobileLable {
        color: #747588;
    }
    :host ::ng-deep .p-datatable .p-datatable-tbody > tr {
        border-bottom: 0px !important;
    }
    :host ::ng-deep .p-datatable-tbody > tr > .nameMobileHeader {
        border-top: 1px solid #d6d6d6 !important;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        padding: 0px;
    }
    :host ::ng-deep .p-datatable-tbody > tr > .mobileBorderClass {
        border-bottom: 1px dashed #d6d6d6 !important;
    }
    :host ::ng-deep .p-datatable-tbody > tr > .mobileBottom {
        margin-bottom: 14px;
        border-bottom: 1px solid #d6d6d6 !important;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        padding-top: 1rem;
        border-top: 1px dashed #d6d6d6 !important;
    }
}
