<section>
    <div class="bg-fff">
        <section class="select-order estate-orders">
            <div class="d-flex">
                <div class="cursor-pointer float-left mr-auto">
                    <img src="/assets/images/back-arrow1.png" alt="" />
                    <span class="back-ticket pl-2">{{ globals.languageJson?.back }} </span>
                </div>

                <button type="button" class="select_cancel float-right btn btn-link mr-2">
                    {{ globals.languageJson?.cancel }}
                </button>
                <button type="submit" class="continue-order float-right btn" (click)="continue()">
                    {{ globals.languageJson?.continue }}
                </button>
            </div>

            <h5 class="select-order-title pt-1">{{ globals.languageJson?.select_an_order }}</h5>
            <div class="please-select pt-1">Please select an estate order to create a roaster coffee batch for</div>

            <div class="row">
                <div class="mixups-tabs mt-3 pt-3 col-lg-12 col-md-12">
                    <div class="title-header d-inline desk_view_user">
                        <div class="d-inline border-order role-div col-sm-6" id="origin_id">
                            <!-- <p class="d-inline">Role:</p><p class="d-inline filter"> All&nbsp;  <a data-toggle="popover-roles" data-placement="bottom"><img src="assets/images/active.png"></a></p> -->
                            <p class="d-inline filter-text" *ngIf="estatetermOrigin == ''">
                                {{ globals.languageJson?.origin }}&nbsp;
                            </p>
                            <a
                                class="pointer-item"
                                [popover]="originTemplate"
                                placement="bottom"
                                container="body"
                                #pop4="bs-popover"
                            >
                                <p class="d-inline filter" *ngIf="estatetermOrigin == ''" (click)="toggleOrigin()">
                                    &nbsp;
                                    <img
                                        src="{{
                                            showOrigin ? 'assets/images/active-user.svg' : 'assets/images/user-down.svg'
                                        }}"
                                    />
                                </p>
                            </a>
                            <a
                                class="pointer-item"
                                [popover]="originTemplate"
                                placement="bottom"
                                container="body"
                                #pop5="bs-popover"
                            >
                                <p class="d-inline filter" *ngIf="estatetermOrigin != ''" (click)="toggleOrigin()">
                                    {{ estatetermOrigin }} &nbsp;<img
                                        src="{{
                                            showOrigin ? 'assets/images/active-user.svg' : 'assets/images/user-down.svg'
                                        }}"
                                    />
                                </p>
                            </a>
                        </div>
                        &nbsp;&nbsp;

                        <div class="d-inline border-order date-div col-sm-6">
                            <p class="d-inline filter-text">
                                {{ globals.languageJson?.date_range }} &nbsp;
                                <span *ngIf="showDateRange != ''">{{ showDateRange }}</span>
                            </p>

                            <a class="pointer-item">
                                <p class="d-inline filter">
                                    <p-calendar
                                        #calendar
                                        styleClass="only-icon"
                                        [(ngModel)]="rangeDates"
                                        selectionMode="range"
                                        dateFormat="dd.mm.yy"
                                        [readonlyInput]="true"
                                        [showButtonBar]="true"
                                        (onSelect)="filterDate($event)"
                                    ></p-calendar>
                                    &nbsp;
                                    <img
                                        src="assets/images/active-calender.png"
                                        alt=""
                                        (click)="openCalendar($event)"
                                    />
                                    <!-- <p-calendar [(ngModel)]="selected" selectionMode="range" [readonlyInput]="true" [showIcon]="true" #dateFilter>
                                </p-calendar> -->
                                </p>
                            </a>
                        </div>
                        &nbsp;&nbsp;
                        <div class="d-inline display_div">
                            <div class="float-right border-order top-space" id="display_id">
                                <p class="d-inline filter-text">Display &#9679;</p>
                                <a
                                    class="pointer-item"
                                    [popover]="displayTemplate"
                                    placement="bottom"
                                    container="body"
                                    #pop6="bs-popover"
                                >
                                    <p class="d-inline filter" *ngIf="displayNumbers == '-1'" (click)="toggleDisplay()">
                                        &nbsp; &nbsp;
                                        <img
                                            src="{{
                                                showDisplay
                                                    ? 'assets/images/active-user.svg'
                                                    : 'assets/images/user-down.svg'
                                            }}"
                                        />
                                    </p>
                                </a>
                                <a
                                    class="pointer-item"
                                    [popover]="displayTemplate"
                                    placement="bottom"
                                    container="body"
                                    #pop7="bs-popover"
                                >
                                    <p class="d-inline filter" *ngIf="displayNumbers != '-1'" (click)="toggleDisplay()">
                                        {{ displayNumbers }}&nbsp; &nbsp;
                                        <img
                                            src="{{
                                                showDisplay
                                                    ? 'assets/images/active-user.svg'
                                                    : 'assets/images/user-down.svg'
                                            }}"
                                        />
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- Table -->

                    <div class="table-container estate-table mt-4">
                        <!-- <table class="estate-boby-txt" datatable [dtOptions]="dtOptions">
                            </table> -->

                        <table class="estate-boby-txt table">
                            <thead>
                                <tr class="estate-title">
                                    <th>
                                        <!-- <label class="b-check first-t">
                                                        <input type="checkbox" checked="checked"  name="user_all" [checked]="isAllCheckedEstate()" (change)="checkAllEstate($event)" >
                                                    </label> -->
                                    </th>
                                    <th>Order ID</th>
                                    <th>Estate name</th>
                                    <th>Date ordered</th>
                                    <th>Orgin</th>
                                    <th>Variety</th>
                                    <!-- <th>Price</th> -->
                                    <th>Quantity</th>
                                    <!-- <th>Type of Order </th> -->
                                    <th>Cupping Score</th>
                                    <!-- <th>Action</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let group of data; let i = index" class="estate-boby-txt">
                                    <td class="spacing-order" style="width: 40px">
                                        <label class="b-check">
                                            <input
                                                type="radio"
                                                name="sizecb[]"
                                                [value]="group.id"
                                                [checked]="i === 0"
                                                [(ngModel)]="group.state"
                                                (change)="onSelectionChange(group)"
                                            />
                                            <!-- <span class="checkmark"></span> -->
                                        </label>
                                    </td>

                                    <td>{{ group.id }}</td>
                                    <td>{{ group.estate_name | titlecase }}</td>
                                    <td>{{ group.created_at | date: 'dd-MM-yyyy' }}</td>
                                    <td>{{ group.origin | titlecase }}</td>
                                    <td>{{ group.variety | titlecase }}</td>
                                    <!-- <td>{{group.price}}</td> -->
                                    <td>{{ group.quantity }}</td>

                                    <td>{{ group.cup_score | titlecase }}</td>
                                    <!-- <td class="view-order" (click)="displayData($event,group)">View order </td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <ng-template #originTemplate>
                        <div id="status-content">
                            <ul class="list-group custom-popover">
                                <li class="list-group-item item-color">
                                    <a
                                        class="pointer-item"
                                        (click)="setOrigin(''); pop4.hide(); pop5.hide(); toggleOrigin()"
                                        >All</a
                                    >
                                </li>
                                <li class="list-group-item item-color">
                                    <a
                                        class="pointer-item"
                                        (click)="setOrigin('Colombia'); pop4.hide(); pop5.hide(); toggleOrigin()"
                                        >Colombia</a
                                    >
                                </li>
                                <li class="list-group-item item-color">
                                    <a
                                        class="pointer-item"
                                        (click)="setOrigin('Ethopia'); pop4.hide(); pop5.hide(); toggleOrigin()"
                                        >Ethopia</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </ng-template>

                    <!-- <ng-template #allTemplate>
                    <div id="status-content">
                        <ul class="list-group custom-popover">
                            <li class="list-group-item item-color">
                                <a class="pointer-item" (click)="setStatus(''); pop.hide(); pop1.hide();toggleStatus()">All</a
                                          >
                                        </li>
                                        <li class="list-group-item item-color">
                                          <a
                                            class="pointer-item"
                                            (click)="setStatus('Shipped'); pop.hide(); pop1.hide();toggleStatus()"
                                            >Shipped</a
                                          >
                                        </li>
                                        <li class="list-group-item item-color">
                                          <a
                                            class="pointer-item"
                                            (click)="setStatus('Order Confirmed'); pop.hide(); pop1.hide();toggleStatus()"
                                            >Order Confirmed</a
                                          >
                                        </li>
                                        <li class="list-group-item item-color">
                                                <a
                                                  class="pointer-item"
                                                  (click)="setStatus('Payment'); pop.hide(); pop1.hide();toggleStatus()"
                                                  >Payment</a
                                                >
                                              </li>
                                              <li class="list-group-item item-color">
                                                    <a
                                                      class="pointer-item"
                                                      (click)="setStatus('Harvest Ready'); pop.hide(); pop1.hide();toggleStatus()"
                                                      >Harvest Ready</a
                                                    >
                                                  </li>
                                                  <li class="list-group-item item-color">
                                                        <a
                                                          class="pointer-item"
                                                          (click)="setStatus('Received'); pop.hide(); pop1.hide();toggleStatus()"
                                                          >Received</a
                                                        >
                                                      </li>
                                      </ul>
                                    </div>
                                  </ng-template>
                        <ng-template #typeTemplate>
                            <div>
                                <ul class="list-group custom-popover">
                                    <li class="list-group-item item-color">
                                        <a class="pointer-item" (click)="setType(''); pop3.hide(); pop2.hide();toggleType()">All</a
                                                      >
                                                    </li>
                                                    <li class="list-group-item item-color"><a class="pointer-item" (click)="setType('Sample'); pop3.hide(); pop2.hide();toggleType()">Sample</a></li>
                            <li class="list-group-item item-color"><a class="pointer-item" (click)="setType('Booked'); pop3.hide(); pop2.hide();toggleType()">Booked</a></li>
                            <li class="list-group-item item-color"><a class="pointer-item" (click)="setType('Pre-Booked'); pop3.hide(); pop2.hide();toggleType()">Pre-Booked</a></li>
                
                
                        </ul>
                    </div>
                
                </ng-template> -->

                    <ng-template #displayTemplate>
                        <div>
                            <ul class="list-group custom-popover">
                                <li class="list-group-item item-color">
                                    <a
                                        class="pointer-item"
                                        (click)="setDisplay('-1'); pop6.hide(); pop7.hide(); toggleDisplay()"
                                        >All</a
                                    >
                                </li>
                                <li class="list-group-item item-color">
                                    <a
                                        class="pointer-item"
                                        (click)="setDisplay('10'); pop6.hide(); pop7.hide(); toggleDisplay()"
                                        >10</a
                                    >
                                </li>
                                <li class="list-group-item item-color">
                                    <a
                                        class="pointer-item"
                                        (click)="setDisplay('25'); pop6.hide(); pop7.hide(); toggleDisplay()"
                                        >25</a
                                    >
                                </li>
                                <li class="list-group-item item-color">
                                    <a
                                        class="pointer-item"
                                        (click)="setDisplay('50'); pop6.hide(); pop7.hide(); toggleDisplay()"
                                        >50</a
                                    >
                                </li>
                                <li class="list-group-item item-color">
                                    <a
                                        class="pointer-item"
                                        (click)="setDisplay('100'); pop6.hide(); pop7.hide(); toggleDisplay()"
                                        >100</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </ng-template>
                </div>
            </div>
        </section>
    </div>
</section>
