.source-cont-available {
    background: #fff;
    padding: 1rem 2.5rem;
}
.det-tit {
    h2 {
        font-size: 18px;
        font-weight: bold;
        color: #242424;
        text-transform: capitalize;
    }
    h6 {
        font-family: Muli;
        font-size: 18px;
        font-weight: bold;
        color: #242424;
        text-transform: capitalize;
    }
}
.g-thumbs-container,
#basic-test {
    background-color: #fff !important;
}
.real-estate {
    h6 {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 3px;
        margin-top: 12px;
        color: #747588;
    }
    h3 {
        font-size: 16px;
        font-weight: bold;
        color: #232334;
        text-transform: capitalize;
    }
}
.estate-focus {
    h3 {
        font-size: 18px;
        font-weight: bold;
        margin-top: 32px;
        margin-bottom: 13px;
    }
    ul {
        margin-bottom: 0;
        padding: 10px;
        li {
            width: 100%;
            float: left;
            border-bottom: 1px dashed #eeeeee;
            padding: 16px 0;

            &:last-child {
                border-bottom: none;
                padding-bottom: 0;
            }
            label {
                float: left;
                width: 37%;
                margin-bottom: 0;
                color: #747588;
                font-size: 14px;
                font-weight: 500;
            }
            p {
                margin-bottom: 0;
                width: 60%;
                float: left;
                font-size: 14px;
                color: #232334;
                font-weight: 600;
            }
        }
    }
}
/*Product Details*/
.p-photo {
    float: left;
    margin-right: 10px;
}
.produect-pro {
    padding: 24px;
}
.v-report {
    text-align: right;
    margin-top: 10px;
    a {
        font-size: 14px;
        font-weight: bold;
        color: #80460b;
        text-decoration: underline;
    }
}
ul {
    padding-left: 0;
    li {
        list-style: none;
    }
}
.avaialble-web {
    display: block;
}

.avaialble-mob {
    display: none;
}

.border-class {
    border: 1px solid #ebebeb;
    border-radius: 2px;
    padding: 10px;
}
@media (max-width: 748px) {
    .source-cont-available {
        padding: 24px 8px;
    }
    .prodect-details,
    .produect-pro {
        padding: 16px;
    }
    .avaialble-web {
        display: none;
    }
    .avaialble-mob {
        display: block;
    }
    .det-tit h2,
    .estate-focus h3 {
        font-size: 16px;
    }
    .v-report {
        text-align: left;
    }
    .estate-focus ul li label,
    .estate-focus ul li p {
        width: 50%;
    }
    .real-estate {
        margin-top: 12px;
        h6 {
            margin-bottom: 8px;
            font-size: 12px;
        }
        h3 {
            font-size: 14px;
        }
    }
}
