<div animateOnScroll animationName="fadeIn" class="animation-bounce-in-up br-main br-4 h-100 d-flex flex-column">
  <div class="chart-block mt-3 mx-3 flex-fill">
    <h3 class="fnt-18 fnt-bold text-black334 px-2">What you customers want</h3>
    <p class="fnt-14 fnt-normal text-gray588 px-2">You get orders for these varieties most</p>
    <div class="position-relative d-flex justify-content-center">
      <ejs-accumulationchart
        id="variety-container"
        style="display: block; width: 92%"
        [legendSettings]="legendSettings"
        [tooltip]="tooltip"
        [enableAnimation]="false"
        height="320px"
      >
        <e-accumulation-series-collection>
          <e-accumulation-series
            [dataSource]="chartData"
            xName="x"
            yName="y"
            [startAngle]="0"
            [endAngle]="360"
            innerRadius="76%"
            radius="80%"
            [explode]="true"
          >
          </e-accumulation-series>
        </e-accumulation-series-collection>
      </ejs-accumulationchart>
      <div class="total-stats text-center">
        <p class="fnt-24 fnt-bold fnt-muli text-black334 mb-0">{{ (stock?.total_coffee || 0).toFixed(0) }}</p>
        <p class="fnt-12 fnt-600 fnt-muli text-gray588 mb-0">coffee varieties <br />in demand</p>
      </div>
    </div>
  </div>

  <div class="w-100 text-right p-3">
    <a class="custom-link" routerLink="/features/sourcing"> Manage green coffee </a>
  </div>
</div>
