.show_btns {
    margin-right: 3rem;
}
.greyClass {
    display: none !important;
}
::ng-deep .roleTable .p-datatable .p-sortable-column:not(.p-highlight):hover {
    background: #ffffff;
}
::ng-deep .roleTable .p-datatable .p-datatable-tbody > tr > td {
    padding: 0.8em 0.7em;
}
::ng-deep .roleTable .p-datatable .p-datatable-tbody > tr > td:first-child {
    padding-left: 1.625rem !important;
}
.rowClass > td > .tdClass > .d-md-flex > .show_btns {
    visibility: hidden;
}
.rowClass:hover > td > .tdClass > .d-md-flex > .show_btns {
    visibility: visible;
}
::ng-deep .popover-body {
    padding: 0.25rem 0.25rem !important;
}

::ng-deep .popover {
    border: none !important;
    border-radius: 6px !important;
    box-shadow: 0 0 17px 2px rgba(27, 27, 27, 0.08) !important;
    background-color: #ffffff;
}

/**********popover*******/
.list-group-item {
    border: none;
    font-family: 'Muli';
    font-size: 14px;
    font-weight: 600;
    color: #747588;
}
.list-group-item:hover {
    color: #232334;
    font-weight: 600;
    background-color: #f8f8f8;
}
.pointer-item {
    cursor: pointer;
}
@media only screen and (max-width: 1240px) {
    .show_btns {
        display: none !important;
    }
    .rowClass:hover > td > .tdClass > .d-md-flex > .show_btns {
        display: none !important;
    }
    .greyClass {
        display: flex !important;
    }
}
@media only screen and (max-width: 767px) {
    :host ::ng-deep .roleTable .p-datatable .p-datatable-tbody > tr {
        border: 1px solid #d6d6d6;
        display: flex;
        margin-bottom: 16px;
    }
    .ellipsisClass {
        float: right;
    }
    :host ::ng-deep .roleTable .p-datatable .p-datatable-tbody > tr {
        border: 1px solid #d6d6d6;
        display: flex;
        margin-bottom: 16px;
    }
    .ellipsisClass {
        float: right;
    }
}
