@import 'variables';

.tr-hover-visible .btn-stroked {
    padding: 5px 16px;
}

:host ::ng-deep {
    .p-datatable .p-datatable-tbody > tr > td {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }

    @media only screen and (max-width: 767px) {
        .p-datatable .p-datatable-tbody > tr {
            border: 1px solid $primary-border-color;
            border-radius: 4px;
            display: flex;
            align-items: center;
            margin-bottom: 16px;
            td {
                padding: 16px;
                border-bottom: none !important;
            }
        }
    }
}
