<div *ngIf="(sourcingSrv.viewMode$ | async) === 'grid'; else tableView">
    <ng-container *ngIf="isLoaded; else mainLoader">
        <div *ngIf="coffeedata?.length; else empty" class="row gutter-26 v-gutter-24 v-gutter-md-26">
            <div *ngFor="let item of coffeedata" class="col-12 col-md-6 col-lg-4">
                <div class="cursor-pointer h-100" routerLink="/sourcing/coffee-details/{{ item.harvest_id }}">
                    <app-harvest-card [data]="item"></app-harvest-card>
                </div>
            </div>
        </div>
    </ng-container>
</div>

<ng-template #tableView>
    <p-table
        [value]="coffeedata"
        [columns]="tableColumns"
        [loading]="!isLoaded"
        [lazy]="true"
        [lazyLoadOnInit]="false"
        (onLazyLoad)="getData($event)"
        [resizableColumns]="true"
        [autoLayout]="isTablet$ | async"
        styleClass="mt-25"
    >
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [style.width]="col.width ? col.width + '%' : '30%'">
                    <span [pSortableColumn]="col.sortable ? col.field : ''"
                        >{{ col.header | translate }}<p-sortIcon *ngIf="col.sortable" [field]="col.field"> </p-sortIcon>
                    </span>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td
                    *ngFor="let col of columns"
                    [ngSwitch]="col.field"
                    [style.width]="col.width ? col.width + '%' : '30%'"
                    class="ellipsis"
                >
                    <span *ngSwitchCase="'estate_name'">
                        {{ rowData.estate?.name || 'NA' }}
                    </span>
                    <span *ngSwitchCase="'origin'">
                        {{ rowData.lot?.country | country }}
                    </span>
                    <span *ngSwitchCase="'variety'">
                        {{ rowData.lot?.varieties[0] || 'NA' }}
                        {{ rowData.lot?.varieties?.length > 1 ? ' +' + (rowData.lot.varieties.length - 1) : '' }}
                    </span>
                    <span *ngSwitchCase="'price'">
                        {{
                            rowData.price * (sourcingSrv.quantityUnit == QuantityUnit.lb ? LBUNIT : 1) | number: '1.0-2'
                        }}
                        {{ rowData.price_unit }}&nbsp;/&nbsp;{{ sourcingSrv.quantityUnit }}
                    </span>
                    <span *ngSwitchCase="'quantity'">
                        {{ rowData.quantity_count }}&nbsp;{{ rowData.quantity_type | quantityType }}
                    </span>
                    <span *ngSwitchCase="'flavour_profile'">
                        <div *ngIf="rowData.flavours?.length" class="row gutter-12 v-gutter-8">
                            <div *ngFor="let flavour of rowData.flavours" class="col-auto">
                                <div class="custom-chip">
                                    {{ flavour | flavour }}
                                </div>
                            </div>
                        </div>
                        <span *ngIf="!rowData.flavours?.length"> NA </span>
                    </span>
                    <ng-container *ngSwitchDefault>
                        <span class="ellipsis">{{ rowData[col.field] || 'NA' }}</span>
                    </ng-container>
                </td>
            </tr>
        </ng-template>
    </p-table>
</ng-template>

<p-paginator
    *ngIf="totalRecords"
    [rows]="rows"
    [totalRecords]="totalRecords"
    (onPageChange)="getData($event)"
    styleClass="mt-45"
></p-paginator>

<ng-template #mainLoader>
    <app-loading></app-loading>
</ng-template>

<ng-template #empty>
    <app-empty title="No data available"></app-empty>
</ng-template>
