.bg-fff {
    padding: 1rem 2rem 2rem 2rem;
}

.social-head {
    font-family: Muli;
    font-size: 18px;
    font-weight: bold;
    color: #232334;
}

.social-para {
    font-family: Muli;
    font-size: 14px;
    font-weight: normal;
    color: #747588;
    padding: 0px 30% 0px 0px;
}


/*=======   Tabs  =======*/


/*********************Tab Css **********************/

@media (min-width:1400px) {
    .container {
        max-width: 1240px !important;
    }
}

ul {
    padding-left: 0;
}

ul li {
    list-style: none;
}

.source-cont {
    background: #fff;
    /* padding: 48px; */
}

.sourcing-panel {
    padding-top: 1rem;
}

.source-cont .nav-tabs .nav-link {
    border: none;
    border-bottom: 2px solid transparent;
    font-size: 14px;
    color: #232334;
    flex: inherit;
    padding-bottom: 6px;
    font-weight: 600;
}

.source-cont .nav-tabs .nav-link.active {
    border-bottom: 2px solid #30855c;
    color: #30855c;
}

.activate-toggle.active {
    background: #000;
    color: #fff;
}

.remove-toggle.active {
    background: #000;
    color: #fff;
}

.btn-switch {
    width: 40px;
    padding: 10px 13px;
    border-radius: 50%;
    background: #f0f0f0;
    cursor: pointer;
    margin-right: 2px;
}

.btn-group {
    border-radius: 20px;
    background: #f0f0f0;
}

.btn-switch svg path {
    fill: #232334;
}

.btn-switch.active svg path {
    fill: #fff;
}

.filter-sort {
    position: absolute;
    right: 0;
    top: -10px;
}

.share-txt {
    font-family: Muli;
    font-size: 13px;
    font-weight: 500;
    color: #232334;
}

.share-img {
    width: 17px;
    height: 17px;
}

.dwnd-img {
    width: 15px;
    height: 15px;
}

.share-bor {
    border-radius: 4px;
    border: solid 2px rgba(116, 117, 136, 0.6);
    padding: 5px 10px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.share-file-details {
    float: right;
    position: relative;
    top: 4rem;
    right: 0;
    left: 5rem;
}

.file-inpt {
    opacity: 0;
    visibility: hidden;
    display: none;
}


/**********popover*******/

.list-group-item {
    border: none;
    font-family: 'Muli';
    font-size: 12px;
    font-weight: 600;
    color: #747588;
}

.list-group-item:hover {
    color: #232334;
    font-weight: 600;
    background-color: #f8f8f8;
}

.menu-arrow {
    cursor: pointer;
}

::ng-deep .popover-body {
    padding: 0 !important;
}

::ng-deep .popover {
    border: none !important;
    border-radius: 5px !important;
    box-shadow: 0 0 17px 2px rgba(27, 27, 27, 0.08) !important;
    background-color: #ffffff;
    top: 4px !important;
}

::ng-deep .bs-popover-bottom .arrow:after {
    top: 0px !important;
}

.pointer-item {
    cursor: pointer;
}

.border-grade {
    border-radius: 20px;
    border: solid 1px #d6d6d6;
    background-color: #ffffff;
    padding: 10px 12px;
}

.table-details {
    display: none;
}

::ng-deep #DataTables_Table_0_filter,
 ::ng-deep #DataTables_Table_1_filter {
    display: none;
}

@media (max-width:767px) {
    .bg-fff {
        padding: 1rem .7rem !important;
    }
    .web-farm {
        display: none !important;
    }
    .tab-overflow-auto {
        overflow: auto;
    }
}

@media (max-width:360px) {
    .w-28 {
        width: 32%;
    }
}





/* MOdal popup css */

.modal-content {
    padding: 15px;
}

.modal-header {
    padding: 0 0 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.modal-content .close {
    padding: 0 !important;
    margin: 0 !important;
}

.modal-content .close span {
    font-size: 35px;
    line-height: 0;
}

.modal-content .close:focus {
    box-shadow: none !important;
    outline: 0;
    border: 0;
}

.modal-body {
    padding: 15px 0 0 0 !important;
}

.modal-backdrop {
    background-color: rgb(0, 0, 0) !important;
}

.modal-backdrop.show {
    opacity: 0.8 !important;
}

.existing-members-list {
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 0;
    padding-bottom: 0;
}

.existing-members-list__item {
    padding-bottom: 15px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
}

@media (min-width: 768px) {
    .existing-members-list__item:last-child {
        border: 0;
    }
}

.member-profile {
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 50%;
    object-fit: cover;
}

.member-profile img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.modal-footer {
    border: 0 !important;
    padding: 15px 0 0 0 !important;
}

.remove-quiker-file {
    position: absolute;
    top: 10px;
    right: 10px;
    pointer-events: all;
    cursor: pointer;
    font-size: 30px;
    line-height: 20px;
    color: #232334;
}

.quick-pinned-files__pinIcon img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.priview-popup-fileshare__back {
    position: relative;
    top: 12%;
    padding: 0 5%;
    width: 100%;
}

.priview-popup-fileshare__back img {
    cursor: pointer;
    display: inline-block;
}

.priview-popup-fileshare {
    /* pointer-events: none; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8) !important;
    opacity: 0;
    visibility: hidden;
    display: none;
    transition: 0.4s ease-in-out;
    z-index: 999;
}

.priview-popup-fileshare.active {
    opacity: 1 !important;
    visibility: visible !important;
    display: block !important;
}

.priview-popup-fileshare.active .priview-popup-fileshare__img.active {
    bottom: 50% !important;
    transform: translate(-50%, 50%) !important;
}

.priview-popup-fileshare__img {
    width: calc(100% - 30px);
    height: 300px;
    margin: auto;
    position: absolute;
    bottom: -100%;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 2px;
    transition: 0.8s ease-in-out;
}

.priview-popup-fileshare .img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 2px;
}

.img-side-dots span {
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #ffffff;
    margin-bottom: 3px;
    cursor: pointer;
}

@media (min-width: 576px) {
    .priview-popup-fileshare__img {
        width: 540px;
        margin: auto;
        padding: 0 15px;
    }
}

@media (min-width: 768px) {
    .pin-quiker-files label {
        padding: 20px;
    }
    .file-share-container {
        padding: 25px 35px;
    }
    .quick-pinned-files__Image {
        width: 100%;
        height: 130px;
        padding: 10px 10px 0 10px;
    }
    .quicker-files__list {
        margin-bottom: 20px;
    }
    .invite-radios__input {
        margin-right: 25px;
    }
    .modal-content {
        padding: 20px !important;
    }
    .modal-header {
        padding: 0 0 20px 0 !important;
    }
    .modal-body {
        padding: 20px 0 0 0 !important;
    }
    .existing-members-list__item {
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    .modal-footer {
        padding: 20px 0 0 0 !important;
    }
    .priview-popup-fileshare__img {
        width: 75%;
        height: 350px;
        margin: auto;
    }
    .priview-popup-fileshare__back {
        top: 40px;
    }
}

@media (min-width: 992px) {
    .pin-quiker-files label {
        padding: 25px;
    }
    .quicker-files__list {
        min-height: 180px;
        margin-bottom: 25px;
    }
    .file-share-container {
        padding: 30px 45px;
    }
    .quick-pinned-files__Image {
        height: 150px;
    }
    .quick-pinned-files__pinIcon {
        width: 35px;
        height: 35px;
    }
    .file-share-search input[type="search"]::placeholder {
        font-size: 14px;
    }
    .file-share-search input[type="search"] {
        font-size: 14px;
    }
    .modal-header {
        padding: 0 0 25px 0 !important;
    }
    .modal-body {
        padding: 25px 0 0 0 !important;
    }
    .modal-dialog {
        max-width: 740px !important;
    }
    .modal-footer {
        padding: 25px 0 0 0 !important;
        border: 0 !important;
    }
    .invite-radios__input {
        margin-right: 30px;
    }
    .create-share {
        padding: 10px 15px;
    }
    .modal-content {
        padding: 25px !important;
    }
    .existing-members-list__item {
        padding-bottom: 22px;
        margin-bottom: 22px;
    }
    .member-profile {
        width: 35px;
        height: 35px;
    }
    .remove-quiker-file {
        top: 15px;
        right: 15px;
        font-size: 35px;
    }
    .priview-popup-fileshare__img {
        width: 65%;
        height: 500px;
        margin: auto;
    }
}

@media (min-width: 1300px) {
    .quick-pinned-files__Image {
        height: 170px;
    }
}


/* Radio */


/* The container */

.custom-radio {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 0;
    cursor: pointer;
    font-size: 12px;
    line-height: 16px !important;
    user-select: none;
    color: #747588;
}

.custom-radio.active {
    color: #232334;
}


/* Hide the browser's default radio button */

.custom-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* Create a custom radio button */

.checkmark-custom {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: none;
    border-radius: 50%;
    border: solid 1px #747588;
}


/* On mouse-over, add a grey background color */


/* .custom-radio:hover input ~ .checkmark-custom {
    background-color: #ccc;
  }
   */


/* When the radio button is checked, add a blue background */

.custom-radio input:checked~.checkmark-custom {
    background-color: none;
    border: 1px solid #30855c;
}


/* Create the indicator (the dot/circle - hidden when not checked) */

.checkmark-custom:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the indicator (dot/circle) when checked */

.custom-radio input:checked~.checkmark-custom:after {
    display: block;
}


/* Style the indicator (dot/circle) */

.custom-radio .checkmark-custom:after {
    top: 50%;
    left: 50%;
    width: 11px;
    height: 11px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #30855c;
}


.create-share {
    border-radius: 4px;
    background-color: #30855c;
    outline: 0;
    border: 0;
    color: #ffffff;
    opacity: 0.9;
}

.create-share:hover {
    background-color: #30855c;
    opacity: 1;
}

.create-share:focus {
    box-shadow: none !important;
    outline: 0 !important;
    border: 0 !important;
    background-color: #30855c !important;
}

.view-order-file {
    border-radius: 4px;
    border: solid 2px rgba(116, 117, 136, 0.6);
    padding: 5px 10px;
    cursor: pointer;
}

.view-order-file:hover {
    text-decoration: none !important;
}

.file-share-addMail {
    background-color: #ffffff;
}

@media (min-width: 768px) {
    .file-share-addMail {
        border-radius: 4px;
        border: solid 1px #d6d6d6;
        background-color: #ffffff;
    }
}

.file-share-addMail input {
    outline: 0;
    border: 0;
    background: none;
}

.quick-pinned-files__Image input[type="file"] {
    opacity: 0;
    visibility: hidden;
    display: none;
}

.file-share-addMail input {
    width: 60%;
}

.ownerName{
    text-overflow: ellipsis;
}
.folderName{
    text-overflow: ellipsis;
}

@media (min-width: 768px) {
    .file-share-addMail input {
        width: 65%;
    }
}
.tab-overflow-auto{
    width: 100%;
}
.auto-complete-box{
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
}
