@import '_variables.scss';

.select-product {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 128px;
    height: 133px;
    padding: 1rem;
    text-align: center;
    border-radius: 4px;
    border: solid 1px #d6d6d6;
    margin-right: 8px;

    @media (min-width: 768px) {
        min-width: 170px;
        width: 170px;
        height: 152px;
    }
    &:last-child {
        margin-right: 0;
    }

    .product-img {
        position: absolute;
        top: 36px;
        left: 10%;
        width: 80%;
        height: 56px;
        object-fit: contain;
        border-radius: 2px;
        @media (min-width: 768px) {
            height: 76px;
        }
    }

    .plus-circle {
        margin-bottom: 0.75rem;
        margin-top: 0.5rem;
    }

    .move-btn,
    .remove-btn {
        position: absolute;
        width: 16px;
        height: 16px;
        object-fit: contain;
        top: 10px;
    }
    .move-btn {
        left: 4px;
    }
    .remove-btn {
        right: 4px;
    }

    .bottom-wrap {
        position: absolute;
        left: 4px;
        bottom: 4px;
        right: 4px;
        height: 30px;
        padding: 0 6px 0 8px;
        border-radius: 2px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #c0c0c9;
    }
}

.cert-header {
    padding: 13px 16px;
    @media (min-width: 992px) {
        padding: 13px 24px;
    }
}
.cert-add {
    position: relative;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border: solid 1px $muted-text-color;
    cursor: pointer;
    span {
        font-size: 20px;
        line-height: 24px;
        position: absolute;
        top: -2px;
    }
}

// Custom style for featured product dard
@media (min-width: 1280px) {
    .left-block {
        padding-right: 11px !important;
    }
    .right-block {
        padding-left: 5px !important;
    }
}
