<section>
    <div class="main-block">
        <app-brand-profile-header pageSlug="home-page" (saveClick)="savePageData()"></app-brand-profile-header>

        <form [formGroup]="infoForm" novalidate>
            <div class="row gutter-16">
                <div class="col-lg-8 col-md-12 order-2 order-lg-1 left-block">
                    <div class="br-main br-2 mb-4 mb-lg-45 p-3 p-lg-4">
                        <h4 class="fnt-16 lh-normal fnt-700 text-clr334 mb-3">Banner<span class="star">*</span></h4>
                        <p class="fnt-14 lh-normal fnt-600 text-clr334 mb-2">
                            Image/Video banner<span class="star">*</span>
                        </p>
                        <p class="fnt-mb-14 lh-normal fnt-600 fnt-muli text-clr588 mb-2">
                            Upload a banner cover about your roaster
                        </p>
                        <p class="fnt-mb-14 lh-normal fnt-600 text-clr588 mb-3 mb-md-4">Size - 1440 x 465 px</p>

                        <div class="w-100 sewn-form-field">
                            <app-uploader formControlName="banner_file" [width]="1440" [height]="465"></app-uploader>
                            <small *ngIf="infoForm.controls.banner_file.errors?.required" class="p-error">
                                Please upload
                            </small>
                        </div>

                        <div class="w-100 sewn-form-field mb-0">
                            <label>
                                Banner Title<span class="star">*</span>
                                <span class="pull-right text-clr588">
                                    {{ infoForm.get('banner_title').value | wordCount }}/10 words
                                </span>
                            </label>
                            <input type="text" formControlName="banner_title" appWordLimit [limit]="10" pInputText />
                            <small *ngIf="infoForm.controls.banner_title.errors?.required" class="p-error">
                                Required
                            </small>
                            <small *ngIf="infoForm.controls.banner_title.errors?.maxWordCount" class="p-error">
                                Please input 10 words
                            </small>
                        </div>
                    </div>

                    <div class="d-md-none">
                        <ng-container *ngTemplateOutlet="certificatesBlock"></ng-container>
                    </div>

                    <div class="br-main br-2 mb-4 mb-lg-45 p-3 p-lg-4">
                        <h4 class="fnt-16 lh-normal fnt-700 text-clr334 mb-2 mb-md-3">Who you are</h4>
                        <p class="fnt-14 lh-normal fnt-600 text-clr334 mb-4">give yourself a small intro!</p>

                        <div class="w-100 sewn-form-field">
                            <label>
                                Title<span class="star">*</span>
                                <span class="pull-right text-clr588">
                                    {{ infoForm.get('intro_title').value | wordCount }}/15 words
                                </span>
                            </label>
                            <input type="text" formControlName="intro_title" appWordLimit [limit]="15" pInputText />
                            <small *ngIf="infoForm.controls.intro_title.errors?.required" class="p-error">
                                Required
                            </small>
                            <small *ngIf="infoForm.controls.intro_title.errors?.maxWordCount" class="p-error">
                                Please input 15 words
                            </small>
                        </div>

                        <div class="w-100 sewn-form-field mb-0">
                            <label>
                                A short description <br class="d-md-none" />
                                about the Estate<span class="star">*</span>
                                <span class="pull-right text-clr588">
                                    {{ infoForm.get('short_description').value | wordCount }}/50 words
                                </span>
                            </label>
                            <textarea
                                formControlName="short_description"
                                rows="5"
                                cols="50"
                                appWordLimit
                                [limit]="50"
                                pInputTextarea
                            ></textarea>
                            <small *ngIf="infoForm.controls.short_description.errors?.required" class="p-error">
                                Required
                            </small>
                            <small *ngIf="infoForm.controls.short_description.errors?.maxWordCount" class="p-error">
                                Please input 50 words
                            </small>
                        </div>
                    </div>

                    <div class="br-main br-2 mb-4 mb-lg-45 p-3 p-lg-4">
                        <h4 class="fnt-16 lh-normal fnt-700 text-clr334 mb-2 mb-md-3">Wizard</h4>
                        <p class="fnt-14 lh-normal fnt-600 text-clr334 mb-4">
                            Your customers can personalise their coffee from this section.
                        </p>

                        <div class="w-100 sewn-form-field">
                            <label>
                                Title<span class="star">*</span>
                                <span class="pull-right text-clr588">
                                    {{ infoForm.get('wizard_title').value | wordCount }}/10 words
                                </span>
                            </label>
                            <input type="text" formControlName="wizard_title" appWordLimit [limit]="10" pInputText />
                            <small *ngIf="infoForm.controls.wizard_title.errors?.required" class="p-error">
                                Required
                            </small>
                            <small *ngIf="infoForm.controls.wizard_title.errors?.maxWordCount" class="p-error">
                                Please input 10 words
                            </small>
                        </div>

                        <div class="w-100 sewn-form-field">
                            <label>
                                Sub heading
                                <span class="pull-right text-clr588">
                                    {{ infoForm.get('wizard_sub_heading').value | wordCount }}/15 words
                                </span>
                            </label>
                            <textarea
                                formControlName="wizard_sub_heading"
                                rows="3"
                                cols="50"
                                appWordLimit
                                [limit]="15"
                                pInputTextarea
                            ></textarea>
                            <small *ngIf="infoForm.controls.wizard_sub_heading.errors?.required" class="p-error">
                                Required
                            </small>
                            <small *ngIf="infoForm.controls.wizard_sub_heading.errors?.maxWordCount" class="p-error">
                                Please input 15 words
                            </small>
                        </div>

                        <div class="w-100 sewn-form-field mb-0">
                            <p class="fnt-14 lh-normal fnt-600 text-clr334 mb-2">
                                Upload an Image<span class="star">*</span>
                            </p>
                            <p class="fnt-mb-14 lh-normal fnt-600 text-clr588 mb-3 mb-md-4">Size - 540 x 445 px</p>
                            <app-uploader
                                formControlName="wizard_image"
                                type="image"
                                [width]="540"
                                [height]="445"
                            ></app-uploader>
                            <small *ngIf="infoForm.controls.wizard_image.errors?.required" class="p-error">
                                Please upload
                            </small>
                        </div>
                    </div>

                    <div class="br-main br-2 mb-4 mb-lg-45 p-3 p-lg-4">
                        <h4 class="fnt-16 lh-normal fnt-700 text-clr334 mb-2 mb-md-3">Feature your products</h4>
                        <p class="fnt-14 lh-normal fnt-600 text-clr334 mb-4">
                            Select 4 products from your shop to display them here
                        </p>
                        <div class="w-100 sewn-form-field">
                            <label>
                                Title<span class="star">*</span>
                                <span class="pull-right text-clr588">
                                    {{ infoForm.get('featured_products_title').value | wordCount }}/15 words
                                </span>
                            </label>
                            <input
                                type="text"
                                formControlName="featured_products_title"
                                appWordLimit
                                [limit]="15"
                                pInputText
                            />
                            <small *ngIf="infoForm.controls.featured_products_title.errors?.required" class="p-error">
                                Required
                            </small>
                            <small
                                *ngIf="infoForm.controls.featured_products_title.errors?.maxWordCount"
                                class="p-error"
                            >
                                Please input 15 words
                            </small>
                        </div>
                        <div class="overflow-auto">
                            <div>
                                <div class="d-flex" cdkDropList (cdkDropListDropped)="drop($event)">
                                    <ng-container *ngFor="let i of [0, 1, 2, 3]">
                                        <div
                                            *ngIf="featuredProducts && featuredProducts[i]"
                                            class="select-product cursor-move bg-white"
                                            cdkDrag
                                        >
                                            <img
                                                class="product-img"
                                                [src]="featuredProducts[i].featured_image"
                                                alt="Product"
                                            />
                                            <img src="assets/images/move.svg" class="move-btn" />
                                            <img
                                                src="assets/images/close-circle.svg"
                                                class="remove-btn"
                                                (click)="removeFeaturedProduct(i)"
                                            />
                                            <div class="bottom-wrap">
                                                <span class="fnt-12 lh-normal text-white fnt-bold ellipsis">
                                                    {{ featuredProducts[i].name }}
                                                </span>
                                                <a routerLink="/brand-profile/featured-products">
                                                    <img src="assets/images/menu.svg" alt="menu" />
                                                </a>
                                            </div>
                                        </div>
                                        <div
                                            *ngIf="!(featuredProducts && featuredProducts[i])"
                                            class="select-product bg-f8"
                                        >
                                            <a routerLink="/brand-profile/featured-products">
                                                <img
                                                    class="plus-circle cursor-pointer"
                                                    src="assets/images/plus-circle.svg"
                                                />
                                            </a>
                                            <p class="fnt-14 fnt-600 fnt-muli text-clr588 m-0">Select a product</p>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="br-main br-2 mb-4 mb-lg-45 p-3 p-lg-4">
                        <h4 class="fnt-16 lh-normal fnt-700 text-clr334 mb-2 mb-md-3">Traceability stories</h4>
                        <p class="fnt-14 lh-normal fnt-600 text-clr334 mb-4">
                            Users will be redirected to your completed coffee experience stories. Give them insights!
                        </p>

                        <div class="w-100 sewn-form-field">
                            <label>
                                Title<span class="star">*</span>
                                <span class="pull-right text-clr588">
                                    {{ infoForm.get('traceability_story_title').value | wordCount }}/15 words
                                </span>
                            </label>
                            <input
                                type="text"
                                formControlName="traceability_story_title"
                                appWordLimit
                                [limit]="15"
                                pInputText
                            />
                            <small *ngIf="infoForm.controls.traceability_story_title.errors?.required" class="p-error">
                                Required
                            </small>
                            <small
                                *ngIf="infoForm.controls.traceability_story_title.errors?.maxWordCount"
                                class="p-error"
                            >
                                Please input 15 words
                            </small>
                        </div>

                        <div class="w-100 sewn-form-field">
                            <label>
                                Sub heading
                                <span class="pull-right text-clr588">
                                    {{ infoForm.get('traceability_story_sub_heading').value | wordCount }}/30 words
                                </span>
                            </label>
                            <textarea
                                formControlName="traceability_story_sub_heading"
                                rows="3"
                                cols="50"
                                appWordLimit
                                [limit]="30"
                                pInputTextarea
                            ></textarea>
                            <small
                                *ngIf="infoForm.controls.traceability_story_sub_heading.errors?.required"
                                class="p-error"
                            >
                                Required
                            </small>
                            <small
                                *ngIf="infoForm.controls.traceability_story_sub_heading.errors?.maxWordCount"
                                class="p-error"
                            >
                                Please input 30 words
                            </small>
                        </div>

                        <div class="w-100 sewn-form-field mb-0">
                            <p class="fnt-14 lh-normal fnt-600 text-clr334 mb-2">
                                Upload an Image/Video<span class="star">*</span>
                            </p>
                            <p class="fnt-mb-14 lh-normal fnt-600 text-clr588 mb-3 mb-md-4">Size - 540 x 445 px</p>
                            <app-uploader
                                formControlName="traceability_story_file_1"
                                [width]="540"
                                [height]="445"
                            ></app-uploader>
                            <small *ngIf="infoForm.controls.traceability_story_file_1.errors?.required" class="p-error">
                                Please upload
                            </small>
                        </div>
                    </div>

                    <div class="br-main br-2 mb-4 mb-lg-45 p-3 p-lg-4">
                        <h4 class="fnt-16 lh-normal fnt-700 text-clr334 mb-2 mb-md-3">Sustainability</h4>
                        <p class="fnt-14 lh-normal fnt-600 text-clr334 mb-4">Give an intro to your practices</p>

                        <div class="w-100 sewn-form-field">
                            <label>
                                Title<span class="star">*</span>
                                <span class="pull-right text-clr588">
                                    {{ infoForm.get('sustainability_title').value | wordCount }}/15 words
                                </span>
                            </label>
                            <input
                                type="text"
                                formControlName="sustainability_title"
                                appWordLimit
                                [limit]="15"
                                pInputText
                            />
                            <small *ngIf="infoForm.controls.sustainability_title.errors?.required" class="p-error">
                                Required
                            </small>
                            <small *ngIf="infoForm.controls.sustainability_title.errors?.maxWordCount" class="p-error">
                                Please input 15 words
                            </small>
                        </div>

                        <div class="w-100 sewn-form-field">
                            <label>
                                Sub heading
                                <span class="pull-right text-clr588">
                                    {{ infoForm.get('sustainability_sub_heading').value | wordCount }}/25 words
                                </span>
                            </label>
                            <textarea
                                formControlName="sustainability_sub_heading"
                                rows="3"
                                cols="50"
                                appWordLimit
                                [limit]="25"
                                pInputTextarea
                            ></textarea>
                            <small
                                *ngIf="infoForm.controls.sustainability_sub_heading.errors?.maxWordCount"
                                class="p-error"
                            >
                                Please input 25 words
                            </small>
                        </div>

                        <div class="w-100 sewn-form-field mb-0">
                            <p class="fnt-14 lh-normal fnt-600 text-clr334 mb-2">
                                Upload an Image/Video<span class="star">*</span>
                            </p>
                            <p class="fnt-mb-14 lh-normal fnt-600 text-clr588 mb-3 mb-md-4">Size - 600 x 650 px</p>
                            <app-uploader
                                formControlName="sustainability_file_1"
                                [width]="600"
                                [height]="650"
                            ></app-uploader>
                            <small *ngIf="infoForm.controls.sustainability_file_1.errors?.required" class="p-error">
                                Please upload
                            </small>
                        </div>
                    </div>

                    <div class="br-main br-2 p-3 p-lg-4">
                        <h4 class="fnt-16 lh-normal fnt-700 text-clr334 mb-2 mb-md-3">Roastery Images</h4>
                        <p class="fnt-14 lh-normal fnt-600 text-clr334 mb-4">Add images of your roastery</p>

                        <div class="w-100 sewn-form-field">
                            <label>
                                Title for your shop purchases<span class="star">*</span>
                                <span class="pull-right text-clr588">
                                    {{ infoForm.get('roastery_images_title').value | wordCount }}/15 words
                                </span>
                            </label>
                            <input
                                type="text"
                                formControlName="roastery_images_title"
                                appWordLimit
                                [limit]="15"
                                pInputText
                            />
                            <small *ngIf="infoForm.controls.roastery_images_title.errors?.required" class="p-error">
                                Required
                            </small>
                            <small *ngIf="infoForm.controls.roastery_images_title.errors?.maxWordCount" class="p-error">
                                Please input 15 words
                            </small>
                        </div>

                        <div class="w-100 sewn-form-field mb-0">
                            <p class="fnt-14 lh-normal fnt-600 text-clr334 mb-2">
                                Upload 2 Images<span class="star">*</span>
                            </p>
                            <p class="fnt-mb-14 lh-normal fnt-600 text-clr588 mb-3 mb-md-4">Size - 600 x 650 px</p>
                            <app-uploader
                                formControlName="roastery_images"
                                [count]="2"
                                type="image"
                                [width]="600"
                                [height]="650"
                            ></app-uploader>
                            <small *ngIf="infoForm.controls.roastery_images.errors?.fileCount" class="p-error">
                                Please upload 2 images
                            </small>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 order-1 order-lg-2 d-none d-md-block right-block">
                    <ng-container *ngTemplateOutlet="certificatesBlock"></ng-container>
                </div>
            </div>
        </form>

        <app-brand-profile-footer pageSlug="home-page" (saveClick)="savePageData()"></app-brand-profile-footer>
    </div>
</section>

<ng-template #certificatesBlock>
    <div class="br-main br-4 p-1 mb-4 mb-lg-45">
        <div class="bg-f8 br-4 d-flex align-items-center justify-content-between cert-header">
            <h5 class="fnt-14 fnt-700 text-clr334 mb-0">Certificates</h5>
            <div routerLink="/features/license" class="cert-add d-flex align-items-center">
                <span class="fnt-700 text-clr334">+</span>
            </div>
        </div>
        <div class="p-3 p-lg-4">
            <div *ngFor="let item of certificates; index as i">
                <div *ngIf="i" class="w-100 solid-divider my-3"></div>
                <div class="d-flex flex-md-column flex-lg-row justify-content-between align-items-lg-center">
                    <div class="pr-3">
                        <h4 class="fnt-14 lh-normal fnt-700 text-clr334 mb-1">{{ item.name }}</h4>
                        <div class="fnt-12 lh-normal fnt-600 text-clr588">{{ item.year }}</div>
                    </div>
                    <div class="d-none d-md-block">
                        <a class="brown-cta" [href]="item.public_url" target="_blank"> View </a>
                        <span class="v-divider mx-2"></span>
                        <a class="brown-cta" (click)="deleteCertificate(item.id)">Delete</a>
                    </div>
                    <div class="d-md-none">
                        <a (click)="certIndex = i; menu.toggle($event)">
                            <img src="assets/images/menu-gray.svg" alt="menu" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<p-menu #menu [popup]="true" [model]="certMenuItems"></p-menu>
