<section>
    <div class="main-block">
        <p-breadcrumb [model]="breadItems" styleClass="mb-3 mb-md-4"></p-breadcrumb>

        <div class="d-flex justify-content-between align-items-start mb-4 pt-3">
            <div>
                <h4 class="fnt-18 fnt-700 fnt-muli text-clr334">Home page</h4>
                <p class="fnt-14 fnt-600 fnt-muli text-clr588">
                    Add details according to respective sections to create your brand profile website
                </p>
            </div>
            <div class="d-none d-md-block">
                <button type="button" class="btn-stroked mr-2">Preview</button>
                <button type="button" class="btn-raised ml-1" (click)="saveHomeProfile()">Save</button>
            </div>
        </div>

        <form [formGroup]="infoForm" novalidate>
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div class="br-main br-2 p-3 p-md-4">
                        <h4 class="fnt-18 fnt-700 fnt-muli text-clr334">Banner<span class="star">*</span></h4>
                        <p class="fnt-14 fnt-600 fnt-muli text-clr334 mb-1">
                            Image/Video banner<span class="star">*</span>
                        </p>
                        <p class="fnt-14 fnt-600 fnt-muli text-clr588 m-0">Upload a banner cover about your roaster</p>
                        <p class="fnt-14 fnt-600 fnt-muli text-clr588 mb-4">Size - 1440 x 423 px</p>

                        <div class="w-100 sewn-form-field mb-4 mb-md-45">
                            <app-uploader formControlName="banner_file"></app-uploader>
                            <small *ngIf="infoForm.controls.banner_file.errors?.required" class="p-error">
                                Please upload
                            </small>
                        </div>

                        <div class="w-100 sewn-form-field mb-0">
                            <label>
                                Banner Title<span class="star">*</span>
                                <span class="pull-right text-clr588">
                                    {{ infoForm.get('banner_title').value | wordCount }}/10 words
                                </span>
                            </label>
                            <input type="text" formControlName="banner_title" pInputText />
                            <small *ngIf="infoForm.controls.banner_title.errors?.required" class="p-error">
                                Required
                            </small>
                            <small *ngIf="infoForm.controls.banner_title.errors?.maxWordCount" class="p-error">
                                Please input 10 words
                            </small>
                        </div>
                    </div>

                    <div class="br-main br-2 mt-3 p-3 p-md-4">
                        <h4 class="fnt-18 fnt-700 text-clr334">Who you are</h4>
                        <p class="fnt-14 fnt-600 text-clr334">give yourself a small intro!</p>

                        <div class="w-100 sewn-form-field mb-4">
                            <label>
                                Title<span class="star">*</span>
                                <span class="pull-right text-clr588">
                                    {{ infoForm.get('intro_title').value | wordCount }}/15 words
                                </span>
                            </label>
                            <input type="text" formControlName="intro_title" pInputText />
                            <small *ngIf="infoForm.controls.intro_title.errors?.required" class="p-error">
                                Required
                            </small>
                            <small *ngIf="infoForm.controls.intro_title.errors?.maxWordCount" class="p-error">
                                Please input 15 words
                            </small>
                        </div>

                        <div class="w-100 sewn-form-field mb-0">
                            <label>
                                A short description about the Estate<span class="star">*</span>
                                <span class="pull-right text-clr588">
                                    {{ infoForm.get('short_description').value | wordCount }}/50 words
                                </span>
                            </label>
                            <textarea formControlName="short_description" rows="5" cols="50" pInputTextarea></textarea>
                            <small *ngIf="infoForm.controls.short_description.errors?.required" class="p-error">
                                Required
                            </small>
                            <small *ngIf="infoForm.controls.short_description.errors?.maxWordCount" class="p-error">
                                Please input 50 words
                            </small>
                        </div>
                    </div>

                    <div class="br-main br-2 mt-3 p-3 p-md-4">
                        <h4 class="fnt-18 fnt-700 fnt-muli text-clr334">Wizard</h4>
                        <p class="fnt-14 fnt-600 fnt-muli text-clr334">
                            Your customers can personalise their coffee from this section.
                        </p>

                        <div class="w-100 sewn-form-field mb-4">
                            <label>
                                Title<span class="star">*</span>
                                <span class="pull-right text-clr588">
                                    {{ infoForm.get('wizard_title').value | wordCount }}/10 words
                                </span>
                            </label>
                            <input type="text" formControlName="wizard_title" pInputText />
                            <small *ngIf="infoForm.controls.wizard_title.errors?.required" class="p-error">
                                Required
                            </small>
                            <small *ngIf="infoForm.controls.wizard_title.errors?.maxWordCount" class="p-error">
                                Please input 10 words
                            </small>
                        </div>

                        <div class="w-100 sewn-form-field mb-4">
                            <label>
                                Sub heading
                                <span class="pull-right text-clr588">
                                    {{ infoForm.get('wizard_sub_heading').value | wordCount }}/15 words
                                </span>
                            </label>
                            <textarea formControlName="wizard_sub_heading" rows="3" cols="50" pInputTextarea></textarea>
                            <small *ngIf="infoForm.controls.wizard_sub_heading.errors?.required" class="p-error">
                                Required
                            </small>
                            <small *ngIf="infoForm.controls.wizard_sub_heading.errors?.maxWordCount" class="p-error">
                                Please input 15 words
                            </small>
                        </div>

                        <div class="w-100 sewn-form-field mb-2">
                            <p class="fnt-14 fnt-600 fnt-muli text-clr334 mb-1">
                                Upload an Image<span class="star">*</span>
                            </p>
                            <p class="fnt-14 fnt-600 fnt-muli text-clr588 mb-4">Size - 540 x 445 px</p>
                            <app-uploader formControlName="wizard_image" type="image"></app-uploader>
                            <small *ngIf="infoForm.controls.wizard_image.errors?.required" class="p-error">
                                Please upload
                            </small>
                        </div>
                    </div>

                    <div class="br-main br-2 mt-3 p-3 p-md-4">
                        <h4 class="fnt-18 fnt-700 fnt-muli text-clr334">Feature your products</h4>
                        <p class="fnt-14 fnt-600 fnt-muli text-clr334">
                            Select 4 products from your shop to display them here
                        </p>
                        <div class="w-100 sewn-form-field mb-4">
                            <label>
                                Title<span class="star">*</span>
                                <span class="pull-right text-clr588">
                                    {{ infoForm.get('featured_products_title').value | wordCount }}/15 words
                                </span>
                            </label>
                            <input type="text" formControlName="featured_products_title" pInputText />
                            <small *ngIf="infoForm.controls.featured_products_title.errors?.required" class="p-error">
                                Required
                            </small>
                            <small
                                *ngIf="infoForm.controls.featured_products_title.errors?.maxWordCount"
                                class="p-error"
                            >
                                Please input 15 words
                            </small>
                        </div>
                        <div class="row gutter-05">
                            <div *ngFor="let i of [0, 1, 2, 3]" class="col-lg-3 mb-3 md-md-0">
                                <div
                                    class="select-product cursor-pointer"
                                    routerLink="/brand-profile/featured-products"
                                >
                                    <ng-container *ngIf="featuredProducts && featuredProducts[i]; else select">
                                        <img
                                            class="product-img"
                                            [src]="featuredProducts[i].featured_image"
                                            alt="Product"
                                        />
                                        <p class="fnt-14 fnt-600 fnt-muli text-clr588 m-0">
                                            {{ featuredProducts[i].name }}
                                        </p>
                                    </ng-container>
                                    <ng-template #select>
                                        <img class="plus-circle" src="assets/images/plus-circle.svg" />
                                        <p class="fnt-14 fnt-600 fnt-muli text-clr588 m-0">Select a product</p>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="br-main br-2 mt-3 p-3 p-md-4">
                        <h4 class="fnt-18 fnt-700 fnt-muli text-clr334">Traceability stories</h4>
                        <p class="fnt-14 fnt-600 fnt-muli text-clr334">
                            Users will be redirected to your completed coffee experience stories. Give them insights!
                        </p>

                        <div class="w-100 sewn-form-field mb-4">
                            <label>
                                Title<span class="star">*</span>
                                <span class="pull-right text-clr588">
                                    {{ infoForm.get('traceability_story_title').value | wordCount }}/15 words
                                </span>
                            </label>
                            <input type="text" formControlName="traceability_story_title" pInputText />
                            <small *ngIf="infoForm.controls.traceability_story_title.errors?.required" class="p-error">
                                Required
                            </small>
                            <small
                                *ngIf="infoForm.controls.traceability_story_title.errors?.maxWordCount"
                                class="p-error"
                            >
                                Please input 15 words
                            </small>
                        </div>

                        <div class="w-100 sewn-form-field mb-4">
                            <label>
                                Sub heading
                                <span class="pull-right text-clr588">
                                    {{ infoForm.get('traceability_story_sub_heading').value | wordCount }}/30 words
                                </span>
                            </label>
                            <textarea
                                formControlName="traceability_story_sub_heading"
                                rows="3"
                                cols="50"
                                pInputTextarea
                            ></textarea>
                            <small
                                *ngIf="infoForm.controls.traceability_story_sub_heading.errors?.required"
                                class="p-error"
                            >
                                Required
                            </small>
                            <small
                                *ngIf="infoForm.controls.traceability_story_sub_heading.errors?.maxWordCount"
                                class="p-error"
                            >
                                Please input 30 words
                            </small>
                        </div>

                        <div class="w-100 sewn-form-field mb-2">
                            <p class="fnt-14 fnt-600 fnt-muli text-clr334 mb-1">
                                Upload an Image/Video<span class="star">*</span>
                            </p>
                            <p class="fnt-14 fnt-600 fnt-muli text-clr588 mb-4">Size - 540 x 445 px</p>
                            <app-uploader formControlName="traceability_story_file_1"></app-uploader>
                            <small *ngIf="infoForm.controls.traceability_story_file_1.errors?.required" class="p-error">
                                Please upload
                            </small>
                        </div>
                    </div>

                    <div class="br-main br-2 mt-3 p-3 p-md-4">
                        <h4 class="fnt-18 fnt-700 fnt-muli text-clr334">Sustainability</h4>
                        <p class="fnt-14 fnt-600 fnt-muli text-clr334">Give an intro to your practices</p>

                        <div class="w-100 sewn-form-field mb-4">
                            <label>
                                Title<span class="star">*</span>
                                <span class="pull-right text-clr588">
                                    {{ infoForm.get('sustainability_title').value | wordCount }}/15 words
                                </span>
                            </label>
                            <input type="text" formControlName="sustainability_title" pInputText />
                            <small *ngIf="infoForm.controls.sustainability_title.errors?.required" class="p-error">
                                Required
                            </small>
                            <small *ngIf="infoForm.controls.sustainability_title.errors?.maxWordCount" class="p-error">
                                Please input 15 words
                            </small>
                        </div>

                        <div class="w-100 sewn-form-field mb-4">
                            <label>
                                Sub heading
                                <span class="pull-right text-clr588">
                                    {{ infoForm.get('sustainability_sub_heading').value | wordCount }}/25 words
                                </span>
                            </label>
                            <textarea
                                formControlName="sustainability_sub_heading"
                                rows="3"
                                cols="50"
                                pInputTextarea
                            ></textarea>
                            <small
                                *ngIf="infoForm.controls.sustainability_sub_heading.errors?.maxWordCount"
                                class="p-error"
                            >
                                Please input 25 words
                            </small>
                        </div>

                        <div class="w-100 sewn-form-field mb-2">
                            <p class="fnt-14 fnt-600 fnt-muli text-clr334 mb-1">
                                Upload an Image/Video<span class="star">*</span>
                            </p>
                            <p class="fnt-14 fnt-600 fnt-muli text-clr588 mb-4">Size - 600 x 650 px</p>
                            <app-uploader formControlName="sustainability_file_1"></app-uploader>
                            <small *ngIf="infoForm.controls.sustainability_file_1.errors?.required" class="p-error">
                                Please upload
                            </small>
                        </div>
                    </div>

                    <div class="br-main br-2 mt-3 p-3 p-md-4 mb-3 mb-md-0">
                        <h4 class="fnt-18 fnt-700 fnt-muli text-clr334">Roastery Images</h4>
                        <p class="fnt-14 fnt-600 fnt-muli text-clr334">Add images of your roastery</p>

                        <div class="w-100 sewn-form-field mb-4">
                            <label>
                                Title for your shop purchases<span class="star">*</span>
                                <span class="pull-right text-clr588">
                                    {{ infoForm.get('roastery_images_title').value | wordCount }}/15 words
                                </span>
                            </label>
                            <input type="text" formControlName="roastery_images_title" pInputText />
                            <small *ngIf="infoForm.controls.roastery_images_title.errors?.required" class="p-error">
                                Required
                            </small>
                            <small *ngIf="infoForm.controls.roastery_images_title.errors?.maxWordCount" class="p-error">
                                Please input 15 words
                            </small>
                        </div>

                        <div class="w-100 sewn-form-field mb-2">
                            <p class="fnt-14 fnt-600 fnt-muli text-clr334 mb-1">
                                Upload 2 Images<span class="star">*</span>
                            </p>
                            <p class="fnt-14 fnt-600 fnt-muli text-clr588 mb-4">Size - 600 x 650 px</p>
                            <app-uploader formControlName="roastery_images" [count]="2" type="image"></app-uploader>
                            <small *ngIf="infoForm.controls.roastery_images.errors?.fileCount" class="p-error">
                                Please upload 2 images
                            </small>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4">
                    <div class="br-main br-4 p-1">
                        <div class="bg-f8 br-4 d-flex align-items-center justify-content-between cert-header">
                            <h5 class="fnt-14 fnt-muli fnt-700 text-black334 mb-0">Certificates</h5>
                            <label class="mb-0 cert-add">
                                <input type="file" class="d-none" />
                                <span class="fnt-muli fnt-700 d-inline-block">+</span>
                            </label>
                        </div>
                        <div class="p-3 p-md-4">
                            <div *ngFor="let item of certificates; index as i">
                                <div *ngIf="i" class="w-100 solid-divider my-3"></div>
                                <div
                                    class="d-flex flex-md-column flex-lg-row justify-content-between align-items-lg-center"
                                >
                                    <div class="pr-3">
                                        <h4 class="fnt-14 fnt-700 text-black334 mb-0">{{ item.name }}</h4>
                                        <span class="d-block fnt-12 fnt-600 text-gray588">{{ item.year }} </span>
                                    </div>
                                    <div>
                                        <a class="brown-cta" [href]="item.public_url" target="_blank"> View </a>
                                        <span class="v-divider mx-2"></span>
                                        <a class="brown-cta" (click)="deleteCertificate(item.id)">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="mt-45">
            <button class="btn-stroked mr-4" type="button" routerLink="/brand-profile">Cancel</button>
            <button type="button" class="btn-raised" (click)="saveHomeProfile()">Save</button>
        </div>
    </div>
</section>
