@import 'variables';

.phone-number-input {
    height: 45px !important;
    border: 1px solid $primary-border-color;
    border-radius: 4px;
    padding-left: 64px !important;
}

::ng-deep .iti {
    width: 100% !important;
    .iti__flag-container {
        width: 100%;
        left: 9px !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        .iti__selected-flag {
            border-right: 1px solid $primary-border-color !important;
            width: 47px;
        }
        .iti__country-list {
            width: 100%;
            overflow-x: hidden;
            margin-top: 4px;
            max-height: 225px;
            top: 45px;
            left: -8px;
            border: none;
            box-shadow: 0 22px 34px 0 rgba(0, 0, 0, 0.08);
            z-index: 99;
            .iti__country {
                border-radius: 2px;
                padding: 0.75rem 2rem 0.75rem 0.75rem;
                font-weight: $fw-m;
                color: $muted-text-color;
                &.iti__highlight {
                    background-color: $primary-bg-color;
                    color: $general-text-color;
                }
            }
        }
    }
}

::ng-deep .ng-invalid.ng-touched > .phone-number-wrap {
    .input-mask-wrap .p-inputmask {
        border: 1px solid $error-border-color !important;
        &:hover {
            border-color: $error-border-color !important;
        }
    }
}
::ng-deep .input-mask-wrap {
    width: 100%;
    position: absolute;
    top: 0;

    .p-inputmask {
        padding-left: 64px !important;
    }
}
