.info-text-wrapper {
    max-width: calc(100% - 16px);
    white-space: nowrap;
    & > div:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

::ng-deep {
    app-user-header {
        width: 100%;
    }
}
