<div class="d-flex justify-content-between">
    <div class="d-flex align-items-center w-100">
        <div class="mr-25">
            <app-user-detail
                [imageUrl]="
                    prop?.profile_image_url || prop?.profile_image_thumb_url || prop?.posted_user_profile_image_url
                "
                [userId]="prop?.user_id || prop?.posted_by"
                [orgType]="prop?.org_type || prop?.organisation_type || prop?.organization_type"
                size="40"
            ></app-user-detail>
        </div>
        <div class="flex-1">
            <div class="d-flex align-items-center mr-3 text-nowrap">
                <div
                    [ngClass]="{ ellipsis: enableEllipsis, 'cursor-pointer': isTopWriters }"
                    class="fw-b text-clr334 mr-md-3 mr-1"
                >
                    <a
                        *ngIf="isTopWriters"
                        routerLink="/user-profile"
                        [queryParams]="{
                            user_id: prop?.user_id,
                            organization: prop?.org_type,
                            organization_id: prop?.org_id
                        }"
                    >
                        {{
                            prop?.user_name ||
                                prop?.question_user ||
                                prop?.posted_user ||
                                prop?.first_name ||
                                prop?.firstname ||
                                prop?.lastname ||
                                'Unknown User'
                        }}
                        {{ prop?.last_name }}</a
                    >
                    <span *ngIf="!isTopWriters">
                        {{
                            prop?.user_name ||
                                prop?.question_user ||
                                prop?.posted_user ||
                                prop?.first_name ||
                                prop?.firstname ||
                                prop?.lastname ||
                                'Unknown User'
                        }}
                        {{ prop?.last_name }}
                    </span>
                </div>
            </div>
            <div
                class="lh-1 text-clr588 mt-2 d-flex text-nowrap"
                [class.justify-content-md-between]="prop?.question && !prop.question_id"
            >
                <div>
                    <span class="fw-m mr-1" *ngIf="orgType !== 'co'">{{ 'coffee_experts' | translate }}</span>
                    <span class="fw-m mr-1" *ngIf="orgType === 'co'">{{ 'coffee_consumer' | translate }}</span>
                    <span
                        *ngIf="
                            prop?.org_type !== 'sa' &&
                            prop?.organisation_type !== 'sa' &&
                            prop?.organization_type !== 'sa'
                        "
                        [ngClass]="{ ellipsis: enableEllipsis }"
                        class="pb-1"
                        >@{{
                            prop?.company_name || prop?.organization_name || prop?.organisation_name || prop?.org_type
                        }}</span
                    >
                    <span
                        *ngIf="
                            prop?.org_type === 'sa' ||
                            prop?.organisation_type === 'sa' ||
                            prop?.organization_type === 'sa'
                        "
                        [ngClass]="{ ellipsis: enableEllipsis }"
                        class="pb-1"
                        >@{{ orgType === 'sa' || !orgType ? 'Era of We' : orgType }}</span
                    >
                </div>
                <div class="d-flex" *ngIf="prop?.question || prop?.answer || isArticleDetail || isRecipeDetail">
                    <span
                        *ngIf="prop?.answer || prop.question_id || prop?.comment"
                        class="d-none d-md-block time-point"
                    ></span>
                    <span
                        class="fw-n text-clr588 d-none d-md-block position-relative"
                        [class.align-time]="prop?.question && !prop.question_id"
                    >
                        {{
                            prop?.updated_at || prop?.posted_at || prop?.created_at
                                | amTimeAgo: true
                                | dateAgoReplace: true
                        }}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div *ngIf="total">
            <img src="assets/images/thumbs-up-button.svg" alt="thumbs-up-button" />
        </div>
    </div>
</div>
