.time-point {
    width: 3px;
    height: 3px;
    margin: 6px 6px 6px 8px;
    background-color: #232334;
    @media (max-width: 768px) {
        margin: 6px 4px 6px 4px;
    }
}

.align-time {
    left: 29px;
}
