<div class="col-12">
    <ul class="row quicker-files">
        <li class=" col-md-4 col-lg-3 quicker-files__list">
            <div class="quick-pinned-files">
                <div class="quick-pinned-files__Image">
                    <input type="file">
                    <img class="img" src="assets/images/stirring-up.png">
                </div>
                <div class="quick-pinned-files__info d-flex align-items-center flex-wrap clearfix">
                    <div class="file-name float-left">
                        <h4 class="fnt-12 fnt-muli fnt-700 text-black334 mb-0">P 60 Drum roaster</h4>
                        <span class="fnt-12 fnt-muli fnt-700 text-gray588 mb-0">PDF</span>
                    </div>
                    <div class="file-dropdown ml-auto">
                        <img class="img" src="assets/images/dwnd.png">
                        <img class="img" src="assets/images/more-opns-file.png">
                    </div>
                </div>
            </div>
        </li>

        <li class=" col-md-4 col-lg-3 quicker-files__list">
            <div class="quick-pinned-files">
                <div class="quick-pinned-files__Image">
                    <input type="file">
                    <img class="img" src="assets/images/stirring-up.png">
                </div>
                <div class="quick-pinned-files__info d-flex align-items-center flex-wrap clearfix">
                    <div class="file-name float-left">
                        <h4 class="fnt-12 fnt-muli fnt-700 text-black334 mb-0">Manual Intructions</h4>
                        <span class="fnt-12 fnt-muli fnt-700 text-gray588 mb-0">PDF</span>
                    </div>
                    <div class="file-dropdown ml-auto">
                        <img class="img" src="assets/images/dwnd.png">
                        <img class="img" src="assets/images/more-opns-file.png">
                    </div>
                </div>
            </div>
        </li>
        <li class=" col-md-4 col-lg-3 quicker-files__list">
            <div class="quick-pinned-files">
                <div class="quick-pinned-files__Image">
                    <input type="file">
                    <img class="img" src="assets/images/era-of-we-file.png">

                </div>
                <div class="quick-pinned-files__info d-flex align-items-center flex-wrap clearfix">
                    <div class="file-name float-left">
                        <h4 class="fnt-12 fnt-muli fnt-700 text-black334 mb-0">Saturn Centrifugal Roaster</h4>
                        <span class="fnt-12 fnt-muli fnt-700 text-gray588 mb-0">PDF</span>
                    </div>
                    <div class="file-dropdown ml-auto">
                        <img class="img" src="assets/images/dwnd.png">
                        <img class="img" src="assets/images/more-opns-file.png">
                    </div>
                </div>
            </div>
        </li>
        <li class=" col-md-4 col-lg-3 quicker-files__list">
            <div class="quick-pinned-files">
                <div class="quick-pinned-files__Image">
                    <input type="file">
                    <img class="img" src="assets/images/the-story-file.png">
                </div>
                <div class="quick-pinned-files__info d-flex align-items-center flex-wrap clearfix">
                    <div class="file-name float-left">
                        <h4 class="fnt-12 fnt-muli fnt-700 text-black334 mb-0">P 60 Drum roaster</h4>
                        <span class="fnt-12 fnt-muli fnt-700 text-gray588 mb-0">PDF</span>
                    </div>
                    <div class="file-dropdown ml-auto">
                        <img class="img" src="assets/images/dwnd.png">
                        <img class="img" src="assets/images/more-opns-file.png">
                    </div>
                </div>
            </div>
        </li>

        <li class=" col-md-4 col-lg-3 quicker-files__list">
            <div class="quick-pinned-files">
                <div class="quick-pinned-files__Image">
                    <input type="file">
                    <img class="img" src="assets/images/the-story-file.png">
                </div>
                <div class="quick-pinned-files__info d-flex align-items-center flex-wrap clearfix">
                    <div class="file-name float-left">
                        <h4 class="fnt-12 fnt-muli fnt-700 text-black334 mb-0">Safety helpline numbers</h4>
                        <span class="fnt-12 fnt-muli fnt-700 text-gray588 mb-0">PDF</span>
                    </div>
                    <div class="file-dropdown ml-auto">
                        <img class="img" src="assets/images/dwnd.png">
                        <img class="img" src="assets/images/more-opns-file.png">
                    </div>
                </div>
            </div>
        </li>

        <li class=" col-md-4 col-lg-3 quicker-files__list">
            <div class="quick-pinned-files">
                <div class="quick-pinned-files__Image">
                    <input type="file">
                    <img class="img" src="assets/images/the-story-file.png">
                </div>
                <div class="quick-pinned-files__info d-flex align-items-center flex-wrap clearfix">
                    <div class="file-name float-left">
                        <h4 class="fnt-12 fnt-muli fnt-700 text-black334 mb-0">Neptune Drum Roaster</h4>
                        <span class="fnt-12 fnt-muli fnt-700 text-gray588 mb-0">PDF</span>
                    </div>
                    <div class="file-dropdown ml-auto">
                        <img class="img" src="assets/images/dwnd.png">
                        <img class="img" src="assets/images/more-opns-file.png">
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>