<div class="col-12">
    <ul class="row quicker-files">
        <li class=" col-md-4 col-lg-3 quicker-files__list img-div" *ngFor="let item of mainData | filter:fileService.filterTerm">
            <div class="quick-pinned-files filegridview">
                <div class="quick-pinned-files__Image">
                    <input type="file">
                    <img class="img cursor-pointer" *ngIf="item.type != 'FOLDER'" src="{{item.url}}"  (click)="popupPrivew($event)">
                    <img class="folder-img " *ngIf="item.type == 'FOLDER'"  src="../../../../../../assets/images/folder-icon.png">
                   
                </div>
                <div class="quick-pinned-files__info d-flex align-items-center flex-wrap clearfix">
                    <div class="file-name float-left">
                        <h4 class="fnt-12 fnt-muli fnt-700 text-black334 mb-0 cursor-pointer" *ngIf="item.type == 'FOLDER'" (click)="shareDetails(item)">{{item.name}}</h4>
                        <h4 class="fnt-12 fnt-muli fnt-700 text-black334 mb-0" *ngIf="item.type != 'FOLDER'">{{item.name}}</h4>
                        <span class="fnt-12 fnt-muli fnt-700 text-gray588 mb-0">{{item.type | titlecase}}</span>
                    </div>
                    <div class="file-dropdown ml-auto">
                        <img class="img"  *ngIf="item.type != 'FOLDER'" src="assets/images/dwnd.png">
                        <a class="menu-arrow" [popover]="documentTemplate" placement="left" [outsideClick]="true" #pop="bs-popover">
                            <img class="img" src="assets/images/more-opns-file.png">
                            </a>
                            <ng-template #documentTemplate id="{{item.id}}">
                                    <div id="popover-mobile-content">
                                        <ul class="list-group custom-popover">
                                            <li class="list-group-item" *ngIf="item.type != 'FOLDER'"> <a class="pointer-item" (click)="pop.hide();">Download </a></li>
                                            <li class="list-group-item" *ngIf="item.type == 'FOLDER'"><a class="pointer-item" (click)="openModal(template,item.id);pop.hide();">Rename</a></li>
                                            <li class="list-group-item" *ngIf="item.type != 'FOLDER'"><a class="pointer-item" (click)="openFileModal(fileTemplate,item.id);pop.hide();">Rename</a></li>
                                            <li class="list-group-item"><a class="pointer-item" (click)="pop.hide();">Comment</a></li>
                                            <li class="list-group-item" *ngIf="item.type == 'FOLDER'"><a class="pointer-item" (click)="pop.hide();deleteFolder(item.id);">Delete</a></li>
                                            <li class="list-group-item" *ngIf="item.type != 'FOLDER'"><a class="pointer-item" (click)="pop.hide();deleteFile(item.id);">Delete</a></li>
                                        </ul>
                                    </div>
                                </ng-template>
                    </div>
                </div>
            </div>
        </li>

        <!-- <li class=" col-md-4 col-lg-3 quicker-files__list">
            <div class="quick-pinned-files">
                <div class="quick-pinned-files__Image">
                    <input type="file">
                    <img class="img" src="assets/images/stirring-up.png">
                </div>
                <div class="quick-pinned-files__info d-flex align-items-center flex-wrap clearfix">
                    <div class="file-name float-left">
                        <h4 class="fnt-12 fnt-muli fnt-700 text-black334 mb-0">Manual Intructions</h4>
                        <span class="fnt-12 fnt-muli fnt-700 text-gray588 mb-0">PDF</span>
                    </div>
                    <div class="file-dropdown ml-auto">
                        <img class="img" src="assets/images/dwnd.png">
                        <img class="img" src="assets/images/more-opns-file.png">
                    </div>
                </div>
            </div>
        </li>
        <li class=" col-md-4 col-lg-3 quicker-files__list">
            <div class="quick-pinned-files">
                <div class="quick-pinned-files__Image">
                    <input type="file">
                    <img class="img" src="assets/images/era-of-we-file.png">

                </div>
                <div class="quick-pinned-files__info d-flex align-items-center flex-wrap clearfix">
                    <div class="file-name float-left">
                        <h4 class="fnt-12 fnt-muli fnt-700 text-black334 mb-0">Saturn Centrifugal Roaster</h4>
                        <span class="fnt-12 fnt-muli fnt-700 text-gray588 mb-0">PDF</span>
                    </div>
                    <div class="file-dropdown ml-auto">
                        <img class="img" src="assets/images/dwnd.png">
                        <img class="img" src="assets/images/more-opns-file.png">
                    </div>
                </div>
            </div>
        </li>
        <li class=" col-md-4 col-lg-3 quicker-files__list">
            <div class="quick-pinned-files">
                <div class="quick-pinned-files__Image">
                    <input type="file">
                    <img class="img" src="assets/images/the-story-file.png">
                </div>
                <div class="quick-pinned-files__info d-flex align-items-center flex-wrap clearfix">
                    <div class="file-name float-left">
                        <h4 class="fnt-12 fnt-muli fnt-700 text-black334 mb-0">P 60 Drum roaster</h4>
                        <span class="fnt-12 fnt-muli fnt-700 text-gray588 mb-0">PDF</span>
                    </div>
                    <div class="file-dropdown ml-auto">
                        <img class="img" src="assets/images/dwnd.png">
                        <img class="img" src="assets/images/more-opns-file.png">
                    </div>
                </div>
            </div>
        </li>

        <li class=" col-md-4 col-lg-3 quicker-files__list">
            <div class="quick-pinned-files">
                <div class="quick-pinned-files__Image">
                    <input type="file">
                    <img class="img" src="assets/images/the-story-file.png">
                </div>
                <div class="quick-pinned-files__info d-flex align-items-center flex-wrap clearfix">
                    <div class="file-name float-left">
                        <h4 class="fnt-12 fnt-muli fnt-700 text-black334 mb-0">Safety helpline numbers</h4>
                        <span class="fnt-12 fnt-muli fnt-700 text-gray588 mb-0">PDF</span>
                    </div>
                    <div class="file-dropdown ml-auto">
                        <img class="img" src="assets/images/dwnd.png">
                        <img class="img" src="assets/images/more-opns-file.png">
                    </div>
                </div>
            </div>
        </li>

        <li class=" col-md-4 col-lg-3 quicker-files__list">
            <div class="quick-pinned-files">
                <div class="quick-pinned-files__Image">
                    <input type="file">
                    <img class="img" src="assets/images/the-story-file.png">
                </div>
                <div class="quick-pinned-files__info d-flex align-items-center flex-wrap clearfix">
                    <div class="file-name float-left">
                        <h4 class="fnt-12 fnt-muli fnt-700 text-black334 mb-0">Neptune Drum Roaster</h4>
                        <span class="fnt-12 fnt-muli fnt-700 text-gray588 mb-0">PDF</span>
                    </div>
                    <div class="file-dropdown ml-auto">
                        <img class="img" src="assets/images/dwnd.png">
                        <img class="img" src="assets/images/more-opns-file.png">
                    </div>
                </div>
            </div>
        </li> -->
    </ul>
</div>


<ng-template #template>
        <div class="modal-header">
            <h5 class="modal-title fnt-18 fnt-muli fnt-700 text-black2424 mb-0">Update folder</h5>
            <button type="button" class="close pull-right"  aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
                <form>
                    <div class="roastery-fields mb-4">
                        <div class="farm-input col-12 col-md-5 px-0">
                            <label class="mb-0">Name</label>
                            <input type="hidden" [(ngModel)]="folderItemId" value="{{ folderItemId }}" [ngModelOptions]="{ standalone: true }" />
                            <input type="text" placeholder="Enter folder name" [(ngModel)]="folderName" name="updatefolder_name" id="updatefolder_name"  required >
                            <div class="folderNameError" *ngIf="folderNameError != ''">{{folderNameError}}</div>
                        </div>
                    </div>
                    <div class="roastery-fields mb-4">
                        <div class="farm-input col-12 px-0">
                            <label class="mb-0">Give a short description to your folder (optional) *</label>
                            <textarea class="mb-0" type="text" rows="5"
                                placeholder="Give a short description to your folder (optional) "  [(ngModel)]="folderDescription" id="updatefolder_descr"  name="updatefolder_descr"  required></textarea>
                                <div class="descriptionError" *ngIf="descriptionError != ''">{{descriptionError}}</div>
                        </div>
                    </div>
            </form>
        <div class="main_button">
            <button type="submit" class="btn create-share fnt-14 fnt-700 fnt-muli pull-right mt-2 mb-4"  (click)="UpdateFolder()">Update</button>
            
        </div>
    </div>
    </ng-template>  

    <ng-template #fileTemplate>
            <div class="modal-header">
                <h5 class="modal-title fnt-18 fnt-muli fnt-700 text-black2424 mb-0">Update file</h5>
                <button type="button" class="close pull-right"  aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <form>
                        <div class="roastery-fields mb-4">
                            <div class="farm-input col-12 col-md-5 px-0">
                                <label class="mb-0">Name</label>
                                <input type="text" placeholder="Enter file name" name="updatefile_name" id="updatefile_name" [(ngModel)]="file_name"  required >
                                <div class="fileNameError" *ngIf="fileNameError != ''">{{fileNameError}}</div>
                            </div>
                        </div>
                        <div class="roastery-fields mb-4">
                            <div class="farm-input col-12 px-0">
                                <label class="mb-0">Give a short description to your file (optional) *</label>
                                <textarea class="mb-0" type="text" rows="5"
                                    placeholder="Give a short description to your file (optional) " id="updatefile_descr"  name="updatefile_descr" [(ngModel)]="file_description"  required></textarea>
                                    <div class="filedescriptionError" *ngIf="filedescriptionError != ''">{{filedescriptionError}}</div>
                            </div>
                        </div>
                        <div class="roastery-fields mb-4">
                            <label class="mb-1 mr-2 ">File Upload </label>
                            <label class="share-bor mr-3">
                                <input class="file-inpt" type="file" (change)="reUploadFile($event);">
                                 <img class="share-img" src="assets/images/upload-icon.png" alt="farm"> 
                                 <span class="share-txt ml-2"> Upload </span> 
                            </label>
                            <span class="value-name">{{fileNameValue}}</span>
                        </div>
                </form>
            <div class="main_button">
                <button type="submit" class="btn create-share fnt-14 fnt-700 fnt-muli pull-right mt-2 mb-4" (click)="updateFile()">Update</button>
                
            </div>
        </div>
        </ng-template>

        <div class="priview-popup-fileshare">
            <div class="priview-popup-fileshare__back d-flex justify-content-betwen clearfix ">
                <div class="float-left">
                    <img src="assets/images/popup-back-arrow.svg" (click)="popupClose()">
                    <span class="ml-2 fnt-16 fnt-600 fnt-muli text-white"></span>
                </div>
                <div class="img-side-dots ml-auto">
                    <span></span>
                    <span></span>
                    <span class="mb-0"></span>
                </div>
            </div>
            <div class="priview-popup-fileshare__img">
                <img class="img" src="assets/images/quick-f2.png">
            </div>
        
        </div>
    