.mail-id {
    font-size: 18px;
    font-weight: bold;
    color: #232334;
}
.align-btn {
    margin-top: 1.5rem;
}

.successful-text {
    font-size: 32px !important;
    color: #232334 !important;
    margin-bottom: 3% !important;
    font-weight: normal !important;
}

.done-btn:hover {
    background-color: #30855c;
    box-shadow: 0 0 7px 1px rgba(67, 146, 108, 0.5);
}

@media (max-width: 420px) {
    .mail-box {
        margin-top: 35% !important;
        margin-bottom: 30% !important;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .success-mail {
        margin-bottom: 0.5rem !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .align-btn {
        width: 100% !important;
    }
}
