@import 'variables';

.nav-item__link {
    position: relative;
    background: none;
    color: #232334 !important;
    border-bottom: 1px solid #eeeeee;
    border-radius: unset !important;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: #ffffff;

    .sid-text,
    .sid-value {
        font-family: $general-font-family;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.43;
        color: #232334;
        margin: 0;
    }

    .sid-text::after {
        content: '\00a0:\00a0';
    }

    .origin-text {
        font-family: $general-font-family;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.43;
        color: #747588;
        margin: 0;
        padding-top: 0.25rem;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 2px;
        width: 4px !important;
        height: 0;
        background-color: #30855c;
        -webkit-transition: none !important;
        transition: none !important;
        z-index: 1;
        border-bottom-right-radius: 100px;
        border-top-right-radius: 100px;
    }

    &.active {
        background-color: #f8f8f8;

        &::before {
            height: 100%;
            opacity: 1;
            color: #232334 !important;
        }
    }
}

.tab-titles,
.tab-contents {
    background-color: #ffffff;
}

.tab-titles {
    flex-wrap: nowrap;
    white-space: nowrap;
}

.tab-pad-report {
    padding: 0px 30px 0px 5px;
    background: transparent;

    .tab-pad-wrapper {
        background: #ffffff;
    }
}

.nav-title-wrapper {
    padding: 16px 16px 16px 10px;
    border-bottom: 1px solid #d6d6d6;
    border-radius: unset !important;
    background: #ffffff;
}

.add-another {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: auto;
    color: #80460b;
    cursor: pointer;
    padding: 1rem 1.5rem;
    font-weight: bold;
    background: #faf8f4;
}

// .tab-mob-generate-pad {
//     margin-top: -0.75rem;
// }

@media only screen and (min-width: 1138px) {
    .tab-pad-report {
        max-width: calc(100% - 13rem);
    }
}

@media only screen and (min-width: 992px) {
    .tab-mob-scroll {
        max-width: 12rem;
    }

    .tab-pad-report {
        flex: 1;
        max-width: calc(100% - 12rem);
    }
}

@media only screen and (max-width: 991px) {
    .tab-mob-scroll {
        overflow-y: auto;
        padding: 0;
        margin-left: 1rem;
        width: calc(100% - 2rem);
        flex: none;
        border-top: 1px solid #ebebeb;
        border-bottom: 1px solid #ebebeb;

        .tab-titles {
            width: fit-content;
            min-width: 100%;
        }

        .add-another {
            margin-top: 0;
            margin-left: auto;
            font-size: 12px;
            background: #ffffff;
            & > span {
                font-size: 12px;
            }
        }

        .nav-title-wrapper {
            display: none;
        }
    }

    .nav-item__link {
        border-right: 1px solid #eeeeee;
        border-bottom: none;
        min-width: 6rem;
        padding: 0.5rem !important;

        &.active::before {
            height: 3px;
            width: 100% !important;
            bottom: 0;
            top: auto;
            left: 48px;
        }

        .sid-text,
        .sid-value {
            font-weight: bold;
            line-height: normal;
        }

        .sid-text::after {
            content: '';
        }

        .origin-text {
            font-size: 12px;
            font-weight: bold;
            line-height: normal;
            color: #747588;
            padding-top: 0.5rem;
        }
    }

    .tab-pad-report {
        padding: 0 1rem;
    }
}

@media only screen and (max-width: 767px) {
    .tab-pad-report {
        width: 100% !important;
    }
}

@media only screen and (max-width: 575px) {
    .tab-mob-generate-pad {
        margin-top: -1rem;

        .tab-pad-report {
            padding: 1rem 1rem 0;
        }

        .tab-mob-scroll {
            margin-left: 0;
            width: 100%;
        }
    }
}
