@import 'variables';

.p-calendar {
    width: 100% !important;
    .p-button-icon {
        font-size: 20px;
    }
    .p-inputtext {
        padding: 0.9375rem 0 !important;
    }
    .sewn-form-field .p-inputtext {
        padding: 0.9375rem 1rem !important;
    }
}

.br_top {
    border-top: dotted 1px $primary-border-color;
}

.cust-profile {
    border: 0.3px solid #dddddd;
    border-radius: 4px;
    padding: 1.5rem;
    border-radius: 4px;
}

::ng-deep .sewn-form-field .dropdownClass .p-inputgroup-addon {
    padding: 5px !important;
}
::ng-deep .p-inputgroup-addon .p-dropdown .p-inputtext {
    position: relative;
    bottom: 4px;
}

.weightInputGroupDiv {
    border: 1px solid $primary-border-color !important;
    border-radius: 4px;
}

.weightInputGroupDiv .weightInputDiv {
    margin-left: 1rem;
}

.weightInputGroupDiv:enabled:hover,
.weightInputGroupDiv:enabled:focus {
    border-color: #30855c !important;
}

.weightInputDiv {
    border: none !important;
}
.weightInputDivKg {
    width: 135px;
}
.weightInputDivKg,
.daysInputDiv {
    display: flex;
    align-items: center;
    padding: 0.75rem 1.5rem;
    background-color: #fafafa;
    margin: 3px;
}

.br_left {
    border-left: 0.3px solid #868686;
}

.sewn-form-field .p-inputgroup.custom-addon .p-inputtext,
.sewn-form-field .p-inputgroup.custom-addon .p-inputnumber-input {
    padding-right: 0 !important;
}

.sewn-form-field .p-inputgroup.custom-addon .p-inputgroup-addon {
    padding: 0.9375rem 0.25rem;
}

.cursor-point,
.cursor-point input {
    cursor: pointer;
    padding-left: 0 !important;
}

.order-h {
    margin-top: 7px;
    padding-right: 0;
}

.order-details-clr {
    border-radius: 8px;
    background-color: #faf8f4;
    padding: 2rem;
}

.sewn-form-field .p-inputnumber-input {
    border: 0px !important;
}
.recent-time {
    td {
        padding: 1rem 1rem 1rem 1.5rem !important;
        border: 1px solid #dddddd !important;
    }
    .recent-data-ans {
        padding: 1rem 1.5rem 1rem 1.5rem !important;
        .list-ans {
            word-break: break-word;
        }
    }
}

.mr input {
    margin-left: 0 !important;
}

@media (max-width: 1199px) and (min-width: 768px) {
    .recent-time {
        width: 100%;
    }
    .order-details-clr {
        padding: 32px 16px;
    }
}

@media (max-width: 767px) {
    .mobile-w {
        width: 135px;
    }
    .breadcrumb-container {
        overflow-x: scroll;
    }
    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .recent-time {
        border: 1px solid #dddddd;
        border-radius: 4px;
        tr {
            border-bottom: 1px dashed $primary-border-color;
        }
        tr:last-child {
            border-bottom: none;
        }
        td {
            padding: 1rem 0rem 1rem 1rem !important;
            border: 0px solid #dddddd !important;
        }
    }
    .padd {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .sewn-form-field {
        margin-top: 1rem;
    }
    .br_top {
        margin-top: 1.5rem;
        padding-top: 1.5rem;
    }
    .copy-link input {
        width: 70% !important;
        padding: 0.75rem;
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    }
    .copy-link button {
        position: relative;
        bottom: 8px;
        padding: 0.75rem;
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
    }
    ::-webkit-scrollbar-track {
        box-shadow: none !important;
        border-radius: 6px;
    }

    ::-webkit-scrollbar-thumb {
        background: transparent !important;
        box-shadow: none !important;
    }
    .download-qr-link {
        margin-top: 10px;
    }

    .order-details-clr {
        padding: 12px;
    }
}
@media (min-width: 992px) {
    .copy-link button {
        padding: 15px 24px;
    }
    .copy-link input {
        padding: 14px;
    }
    .padd-2r {
        padding: 1rem 0;
    }
    .col-lg-4 {
        flex: 0 0 38% !important;
        max-width: 38% !important;
    }
    .weightInputGroupDiv {
        height: 50px;
    }
    .mrt {
        margin-top: -1rem !important;
    }
}

@media (min-width: 768px) {
    .flex {
        display: flex !important;
    }
}

@media (min-width: 1200px) {
    .col-xl-8 {
        flex: 0 0 62% !important;
        max-width: 62% !important;
    }
    .margin-left {
        margin-left: -1rem !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .tab {
        display: flex;
    }
    .tab-width {
        width: 50%;
    }
    .tab-width-right {
        width: 50%;
        display: flex;
        justify-content: center;
    }
    .tab-btn {
        width: 100%;
        height: 45px;
        border-radius: 0px !important;
    }
    .tab-input {
        margin-bottom: 0 !important;
        height: 45px;
    }
    .download-qr-link {
        margin-top: 14px;
        margin-bottom: 12px;
    }
    .tab-bottom-margin {
        margin-bottom: 24px !important;
    }
    .contact-for-help__text {
        padding-top: 16px !important;
    }
    .contact-for-help {
        margin-bottom: -16px;
    }
    .padd-2r {
        padding-top: 1rem;
    }
}
