<div *ngIf="!showOrderPanel" class="main-block">
    <div class="d-flex justify-content-between mb-45 pb-2">
        <div class="breadcrumb-container">
            <p-breadcrumb [model]="breadItems"></p-breadcrumb>
        </div>
    </div>
    <section>
        <div class="d-flex mb-3 pb-2">
            <div class="fnt-md-18 fnt-16 fnt-bold text-clr334 fnt-muli mb-2 mb-md-1">Add a new order</div>
        </div>
        <div class="row">
            <div class="col-lg-7 col-md-12">
                <div class="row mb-45">
                    <div class="col-sm-12 col-md-6 pl-md-3">
                        <div class="sewn-form-field mb-0 w-100">
                            <div>
                                <label>Product name<span class="text-clr-e5a">*</span></label>
                            </div>
                            <input
                                pInputText
                                class="roastery-website-input border"
                                [formControl]="addOrdersForm.controls['product_name']"
                                type="text"
                                pInputText
                            />
                            <small *ngIf="addOrdersForm.controls['product_name'].errors?.required" class="p-error">
                                Required
                            </small>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 pl-md-2">
                        <div class="sewn-form-field mb-0 w-100">
                            <div>
                                <label>Date Placed<span class="text-clr-e5a">*</span></label>
                            </div>
                            <p-calendar
                                [formControl]="addOrdersForm.controls['order_date']"
                                [showIcon]="true"
                                inputId="icon"
                            ></p-calendar>
                            <small *ngIf="addOrdersForm.controls['order_date'].errors?.required" class="p-error">
                                Required
                            </small>
                        </div>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="fnt-md-18 fnt-16 fnt-bold text-clr334 fnt-muli mb-2 mb-md-1">Order ID*</div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6 pl-md-3">
                        <div class="sewn-form-field mb-0 w-100">
                            <div>
                                <label>Select the green coffee order</label>
                            </div>
                            <div class="weightInputGroupDiv d-flex inputFieldBox">
                                <div class="w-100">
                                    <input
                                        pInputText
                                        class="roastery-website-input border weightInputDiv"
                                        type="text"
                                        [formControl]="addOrdersForm.controls['order_id']"
                                        pInputText
                                    />
                                </div>
                                <div class="daysInputDiv fnt-14 fnt-600 fnt-muli text-clr334 right_angle">
                                    <i (click)="showOrderPanel = true" class="pi pi-angle-right fnt-20"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 pl-md-2">
                        <div class="sewn-form-field mb-0 w-100">
                            <div>
                                <label>Roaster ref no</label>
                            </div>
                            <input
                                pInputText
                                class="roastery-website-input border"
                                type="text"
                                [formControl]="addOrdersForm.controls['roaster_ref_no']"
                                pInputText
                            />
                        </div>
                    </div>
                </div>
                <div class="row my-45">
                    <div class="col-sm-12 col-md-6 pl-md-3">
                        <div class="sewn-form-field mb-0 w-100">
                            <div>
                                <label>Order created by</label>
                            </div>
                            <div class="weightInputGroupDiv d-flex inputFieldBox">
                                <div class="w-100">
                                    <input
                                        pInputText
                                        class="roastery-website-input border weightInputDiv"
                                        [formControl]="addOrdersForm.controls['order_created_by']"
                                        type="text"
                                        pInputText
                                    />
                                </div>
                                <div class="daysInputDiv fnt-14 fnt-600 fnt-muli text-clr334 right_angle">
                                    <i class="pi pi-angle-right fnt-20"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 pl-md-2">
                        <div class="sewn-form-field mb-0 w-100">
                            <div>
                                <label>Select the sales member for the order<span class="text-clr-e5a">*</span></label>
                            </div>
                            <div class="weightInputGroupDiv d-flex inputFieldBox">
                                <div class="w-100">
                                    <input
                                        pInputText
                                        class="roastery-website-input border weightInputDiv"
                                        type="text"
                                        placeholder="Select a team member"
                                        [formControl]="addOrdersForm.controls['sales_member_id']"
                                        pInputText
                                    />
                                </div>
                                <div class="daysInputDiv fnt-14 fnt-600 fnt-muli text-clr334 right_angle">
                                    <i class="pi pi-angle-right fnt-20"></i>
                                </div>
                                <small
                                    *ngIf="addOrdersForm.controls['sales_member_id'].errors?.required"
                                    class="p-error"
                                >
                                    Required
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column br_top mt-md-3 pt-3">
                    <div class="fnt-md-18 fnt-16 fnt-bold text-clr334 fnt-muli mb-2 pt-md-3 mb-md-1">Order details</div>
                    <div class="fnt-14 fnt-400 text-clr334 fnt-muli mb-3">Select the green coffee order</div>
                </div>
                <div class="row padd-2r">
                    <div class="col-md-6 col-sm-12 pl-md-3">
                        <div class="sewn-form-field mb-0 w-100">
                            <div>
                                <label>Select the type of customer<span class="text-clr-e5a">*</span></label>
                            </div>
                            <p-dropdown
                                [options]="customerTypeArray"
                                optionLabel="label"
                                placeholder="Select the type of customer"
                                [formControl]="addOrdersForm.controls['customer_type']"
                                optionValue="value"
                                (onChange)="customerTypeChange($event)"
                            ></p-dropdown>
                            <small *ngIf="addOrdersForm.controls['customer_type'].errors?.required" class="p-error">
                                Required
                            </small>
                        </div>
                    </div>
                    <div *ngIf="typeOfCustomer === 'mr' || typeOfCustomer === 'hrc'" class="col-sm-12 col-md-6 pl-md-2">
                        <div class="sewn-form-field mb-0 w-100">
                            <div>
                                <label>Customer name<span class="text-clr-e5a">*</span></label>
                            </div>
                            <div class="weightInputGroupDiv d-flex inputFieldBox">
                                <div class="w-100">
                                    <input
                                        pInputText
                                        class="roastery-website-input border weightInputDiv"
                                        type="text"
                                        [formControl]="addOrdersForm.controls['customer_name']"
                                        pInputText
                                    />
                                </div>
                                <div class="daysInputDiv fnt-14 fnt-600 fnt-muli text-clr334 right_angle">
                                    <i class="pi pi-angle-right fnt-20"></i>
                                </div>
                                <small *ngIf="addOrdersForm.controls['customer_name'].errors?.required" class="p-error">
                                    Required
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="typeOfCustomer === 'hrc'" class="row padd-2r">
                    <div class="col-md-6 col-sm-12 pl-md-3">
                        <div class="sewn-form-field mb-0 w-100">
                            <div>
                                <label>Type of company</label>
                            </div>
                            <input
                                pInputText
                                class="roastery-website-input border"
                                type="text"
                                [formControl]="addOrdersForm.controls['company_type']"
                                placeholder="Office"
                                pInputText
                            />
                        </div>
                    </div>
                </div>
                <div *ngIf="typeOfCustomer === 'mr' || typeOfCustomer === 'hrc'" class="row padd-2r">
                    <div class="col-sm-12 col-md-6 pl-md-3">
                        <div class="sewn-form-field mb-0 w-100">
                            <div>
                                <label>Price paid by the customer per kg<span class="text-clr-e5a">*</span></label>
                            </div>
                            <div class="weightInputGroupDiv d-flex inputFieldBox">
                                <div class="w-100">
                                    <input
                                        type="number"
                                        class="weightInputDiv"
                                        [formControl]="addOrdersForm.controls['unit_price']"
                                        placeholder="Price paid by the customer per kg"
                                        pInputText
                                    />
                                </div>
                                <div class="weightInputDivKg">
                                    <span>SEK / kg</span>
                                </div>
                                <small *ngIf="addOrdersForm.controls['unit_price'].errors?.required" class="p-error">
                                    Required
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 pl-md-2">
                        <div class="sewn-form-field mb-0 w-100">
                            <div>
                                <label>Total price paid by the customer<span class="text-clr-e5a">*</span></label>
                            </div>
                            <div class="weightInputGroupDiv d-flex inputFieldBox">
                                <div class="daysInputDiv fnt-14 fnt-600 fnt-muli text-clr334">
                                    <span>$</span>
                                </div>
                                <div class="w-100">
                                    <input
                                        type="number"
                                        class="weightInputDiv"
                                        [formControl]="addOrdersForm.controls['total_price']"
                                        placeholder="Total price paid by the customer"
                                        pInputText
                                    />
                                </div>
                                <small *ngIf="addOrdersForm.controls['total_price'].errors?.required" class="p-error">
                                    Required
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="typeOfCustomer === 'hrc'" class="row padd-2r mb-md-3">
                    <div class="col-md-6 col-sm-12 pl-md-3">
                        <div class="sewn-form-field mb-0 w-100">
                            <div>
                                <label>Total weight of coffee sold<span class="text-clr-e5a">*</span></label>
                            </div>
                            <div class="p-inputgroup custom-addon dropdownClass inputFieldBox">
                                <p-inputNumber
                                    [formControl]="addOrdersForm.controls['gc_total_quantity']"
                                ></p-inputNumber>
                                <span class="p-inputgroup-addon">
                                    <p-dropdown
                                        [options]="weightTypeArray"
                                        optionLabel="label"
                                        placeholder=""
                                        [style]="{
                                            width: '100%',
                                            height: '40px',
                                            border: '0px',
                                            background: '#f8f8f8'
                                        }"
                                        [formControl]="addOrdersForm.controls['gc_total_quantity_unit']"
                                        optionValue="value"
                                    ></p-dropdown>
                                </span>
                                <small *ngIf="addOrdersForm.controls['weight'].errors?.required" class="p-error">
                                    Required
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 pl-md-2">
                        <div class="sewn-form-field mb-0 w-100">
                            <div>
                                <label>Total weight of roasted coffee sold<span class="text-clr-e5a">*</span></label>
                            </div>
                            <div class="p-inputgroup custom-addon dropdownClass inputFieldBox">
                                <p-inputNumber
                                    [formControl]="addOrdersForm.controls['roasted_coffee_total_quantity']"
                                ></p-inputNumber>
                                <span class="p-inputgroup-addon">
                                    <p-dropdown
                                        [options]="weightTypeArray"
                                        optionLabel="label"
                                        placeholder=""
                                        [style]="{
                                            width: '100%',
                                            height: '40px',
                                            border: '0px',
                                            background: '#f8f8f8'
                                        }"
                                        [formControl]="addOrdersForm.controls['roasted_coffee_total_quantity_unit']"
                                        optionValue="value"
                                    ></p-dropdown>
                                </span>
                                <small
                                    *ngIf="addOrdersForm.controls['roasted_coffee_total_quantity'].errors?.required"
                                    class="p-error"
                                >
                                    Required
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="typeOfCustomer === 'hrc'" class="br_top">
                    <div class="d-flex flex-column padd-2r mt-md-3">
                        <div class="fnt-md-18 fnt-16 fnt-bold text-clr334 fnt-muli mb-2 mb-md-1">Order details</div>
                    </div>
                    <div class="row padd-2r">
                        <div class="col-md-6 col-sm-12 col-md-6 pl-md-3">
                            <div class="sewn-form-field mb-0 w-100">
                                <div>
                                    <label>Date roasted</label>
                                </div>
                                <p-calendar
                                    placeholder="Select the date roasted"
                                    [showIcon]="true"
                                    inputId="icon"
                                    [formControl]="addOrdersForm.controls['roasted_date']"
                                ></p-calendar>
                            </div>
                        </div>
                    </div>
                    <div class="row padd-2r">
                        <div class="col-sm-12 col-md-6 pl-md-3">
                            <div class="sewn-form-field mb-0 w-100">
                                <div>
                                    <label>Roast level</label>
                                </div>
                                <input
                                    pInputText
                                    class="roastery-website-input border"
                                    placeholder="Enter roast level"
                                    [formControl]="addOrdersForm.controls['roast_level']"
                                    type="text"
                                    pInputText
                                />
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 pl-md-2">
                            <div class="sewn-form-field mb-0 w-100">
                                <div>
                                    <label>Roasting time</label>
                                </div>
                                <input
                                    pInputText
                                    class="roastery-website-input border"
                                    placeholder="Enter a roasting time"
                                    [formControl]="addOrdersForm.controls['roasting_time']"
                                    type="text"
                                    pInputText
                                />
                            </div>
                        </div>
                    </div>
                    <div class="row padd-2r">
                        <div class="col-sm-12 col-md-6 pl-md-3">
                            <div class="sewn-form-field mb-0 w-100">
                                <div>
                                    <label>Roasting temperature</label>
                                </div>
                                <input
                                    pInputText
                                    class="roastery-website-input border"
                                    placeholder="Enter the roasting temperature"
                                    [formControl]="addOrdersForm.controls['roasting_temperature']"
                                    type="text"
                                    pInputText
                                />
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 pl-md-2">
                            <div class="sewn-form-field mb-0 w-100">
                                <div>
                                    <label>Machine used</label>
                                </div>
                                <input
                                    pInputText
                                    class="roastery-website-input border"
                                    placeholder="Entrer the machine name used"
                                    [formControl]="addOrdersForm.controls['machine_used']"
                                    type="text"
                                    pInputText
                                />
                            </div>
                        </div>
                    </div>
                    <div class="row padd-2r">
                        <div class="col-md-6 col-sm-12 pl-md-3">
                            <div class="sewn-form-field mb-0 w-100">
                                <div>
                                    <label>Waste produced</label>
                                </div>
                                <input
                                    pInputText
                                    class="roastery-website-input border"
                                    placeholder="Total waste produced"
                                    type="text"
                                    [formControl]="addOrdersForm.controls['waste_produced']"
                                    pInputText
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="typeOfCustomer === 'mr'" class="row padd-2r">
                    <div class="col-md-6 col-sm-12 pl-md-3">
                        <div class="sewn-form-field mb-0 w-100">
                            <div>
                                <label>Green coffee quantity sold<span class="text-clr-e5a">*</span></label>
                            </div>
                            <div class="p-inputgroup custom-addon dropdownClass inputFieldBox">
                                <p-inputNumber
                                    [formControl]="addOrdersForm.controls['gc_total_quantity']"
                                ></p-inputNumber>
                                <span class="p-inputgroup-addon">
                                    <p-dropdown
                                        [options]="weightTypeArray"
                                        optionLabel="label"
                                        placeholder=""
                                        [style]="{
                                            width: '100%',
                                            height: '40px',
                                            border: '0px',
                                            background: '#f8f8f8'
                                        }"
                                        [formControl]="addOrdersForm.controls['gc_total_quantity_unit']"
                                        optionValue="value"
                                    ></p-dropdown>
                                </span>
                                <small
                                    *ngIf="addOrdersForm.controls['gc_total_quantity'].errors?.required"
                                    class="p-error"
                                >
                                    Required
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="typeOfCustomer === 'mr'" class="row padd-2r">
                    <div class="col-sm-12 col-md-6 pl-md-3">
                        <div class="sewn-form-field mb-0 w-100">
                            <div>
                                <label>Pre-cleaned</label>
                            </div>
                            <p-dropdown
                                [options]="preCleaned"
                                optionLabel="label"
                                placeholder="Yes"
                                [formControl]="addOrdersForm.controls['pre_cleaned']"
                                optionValue="value"
                            ></p-dropdown>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 pl-md-2">
                        <div class="sewn-form-field mb-0 w-100">
                            <div>
                                <label>Waste produced</label>
                            </div>
                            <input
                                pInputText
                                class="roastery-website-input border"
                                placeholder="Total waste produced"
                                [formControl]="addOrdersForm.controls['waste_produced']"
                                type="text"
                                pInputText
                            />
                        </div>
                    </div>
                </div>
                <div class="mt-md-4 mb-2">
                    <button class="btn-stroked px-4 mr-3 w-mob-100" (click)="location.back()">Cancel</button>
                    <button class="btn-raised text-nowrap px-4 w-mob-100 mt-3 mt-md-0" (click)="addOrderDetails()">
                        Save
                    </button>
                </div>
            </div>
            <div *ngIf="selectedOrderId !== ''" class="col-lg-5 col-md-12">
                <div class="row ml-md-0 mr-md-0">
                    <div class="fnt-md-18 fnt-muli fnt-bold text-clr334 mb-4">Order details</div>
                    <div class="col-lg-12 bg-fa border-class p-45">
                        <div class="d-flex justify-content-between mb-4">
                            <div class="d-flex">
                                <div class="img_circle mr-2 d-flex align-items-center">
                                    <img
                                        src="{{ orderDetails?.estate_profile_image_thumbnail_url }}"
                                        width="40"
                                        height="40"
                                        alt=""
                                    />
                                </div>
                                <div>
                                    <div class="fnt-14 fnt-muli fnt-bold text-clr334">
                                        {{ orderDetails?.estate_owner }}
                                    </div>
                                    <div class="fnt-14 fnt-muli fnt-bold text-clr588">
                                        {{ orderDetails?.estate_name }}
                                    </div>
                                </div>
                            </div>
                            <div>
                                <i class="pi pi-star pr-1"></i>
                                <span class="fnt-14 fnt-bold text-clr334 fnt-muli">4.95</span>
                            </div>
                        </div>
                        <div class="estate-focus">
                            <ul class="clearfix">
                                <li>
                                    <label>Order Id: </label>
                                    <p>{{ orderDetails?.id }}</p>
                                </li>
                                <li>
                                    <label>{{ 'origin' | translate }}:</label>
                                    <p>{{ orderDetails?.origin }}</p>
                                </li>
                                <li>
                                    <label>{{ 'variety' | translate }}:</label>
                                    <p>{{ orderDetails?.varieties }}</p>
                                </li>
                                <li>
                                    <label>{{ 'price' | translate }}:</label>
                                    <p>
                                        $ {{ orderDetails?.price }} {{ orderDetails?.unit_currency }}/{{
                                            orderDetails?.price_unit
                                        }}
                                    </p>
                                </li>
                                <li>
                                    <label>{{ 'quantity' | translate }}</label>
                                    <p>{{ orderDetails?.quantity }} {{ orderDetails?.quantity_unit }}</p>
                                </li>
                                <li>
                                    <label>Remaining Quantity :</label>
                                    <p>{{ remainingTotalQuantity }} {{ orderDetails?.quantity_unit }}</p>
                                </li>
                            </ul>
                        </div>
                        <div class="mt-3 d-md-flex justify-content-around cust-profile p-4 br-4">
                            <div>
                                <div class="fnt-md-14 fnt-muli fnt-600 text-clr588 mb-2">12 Feb, 2020</div>
                                <div class="fnt-md-14 fnt-muli fnt-600 text-clr588">
                                    Cup Score :
                                    <span class="fnt-md-14 fnt fnt-muli fnt-bold text-clr334">87.0</span>
                                </div>
                            </div>
                            <div class="d-flex br_left">
                                <div class="pl-3 pr-2 img_circle d-flex align-items-center">
                                    <img
                                        src="{{ orderDetails?.roaster_profile_image_thumbnail_url }}"
                                        width="40"
                                        height="40"
                                        alt=""
                                    />
                                </div>
                                <div>
                                    <div class="fnt-md-16 fnt-14 fnt fnt-muli fnt-bold text-clr334 mb-2">
                                        {{ orderDetails?.roaster_owner }}
                                    </div>
                                    <div class="fnt-md-14 fnt-muli fnt-bold text-clr588">
                                        {{ orderDetails?.roaster_name }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ml-md-0 mr-md-0">
                    <div class="fnt-md-18 fnt-muli fnt-bold text-clr334 mt-4 pb-3">Customer details</div>
                    <div class="col-lg-12 bg-fa border-class p-45">
                        <div class="mb-4">
                            <div class="d-flex justify-content-between mb-4">
                                <div class="d-flex">
                                    <div><img src="" alt="" /></div>
                                    <div>
                                        <div class="fnt-14 fnt-muli fnt-bold text-clr334">Finca La Pampa</div>
                                        <div class="fnt-14 fnt-muli fnt-bold text-clr588">Coffee Estate</div>
                                    </div>
                                </div>
                                <div>
                                    <i class="pi pi-star pr-1"></i>
                                    <span class="fnt-14 fnt-bold text-clr334 fnt-muli">4.95</span>
                                </div>
                            </div>
                        </div>
                        <div class="estate-focus">
                            <ul class="clearfix">
                                <li>
                                    <label class="width-lable">Owner</label>
                                    <p>Timothy Moreno</p>
                                </li>
                                <li>
                                    <label class="width-lable">Country</label>
                                    <p>Sweden</p>
                                </li>
                                <li>
                                    <label class="width-lable">Address</label>
                                    <p>30 Emzu Grove Gothenburg, Sweden 34278</p>
                                </li>
                                <li>
                                    <label class="width-lable">Contact number</label>
                                    <p>(355) 388-1919</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-section__inputs mt-4">
                    <div class="roastery-fields tab">
                        <div class="tab-width">
                            <h4 class="fnt-16 fnt-700 fnt-muli text-clr334 tab-bottom-margin">
                                {{ 'share_your_story' | translate }}
                            </h4>
                            <div class="copy-link">
                                <label class="fnt-14 fnt-600 fnt-muli text-clr588">
                                    {{ 'share_story_text' | translate }}
                                </label>
                                <div class="copy-link__value d-flex d-md-column d-lg-row flex-wrap align-items-center">
                                    <input
                                        class="tab-input"
                                        type="text"
                                        [value]="coffeeExperienceLink?.coffee_story_url"
                                        readonly
                                    />
                                    <button class="tab-btn" (click)="handleCopyCoffeeExperienceLink()">
                                        {{ 'copy_link' | translate }}
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-width-right">
                            <div class="scan-qr-link text-center">
                                <span
                                    class="d-inline-block mx-auto fnt-12 fnt-600 fnt-muli text-clr334 mb-3 mt-3 mt-md-0 mb-lg-4 text-capitalize hideTabView"
                                    >or</span
                                >
                                <p
                                    class="text-md-left fnt-14 fnt-600 fnt-muli text-clr334 mb-3 mb-lg-4 tab-bottom-margin"
                                >
                                    {{ 'scan_download_text' | translate }}
                                </p>
                                <div class="text-center d-md-flex">
                                    <img class="img-fluid" src="{{ coffeeExperienceLink?.qr_code_url }}" />
                                    <div class="align-items-end d-flex download-qr-link">
                                        <a
                                            class="btn-trans-icon px-3 d-inline-flex align-items-center download"
                                            href="assets/images/dwnd.png"
                                            download
                                        >
                                            <img src="assets/images/dwnd.png" />
                                            <span class="ml-2">
                                                {{ 'download' | translate }}
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center contact-for-help">
                        <p class="mb-0 contact-for-help__text">
                            {{ 'having_trouble' | translate }}?
                            <a class="ml-1" href="#">{{ 'contact_us' | translate }}</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<ng-container *ngIf="showOrderPanel">
    <app-select-orders (orderChange)="selectOrder($event)" (closeEvent)="showOrderPanel = false"></app-select-orders>
</ng-container>
