@import 'variables';

::ng-deep .date-calender .p-calendar {
    width: 100%;
    padding-left: 0 !important;
    .p-button-icon {
        font-size: 20px;
    }
}

.border-top-dashed-d6 {
    border-top: 1px dashed #d6d6d6 !important;
    border-radius: 0 !important;
}

.cust-profile {
    border: 0.3px solid #dddddd;
    border-radius: 4px;
    padding: 1.5rem;
}

.cupping-border-left {
    border-left: 1px solid #868686;
}

.order-details-clr {
    border-radius: 8px;
    background-color: #faf8f4;
    padding: 2rem;
}
.p-inputgroup.custom-addon {
    p-inputnumber::ng-deep {
        span.p-inputnumber {
            height: 50px;
        }
    }
    .p-inputgroup-addon.addon-position-fix {
        height: 40px;
        margin: 4px;
    }
    .p-inputgroup-addon.position-fix {
        margin: 0px !important;
        padding: 0px !important;
        p-dropdown {
            margin: 4px;
            height: 40px;
            &::ng-deep {
                .p-dropdown {
                    height: 40px !important;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}
table.recent-time {
    td:first-of-type {
        width: 52%;
    }
    td:last-of-type {
        width: 48%;
    }
}
::ng-deep.right-dropdown {
    .p-dropdown-label {
        padding-right: 0 !important;
        padding-top: 10px !important;
        bottom: 0px !important;
    }
}

.invalid-gc-order {
    position: relative;
    bottom: 22px;
}

.right-dropdown-background {
    background-color: $primary-bg-color;
}
.recent-time {
    td {
        padding: 1rem 1rem 1rem 1.5rem !important;
        border: 1px solid #dddddd !important;
    }
    .recent-data-ans {
        padding: 1rem 1.5rem 1rem 1.5rem !important;
        .list-ans {
            word-break: break-word;
        }
    }
}

@media (max-width: 1199px) and (min-width: 768px) {
    .recent-time {
        width: 100%;
    }
    .order-details-clr {
        padding: 32px 16px;
    }
}

@media (max-width: 767px) {
    .mobile-w {
        width: 135px;
    }
    .breadcrumb-container {
        overflow-x: scroll;
    }
    .mob-form-top-margin {
        margin-top: 1rem;
    }
    .order-box {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .recent-time {
        border: 1px solid #dddddd;
        border-radius: 4px;
        tr {
            border-bottom: 1px dashed $primary-border-color;
        }
        tr:last-child {
            border-bottom: none;
        }
        td {
            padding: 1rem 0rem 1rem 1rem !important;
            border: 1px solid #dddddd !important;
        }
    }
    ::-webkit-scrollbar-track {
        box-shadow: none !important;
        border-radius: 6px;
    }

    ::-webkit-scrollbar-thumb {
        background: transparent !important;
        box-shadow: none !important;
    }
    .order-details-clr {
        padding: 12px;
    }
}

@media (min-width: 992px) {
    .padd-2r {
        padding: 1rem 0;
    }
    .col-lg-4 {
        flex: 0 0 38% !important;
        max-width: 38% !important;
    }
    .order-box {
        margin-top: -1rem !important;
    }
}

@media (min-width: 768px) {
    .cupping-header {
        display: flex !important;
    }
}

@media (min-width: 1200px) {
    .col-xl-8 {
        flex: 0 0 62% !important;
        max-width: 62% !important;
    }
    .margin-left {
        margin-left: -1rem !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .tab {
        display: flex;
    }
    .tab-width {
        width: 50%;
    }
    .tab-width-right {
        width: 50%;
        display: flex;
        justify-content: center;
    }
    .tab-bottom-margin {
        margin-bottom: 24px !important;
    }
    .padd-2r {
        padding-top: 1rem;
    }
}
