.hello-txt {
    font-family: PlayfairDisplay;
    font-size: 38px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.dashboard-button {
    height: 70px;
    width: 100%;
    border-radius: 6px;
    border: solid 1px #dddddd;
    background-color: #ffffff;
    padding-left: 30px;
    padding-right: 30px;
}

.roaster,
.facilitator,
.estate {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.logo-img {
    bottom: 2px;
    position: relative;
}

.dashboard-button:hover {
    border: solid 1px #3d8462;
}

.dashboard-button .icon-img-filled {
    display: none;
}

.dashboard-button:hover .icon-img-filled {
    display: inline;
}

.dashboard-button:hover .icon-img {
    display: none;
}

.dashboard-button .logo-img-hover {
    display: none;
}

.dashboard-button:hover .logo-img-hover {
    position: relative;
    bottom: 2px;
    display: inline;
}

.dashboard-button:hover .logo-img {
    display: none;
}

@media only screen and (min-width: 991px) and (max-width: 1200px) {
    .dashboard-button {
        height: 70px;
        width: 100%;
        border-radius: 6px;
        border: solid 1px #dddddd;
        background-color: #ffffff;
        padding-left: 20px;
        padding-right: 20px;
    }
    .roaster,
    .facilitator,
    .estate {
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;
    }
    .logo-img {
        bottom: 6px;
        position: relative;
    }
}


/* ==========checking check box========= */


/* 
.pad-left{
    padding:0;
}
.remeber-left{
    display: block;
    padding-left: 20px;
}
.remember {

    font-size: 13px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
    margin-top: 3px;
    margin-left: 7px;
}
.remember:before{
    /* border-radius: 6px; 
    border: solid 1px #827a7a87;
    background-color: #ffffff;
  } */