<div class="main-block">
    <div class="bg-white content-container">
        <div class="mb-45 fnt-14 d-none d-md-block">
            <p-breadcrumb [model]="breadcrumbItems"></p-breadcrumb>
        </div>

        <div class="mb-4 d-block d-md-none">
            <a class="back-page" (click)="location.back()">
                {{ 'back' | translate }}
            </a>
        </div>

        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="mb-2 mb-md-25 fnt-16 fnt-md-18 font-weight-bold">
                    {{ 'language_region' | translate }}
                </div>
                <div class="text-clr588 fnt-14 fw-m font-weight-md-normal">
                    {{ 'select_language_timezone' | translate }}
                </div>
            </div>
        </div>

        <div *ngIf="!isLoading" class="d-block d-md-none mb-4 border-bottom-dashed-primary"></div>

        <div *ngIf="!isLoading" class="row p-0 border-md-main round-4 p-md-45 mx-0 mb-4">
            <div class="col-lg-5 px-0 pb-lg-2">
                <div>
                    <div class="mt-2 mb-4 mb-md-45 sewn-form-field language-timezone-fields">
                        <label class="fnt-14 fw-m">{{ 'language' | translate }}</label>
                        <p-dropdown
                            [options]="applicationLanguages"
                            class="w-100"
                            [(ngModel)]="userInfo.language"
                            (ngModelChange)="onChangeUserInfo()"
                            optionLabel="label"
                            optionValue="value"
                        ></p-dropdown>
                        <div class="fnt-12 text-clr588 mt-2">
                            {{ 'choose_language' | translate }}
                        </div>
                    </div>

                    <div class="mb-4 mb-md-45">
                        <label class="fnt-14 fw-m">{{ 'add_language_label' | translate }}</label>
                        <div class="d-flex flex-row flex-wrap">
                            <button type="button" [matMenuTriggerFor]="profileMenu" class="mr-4 mb-2 add-language-btn">
                                <img src="../../../../assets/images/icon-add.svg" alt="icon" class="mr-2" />
                                <span>{{ 'add_language' | translate }}</span>
                            </button>
                            <mat-menu class="language-mat-menu" #profileMenu="matMenu" xPosition="before">
                                <button
                                    type="button"
                                    *ngFor="let language of languages"
                                    mat-menu-item
                                    (click)="handleAddConverseLanguage(language)"
                                >
                                    {{ language.name }}
                                </button>
                            </mat-menu>

                            <div
                                *ngFor="let converseLanguage of selectedConverseLanguages; let index = index"
                                class="language-panel mr-2 mb-2 d-flex justify-content-between"
                            >
                                <span class="text-clr588">{{ converseLanguage.name }}</span>
                                <img
                                    (click)="handleRemoveConverseLanguage(index)"
                                    src="../../../../assets/images/icon-close.svg"
                                    alt="icon"
                                    class="cursor-pointer"
                                />
                            </div>
                        </div>

                        <div class="fnt-12 text-clr588">
                            {{ 'add_language_subtext' | translate }}
                        </div>
                    </div>

                    <div class="sewn-form-field mb-0 language-timezone-fields">
                        <label class="fnt-14 fw-m">{{ 'time_zone_title' | translate }}</label>

                        <p-dropdown
                            [options]="timezones"
                            class="w-100"
                            [(ngModel)]="userInfo.timezone"
                            (ngModelChange)="onChangeUserInfo()"
                            [filter]="true"
                            filterBy="label"
                            [placeholder]="'select_a_timezone' | translate"
                            optionLabel="label"
                            optionValue="value"
                        >
                        </p-dropdown>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="isLoading">
            <app-loading></app-loading>
        </div>
    </div>
</div>
