<div (click)="openArticle(article.slug)" class="py-3 py-md-4 article-item">
    <div class="d-flex justify-content-between mx-4">
        <div class="flex-1 overflow-hidden">
            <app-user-header [prop]="article"></app-user-header>
        </div>
        <button
            class="btn-icon save ml-1"
            [class.saved]="article?.is_saved"
            (click)="onSave(article.id)"
            [disabled]="isSaveBtn"
        ></button>
    </div>
    <img [src]="article.cover_image_url" class="w-100 mt-3" [alt]="article.title" />
    <div class="mx-4">
        <div class="d-flex justify-content-between mt-25">
            <div class="d-flex align-like-card">
                <button
                    class="btn-icon thumbsup"
                    [class.thumbed]="article?.is_liked"
                    (click)="onLike(article.id)"
                    [disabled]="isLikedBtn"
                ></button>
                <!-- <span class="d-flex ml-1 mb-05 mr-2 fnt-300 text-clr334">{{ article.likes }}</span> -->
            </div>
            <span class="align-items-center d-flex fnt-14 mt-2 text-clr588"
                >{{ article?.posted_at || article?.created_at | date: 'MMMM' | translate }}
                {{ article?.posted_at || article?.created_at | date: 'd, yyyy' }}</span
            >
        </div>
        <h3 class="fnt-14 fw-b lh-157 mt-3 text-clr334 cursor-pointer article-title-text text-break">
            {{ article?.title.length < 65 ? article?.title : article?.title.slice(0, 65).concat('...') }}
        </h3>
        <div class="fnt-14 fw-n lh-143 text-clr334 mt-2">
            <a class="article-title-text">
                {{ article?.subtitle }}
            </a>
        </div>
    </div>
</div>
