@import 'variables';

.grading__total {
    .cupping-report {
        padding: 0rem 2.5rem;
        border-radius: 4px;
        border: solid 1px #d6d6d6;

        .header-wrapper {
            flex: 1;
        }

        .average-text {
            text-align: right;
        }

        .average_score_value {
            font-family: $general-font-family;
            font-size: 2rem;
            font-weight: 800;
            color: #232334;
            padding-bottom: 2px;
            margin-bottom: 0;
            padding-right: 82px;
        }

        .average_score_label {
            font-family: $general-font-family;
            font-size: 1.125rem;
            font-weight: $fw-m;
            color: #747588;
            margin-bottom: 0;
        }

        @media (max-width: 991px) {
            padding: 0 2.5rem;
        }

        @media (max-width: 767px) {
            padding: 0;

            .header-wrapper {
                padding-right: 0;
                flex-direction: column;
                align-items: flex-start;

                & > div {
                    width: 100%;
                }
            }

            .average_score_value {
                font-size: 1.5rem;
            }

            .average_score_label {
                font-size: 1rem;
            }

            .generate_date {
                padding: 0.875rem 0 0.75rem 1rem;
            }

            .bottom-dash {
                border-bottom: 1px dashed #d6d6d6;
            }
        }
    }
}

.button-wrapper {
    .p-button-outlined {
        border: solid 1px #747588;
        color: #232334;
        font-family: $general-font-family;
        font-size: 14px;
        font-weight: 500 !important;
    }
}

.p-field-radiobutton {
    margin-bottom: 0;
    margin-left: 0;

    @media (max-width: 767px) {
        margin-left: 0;
        width: 100%;
        padding: 1rem;
        border-bottom: solid 1.5px #ebebeb;

        & > label {
            font-size: 14px;
        }
    }
}

::ng-deep {
    .confirm-dialog.p-dialog {
        max-width: 530px;
    }
    .p-dialog.p-dialog-processdetails {
        min-height: 100%;
        width: 100%;

        .p-dialog-header {
            display: none;
        }
    }
}
