@import 'variables';

.grading__total {
    .cupping-report {
        border: solid 1px $primary-border-color;
        .average_score_value {
            padding-bottom: 2px;
            padding-right: 82px;
        }

        @media (max-width: 991px) {
            padding: 0 2.5rem;
        }

        @media (max-width: 767px) {
            padding: 0;
            .generate_date {
                padding: 0.875rem 0 0.75rem 1rem;
            }
            .bottom-dash {
                border-bottom: 1px dashed $primary-border-color;
            }
        }
    }
}

.p-field-radiobutton {
    @media (max-width: 767px) {
        width: 100%;
        padding: 1rem;
        border-bottom: solid 1.5px $secondary-border-color;
        & > label {
            font-size: 14px;
        }
    }
}

::ng-deep {
    .confirm-dialog.p-dialog {
        max-width: 530px;
    }
    .p-dialog.p-dialog-processdetails {
        min-height: 100%;
        width: 100%;

        .p-dialog-header {
            display: none;
        }
    }
}
