<div *ngIf="isLoading">
    <app-loading></app-loading>
</div>

<div *ngIf="!isLoading">
    <app-recipes [isSavedPost]="true" [recipes]="recipes"></app-recipes>
</div>
<div *ngIf="totalRecords" class="pt-3 pt-md-4 text-center">
    <p-paginator [rows]="rows" [totalRecords]="totalRecords" (onPageChange)="paginate($event)"></p-paginator>
</div>
<div *ngIf="!isLoading && !recipes.length" class="text-center my-4 text-clr24">
    <app-empty
        [title]="'you_have_not_saved_any_post' | translate"
        [description]="'no_saved_posts_description' | translate"
    ></app-empty>
</div>
