<div>
    <div>
        <form [formGroup]="userForm" novalidate>
                <div class="pt-4 mobileLableClass" formArrayName="items" *ngFor="let item of userForm.controls['items']['controls']; let i = index; last as isLast">
                    <div [formGroupName]="i" class="row">
                        <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                            <div class="sewn-form-field w-100">
                                <label>Name<span class="star">*</span></label>
                                <input type="text" placeholder="Enter your full name" formControlName="name" pInputText />
                                <small *ngIf="item['controls']['name'].errors?.required" class="p-error"> Required </small>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                            <div class="sewn-form-field w-100">
                                <label>Enter work e-mail address<span class="star">*</span></label>
                                <input type="text" placeholder="you@example.com" formControlName="email" pInputText />
                                <small *ngIf="item['controls']['email'].errors?.required" class="p-error"> Required </small>
                                <small *ngIf="item['controls']['email'].errors?.email" class="p-error">Invalid email address</small>
                            </div>
                        </div>
                        <div class="d-none d-sm-none d-md-flex col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 p-0 align-items-center">
                            <div class="fnt-muli ml-0 ml-md-2" *ngIf="i != 0 || !isLast">
                                <span class="fnt-700 text-highlited cursor-pointer" (click)="deleteEmail(i)">
                                    Delete
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div *ngIf="isLast" class="col-12 d-none d-sm-none d-md-inline-flex align-items-center mt-2">
                            <img src="assets/images/add-partner.svg" />
                            <span class="ml-2 fnt-muli fnt-700 fnt-14 text-highlited cursor-pointer" (click)="addUser()">
                                {{globals.languageJson?.add_another_member}}
                            </span>
                        </div>
                    </div>
                </div>
        </form>
    </div>
</div>
