
.ownerNameError, .foundedInError, .phoneError, 
.countryError , .addressError, .cityError {
     color: #D50000;
}

.rectangle{
    height: 46px;
}

.border-class{
    border: 1px solid #ebebeb;
    border-radius: 2px;
}
.header{
    font-family: Muli;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #232334;
    height: 50px;
    border-radius: 4px;
    background-color: #f8f8f8;
    padding: .75rem;
}

.role_edit {
    border-radius: 4px;
    border: solid 1px #d6d6d6;
    background-color: #ffffff;
    background: url(../../../../assets/images/active.png) right 16px top 19px/10px no-repeat;
    -webkit-appearance: none;
    font-family: Muli;
    font-weight: 500;
    height: 46px !important;
    padding-top: 7px;
    cursor: pointer;
}

label{
    color: #232334;
    width: 100%;
}

hr{
border: 1px dashed #d6d6d6 !important;
margin-bottom: 2rem !important;
}
.sub-header{
    font-family: Muli;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #232334;
    width: 100%;
    margin-bottom: .5rem !important;
}

.header-descr{
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #747588;
    width: 100%;
}
.text-data{
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #232334;
}
.emp_count, .avg_count{
    font-family: Muli;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #232334;
}
.emp_text{
    font-family: Muli;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #747588;
}

.emp_count_div{
    border-right: 1px solid #d6d6d6;
}
.oval{
    width: 224px;
    height: 235px;
    background-color: #f8f8f8;
    border-radius: 100%;
    padding: 6rem 4.2rem;
}
.note{
    font-family: Muli;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #979797;
    word-wrap: break-word;
}

.chart-div{
    padding: 1rem 5rem;
}
.logo-btn{
    border-radius: 4px;
    background-color: #30855c;
    height: 46px;
    font-family: Muli;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: right;
    color: #ffffff;
    padding: .5rem 1.5rem;
}
.star{
    color: #ff1e5a;
}
.add-text{
    font-family: Muli;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: right;
    color: #80460b;
}
.add-field{
    position: relative;
    bottom: 3px;
    padding-right: 2%;

}

.brand-tag{
    cursor: pointer;
}
.brand-tag:hover{
    text-decoration: underline !important;
}


.img-estate {
    width: 32px;
    height: 32px;
}

.details-list {
    list-style: none;
    margin-left: 1.5rem;
}

.estate-name {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    color: #232334;
}

.estate-number,
.estate-mail {
    font-family: Muli;
    font-size: 12px;
    font-weight: 600;
    color: #747588;
}



.estate-message {
    font-family: Muli;
    font-size: 12px;
    font-weight: 500;
}

.border-div {
    border-bottom: 1px dashed #d6d6d6;
}
.info-content{
    color: #232334;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.57;
    font-family: Muli;
    width: 80%;
}
.weight{
    font-family: Muli;
    font-size: 38px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #232334;
}
.capabilities_content{
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #232334;
}
.capabilitiesDiv{
    border-right: 1px solid #d6d6d6;
    float: left;
    margin-right: 1rem;
}
.border-total{
    border: 1px solid #d6d6d6;
    padding: 1rem;
    margin-left: 1rem;
}
.capabilitiesdescrDiv{
    padding: 1.5rem;
}
.capacity-header{
    color: #747588;
    font-weight: 600;
}