<div class="row">
    <div class="col-lg-12">
        <div class="form-container">
            <div class="row pl-2 pr-2">
                <div class="col-md-7 d-lg-none">
                    <ng-template *ngTemplateOutlet="rightSidePanel"></ng-template>
                </div>
                <div class="col-lg-8 col-12 p-2">
                    <div class="br-main br-4 p-4">
                        <div class="row mt-3 m-0">
                            <div class="form-group col-md-6 m-0 pl-0 pr-2">
                                <label *ngIf="roasteryProfileService.savemode" for="owner_name">
                                    {{ 'owner_name' | translate }}<span class="star">*</span>
                                </label>
                                <input
                                    *ngIf="roasteryProfileService.savemode"
                                    pInputText
                                    class="p-3 w-100"
                                    id="owner_name"
                                    type="text"
                                    required
                                    name="owner_name"
                                    [(ngModel)]="roasteryProfileService.name"
                                    placeholder="Please enter owner name"
                                />
                                <label *ngIf="roasteryProfileService.editmode" for="owner_name" class="d-block">
                                    {{ 'owner_name' | translate }}
                                </label>
                                <p class="fnt-14 fnt-600 text-clr334" *ngIf="roasteryProfileService.editmode">
                                    {{ roasteryProfileService.name }}
                                </p>
                                <div class="ownerNameError" *ngIf="ownerNameError">
                                    {{ ownerNameError }}
                                </div>
                            </div>
                            <div class="form-group col-md-6 m-0 pl-2 pr-0">
                                <label *ngIf="roasteryProfileService.savemode" for="founded_in">
                                    {{ 'founded_in' | translate }}
                                    <span class="star">*</span>
                                </label>
                                <input
                                    *ngIf="roasteryProfileService.savemode"
                                    id="founded_in"
                                    type="text"
                                    pInputText
                                    class="w-100 p-3"
                                    name="founded_in"
                                    [(ngModel)]="roasteryProfileService.foundedIn"
                                    placeholder="Please enter founded year"
                                />
                                <label *ngIf="roasteryProfileService.editmode" for="founded_in" class="d-block">
                                    {{ 'founded_in' | translate }}
                                </label>
                                <p class="fnt-14 fnt-600 text-clr334" *ngIf="roasteryProfileService.editmode">
                                    {{ roasteryProfileService.foundedIn }}
                                </p>
                                <div class="foundedInError" *ngIf="foundedInError">
                                    {{ foundedInError }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-12 mt-md-45" *ngIf="roasteryProfileService.savemode">
                                <label for="summary">{{ 'roastery_summary' | translate }}</label>
                                <textarea
                                    *ngIf="roasteryProfileService.savemode"
                                    pInputTextarea
                                    class="w-100"
                                    id="summary"
                                    name="summary"
                                    rows="5"
                                    [(ngModel)]="roasteryProfileService.summary"
                                    placeholder="Tell us and to our users about who you are as a company!"
                                >
                                </textarea>
                            </div>
                            <div class="mb-3 col-md-12 mt-md-3 mob-border" *ngIf="roasteryProfileService.editmode">
                                <label for="summary" class="mob-label">
                                    {{ 'roastery_summary' | translate }}
                                </label>
                                <p
                                    class="fnt-14 fnt-600 mob-fnt-14 text-clr334"
                                    *ngIf="roasteryProfileService.editmode"
                                >
                                    {{ roasteryProfileService.summary }}
                                </p>
                            </div>
                        </div>
                        <hr class="d-none d-lg-block" *ngIf="roasteryProfileService.savemode" />

                        <div class="row" *ngIf="roasteryProfileService.savemode">
                            <div class="col-12 mb-45">
                                <p class="sub-header">{{ 'employee_details' | translate }}</p>
                                <p class="header-descr m-0">{{ 'give_overview_text' | translate }}.</p>
                            </div>
                        </div>

                        <div class="row mb-md-3" *ngIf="roasteryProfileService.savemode">
                            <div class="form-group col-md-6 pr-2">
                                <label for="employee_nos">
                                    {{ 'total_number_employees' | translate }}
                                    <span class="star">*</span>
                                </label>
                                <input
                                    class="w-100 p-3"
                                    id="employee_nos"
                                    type="number"
                                    pInputText
                                    required
                                    name="employee_nos"
                                    [(ngModel)]="roasteryProfileService.employeeNos"
                                    placeholder="Please enter no. of employees"
                                />
                                <div class="employeeNoError" *ngIf="employeeNoError">
                                    {{ employeeNoError }}
                                </div>
                            </div>
                            <div class="form-group col-md-6 pl-2">
                                <label for="employee_avg">
                                    {{ 'average_employee_age' | translate }}
                                    <span class="star">*</span>
                                </label>
                                <input
                                    class="w-100 p-3"
                                    id="employee_avg"
                                    type="number"
                                    pInputText
                                    required
                                    name="employee_avg"
                                    [(ngModel)]="roasteryProfileService.employeeAvg"
                                    placeholder="Please enter employee avg. age"
                                />
                                <div class="employeeAvgError" *ngIf="employeeAvgError">
                                    {{ employeeAvgError }}
                                </div>
                            </div>
                        </div>
                        <span class="fnt-14 font-bold text-clr334" *ngIf="roasteryProfileService.savemode">
                            {{ 'gender_distribution' | translate }}
                            <span class="star">*</span>
                        </span>
                        <div class="row" *ngIf="roasteryProfileService.savemode">
                            <div class="form-group col-md-6 pr-2">
                                <label for="female_num">
                                    {{ 'total_number_female_employees' | translate }}
                                    <span class="star">*</span>
                                </label>
                                <input
                                    class="w-100 p-3"
                                    id="female_num"
                                    pInputText
                                    type="number"
                                    required
                                    name="female_num"
                                    [(ngModel)]="roasteryProfileService.femaleNum"
                                    placeholder="Please enter the number of female employees"
                                />
                                <div class="femaleNumError" *ngIf="femaleNumError">
                                    {{ femaleNumError }}
                                </div>
                            </div>
                            <div class="form-group col-md-6 pl-2">
                                <label for="male_num">
                                    {{ 'total_number_male_employees' | translate }}
                                    <span class="star">*</span>
                                </label>
                                <input
                                    class="w-100 p-3"
                                    id="male_num"
                                    pInputText
                                    type="number"
                                    required
                                    name="male_num"
                                    [(ngModel)]="roasteryProfileService.maleNum"
                                    placeholder="Please enter the number of male employees"
                                />
                                <div class="maleNumError" *ngIf="maleNumError">
                                    {{ maleNumError }}
                                </div>
                            </div>
                        </div>

                        <div class="d-block d-md-none mb-3">
                            <ng-template *ngTemplateOutlet="rightSidePanel"></ng-template>
                        </div>

                        <!-- company details -->

                        <hr class="d-none d-lg-block" />
                        <div class="row mt-md-4 mb-4">
                            <div class="col-md-9">
                                <p class="sub-header">Company details</p>
                                <p class="header-descr m-0">Enter your VAT and customer ID for billing purposes</p>
                            </div>
                            <div class="col-md-3 text-right" *ngIf="roasteryProfileService.savemode">
                                <p class="header-descr mb-2 text-clr588">Private</p>
                                <p-inputSwitch
                                    styleClass="custom-input-switch"
                                    [(ngModel)]="roasteryProfileService.companyDetailsPublic"
                                ></p-inputSwitch>
                            </div>
                        </div>
                        <div class="row mb-md-45">
                            <div class="col-md-6 pr-2">
                                <label for="vat_nos">VAT number<span class="star">*</span></label>
                                <input
                                    class="w-100 p-3"
                                    *ngIf="roasteryProfileService.savemode"
                                    id="vat_nos"
                                    type="text"
                                    pInputText
                                    required
                                    name="vat_nos"
                                    [(ngModel)]="roasteryProfileService.vatNos"
                                    placeholder="Please VAT Number"
                                />
                                <p class="fnt-14 fnt-600" *ngIf="roasteryProfileService.editmode">
                                    {{ roasteryProfileService.vatNos }}
                                </p>
                                <div class="vatNoError" *ngIf="vatNoError">
                                    {{ vatNoError }}
                                </div>
                            </div>
                            <div class="col-md-6 pl-2">
                                <label for="cmpy_rid">Company registration ID<span class="star">*</span></label>
                                <input
                                    class="w-100 p-3"
                                    *ngIf="roasteryProfileService.savemode"
                                    id="cmpy_rid"
                                    pInputText
                                    type="text"
                                    required
                                    name="cmpy_rid"
                                    [(ngModel)]="roasteryProfileService.cmpyRid"
                                    placeholder="Please enter employee avg. age"
                                />
                                <!-- <label *ngIf="roasteryProfileService.editmode" for="cmpy_rid">Company registration ID<span class="star">*</span></label> -->
                                <p class="fnt-14 fnt-600" *ngIf="roasteryProfileService.editmode">
                                    {{ roasteryProfileService.cmpyRid }}
                                </p>
                                <div class="cmpyRidError" *ngIf="cmpyRidError">
                                    {{ cmpyRidError }}
                                </div>
                            </div>
                        </div>

                        <hr class="d-none d-md-block" />
                        <div class="row mt-md-4 mb-45">
                            <div class="col-12">
                                <p class="sub-header">{{ 'roastery_capabilities' | translate }}</p>
                                <p class="header-descr m-0" *ngIf="roasteryProfileService.savemode">
                                    {{ 'tell_us_capability_text' | translate }}.
                                </p>
                                <p class="header-descr m-0" *ngIf="roasteryProfileService.editmode">
                                    {{ 'our_roastery_capabilities_storage' | translate }}.
                                </p>
                            </div>
                        </div>

                        <div class="row" *ngIf="roasteryProfileService.savemode">
                            <div class="form-group col-md-6 pr-2 position-relative">
                                <label for="capacity">
                                    {{ 'roaster_capacity' | translate }}
                                    <span class="star">*</span>
                                </label>
                                <input
                                    class="w-100 p-3"
                                    id="capacity"
                                    type="number"
                                    required
                                    pInputText
                                    name="capacity"
                                    [(ngModel)]="roasteryProfileService.capacity"
                                    placeholder="Enter capacity"
                                />
                                <p-dropdown
                                    id="kgs"
                                    name="kgs"
                                    class="unit-dropdown"
                                    optionLabel="name"
                                    optionValue="value"
                                    [options]="kgsOptions"
                                    [(ngModel)]="roasteryProfileService.kgs"
                                >
                                </p-dropdown>
                                <div class="capacityError" *ngIf="capacityError">
                                    {{ capacityError }}
                                </div>
                            </div>

                            <div class="form-group col-md-6 pl-2">
                                <label for="capabilities">
                                    {{ 'capabilities' | translate }}
                                    <span class="star">*</span>
                                </label>
                                <input
                                    class="w-100 p-3"
                                    id="capabilities"
                                    type="text"
                                    pInputText
                                    required
                                    name="capabilities"
                                    [(ngModel)]="roasteryProfileService.capabilities"
                                    placeholder="Eg. Hand roasted, Blended, Mocha-Java"
                                />
                                <div class="capabilitiesError" *ngIf="capabilitiesError">
                                    {{ capabilitiesError }}
                                </div>
                            </div>
                        </div>

                        <div class="row mb-5" *ngIf="roasteryProfileService.editmode">
                            <div class="col-lg-12">
                                <div class="capability-container d-flex br-main br-4 pt-4 pb-1 pl-4 pr-4">
                                    <div class="capability-meta-data pr-4 border-right">
                                        <label class="fnt-600 text-clr588">
                                            {{ 'roaster_capacity' | translate }}
                                        </label>
                                        <p class="fnt-38 font-bold text-clr334">
                                            {{ roasteryProfileService.capacity }} Kgs
                                        </p>
                                    </div>
                                    <div class="capability-content pt-3 pl-4 text-clr334">
                                        {{ roasteryProfileService.capabilities }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr />

                        <!-- Brand Profile -->

                        <div class="row mt-45 mb-45">
                            <div class="col-12">
                                <p class="sub-header mt-2 mt-md-0">{{ 'brands' | translate }}</p>
                                <p class="header-descr m-0" *ngIf="roasteryProfileService.savemode">
                                    {{ 'list_down_brands' | translate }}.
                                </p>
                            </div>
                        </div>
                        <div *ngIf="roasteryProfileService.savemode">
                            <div class="mt-2" *ngFor="let brand of brandProfile; let i = index">
                                <div class="row">
                                    <div class="form-group col-md-6 pr-2">
                                        <label> {{ 'brand_name' | translate }}<span class="star">*</span> </label>
                                        <input
                                            class="w-100 p-3"
                                            type="text"
                                            required
                                            pInputText
                                            [(ngModel)]="brand.name"
                                            [ngModelOptions]="{ standalone: true }"
                                            placeholder="Please enter brand name"
                                        />
                                        <div class="brandNameError" *ngIf="brandNameError">
                                            {{ brandNameError }}
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <p class="brand-mb">Brand Logo<span class="star">*</span></p>
                                        <button
                                            pButton
                                            class="btn-file-upload mt-25"
                                            (click)="roasterImage.click()"
                                            label="{{ 'upload' | translate }}"
                                        >
                                            <img
                                                class="mr-2"
                                                src="assets/images/upload-green-icon.svg"
                                                alt="upload icon"
                                            />
                                        </button>
                                        <input
                                            type="file"
                                            class="file-inpt"
                                            hidden
                                            #roasterImage
                                            (change)="handleRoasterFile($event, brand)"
                                        />
                                        <span
                                            class="view-order mt-5 cursor-pointer ml-3"
                                            *ngIf="i != 0"
                                            (click)="deleteRow(i)"
                                            >Delete</span
                                        >
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-12 mt-3">
                                        <label
                                            >{{ 'short_description_brand' | translate
                                            }}<span class="star">*</span></label
                                        >
                                        <textarea
                                            class="w-100"
                                            pInputTextarea
                                            rows="5"
                                            [(ngModel)]="brand.short_descr"
                                            [ngModelOptions]="{ standalone: true }"
                                            placeholder="Tell us a bit about your brand"
                                        >
                                        </textarea>
                                        <div class="shortDescError" *ngIf="shortDescError">
                                            {{ shortDescError }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12 mb-45">
                                        <a class="add-link" href="javascript:void(0); ">
                                            <span class="fnt-14 font-bold add-text ml-4">{{
                                                'add_another_contact' | translate
                                            }}</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="br-main mb-3" *ngFor="let brand of brands">
                            <div class="p-4 d-flex align-items-center">
                                <div class="mr-3">
                                    <img [src]="brand.url" class="brand-image" />
                                </div>
                                <div class="brand-meta-container">
                                    <p class="fnt-16 font-bold text-clr334 mb-2">
                                        {{ brand.name }}
                                    </p>
                                    <p class="brand-content">
                                        {{ brand.description }}
                                    </p>
                                </div>
                            </div>
                            <div *ngIf="!brands?.length" class="text-center p-2">
                                <span> No brands found.</span>
                            </div>
                        </div>

                        <hr class="mt-45" />
                        <div class="" *ngIf="roasteryProfileService.savemode">
                            <div class="row mt-5 mb-4">
                                <div class="col-12">
                                    <p class="sub-header">{{ 'contacts' | translate }}<span class="star">*</span></p>
                                    <p class="header-descr m-0 mb-0">{{ 'list_contacts' | translate }}!</p>
                                </div>
                            </div>
                            <div class="row" *ngFor="let role of roasteryProfileService.roasterContacts; let i = index">
                                <div class="form-group col-md-6 mt-md-3 mb-0">
                                    <input
                                        class="w-100 p-3"
                                        type="text"
                                        pInputText
                                        required
                                        [(ngModel)]="role.name"
                                        [ngModelOptions]="{ standalone: true }"
                                    />
                                </div>
                                <div class="add-partner mt-3 col-md-6" *ngIf="roasteryProfileService.showDelete">
                                    <a
                                        class="ml-2 custom-link"
                                        href="javascript:void(0);"
                                        (click)="removeContact(role.id)"
                                    >
                                        {{ 'remove' | translate }} {{ 'contact' | translate }}
                                    </a>
                                </div>
                            </div>
                            <div class="row mt-3" *ngIf="assignRow">
                                <div class="form-group col-md-6">
                                    <label for="emp_name">{{ 'select_employee' | translate }}</label>
                                    <p-dropdown
                                        class="w-100"
                                        id="emp_name"
                                        name="emp_name"
                                        [options]="roasterUsersOptions"
                                        optionLabel="name"
                                        optionValue="'value"
                                        [(ngModel)]="roasteryProfileService.empName"
                                    ></p-dropdown>
                                </div>
                                <div class="col-12 col-md-6 mt-4 pt-1">
                                    <button
                                        type="submit"
                                        pButton
                                        class="btn-normal mr-2"
                                        [label]="assignButtonValue"
                                        [disabled]="assignButtonValue === 'Adding'"
                                        (click)="addContact()"
                                    ></button>
                                    <button
                                        pButton
                                        type="submit"
                                        class="cancel-butn"
                                        (click)="cancelAssign()"
                                        [label]="'cancel' | translate"
                                    ></button>
                                </div>
                            </div>
                            <div class="add-brand-div mt-3 mb-3">
                                <a class="brand-tag add-link" (click)="showContact()">
                                    <span class="add-text ml-4">{{ 'add_another_contact' | translate }}</span>
                                </a>
                            </div>
                        </div>

                        <div class="d-block" *ngIf="roasteryProfileService.editmode">
                            <div class="employer mt-4 d-none d-md-block">
                                <p class="sub-header">{{ 'contacts' | translate }}</p>
                                <p class="header-descr m-0 mb-4">
                                    {{ 'list_down_top_employees' | translate }}
                                </p>
                                <div class="row">
                                    <div
                                        class="col-lg-3 col-md-4 col-sm-6 col-6 mb-2"
                                        *ngFor="let contact of roasteryProfileService.roasterContacts"
                                    >
                                        <div class="employ-profile">
                                            <div class="p-gal">
                                                <img [src]="contact.profile_image_url || 'assets/images/profile.svg'" />
                                            </div>
                                            <div class="profile-des">
                                                <h4>{{ contact.name | titlecase }}</h4>
                                                <h6>{{ contact.roles[0] || '-' }}</h6>
                                            </div>
                                            <div class="mt-2">
                                                <button
                                                    pButton
                                                    class="btn-file-upload mt-25"
                                                    label="{{ 'message' | translate }}"
                                                >
                                                    <img
                                                        class="mr-2"
                                                        src="assets/images/message-icon.svg"
                                                        alt="message icon"
                                                    />
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12 p-2 d-none d-lg-block">
                    <ng-template *ngTemplateOutlet="rightSidePanel"></ng-template>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #rightSidePanel>
    <div
        class="br-main br-4 p-0"
        *ngIf="this.globals.checkItem('certificate-list') || this.globals.checkItem('certificate-management')"
    >
        <div class="header fnt-18 font-bold text-clr334 m-1">{{ 'awards_and_certificates' | translate }}</div>
        <div class="row mt-3 m-0" *ngFor="let certificate of certificatesArray">
            <div class="col-12">
                <div class="w-100 certification-item-container border-div d-flex justify-content-between">
                    <div class="certification-item-metadata d-flex">
                        <img class="img-estate" src="assets/images/certificate.svg" alt="User" />
                        <div class="certification-description ml-2">
                            <ul>
                                <li class="fnt-14-normal fnt-600 text-clr334">{{ certificate.name }}</li>
                                <li class="fnt-14-normal fnt-600 text-clr588">
                                    {{ certificate.year }}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="certificaion-action d-flex">
                        <a
                            class="menu-arrow"
                            [popover]="listTemplate"
                            placement="bottom"
                            [outsideClick]="true"
                            #pop1="bs-popover"
                        >
                            <img class="message-icon" src="assets/images/ellipses.png" alt="Message" />
                        </a>
                        <ng-template #listTemplate id="{{ certificate.id }}">
                            <div id="popover-mobile-content">
                                <ul class="list-data custom-popover">
                                    <li
                                        class="list-item"
                                        *ngIf="
                                            this.globals.checkItem('certificate-management') &&
                                            this.globals.permissions['certificate-management'].manage
                                        "
                                    >
                                        <a
                                            class="pointer-item"
                                            (click)="editCertificate($event, certificate); pop1.hide()"
                                        >
                                            {{ 'edit' | translate }}
                                        </a>
                                    </li>
                                    <li
                                        class="list-item"
                                        *ngIf="
                                            this.globals.checkItem('certificate-management') &&
                                            this.globals.permissions['certificate-management'].manage
                                        "
                                    >
                                        <a
                                            class="pointer-item"
                                            (click)="deleteCertificate(certificate.id); pop1.hide()"
                                            >{{ 'delete' | translate }}</a
                                        >
                                    </li>
                                </ul>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="add-brand-div p-4"
            *ngIf="
                this.globals.checkItem('certificate-management') &&
                this.globals.permissions['certificate-management'].manage
            "
        >
            <a class="brand-tag add-link" routerLink="/features/license">
                <span class="add-text ml-4">{{ 'add_another_certificate' | translate }}</span>
            </a>
        </div>
    </div>
    <div class="br-main br-4 mt-3 p-0">
        <div class="header fnt-18 font-bold text-clr334 m-1">{{ 'employee_details' | translate }}</div>
        <div class="w-100">
            <div class="d-flex employee-details-container pt-45 pb-45 pl-4 pr-4">
                <div class="w-50 border-right">
                    <p class="m-0 fnt-32 font-bold text-clr334">{{ roasteryProfileService.employeeNos }}</p>
                    <p class="mt-2 mb-0 fnt-18 font-600 text-clr588">{{ 'total_employees' | translate }}</p>
                </div>
                <div class="w-50 pl-45">
                    <p class="m-0 fnt-32 font-bold text-clr334">{{ roasteryProfileService.employeeAvg }}</p>
                    <p class="mt-2 mb-0 fnt-18 font-600 text-clr588">{{ 'average_age' | translate }}</p>
                </div>
            </div>
        </div>

        <div class="w-100">
            <div *ngIf="this.roasteryProfileService.maleNum == null && this.roasteryProfileService.femaleNum == null">
                <p class="note">{{ 'no_data_display' | translate }}</p>
            </div>
            <div class="custom-chart-container">
                <app-pie-area-chart [results]="roasteryProfileService.single"></app-pie-area-chart>
            </div>
        </div>
    </div>
</ng-template>
