.ownerNameError,
.foundedInError,
.phoneError,
.countryError,
.addressError,
.cityError {
    color: #d50000;
}

.rectangle {
    height: 46px;
}

.border-class {
    border: 1px solid #ebebeb;
    border-radius: 2px;
}

.header {
    font-family: Muli;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #232334;
    height: 50px;
    border-radius: 4px;
    background-color: #f8f8f8;
    padding: 0.75rem;
}
.cancel_assign:hover{
    text-decoration: underline;
}
.cancel_text{
    font-family: Muli;
    font-size: 14px;
    font-weight: bold;
    color: #30855c;
    padding: 12px 11px;
}
.role_edit {
    border-radius: 4px;
    border: solid 1px #d6d6d6;
    background-color: #ffffff;
    background: url(../../../../assets/images/active.png) right 16px top 19px/10px no-repeat;
    -webkit-appearance: none;
    font-family: Muli;
    font-weight: 500;
    height: 46px !important;
    padding-top: 7px;
    cursor: pointer;
}

label {
    color: #232334;
    width: 100%;
}

hr {
    border: 1px dashed #d6d6d6 !important;
    margin-bottom: 2rem !important;
}

.sub-header {
    font-family: Muli;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #232334;
    width: 100%;
    margin-bottom: 0.5rem !important;
}

.header-descr {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #747588;
    width: 100%;
}

.text-data {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #232334;
}

.emp_count,
.avg_count {
    font-family: Muli;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #232334;
}

.emp_text {
    font-family: Muli;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #747588;
}

.emp_count_div {
    border-right: 1px solid #d6d6d6;
}

.oval {
    width: 224px;
    height: 235px;
    background-color: #f8f8f8;
    border-radius: 100%;
    padding: 6rem 4.2rem;
}

.note {
    font-family: Muli;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #979797;
    word-wrap: break-word;
}

.chart-div {
    padding: 1rem;
}

.logo-btn {
    border-radius: 4px;
    background-color: #30855c;
    height: 46px;
    font-family: Muli;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: right;
    color: #ffffff;
    padding: 0.5rem 1.5rem;
}

.logo-btn {
    box-shadow: 0 0 7px 1px rgba(67, 146, 108, 0.5);
}

.star {
    color: #ff1e5a;
}

.add-text {
    font-family: Muli;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: right;
    color: #80460b;
}

.add-field {
    position: relative;
    bottom: 3px;
    padding-right: 2%;
}

.brand-tag {
    cursor: pointer;
}

.brand-tag:hover {
    text-decoration: underline !important;
}

.img-estate {
    width: 32px;
    height: 32px;
}

.details-list {
    list-style: none;
    margin-left: 1.5rem;
}

.estate-name {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    color: #232334;
    text-overflow: ellipsis;
}

.estate-number,
.estate-mail {
    font-family: Muli;
    font-size: 12px;
    font-weight: 600;
    color: #747588;
}

.estate-message {
    font-family: Muli;
    font-size: 12px;
    font-weight: 500;
}

.border-div {
    border-bottom: 1px dashed #d6d6d6;
}

.info-content {
    color: #232334;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.57;
    font-family: Muli;
    width: 80%;
}

.weight {
    font-family: Muli;
    font-size: 38px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #232334;
}

.capabilities_content {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #232334;
}

.capabilitiesDiv {
    border-right: 1px solid #d6d6d6;
    float: left;
    margin-right: 1rem;
}

.border-total {
    border: 1px solid #d6d6d6;
    padding: 1rem;
    margin-left: 1rem;
}

.capabilitiesdescrDiv {
    padding: 1.5rem;
}

.capacity-header {
    color: #747588;
    font-weight: 600;
}

.mob-view {
    display: block !important;
}

.about-web {
    display: block !important;
}

.about-mobile {
    display: none !important;
}


/**********popover*******/

.list-data li {
    width: auto !important;
    padding: 10px 3rem 10px 10px !important;
}

.list-data {
    margin-bottom: 0%;
}

::ng-deep .popover-body {
    padding: 0.25rem 0.25rem !important;
}

::ng-deep .popover {
    border: none !important;
    border-radius: 6px !important;
    box-shadow: 0 0 17px 2px rgba(27, 27, 27, 0.08) !important;
    background-color: #ffffff;
}

.list-item {
    border: none;
    font-family: 'Muli';
    font-size: 14px;
    font-weight: 600;
    color: #747588;
}

.list-item:hover {
    color: #232334;
    font-weight: 600;
    background-color: #f8f8f8;
}

.pointer-item {
    cursor: pointer;
}

.camera-pic {
    position: relative;
    top: 20%;
    right: 15%;
}

@media screen and (max-width: 991px) {
    .mob-view {
        display: none !important;
    }
    .no-margin {
        margin-top: 0% !important;
        margin-bottom: 0% !important;
    }
    #founded_in,
    #owner_name {
        margin-bottom: 2rem;
    }
    .about-web {
        display: none !important;
    }
    .about-mobile {
        display: block !important;
    }
    .mob-border {
        border: 1px solid #ebebeb;
        border-radius: 4px;
    }
    .mob-label {
        font-weight: bold;
        font-size: 16px;
        color: #747588;
    }
    .mob-info-content {
        color: #232334 !important;
        font-size: 12px;
        width: 100%;
    }
    .mob-border {
        border: 1px solid #ebebeb;
        margin-left: 1rem;
        margin-right: 1rem;
        padding: 1rem;
    }
    .border-class {
        padding-left: 15px !important;
        padding-right: 15px !important;
        border: none;
    }
    .form-group {
        margin-bottom: 2rem;
    }
    .mp-3 {
        padding-top: 0 !important;
    }
    .sub-header {
        font-size: 16px;
    }
    .rectangle {
        height: 46px;
        font-size: 14px !important;
    }
    .p-3 {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .file-attach-label {
        color: #747588;
        font-size: 10px;
    }
    .add-brand-div {
        text-align: center;
    }
    .mdevice-border {
        border: 1px solid #ebebeb;
        padding: 0 !important;
        margin-left: 16px;
        margin-right: 16px;
    }
    .capacity-text {
        width: 40%;
        margin-bottom: 1.5rem;
        border-right: 1px solid #ebebeb;
    }
    .capacity-text-1 {
        width: 60%;
        margin-bottom: 1.5rem;
        border-right: none;
        margin-left: 12px;
    }
    .weight {
        font-size: 28px;
    }
    .border-capacity {
        border-bottom: 1px dashed #d6d6d6;
        display: flex !important;
    }
    .emp_count,
    .avg_count {
        font-size: 24px;
    }
    .emp_text {
        font-size: 14px;
    }
    .brand-content {
        font-size: 12px;
    }
    .brand-title {
        font-size: 14px;
    }
    .contact-number {
        font-size: 14px;
        font-weight: bold;
        color: #747588;
        text-overflow: ellipsis;
    }
    .contact-name {
        font-size: 14px;
        font-weight: bold;
        color: #232334;
        text-overflow: ellipsis;
    }
    .chart-div {
        padding: 1rem;
    }
    .camera-pic {
        right: 7%;
    }
    .web-border {
        border: none !important;
        padding-left: 0rem !important;
        padding-right: 0rem !important;
    }
    .brand-image {
        margin-top: 5%;
        height: 72px !important;
        width: 72px !important;
    }
    .brand-image-div {
        width: 25%;
        padding-left: 0% !important;
    }
    .brand-content-div {
        width: 75%;
        padding-left: 0% !important;
        padding-right: 0% !important;
    }
}

.brand-image {
    height: 90px;
    width: 90px;
    border-radius: 100%;
}

.brand-title {
    font-size: 16px;
    font-weight: bold;
    color: #232334;
    word-wrap: break-word;
}

.brand-content {
    font-size: 14px;
    font-weight: 600;
    color: #232334;
    word-wrap: break-word;
}


/* contacts view port Desktop view */

.p-gal img {
    width: 100%
}

.profile-des h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 12px;
    color: #232334;
    font-family: Muli;
}

.profile-des h6 {
    font-family: Muli;
    font-size: 14px;
    font-weight: 500;
    color: #747588;
}

.employer h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 22px;
    color: #232334;
    font-family: Muli;
}

.msg-chat {
    border: 1px solid #747588;
    padding: 4px 13px 6px;
    float: left;
    border-radius: 2px;
}

.msg-chat p {
    margin-bottom: 0;
    font-family: Muli;
    font-size: 14px;
    font-weight: 500;
    color: #232334;
}

input[type=number]::-webkit-inner-spin-button {
    display: none;
}

.pie-chart-div {
    padding-left: 2rem;
}

@media screen and (max-width:375px) {
    .pie-chart-div {
        padding-left: 0rem;
    }
}

.web-border {
    border: 1px solid #d6d6d6;
    border-radius: 2px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.certificate-hover {
    padding: 10px 20px;
    margin: 0;
}

.certificate-hover:hover {
    box-shadow: 0 22px 34px 0 rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

:host ::ng-deep .ui-inputswitch.ui-inputswitch-checked .ui-inputswitch-slider:before {
    background-color: #24be46 !important;
}

 :host ::ng-deep .ui-inputswitch .ui-inputswitch-slider:before {
    background-color: #999999 !important;
}

 :host ::ng-deep .ui-inputswitch.ui-inputswitch-checked .ui-inputswitch-slider {
    background-color: #D3F2DA !important;
}

 :host ::ng-deep .ui-inputswitch .ui-inputswitch-slider {
    background-color: #dddddd !important;
}

 :host ::ng-deep .ui-inputswitch .ui-inputswitch-focus {
    box-shadow: none !important;
    outline: none !important;
}

.private-pad-7 {
    margin-left: 7rem;
}
.add-partner{cursor: pointer;
    color: #80460b}