<div class="main-block">
    <div *ngIf="loaded; else loading">
        <div class="mx-0 text-white mob-sec">
            <section class="create-role">
                <div class="back-icon w-100">
                    <a (click)="onCancel()"
                        ><img src="assets/images/back-arrow-confirm.svg" /> {{ 'back' | translate }}</a
                    >
                </div>
            </section>
        </div>
        <div class="overflow-auto flex-nowrap breadCrumb web-sec">
            <p-breadcrumb [model]="breadItems"></p-breadcrumb>
        </div>
        <section class="mt-4">
            <div class="row w-100 ml-0">
                <div>
                    <h1 class="fnt-16 fnt-md-18 fnt-bold">Order #{{ orderDetails?.id }}</h1>
                </div>
            </div>
            <div class="text-clr588 mb-4">Manage the price, quantity & delivery charges of coffee marked for sale</div>
            <div *ngIf="orderDetails" class="border-main border-md-none br-4 p-3 p-md-0">
                <div class="fnt-16 fnt-md-18 fnt-bold mb-35 mb-md-2">
                    {{ 'green_coffee_details' | translate }}
                </div>
                <p-table
                    #myTable
                    [value]="tableValue"
                    [columns]="tableColumns"
                    [scrollable]="isTablet$ | async"
                    styleClass="p-datatable-responsive-single"
                >
                    <ng-template pTemplate="header" let-columns>
                        <tr class="d-none d-sm-none d-md-table-row">
                            <th *ngFor="let col of columns" [style.width]="col.width ? col.width + '%' : '30%'">
                                <span class="primeng-table-header">{{ col.header | translate }}</span>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr>
                            <td
                                *ngFor="let col of columns"
                                [ngSwitch]="col.field"
                                [style.width]="col.width && (isTablet$ | async) ? col.width + '%' : ''"
                            >
                                <ng-container *ngSwitchCase="'origin'">
                                    <span class="p-column-title"> {{ col.header | translate }} </span>
                                    <span>{{ rowData[col.field] | country }}</span>
                                </ng-container>

                                <ng-container *ngSwitchCase="'quantity'">
                                    <span class="p-column-title"> {{ col.header | translate }} </span>
                                    <span
                                        >{{ rowData['quantity_count'] }} {{ rowData['quantity_type'] }}/{{
                                            rowData['quantity']
                                        }}
                                        {{ rowData['quantity_unit'] || 'kg' }}
                                    </span>
                                </ng-container>

                                <ng-container *ngSwitchCase="'price'">
                                    <span class="p-column-title"> {{ col.header | translate }} </span>
                                    <span>${{ rowData[col.field] }}/{{ rowData['quantity_unit'] || 'kg' }}</span>
                                </ng-container>

                                <ng-container *ngSwitchDefault>
                                    <span class="p-column-title"> {{ col.header | translate }} </span>
                                    <span>{{ rowData[col.field] }}</span>
                                </ng-container>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </section>

        <section class="mt-45 mt-lg-4" [formGroup]="lotSaleForm" (ngSubmit)="onSave()" novalidate>
            <div class="row w-100 border-bottom-gray pb-4 pb-md-3 mx-0">
                <div class="col-sm-12 col-md-9 col-lg-9 col-xl-9 px-0 pt-lg-3">
                    <h1 class="text-clr334 fnt-16 fnt-md-18 fnt-bold">
                        {{ 'sale_information' | translate }}
                    </h1>
                    <div class="col-12 pull-left p-0 text-clr334 fnt-14 fnt-normal">
                        Manage the price, quantity & delivery charges of coffee marked for sale
                    </div>
                </div>
                <div *ngIf="!showDropdown" class="col-sm-12 col-md-3 col-lg-3 col-xl-3 current-s-bg webMobPage mt-48">
                    <p class="fnt-14 fnt-muli fnt-400 text-clr334 m-0">Current status</p>
                    <span class="fnt-14 fnt-700 fnt-muli text-clr334">{{ statusLabel }}</span>
                    <span class="text-brown float-right" (click)="showDropdown = true"><a>Change status</a> </span>
                </div>

                <div
                    *ngIf="showDropdown"
                    class="
                        col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3
                        sewn-form-field
                        w-100
                        current-s-bg
                        d-inline
                        webMobPage
                        mt-48
                    "
                >
                    <p-dropdown
                        [options]="stockTypeArray"
                        optionLabel="label"
                        placeholder="In Stock"
                        [style]="{ width: '75%' }"
                        formControlName="status"
                        optionValue="value"
                    ></p-dropdown>
                    <small *ngIf="lotSaleForm.controls['status'].errors?.required" class="p-error">
                        {{ 'required' | translate }}
                    </small>
                    <span (click)="updateStatus()" class="text-brown mt-4 pull-right ml-auto"><a>Save</a> </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div *ngIf="!showDropdown" class="col-md-12 tabPage mt-4 avail-status">
                        <p class="fnt-24 fnt-play fnt-normal text-clr02 m-0 pb-2">Availability Status</p>
                        <p class="fnt-12 fnt-md-14 fnt-muli fnt-600 text-clr334 m-0 pb-3">
                            Maintain the status of your product and keep the roasters updated
                        </p>
                        <p class="fnt-14 fnt-muli fnt-600 text-clr588 m-0">Current status</p>
                        <span class="fnt-md-18 fnt-bold fnt-muli text-clr334">{{ statusLabel }}</span>
                        <span class="text-brown float-right" (click)="showDropdown = true"><a>Change status</a> </span>
                    </div>

                    <div
                        *ngIf="showDropdown"
                        class="col-md-12 sewn-form-field w-100 current-s-bg d-inline tabPage d-lg-none mt-4"
                    >
                        <p-dropdown
                            [options]="stockTypeArray"
                            optionLabel="label"
                            placeholder="In Stock"
                            [style]="{ width: '75%' }"
                            formControlName="status"
                            optionValue="value"
                        ></p-dropdown>
                        <small *ngIf="lotSaleForm.controls['status'].errors?.required" class="p-error">
                            {{ 'required' | translate }}
                        </small>
                        <span (click)="updateStatus()" class="text-brown mt-4 pull-right ml-auto"><a>Save</a> </span>
                    </div>
                </div>
            </div>
            <div class="row mt-4 pt-lg-2 gutter-16 gutter-lg-24">
                <div class="col-md-6 sewn-form-field">
                    <label>Product name<span class="star">*</span></label>
                    <input
                        type="text"
                        placeholder="Give a name to this green coffee"
                        formControlName="name"
                        pInputText
                    />
                    <small *ngIf="lotSaleForm.controls['name'].errors?.required" class="p-error">
                        {{ 'required' | translate }}
                    </small>
                </div>
                <div class="col-md-6 col-lg-3 sewn-form-field">
                    <label>Selling price<span class="star">*</span>(in SEK)</label>
                    <div class="input-and-select gray">
                        <p-inputNumber formControlName="price" placeholder="Enter the selling price"></p-inputNumber>
                        <p-dropdown [options]="priceTypeArray" placeholder="" formControlName="price_per_unit">
                        </p-dropdown>
                        <small *ngIf="lotSaleForm.controls['price'].errors?.required" class="p-error">
                            {{ 'required' | translate }}
                        </small>
                        <small *ngIf="lotSaleForm.controls['price_per_unit'].errors?.required" class="p-error">
                            {{ 'please_select_unit' | translate }}
                        </small>
                    </div>
                </div>
            </div>
            <div class="row gutter-16 gutter-lg-24">
                <div class="col-md-6 col-lg-3 sewn-form-field">
                    <label>Quantity for sale<span class="star">*</span></label>
                    <div class="p-inputgroup custom-addon">
                        <p-inputNumber
                            formControlName="quantity_count"
                            placeholder="Enter a number"
                            (ngModelChange)="changeQuantity()"
                        ></p-inputNumber>
                        <span class="p-inputgroup-addon gray">{{ lotSaleForm.value.quantity_type }}</span>
                        <small *ngIf="lotSaleForm.controls['quantity_count'].errors?.required" class="p-error">
                            {{ 'required' | translate }}
                        </small>
                        <small *ngIf="lotSaleForm.controls['quantity_type'].errors?.required" class="p-error">
                            {{ 'please_select_unit' | translate }}
                        </small>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 sewn-form-field">
                    <label>Remaining quantity</label>
                    <input type="text" placeholder="-" [value]="remaining" pInputText disabled />
                </div>
                <div class="col-md-6 col-lg-3 sewn-form-field">
                    <label>Minimum order quantity<span class="star">*</span></label>
                    <div class="p-inputgroup custom-addon">
                        <p-inputNumber
                            formControlName="minimum_order_quantity_count"
                            placeholder="Enter a number"
                        ></p-inputNumber>
                        <span class="p-inputgroup-addon gray">{{ lotSaleForm.value.quantity_type }}</span>
                        <small
                            *ngIf="lotSaleForm.controls['minimum_order_quantity_count'].errors?.required"
                            class="p-error"
                        >
                            {{ 'required' | translate }}
                        </small>
                        <small *ngIf="lotSaleForm.controls['minimum_order_quantity_count'].errors?.min" class="p-error">
                            {{ 'must_be_greater_than' | translate }} 0
                        </small>
                        <small *ngIf="lotSaleForm.controls['quantity_type'].errors?.required" class="p-error">
                            {{ 'please_select_unit' | translate }}
                        </small>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 sewn-form-field">
                    <label>Weight / bag<span class="star">*</span></label>
                    <div class="p-inputgroup custom-addon">
                        <p-inputNumber formControlName="quantity" placeholder="Enter a number"></p-inputNumber>
                        <div class="p-inputgroup-addon gray">kg</div>
                        <small *ngIf="lotSaleForm.controls['quantity'].errors?.required" class="p-error">
                            {{ 'required' | translate }}
                        </small>
                        <small *ngIf="lotSaleForm.controls['quantity_unit'].errors?.required" class="p-error">
                            {{ 'please_select_unit' | translate }}
                        </small>
                    </div>
                </div>
            </div>
            <div class="row gutter-16 gutter-lg-24">
                <div class="col-md-6 col-lg-3 sewn-form-field">
                    <label>VAT role<span class="star">*</span></label>
                    <p-dropdown
                        [options]="vatDetailsArray"
                        placeholder="Select a transaction role"
                        [style]="{ width: '100%' }"
                        formControlName="vat_settings_id"
                    ></p-dropdown>
                    <small *ngIf="lotSaleForm.controls['vat_settings_id'].errors?.required" class="p-error">
                        {{ 'required' | translate }}
                    </small>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 px-0">
                <div class="row">
                    <div class="col-lg-12 col-md-12 web-sec">
                        <div class="float-left my-4">
                            <button class="btn btn-stroked mt-32" (click)="openDeleteModal()">
                                Delete product from listing
                            </button>
                        </div>

                        <div class="float-right my-4">
                            <button type="button" class="btn btn-stroked mt-32" (click)="onCancel()">Cancel</button>
                            <button type="submit" class="ml-3 btn-raised btn" (click)="onSave()">Save changes</button>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 w-100 mob-sec">
                        <button class="btn btn-stroked w-100 mt-3" (click)="openDeleteModal()">
                            Delete product from listing
                        </button>
                        <button type="submit" class="w-100 btn-raised btn mt-3" (click)="onSave()">Save changes</button>
                        <button type="button" class="btn btn-stroked mt-3 w-100" (click)="onCancel()">Cancel</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<ng-template #loading><app-loading></app-loading></ng-template>
