<div class="row">
    <div class="col-md-12 lot-content table-responsive">
        <table class="lot-table">
            <thead>
                <tr>
                    <th>Origin</th>
                    <th>Variety</th>
                    <th>Bulk Ordered</th>
                    <th>Rate per bag</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Columbia</td>
                    <td>Bourbon,Cautai</td>
                    <td>Sample
                        <!--    <p class="lot-link">View lot details &#x0003E;</p> -->
                    </td>
                    <td>$450/bag</td>
                    <td>$100</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>
<hr>
<div class="row pb-7">
    <div class="col-lg-7 col-md-7 col-sm-12 bulk-details-content">
        <h4 class="sub-title">Bulk details</h4>

        <table class="recent-time">

            <tr>
                <td> <span class="list-que"> Taste profile: </span></td>
                <td> <span class="list-ans"> Strawberry </span> </td>

            </tr>
            <tr>
                <td> <span class="list-que">  Listing Status: </span></td>
                <td> <span class="list-ans">  Warehouse </span> </td>

            </tr>
            <tr>
                <td> <span class="list-que">  Processing: </span></td>
                <td> <span class="list-ans">  Unwashed </span> </td>

            </tr>

            <tr>
                <td> <span class="list-que">  Type: </span></td>
                <td> <span class="list-ans">  Single origin </span> </td>

            </tr>

            <tr>
                <td> <span class="list-que">  Species: </span></td>
                <td> <span class="list-ans">  Coffee Arabica </span> </td>

            </tr>

            <tr>
                <td> <span class="list-que">   Quality: </span></td>
                <td> <span class="list-ans">  High </span> </td>

            </tr>

            <tr>
                <td> <span class="list-que">    Flavours: </span></td>
                <td> <span class="list-ans">  Chocolate </span> </td>

            </tr>

            <tr>
                <td> <span class="list-que">   Other: </span></td>
                <td> <span class="list-ans">  Decaf </span> </td>

            </tr>

        </table>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 payment-status-content">
        <h4 class="sub-title">Payment status</h4>
        <div class="w-100 mt-3">
            <p class="status_paid" *ngIf="sampleService.statusPending"> PENDING</p>
            <!-- <button type="button" class="btn receipt-btn mb-2" *ngIf="sampleService.statusPending"><img src="assets/images/view-receipt.svg" class="pr-2">View receipt</button> -->

            <!-- <p class="status_paid" *ngIf="sampleService.statusPaid"> <img src="assets/images/statusPaid.svg"> PAID</p> -->
            <p class="status_paid" *ngIf="sampleService.statusPaid"> PAID</p>
            <div *ngIf="uploadShow"><button type="button" class="btn receipt-btn mb-2" (click)="fileClick()"><img src="assets/images/upload-icon.png" class="pr-2">Upload receipt</button></div>
            <div *ngIf="receiptShow"> <button type="button" class="btn receipt-btn mb-2"><img src=" assets/images/view.png " class="pr-2 ">View receipt</button></div>
            <p><a class="procedure mt-2 ">View payment procedure </a></p>
            <div class="track-info mt-4 pt-2 " *ngIf="sampleService.shipmentDone ">
                <p class="track-info-title ">Tracking ID <img class="pl-3 " src="assets/images/open-icon.png " alt=" "></p>
                <p class="track-id ">9274972094-29ei43</p>
            </div>
            <div class="shipment-info mt-4 " *ngIf="sampleService.shipmentDone ">
                <p class="shipment-title ">Shipment ID <img class="pl-3 " src="assets/images/open-icon.png " alt=" "></p>
                <p class="shipment-id ">9274972094-29ei43</p>
            </div>
            <input type="file " hidden #fileUpload (change)="openFile($event) ">
        </div>

    </div>
</div>