<div class="border-main br-4 h-100 d-flex flex-column">
    <div class="fnt-16 fnt-lg-18 fw-b text-clr334 br-4 bg-f8 p-2 m-1">
        {{ 'onboard_customers' | translate }}
    </div>
    <div class="m-3 d-flex flex-column justify-content-between align-items-stretch flex-fill">
        <div class="fnt-14 fnt-normal text-clr588 mb-3">
            {{ 'onboard_customers_description' | translate }}
        </div>
        <div class="text-right text-md-left">
            <button type="submit" class="btn-stroked" routerLink="/features/onboard-customers">
                {{ 'send_invite' | translate }}
            </button>
        </div>
    </div>
</div>
