.green_grading_cont {
    h1 {
        font-size: 18px;
    }
}

.star {
    color: #d50000;
}

.dropdown-wrapper {
    flex: 1;
    margin: 0 -8px;
}

.dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin: 0 4px;
    background: #747588;
}

.GC_ORDER_SAMPLE {
    color: #f19634;
}

.GC_ORDER {
    color: #649a2b;
}

.PREBOOK_LOT {
    color: #7c6be8;
}

@media (min-width: 768px) {
    .table-container {
        overflow-x: auto;
        .table-responsive {
            min-width: 864px;
        }
    }
}
