<div class="bg-fff">
    <section class="col-sm-12 col-md-12 col-lg-12 top-padding">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <nav role="navigation" aria-labelledby="title-breadcrumb-1" class="breadcrumb1">
                    <span id="title-breadcrumb-1" class="sr-only"></span>
                    <ul class="bread-nav">
                        <li class="b-cum">
                            <a class="b-cum" routerLink="/features/welcome-aboard">Home</a><span class="padl-r" aria-hidden="true"> <img class="group-img" src="/assets/images/arrow-1.png" alt=""> </span>
                        </li>
                        <li class="b-cum c-pink">Profile Edit</li>
                    </ul>
                </nav>
            </div>
            <div class="float-right ml-auto butn-mt">
                <button type="button" class="btn cancel-butn" (click)=profileSave();> Save changes </button>
            </div>
        </div>
    </section>


    <section class="my-profile">
        <div class="col-lg-12 col-sm-12">

            <h1 class="fnt-play"> My Profile</h1>
            <p> Enter or edit personal information and contact details</p>

            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="upload-profile">
                        <img [src]="profilePicService.croppedImage" alt="profile" class="profile-pic-feature" />
                        <div class="">
                            <a class="show_modal" (click)="showModalDialog()">
                                <img src="assets/images/my-pro-pic.png" alt="add_pic" class="add-pic" />
                            </a>

                        </div>


                        <p class="pic-head-text ">Upload your Picture</p>

                        <p class="form_para_text ">You can upload a JPG or PNG file. Max file size limit 2MB </p>
                        <button class="btn btn-link add-btn p-0" (click)="profilePicService.deletePhoto();" *ngIf="profilePicService.deleteLogo">
                                <img class="delete-logo" src="assets/images/delete.png" /><span
                                  class="add-text"
                                  >Delete photo</span
                                >
                              </button>
                        <!-- <button class="btn btn-link add-btn p-0"> <img src="assets/images/upload.svg" />
                            <span class="add-upload">Upload Logo</span> </button> -->
                        <div>
                            <input type="file" accept="image/*" style="visibility: hidden;" #image (change)="handleFile($event)" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 edit-section">

                    <div class="form-group row pt-4">
                        <div class="form-group col-md-6 col-sm-12">
                            <label class="raise-label">Name <span class="star-red"> *</span></label>
                            <input type="text" class="form-control raise-box" placeholder="Please enter your name" (keyup)="onKeyPress($event)" [(ngModel)]="name" name="name" id="name" required="">
                            <div class="nameError" *ngIf="nameError != ''">{{nameError}}</div>
                        </div>
                    </div>

                       <div class="p-grid ui-fluid date-birth">
                        <div class="p-col-6">
                            <h3 class="raise-date">Date of birth</h3>
                            <p-calendar [(ngModel)]="date6" [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="1970:2020" required="" dateFormat="yy-mm-dd"></p-calendar>

                            <!-- <p-calendar [(ngModel)]="date3" [showIcon]="true" name="Date of birth" id="dateOfBirth" required=""></p-calendar> -->
                            <!-- <div class="orderDateError" *ngIf="orderDateError != ''">{{orderDateError}}</div> -->

                        </div>
                    </div>

                    <div class="form-group row pt-4">
                            <div class="form-group col-md-6 col-sm-12">
                                <label class="raise-label">Role</label>
                                <input type="text" class="form-control raise-box" placeholder="role" disabled  [(ngModel)]="role" name="role" id="role" required="">
                                <!-- <div class="roleError" *ngIf="roleError != ''">{{roleError}}</div> -->
                            </div>
                        </div>

                    <!-- <div class="form-group row pt-2">
                        <div class="form-group col-md-12">
                            <label class="raise-label">Whats your solution to the problem? (Optional)</label>
                            <textarea class="form-control" placeholder="Describe your problem" rows="4" cols="50" [(ngModel)]="description" name="description" id="description"> </textarea>
                            <div class="descriptionError" *ngIf="descriptionError != ''">{{descriptionError}}</div>
                        </div>
                    </div> -->

                    <div class="form-group row pt-4">
                        <div class="form-group col-md-6 col-sm-12">
                            <label class="raise-label">Email Address <span class="star-red"> *</span></label>
                            <input type="email" class="form-control raise-box" placeholder="Please enter your work email" (keyup)="onKeyPress($event)" [(ngModel)]="email" name="email" id="email" required="">
                            <div class="emailError" *ngIf="emailError != ''">{{emailError}}</div>

                        </div>

                        <div class="form-group col-md-6 col-sm-12 phone-number">
                            <input hidden class="hidden-phone-num" type="text" value="+91">
                            <label class="raise-label">Phone Number <span class="star-red"> *</span></label>
                            <div class="phone-nmber__select" id="phone">
                                <span class="Selected-ISD" id="finalNumber">+91</span>
                                <ul class="select-list">

                                </ul>
                                <span>
                            <input type="number" class="entered-number" placeholder="Enter your phone number" (keyup)="onKeyPress($event)" [(ngModel)]="phoneno" name="phoneno" id="phoneno" required="">
                            </span>
                            </div>
                            <div class="phonenoError" *ngIf="phonenoError != ''">{{phonenoError}}</div>

                        </div>
                    </div>


                 <hr>



                  


                </div>

                <div class="float-right ml-auto mobile-butn">
                    <button type="button" class="btn cancel-butn" (click)=profileSave();> Save changes </button>
                </div>
            </div>
        </div>
    </section>

</div>

<p-dialog header="Edit Photo" [(visible)]="profilePicService.displayModal" [modal]="true" [style]="{ width: '50vw' }" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <p-header>
        <span class="close-img-div">
      <img
        class="close-pic pull-right"
        src="assets/images/close.svg"
        alt="close-image"
        (click)="closeProfileModal()"
      />
    </span>
    </p-header>
    <sewn-profile-pic></sewn-profile-pic>
    <p-footer>
        <button type="button" id="change-pic" class="previous btn " (click)="showModalDialog()">
      Change photo
    </button>
        <button type="button" id="save-pic" class="btn btn-info login-butn" (click)="profilePicService.saveProfilePic()">
      Save photo
    </button>
    </p-footer>
</p-dialog>