.my-profile h1 {
    font-family: Muli !important;
    font-size: 18px;
    font-weight: bold !important;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #232334;
}

.my-profile p {
    font-family: Muli;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #747588;
}

.cancel-butn {
    border-radius: 4px;
    background-color: #30855c;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    border: #30855c;
}

.cancel-butn:hover {
    background-color: #30855c;
    border: #30855c;
    box-shadow: 0 0 7px 1px rgba(67, 146, 108, 0.5);
}

.my-profile {
    padding: 1rem 1.5rem;
}

.raise-label {
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #747588;
    /* text-transform: uppercase; */
}

.raise-box {
    height: 50px !important;
    border-radius: 6px;
    border: solid 1px #d6d6d6;
    background-color: #ffffff;
}

.raise-date {
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #747588;
    /* text-transform: uppercase; */
}

.form-control {
    font-size: 14px !important;
}

.upload-profile {
    /* margin-top: 10px; */
    border: 2px dashed #d6d6d6;
    position: relative;
    padding: 2rem 5rem 1rem;
    text-align: center;
    border-radius: 4px;
}

.profile-pic-feature {
    width: 100px;
    border-radius: 100%;
}

.add-pic {
    margin-top: -4rem;
    cursor: pointer;
    margin-left: 4rem;
}

.butn-mt {
   padding-right: 2rem ;
   padding-top: 2rem;
}

.pic-head-text {
    font-family: Muli !important;
    font-size: 16px !important;
    font-weight: bold !important;
    font-stretch: normal !important;
    font-style: normal !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    color: #232334 !important;
}

.form_para_text {
    font-family: Muli;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #747588;
}

.add-upload {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #30855c;
    padding-left: 10px;
}

.star-red {
    color: #ff1e5a;
}


/* ========== Profile Pic CSS ========== */

@media screen and (max-width: 40em) {
     :host ::ng-deep .ui-dialog {
        width: 75vw !important;
    }
}

#change-pic:focus {
    outline: none;
    box-shadow: none;
}

 :host ::ng-deep .ui-dialog-titlebar {
    font-family: Muli !important;
    font-size: 24px !important;
    color: #232334 !important;
    background-color: #ffffff !important;
    font-weight: bold;
}

 :host ::ng-deep .ui-dialog-content {
    border-bottom-style: dashed !important;
    border-bottom-color: #d6d6d6 !important;
    height: 40% !important;
    overflow-y: unset;
    border-top: none !important;
    padding: 0 !important;
}

 :host ::ng-deep .ui-dialog-titlebar-icon span {
    display: none !important;
}

 :host ::ng-deep .ui-dialog-titlebar-icon::before {
    background: url(/assets/images/close.svg) !important;
    display: inline !important;
}

.close-pic {
    cursor: pointer;
    position: relative;
    top: 2px;
}

#save-pic,
#change-pic {
    font-size: 14px !important;
    font-family: Muli;
    font-weight: 600;
}

:host ::ng-deep  .ui-dialog-mask.ui-widget-overlay.ui-dialog-visible.ui-dialog-mask-scrollblocker{
    background-color: rgba(0, 0, 0, 0.8) !important;
}

:host ::ng-deep .ui-dialog .ui-dialog-footer{
    border: 1px solid #fff !important;
    padding: 1.25rem 1rem !important;
  }
  :host ::ng-deep .overlay{
  outline: var(--cropper-overlay-color,#919191) solid 100vw !important;
}

/* ======= MODAL ======= */

:host ::ng-deep .ui-button {
    margin: 0.5em 0.5em 0.5em 0;
    width: 140px;
}

.butn-mt {
    display: block;
}


.previous {
    border-radius: 4px !important;
    background-color: #ffffff !important;
    padding: 10px 20px !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    color: #30855c !important;
    border: 1px solid #30855c !important;
    margin-right: 1rem !important;
    font-family: Muli !important;
}

.previous:hover {
    background-color: #30855c !important;
    color: #ffffff !important;
}

.login-butn {
    border-radius: 4px;
    background-color: #30855c;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    border: #30855c;
}

.login-butn:hover {
    background-color: #30855c;
    border: #30855c;
    box-shadow: 0 0 7px 1px rgba(67, 146, 108, 0.5);
}

.login-butn:focus {
    outline: 0;
    background-color: #30855c !important;
}

.mobile-butn {
    display: none;
}

.date-birth {
    width: 58% !important;
}

.nameError,
.phonenoError,
.emailError,
.descriptionError,
.roleError {
    color: #d50000;
}

@media screen and (max-width: 767px) {
    .my-profile {
        padding: 1rem .2rem;
    }
    .date-birth {
        width: 100% !important;
    }
    .butn-mt {
        display: none;
    }
    .mobile-butn {
        display: block;
    }
    .delete-logo{
        padding-right: 3%;
    }
}

.breadcrumb1 {
    padding: 2rem 2rem 0rem 2rem;
}


/* ========CSS for select list and phone number =============  */

li.select-list__item {
    color: #232334 !important;
    cursor: pointer !important;
    padding: 3px !important;
}

.select-list__item:hover {
    background: #f8f8f8;
}

.phone-nmber__select .enetered-number:focus {
    outline: 0;
    box-shadow: 0 0 0 0.035rem green !important;
}


/* .hidden-phone-num {
    opacity: 0;
    display: none;
} */

.phone-number {
    display: inline-block;
}

.phone-number .select-list {
    border: 0;
    outline: 0;
}

.phone-number .entered-number {
    border: 0 !important;
    outline: 0 !important;
    padding: 0 10px;
    width: 75% !important;
    display: inline-block;
}

.phone-number .enetered-number:focus {
    border: none !important;
}

.Selected-ISD {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-right: 20px;
    border-right: 1px solid #d6d6d6;
}

.Selected-ISD::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    border-top: 1.5px solid #d6d6d6;
    border-right: 1.5px solid #d6d6d6;
    right: 7px;
    top: 50%;
    transition: .4s;
    transform: translateY(-50%) rotate(135deg);
}

.Selected-ISD.active::after {
    transform: translateY(-50%) rotate(315deg);
}

.select-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 150px;
    padding: 10px 0;
    background: #fff;
    list-style-type: none;
    opacity: 0;
    display: none;
    transition: 0.6s ease-in-out;
    overflow: auto;
    cursor: pointer;
}

.select-list.active {
    display: block;
    opacity: 1;
    border: 1px solid #d6d6d6 !important;
    z-index: 9999;
    padding: 10px;
}

.phone-nmber__select {
    position: relative;
    border: 1px solid #d6d6d6;
    padding: 15px 15px;
    border-radius: 4px;
    height: 50px;
}

.phone-nmber__select .enetered-number:focus {
    outline: 0;
    box-shadow: 0 0 0 0.035rem green !important;
}

ul li {
    padding: 3px !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* ====Profile Edit changes==== */
.add-text {
    font-family: Muli;
    font-size: 14px;
    font-weight: bold;
    color: #30855c;
    /* padding-left: 8%; */
}
.add-text:hover {
    text-decoration: underline;
}
.delete-logo{
    padding-right: 5%;
    position: relative;
    bottom: 2px;

}
.add-btn{
    width: -webkit-fill-available;
}

#role{
    background-color: #f8f8f8;
}
.edit-section{
    border: 1px solid #ebebeb;
    border-radius: 4px;
}
hr{
    border: 1px dashed #d6d6d6 !important;
}
.mobile-view{
    display: none;
}
.mob{
    display: none;

}

.farm-stricky {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: 99;
    background-color: #fff;
    padding: 10px 30px;
}

@media screen and (max-width:425px){
    .mobile-farm{
        margin-bottom: 2rem;
    }
    .back-ticket{
        font-family: Muli;
        font-size: 16px;
        font-weight: 600;
        color: #80460b;
        cursor: pointer;
    }
    .upload-profile{
        border: none !important;
        padding: 1rem 3rem 1rem;
    }
    .edit-section{
        border: none !important;
    }
    .mobile-view{
        display: block !important;
        padding: 1rem;
    }
    .desk-view{
        display: none;
    }
    .my-profile{
        font-size: 16px;
    }
    .desk{
        display: none;
    }
    .mob{
        display: block !important;
    }
    .phone-nmber__select{
        padding: 13px 15px;
    }
    .cancel-butn{
        width: 100%;
    }
    .image{
        width: 100%;
    }

}

.save-btn{
    border-radius: 4px;
    background-color: #30855c;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    border: #30855c;
}

.save-btn:hover {
   
    box-shadow: 0 0 7px 1px rgba(67, 146, 108, 0.5) !important;
}
