.title-wrap {
    margin-bottom: 16px;
    @media (min-width: 992px) {
        margin-bottom: 38px;
    }
    @media screen and (min-width: 768px) and (max-width: 992px) {
        margin-bottom: 0px;
    }
}
.card {
    .card-img-top {
        @media (min-width: 768px) {
            border-radius: 0;
        }
        img {
            width: 100%;
            height: auto;
            transition: all 1200ms;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

.fnt-md-84 {
    @media screen and (min-width: 768px) and (max-width: 992px) {
        font-size: 8.4px !important;
        line-height: normal !important;
    }
}

.fnt-md-12 {
    @media screen and (min-width: 768px) and (max-width: 992px) {
        font-size: 12px !important;
        line-height: normal !important;
    }
}

.fnt-md-14 {
    @media screen and (min-width: 768px) and (max-width: 992px) {
        font-size: 14px !important;
        line-height: normal !important;
    }
}

.fnt-md-16 {
    @media screen and (min-width: 768px) and (max-width: 992px) {
        font-size: 16px !important;
        line-height: normal !important;
    }
}

.fnt-md-bold {
    @media screen and (min-width: 768px) and (max-width: 992px) {
        font-weight: bold;
    }
}

.fnt-16 {
    font-size: 16px;
    line-height: 20px;
}

.fnt-md-18 {
    font-size: 18px;
    line-height: 22px;
}
