.cert-image {
    width: 24px;
    height: 24px;
    object-fit: cover;

    @media (min-width: 768px) {
        width: 32px;
        height: 32px;
    }
}
.card-wrap {
    margin-bottom: 24px;
    @media (min-width: 768px) {
        margin-bottom: 26px;
    }
}
