@import 'variables';

.forum-card-wrapper {
    .cover-image {
        height: 160px;
        object-fit: cover;
        @media (max-width: 767px) {
            height: 180px;
        }
    }
    &:hover {
        cursor: pointer;
        box-shadow: 0 22px 34px 0 rgba(0, 0, 0, 0.08);
    }
    .recipe-des {
        overflow: hidden;
        text-overflow: ellipsis;
        height: 20px;
        white-space: nowrap;
    }
    .expertise {
        text-transform: capitalize;
        font-family: $general-font-family;
        font-size: 12px;
        font-weight: $fw-m;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        position: absolute;
        top: 0;
        left: 0;
        margin: 16px;
        padding: 8px 16px;
        object-fit: contain;
        border-radius: 14px;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(116, 117, 136, 0.45);
        color: #ffffff;
    }
    .forum-title-text {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    @media (max-width: 991px) {
        width: 374px;
    }

    @media (max-width: 767px) {
        width: 247px;
        height: 322px;
    }
}
