<div class="p-3 p-md-45">
    <div class="p-dialog-header border-none">
        <div class="p-dialog-title">
            <span>{{ 'create_roasting_profile' | translate }}</span>
        </div>
        <div class="p-dialog-header-icons">
            <button class="p-dialog-header-icon p-dialog-header-maximize p-link" (click)="close()">
                <span class="p-dialog-header-close-icon pi pi-times"></span>
            </button>
        </div>
    </div>

    <div class="mt-3" [formGroup]="roastingForm" (ngSubmit)="onSave()" novalidate>
        <section class="border-main br-4 p-3 p-md-4">
            <div class="row gutter-16 gutter-lg-24">
                <div class="col-12 sewn-form-field">
                    <label>{{ 'roast_profile_name' | translate }}<span class="star">*</span></label>
                    <input
                        type="text"
                        [placeholder]="'enter_a_profile_name' | translate"
                        formControlName="name"
                        pInputText
                    />
                    <small *ngIf="roastingForm.controls['name'].errors?.required" class="p-error">
                        {{ 'required' | translate }}
                    </small>
                </div>

                <div class="col-12 fnt-16 fw-b mb-3">{{ 'roast_attributes' | translate }}</div>

                <div class="col-md-6 col-lg-4 sewn-form-field">
                    <label>{{ 'roast_level' | translate }}<span class="star">*</span></label>
                    <p-dropdown
                        [options]="roastLevelArray"
                        optionLabel="name"
                        optionValue="id"
                        [placeholder]="'select_a_roast_level' | translate"
                        [style]="{ width: '100%' }"
                        formControlName="roast_level_id"
                    ></p-dropdown>
                    <small *ngIf="roastingForm.controls['roast_level_id'].errors?.required" class="p-error">
                        {{ 'required' | translate }}
                    </small>
                </div>
                <div class="col-md-6 col-lg-4 sewn-form-field">
                    <label>{{ 'roast_duration' | translate }}<span class="star">*</span></label>
                    <input
                        type="text"
                        [placeholder]="('enter_number' | translate) + ' /min'"
                        formControlName="roast_duration"
                        pInputText
                    />
                    <small *ngIf="roastingForm.controls['roast_duration'].errors?.required" class="p-error">
                        {{ 'required' | translate }}
                    </small>
                </div>
                <div class="col-md-6 col-lg-4 sewn-form-field">
                    <label>{{ 'temperature' | translate }}<span class="star">*</span></label>
                    <input
                        type="text"
                        [placeholder]="'enter_the_temperature' | translate"
                        formControlName="temperature"
                        pInputText
                    />
                    <small *ngIf="roastingForm.controls['temperature'].errors?.required" class="p-error">
                        {{ 'required' | translate }}
                    </small>
                </div>
                <div class="col-md-6 col-lg-4 sewn-form-field mb-0">
                    <label>{{ 'machine_name' | translate }}<span class="star">*</span></label>
                    <input
                        type="text"
                        [placeholder]="'enter_the_machine_used' | translate"
                        formControlName="machine_type"
                        pInputText
                    />
                    <small *ngIf="roastingForm.controls['machine_type'].errors?.required" class="p-error">
                        {{ 'required' | translate }}
                    </small>
                </div>
            </div>
        </section>

        <section class="border-main br-4 p-3 p-md-4 mt-4">
            <div class="mb-4">
                <div class="fnt-16 fw-b mb-2">{{ 'tasting_notes' | translate }}</div>
                <div class="fw-m text-clr588">{{ 'tasting_notes_desp' | translate }}</div>
            </div>

            <div class="row gutter-16 gutter-lg-24">
                <div class="col-md-6 col-lg-3 sewn-form-field">
                    <label>{{ 'aroma' | translate }}</label>
                    <p-inputNumber
                        [minFractionDigits]="1"
                        [placeholder]="'enter_number' | translate"
                        formControlName="aroma"
                    ></p-inputNumber>
                </div>
                <div class="col-md-6 col-lg-3 sewn-form-field">
                    <label>{{ 'acidity' | translate }}</label>
                    <p-inputNumber
                        [minFractionDigits]="1"
                        [placeholder]="'enter_number' | translate"
                        formControlName="acidity"
                    ></p-inputNumber>
                </div>
                <div class="col-md-6 col-lg-3 sewn-form-field">
                    <label>{{ 'body' | translate }}</label>
                    <p-inputNumber
                        [minFractionDigits]="1"
                        [placeholder]="'enter_number' | translate"
                        formControlName="body"
                    ></p-inputNumber>
                </div>
                <div class="col-md-6 col-lg-3 sewn-form-field">
                    <label>{{ 'flavor' | translate }}</label>
                    <p-inputNumber
                        [minFractionDigits]="1"
                        [placeholder]="'enter_number' | translate"
                        formControlName="flavour"
                    ></p-inputNumber>
                </div>
                <div class="col-12 sewn-form-field">
                    <label class="mb-0 mb-md-2">{{ 'flavor_profile' | translate }}</label>
                    <app-multiselect-chips
                        formControlName="flavour_profiles"
                        [placeholder]="'add_descriptors' | translate"
                        [itemList]="flavoursList"
                    ></app-multiselect-chips>
                    <small *ngIf="roastingForm.controls['flavour_profiles'].errors?.required" class="p-error">
                        {{ 'required' | translate }}
                    </small>
                </div>
                <div class="col-12 sewn-form-field">
                    <label>{{ 'roaster_notes' | translate }}</label>
                    <textarea
                        [rows]="3"
                        [placeholder]="'please_give_small_comment_desp' | translate"
                        formControlName="roaster_notes"
                        pInputText
                    ></textarea>
                    <small *ngIf="roastingForm.controls['roaster_notes'].errors?.required" class="p-error">
                        {{ 'required' | translate }}
                    </small>
                </div>
                <div class="col-12 sewn-form-field">
                    <label>{{ 'recommended_recipe' | translate }}</label>
                    <textarea
                        [rows]="3"
                        [placeholder]="'recommended_recipe_placeholder' | translate"
                        formControlName="recommended_recipe"
                        pInputText
                    ></textarea>
                    <small *ngIf="roastingForm.controls['recommended_recipe'].errors?.required" class="p-error">
                        {{ 'required' | translate }}
                    </small>
                </div>
                <div class="col-12 fw-b mb-3">{{ 'recommended_brewing_method' | translate }}</div>
                <div class="col-md-4 sewn-form-field mb-md-0">
                    <label>{{ 'brewing_method' | translate }}</label>
                    <p-dropdown
                        [options]="BREWING_METHOD_ITEMS"
                        [placeholder]="'select_method' | translate"
                        formControlName="brewing_method"
                    >
                        <ng-template let-item pTemplate="selectedItem">{{ item.label | translate }}</ng-template>
                        <ng-template let-item pTemplate="item">{{ item.label | translate }}</ng-template>
                    </p-dropdown>
                </div>
                <div class="col-md-8 sewn-form-field mb-0">
                    <label
                        >{{ 'recommendation_text' | translate
                        }}<span class="star" *ngIf="roastingForm.get('recommendation_text').value">*</span>
                        <span class="float-right text-clr588"
                            >{{ roastingForm.value.recommendation_text | wordCount }}/10 {{ 'words' | translate }}</span
                        >
                    </label>
                    <input class="d-none d-md-block" formControlName="recommendation_text" pInputText />
                    <textarea class="d-md-none" [rows]="3" formControlName="recommendation_text" pInputText></textarea>
                    <small *ngIf="roastingForm['controls']['recommendation_text'].errors?.required" class="p-error">
                        {{ 'required' | translate }}
                    </small>
                    <small *ngIf="roastingForm['controls']['recommendation_text'].errors?.maxWordCount" class="p-error">
                        {{ 'should_not_be_over_n_words' | translate | strReplace: '{limit}':'10' }}
                    </small>
                </div>
            </div>
        </section>

        <div class="mt-4">
            <div class="row gutter-16 v-gutter-16">
                <div class="col-12 col-md-auto order-1 order-md-2">
                    <button class="btn-raised w-100" (click)="onSave()">
                        {{ 'save' | translate }}
                    </button>
                </div>
                <div class="col-12 col-md-auto order-2 order-md-1">
                    <button class="btn-stroked w-100" (click)="close()">
                        {{ 'cancel' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
