.team__total {
    padding-top: 0.5rem;
}

.add-team {
    font-family: Muli;
    font-size: 18px;
    font-weight: bold;
    color: #232334;
}

.star {
    color: #d50000;
}

.add-partner span {
    color: #80460b;
    font-weight: bold;
    cursor: pointer;
}

.add-partner span:hover {
    cursor: pointer;
    text-decoration: underline !important;
}

.delete-link {
    font-family: 'Muli';
    font-size: 14px;
    font-weight: bold;
    color: #80460b;
    cursor: pointer;
    text-decoration: none;
}

@media (max-width: 480px) {
    .align-invite {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .team__total {
        padding-top: 0rem !important;
    }
    .brd-d6d6 {
        width: 90%;
        border-bottom: 2px dashed #d6d6d6 !important;
    }
    .align-mob-btn {
        display: flex !important;
        flex-direction: column-reverse !important;
    }
}
