    .my-profile h1 {
        font-family: Muli !important;
        font-size: 18px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #232334;
    }
    
    .my-profile p {
        font-family: Muli;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: normal;
        color: #747588;
    }
    
    .cancel-butn {
        border-radius: 4px;
        background-color: #30855c;
        padding: 10px 20px;
        font-size: 14px;
        font-weight: 600;
        color: #ffffff;
        border: #30855c;
        margin-top: -9rem;
    }
    
    .cancel-butn:hover {
        background-color: #30855c;
        border: #30855c;
        box-shadow: 0 0 7px 1px rgba(67, 146, 108, 0.5);
    }
    
    .my-profile {
        padding: 1rem 1.5rem;
    }
    
    .ans {
        border-bottom: 1px dotted #dddddd !important;
    }
    
    .details-top {
        margin-top: 2rem;
    }
    
    .Profile-dp {
        position: relative;
        top: 2.5rem;
        width: 120px;
        height: 120px;
    }
    
    .myprofile-pic-bg {
        border-radius: 6px;
        background-color: #f3efe8;
        padding: 5px 20px;
    }
    
    .recent-time td {
        font-family: Muli;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #232334;
        padding: 1rem 2rem 1rem 0rem;
        border-bottom: 0px solid #dddddd;
    }
    
    .list-que {
        font-family: Muli;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        line-height: 1.38;
        color: #747588;
    }
    
    .list-ans {
        font-family: Muli;
        font-size: 16px;
        font-weight: 500 !important;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #232334;
        line-height: 1.38;
    }
    
    .about-pro {
        padding: .5rem 0rem .5rem 2rem;
    }
    
    .butn-mt {
        margin-top: -3rem;
        display: block;
    }
    
    .mobile-butn {
        display: none;
    }
    
    .details-top i {
        color: #a88057 !important;
        font-size: 24px !important;
    }
    
    @media screen and (max-width: 767px) {
        .my-profile {
            padding: 1rem 0rem;
        }
        .about-pro {
            margin-top: 2rem;
            padding: 0;
        }
        .butn-mt {
            display: none;
        }
        .mobile-butn {
            display: block;
        }
    }
    
    .breadcrumb1 {
        padding: 2rem 2rem 0rem 2rem;
    }
    
    .about {
        border-radius: 4px;
        border: solid 1px #ebebeb;
        padding: 2rem 2rem 15rem 2rem;
    }