<div class="bg-fff">

    <nav role="navigation" aria-labelledby="title-breadcrumb-1" class="breadcrumb1">
        <span id="title-breadcrumb-1" class="sr-only"></span>
        <ul class="bread-nav">
            <li class="b-cum">
                <a class="b-cum" routerLink="/features/welcome-aboard">Home</a><span class="padl-r" aria-hidden="true"> <img class="group-img" src="/assets/images/arrow-1.png" alt=""> </span>
            </li>
            <li class="b-cum c-pink">My Profile</li>
        </ul>
    </nav>

    <section class="my-profile">
        <div class="col-lg-12 col-sm-12">
            <h1 class="fnt-play"> My Profile</h1>
            <p> Enter or edit personal information and contact details</p>
            <div class="float-right ml-auto butn-mt">
                <button type="button" class="btn cancel-butn" routerLink="/features/profile-edit">  Edit Profile </button>
            </div>
            <div class="row pt-3">
                <div class="col-lg-4 col-md-12">
                    <div class=" myprofile-pic-bg">
                        <table class="recent-time ">

                            <tr>
                                <td> <img class="Profile-dp" src="assets/images/myprofile-pic.png" alt="Dashboard"></td>
                                <td class="ans">
                                    <span class="list-ans"> John Smith </span>
                                    <p class="list-ans"> Roaster </p>
                                </td>
                            </tr>
                        </table>

                    </div>

                    <table class="recent-time details-top">

                        <tr>
                            <td>
                                <i class="pi pi-envelope"></i>
                            </td>
                            <td class="ans"> <span class="list-ans"> smith10@gmail.com </span> </td>
                        </tr>
                        <tr>
                            <td>
                                <i class="pi pi-mobile"></i>
                                <!-- <img src="assets/images/dashboard.svg" alt="Dashboard"> -->
                            </td>
                            <td class="ans"> <span class="list-ans">  +41  766 920 526 </span> </td>
                        </tr>
                        <tr>
                            <td> <i class="pi pi-calendar"></i></td>
                            <td class="ans"> <span class="list-ans">  13/10/1986</span> </td>
                        </tr>
                    </table>

                </div>
                <div class="col-lg-6 col-md-12 about-pro">
                    <div class="about">


                        <h1> About</h1>
                        <p>Back in 2015, we embarked on a journey of multiple farm trips to find the finest beans. We chose to startup at Bangalore to stay closer to the source, and started sourcing coffee from 6 estates. We set up a small R&D unit, and
                            utilized a custom-made batch roaster from Idaho, USA to roast beans from different farms in small lots. </p>
                    </div>
                </div>
            </div>
            <div class="float-right ml-auto mobile-butn">
                <button type="button" class="btn cancel-butn" routerLink="/features/profile-edit"> Edit Profile </button>
            </div>
        </div>
    </section>

</div>