/****************************css for booked starts***************************************/

.in-order {
    background-color: #faf8f4;
    padding: 1.5rem;
    border: 0px solid #f0f0f0;
    border-radius: 2px;
    /* margin: .5rem; */
    overflow: hidden;
}

.order-txt {
    font-family: PlayfairDisplay;
    font-size: 24px;
    font-weight: normal;
    color: #020202;
}

.order-status {
    /* margin-left: -0.8rem; */
    font-family: Muli;
    font-size: 13px;
    font-weight: bold;
    color: #747588;
    cursor: pointer;
}
.length-ml {
    margin-left: -2.1rem !important;
}
.order-tracking {
    width: 20%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.order-tracking .is-complete {
    display: block;
    position: relative;
    width: 34px;
    height: 34px;
}
.order-tracking .is-complete:after {
    position: absolute;
    content: "";
    background: url(../../../../assets/images/cricle-active.png) no-repeat scroll 0px 0px;
    top: 50%;
    left: 50%;
    width: 34px;
    height: 34px;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.order-tracking.completed .is-complete {
    position: relative;
}
.order-tracking.completed .is-complete:after {
    position: absolute;
    content: "";
    background: url(../../../../assets/images/cricle-nonactive.png) no-repeat scroll 0px 0px;
    top: 50%;
    left: 50%;
    width: 34px;
    height: 34px;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.order-tracking:last-child:after {
    content: '';
    display: block;
    height: 3px;
    /* width: calc(100%); */
    background-color: #c29d7a1f;
    top: 13px;
    position: absolute;
    right: calc(-19%);
    z-index: 0;
}
.mixups-track:last-child:after {
    content: '';
    display: block;
    height: 3px;
    width: calc(100%);
    background-color: #c29d7a1f;
    top: 13px;
    position: absolute;
    right: calc(-9%);
    z-index: 0;
}
.is-complete:before {
    border-color: #fff;
    border-width: 0px 3px 3px 0;
    width: 7px;
    left: 11px;
    opacity: 1;
}
.order-tracking::before {
    content: '';
    display: block;
    background-color: #c29d7a1f;
    top: 13px;
    position: absolute;
    left: calc(-50% - -25px);
    z-index: 0;
    width: calc(100% - 50px);
    border: dashed 0.5px #d6d6d6;
}
.mixups-tabs .order-tracking::before {
    left: calc(-90%);
}
.order-tracking:first-child:before {
    display: none;
}
.order-tracking.completed:before {
    border: dashed 0.5px #d6d6d6;
}
.transit-scoll {
    width: 100%;
}
.tab-right {
    padding-right: 1.5rem;
}
.transit-maxwidth {
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.order-date {
    font-family: Muli;
    font-size: 12px;
    font-weight: bold;
    color: #747588;
    /* margin-left: -1.3rem; */
}
.order-datecolor {
    color: #80460b;
    font-family: Muli;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline!important;
}

.shipping-div {
    border-radius: 4px;
    border: solid 1px #ebebeb;
    padding: 2.5rem;
}

.shipping-addr,
.estate-details {
    font-family: Muli;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

.img-logo {
    width: 100%;
    height: 134px;
}

.img-estate {
    width: 32px;
    height: 32px;
}

.details-list {
    list-style: none;
    margin-left: 1.5rem;
}

.estate-name {
    font-family: Muli;
    font-weight: 600;
    color: #232334;
}
.estate-number,
.estate-mail {
    font-family: Muli;
    font-size: 12px;
    font-weight: 600;
    color: #747588;
}
.vr-line {
    color: #d6d6d6;
    position: relative;
    left: 3%;
}
.estate-message {
    font-family: Muli;
    font-size: 12px;
    font-weight: 500;
}
.border-div {
    border-bottom: 1px solid #ebebeb;
}
.company-phone {
    font-family: Muli;
    font-size: 12px;
    font-weight: normal;
    color: #747588;
}
.company-text {
    font-family: Muli;
    font-size: 12px;
    font-weight: normal;
    color: #232334;
}
/* =========changes as per design ======== */

.nav-pills {
    border-bottom: 1px solid #d6d6d6;
}
li.nav-item {
    position: relative;
    top: .25rem;
}
.nav-pills .nav-link {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    color: #232334;
    padding: 1rem 2rem;
}
.nav-pills .nav-link.active {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    color: #30855c;
    padding: 1rem 2rem;
}
.problem-text {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    text-align: right;
    color: #30855c;
    cursor: pointer;
}
/* ====================== */
.mixups-tabs {
    background-color: #ffffff;
    overflow: hidden;
}
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #30855c !important;
    font-size: 14px;
    font-weight: 600;
    background-color: unset !important;
    border-radius: unset;
}
.nav-pills .nav-link.active {
    position: relative;
    padding-right: 2rem;
    padding-left: 2rem;
}
.nav-pills .nav-link.active:before {
    content: '';
    width: 100%;
    border-radius: 30px;
    height: 2px;
    background: #30855c;
    position: absolute;
    bottom: 0;
    left: 50%;
    text-align: center;
    margin: auto;
    top: 81%;
    transform: translate(-50%);
}
.problem-link {
    cursor: pointer;
}
.footer-content {
    padding: 3rem 5rem;
}
.recent-title {
    font-family: PlayfairDisplay;
    font-size: 28px;
    font-weight: normal;
    color: #020202;
}
.activity-date {
    font-family: Muli;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    color: #5d5d5d;
}
.list-time {
    font-family: Muli;
    font-size: 14px;
    font-weight: 500;
    color: #747588;
}
.list-content {
    font-family: Muli;
    font-size: 14px;
    font-weight: 500;
    color: #232334;
}
.activity-list {
    border-bottom: 1px solid #dddddd;
    padding: .7rem 0rem;
    width: 60% !important;
}
.cancel-order-btn {
    border-radius: 4px;
    border: 1px solid #30855c;
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    text-align: right;
    color: #30855c;
    padding: 1% 2%;
}
.ord-invoice-butn:hover {
    box-shadow: 0 0 7px 1px rgba(67, 146, 108, 0.5);
}
.list-name {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    color: #232334;
}

.list-user {
    font-family: Muli;
    font-size: 12px;
    font-weight: 500;
    color: #747588;
}
.list-activity {
    font-family: Muli;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.36;
    color: #232334;
}
.chat-btn {
    border-radius: 8px 8px 0px 0px !important;
    box-shadow: 0 0 17px 2px rgba(27, 27, 27, 0.08);
    background-color: #333333;
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    text-align: left;
}
.chat-indicator {
    color: #24be46;
}
.chat-div {
    width: 98%!important;
}
.problem-btn {
    border-radius: 4px;
    background-color: #30855c;
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    padding: .5rem 1rem;
}
/********************* css for confirm order**************************/
.confirm-grade {
    font-family: Muli;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    color: #232334;
}
.leave-feedback {
    border-radius: 6px;
    border: solid 1px #30855c;
    background-color: #faf8f4;
    font-family: Muli;
    font-size: 14px;
    font-weight: normal;
    color: #30855c;
    padding-top: 9px;
    padding-bottom: 8px;
}
.arrow-image {
    margin-top: -4px;
    margin-left: 2px;
}
.yes-order {
    border-radius: 6px;
    background-color: #30855c;
    font-family: Muli;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    padding-top: 9px;
    padding-bottom: 8px;
}
.cancel-order {
    border-radius: 6px;
    border: solid 1px #30855c;
    background-color: #faf8f4;
    font-family: Muli;
    font-size: 12px;
    font-weight: bold;
    color: #30855c;
    padding-top: 9px;
    padding-bottom: 8px;
}
.problem-btn:hover {
    box-shadow: 0 0 7px 1px rgba(67, 146, 108, 0.5);
}
.yes-order:hover {
    box-shadow: 0 0 7px 1px rgba(67, 146, 108, 0.5);
}
.rating-value {
    padding-top: 6px;
    margin-left: 2%;
    font-family: Muli;
    font-size: 12px;
    font-weight: normal;
    color: #232334;
}
.rating-space {
    margin-bottom: -0.8rem!important;
}
 ::ng-deep .star {
    cursor: auto !important;
}
/***************Images**********************/
.edit-icon,
.message-icon {
    width: 14px;
    height: 14px;
}
/***************TimeLine Dynamic **********************/
.completeProcess {
    border: solid 2.2px #24be46 !important;
    background-color: #24be46 !important;
}
.completeProcess::after {
    color: #fff!important;
}
/********************* media query css  **************************/

#have-a-problem-web {
    display: block;
}
#have-a-problem-mobile {
    display: none;
}
@media only screen and (max-width: 1024px) {
    .nav-pills .nav-link.active:before {
        top: 100%;
    }
    .order-status {
        margin-left: 0rem;
        font-family: Muli;
        font-size: 12px;
        font-weight: normal;
        color: #bea080;
    }
    li.nav-item {
        /* margin-right: 5%; */
        position: relative;
        top: 0rem;
    }
    .order-date {
        font-size: 11px;
        padding-bottom: 1rem;
    }
    .transit-scoll {
        width: 100%;
        overflow-x: auto;
    }
    .transit-maxwidth {
        margin-left: 3rem;
        margin-top: 1.5rem;
        min-width: 700px;
        max-width: 1000px;
    }
}

@media only screen and (max-width: 991px) {
    .mixups-tabs {
        border-right: 0px solid #dddddd;
    }
    .payment-status-content {
        margin-top: 1.5rem;
    }
}

@media only screen and (max-width: 768px) {
    .total_header {
        margin-left: 0rem;
        margin-right: 0rem;
    }
    .transit-maxwidth {
        margin-left: 0rem;
    }
    .nav-pills .nav-link.active:before {
        top: 100%;
    }
}

@media only screen and (max-width: 767px) {
    #have-a-problem-web {
        display: none;
    }
    #have-a-problem-mobile {
        display: block;
        float: left;
        width: 100%;
        margin-bottom: 1rem;
    }
    .footer-content {
        background-color: #f9f9f9;
        padding: 3rem 1rem;
    }
}

@media only screen and (max-width: 480px) {
    .list-activity {
        font-size: 12px;
    }
    .order-placed-text {
        margin: 1rem 0rem;
    }
    .tab-right {
        padding-right: 0rem;
    }
}

@media only screen and (max-width: 375px) {
    .details-list {
        margin-left: 5px;
    }
    .footer-content {
        background-color: #f9f9f9;
        padding: 3rem 0rem 3rem .5rem;
    }
    .nav-pills .nav-link {
        font-size: 12px;
    }
    .nav-pills .nav-link.active {
        font-size: 12px;
    }
}
a.b-cum {
    font-weight: bold !important;
}
.stricky-order {
    position: fixed;
    left: 0;
    right: 10%;
    bottom: 0px;
    z-index: 99;
    width: 23%;
}
.timing{
    color: #232334;
    font-weight: 600;
    font-family: Muli;
}
.confirmation{
    color: #747588;
    font-weight: 600;
    font-family: Muli;
}
.view-details{
    position: relative;
    top:5px
}
.notes{
    height: 46px;
}
.notes-btn{
    border-radius: 4px;
    border: 1px solid #30855c;
    font-family: Muli;
    font-weight: 600;
    color: #30855c;
}
.paddingb-8{
    padding-bottom: 5rem !important;
}