<div class="d-flex align-items-center justify-content-between mb-45">
    <div>
        <p-calendar
                [(ngModel)]="rangeDates"
                (onSelect)="filterDate()"
                [showIcon]="true"
                dateFormat="dd.mm.yy"
                [readonlyInput]="true"
                [showButtonBar]="true"
                selectionMode="range"
                yearRange="2000:2030"
                placeholder="Date range"
                styleClass="round-border range-picker"
        ></p-calendar>
    </div>
    <div>
        <p-dropdown
                [options]="displayItems"
                [(ngModel)]="filterDisplay"
                (onChange)="getOrdersData()"
                scrollHeight="225px"
                placeholder="Display"
                [autoDisplayFirst]="false"
                styleClass="round-border {{ filterDisplay ? 'highlight' : '' }}"
        ></p-dropdown>
    </div>
</div>
<div class="d-none d-md-block">
    <div *ngIf="this.mrData?.length">
        <p-table
                [value]="mrData"
                [lazy]="true"
                (onLazyLoad)="getOrdersData()"
                [columns]="tableColumns"
                [paginator]="false"
                [resizableColumns]="true"
                [autoLayout]="true"
        >
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" [style.width]="col.width + '%'">
                        <span class="primeng-table-header">{{ col.header }}</span>
                        <p-sortIcon *ngIf="col.sortable === true" [field]="col.field"> </p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.product_name }}</td>
                    <td>{{ item.created_at | date: 'dd-MM-yyyy' }}</td>
                    <td>{{ item.variety }}</td>
                    <td>{{ item.quantity }} {{ item.quantity_type }}</td>
                    <td>{{ item.cupping_score }}</td>
                    <td
                            class="view-order"
                            routerLink="/features/coffee-details"
                            [queryParams]="{ id: item.id }"
                    >
                        Update details
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<div class="d-block d-md-none">
    <div class="order-container" *ngFor="let item of mrData">
        <div class="order-header d-flex justify-content-between align-items-center">
            <div>Order #{{ item.id }}</div>
            <img src="assets/images/icons-header-add.svg" alt="icon" />
        </div>
        <div class="content-container">
            <div class="title">Estate name</div>
            <div class="content">
                {{ item.product_name }}
            </div>
        </div>
        <div class="content-container">
            <div class="title">Origin</div>
            <div class="content">
                {{ item.micro_roaster_name }}
            </div>
        </div>
        <div class="content-container">
            <div class="title">Date received</div>
            <div class="content">
                {{ item.created_at | date: 'dd/MM/yy' }}
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="!this.mrData?.length">
    <div class="col-lg-12 col-md-12 no-data-sec">
        <div class="text-center">
            <img src="assets/images/table-empty.png" alt="welcome-illustration" class="error-image" />
            <h1 class="fnt-18 fnt-700 fnt-muli txt-clr334">No data available</h1>
            <button
                    type="button"
                    class="fnt-14 fnt-600 fnt-muli save"
                    [routerLink]="['/features/welcome-aboard']"
            >
                Browse availabilities
            </button>
        </div>
    </div>
</div>
