<ng-container *ngIf="chatHandler.isOpen.value">
    <div *ngIf="chatHandler.isExpand.value" class="dm-expand-backdrop fade-in" data-element="expand-backdrop">
        <div class="dm-expand-panel-wrapper container">
            <div class="dm-expand-panel" data-element="expand-panel">
                <div class="dm-exp-body">
                    <div class="dm-exp-listing-section" #mainPanel>
                        <ng-container *ngIf="showInlineLoader">
                            <ng-container *ngTemplateOutlet="inlineLoaderBox"> </ng-container>
                        </ng-container>
                        <ng-container *ngIf="panelVisibility === 'THREAD'">
                            <ng-container *ngTemplateOutlet="threadPanelViewTL"></ng-container>
                        </ng-container>
                        <ng-container *ngIf="panelVisibility === 'USER_DETAILS'">
                            <ng-container *ngTemplateOutlet="userDetailPanelViewTL"></ng-container>
                        </ng-container>
                        <ng-container *ngIf="panelVisibility === 'BLOCKED_USERS'">
                            <ng-container *ngTemplateOutlet="blockListPanelViewTL"></ng-container>
                        </ng-container>
                        <ng-container *ngIf="panelVisibility === 'SEARCH_USER'">
                            <ng-container *ngTemplateOutlet="searchUserPanelViewTL"></ng-container>
                        </ng-container>
                        <ng-container *ngTemplateOutlet="confirmPopup"></ng-container>
                    </div>
                    <div class="dm-exp-chat-section">
                        <ng-container *ngIf="openedThread">
                            <div
                                class="dm-exp-chat-header"
                                [ngClass]="{ 'dm-exp-ch-search-expand': chatSearch.expand }"
                            >
                                <div class="dm-exp-ch-left-panel" *ngIf="!chatSearch.expand">
                                    <ng-container *ngTemplateOutlet="headerUserBadgeTL"></ng-container>
                                </div>
                                <div class="dm-exp-ch-right-panel">
                                    <ng-container *ngTemplateOutlet="searchBoxTL"></ng-container>
                                    <ng-container *ngTemplateOutlet="chatMenuPanelTL"></ng-container>
                                </div>
                            </div>
                            <div
                                class="dm-exp-chat-content"
                                (scroll)="chatListScrollEventSubject.next($event)"
                                data-element="live-chat-message-body"
                            >
                                <div class="dm-exp-chat-wrapper">
                                    <ng-container *ngIf="!chatSearch.keyword">
                                        <ng-container *ngTemplateOutlet="chatListTL"></ng-container>
                                    </ng-container>
                                    <ng-container *ngIf="chatSearch.keyword">
                                        <ng-container *ngTemplateOutlet="chatSearchResult"></ng-container>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="dm-exp-chat-footer">
                                <ng-container *ngTemplateOutlet="messageBoxTL"></ng-container>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="!openedThread">
                            <div class="dm-exp-no-thread-selectecd">{{ 'no_chat_thread_selected' | translate }}</div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div
        *ngIf="!chatHandler.isExpand.value"
        [ngClass]="{ 'mobile-menu-overlay': isMobileMenuDisplaying }"
        class="dm-collapse-panel fade-in-right"
        data-element="collapse-panel"
    >
        <div class="dm-clp-listing-section" #mainPanel>
            <ng-container *ngIf="showInlineLoader">
                <ng-container *ngTemplateOutlet="inlineLoaderBox"> </ng-container>
            </ng-container>
            <ng-container *ngIf="panelVisibility === 'THREAD'">
                <div class="dm-clp-extra-wrapper" [ngClass]="{ 'dm-hide-panel': openedThread }">
                    <ng-container *ngTemplateOutlet="threadPanelViewTL"></ng-container>
                </div>
                <div class="dm-clp-chat-panel" *ngIf="openedThread">
                    <div class="dm-clp-chat-section">
                        <div class="dm-clp-chat-title-bar">
                            <ng-container *ngTemplateOutlet="listHeaderTL"></ng-container>
                        </div>
                        <div class="dm-clp-chat-header" [ngClass]="{ 'dm-clp-ch-search-expand': chatSearch.expand }">
                            <div class="dm-clp-ch-left-panel" *ngIf="!chatSearch.expand">
                                <img
                                    class="dm-clp-ch-back-arrow-button"
                                    (click)="closeChatPanel()"
                                    src="assets/images/dm-back-arrow.svg"
                                />
                                <ng-container *ngTemplateOutlet="headerUserBadgeTL"></ng-container>
                            </div>
                            <div class="dm-clp-ch-right-panel">
                                <ng-container *ngTemplateOutlet="searchBoxTL"></ng-container>
                                <ng-container *ngTemplateOutlet="chatMenuPanelTL"></ng-container>
                            </div>
                        </div>
                        <div
                            class="dm-clp-chat-content"
                            (scroll)="chatListScrollEventSubject.next($event)"
                            data-element="live-chat-message-body"
                        >
                            <div class="dm-clp-chat-wrapper">
                                <ng-container *ngIf="!chatSearch.keyword">
                                    <ng-container *ngTemplateOutlet="chatListTL"></ng-container>
                                </ng-container>
                                <ng-container *ngIf="chatSearch.keyword">
                                    <ng-container *ngTemplateOutlet="chatSearchResult"></ng-container>
                                </ng-container>
                            </div>
                        </div>
                        <div class="dm-clp-chat-footer">
                            <ng-container *ngTemplateOutlet="messageBoxTL"></ng-container>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="panelVisibility === 'USER_DETAILS'">
                <ng-container *ngTemplateOutlet="userDetailPanelViewTL"></ng-container>
            </ng-container>
            <ng-container *ngIf="panelVisibility === 'BLOCKED_USERS'">
                <ng-container *ngTemplateOutlet="blockListPanelViewTL"></ng-container>
            </ng-container>
            <ng-container *ngIf="panelVisibility === 'SEARCH_USER'">
                <ng-container *ngTemplateOutlet="searchUserPanelViewTL"></ng-container>
            </ng-container>
            <ng-container *ngTemplateOutlet="confirmPopup"></ng-container>
        </div>
    </div>
</ng-container>

<!-- <ng-container *ngIf="chatHandler.isMobileView.value"> Mobile view </ng-container> -->

<ng-template #userDetailPanelViewTL>
    <div class="dm-user-detail-view">
        <ng-container *ngTemplateOutlet="listHeaderTL"></ng-container>
        <div class="dm-udv-back-to-chat" (click)="closeUserInfoPanel()">
            <img class="dm-udv-back-img" src="assets/images/dm-back-arrow.svg" />
            <span class="dm-udv-back-text brown-text" *ngIf="!chatHandler.isExpand.value">
                {{ 'back_to_chat' | translate }}
            </span>
            <span class="dm-udv-back-text brown-text" *ngIf="chatHandler.isExpand.value">
                {{ 'dm_back_to_conversation' | translate }}</span
            >
        </div>
        <div class="dm-udv-wrapper">
            <div class="dm-udv-detail-block">
                <div class="dm-udv-profile-pic">
                    <img
                        class="dm-udv-profile-image"
                        [src]="selectedUser.computed_profile_direct_url"
                        [appImageFallback]="defaultProfileImage"
                        alt="profile pic"
                    />
                </div>
                <div class="dm-udv-profile-name">
                    <div class="dm-udv-user-name">{{ selectedUser.computed_fullname }}</div>
                    <div class="dm-udv-user-org">
                        {{ selectedUser.computed_organization_name }}{{ conditionalHypen(selectedUser.org_name) }}
                    </div>
                </div>
            </div>
            <div class="dm-udv-option-list">
                <div class="dm-udv-option-item">
                    <span class="dm-udv-option-item-text">{{ 'mute_notifications_from_user' | translate }}</span>
                    <p-inputSwitch
                        (onChange)="toggleMute($event)"
                        [(ngModel)]="openedThread.computed_mute"
                    ></p-inputSwitch>
                </div>
                <div (click)="clearChat()" class="dm-udv-option-item dm-pointer">
                    <span class="dm-udv-option-item-text">{{ 'clear_conversation' | translate }}</span>
                    <img class="ml-auto" src="assets/images/setting-arrow.svg" />
                </div>
                <button (click)="blockUser(selectedUser)" class="dm-gray-button dm-udv-block-button">
                    <img class="dm-btn-icon" src="assets/images/dm-blocked.svg" />
                    <span class="dm-btn-label">{{ 'block_user' | translate }}</span>
                </button>
                <button class="dm-gray-button dm-udv-report-button">
                    <img class="dm-btn-icon" src="assets/images/dm-report.svg" />
                    <span (click)="reportUser(selectedUser)" class="dm-btn-label">{{ 'report_user' | translate }}</span>
                </button>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #threadPanelViewTL>
    <div class="dm-list-view">
        <ng-container *ngTemplateOutlet="listHeaderTL"></ng-container>
        <div class="dm-list-view-top-panel">
            <div class="dm-ivtp-thread-search-wrapper">
                <img class="dm-ivtp-thread-search-icon" src="assets/images/dm-search.svg" />
                <input
                    type="text"
                    [(ngModel)]="threadSearchKeyword"
                    placeholder="Search messages"
                    class="dm-ivtp-thread-search-input"
                />
                <img
                    class="dm-ivtp-thread-search-close"
                    *ngIf="threadSearchKeyword"
                    src="assets/images/dm-search-cancel.svg"
                    (click)="threadSearchKeyword = ''"
                />
            </div>
            <div class="dm-list-thread-menu">
                <img
                    (click)="toggleMenu()"
                    *ngIf="!contextMenuOpen"
                    src="assets/images/dm-thread-list-menu-opener.svg"
                    class="dm-ltm-opener"
                    alt="Menu"
                />
                <img
                    (click)="toggleMenu()"
                    *ngIf="contextMenuOpen"
                    src="assets/images/dm-thread-list-menu-close.svg"
                    class="dm-ltm-opener"
                    alt="Menu"
                />

                <div class="dm-ltm-panel scale-up-top" *ngIf="contextMenuOpen" data-element="context-menu-panel">
                    <span class="dm-ltm-panel-arrow"></span>
                    <div class="dm-ltm-panel-listing">
                        <div class="dm-ltm-panel-title">{{ 'chat_settings' | translate }}</div>
                        <div class="dm-itm-item">
                            <div class="dm-ltm-block-content">
                                <div class="dm-ltm-option-name">{{ 'read_recipient' | translate }}</div>
                                <div class="dm-ltm-option-description">
                                    {{ 'see_read_recipient_in_a_chat' | translate }}
                                </div>
                            </div>
                            <div class="dm-ltm-block-action">
                                <p-inputSwitch [(ngModel)]="chatHandler.setting.read_recipient"></p-inputSwitch>
                            </div>
                        </div>
                        <div class="dm-itm-item">
                            <div class="dm-ltm-block-content">
                                <div class="dm-ltm-option-name">{{ 'enable_emoticons' | translate }}</div>
                                <div class="dm-ltm-option-description">
                                    {{ 'enable_or_disable_emoticon_keyboard_in_chat' | translate }}
                                </div>
                            </div>
                            <div class="dm-ltm-block-action">
                                <p-inputSwitch [(ngModel)]="chatHandler.setting.enable_emoticons"></p-inputSwitch>
                            </div>
                        </div>
                        <div class="dm-itm-item">
                            <div class="dm-ltm-block-content">
                                <div class="dm-ltm-option-name">{{ 'chat_text_size' | translate }}</div>
                            </div>
                            <div class="dm-ltm-block-action">
                                <p-dropdown
                                    [options]="fontSizeList"
                                    [(ngModel)]="chatHandler.setting.chat_text_size"
                                    optionLabel="label"
                                    optionValue="value"
                                    value="value"
                                ></p-dropdown>
                            </div>
                        </div>
                        <div class="dm-ltm-enable-chatsound dm-itm-item">
                            <div class="dm-ltm-block-content">
                                <div class="dm-ltm-option-name">{{ 'chat_sound' | translate }}</div>
                            </div>
                            <div class="dm-ltm-block-action">
                                <p-inputSwitch [(ngModel)]="chatHandler.setting.notification_sound"></p-inputSwitch>
                            </div>
                        </div>
                        <button (click)="openBlockedListPanel()" class="dm-gray-button dm-ltm-show-blocked-user">
                            <img class="dm-btn-icon" src="assets/images/dm-blocked.svg" />
                            <span class="dm-btn-label">{{ 'view_blocked_contacts' | translate }}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="dm-thread-listing"
            data-element="thread-list-container"
            (scroll)="threadListScrollEventSubject.next($event)"
        >
            <div
                class="dm-thread-listing-error-panel"
                *ngIf="(threadList | searchFilter: threadSearchKeyword).length <= 0"
            >
                <div class="dm-tlep-error-block" *ngIf="!threadSearchKeyword">
                    <img class="dm-tlep-error-img" src="assets/images/dm-empty-thread-list.svg" alt="Empty" />

                    <div class="dm-tlep-error-text">{{ 'looks_like_you_havent_spoken_to_anyone_yet' | translate }}</div>
                </div>
                <div class="dm-tlep-error-block" *ngIf="threadSearchKeyword">
                    <img class="dm-tlep-error-img" src="assets/images/dm-notfound-thread.svg" alt="Empty" />
                    <div class="dm-tlep-error-text">{{ 'oops_no_results_found' | translate }}</div>
                    <div class="dm-tlep-error-sub-text">
                        {{
                            'we_are_sorry_we_couldnt_find_the_result_you_are_trying_to_searchtry_searching_with_a_different_keyword'
                                | translate
                        }}
                    </div>
                </div>
            </div>
            <div class="dm-thread-listing-wrapper" *ngIf="(threadList | searchFilter: threadSearchKeyword).length > 0">
                <ng-container *ngTemplateOutlet="threadListTL"></ng-container>
            </div>
        </div>
        <div class="dm-start-chat-panel">
            <button (click)="startNewChat()" class="dm-start-chat-btn">
                <span>{{ 'search_users_start_chat' | translate }}</span>
            </button>
        </div>
    </div>
</ng-template>
<ng-template #searchUserPanelViewTL>
    <div class="dm-search-user-panel-view">
        <ng-container *ngTemplateOutlet="listHeaderTL"></ng-container>
        <div class="dm-sup-back-to-chat" (click)="closeNewChatPanel()">
            <img class="dm-sup-back-img" src="assets/images/dm-back-arrow.svg" />
            <span class="dm-sup-back-text brown-text"> {{ 'dm_back_to_conversation' | translate }}</span>
        </div>
        <div class="dm-sup-top-panel">
            <div class="dm-sup-thread-search-wrapper">
                <img class="dm-sup-thread-search-icon" src="assets/images/dm-search.svg" />
                <input
                    type="text"
                    [(ngModel)]="userSearchKeywords"
                    placeholder="Search Users"
                    class="dm-sup-thread-search-input"
                    data-element="user-search-input"
                    (input)="userSearchInputSubject.next($event)"
                />
                <img
                    *ngIf="userSearchKeywords"
                    (click)="userSearchInputClear()"
                    src="assets/images/dm-search-cancel.svg"
                    class="dm-sup-thread-search-close-icon"
                />
            </div>
        </div>
        <div class="dm-sup-listing">
            <ng-container *ngIf="!userSearchKeywords">
                <div class="dm-sup-listing-error-panel" *ngIf="!recentUserList.length">
                    <div class="dm-sup-error-block">
                        <img class="dm-sup-error-img" src="assets/images/dm-empty-thread-list.svg" alt="Empty" />
                        <div class="dm-sup-error-text">
                            {{ 'you_dont_have_any_recent_contacts_try_searching_the_users' | translate }}
                        </div>
                    </div>
                </div>
                <div class="dm-sup-listing-wrapper" *ngIf="recentUserList.length">
                    <div class="dm-sup-listing-recent-tag">{{ 'recent' | translate }}</div>
                    <ng-container *ngTemplateOutlet="recentUserListTL"></ng-container>
                </div>
            </ng-container>
            <ng-container *ngIf="userSearchKeywords">
                <ng-container *ngIf="this.loader.userListFetchFetch">
                    <div class="dm-sup-listing-error-panel">
                        <div class="dm-sup-search-progress-section">
                            <p-progressSpinner strokeWidth="5"></p-progressSpinner>
                            <span class="dm-sup-search-progress-text"> {{ 'searching_users' | translate }}...</span>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="!this.loader.userListFetchFetch">
                    <div class="dm-sup-listing-error-panel" *ngIf="!filteredUsersList.length">
                        <div class="dm-sup-error-block">
                            <img class="dm-sup-error-img" src="assets/images/dm-notfound-thread.svg" alt="Empty" />
                            <div class="dm-sup-error-text">{{ 'oops_no_results_found' | translate }}</div>
                            <div class="dm-sup-error-sub-text">
                                {{
                                    'we_are_sorry_we_couldnt_find_the_result_you_are_trying_to_searchtry_searching_with_a_different_keyword'
                                        | translate
                                }}
                            </div>
                        </div>
                    </div>
                    <div class="dm-sup-listing-wrapper" *ngIf="filteredUsersList.length">
                        <ng-container *ngTemplateOutlet="findUserListTL"></ng-container>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>
</ng-template>
<ng-template #blockListPanelViewTL>
    <div class="dm-report-user-panel-view">
        <ng-container *ngTemplateOutlet="listHeaderTL"></ng-container>
        <div class="dm-rup-back-to-chat" (click)="closeBlockedListPanel()">
            <img class="dm-rup-back-img" src="assets/images/dm-back-arrow.svg" />
            <span class="dm-rup-back-text brown-text"> {{ 'dm_back_to_conversation' | translate }} </span>
        </div>
        <div class="dm-rup-listing">
            <div class="dm-rup-error-panel" *ngIf="!myBlockList.length && !loader.blockListFetch">
                <div class="dm-rup-error-block">
                    <img class="dm-rup-error-img" src="assets/images/dm-empty-thread-list.svg" alt="Empty" />
                    <div class="dm-rup-error-text">{{ 'looks_like_you_havent_blocked_any_users' | translate }}</div>
                </div>
            </div>
            <div class="dm-rup-listing-wrapper" *ngIf="myBlockList.length">
                <ng-container *ngTemplateOutlet="blockListTL"></ng-container>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #headerUserBadgeTL>
    <div class="dm-header-user-badge">
        <div class="dm-hub-dp">
            <!-- <img
                class="dm-hub-dp-image"
                [src]="openedThread.computed_targetedUser.computed_profile_direct_url"
                alt="Profile Picture"
            /> -->
            <app-user-detail
                [imageUrl]="openedThread.computed_targetedUser.computed_profile_direct_url"
                [userId]="openedThread.computed_targetedUser.user_id"
                [orgType]="openedThread.computed_targetedUser.org_type"
                [isMessage]="true"
                size="40"
            ></app-user-detail>
            <span
                class="dm-online-status"
                [ngClass]="{ 'dm-user-online': openedThread.computed_targetedUser.online }"
            ></span>
        </div>
        <div class="dm-hub-name">
            <div class="dm-hub-user-name-block">
                <div class="dm-hub-user-name">{{ openedThread.computed_targetedUser.computed_fullname }}</div>
                <img
                    class="dm-hub-user-mute-icon"
                    *ngIf="openedThread.computed_mute"
                    src="assets/images/dm-mute.svg"
                    alt=""
                />
            </div>

            <div
                class="dm-hub-org-name"
                [title]="
                    openedThread.computed_targetedUser.computed_organization_name +
                    '' +
                    conditionalHypen(openedThread.computed_targetedUser.org_name)
                "
            >
                <div class="dm-hub-org-name-wrapper">
                    <div class="dm-hub-org-name-text">
                        {{ openedThread.computed_targetedUser.computed_organization_name }}
                        {{ conditionalHypen(openedThread.computed_targetedUser.org_name) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #chatMenuPanelTL>
    <app-action-menu [menuItems]="chatMenuitems" placement="bottom" icon="pi-ellipsis-v"></app-action-menu>
</ng-template>
<ng-template #listHeaderTL>
    <div class="dm-list-view-header" *ngIf="!chatHandler.isMobileView.value">
        <div class="dm-lvh-message">{{ 'messaging' | translate }}</div>
        <div class="dm-lvh-action-buttons">
            <ng-container *ngIf="!chatHandler.isMobileView.value">
                <div
                    *ngIf="chatHandler.isExpand.value"
                    (click)="closeExapndView()"
                    class="dm-lvh-action dm-lvh-action-collapse"
                >
                    <img src="assets/images/dm-chatpanel-collapse.svg" alt="" />
                </div>
                <div
                    *ngIf="!chatHandler.isExpand.value"
                    (click)="openExapndView()"
                    class="dm-lvh-action dm-lvh-action-expand"
                >
                    <img src="assets/images/dm-chatpanel-expand.svg" alt="" />
                </div>
            </ng-container>
            <div class="dm-lvh-action dm-lvh-action-close" (click)="closePanel()">
                <img src="assets/images/dm-chatpanel-close.svg" alt="" />
            </div>
        </div>
    </div>
</ng-template>
<ng-template #searchBoxTL>
    <div class="dm-chat-search-box" [ngClass]="{ 'dm-csb-box-active': chatSearch.expand }">
        <div class="dm-csb-box">
            <img src="assets/images/search.svg" (click)="chatSearch.toggle()" class="dm-csb-seach-icon" />
            <ng-container *ngIf="chatSearch.expand">
                <input
                    class="dm-csb-seach-input"
                    (keydown)="chatSearch.escAction($event)"
                    (input)="chatSearch.inputSubject.next($event)"
                    [(ngModel)]="chatSearch.keyword"
                    type="text"
                    placeholder="Search messages"
                />
                <div class="dm-csb-seach-controls">
                    <ng-container *ngIf="chatSearch.searchResult.length">
                        <div class="dm-csb-result-count">
                            <div class="dm-csb-result-count-block">
                                {{ chatSearch.activeResultIndex + 1 }} of {{ chatSearch.searchResult.length }}
                            </div>
                        </div>
                        <img
                            src="assets/images/dm-seach-down-arrow.svg"
                            (click)="chatSearch.downNavigation()"
                            class="dm-csb-control-icon"
                        />
                        <img
                            src="assets/images/dm-seach-up-arrow.svg"
                            (click)="chatSearch.upNavigation()"
                            class="dm-csb-control-icon"
                        />
                    </ng-container>
                    <img
                        (click)="chatSearch.reset()"
                        src="assets/images/dm-search-cancel.svg"
                        class="dm-csb-control-icon"
                    />
                </div>
            </ng-container>
        </div>
    </div>
</ng-template>
<ng-template #blockListTL>
    <div class="dm-report-list-item" *ngFor="let blockedUser of myBlockList">
        <div class="dm-rli-dp-block dm-rli-extra-margin">
            <img
                class="dm-rli-dp-image"
                [src]="blockedUser.computed_profile_direct_url"
                [appImageFallback]="defaultProfileImage"
                alt="Profile Picture"
            />
        </div>
        <div class="dm-rli-content-block">
            <div class="dm-rli-content-row">
                <div class="dm-rli-name">
                    {{ blockedUser.computed_fullname }}
                </div>
            </div>
            <div class="dm-rli-content-row">
                <img class="dm-rli-block-icon" src="assets/images/dm-blocked.svg" />
                <span class="dm-rli-block-text">{{ 'this_contact_is_blocked' | translate }}</span>
            </div>
        </div>
        <div class="dm-rli-unblock-block">
            <img
                (click)="unblockUser(blockedUser)"
                class="dm-rli-unblock-button"
                src="assets/images/dm-remove-block.svg"
                alt=""
                title="Unblock User"
            />
        </div>
    </div>
</ng-template>
<ng-template #findUserListTL>
    <div class="dm-find-list-item" *ngFor="let user of filteredUsersList" (click)="openThreadWithUser(user)">
        <div class="dm-fli-dp-block dm-fli-extra-margin">
            <img
                class="dm-fli-dp-image"
                [src]="user.computed_profile_direct_url"
                [appImageFallback]="defaultProfileImage"
                alt="Profile Picture"
            />
        </div>
        <div class="dm-fli-content-block">
            <div class="dm-fli-content-row">
                <div class="dm-fli-name">
                    {{ user.computed_fullname }}
                </div>
            </div>
            <div class="dm-fli-content-row">
                <div class="dm-fli-org-name">
                    {{ user.computed_organization_name }}{{ conditionalHypen(user.organization_name) }}
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #recentUserListTL>
    <div class="dm-find-list-item" *ngFor="let user of recentUserList" (click)="openThreadWithUser(user)">
        <div class="dm-fli-dp-block dm-fli-extra-margin">
            <img
                class="dm-fli-dp-image"
                [src]="user.computed_profile_direct_url"
                [appImageFallback]="defaultProfileImage"
                alt="Profile Picture"
            />
        </div>
        <div class="dm-fli-content-block">
            <div class="dm-fli-content-row">
                <div class="dm-fli-name">
                    {{ user.computed_fullname }}
                </div>
            </div>
            <div class="dm-fli-content-row">
                <div class="dm-fli-org-name">
                    {{ user.computed_organization_name }}{{ conditionalHypen(user.organization_name) }}
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #threadListTL>
    <ng-container *ngFor="let thread of threadList | searchFilter: threadSearchKeyword">
        <div
            class="dm-thread-list-item"
            (click)="openThreadChat(thread)"
            *ngIf="!thread.blockedDetails.blockedMe && !thread.blockedDetails.myBlock"
            [ngClass]="{ 'dm-thi-active': openedThread && thread.id === openedThread.id }"
        >
            <div class="dm-thi-dp-block">
                <img
                    class="dm-thi-dp-image"
                    [src]="thread.computed_targetedUser?.computed_profile_direct_url"
                    [appImageFallback]="defaultProfileImage"
                    alt="Profile Picture"
                />
                <span
                    class="dm-online-status"
                    [ngClass]="{ 'dm-user-online': thread.computed_targetedUser?.online }"
                ></span>
            </div>
            <div class="dm-thi-content-block">
                <div class="dm-thi-content-row">
                    <div class="dm-thi-name-block">
                        <div class="dm-thi-name">{{ thread.computed_targetedUser?.computed_fullname }}</div>
                        <img
                            class="dm-thi-mute-icon"
                            *ngIf="thread.computed_mute"
                            src="assets/images/dm-mute.svg"
                            alt=""
                        />
                    </div>
                    <div class="dm-thi-date">{{ thread.computed_createdAt }}</div>
                </div>
                <div class="dm-thi-content-row">
                    <div class="dm-thi-org-name">
                        {{ thread.computed_targetedUser?.computed_organization_name
                        }}{{ conditionalHypen(thread.computed_targetedUser?.org_name) }}
                    </div>
                </div>
                <div class="dm-thi-content-row dm-thi-cr-extra-margin">
                    <div class="dm-thi-lastmsg">
                        <span class="dm-thi-lastmsg-content">
                            {{ thread.computed_lastActivityText }}
                        </span>
                    </div>
                    <div *ngIf="thread.unread" class="dm-thi-count">{{ thread.unread }}</div>
                </div>
            </div>
        </div>
    </ng-container>
</ng-template>
<ng-template #chatListTL>
    <div
        class="dm-chat-item-wrapper"
        *ngFor="let message of messageList; let last = last"
        [attr.data-chat-id]="message.id"
        data-element="messages-item"
    >
        <div *ngIf="message.showDateBadge" class="dm-ci-date-box">
            <div class="dm-ci-date-bar"></div>
            <div class="dm-ci-date-stamp">{{ message.dateString }}</div>
            <div class="dm-ci-date-bar"></div>
        </div>
        <div
            appLifecyclehook
            (viewChecked)="last && lastMessageRendered.next('done')"
            class="dm-ci-unit-wrapper"
            [ngClass]="{ 'dm-chat-to': message.isActiveUser, 'dm-chat-from': !message.isActiveUser }"
        >
            <div class="dm-ci-unit">
                <ng-container *ngIf="message.meta.type === 'STICKER' && message.meta.sticker">
                    <div class="dm-ci-sticker-block">
                        <img
                            class="dm-ci-sticker-image"
                            [src]="message.meta?.sticker?.stickerItem?.path"
                            [appImageFallback]="bokenImage"
                        />
                    </div>
                </ng-container>
                <ng-container *ngIf="!(message.meta.type === 'STICKER' && message.meta.sticker)">
                    <div
                        class="dm-ci-content-block"
                        [ngClass]="{
                            'dm-ci-content-size-small': chatHandler.setting.chat_text_size === 'small',
                            'dm-ci-content-size-normal': chatHandler.setting.chat_text_size === 'normal',
                            'dm-ci-content-size-large': chatHandler.setting.chat_text_size === 'large'
                        }"
                    >
                        <!-- <a
                            [ngClass]="{ 'dm-margin-fix': message.meta.type === 'PICTURE_ONLY' }"
                            [href]="message?.file?.url"
                            target="_blank" rel="noreferrer"
                            download="sewn-chat.jpg"
                            class="dm-ci-image-wrapper"
                            *ngIf="message?.file?.url"
                        > -->
                        <a
                            [ngClass]="{ 'dm-margin-fix': message.meta.type === 'PICTURE_ONLY' }"
                            (click)="openImage(message.id)"
                            class="dm-ci-image-wrapper"
                            *ngIf="message?.file?.url"
                        >
                            <img
                                class="dm-ci-content-image"
                                [attr.data-image-id]="message.id"
                                [attr.data-image-caption]="message.content"
                                [src]="message?.file?.url"
                                [appImageFallback]="bokenImage"
                                alt="Image"
                            />
                        </a>
                        <ng-container *ngIf="message.meta.type !== 'PICTURE_ONLY'">
                            <div *ngIf="message.showTranslation === 'OFF'" class="dm-ci-content-text">
                                {{ message.content || '_' }}
                            </div>
                            <div
                                *ngIf="message.showTranslation === 'ON'"
                                class="dm-ci-content-text"
                                [innerHtml]="message.translatedText"
                            ></div>
                            <div *ngIf="message.showTranslation === 'IP'" class="dm-ci-content-translation">
                                <p-progressSpinner strokeWidth="5"></p-progressSpinner>
                                <span class="dm-ci-content-translating-text">{{ 'translating' | translate }}...</span>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
                <div *ngIf="message.meta.type !== 'PICTURE_ONLY'" class="dm-ci-message-meta">
                    <div *ngIf="message.lang !== gtrans.defaultLang" class="dm-ci-translation">
                        <span *ngIf="message.showTranslation === 'OFF'" (click)="translateMessage(message)">{{
                            'view_translation' | translate
                        }}</span>
                        <span *ngIf="message.showTranslation === 'ON'" (click)="showOrginal(message)">{{
                            'show_original_text' | translate
                        }}</span>
                    </div>
                    <div class="dm-ci-message-stamp">
                        <ng-container *ngIf="chatHandler.setting.read_recipient && message.isActiveUser">
                            <span *ngIf="!message.is_read">{{ 'dm_delivered' | translate }}</span>
                            <span *ngIf="message.is_read">{{ 'read' | translate }}</span>
                            <span class="dm-ci-message-stamp-seprator"></span>
                        </ng-container>
                        <span>{{ message.computed_date }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #chatSearchResult>
    <ng-container *ngIf="!chatSearch.searchResult.length">
        <ng-container *ngIf="loader.chatSearch">
            <div class="chat-loading-result">
                <div class="chat-loading-result-loader">
                    <p-progressSpinner strokeWidth="5"></p-progressSpinner>
                </div>
                <span class="chat-loading-result-text">{{ 'searching' | translate }}...</span>
            </div>
        </ng-container>
        <ng-container *ngIf="!loader.chatSearch">
            <div class="chat-empty-result">{{ 'no_search_result_found' | translate }}!</div>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="chatSearch.searchResult.length">
        <div
            class="dm-chat-item-wrapper"
            *ngFor="let unit of chatSearch.activeResult.messageUnit; let last = last"
            [attr.data-chat-id]="unit.message.id"
            data-element="messages-item"
        >
            <div *ngIf="unit.message.showDateBadge" class="dm-ci-date-box">
                <div class="dm-ci-date-bar"></div>
                <div class="dm-ci-date-stamp">{{ unit.message.dateString }}</div>
                <div class="dm-ci-date-bar"></div>
            </div>
            <div
                appLifecyclehook
                (viewChecked)="last && searchMessageRendered.next('done')"
                class="dm-ci-unit-wrapper"
                [ngClass]="{ 'dm-chat-to': unit.message.isActiveUser, 'dm-chat-from': !unit.message.isActiveUser }"
            >
                <div class="dm-ci-unit">
                    <ng-container *ngIf="unit.message.meta.type === 'STICKER' && unit.message.meta.sticker">
                        <div class="dm-ci-sticker-block">
                            <img
                                class="dm-ci-sticker-image"
                                [src]="unit.message.meta?.sticker?.stickerItem?.path"
                                [appImageFallback]="bokenImage"
                            />
                        </div>
                    </ng-container>
                    <ng-container *ngIf="!(unit.message.meta.type === 'STICKER' && unit.message.meta.sticker)">
                        <div
                            class="dm-ci-content-block"
                            [ngClass]="{
                                'dm-ci-content-size-small': chatHandler.setting.chat_text_size === 'SMALL',
                                'dm-ci-content-size-normal': chatHandler.setting.chat_text_size === 'NORMAL',
                                'dm-ci-content-size-large': chatHandler.setting.chat_text_size === 'LARGE'
                            }"
                        >
                            <!-- <a
                                [ngClass]="{ 'dm-margin-fix': unit.message.meta.type === 'PICTURE_ONLY' }"
                                [href]="unit.message?.file?.url"
                                target="_blank" rel="noreferrer"
                                download="sewn-chat.jpg"
                                class="dm-ci-image-wrapper"
                                *ngIf="unit.message?.file?.url"
                            > -->
                            <a
                                [ngClass]="{ 'dm-margin-fix': unit.message.meta.type === 'PICTURE_ONLY' }"
                                (click)="openImage(unit.message.id)"
                                class="dm-ci-image-wrapper"
                                *ngIf="unit.message?.file?.url"
                            >
                                <img
                                    class="dm-ci-content-image"
                                    [attr.data-image-id]="unit.message.id"
                                    [attr.data-image-caption]="unit.message.content"
                                    [src]="unit.message?.file?.url"
                                    [appImageFallback]="bokenImage"
                                    alt="Image"
                                />
                            </a>
                            <ng-container *ngIf="unit.message.meta.type !== 'PICTURE_ONLY'">
                                <ng-container *ngIf="unit.message.showTranslation === 'OFF'">
                                    <div *ngIf="!unit.isMatch" class="dm-ci-content-text">
                                        {{ unit.message.content || '_' }}
                                    </div>
                                    <div
                                        *ngIf="unit.isMatch"
                                        appChatHighlighter
                                        [searchKey]="chatSearch.keyword"
                                        [messageContent]="unit.message.content"
                                        class="dm-ci-content-text"
                                    ></div>
                                </ng-container>
                                <div
                                    *ngIf="unit.message.showTranslation === 'ON'"
                                    class="dm-ci-content-text"
                                    [innerHtml]="unit.message.translatedText"
                                ></div>
                                <div *ngIf="unit.message.showTranslation === 'IP'" class="dm-ci-content-translation">
                                    <p-progressSpinner strokeWidth="5"></p-progressSpinner>
                                    <span class="dm-ci-content-translating-text"
                                        >{{ 'translating' | translate }}...</span
                                    >
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>

                    <div class="dm-ci-message-meta" *ngIf="unit.message.meta.type !== 'PICTURE_ONLY'">
                        <div *ngIf="unit.message.lang !== gtrans.defaultLang" class="dm-ci-translation">
                            <span
                                *ngIf="unit.message.showTranslation === 'OFF'"
                                (click)="translateMessage(unit.message)"
                            >
                                {{ 'view_translation' | translate }}
                            </span>
                            <span *ngIf="unit.message.showTranslation === 'ON'" (click)="showOrginal(unit.message)">
                                {{ 'show_original_text' | translate }}
                            </span>
                        </div>
                        <div class="dm-ci-message-stamp">
                            <ng-container *ngIf="chatHandler.setting.read_recipient">
                                <span>{{ 'dm_delivered' | translate }}</span>
                                <span *ngIf="false">{{ 'read' | translate }}</span>
                                <span class="dm-ci-message-stamp-seprator"></span>
                            </ng-container>
                            <span>{{ unit.message.computed_date }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</ng-template>
<ng-template #messageBoxTL>
    <div class="dm-messag-box">
        <div class="dm-message-offensive-lang" [ngClass]="{ active: showOffensiveMessageError }">
            <span>{{ 'use_of_offensive_language_is_strictly_prohibited' | translate }}</span>
        </div>
        <div class="dm-mb-image-view" *ngIf="(uploadFileMeta && uploadFileMeta?.url) || uploadProgressing">
            <div class="dm-mb-image-wrapper" *ngIf="uploadFileMeta && uploadFileMeta?.url">
                <img
                    class="dm-mb-image-close-button"
                    (click)="removeFile()"
                    src="assets/images/dm-remove-upload.svg"
                    title="Remove"
                />
                <img class="dm-mb-image" [src]="uploadFileMeta?.url" [appImageFallback]="bokenImage" />
            </div>
            <div class="dm-mb-image-uploader" *ngIf="uploadProgressing">
                <p-progressSpinner strokeWidth="5"></p-progressSpinner>
                <span class="dm-mb-image-uploading-text">{{ 'dm_uploading' | translate }}</span>
            </div>
            <div></div>
        </div>
        <div
            class="dm-mb-shadow-container"
            [ngClass]="{
                'open-emoji': showMessageBoxPanel === 'EMOJI',
                'open-stickers': showMessageBoxPanel === 'STICKER'
            }"
        >
            <div class="dm-mb-emoji-panel-wrapper" *ngIf="chatHandler.setting.enable_emoticons">
                <div class="dm-mb-emoji-panel">
                    <span
                        class="dm-mb-emoji-item"
                        (click)="insertEmoji(emoji)"
                        *ngFor="let emoji of emojiList"
                        [innerHTML]="getEmojiRender(emoji)"
                    ></span>
                </div>
            </div>
            <div class="dm-mb-sticker-panel-wrapper">
                <div class="dm-mb-sticker-panel">
                    <img
                        class="dm-mb-sticker-item"
                        (click)="sendSticker(sticker)"
                        [title]="sticker.title"
                        *ngFor="let sticker of stickerList"
                        [src]="sticker.path"
                    />
                </div>
            </div>
            <div class="dm-mb-text-row">
                <textarea
                    (keypress)="inputkeyPress($event)"
                    data-element="messag-text-area"
                    placeholder="Type your message here..."
                    (input)="inputChanges($event)"
                    [(ngModel)]="messageInput"
                    class="dm-mb-textarea"
                    type="text"
                    rows="1"
                ></textarea>
                <img
                    (click)="sendMessage()"
                    class="dm-mb-send-button-img dm-action-button"
                    src="assets/images/dm-mb-send-button.svg"
                    alt="Send"
                />
            </div>
            <div class="dm-mb-action-row">
                <div class="dm-mb-action-button-container" *ngIf="chatHandler.setting.enable_emoticons">
                    <img
                        *ngIf="showMessageBoxPanel !== 'EMOJI'"
                        @buttonFade
                        (click)="showMessageBoxPanel = 'EMOJI'"
                        class="dm-mb-action-button-img dm-action-button"
                        src="assets/images/dm-mb-action-button-emoji.svg"
                        alt="Emoji"
                    />
                    <img
                        *ngIf="showMessageBoxPanel === 'EMOJI'"
                        @buttonFade
                        (click)="showMessageBoxPanel = 'OFF'"
                        class="dm-mb-action-button-img dm-action-button"
                        src="assets/images/dm-mb-action-button-emoji-active.svg"
                        alt="Emoji"
                    />
                </div>
                <div class="dm-mb-action-button-container" *ngIf="chatHandler.setting.enable_emoticons">
                    <img
                        *ngIf="showMessageBoxPanel !== 'STICKER'"
                        @buttonFade
                        (click)="showMessageBoxPanel = 'STICKER'"
                        class="dm-mb-action-button-img dm-action-button"
                        src="assets/images/dm-mb-action-button-sticker.svg"
                        alt="Emoji"
                    />
                    <img
                        *ngIf="showMessageBoxPanel === 'STICKER'"
                        @buttonFade
                        (click)="showMessageBoxPanel = 'OFF'"
                        class="dm-mb-action-button-img dm-action-button"
                        src="assets/images/dm-mb-action-button-sticker-active.svg"
                        alt="Emoji"
                    />
                </div>
                <label class="dm-mb-file-input-lable">
                    <img
                        class="dm-mb-action-button-img dm-action-button"
                        src="assets/images/dm-mb-action-button-upload.svg"
                        alt="Image"
                    />
                    <input
                        multiple="false"
                        capture="environment"
                        (input)="uploadFile($event)"
                        [accept]="acceptFileTypeString"
                        type="file"
                    />
                </label>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #inlineLoaderBox>
    <div class="dm-loader">
        <div class="dm-loader__element"></div>
    </div>
</ng-template>
<ng-template #confirmPopup>
    <p-dialog
        [(visible)]="this.modelConfig.display"
        position="center"
        [style]="{ width: 'calc(100% - 48px)' }"
        [showHeader]="false"
        [dismissableMask]="true"
        [modal]="true"
        [closeOnEscape]="true"
    >
        <div class="text-center dialog-wrap">
            <img
                class="dialog-image"
                *ngIf="this.modelConfig.icon === 'BLOCK'"
                src="assets/images/dm-blocked.svg"
                alt=""
            />
            <img
                class="dialog-image"
                *ngIf="this.modelConfig.icon === 'REPORT'"
                src="assets/images/dm-report.svg"
                alt=""
            />
            <img
                class="dialog-image"
                *ngIf="this.modelConfig.icon === 'DELETE'"
                src="/assets/images/delete-role.svg"
                alt=""
            />

            <div class="title lh-normal fw-b text-clr02 fnt-18 mt-3">{{ this.modelConfig.title }}</div>
            <div class="fnt-14 fnt-md-16 lh-15 text-clr5d pt-3">{{ this.modelConfig.description }}</div>
            <div class="pt-45 pt-md-5">
                <button class="btn-stroked mr-3" (click)="this.modelConfig.actionEventHandler('no')">
                    {{ this.modelConfig.noAction }}
                </button>
                <button class="btn-raised" (click)="this.modelConfig.actionEventHandler('yes')">
                    {{ this.modelConfig.yesAction }}
                </button>
            </div>
        </div>
    </p-dialog>
</ng-template>
