<div class="main-block">
    <div class="d-flex justify-content-between align-items-start">
        <p-breadcrumb [model]="breadCrumbItem" styleClass="breadcrumb-mb"></p-breadcrumb>
        <div class="custom-search d-none d-md-block" [ngClass]="{ 'd-lg-none': isAddMember }">
            <input
                type="text"
                pInputText
                #input
                name="search"
                [(ngModel)]="termSearch"
                (input)="onSearch()"
                placeholder="{{ 'search_by_name' | translate }}"
            />
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <div class="w-mob-100">
            <div *ngIf="isAddMember">
                <div class="d-md-flex fnt-18 fw-b mb-2">
                    <div class="mb-1 mb-md-0">{{ 'add_team_members_to' | translate }}&nbsp;</div>
                    <p-dropdown
                        [options]="roleList"
                        optionLabel="name"
                        optionValue="id"
                        (onChange)="onAllRole()"
                        scrollHeight="225px"
                        [placeholder]="'all_roles' | translate"
                        [(ngModel)]="currentRoleID"
                        styleClass="no-border no-padding accent role-selector"
                    >
                    </p-dropdown>
                </div>
                <div class="fw-m text-clr588">{{ 'select_members_role' | translate }}</div>
            </div>
            <div *ngIf="!isAddMember" class="d-inline primary_txt p-0">{{ 'user_management' | translate }}</div>
            <div class="d-flex d-md-none mt-4 flex-column">
                <button class="btn btn-raised mb-3" (click)="inviteNewMembers()" *ngIf="isAddMember">
                    <span class="update_text">{{ 'invite_new_members' | translate }}</span>
                </button>
                <button
                    class="btn-raised mb-3"
                    routerLink="/team-management/team-members"
                    [queryParams]="{ roleID: 6, isAddMember: true }"
                    *ngIf="!isAddMember && showAddbutton"
                >
                    {{ 'add_new_member' | translate }}
                </button>
                <div class="custom-search">
                    <input
                        type="text"
                        pInputText
                        #input
                        name="search"
                        class="w-100"
                        [(ngModel)]="termSearch"
                        (input)="onSearch()"
                        placeholder="{{ 'search_by_name' | translate }}"
                    />
                </div>
            </div>
            <div class="d-flex align-items-center mt-3 mt-md-45">
                <p-dropdown
                    [options]="statusFilterArray"
                    optionLabel="name"
                    optionValue="value"
                    [(ngModel)]="termStatus"
                    (onChange)="onStatus()"
                    scrollHeight="225px"
                    [showClear]="true"
                    placeholder="Status"
                    styleClass="round-border mr-2 {{ termStatus ? 'highlight' : '' }}"
                >
                </p-dropdown>
                <p-dropdown
                    [options]="roleList"
                    optionLabel="name"
                    optionValue="id"
                    [(ngModel)]="termRole"
                    (onChange)="onRole()"
                    scrollHeight="225px"
                    [showClear]="true"
                    placeholder="Role"
                    styleClass="round-border mr-2 {{ termRole ? 'highlight' : '' }}"
                >
                </p-dropdown>
            </div>
        </div>
        <div class="flex-1 d-flex flex-column">
            <div class="d-none d-md-flex flex-wrap flex-row-reverse h-fit-content align-items-end">
                <button
                    class="btn-raised w-fit-content inviteBtn ml-3"
                    (click)="inviteNewMembers()"
                    *ngIf="isAddMember"
                >
                    <span class="update_text">{{ 'invite_new_members' | translate }}</span>
                </button>
                <div class="custom-search d-none" [ngClass]="{ 'd-lg-block': isAddMember }">
                    <input
                        type="text"
                        pInputText
                        #input
                        name="search"
                        [(ngModel)]="termSearch"
                        (input)="onSearch()"
                        placeholder="{{ 'search_by_name' | translate }}"
                    />
                </div>
            </div>

            <div
                class="flex-1 d-none d-md-flex justify-content-end align-items-end"
                *ngIf="!isAddMember && showAddbutton"
            >
                <button
                    class="btn-raised inviteBtn"
                    routerLink="/team-management/team-members"
                    [queryParams]="{ roleID: 6, isAddMember: true }"
                >
                    {{ 'add_new_member' | translate }}
                </button>
            </div>
        </div>
    </div>

    <div *ngIf="!isAddMember" class="my-4">
        <p-tabMenu [model]="menuItems"> </p-tabMenu>
    </div>
    <router-outlet></router-outlet>
</div>
