<div class="panel-block" [class.fadeIn]="show">
    <div class="main-block">
        <div class="bg-f8 d-flex justify-content-between align-items-center p-3 mb-4 mb-md-45">
            <div class="text-clr588">Searching for “{{ searchStr }}”</div>
            <img src="assets/images/close.svg" class="close-btn cursor-pointer" (click)="closePanel()" />
        </div>
        <div>
            <div
                *ngFor="let item of results"
                class="d-flex border-main br-4 p-4 mb-4 mb-md-45 cursor-pointer"
                (click)="navigate(item.routerLink)"
            >
                <div class="mr-2">
                    <img src="assets/images/search-note.svg" class="search-icon" />
                </div>
                <div>
                    <div class="fnt-16 fnt-md-18 lh-normal fw-b text-clr334 mb-2">{{ item.title }}</div>
                    <div class="fnt-14 text-clr588">Set-up your e-commerce shop and view and manage orders</div>
                </div>
            </div>
        </div>
    </div>
</div>
