.articles-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: -8px;
    .article-item {
        img {
            height: 243px;
            object-fit: cover;
        }
        &:hover {
            cursor: pointer;
            box-shadow: 0 22px 34px 0 rgba(0, 0, 0, 0.08);
        }
    }
    @media (max-width: 767px) {
        margin: -8px 0;
    }
}

::ng-deep {
    .article-content-wrapper {
        & > div p {
            margin-bottom: 0 !important;
        }
    }
}
