.cert-img {
    height: 24px;
    width: auto;
    @media (min-width: 768px) {
        height: 50px;
    }
}

.contacts-mob {
    margin-top: -8px;
}

.contact-block {
    margin-right: -8px;
    margin-left: -8px;
    @media (min-width: 768px) {
        margin-right: -11px;
        margin-left: -11px;
    }
    .contact-wrap {
        padding-left: 8px;
        padding-right: 8px;
        margin-bottom: 20px;
        z-index: 1;
        @media (min-width: 768px) {
            padding-right: 11px;
            margin-bottom: 24px;
        }

        .contact-img {
            width: 140px;
            height: 128px;
            object-fit: cover;
            background-color: #eeeeee;
            border-radius: 2px;
            @media (min-width: 768px) {
                width: 150px;
                height: 146px;
            }
        }
    }
}

.msg-chat {
    display: inline-flex;
    align-items: center;
    padding: 5px 9px;
    border: solid 1px #747588;
    border-radius: 2px;
    @media (min-width: 768px) {
        padding: 7px 12px;
    }
    &:hover {
        cursor: pointer;
    }
    P {
        margin-bottom: 0;
    }
    img {
        width: 15px;
        height: 15px;
        object-fit: cover;
        @media (min-width: 768px) {
            width: 18px;
            height: 18px;
        }
    }
}

.media-wrap {
    width: 100%;
    height: 200px;

    @media (min-width: 992px) {
        height: 234px;
    }
    @media (max-width: 767px) {
        width: unset;
        margin: 0 8px;
    }
}

agm-map {
    height: 150px;
    width: 100%;
}
