.search-raised {
    width: 68%;
    height: 40px;
    background-color: #fff;
    background: url(/assets/images/search-user.png) no-repeat scroll 11px 11px;
    background-size: 16px 16px;
    padding-left: 41px;
    font-family: Muli;
    font-size: 14px;
    font-weight: normal;
    color: #232334;
    border-radius: 4px;
    border: solid 1px #d6d6d6;
    background-color: #ffffff;
    margin-left: 10px;
}

.pointer-item {
    cursor: pointer;
}

.list-group-item {
    border: none;
    font-family: 'Muli';
    font-size: 14px;
    font-weight: 600 !important;
    color: #747588;
}

.list-group-item:hover {
    color: #232334;
    font-weight: 600 !important;
    background-color: #f8f8f8;
}

::ng-deep .roastedCoffeeTable .p-checkbox {
    margin-left: 0px;
}
::ng-deep .roastedCoffeeTable .p-datatable.p-datatable-hoverable-rows .p-datatable-tbody > tr:not(.p-highlight):hover {
    background: #ffffff;
}
.view-det {
    color: #80460b !important;
}
.view-det:hover {
    text-decoration: underline !important;
    cursor: pointer;
}
.truncate-roasted {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 83%;
}
::ng-deep .breadCrumb .p-breadcrumb ul {
    width: max-content;
}
.width-90 {
    width: 90% !important;
}
@media (max-width: 1270px) and (min-width: 768px) {
    ::ng-deep .roastedCoffeeTable .p-datatable {
        position: relative !important;
        overflow: auto !important;
        width: 100% !important;
    }

    ::ng-deep .roastedCoffeeTable .p-datatable table {
        border-collapse: collapse;
        table-layout: fixed;
        width: 1100px !important;
    }
}
@media (max-width: 991px) and (min-width: 768px) {
    .spacing-batch {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
}
@media screen and (max-width: 767px) {
    .filterLayout {
        margin-top: 1.5rem;
    }
    :host ::ng-deep .roastedCoffeeTable .p-datatable-tbody > tr > .nameMobileHeader {
        padding: 0px;
        width: 100% !important;
    }
    .mobileValueTxt {
        font-size: 14px !important;
    }
    .mobileCardBody {
        border-bottom: 1px dashed #d6d6d6;
        padding: 1rem 0px;
    }
    :host ::ng-deep .roastedCoffeeTable .p-datatable-tbody > tr > .cardBottom {
        margin-bottom: 14px;
        border-bottom: 1px solid #d6d6d6 !important;
    }
    :host ::ng-deep .roastedCoffeeTable .p-datatable .p-datatable-tbody > tr {
        border: 0px !important;
        padding: 0 !important;
    }
    :host ::ng-deep .roastedCoffeeTable .p-datatable.p-datatable-responsive .p-datatable-tbody > tr {
        margin: 0 !important;
    }
    :host ::ng-deep .roastedCoffeeTable .p-datatable.p-datatable-responsive .p-datatable-tbody > tr > td {
        border-bottom: none !important;
    }
    :host ::ng-deep .roastedCoffeeTable .p-datatable-resizable .p-datatable-tbody > tr > td {
        white-space: initial !important;
    }
    .borderCard {
        border: 1px solid #d6d6d6;
        border-bottom: none;
        padding: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    .bgCard {
        background-color: #f8f8f8;
        padding: 10px 12px 8px 12px;
    }
    .productHeight {
        height: 138px !important;
    }
    .mobileCard {
        border-left: 1px solid #d6d6d6;
        border-right: 1px solid #d6d6d6;
        border-bottom: 1px solid #d6d6d6;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    .editDiv {
        border: 1px solid #d6d6d6;
        padding: 20px 15px;
        margin-bottom: 1rem !important;
    }
    .bord-profile {
        border: none;
    }
    .inventory-text-height {
        line-height: 18px !important;
    }
    .breadcrumb-scroll .breadCrumb::-webkit-scrollbar {
        display: none !important;
    }
    .width-head {
        width: 47% !important;
    }
    .width-desc {
        width: 53% !important;
    }
    .breadCrumb::-webkit-scrollbar {
        display: none !important;
    }
}
