<div class="main-block">
    <p-breadcrumb [model]="breadItems" styleClass="breadcrumb-mb"></p-breadcrumb>

    <div class="fnt-16 fnt-md-18 fw-b">{{ 'roasted_coffee_batches' | translate }}</div>
    <div class="mt-1">{{ 'maintain_inventory_text' | translate }}</div>

    <div class="row gutter-16 v-gutter-16 justify-content-end mt-2 mb-4 mb-md-0">
        <div class="col-md-auto order-1 order-md-2">
            <button class="btn-raised w-100" [routerLink]="['/roasted-coffee-batch/roasting-profile']">
                {{ 'manage_roasting_profiles' | translate }}
            </button>
        </div>
        <div class="col-md-auto order-2 order-md-1">
            <button class="btn-stroked w-100" [routerLink]="['/roasted-coffee-batch/new-roasted-batch']">
                {{ 'create_new_batch' | translate }}
            </button>
        </div>
    </div>

    <p-tabMenu [model]="menuItems"></p-tabMenu>

    <router-outlet></router-outlet>
</div>
