<!-- Chart div starts-->
<div class="chart-details br-4 mt-4">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="fnt-16 fnt-md-18 lh-normal fw-b text-clr334 mb-2 mb-md-3">Live from our Lot!</h2>
            <div class="fnt-12 fnt-md-16 lh-15 fw-n text-clr5d pb-md-4">
                We bring you live updates of your lot with geo tracking!
            </div>

            <div class="mt-3" *ngIf="polygonId">
                <p-tabView>
                    <p-tabPanel header="Weather">
                        <ng-template pTemplate="contentWeather">
                            <app-weather-chart [polygonId]="polygonId"></app-weather-chart>
                        </ng-template>
                    </p-tabPanel>
                    <p-tabPanel header="Soil">
                        <ng-template pTemplate="contentSoil">
                            <app-soil-chart [polygonId]="polygonId"></app-soil-chart>
                        </ng-template>
                    </p-tabPanel>
                    <p-tabPanel header="UV">
                        <ng-template pTemplate="contentUv">
                            <app-uv-chart [polygonId]="polygonId"></app-uv-chart>
                        </ng-template>
                    </p-tabPanel>
                    <p-tabPanel header="Vegetation">
                        <ng-template pTemplate="contentVegetation">
                            <app-vegetation-chart [polygonId]="polygonId"></app-vegetation-chart>
                        </ng-template>
                    </p-tabPanel>
                    <p-tabPanel header="Images">
                        <ng-template pTemplate="contentImages">
                            <app-image-map [polygonId]="polygonId"></app-image-map>
                        </ng-template>
                    </p-tabPanel>
                </p-tabView>
            </div>
        </div>
    </div>
</div>
