.chart-details {
    padding: 24px 24px 24px 24px;
    border: 1px solid #ebebeb;
}

@media (max-width: 767px) {
    .chart-details {
        padding-left: 12px;
        padding-right: 12px;
    }
}

:host ::ng-deep {
    .chart-wrap {
        overflow-x: auto;
        & > div {
            min-width: 810px;
        }
    }

    .chart-tooltip {
        background-color: #fff;
        box-shadow: 0 22px 34px 0 rgba(0, 0, 0, 0.08);
        padding: 12px;
    }

    .legend-wrap {
        position: relative;
        margin-left: 20px;
        @media (min-width: 768px) {
            margin-left: 32px;
        }
        &:first-child {
            margin-left: 0;
        }

        div {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            margin-right: 8px;
            @media (min-width: 768px) {
                width: 10px;
                height: 10px;
            }
        }
    }
}
