@import 'variables';

.sample_info,
.evaluator {
    border-radius: 4px;
    border: solid 1px $secondary-border-color;
    height: fit-content;
    max-width: 286px;
    @media (max-width: 767px) {
        max-width: 100%;
        min-width: 100% !important;
        width: 100%;
    }
}

.evaluator {
    max-width: 302px;
    min-width: 302px;
    @media (max-width: 674px) {
        min-width: calc(100% - 1rem);
    }
}

.info_heading {
    border-radius: 4px;
    background-color: $primary-bg-color;
    padding: 12px 10px;
    align-items: center;
    .details-wrapper {
        align-items: center;
        & span:hover {
            text-decoration: underline;
        }
    }
}

.info_list ul li {
    width: 100%;
    float: left;
    padding: 0 12px;

    & > div {
        padding: 12px 0;
        border-bottom: 1px dashed $primary-border-color;
        display: flex;
        align-items: center;
    }

    &:last-child > div {
        border-bottom: none;
        margin-bottom: 0;
    }
}
