.orders-border {
    border-radius: 4px;
    border: solid 1px #d6d6d6 !important;
}

.upload-order {
    background-color: #ffffff;
    padding: 8px 12px;
}

.upload-btn {
    cursor: pointer;
    padding: 8px 12px 9px 12px;
    border-radius: 2px;
    border: solid 1px #747588;
}

.upload-name {
    font-family: 'Muli';
    font-size: 14px;
    font-weight: 500;
    color: #232334;
    position: relative;
    top: 2px;
}

@media (max-width: 767px) {
    .estate-orders-heading {
        margin: 0.2rem 0.2rem 0.2rem 0;
        padding-left: 0 !important;
    }
    #agreements-nav .p-tabview .p-tabview-nav li {
        margin-right: 1.5rem !important;
    }
}

@media (min-width: 767px) and (max-width: 991px) {
    .estate-orders-heading {
        padding-left: 0px !important;
    }
}
