<section>
    <div class="bg-fff coffee-exp agreements">
        <div class="row align-items-center">
            <div class="mb-4 pl-3">
                <p-breadcrumb [model]="navItems" [home]="selectedNav"></p-breadcrumb>
            </div>
            <div class="file-share-search col-12 col-md-3 ml-md-auto mb-3 mr-3 d-none d-md-flex align-items-center">
                <img class="mr-1 mr-md-2" src="assets/images/search.svg" />
                <input
                    class="fadout-search"
                    type="search"
                    placeholder="{{ globals.languageJson?.search_files }}"
                    [(ngModel)]="searchTerm"
                    name="filesTerm"
                />
            </div>
        </div>

        <section class="estate-orders-heading">
            <h5 class="estate-order-title">{{ globals.languageJson?.agreements }}</h5>
        </section>

        <div class="row">
            <div class="col-12">
                <div class="mixups-tabs col-lg-12 col-md-12 px-0">
                    <div class="row bottom-bord px-3">
                        <div class="col-lg-2 col-md-2 p-0 mt-2 mobile-farm">
                            <div class="upload-order top-space pl-0" [routerLink]="'/sales-contract/' + customerType">
                                <label class="upload-btn">
                                    <img class="dwnd-img" src="assets/images/group-6.svg" alt="upload-icon" />
                                    <span class="upload-name">&nbsp; Upload </span>
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 px-0 mt-4 pt-2" id="agreements-nav">
                            <p-tabView (onChange)="onTabChange($event)">
                                <p-tabPanel header="{{ globals.languageJson?.horeca }}">
                                    <app-roaster-agreements
                                        *ngIf="customerType === 'hrc'"
                                        [searchTerm]="searchTerm"
                                        [customerType]="'hrc'"
                                    >
                                    </app-roaster-agreements>
                                </p-tabPanel>
                                <p-tabPanel header="{{ globals.languageJson?.micro_roasters }}">
                                    <app-roaster-agreements
                                        *ngIf="customerType === 'micro-roasters'"
                                        [searchTerm]="searchTerm"
                                        [customerType]="'micro-roasters'"
                                    >
                                    </app-roaster-agreements>
                                </p-tabPanel>
                            </p-tabView>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
