<div>
    <p class="fnt-16 fnt-md-18 fw-b mb-2 mb-md-3 d-none d-md-block">
        {{ 'recent_activity' | translate }}
    </p>

    <div class="p-3 p-md-0 border-main border-md-none br-4 h-100">
        <p class="fnt-16 fw-b mb-4 d-md-none">{{ 'recent_activity' | translate }}</p>
        <div class="d-none d-md-block">
            <p-table
                *ngIf="recentActivities"
                #activeDT
                styleClass="w-100"
                [value]="recentActivities"
                [(selection)]="selectedMetaData"
                dataKey="name"
                [rowHover]="false"
                [loading]="loading"
                [filterDelay]="0"
                [globalFilterFields]="['description', 'user_name', 'created_at']"
                [resizableColumns]="true"
                [autoLayout]="true"
            >
                <ng-template pTemplate="header" styleClass="table-header" class="table-header">
                    <tr class="header-row">
                        <th>{{ 'activity' | translate }}</th>
                        <th scope="col">{{ 'action_taken_by' | translate }}</th>
                        <th scope="col">{{ 'time_and_date' | translate }}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr class="p-selectable-row">
                        <td class="showcurser">
                            {{
                                ACTIVITY_TYPE[item.description]
                                    ? ACTIVITY_TYPE[item.description].name
                                    : item.description
                            }}
                        </td>
                        <td>
                            {{ item.user_name }}
                        </td>
                        <td>
                            {{ item.created_at | date: 'd MMM, h:mm a' }}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <ng-container *ngIf="recentActivities?.length; else empty"></ng-container>
                </ng-template>
            </p-table>
        </div>

        <div class="d-md-none">
            <ng-container *ngIf="recentActivities?.length; else empty">
                <div *ngFor="let item of recentActivities" class="activity-wrap">
                    <div class="d-flex justify-content-between mb-2">
                        <div class="fw-m">{{ item.user_name }}</div>
                        <div class="fnt-12 fw-m text-clr588">
                            {{ item.created_at | date: 'd MMM, h:mm a' }}
                        </div>
                    </div>
                    <p class="fnt-12 fw-m text-clr588 mb-25">{{ item.organisation_name }}</p>
                    <p class="fw-m mb-3 text-break">
                        {{ ACTIVITY_TYPE[item.description] ? ACTIVITY_TYPE[item.description].name : item.description }}
                    </p>
                </div>
            </ng-container>
        </div>
    </div>
</div>

<ng-template #empty> <app-empty [title]="'no_data' | translate"></app-empty> </ng-template>
