@import 'variables';

table th,
table td,
.header-row {
    border: none !important;
}

.table {
    .table-header {
        border-radius: 4px;
        background-color: #f8f8f8;
        th {
            font-family: $general-font-family;
            font-size: 14px;
            font-weight: bold;
            color: #232334;
            padding: 14px 15px;
        }
    }

    tr {
        border-bottom: 1px dashed #d6d6d6;

        &:last-child {
            border-bottom-style: none;
            border-bottom-color: none;
        }
    }
    td {
        font-family: $general-font-family;
        font-size: 14px;
        font-weight: $fw-m;
        color: #232334;
        padding: 18px 15px;
    }
}

.customcheckbox {
    transition: all 0.5s;
    input:checked ~ span {
        background-color: #30855c !important;
    }
    span {
        top: -6px !important;
        left: 8px !important;
        height: 18px !important;
        width: 18px !important;
        background-color: #fff !important;
        border: solid 1px #979797;
        border-radius: 2px;

        &:after {
            left: 5px !important;
            top: 1px !important;
            border-width: 0 2px 2px 0 !important;
        }
    }
}

.activity-wrap {
    border-bottom: dashed 2px #ebebeb;
    margin-bottom: 16px;

    &:last-child {
        border: none;
        margin-bottom: 0;
    }
}
