@import 'variables';

.floting-containerDiv {
    z-index: 41;
}

.headerDiv {
    border-bottom: 1px solid $primary-border-color;
    position: relative;
    @media screen and (min-width: 768px) {
        min-height: 79px;
    }
}
.imgDiv {
    @media screen and (min-width: 768px) {
        border-right: 1px solid $primary-border-color;
        width: 164px;
        .move-left {
            margin-left: -12px;
        }
    }
}

.orderDiv {
    display: grid;
    max-width: 165px;
}
.primary-label {
    opacity: 0.7;
    color: $general-text-color;
}
.primary-sub-label {
    opacity: 0.7;
    color: $muted-text-color;
}

.oc-link {
    font-weight: 700;
    color: $brown-color !important;
    cursor: pointer;
}
.seperatorClass {
    width: 1px;
    height: 12px;
    margin: 0px 24px 1px 24px;
    background-color: #2c2b46;
}
.order-ticket {
    box-shadow: 0 12px 44px -10px rgba(143, 51, 11, 0.1);
    overflow: auto;
    display: -webkit-inline-box;
}
.disputeDiv {
    margin: 24px 32px;
    width: calc(100% - 64px);
    position: absolute;
    box-shadow: 0 12px 44px -10px rgba(143, 51, 11, 0.1);
    z-index: 40;
    border-radius: 2px;
    border: dashed 1px $primary-border-color;
}
.dispute-margin {
    margin: 10px;
}
.card-width {
    padding: 8px 12px 8px 8px;
    opacity: 0.7;
    border-radius: 4px;
    border: solid 1px $secondary-border-color;
    background-color: $white;
    margin: 6px;
    cursor: pointer;
    min-width: 77px;
    @media screen and (min-width: 768px) {
        padding: 12px 23px 12px 12px;
        min-width: 117px;
    }
}
.cardSelect {
    opacity: 0.9;
    border: solid 1px $primary-color;
    background-color: rgba(61, 132, 98, 0.05);
}
.profileImg {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: solid 2px $white;
    background-color: $primary-bg-color;
}
.chat-page-wrapper {
    position: relative;
    width: 100%;
}

.order-chat-wrapper {
    position: relative;
    width: 100%;
}
@media (max-width: 768px) {
    .disputeDiv {
        margin: 16px;
        box-shadow: 0 12px 44px -10px rgba(143, 51, 11, 0.1);
        display: -webkit-inline-box;
        width: calc(100% - 32px);
        position: absolute;
    }
    .imgMobileDiv {
        margin-left: auto;
        .imgDiv {
            width: 164px;
            justify-content: flex-end;
        }
    }
}

.ticket-num-status {
    float: right;
    margin-left: auto;
    position: relative;
    padding: 2px 8px 2px 16px;
    border-radius: 10px;
    border: solid 0.5px $muted-text-color;
    p {
        font-size: 10px;
        line-height: 14px;
        margin: 0px;
        font-weight: 600;
        color: $muted-text-color;
    }
    &::before {
        position: absolute;
        content: '';
        top: 7px;
        left: 7px;
        width: 4px;
        height: 4px;
        background-color: $muted-text-color;
        border-radius: 50%;
        z-index: 1;
    }
}

/**********popover*******/
.menu-arrow {
    width: 18px;
    height: 18px;
    position: absolute;
    right: 16px;
    top: 24px;
}

.list-data li {
    width: auto !important;
    padding: 10px 3rem 10px 10px !important;
}

.list-data {
    margin-bottom: 0%;
}

::ng-deep .popover-body {
    padding: 0.25rem 0.25rem !important;
}

::ng-deep .popover {
    border: none !important;
    border-radius: 6px !important;
    box-shadow: 0 0 17px 2px rgba(27, 27, 27, 0.08) !important;
    background-color: $white;
}

.list-item {
    border: none;
    font-family: $general-font-family;
    font-size: 14px;
    font-weight: 600 !important;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $muted-text-color;
    &:hover {
        color: $general-text-color !important;
        font-weight: 600 !important;
        background-color: $primary-bg-color !important;
    }
}

.pointer-item {
    cursor: pointer;
}

.brand-image {
    height: 90px;
    width: 90px;
    border-radius: 100%;
}

.brand-meta-container {
    height: 90px;
}
