.containerDiv {
    background: #ffffff;
}
.headerDiv {
    border-bottom: 1px solid #d6d6d6;
}
.imgDiv {
    border-right: 1px solid #d6d6d6;
}
.back-href {
    color: #80460b;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

.back-href:hover .back-arrow-butn {
    -webkit-transform: translateX(-6px);
    -ms-transform: translateX(-6px);
    transform: translateX(-6px);
    -webkit-transition: all 0.6s cubic-bezier(0.2, 0.59, 0.21, 0.6);
    -o-transition: all 0.6s cubic-bezier(0.2, 0.59, 0.21, 0.6);
    transition: all 0.6s cubic-bezier(0.2, 0.59, 0.21, 0.6);
}
.orderDiv {
    display: grid;
}
.primary_label {
    font-family: Muli-Regular_;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    opacity: 0.7;
    color: #232334;
}
.selectedDataFont {
    font-family: Muli-Regular_;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #232334;
}
.text-highlited {
    font-weight: 700;
    color: #80460b !important;
    cursor: pointer;
    text-decoration: underline;
}
.seperatorClass {
    width: 1px;
    height: 12px;
    margin: 0px 22px 1px 23px;
    background-color: #2c2b46;
}
.order-ticket {
    box-shadow: 0 12px 44px -10px rgba(143, 51, 11, 0.1);
    overflow: auto;
    display: -webkit-inline-box;
}
.disputeDiv {
    margin: 24px 32px;
    box-shadow: 0 12px 44px -10px rgba(143, 51, 11, 0.1);
    display: -webkit-inline-box;
}
.dispute-margin {
    margin: 10px;
}
.card-width {
    padding: 12px 23px 12px 12px;
    opacity: 0.7;
    border-radius: 4px;
    border: solid 1px #ebebeb;
    background-color: #ffffff;
    margin: 6px;
    width: 117px;
    cursor: pointer;
}
.cardSelect {
    opacity: 0.9;
    border: solid 1px #3a8561;
    background-color: rgba(61, 132, 98, 0.05);
}
.profileImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: solid 2px #ffffff;
    background-color: #d8d8d8;
}
@media (max-width: 768px) {
    .disputeDiv {
        margin: 16px;
        box-shadow: 0 12px 44px -10px rgba(143, 51, 11, 0.1);
        display: -webkit-inline-box;
    }
    .imgMobileDiv {
        margin-left: auto;
    }
}
