.page-breadcrumb {
    background-color: #FFFFFF;
    margin: 1% 0.5% 0 1%;
}

.breadcrumb-item a {
    color: #666666;
}

.breadcrumb-item.active {
    color: #000;
}

a.b-cum:hover {
    color: #000000;
    text-decoration: underline;
    font-weight: bold;
}

.page-wrapper {
    background-color: #FFFFFF;
}

.create-role-btn {
    background-color: #3d8462;
    border-radius: 8px;
    color: #ffffff;
    border: 1px solid #3d8462;
    font-size: 13px;
    font-weight: 600;
    padding: 0.7rem;
}

.create-role-btn:hover {
    /* background-color: #3d8462; 
    color:#fff; */
    box-shadow: 0 0 7px 1px rgba(67, 146, 108, 0.5);
}
.header-value{
    font-family: PlayfairDisplay;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #020202;
    padding-left: 2%;
    word-break: keep-all;
}
.raise-ticket{
    padding-right: 2%;
}
.sub-text{
    font-family: Muli;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #666666;
    padding-left: 2%;
}
.sub-header{
    font-family: Muli;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    padding: 10% 0 3% 1%;
}
.text-data{
    font-family: Muli;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}
.privacy-content{
    border-bottom: 1px dashed #dddddd;
    padding: 3% 1% ;
}
.cookies-content{
    border-bottom: 1px dashed #dddddd;
    padding: 3% 1% ;
}

:host ::ng-deep .ui-inputswitch.ui-inputswitch-checked .ui-inputswitch-slider:before{
background-color: #24be46 !important;
}
:host ::ng-deep .ui-inputswitch .ui-inputswitch-slider:before{
    background-color: #999999 !important;
}
:host ::ng-deep .ui-inputswitch.ui-inputswitch-checked .ui-inputswitch-slider{
background-color: #D3F2DA !important;
}
:host ::ng-deep .ui-inputswitch .ui-inputswitch-slider{
    background-color: #dddddd !important;
}
:host ::ng-deep .ui-inputswitch .ui-inputswitch-focus{
    box-shadow: none !important;
    outline: none !important;
}

@media screen and (max-width : 425px){
    .sub-header{
        font-size: 16px;
    }
    .sub-text{
        font-size: 13px;
    }
    .text-data{
        font-size: 13px;
    }
    .raise-ticket{
        padding-top: 2%;
    }
    .create-role-btn{
        font-size: 10px;
    }
}