.page-breadcrumb {
    background-color: #FFFFFF;
    margin: 1% 0.5% 0 1%;
}

.breadcrumb-item a {
    color: #666666;
}

.breadcrumb-item.active {
    color: #000;
}

a.b-cum:hover {
    color: #232334;
    text-decoration: underline;
    font-weight: bold;
}

.page-wrapper {
    background-color: #FFFFFF;
}

.create-role-btn {
    background-color: #30855c;
    border-radius: 4px;
    color: #ffffff;
    border: 1px solid #30855c;
    font-size: 13px;
    font-weight: bold;
    padding: 0.7rem;
}

.create-role-btn:hover {
    /* background-color: #30855c; 
    color:#fff; */
    box-shadow: 0 0 7px 1px rgba(67, 146, 108, 0.5);
}

.header-value {
    font-family: Muli;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #232334;
    word-break: keep-all;
}

.raise-ticket {
    padding-right: 2rem;
    padding-top: 2rem;
}

.sub-text {
    font-family: Muli;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #666666;
}

.sub-header {
    font-family: Muli;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #232334;
    padding: 1rem 1rem 0rem 1rem;
}

.text-data {
    font-family: Muli;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #232334;
}

.privacy-content {
    border-bottom: 1px dashed #cccccc;
    padding: 1rem .2rem;
}

.cookies-content {
    border-bottom: 1px dashed #cccccc;
    padding: 1rem .2rem;
}

.privacy-content-list,
.cookies-content-list {
    padding-left: 0.7rem;
}

:host ::ng-deep .ui-inputswitch.ui-inputswitch-checked .ui-inputswitch-slider:before {
    background-color: #24be46 !important;
}

:host ::ng-deep .ui-inputswitch .ui-inputswitch-slider:before {
    background-color: #999999 !important;
}

:host ::ng-deep .ui-inputswitch.ui-inputswitch-checked .ui-inputswitch-slider {
    background-color: #D3F2DA !important;
}

:host ::ng-deep .ui-inputswitch .ui-inputswitch-slider {
    background-color: #dddddd !important;
}

:host ::ng-deep .ui-inputswitch .ui-inputswitch-focus {
    box-shadow: none !important;
    outline: none !important;
}

.mobile-view{
    display: none;
}

@media screen and (max-width: 425px) {
    .sub-header{
        font-size: 16px;
    }
    .sub-text{
        font-size: 14px;
        font-weight: 600;
    }
    .text-data{
        font-size: 14px;
    }
    .border-clr{
        border: none !important;
        padding: 0rem !important;
        margin: 0rem !important;
    }
    .desk-view{
        display: none ;
    }
    .mobile-view{
        display: block;
        padding: 1rem 1rem 0rem;
    }

    .back-ticket {
    font-family: Muli;
    font-size: 16px;
    font-weight: 600;
    color: #80460b;
    cursor: pointer;
}
.mob-header-view{
    padding-left: 0% !important;
    padding-right: 0rem !important;
    border-bottom: 1.5px dashed #d6d6d6;
    padding-bottom: 1rem;
}
.mob-content{
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 2rem;
}
.create-role-btn{
    width: 100%;
}
}

.breadcrumb1 {
    padding: 2rem 2rem 0rem 2rem;
}

.border-clr {
    border-radius: 0px;
    border: solid 1px #ebebeb;
    padding: 2rem 2rem 2.5rem 2rem;
    margin: .5rem;
}

.farm-stricky {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: 99;
    background-color: #fff;
    padding: 10px 30px;
}