.page-breadcrumb {
    background-color: #FFFFFF;
    margin: 1% 0.5% 0 1%;
}

.breadcrumb-item a {
    color: #666666;
}

.breadcrumb-item.active {
    color: #000;
}

a.b-cum:hover {
    color: #000000;
    text-decoration: underline;
    font-weight: bold;
}

.page-wrapper {
    background-color: #FFFFFF;
}

.dashboard-button {
    height: 241px;
    width: 100%;
    border-radius: 6px;
    border: solid 1px #dddddd;
    background-color: #ffffff;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

.logo-img {
    bottom: 2px;
    position: relative;
}

.dashboard-button:hover {
    border: solid 1px #3d8462;
}

.dashboard-button .icon-img-filled {
    display: none;
}

.dashboard-button:hover .icon-img-filled {
    display: inline;
}

.dashboard-button:hover .icon-img {
    display: none;
}

.dashboard-button .logo-img-hover {
    display: none;
}

.dashboard-button:hover .logo-img-hover {
    position: relative;
    bottom: 2px;
    display: inline;
}

.dashboard-button:hover .logo-img {
    display: none;
}

.btn-name {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    margin-top: 5%;
}

.btn-content {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #666666;
}