@import 'variables';

.order-chat-image {
    margin-top: -5px;
}

.img-can-coverse {
    width: 24px;
    height: 24px;
}
.disputeDiv {
    margin: 10px 0px;
    width: 100%;
    border-radius: 2px;
    border: dashed 1px #d6d6d6;
}
.ellyse-main {
    background-color: #fff;
    padding: 10px 15px 20px 15px;
}

.ellyse-pic {
    width: 80px;
    height: 80px;
}

.country-txt {
    position: absolute;
    padding-left: 5px;
}

.main-message__profile .img:hover .person-details-info {
    display: block;
    cursor: pointer;
}

.person-details-info {
    display: none;
    position: absolute;
    left: 50px;
    top: 0;
    z-index: 2;
    width: 1000px;
}

.img-location {
    height: auto !important;
    width: auto !important;
}

.view-chat-profile {
    font-family: $general-font-family;
    font-size: 14px;
    font-weight: $fw-b;
    color: #ffffff;
    line-height: 24px;
    padding: 8px 16px;
    border: 1px solid #30855c;
    border-radius: 4px;
    background-color: #30855c;
}

.view-chat-profile:hover {
    box-shadow: 0 0 7px 1px rgba(67, 146, 108, 0.5);
}

.send-message {
    text-align: center;
    margin-top: 12px;
}

.messag-form {
    padding: 15px;
}

.send-message__btn {
    width: 100%;
    margin: auto;
    outline: 0;
    border: 0;
    box-shadow: 0;
    padding: 11px;
    border-radius: 4px;
    background-color: #30855c;
    cursor: pointer;
}

.send-message__btn:hover {
    box-shadow: 0 0 7px 1px rgba(67, 146, 108, 0.5);
}

.send-message__btn span {
    font-size: 14px;
    color: #ffffff;
    font-weight: $fw-b;
    text-transform: capitalize;
    margin-right: 10px;
}

.send-message__btn:focus {
    outline: 0;
    box-shadow: none;
}

.chat-inputs {
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    &.disable {
        .chat-inputs__img {
            img {
                opacity: 0.7;
            }
        }
        background-color: #f7f7f7;
        .chat-inputs__text {
            background-color: #f7f7f7;
        }
    }
}
.messag-form {
    padding: 10px 34px;
}

.messag-form .chat-inputs {
    padding: 5px 10px !important;
    display: flex;
    align-items: center;
    min-height: 48px;
}

.messag-form .chat-inputs .chat-inputs__img {
    margin: 0px;
}

.messag-form .chat-inputs .chat-inputs__text {
    line-height: 22px;
    width: calc(100% - 45px);
}

.chat-inputs .send-message {
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
}
.send-message {
    display: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
}
.img-container {
    display: none;
    position: absolute;
    bottom: 120%;
    left: 15px;
    width: 100px;
    height: 100px;
    -o-object-fit: contain;
    object-fit: contain;
    &.show {
        display: block !important;
    }
}
.img-container .img-container__remove {
    cursor: pointer;
}
.chat-inputs__text::-moz-placeholder {
    font-size: 14px;
    color: #747588;
    font-weight: $fw-m;
    vertical-align: middle;
}
.chat-inputs__text::placeholder {
    font-size: 14px;
    color: #747588;
    font-weight: $fw-m;
    vertical-align: middle;
}
.chat-inputs .send-message {
    width: 32px !important;
    height: 32px !important;
    border-radius: 50%;
    margin: 0 0 0 auto !important;
    display: none;
    opacity: 0;
    visibility: hidden;
}
.chat-inputs .send-message img {
    width: 32px;
    height: 32px;
}
.chat-inputs .send-message__btn {
    padding: 0 !important;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chat-inputs__text {
    border: 0;
    outline: 0;
    padding: 3px 10px;
    font-size: 14px;
    resize: none;
    overflow: auto;
}
.send-message {
    text-align: center;
    margin-top: 12px;
}
.messag-form {
    padding: 15px;
}
.send-message__btn {
    width: 100%;
    margin: auto;
    outline: 0;
    border: 0;
    box-shadow: 0;
    padding: 11px;
    border-radius: 4px;
    background-color: #30855c;
    cursor: pointer;
}
.send-message__btn:hover {
    box-shadow: 0 0 7px 1px rgba(67, 146, 108, 0.5);
}
.send-message__btn span {
    font-size: 14px;
    color: #ffffff;
    font-weight: $fw-b;
    text-transform: capitalize;
    margin-right: 10px;
}
.send-message__btn:focus {
    outline: 0;
    box-shadow: none;
}
.files {
    opacity: 0;
    visibility: hidden;
    display: none;
}
.conversatio-form {
    position: relative;
    .message-form {
        position: relative;
    }
}
.chat-inputs__img {
    width: 20px;
    height: 20px;
    -o-object-fit: contain;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    input[type='file'] {
        display: none;
    }
}
.oc-mb-image-view {
    display: flex;
    position: absolute;
    height: 166px;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    width: 100%;
    top: -166px;
    .oc-mb-image-uploader {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        ::ng-deep .p-progress-spinner {
            width: 14px;
            height: 14px;
            display: block;
        }
        ::ng-deep .p-progress-spinner .p-progress-spinner-circle {
            stroke: #3e5569;
        }
        .oc-mb-image-uploading-text {
            margin-left: 5px;
        }
    }
    .oc-mb-image-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        .oc-mb-image-close-button {
            display: block;
            position: absolute;
            top: -12px;
            right: -12px;
            width: 24px;
            height: 24px;
            cursor: pointer;
            z-index: 2;
        }
        .oc-mb-image {
            display: block;
            position: relative;
            border: 1px solid #dad2d2;
            max-width: 80%;
            max-height: 140px;
            min-height: 100px;
            min-width: 100px;
            object-fit: cover;
            border-radius: 4px;
        }
    }
}
.offensive-lang {
    border-radius: 2px;
    background-color: #d50000;
    padding: 10px;
    font-size: 12px;
    font-weight: $fw-m;
    color: #ffffff;
    position: absolute;
    width: 0px;
    bottom: 100%;
    right: calc(-100% + 30px);
    opacity: 0;
    transition: 0.4s ease-in-out;
    visibility: hidden;
    &.active {
        opacity: 1;
        right: 15px;
        width: calc(100% - 30px);
        visibility: visible;
    }
}
.main-message__profile {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: -50px;
    img {
        width: 39px;
        height: 39px;
        border-radius: 50%;
        margin-right: 10px;
        display: block;
    }
    .profile-name {
        width: 100%;
        .name {
            margin: 0 0 2px;
            font-family: $general-font-family;
            font-size: 14px;
            font-weight: $fw-b;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.57;
            letter-spacing: normal;
            color: #232334;
        }
        .status {
            margin: 2px 25px 0 0;
            font-family: $general-font-family;
            font-size: 12px;
            font-weight: $fw-m;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #747588;
            display: flex;
            justify-content: space-between;
            width: 100%;
            .org-name {
                display: inline-block;
                margin-right: 10px;
            }
            .timestamp {
                display: inline-block;
            }
        }
    }
}
.main-message.message-from {
    .message-info {
        padding-left: 50px;
    }
}
.message-info {
    .live-time {
        font-family: $general-font-family;
        font-size: 12px;
        font-weight: $fw-m;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: right;
        color: #747588;
        display: block;
        top: 5px;
        position: relative;
    }
}
.message-block {
    display: block;
    position: relative;
    min-width: 100%;
    margin: 12px 0px;
    height: auto;
    padding: 12px 12px 12px 16px;
    border-radius: 4px;
    overflow: hidden;
    .message-image {
        display: block;
        position: relative;
        border: 1px solid #dad2d2;
        max-width: 100%;
        max-height: 400px;
        min-height: 100px;
        min-width: 100px;
        object-fit: cover;
        margin-bottom: 12px;
        cursor: pointer;
        border-radius: 4px;
        background-image: url(../../../../../assets/images/dm-svg-image-loader.svg);
        background-position: center;
        background-size: 60px 60px;
        background-repeat: no-repeat;
        background-color: #efe0d1;
    }
    .message-text {
        display: block;
        position: relative;
        width: 100%;
        word-break: break-all;
        white-space: pre-wrap;
        padding: 2px 5px;
        font-size: 14px;
        line-height: 22px;
        font-weight: $fw-m;
        color: #232334;
    }
}

.main-message {
    clear: both;
    // margin: 12px 0 0;
    // padding: 12px 9px 12px 16px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.message-from {
    justify-content: flex-start;
    .message-block {
        background-color: #eeeeee;
    }
    .live-time {
        right: 1px;
        text-align: right;
    }
}
.order-chat-resolved {
    padding: 5px 10px !important;
    display: flex;
    color: #747588;
}
.message-to {
    justify-content: flex-end;
    .message-block {
        background-color: #f2e2c5;
    }
    .live-time {
        text-align: right;
        // transform: translate(0px, -20px);
    }
}

.conversatio-body__messages {
    position: relative;
    height: calc(100% - 80px);
    padding: 25px 32px 10px 32px;
    .dispute-raised-message {
        margin-bottom: 12px;
        padding: 16px 24px 16px 16px;
        background-color: #fff;
        border-radius: 2px;
        border: dashed 1px #d6d6d6;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        .drm-content-section {
            margin: 5px;
            .drm-content-header {
                display: block;
                height: 18px;
                margin: 0px 0px 8px 0px;
                font-size: 14px;
                font-weight: $fw-b;
                line-height: normal;
                letter-spacing: normal;
                color: #232334;
            }
            .drm-content-body {
                font-family: $general-font-family;
                font-size: 14px;
                font-weight: $fw-m;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #747588;
            }
        }
        .drm-action-section {
            margin: 5px;
            margin-bottom: 0px;
            .drm-action-button {
                display: block;
            }
            .drm-action-link {
                display: none;
                color: #80460b;
                font-size: 14px;
                font-family: $general-font-family;
                font-size: 14px;
                font-weight: $fw-b;
                text-align: right;
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
}

.conversatio-body {
    height: 100%;
    position: relative;
    background-color: #f8f8f8;
}
.new-date {
    width: 100%;
    font-size: 12px;
    font-weight: $fw-m;
    color: #979797;
    padding: 10px;
    display: flex;
    align-items: center;
    .new-date__bar {
        height: 1px;
        background-color: #979797;
        display: inline-block;
        flex-grow: 1;
        flex-shrink: 1;
    }
    .new-date__upadte {
        display: inline-block;
        padding: 5px 10px;
    }
}
@media (max-width: 767px) {
    .conversatio-body__messages {
        padding: 25px 16px 10px 16px;
        .dispute-raised-message {
            padding: 12px;

            .drm-content-section {
                .drm-content-header {
                    font-size: 12px;
                }
                .drm-content-body {
                    font-size: 12px;
                }
            }
            .drm-action-section {
                width: 100%;
                .drm-action-button {
                    display: none;
                }
                .drm-action-link {
                    display: block;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .conversatio-body__messages {
        position: relative;
        height: calc(100% - 80px);
    }
}

.disabled {
    opacity: 0.7 !important;
}
