.profile-header-details {
    border: 1px solid #d6d6d6;
    background: linear-gradient(#faf8f4, #ffffff);
    border-radius: 4px;
    height: 160px;
    .cover-pic {
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .cover-image-profile-banner {
        height: 158px;
        width: 100%;
        object-fit: cover;
    }

    .replace-img {
        position: absolute;
        bottom: 20px;
        right: 12%;
        cursor: pointer;
    }

    .edit-btn-group {
        position: absolute;
        right: 24px;
        bottom: 24px;
    }
}

.profile-description-container {
    position: relative;
    .profile-avatar {
        position: absolute;
        width: 160px;
        height: 160px;
        border-radius: 50%;
        top: -80px;
        left: 36px;
        .avatar-img {
            width: 100%;
            height: auto;
            border-radius: 50%;
            border: 5px solid white;
        }
        .change-avatar-btn {
            position: absolute;
            right: 0px;
            bottom: 0px;
        }
    }
    .profile-metadata-container {
        margin-left: 216px;
        max-width: 345px;
        min-height: 123px;
    }
}

/* ========== Profile Pic CSS ========== */

// @media screen and (max-width: 40em) {
//     :host ::ng-deep .ui-dialog {
//         width: 75vw !important;
//     }
// }

// #change-pic:focus {
//     outline: none;
//     box-shadow: none;
// }

// :host ::ng-deep .ui-dialog-titlebar {
//     font-family: Muli !important;
//     font-size: 24px !important;
//     color: #232334 !important;
//     background-color: #ffffff !important;
//     font-weight: bold;
// }

// :host ::ng-deep .ui-dialog-content {
//     border-bottom-style: dashed !important;
//     border-bottom-color: #d6d6d6 !important;
//     height: 40% !important;
//     overflow-y: unset;
//     border-top: none !important;
//     padding: 0 !important;
// }

// :host ::ng-deep .ui-dialog-titlebar-icon span {
//     display: none !important;
// }

// :host ::ng-deep .ui-dialog-titlebar-icon::before {
//     background: url(/assets/images/close.svg) !important;
//     display: inline !important;
// }

// .close-pic {
//     cursor: pointer;
//     position: relative;
//     top: 2px;
// }

// #save-pic,
// #change-pic {
//     font-size: 14px !important;
//     font-family: Muli;
//     font-weight: 600;
// }

// :host ::ng-deep .ui-dialog-mask.ui-widget-overlay.ui-dialog-visible.ui-dialog-mask-scrollblocker {
//     background-color: rgba(0, 0, 0, 0.8) !important;
// }

// :host ::ng-deep .ui-dialog .ui-dialog-footer {
//     border: 1px solid #fff !important;
//     padding: 1.25rem 1rem !important;
// }

// :host ::ng-deep .overlay {
//     outline: var(--cropper-overlay-color, #919191) solid 100vw !important;
// }

// .star {
//     color: #ff1e5a;
// }
