<div class="mt-4">
    <p-dropdown
        [options]="originArray"
        [showClear]="true"
        optionLabel="name"
        optionValue="isoCode"
        [(ngModel)]="termStatus"
        (onChange)="setStatus()"
        scrollHeight="225px"
        placeholder="{{ 'origin' | translate }}"
        [autoDisplayFirst]="false"
        styleClass="round-border mr-2 mb-3 {{ termStatus ? 'highlight' : '' }}"
    ></p-dropdown>
    <p-autoComplete
        [(ngModel)]="selectedEstate"
        [suggestions]="estatesList"
        field="estate_name"
        [forceSelection]="true"
        (completeMethod)="getEstatesList($event)"
        (onSelect)="setEstate($event)"
        placeholder="{{ 'enter_a_estatename_and_select' | translate }}"
        scrollHeight="225px"
        styleClass="round-border mr-2 mb-3 {{ termStatus ? 'highlight' : '' }}"
    >
    </p-autoComplete>
    <div class="float-right mobile-lead">
        <p-dropdown
            [options]="displayItems"
            [showClear]="true"
            [(ngModel)]="display"
            (onChange)="setDisplay()"
            scrollHeight="225px"
            placeholder="{{ 'display' | translate }}"
            [autoDisplayFirst]="false"
            styleClass="round-border mb-3 {{ display ? 'highlight' : '' }}"
        ></p-dropdown>
    </div>
</div>

<!-- Primeng table for Procured Coffee -->
<div class="coffee-procured">
    <p-table
        #procuredCoffeeTable
        [value]="primeTableService.records"
        [columns]="primeTableService._allColumns"
        [(selection)]="primeTableService.selectedRecords"
        dataKey="id"
        [rows]="primeTableService.rows"
        [showCurrentPageReport]="false"
        [loading]="primeTableService.loading"
        [paginator]="primeTableService.paginationValue"
        [lazy]="true"
        (onLazyLoad)="primeTableService.getData($event)"
        [totalRecords]="primeTableService.totalRecords"
        [responsive]="true"
        [scrollable]="isTablet$ | async"
        styleClass="mobile-card-view"
    >
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th
                    *ngFor="let col of columns"
                    [pSortableColumn]="col.sortable ? col.field : null"
                    [style.width]="col.width ? col.width + '%' : '30%'"
                >
                    <span class="primeng-table-header">{{ col.header | translate }}</span>
                    <p-sortIcon *ngIf="col.sortable" [field]="col.field"> </p-sortIcon>
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr (click)="availabilityPage(rowData)">
                <td
                    *ngFor="let col of columns"
                    [ngSwitch]="col.field"
                    [style.width]="col.width ? col.width + '%' : '30%'"
                    [ngClass]="{ borderNone: col.field === 'order_reference' }"
                    [class.d-flex]="isMobile$ | async"
                    [class.ellipsis]="col.field === 'availability_name'"
                >
                    <span *ngIf="col.field !== 'id'" class="p-column-title">{{ col.header | translate }}</span>
                    <ng-container *ngSwitchCase="'id'">
                        <div class="p-mobile-row-content d-flex align-items-center justify-content-between">
                            <span *ngIf="!(isMobile$ | async)">{{ rowData[col.field] }}</span>
                            <span *ngIf="isMobile$ | async"
                                >{{ 'order_id' | translate }} #{{ rowData[col.field] }}</span
                            >
                            <span class="d-md-none">
                                <app-action-menu [menuItems]="getMenuItemsForItem(rowData)"></app-action-menu>
                            </span>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'varieties'">
                        <span>{{ rowData['varieties'] || 'NA' }}</span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'origin'">
                        <span>{{ rowData['origin'] | country }} </span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'quantity'">
                        <span
                            tooltipStyleClass="custom-tooltip"
                            pTooltip="{{ rowData['quantity_count'] }} {{ rowData['quantity_type'] }} /
                                {{ rowData['quantity'] }} kg"
                            tooltipPosition="top"
                        >
                            {{ rowData['quantity'] * rowData['quantity_count'] }}&nbsp; kg
                        </span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'remaining_total_quantity'">
                        <span> {{ rowData['remaining_total_quantity'] }}&nbsp; kg </span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'actions'" class="text-center">
                        <div class="d-flex align-items-center">
                            <span class="brown-cta mr-2">{{ 'view' | translate }}</span>
                            <app-action-menu [menuItems]="getMenuItemsForItem(rowData)"></app-action-menu>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'options'" class="text-center"> </ng-container>
                    <ng-container *ngSwitchDefault>
                        <span>{{ rowData[col.field] || '--' }}</span>
                    </ng-container>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <app-empty
                *ngIf="!primeTableService?.loading && !primeTableService?.records?.length"
                [title]="'no_data_available' | translate"
            ></app-empty>
        </ng-template>
    </p-table>
</div>
