@import 'variables';

.story-wrapper {
    .link-wrapper {
        display: flex;
        .link-text {
            padding: 13px 16px;
            border-radius: 4px;
            border: solid 1px $secondary-border-color;
            background: $primary-bg-color;
            text-overflow: ellipsis;
            overflow: hidden;
            border-radius: 4px 0 0 4px !important;
            white-space: nowrap;
        }
        button {
            white-space: nowrap;
            border-radius: 0 4px 4px 0 !important;
        }
    }

    .qr-image {
        width: 185px;
        height: 185px;
        margin: -14px;
        @media (max-width: 767px) {
            width: 148px;
            height: 148px;
            margin: -11px;
        }
    }
    @media (max-width: 991px) {
        margin-top: 64px;
    }
    @media (max-width: 767px) {
        margin-top: 0;
    }
}

.order-details-clr {
    border-radius: 8px;
    background-color: #faf8f4;
    padding: 2rem;
    @media (max-width: 767px) {
        margin: 0 -8px;
    }
}

.recent-time {
    td {
        padding: 1rem 1rem 1rem 1.5rem !important;
        border: 1px solid #dddddd !important;
    }
    .recent-data-ans {
        padding: 1rem 1rem 1rem 1.5rem !important;
    }
    tr {
        td:first-child {
            white-space: nowrap;
        }
    }
}

@media (max-width: 1199px) and (min-width: 768px) {
    .recent-time {
        width: 100%;
    }
    .order-details-clr {
        padding: 32px 16px;
    }
}

@media screen and (max-width: 640px) {
    .recent-time td {
        border: 0px solid #dddddd !important;
    }
    .recent-time tr {
        border-bottom: 1px dashed $primary-border-color;
    }
    .recent-time tr:last-child {
        border-bottom: none;
    }
    .order-details-clr {
        padding: 12px;
    }
    .recent-time td {
        padding: 1rem 0rem 1rem 0rem !important;
    }
}
