.create-role {
    padding: 1.3rem;
    border-radius: 4px;
    border: solid 1px #d6d6d6;
}
.create-role-title {
    font-size: 18px;
    font-weight: bold;
    color: #232334;
    font-family: Muli;
}
.role-name {
    font-size: 14px;
    font-weight: 600;
    color: #747588;
    font-family: Muli;
}
.rectangle_name {
    height: 48px;
    border-radius: 4px;
    border: solid 1px #d6d6d6;
    background-color: #ffffff;
    color: #232334 !important;
    font-weight: 600;
}
.search_role {
    height: 35px;
    border-radius: 8px;
    border: solid 1px #cccccc;
    background-color: #ffffff;
}
.accordion {
    margin-top: 40px;
}
.accordion .card {
    border: none;
    margin-bottom: 20px;
}
.accordion .card h2 {
    background-image: url(../../../../../assets/images/arrow-up.png) no-repeat calc(0% - -15px) center;
    padding-left: 3rem;
    background-size: 15px;
    cursor: pointer;
    font-size: 16px;
}
.accordion .card h2.collapsed {
    background-image: url(../../../../../assets/images/arrow-down.png);
}
.accordion .card-body {
    padding-left: 0;
    padding-right: 0;
}
.sourcing {
    font-size: 14px;
    font-weight: 500;
    font-family: Muli;
    color: #333333;
    margin-top: 3px;
    margin-left: 5px;
    display: inline-block;
    padding-left: 1.8rem;
}
.sourcing-collapse {
    margin-left: 1rem;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.padd-top {
    padding-top: 1.4rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.role-error {
    color: #d50000;
    font-size: 12px;
}

a.b-cum:hover {
    color: #000000;
    text-decoration: underline;
    font-weight: bold;
}

.loader {
    height: 17px;
    width: 17px;
    margin-left: 4px;
    margin-top: -4px;
}

:host ::ng-deep .ui-tree .ui-tree-filter-container {
    padding: 0.4em 0;
}

:host ::ng-deep .ui-tree {
    border: none !important;
    width: 70% !important;
    padding: 0rem;
    font-family: 'Muli';
    font-size: 16px;
}

:host ::ng-deep .ui-corner-all {
    border-radius: 8px;
}

:host ::ng-deep .ui-tree .ui-tree-filter-container .ui-tree-filter {
    height: 48px;
    border-radius: 4px;
    border: solid 1px #d6d6d6;
    background-color: #ffffff;
    font-weight: 600 !important;
}

:host ::ng-deep .ui-tree .ui-tree-filter-container .ui-tree-filter:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 0.035rem green !important;
    border: solid 1px #d6d6d6 !important;
}

:host ::ng-deep .ui-tree .ui-tree-filter-container .ui-tree-filter:hover {
    border: solid 1px #d6d6d6 !important;
}

:host ::ng-deep .ui-tree .ui-tree-filter-container .ui-tree-filter-icon {
    top: 50%;
    /* left: 1rem; */
    color: #979797;
    right: 90%;
}

:host ::ng-deep .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-treenode-label.ui-state-highlight {
    background-color: #fff;
    color: #232334;
    font-weight: 600;
}

:host
    ::ng-deep
    .ui-tree
    .ui-tree-container
    .ui-treenode
    .ui-treenode-content.ui-treenode-selectable
    .ui-treenode-label:not(.ui-state-highlight):hover {
    background-color: #fff;
    color: #232334;
}

:host ::ng-deep .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-treenode-label {
    font-weight: 600;
}

:host ::ng-deep .ui-treenode .ui-treenode-leaf {
    /* color: red; */
    font-size: 14px;
    font-weight: normal;
    font-family: Muli;
    color: #232334;
}

:host ::ng-deep .ui-treenode {
    color: #232334;
    font-family: Muli;
    font-size: 14px;
    font-weight: bold;
}

:host ::ng-deep .ui-tree input {
    padding-left: 12%;
}

:host ::ng-deep .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-chkbox .ui-chkbox-icon {
    margin: 0;
}

:host ::ng-deep .ui-chkbox .ui-chkbox-box .ui-chkbox-icon {
    font-size: 16px;
    color: #ffffff;
    background-color: #308553;
    /* border: 0px solid #308553; */
}

:host ::ng-deep .ui-chkbox .ui-chkbox-box {
    width: 18px;
    height: 18px;
    border: 1px solid #979797;
    border-radius: 2px;
}

:host ::ng-deep .ui-chkbox .ui-chkbox-box:hover {
    border-color: #979797 !important;
}

:host ::ng-deep .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content:focus {
    box-shadow: none;
}

:host ::ng-deep .ui-treenode-label {
    text-transform: capitalize;
}

:host ::ng-deep .pi-caret-down::before {
    content: '\e933';
}

:host ::ng-deep .pi-caret-right::before {
    content: '\e930';
}

:host ::ng-deep .ui-tree .ui-tree-container .parentNodeStyle > .ui-treenode-content .ui-chkbox {
    display: none !important;
}

.clear {
    clear: both;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    :host ::ng-deep .ui-tree {
        width: 100% !important;
    }
    :host ::ng-deep .ui-tree .ui-tree-filter-container .ui-tree-filter-icon {
        right: 91%;
        font-size: 1em !important;
    }
}

@media screen and (max-width: 767px) {
    :host ::ng-deep .ui-tree {
        width: 100% !important;
    }
    :host ::ng-deep .ui-tree .ui-tree-filter-container .ui-tree-filter-icon {
        right: 91%;
        font-size: 1.2em !important;
    }
    .padd-top {
        padding-top: 0.9rem;
        padding-left: 16px;
        padding-right: 16px;
    }
    .border-role {
        border-left: none;
        padding-left: 0rem;
    }
    .bread-nav {
        padding-left: 16px;
        padding-top: 0;
    }
    .create-role {
        padding: 0;
        border: none;
    }
    .mob-padding {
        padding: 0 0 1rem;
    }
    .create-role-title {
        font-size: 16px;
    }
    .role-name {
        font-size: 14px;
        color: #232334;
    }
    .rectangle_name {
        font-size: 14px !important;
    }
    :host ::ng-deep .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-tree-toggler {
        float: left !important;
    }
    :host ::ng-deep .pi-caret-down:before {
        content: none !important;
    }
}
