::ng-deep .p-datatable .p-paginator-bottom {
    padding: 22px 0;
}

::ng-deep .p-paginator {
    padding: 22px 0;
    border: none;
    background: transparent;
}

.view-order {
    font-family: Muli !important;
    font-size: 14px !important;
    font-weight: bold !important;
    color: #80460b !important;
    text-decoration: underline !important;
    cursor: pointer !important;
}