.nav-pills {
    border-bottom: 1px solid #dddddd;
    .nav-link {
        font-family: Muli;
        font-size: 14px;
        font-weight: 600;
        color: #232334;
        padding-left: 0px;
        padding-right: 0px;
    }
    .nav-link.active {
        color: #232334;
        font-size: 14px;
        font-weight: 600;
        background-color: unset !important;
        border-radius: unset;
        font-family: Muli;
        font-size: 14px;
        font-weight: 600;
        color: #30855c;
        position: relative;
        padding-right: 0px;
        padding-left: 0px;
        &:before {
            content: '';
            width: 100%;
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 50%;
            text-align: center;
            margin: auto;
            top: 80%;
            transform: translate(-50%);
            border-radius: 1.5px;
            background-color: #30855c;
            transition: unset !important;
        }
    }
    .show {
        > .nav-link {
            color: #232334;
            font-size: 14px;
            font-weight: 600;
            background-color: unset !important;
            border-radius: unset;
        }
    }
    .vat-link {
        &:before {
            background-color: unset !important;
        }
    }
    .vat-link.active {
        &:before {
            background-color: unset !important;
        }
        color: #f8f8f8 !important;
        background-color: #f8f8f8 !important;
    }
}
.addWeightDiv {
    border: 1px solid #d6d6d6;
}
.checkBoxDiv {
    justify-content: flex-end;
}
