<div class="total-loader" *ngIf="loader">
    <div>
        <img class="loader-gif web-loader" src="/assets/images/loader.gif" />
        <img class="loader-gif mob-loader" src="/assets/images/coffeeloader-mobile.gif" />
    </div>
</div>
<div class="main-block">
    <div class="row p-0">
        <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
            <app-breadcrumb [items]="breadCrumbItem"></app-breadcrumb>
        </div>
        <div class="col-4">
            <button type="submit" routerLink="/people/create-role" class="btn pull-right btn-raised d-none d-md-block">
                Create new role
            </button>
        </div>
    </div>
    <div class="d-none d-md-block pt-2 pb-2">
        <span class="primary_txt">{{ globals.languageJson?.manage_roles }}</span>
        <img *ngIf="false" src="assets/images/help-icon.svg" alt="" class="pointer-help pl-2" />
    </div>
    <div class="d-block d-sm-block d-md-none mt-3">
        <span class="primary_txt d-inline-block mt-3 flex-grow-1">{{ globals.languageJson?.manage_roles }}</span>
        <button routerLink="/people/create-role" class="btn pull-right btn-raised d-sm-block d-md-none mr-0">
            Create new role
        </button>
    </div>
    <div
        class="role-table-container roleTable mt-3"
        *ngIf="this.globals.checkItem('acl-list') || this.globals.checkItem('acl-management')"
    >
        <p-table
            #myTable
            [class.table-mobile]="sharedService.isMobileView"
            [value]="tableValue"
            [columns]="tableColumns"
            [(selection)]="tableSelected"
            dataKey="id"
            [resizableColumns]="true"
            styleClass="ui-table-customers"
            [showCurrentPageReport]="false"
            [paginator]="false"
            [lazy]="true"
            (onLazyLoad)="getTableData()"
            [totalRecords]="totalCount"
            [responsive]="sharedService.isMobileView"
        >
            <ng-template pTemplate="header" let-columns>
                <tr class="d-none d-sm-none d-md-table-row">
                    <th
                        *ngFor="let col of columns"
                        [style.width]="col.width ? col.width + '%' : '30%'"
                        [ngClass]="{ 'd-md-none': col.field == 'add_user' }"
                    >
                        <span class="primeng-table-header">{{ col.header }}</span>
                        <p-sortIcon
                            *ngIf="col.sortable === true"
                            [field]="col.field"
                            ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order"
                        >
                        </p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr class="rowClass">
                    <td
                        *ngFor="let col of columns"
                        [ngSwitch]="col.field"
                        [style.width]="col.width ? col.width + '%' : '30%'"
                        [ngClass]="{
                            'd-none': col.field == 'user_count',
                            'd-sm-none': col.field == 'user_count',
                            'd-md-none': col.field == 'add_user',
                            'd-md-table-cell': col.field !== 'add_user'
                        }"
                    >
                        <span *ngSwitchCase="'user_count'" class="d-none d-sm-none d-md-block">
                            <div class="d-flex">
                                <span>
                                    {{ rowData[col.field] }}
                                </span>
                            </div>
                        </span>
                        <span *ngSwitchCase="'name'" class="tdClass">
                            <div class="d-none d-sm-none d-md-flex">
                                <span class="d-flex flex-grow-1 mt-1">
                                    {{ rowData['name'] }}
                                </span>
                                <div class="greyClass mt-1 mr-5 justify-content-end">
                                    <span>
                                        <img
                                            src="assets/images/role-grey.svg"
                                            alt="Dashboard"
                                            (click)="teamMembers(rowData, true)"
                                        />
                                    </span>
                                </div>
                                <span class="show_btns d-none d-sm-none d-md-block">
                                    <button
                                        type="button"
                                        class="btn btn-stroked p-1 pl-3 pr-3"
                                        (click)="teamMembers(rowData)"
                                        id="view-btn"
                                    >
                                        {{ globals.languageJson?.view_members }}
                                    </button>
                                    <button
                                        type="button"
                                        (click)="teamMembers(rowData, true)"
                                        class="btn ml-3 btn-stroked p-1 pl-3 pr-3"
                                        id="add-btn"
                                    >
                                        {{ globals.languageJson?.add_members }}
                                    </button>
                                </span>
                            </div>
                            <div class="d-block d-sm-block d-md-none">
                                <span class="d-flex font-weight-bold">
                                    {{ rowData['name'] }}
                                </span>
                                <span class="d-flex d-sm-flex d-md-none"> {{ rowData['user_count'] }} members </span>
                            </div>
                        </span>
                        <span *ngSwitchCase="'add_user'" class="d-block d-sm-block d-md-none">
                            <div class="d-flex justify-content-end">
                                <p>
                                    <img
                                        src="assets/images/role-grey.svg"
                                        alt="Dashboard"
                                        (click)="teamMembers(rowData, true)"
                                    />
                                </p>
                            </div>
                        </span>
                        <span *ngSwitchCase="'actions'">
                            <ng-container>
                                <a
                                    class="menu-arrow d-md-block w-50 ellipsisClass"
                                    [popover]="poplistTemplate"
                                    placement="left"
                                    [outsideClick]="true"
                                    #pop="bs-popover"
                                >
                                    <img class="ellipse-image" src="assets/images/ellipses.png" alt="" />
                                </a>
                                <ng-template #poplistTemplate>
                                    <div id="popover-mobile-content">
                                        <ul class="list-group custom-popover">
                                            <li
                                                *ngIf="
                                                    this.globals.checkItem('acl-management') &&
                                                    this.globals.permissions['acl-management'].manage
                                                "
                                                class="list-group-item d-none d-sm-none d-md-block"
                                            >
                                                <a class="pointer-item" (click)="teamMembers(rowData, true)">{{
                                                    globals.languageJson?.add_members
                                                }}</a>
                                            </li>
                                            <li
                                                *ngIf="
                                                    this.globals.checkItem('acl-list') ||
                                                    this.globals.checkItem('acl-management')
                                                "
                                                class="list-group-item"
                                            >
                                                <a class="pointer-item" (click)="teamMembers(rowData)">{{
                                                    globals.languageJson?.view_members
                                                }}</a>
                                            </li>
                                            <li
                                                *ngIf="
                                                    this.globals.checkItem('acl-management') &&
                                                    this.globals.permissions['acl-management'].manage
                                                "
                                                class="list-group-item"
                                            >
                                                <a class="pointer-item" (click)="updateRole(rowData.id)">{{
                                                    globals.languageJson?.edit
                                                }}</a>
                                            </li>
                                            <li
                                                *ngIf="
                                                    this.globals.checkItem('acl-management') &&
                                                    this.globals.permissions['acl-management'].manage
                                                "
                                                class="list-group-item"
                                            >
                                                <a class="pointer-item" (click)="updateRole(rowData.id)">{{
                                                    globals.languageJson?.rename
                                                }}</a>
                                            </li>
                                            <li
                                                *ngIf="
                                                    this.globals.checkItem('acl-management') &&
                                                    this.globals.permissions['acl-management'].manage
                                                "
                                                class="list-group-item"
                                            >
                                                <a class="pointer-item" (click)="duplicateRole(rowData.id)">{{
                                                    globals.languageJson?.duplicate_role
                                                }}</a>
                                            </li>
                                            <li
                                                *ngIf="
                                                    this.globals.checkItem('acl-management') &&
                                                    this.globals.permissions['acl-management'].manage
                                                "
                                                class="list-group-item"
                                            >
                                                <a class="pointer-item" (click)="updateRole(rowData.id)">{{
                                                    globals.languageJson?.manage_permissions
                                                }}</a>
                                            </li>
                                            <li
                                                *ngIf="
                                                    this.globals.checkItem('acl-management') &&
                                                    this.globals.permissions['acl-management'].manage
                                                "
                                                class="list-group-item"
                                            >
                                                <a
                                                    class="pointer-item"
                                                    (click)="openDeleteModal(deleteTemplate, rowData.id)"
                                                    >{{ globals.languageJson?.delete_role }}</a
                                                >
                                            </li>
                                        </ul>
                                    </div>
                                </ng-template>
                            </ng-container>
                        </span>
                        <span *ngSwitchDefault>
                            {{ rowData[col.field] }}
                        </span>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <ng-template #deleteTemplate>
        <div class="modal-body mt-5 mb-5 text-center fnt-muli">
            <div><img src="assets/images/delete-role.svg" alt="" /></div>
            <div class="fnt-play fnt-24 fnt-bold oh__text mt-2">Oh noh :(</div>
            <div class="fnt-muli fnt-18 fnt-normal delete__text mt-2 pb-3">
                You sure you really want to delete this?
            </div>
            <div class="mt-4">
                <button class="btn btn-stroked" (click)="modalRef.hide()">{{ globals.languageJson?.cancel }}</button>
                <button class="btn btn-raised ml-3" (click)="modalRef.hide(); deleteRole(this.deleteRoleID)">
                    {{ globals.languageJson?.delete }}
                </button>
            </div>
        </div>
    </ng-template>
</div>
