<div class="d-flex justify-content-between align-items-center mb-4">
    <div class="fnt-24 fnt-bold fnt-muli">{{ 'edit_photo' | translate }}</div>
    <img
        (click)="ref.close({ status: false })"
        class="cursor-pointer"
        src="assets/images/close.svg"
        alt="close-image"
    />
</div>

<div class="mb-4">
    <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [aspectRatio]="config.data.aspectRatio"
        format="png"
        (imageCropped)="imageCropped($event)"
    ></image-cropper>
</div>

<input #fileInput type="file" accept="image/png, image/jpeg" hidden (change)="onFileChange($event)" />

<div class="text-right">
    <button (click)="fileInput.click()" class="btn-stroked mr-3 px-4">{{ 'change_photo' | translate }}</button>
    <button (click)="onSave()" class="btn-raised px-4">{{ 'save_photo' | translate }}</button>
</div>
