@import '_variables.scss';

.request-table-container {
    padding: 32px 48px;

    .border-total {
        border-radius: 20px;
        border: solid 1px $primary-border-color;
        background-color: #ffffff;
        padding: 10px 12px;
        margin-right: 12px;
    }

    .estate-orders-heading {
        margin: 24px 0;
    }

    .estate-order-title {
        font-family: Muli;
        font-size: 18px;
        font-weight: bold;
        color: $general-text-color;
    }

    .border-order {
        border-radius: 20px;
        border: solid 1px $primary-border-color;
        background-color: #ffffff;
        padding: 10px 12px;
    }

    .border-order:focus {
        outline-color: 1px solid $primary-color;
    }

    .filter-text {
        font-family: Muli;
        font-size: 14px;
        font-weight: 600;
        color: $muted-text-color;
    }

    .filter {
        font-family: 'Muli';
        font-weight: 600;
        color: $general-text-color;
        font-size: 14px;
    }

    /**********popover*******/

    .list-group-item {
        border: none;
        font-family: 'Muli';
        font-size: 12px;
        font-weight: 600;
        color: $muted-text-color;
    }

    .list-group-item:hover {
        color: $general-text-color;
        font-weight: 600;
        background-color: $primary-bg-color;
    }

    .Give-your-end-users {
        font-family: Muli;
        font-size: 14px;
        font-weight: normal;
        color: $muted-text-color;
        padding: 5px 0px;
    }

    .mixups-tabs {
        background-color: #ffffff;
        overflow: hidden;
    }

    .pointer-item {
        cursor: pointer;
    }

    .file-share-search input[type='search'] {
        outline: 0;
        border: 0;
        width: 235px;
        background: none;
        font-size: 12px;
        font-weight: 600;
        color: $general-text-color;
        font-family: 'Muli', sans-serif;
    }

    .file-share-search input[type='search']::placeholder {
        font-size: 12px;
        font-weight: 600;
        color: $muted-text-color;
        font-family: 'Muli', sans-serif;
    }

    .file-share-search {
        display: inline-block;
        border-radius: 4px;
        border: solid 1px $primary-border-color;
        background-color: #ffffff;
        padding: 5px 10px 5px 10px;
    }

    ul li {
        list-style: none;
    }
}

::ng-deep .popover-body {
    padding: 0.25rem 0.25rem !important;
}

::ng-deep .popover {
    border: none !important;
    border-radius: 5px !important;
    box-shadow: 0 0 17px 2px rgba(27, 27, 27, 0.08) !important;
    background-color: #ffffff;
    top: 4px !important;
}

::ng-deep .bs-popover-bottom .arrow:after {
    top: 0px !important;
}

@media (max-width: 480px) {
    .estate-orders {
        margin: 0.5rem 0px;
    }
}

/*********************Tab Css **********************/

@media (min-width: 1400px) {
    .container {
        max-width: 1240px !important;
    }
}

/*  media query Fram Link */
@media (max-width: 767px) {
    .bg-fff {
        padding: 1rem 0.7rem !important;
    }

    .Give-your-end-users {
        width: 98%;
        padding-bottom: 0rem;
        margin-bottom: 0;
    }

    .row {
        margin-right: -10px;
        margin-left: -10px;
    }
}