<div class="bg-fff request-table-container">
    <div class="bread-crumb">
        <p-breadcrumb [model]="breadCrumbItem"></p-breadcrumb>
        <div class="custom-search search-tab-view">
            <input
                type="text"
                pInputText
                #searchInput
                [(ngModel)]="apiKeySearch"
                [placeholder]="'search_by_name' | translate"
                class="w-100 {{ apiKeySearch ? 'highlight' : '' }}"
            />
        </div>
    </div>
    <section class="api-request-heading">
        <div class="row justify-content-between align-items-center heading">
            <div class="col-lg-8 col-md-8">
                <h5 class="estate-order-title m-0">{{ 'api_request' | translate }}</h5>
                <p class="give-your-end-users">{{ 'api_key_details' | translate }}</p>
            </div>
            <div class="col-lg-4 col-md-8 text-right">
                <div class="custom-search search">
                    <input
                        type="text"
                        pInputText
                        #searchInput
                        [(ngModel)]="apiKeySearch"
                        [placeholder]="'search_by_name' | translate"
                        class="w-100 {{ apiKeySearch ? 'highlight' : '' }}"
                    />
                </div>
            </div>
        </div>

        <div class="row gutter-16 v-gutter-16 align-items-center">
            <div class="col-auto">
                <p-dropdown
                    [options]="FilterTypeList"
                    optionLabel="org_type"
                    optionValue="value"
                    [(ngModel)]="customerType"
                    scrollHeight="225px"
                    [showClear]="true"
                    placeholder="{{ 'customer_type' | translate }}"
                    styleClass="round-border {{ customerType ? 'highlight' : '' }}"
                >
                </p-dropdown>
            </div>
            <div class="col-auto">
                <p-calendar
                    [(ngModel)]="rangeDates"
                    [showIcon]="true"
                    selectionMode="range"
                    dateFormat="dd.mm.yy"
                    (onClose)="filterCall()"
                    [readonlyInput]="true"
                    [showButtonBar]="true"
                    placeholder="{{ 'date_range' | translate }}"
                    styleClass="round-border only-icon"
                >
                </p-calendar>
            </div>
            <div class="col-auto ml-md-auto d-none d-md-block">
                <p-dropdown
                    [options]="displayArray"
                    optionLabel="label"
                    optionValue="value"
                    [(ngModel)]="perPage"
                    scrollHeight="225px"
                    [showClear]="true"
                    placeholder="Display"
                    styleClass="round-border {{ perPage ? 'highlight' : '' }}"
                >
                </p-dropdown>
            </div>
        </div>

        <div class="api-requests-tabs mt-45">
            <p-tabView [(activeIndex)]="selectedTab" (onChange)="handleChange($event)">
                <p-tabPanel [header]="'api_key_requests' | translate">
                    <app-api-key-requests
                        *ngIf="isApiRequestPage"
                        [searchRequestId]="KeySearch"
                        [filterData]="customerType"
                        [dateRange]="rangeDates"
                        [perPage]="perPage"
                    ></app-api-key-requests>
                </p-tabPanel>
                <p-tabPanel [header]="'generated_keys' | translate">
                    <app-generated-keys
                        *ngIf="!isApiRequestPage"
                        [searchRequestId]="KeySearch"
                        [filterData]="customerType"
                        [dateRange]="rangeDates"
                        [perPage]="perPage"
                    ></app-generated-keys>
                </p-tabPanel>
            </p-tabView>
        </div>
    </section>
</div>
