<section class="login-sec">
    <div class="container">
        <div class="sewn-bg-logo">

            <img src="assets/images/era-we-logo.svg" alt="user" class="Sewn-Logo">

        </div>
        <div class="row">
            <div class=" col-xs-12 col-sm-10 col-md-8 col-lg-5  login-box">
                <div class="login">
                    <h3 class="login_heading fnt-play">Reset your password! </h3>
                    <p class="login_para">Welcome Back, Please login to your account. </p>

                    <form>
                        <div class="form-group row pt-2">
                            <div class="form-group col-md-12">
                                <label class="role-name">Email address</label>
                                <input type="email" class="form-control rectangle_name" id="email" placeholder="you@example.com" name="email" (keyup)="onKeyPress($event)" [(ngModel)]="email" autofocus required>
                                <div class="emailError" *ngIf="emailError != ''">{{emailError}}</div>
                            </div>
                        </div>
                        <div class="form-group row pt-md-1 pt-5 m-0 ">
                            <div class="text-center w-100">
                                <!-- <button type="button" class="btn btn-info login-butn email-link w-100" (click)="recoveryEmail()">EMAIL ME A RECOVERY OTP</button> -->
                                <button type="submit" class="btn btn-info login-butn email-link w-100" (click)="recoveryEmail()" [disabled]="recoveryButtonValue==='Sending'">
                        {{recoveryButtonValue}}<img class="loader" *ngIf="recoveryButtonValue==='Sending'" src="assets/images/orange-loader.gif"/>
                    </button>
                            </div>
                        </div>

                        <div class="form-group row pt-4 pb-5 pl-3 bottom-space">
                            <div class="text-center w-100">
                                <span><a  routerLink="../login" class="forgot w-100">Already have an account? Login</a></span>
                            </div>

                        </div>

                    </form>

                </div>
            </div>
        </div>


    </div>


</section>