@media (max-width: 1270px) and (min-width: 768px) {
    ::ng-deep .selectOrderTableList .p-datatable {
        position: relative !important;
        overflow: auto !important;
        width: 100% !important;
    }

    ::ng-deep .selectOrderTableList .p-datatable table {
        border-collapse: collapse;
        table-layout: fixed;
        width: 1100px !important;
    }
}

.calender .p-calendar-w-btn .p-inputtext {
    margin-left: 1rem !important;
}
