.login {
    border-radius: 4px;
    box-shadow: 0 0 10px 4px rgba(27, 27, 27, 0.3);
    background-color: #ffffff;
    padding: 2.3rem 2.3rem 1.1rem 2.3rem;
}

.login_heading {
    font-family: PlayfairDisplay;
    font-size: 32px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 42px;
    letter-spacing: normal;
    color: #232334;
}

.login_para {
    font-family: Muli;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 28px;
    letter-spacing: normal;
    color: #747588;
}

.role-name {
    font-size: 13px;
    font-weight: 600;
    color: #747588;
    font-family: Muli;
}

.rectangle_name {
    height: 46px;
    border-radius: 2px;
    border: solid 1px #d6d6d6;
    background-color: #ffffff;
}

.remember {
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
    margin-top: 3px;
    margin-left: 5px;
}

.forgot {
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    /* text-decoration: underline; */
    color: #80460b;
}

.forgot:hover {
    color: #80460b;
}

.login-butn {
    border-radius: 6px;
    background-color: #30855c;
    padding: 11px 20px;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    border: #30855c;
    font-family: Muli;
}

.login-butn:hover {
    background-color: #30855c;
    border: #30855c;
    box-shadow: 0 0 7px 1px rgba(67, 146, 108, 0.5);
}

.login-butn:focus {
    outline: 0;
    background-color: #30855c !important;
}

.email-recovery {
    /* font-family: Muli;
font-style: normal;
font-weight: normal;
text-decoration: inherit;
padding-right: 5px;
font-weight: 100;
font-size: 13px; */
}


/* .email-link:before{content:'EMAIL ME A RECOVERY LINK ';}
.email-recovery:before{content: '\f00c';
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
text-decoration: inherit;
padding-right: 5px;
font-weight: 100;
font-size: 14px;}
.email-recovery:after{content:'LINK SENT';} */

.bottom-space {
    margin-bottom: 3rem;
}

.emailError {
    color: #D50000;
    font-size: 12px;
}


/* common css responsive for login reset change password */

.loader {
    height: 17px;
    width: 17px;
    margin-left: 4px;
    margin-top: -4px;
}

@media only screen and (max-width: 767px) {
    .login {
        border-radius: 6px 6px 0px 0px;
        box-shadow: 0 0 10px 4px rgba(27, 27, 27, 0.3);
        background-color: #ffffff;
        padding: 2.3rem 2.3rem 1.1rem 2.3rem;
        height: calc(100vh - 93px);
    }
}

@media only screen and (max-width: 375px) {
    .login_heading {
        font-size: 28px;
    }
    .login_para,
    .remember,
    .forgot {
        font-size: 12px;
    }
}

@media only screen and (max-width: 320px) {
    .login_heading {
        font-size: 24px;
    }
    .login_para,
    .remember,
    .forgot {
        font-size: 10px;
    }
    .login {
        padding: 1rem;
    }
}


/*ends */