@import 'variables';

.total-section {
    .title_text {
        font-family: $secondary-font-family;
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #232334;
        padding: 10px 0 20px;
        flex: 1;
    }

    .view__info,
    .table__info {
        border-radius: 4px;
        border: solid 1px #d6d6d6;
    }

    .evaluators-title {
        font-family: $general-font-family;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #232334;
        margin-top: 1.5rem;

        @media screen and (max-width: 767px) {
            font-size: 12px;
        }
    }

    .border__cupping {
        margin-top: 1.5rem;
        @media screen and (max-width: 767px) {
            border: none;
            padding: 0;
        }
    }

    @media screen and (max-width: 767px) {
        .green-button {
            width: 100%;
            margin-bottom: 0.5rem;
        }
    }
}

:host ::ng-deep {
    .confirm-dialog.p-dialog {
        max-width: 530px;
    }

    .p-datatable.p-datatable-evaluators {
        table tr {
            td,
            th {
                font-size: 12px;
            }
        }
    }

    .p-datatable.p-datatable-evaluators-mobile {
        table {
            border-collapse: separate;
            border-spacing: 0;
            border: solid 1px #ebebeb;

            tr {
                &:first-child {
                    th:first-child {
                        border-top-left-radius: 4px;
                    }

                    th:last-child {
                        border-top-right-radius: 4px;
                    }
                }

                &:last-child {
                    td:first-child {
                        border-bottom-left-radius: 4px;
                    }

                    td:last-child {
                        border-bottom-right-radius: 4px;
                    }

                    td,
                    th {
                        border-bottom: none;
                    }
                }

                td,
                th {
                    border-bottom: solid 1px #ebebeb;
                    border-right: solid 1px #ebebeb;
                    border-radius: 0;
                    padding: 12px;

                    &:last-child {
                        border-right: 0;
                    }

                    .mobile-header-cell {
                        display: flex;
                    }
                }
            }
        }
    }
}
