.alert-msg {
    width: 57px;
    height: 50px;
}

::ng-deep .popover-body {
    padding: 0.25rem 0.25rem !important;
}

::ng-deep .popover {
    border: none !important;
    border-radius: 6px !important;
    box-shadow: 0 0 17px 2px rgba(27, 27, 27, 0.08) !important;
    background-color: #ffffff;
}

.chat-seeting__content {
    position: relative;
}

.chat-seeting__content::after {
    position: absolute;
    content: "";
    top: -14px;
    right: 13px;
    width: 15px;
    height: 15px;
    border-top: solid 10px #ffffff;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
    z-index: 9;
    transform: rotate(180deg);
}

.chat-seeting:hover .chat-seeting__items {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.chat-seeting__items {
    position: absolute;
    top: 100%;
    width: 213px;
    right: -20px;
    border-radius: 6px !important;
    box-shadow: 0 0 17px 2px rgba(27, 27, 27, 0.08) !important;
    background-color: #ffffff;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.chat-seeting__content .list-group-item:hover {
    background-color: #f8f8f8;
    color: #232334 !important;
}


/********Modal********/

.modal-header {
    border-bottom: none;
}

.are-sure {
    font-family: PlayfairDisplay;
    font-size: 28px;
    font-weight: normal;
    color: #020202;
}

.do-account {
    font-family: Muli;
    font-size: 16px;
    font-weight: normal;
    color: #5d5d5d;
}

.add-btn {
    font-family: Muli;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 4px;
    background-color: #30855c;
    padding: 12px 22px;
}

.add-btn:hover {
    box-shadow: 0 0 7px 1px rgba(67, 146, 108, 0.5);
}

.no-btun {
    font-family: Muli;
    font-size: 14px;
    font-weight: bold;
    color: #30855c;
    border-radius: 4px;
    border: 1px solid #30855c;
    padding: 12px 22px;
}

::ng-deep .modal-content {
    top: 3rem;
}

@media (max-width:767px) {
    .chat-accounts__name {
        background-color: #fff !important;
        padding: 3rem 1rem !important;
        border-radius: 4px !important;
    }
    .chat-accounts__body {
        padding: 10px 20px 25px 20px !important;
        background-color: #f1f1f1 !important;
    }
    .alert-msg {
        width: 47px;
        height: 40px;
    }
}