th {
    font-family: Muli;
    /* font-size: 14px; */
    font-weight: 500;
    color: #747588;
    padding-right: 3rem;
}

.lot-table td {
    font-family: Muli;
    /* font-size: 14px; */
    font-weight: 600;
    color: #232334;
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.lot-link {
    font-family: Muli;
    /* font-size: 14px; */
    font-weight: 600;
    color: #30855c;
}

hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #ebebeb;
}

.sub-title {
    font-family: Muli;
    font-size: 18px;
    font-weight: bold;
    color: #232334;
    padding-bottom: 0.5rem;
}

.bulk-details-content {
    padding-right: 2rem;
    /* border-right: 1px solid #dddddd; */
}

.payment-status-content {
    padding-left: 2rem;
}

.bulk-list {
    border-bottom: 1px solid #dddddd;
    padding: .7rem 0rem;
}

.list-que {
    font-family: Muli;
    font-size: 14px;
    font-weight: 500;
    color: #747588;
}

.list-ans {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600 !important;
    color: #232334;
}

.status {
    font-family: Muli;
    /* font-size: 14px; */
    font-weight: 600;
    color: #e78926;
    /* margin-bottom: 0%; */
}

.procedure {
    font-family: Muli;
    /* font-size: 14px; */
    font-weight: 600;
    color: #80460b;
    cursor: pointer;
    text-decoration: underline !important;
}

.right-angle {
    padding-left: .5rem;
}

.shipment-id,
.track-id {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    color: #80460b;
    text-decoration: underline !important;
    margin-bottom: 0%;
    cursor: pointer;
}

.track-info-title,
.shipment-title {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    color: #232334;
    margin-bottom: 0.5rem;
}

.receipt-btn {
    font-family: Muli;
    font-size: 14px;
    font-weight: normal;
    border-radius: 2px;
    border: solid 1px #747588;
    color: #232334;
}

.bulk-list:last-child {
    border: none;
}

.shipment-info,
.track-info {
    border-radius: 6px;
    width: max-content;
    /* padding: 5%; */
}

.recent-time td {
    font-family: Muli;
    font-weight: 500;
    color: #232334;
    padding: 1rem 4rem 1rem 0rem;
    border-bottom: 1px solid #dddddd;
}

.status_paid {
    font-family: Muli;
    font-size: 18px;
    font-weight: normal;
    color: #232334;
}

.space {
    position: relative;
    bottom: 3px;
    padding-left: 2.25rem;
}

@media only screen and (max-width: 767px) {
    .bulk-details-content {
        border-right: 0px solid #dddddd;
    }
    .payment-status-content {
        padding-top: 2.5rem;
    }
}

.track {
    color: #30855c;
    font-family: Muli;
    font-weight: bold;
    font-size: 14px;
}

.track-btn {
    border: 1px solid #30855c;
    background-color: #ffffff;
    border-radius: 4px;
}

.track-btn:hover {
    background-color: #30855c;
}

.track-btn:hover .track {
    color: #ffffff;
}

.view-detail {
    font-family: Muli;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.57;
    color: #80460b !important;
    cursor: pointer !important;
    text-decoration: underline !important;
}

.position-rel {
    position: relative;
    top: 1rem;
}