<section>
    <div class="container sewn-container section-head-pad">
        <div class="bg-fff mb-4">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <nav role="navigation" aria-labelledby="title-breadcrumb-1" class="breadcrumb1 farm-breadcum">
                        <span id="title-breadcrumb-1" class="sr-only"></span>
                        <ul class="bread-nav">
                            <li class="b-cum">
                                <a class="b-cum" routerLink="/features/welcome-aboard">{{globals.languageJson?.home}}</a><span class="padl-r" aria-hidden="true"> <img class="group-img" src="/assets/images/arrow-1.png" alt=""> </span>
                            </li>
                            <!-- <li class="b-cum">
                                <a class="b-cum">{{globals.languageJson?.farm_link}}</a><span class="padl-r" aria-hidden="true"> <img class="group-img" src="/assets/images/arrow-1.png" alt=""> </span>
                            </li> -->
                            <li class="b-cum">
                                <a class="b-cum" routerLink="/features/brand-profile">{{globals.languageJson?.brand_profile}}</a><span class="padl-r" aria-hidden="true"> <img class="group-img" src="/assets/images/arrow-1.png" alt=""> </span>
                            </li>
                            <li class="b-cum c-pink">Learn</li>
                        </ul>
                    </nav>
                </div>
            </div>

            <section class="col-sm-12 col-md-12 col-lg-12 brand-profile-sec px-0">

                <div class="row mb-4">
                    <div class="col-md-6 col-12">
                        <p class="brand-profile"> Learn</p>
                        <p class="brand-para">Add details about your estate to give yours a view.</p>
                    </div>
                    <div class="col-md-6 col-12 web-farm">
                        <button type="button" class="save ml-3 pull-right" (click)="saveBrandProfile()">Save </button>
                        <button type="button" class="preview" >Preview </button>
                    </div>
                </div>

                <div class="row px-3">
                    <div class="col-lg-8 col-md-12 col-sm-12  border p-4">
                        <p class="header-text fnt-muli">Banner<span class="star">*</span></p>
                        <label class="w-100 sub-header-text fnt-muli">Image/Video banner<span class="star">*</span></label>
                        <p class="sub-text fnt-muli">Size - 1440 x 465 px</p>
                        <label class="mt-3 cursor-pointer">
                            <input type="file" class="file-inpt"  accept="video/*,image/*" (change)="onFileChange($event, 1440, 465, 'Banner')">
                            <span class="save"> Upload </span>
                        </label>
                        <span class="pl-3 sub-header-text fnt-muli">{{banner_image_name}}</span>
                        <!-- <button class="save " type="button">Upload</button> -->
                        <label class="w-100 sub-header-text fnt-muli mt-3">Banner Title<span class="star">*</span> <span class="sub-text fnt-muli pull-right">{{countTheString(banner_title,10)}}/10 words</span></label>
                        <input type="text" class="form-control banner-title" name="banner-title" id="banner-title" maxlength="{{getTheMaxLength(banner_title,10)}}"  [(ngModel)]="banner_title">
                    </div>
                </div>

                <div class="row mt-4 px-3">
                    <div class="col-lg-8 col-md-12 col-sm-12  border p-4">
                        <p class="header-text fnt-muli">Intro</p>
                        <p class="sub-header-text  fnt-muli">Give  a small intro!</p>
                        <label class="w-100 sub-header-text fnt-muli mt-3">Title<span class="star">*</span> <span class="sub-text fnt-muli pull-right">{{countTheString(intro_title,15)}}/15 words</span></label>
                        <input type="text" class="form-control banner-title" name="intro-title" id="intro-title"  maxlength="{{getTheMaxLength(intro_title,15)}}"  [(ngModel)]="intro_title" >
                        <label class="w-100 sub-header-text fnt-muli mt-3">Answer<span class="star">*</span> <span class="sub-text fnt-muli pull-right">{{countTheString(answer,100)}}/100 words</span></label>
                        <textarea id="answer" name="answer" rows="6" class="form-control"   maxlength="{{getTheMaxLength(answer,15)}}"  [(ngModel)]="answer"></textarea>
                        <label class="w-100 sub-header-text fnt-muli mt-3">Images<span class="star">*</span></label>
                        <p class="sub-text fnt-muli">Please upload an image : Size - 815 x 449 px</p>
                        <!-- <button class="save " type="button">Upload</button> -->
                        <label class="mt-3 cursor-pointer">
                            <input type="file" class="file-inpt"   accept="video/*,image/*" (change)="onFileChange($event, 815, 449, 'Intro')">
                            <span class="save"> Upload </span>
                        </label>
                        <span class="pl-3 sub-header-text fnt-muli">{{intro_image_name}}</span>
                    </div>
                </div>

                <div class="row mt-4 px-3">
                    <div class="col-lg-8 col-md-12 col-sm-12 border p-4">
                        <p class="header-text fnt-muli">What you want to tell your users</p>
                        <p class="sub-header-text  fnt-muli">Give  a step by step guide to your user</p>
                        <label class="w-100 sub-header-text fnt-muli mt-3">Title<span class="star">*</span> <span class="sub-text fnt-muli pull-right">{{countTheString(title,15)}}/15 words</span></label>
                        <input type="text" class="form-control banner-title" name="intro-title"  maxlength="{{getTheMaxLength(title,15)}}"  [(ngModel)]="title"  >
                        <p class="header-text fnt-muli mt-3">Step 1</p>
                        <label class="w-100 sub-header-text fnt-muli mt-3">Answer<span class="star">*</span> <span class="sub-text fnt-muli pull-right">{{countTheString(answer1,100)}}/100 words</span></label>
                        <textarea id="answer1" name="answer" rows="6" class="form-control"  maxlength="{{getTheMaxLength(answer1,100)}}"  [(ngModel)]="answer1" ></textarea>
                        <label class="w-100 sub-header-text fnt-muli mt-3">Images/Videos<span class="star">*</span></label>
                        <p class="sub-text fnt-muli">Please upload an image : Size - 601 x 395 px</p>
                        <!-- <button class="save " type="button">Upload</button> -->
                        <label class="mt-3 cursor-pointer">
                            <input type="file" class="file-inpt"    accept="video/*,image/*" (change)="onFileChange($event, 601, 395, 'Step1')">
                            <span class="save"> Upload </span>
                        </label>
                        <span class="pl-3 sub-header-text fnt-muli">{{step1_image_name}}</span>

                        <hr class="dashed my-4">

                        <p class="header-text fnt-muli mt-2">Step 2</p>
                        <label class="w-100 sub-header-text fnt-muli mt-2">Answer<span class="star">*</span> <span class="sub-text fnt-muli pull-right">{{countTheString(answer2,100)}}/100 words</span></label>
                        <textarea id="answer2" name="answer" rows="6" class="form-control"   maxlength="{{getTheMaxLength(answer2,100)}}"  [(ngModel)]="answer2"></textarea>
                        <label class="w-100 sub-header-text fnt-muli mt-3">Images/Videos<span class="star">*</span></label>
                        <p class="sub-text fnt-muli">Please upload an image : Size - 601 x 395 px</p>
                        <!-- <button class="save " type="button">Upload</button> -->
                        <label class="mt-3 cursor-pointer">
                            <input type="file" class="file-inpt"    accept="video/*,image/*" (change)="onFileChange($event, 601, 395, 'Step2')">
                            <span class="save"> Upload </span>
                        </label>
                        <span class="pl-3 sub-header-text fnt-muli">{{step2_image_name}}</span>

                        <hr class="dashed my-4">

                        <p class="header-text fnt-muli mt-2">Step 3</p>
                        <label class="w-100 sub-header-text fnt-muli mt-2">Answer<span class="star">*</span> <span class="sub-text fnt-muli pull-right">{{countTheString(answer3,100)}}/100 words</span></label>
                        <textarea id="answer3" name="answer" rows="6" class="form-control"    maxlength="{{getTheMaxLength(answer3,100)}}"  [(ngModel)]="answer3"></textarea>
                        <label class="w-100 sub-header-text fnt-muli mt-3">Images/Videos<span class="star">*</span></label>
                        <p class="sub-text fnt-muli">Please upload an image : Size - 601 x 395 px</p>
                        <!-- <button class="save " type="button">Upload</button> -->
                        <label class="mt-3 cursor-pointer">
                            <input type="file" class="file-inpt"  accept="video/*,image/*" (change)="onFileChange($event, 601, 395, 'Step3')">
                            <span class="save"> Upload </span>
                        </label>
                        <span class="pl-3 sub-header-text fnt-muli">{{step3_image_name}}</span>

                        <hr class="dashed my-4">

                        <p class="header-text fnt-muli mt-2">Step 4</p>
                        <label class="w-100 sub-header-text fnt-muli mt-2">Answer<span class="star">*</span> <span class="sub-text fnt-muli pull-right">{{countTheString(answer4,100)}}/100 words</span></label>
                        <textarea id="answer4" name="answer" rows="6" class="form-control"   maxlength="{{getTheMaxLength(answer4,100)}}"  [(ngModel)]="answer4" ></textarea>
                        <label class="w-100 sub-header-text fnt-muli mt-3">Images/Videos<span class="star">*</span></label>
                        <p class="sub-text fnt-muli">Please upload an image : Size - 601 x 395 px</p>
                        <!-- <button class="save " type="button">Upload</button> -->
                        <label class="mt-3 cursor-pointer">
                            <input type="file" class="file-inpt"  accept="video/*,image/*" (change)="onFileChange($event, 601, 395, 'Step4')">
                            <span class="save"> Upload </span>
                        </label>
                        <span class="pl-3 sub-header-text fnt-muli">{{step4_image_name}}</span>

                    </div>
                </div>

                <div class="pb-5 pt-4 ">
                    <button class="cancel pull-left mr-auto fnt-muli" type="button" routerLink="/features/brand-profile">Cancel</button>
                </div>

            </section>

        </div>
    </div>
</section>    