<section>
    <div class="main-block">
        <div class="row no-gutters">
            <div class="col-12 d-flex no-block align-items-center mp-0">
                <p-breadcrumb [model]="breadItems" styleClass="mb-425 mb-md-475"></p-breadcrumb>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 col-12">
                <p class="primary_txt mb-2">{{ getHeading() }}</p>
                <p class="secondary_txt fnt-14 mb-0">
                    {{ getDescription() }}
                </p>
            </div>
            <div class="col-md-3 d-none d-sm-none d-md-block d-lg-none tabView" *ngIf="selectedMobileTab == 'Shipment'">
                <button
                    *ngIf="editshippingmode && shippData != null"
                    type="button"
                    class="btn btn-raised pull-right"
                    (click)="editShippingInfo()"
                >
                    {{ 'edit' | translate }}
                </button>
                <button
                    *ngIf="saveshippingmode"
                    type="button"
                    class="btn btn-raised pull-right"
                    (click)="saveShippingInfo()"
                    [disabled]="detailsForm.invalid || resetButtonValue === 'Saving'"
                >
                    {{ resetButtonValue }}
                    <img class="loader" *ngIf="resetButtonValue === 'Saving'" src="assets/images/orange-loader.gif" />
                </button>
            </div>
        </div>
        <!--web View-->
        <div class="d-none d-lg-block">
            <div class="row pt-4">
                <div class="col-md-3 col-xs-12 mb-3">
                    <p-listbox
                        [options]="options"
                        [(ngModel)]="selectedTab"
                        optionLabel="name"
                        (onClick)="selectTabs()"
                    >
                        <ng-template let-option pTemplate="item">
                            <div class="d-flex">
                                <div class="primary_txt fnt-14">{{ option.name }}</div>
                                <i class="selectedMenu fa fa-angle-right"></i>
                            </div>
                        </ng-template>
                    </p-listbox>
                </div>
                <div class="col-md-9 col-xs-12">
                    <div class="row">
                        <div *ngIf="selectedTab.index == 0">
                            <div class="col-lg-12 col-md-12">
                                <p-tabView styleClass="pb-3" [(activeIndex)]="selectedIndex">
                                    <p-tabPanel [header]="'micro-roaster' | translate">
                                        <div class="pt-3">
                                            <app-vat-details [feature]="VatType.MR"> </app-vat-details>
                                        </div>
                                    </p-tabPanel>
                                    <p-tabPanel header="B2B e-commerce">
                                        <div class="pt-3">
                                            <app-vat-details [feature]="VatType.B2B"> </app-vat-details>
                                        </div>
                                    </p-tabPanel>
                                    <p-tabPanel header="B2C e-commerce">
                                        <div class="pt-3">
                                            <app-vat-details [feature]="VatType.B2C"> </app-vat-details>
                                        </div>
                                    </p-tabPanel>
                                </p-tabView>
                            </div>
                        </div>
                        <div class="col-12 pl-2" *ngIf="selectedTab.index == 1">
                            <div class="row no-gutters m-0" *ngIf="saveshippingmode">
                                <div class="pls-note col-12">
                                    <p class="fnt-14 fnt-400 text-clr334 m-0">
                                        Please note: The shipping price & estimated delivery time you set will be
                                        applicable to all green coffee and roasted coffee you sell on the platform.
                                    </p>
                                </div>
                                <form [formGroup]="detailsForm" novalidate class="w-100">
                                    <div class="col-md-12 p-0 mt-43">
                                        <div>
                                            <div class="row">
                                                <div class="col-12 col-md-6 sewn-form-field">
                                                    <label>Shipping type<span class="star">*</span></label>
                                                    <input
                                                        type="text"
                                                        placeholder="Please enter shipping name"
                                                        name="transcation_type"
                                                        formControlName="name"
                                                        pInputText
                                                    />
                                                    <small
                                                        class="text-clrb1f fnt-14"
                                                        *ngIf="
                                                            detailsFormControl.name.touched &&
                                                            detailsFormControl.name.errors?.required
                                                        "
                                                    >
                                                        Shipment type is required
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 col-md-6 sewn-form-field">
                                                    <label class="fnt-14 fnt-600 text-clr334"
                                                        >Shipping price<span class="star">*</span></label
                                                    >
                                                    <div class="p-inputgroup custom-addon">
                                                        <p-inputNumber
                                                            mode="decimal"
                                                            locale="en-US"
                                                            [minFractionDigits]="2"
                                                            formControlName="price"
                                                        ></p-inputNumber>
                                                        <span class="p-inputgroup-addon gray">{{
                                                            shippingDetails?.price_unit
                                                        }}</span>
                                                        <small
                                                            *ngIf="detailsFormControl.price.errors?.required"
                                                            class="p-error"
                                                        >
                                                            Shipment price is required
                                                        </small>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-6">
                                                    <label
                                                        >{{ 'estimated_delivery_time' | translate
                                                        }}<span class="star">*</span></label
                                                    >
                                                    <div class="delivery-time-wrap">
                                                        <div class="sewn-form-field">
                                                            <div class="p-inputgroup custom-addon">
                                                                <input
                                                                    type="number"
                                                                    formControlName="day_min"
                                                                    pInputText
                                                                />
                                                                <span class="p-inputgroup-addon gray">days</span>
                                                                <small
                                                                    *ngIf="
                                                                        detailsFormControl['day_min'].errors?.required
                                                                    "
                                                                    class="p-error"
                                                                >
                                                                    {{ 'required' | translate }}
                                                                </small>
                                                            </div>
                                                        </div>
                                                        <div class="form-middle">-</div>
                                                        <div class="sewn-form-field">
                                                            <div class="p-inputgroup custom-addon">
                                                                <input
                                                                    type="number"
                                                                    formControlName="day_max"
                                                                    pInputText
                                                                />
                                                                <span class="p-inputgroup-addon gray">days</span>
                                                                <small
                                                                    *ngIf="
                                                                        detailsFormControl['day_max'].errors?.required
                                                                    "
                                                                    class="p-error"
                                                                >
                                                                    {{ 'required' | translate }}
                                                                </small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 p-0">
                                                <button
                                                    type="submit"
                                                    class="fnt-14 fnt-700 btn btn-raised pull-right"
                                                    (click)="saveShippingInfo()"
                                                    [disabled]="resetButtonValue === 'Saving'"
                                                >
                                                    {{ resetButtonValue }}
                                                    <img
                                                        class="loader"
                                                        *ngIf="resetButtonValue === 'Saving'"
                                                        src="assets/images/orange-loader.gif"
                                                    />
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <!-- after save -->

                            <div class="row no-gutters m-0" *ngIf="editshippingmode && shippData != null">
                                <div class="pls-note col-12">
                                    <p class="fnt-14 fnt-400 text-clr334 m-0">
                                        The shipping price & estimated delivery time you set will be applicable to all
                                        green coffee and roasted coffee you sell on the platform.
                                    </p>
                                </div>
                                <div class="shipping-border col-12 mt-43">
                                    <table class="shipping-time col-12">
                                        <tr>
                                            <td>
                                                <span class="list-que"> {{ 'shipping_name' | translate }} : </span>
                                            </td>
                                            <td>
                                                <span class="list-ans"> {{ shippingDetails.name || 'NA' }} </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="list-que"> {{ 'shipping_price' | translate }} : </span>
                                            </td>
                                            <td>
                                                <span class="list-ans">
                                                    {{ shippingDetails?.price | number: '1.2-4' }}
                                                    {{ shippingDetails?.price_unit }}
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="list-que">
                                                    {{ 'estimated_delivery_time' | translate }} :
                                                </span>
                                            </td>
                                            <td>
                                                <span class="list-ans">
                                                    {{ shippingDetails.day_min || 'NA' }} -
                                                    {{ shippingDetails.day_max || 'NA' }} Days
                                                </span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="col-12 mt-3 p-0">
                                    <button
                                        type="button"
                                        class="fnt-14 fnt-700 btn btn-raised pull-right"
                                        (click)="editShippingInfo()"
                                    >
                                        {{ 'edit' | translate }}
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 pl-2" *ngIf="selectedTab.index == 2">
                            <app-sample-price></app-sample-price>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Mobile View-->
        <div class="d-sm-block d-lg-none">
            <div class="row pt-4" *ngIf="selectedMobileTab == ''">
                <div class="col-sm-12 col-md-6 pr-md-2">
                    <div class="feature-card">
                        <label class="primary_txt fnt-14 fnt-md-16" for="">VAT management</label>
                        <span class="secondary_txt fnt-12">Manage VAT for green coffee and B2B orders</span>
                        <button class="btn btn-raised mt-4" (click)="selectMobileTab('VAT')">Manage VAT rate</button>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 pl-md-2">
                    <div class="feature-card">
                        <label class="primary_txt fnt-14 fnt-md-16" for="">Shipping details</label>
                        <span class="secondary_txt fnt-12">Set shipping price and estimated delivery time</span>
                        <button class="btn btn-raised mt-4" (click)="selectMobileTab('Shipment')">
                            Manage shipping details
                        </button>
                    </div>
                </div>
            </div>
            <div class="row pt-4" *ngIf="selectedMobileTab == 'VAT'">
                <div class="col-12">
                    <p-tabView styleClass="pb-4" [(activeIndex)]="selectedIndex">
                        <p-tabPanel [header]="'micro-roaster' | translate">
                            <div class="pt-3">
                                <app-vat-details feature="mr"> </app-vat-details>
                            </div>
                        </p-tabPanel>
                        <p-tabPanel header="B2B e-commerce">
                            <div class="pt-3">
                                <app-vat-details feature="b2b_ecommerce"> </app-vat-details>
                            </div>
                        </p-tabPanel>
                        <p-tabPanel header="B2C e-commerce">
                            <div class="pt-3">
                                <app-vat-details feature="b2c_ecommerce"> </app-vat-details>
                            </div>
                        </p-tabPanel>
                    </p-tabView>
                </div>
            </div>
            <div class="pt-4" *ngIf="selectedMobileTab == 'Shipment'">
                <div class="row no-gutters" *ngIf="saveshippingmode">
                    <div class="pls-note col-12">
                        <p class="fnt-14 fnt-400 text-clr334 m-0">
                            The shipping price & estimated delivery time you set will be applicable to all green coffee
                            and roasted coffee you sell on the platform.
                        </p>
                    </div>
                    <form [formGroup]="detailsForm" novalidate>
                        <div class="col-md-12 p-0 Onboard-rows mt-43">
                            <div class="Onboard-rows__inputs">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6 sewn-form-field pr-md-3">
                                        <label class="fnt-14 fnt-600 text-clr334">Shipping type *</label>
                                        <input
                                            type="text"
                                            placeholder="Please enter shipping name"
                                            name="transcation_type"
                                            formControlName="name"
                                            pInputText
                                        />
                                        <span
                                            class="text-clrb1f fnt-14"
                                            *ngIf="
                                                detailsFormControl.name.touched &&
                                                detailsFormControl.name.errors?.required
                                            "
                                        >
                                            Shipment type is required
                                        </span>
                                    </div>
                                    <div class="col-sm-12 col-md-6 sewn-form-field">
                                        <label>Shipping Price<span class="star">*</span></label>
                                        <div class="p-inputgroup custom-addon">
                                            <p-inputNumber
                                                mode="decimal"
                                                locale="en-US"
                                                [minFractionDigits]="2"
                                                formControlName="price"
                                                placeholder="Please enter shipping amount"
                                            ></p-inputNumber>
                                            <span class="p-inputgroup-addon gray">{{
                                                shippingDetails?.price_unit
                                            }}</span>
                                            <small *ngIf="detailsFormControl.price.errors?.required" class="p-error">
                                                Shipment price is required
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-12 sewn-form-field">
                                        <label
                                            >{{ 'estimated_delivery_time' | translate
                                            }}<span class="star">*</span></label
                                        >
                                        <div class="delivery-time-wrap">
                                            <div class="sewn-form-field">
                                                <div class="p-inputgroup custom-addon">
                                                    <input type="number" formControlName="day_min" pInputText />
                                                    <span class="p-inputgroup-addon gray">days</span>
                                                    <small
                                                        *ngIf="detailsFormControl['day_min'].errors?.required"
                                                        class="p-error"
                                                    >
                                                        {{ 'required' | translate }}
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="form-middle">-</div>
                                            <div class="sewn-form-field">
                                                <div class="p-inputgroup custom-addon">
                                                    <input type="number" formControlName="day_max" pInputText />
                                                    <span class="p-inputgroup-addon gray">days</span>
                                                    <small
                                                        *ngIf="detailsFormControl['day_max'].errors?.required"
                                                        class="p-error"
                                                    >
                                                        {{ 'required' | translate }}
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row no-gutters d-sm-block d-md-none">
                                    <button
                                        type="submit"
                                        class="col-12 fnt-14 fnt-700 btn btn-raised"
                                        (click)="saveShippingInfo()"
                                        [disabled]="detailsForm.invalid || resetButtonValue === 'Saving'"
                                    >
                                        {{ resetButtonValue }}
                                        <img
                                            class="loader"
                                            *ngIf="resetButtonValue === 'Saving'"
                                            src="assets/images/orange-loader.gif"
                                        />
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row no-gutters" *ngIf="editshippingmode && shippData != null">
                    <div class="pls-note col-12">
                        <p class="fnt-14 fnt-400 text-clr334 m-0">
                            Please note: The shipping price & estimated delivery time you set will be applicable to all
                            green coffee and roasted coffee you sell on the platform.
                        </p>
                    </div>
                    <div class="shipping-border col-12 mt-43">
                        <table class="shipping-time col-12">
                            <tr>
                                <td>
                                    <span class="list-que"> {{ 'shipping_name' | translate }} : </span>
                                </td>
                                <td>
                                    <span class="list-ans"> {{ shippingDetails.name || 'NA' }} </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="list-que"> {{ 'shipping_price' | translate }} : </span>
                                </td>
                                <td>
                                    <span class="list-ans"> {{ shippingDetails.price || 'NA' }} kr </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="list-que"> {{ 'estimated_delivery_time' | translate }} : </span>
                                </td>
                                <td>
                                    <span class="list-ans">
                                        {{ shippingDetails.day_min || 'NA' }} -
                                        {{ shippingDetails.day_max || 'NA' }} Days
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-12 p-0 d-sm-block d-md-none mt-3">
                        <button type="button" class="col-12 fnt-14 fnt-700 btn btn-raised" (click)="editShippingInfo()">
                            {{ 'edit' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
