<div animateOnScroll animationName="fadeIn" class="animation-bounce-in-up br-md-main br-4 h-100 d-md-flex flex-column">
    <div class="p-0 p-md-4">
        <h3 class="fnt-18 lh-normal fnt-muli fnt-bold text-black334 title-wrap">E-commerce shop</h3>
    </div>
    <div class="card br-sm-main mb-0 flex-md-fill">
        <div class="overflow-hidden card-img-top">
            <img class="" src="assets/images/manage-e-commerce.png" alt="Card image cap" />
        </div>
        <div class="p-3">
            <p class="fnt-14 fnt-muli text-gray588 p-md-2">
                You can sell your roasted coffee here. Add your roasted coffee, manage availability of the coffee you
                want to sell and all your orders here.
            </p>
            <div class="divider my-3"></div>
            <p class="float-right mb-0 pointer-text">
                <a class="arrow-link" routerLink="/features/sourcing"> View your products </a>
            </p>
        </div>
    </div>
</div>
