.content-block {
    @media (min-width: 768px) {
        padding: 32px 24px;
    }
}
.left-block {
    @media (min-width: 768px) {
        padding-right: 53px;
    }
}
.right-block {
    @media (min-width: 768px) {
        padding-left: 6px;
    }
}
.checked {
    font-size: 16px;
    @media (min-width: 768px) {
        font-size: 22px;
    }
}

.btn-wrap {
    display: flex;
    @media (max-width: 767px) {
        div {
            width: 50%;
            button {
                width: 100%;
            }
        }
    }
}

.cert-img {
    height: 24px;
    width: auto;
    @media (min-width: 768px) {
        height: 50px;
    }
}

.produect-pro {
    border: solid 1px #747588;
}
