<section *ngIf="isLoaded; else loading">
    <div class="main-block">
        <div class="w-100 pb-3">
            <app-back-link defaultBackTo="/sourcing/coffee-list"></app-back-link>
        </div>
        <div class="solid-divider d-md-none mx-n3"></div>

        <div class="mt-3 mb-3">
            <div class="w-100 d-flex justify-content-between pb-2 pb-md-1">
                <div class="d-flex align-items-center">
                    <div class="d-inline-block mr-2 pr-1">
                        <app-avatar
                            [size]="(isMobile$ | async) ? 48 : 54"
                            [src]="sourcing.harvestDetail?.estate_profile_image_thumbnail_url"
                            [name]="sourcing.harvestDetail?.estate_name"
                        ></app-avatar>
                    </div>

                    <div class="d-inline-block">
                        <h2 class="fnt-16 fnt-md-18 fw-b text-clr24 mb-0">
                            {{ sourcing.harvestDetail?.estate_name }}
                        </h2>
                        <div class="d-flex align-items-center">
                            <span class="fa fa-star checked mr-2"></span>
                            <div
                                class="fnt-16 fnt-md-18 brown-cta"
                                [routerLink]="['/sourcing/estate-details/' + sourcing.estate?.id]"
                                [queryParams]="{ goToReviews: true }"
                            >
                                {{ sourcing.harvestDetail?.estate_rating | number: '1.2-2' }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-none d-md-block">
                    <ng-container *ngTemplateOutlet="btnGroup"></ng-container>
                </div>
            </div>
        </div>

        <div class="">
            <div class="border-lg-main br-4 content-block">
                <div class="row">
                    <div class="col-lg-5 left-block">
                        <div class="d-flex justify-content-center">
                            <div class="product-gal w-100 mb-4 mb-md-5">
                                <gallery
                                    *ngIf="sourcing.harvestDetail?.images?.length; else noImages"
                                    class="bg-white gallery-wrap"
                                    [items]="items"
                                    [thumbHeight]="(isMobile$ | async) ? 66 : 64"
                                    [thumbWidth]="(isMobile$ | async) ? 73 : 103"
                                    gallerize
                                ></gallery>
                                <ng-template #noImages>
                                    <div class="no-image">
                                        <img src="assets/images/empty.svg" alt="Empty" class="empty" />
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                        <div class="certify-green d-none d-lg-block" *ngIf="sourcing.estateCertify != ''">
                            <h5 class="fnt-16 fnt-md-18 fw-b text-clr000">Certificates</h5>
                            <div class="pt-3">
                                <img
                                    *ngFor="let cert of sourcing.estateCertify"
                                    [src]="cert.certificate_type_id | certificateImg"
                                    class="cert-img cursor-pointer mb-3 mr-4 mr-lg-45"
                                    (click)="sourcing.openCert(cert.public_url)"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 right-block">
                        <div class="mx-n2 mx-md-0">
                            <div class="border-main border-lg-0 br-4 p-3 p-lg-0">
                                <div class="d-flex justify-content-between align-items-start mb-2 mb-md-3 mb-lg-4">
                                    <a
                                        class="brown-cta"
                                        routerLink="/sourcing/lot-details/{{ sourcing.lot?.estate_id }}/{{
                                            sourcing.lot?.id
                                        }}"
                                    >
                                        {{ 'lot_id' | translate }} - {{ sourcing.lot?.number }}
                                    </a>
                                    <div *ngIf="isStillParchment" class="parchment-mark">
                                        {{ 'still_in_parchment' | translate }}
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <h2 class="fnt-16 fnt-md-18 fw-b text-clr334 mb-1">
                                        {{ sourcing.harvestDetail?.name }}
                                    </h2>
                                    <div class="d-lg-none d-flex">
                                        <img
                                            *ngFor="let cert of sourcing.estateCertify"
                                            [src]="cert.certificate_type_id | certificateImg"
                                            class="cert-img cursor-pointer mb-3 ml-25"
                                            (click)="sourcing.openCert(cert.public_url)"
                                        />
                                    </div>
                                </div>

                                <h6 class="fnt-14 fnt-md-16 lh-normal fw-m text-clr334 mb-3">
                                    <img src="assets/images/location-rating.png" alt="" />
                                    {{ sourcing.harvestDetail?.country | country }}
                                </h6>
                                <div class="fnt-md-16" [innerText]="sourcing.harvestDetail?.about"></div>

                                <div class="row mt-lg-5 mt-4">
                                    <div class="col-lg-3 col-md-3 col-5">
                                        <div class="real-estate p-prices">
                                            <h6>{{ 'price' | translate }} :</h6>
                                            <h3 class="ellipsis mb-0">
                                                {{ sourcing.harvestDetail?.price | number: '1.2-4' }}
                                                {{ sourcing.harvestDetail?.price_unit }}/kg
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-6 d-none d-md-block">
                                        <div class="real-estate">
                                            <h6>Inco :</h6>
                                            <h3 class="mb-0">{{ sourcing.harvestDetail?.incoterm || 'NA' }}</h3>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-7 border-left-primary">
                                        <div class="real-estate">
                                            <h6>{{ 'available_quantity' | translate }} :</h6>
                                            <h3 class="ellipsis mb-0">
                                                {{ sourcing.harvestDetail?.quantity_count }}
                                                {{ sourcing.harvestDetail?.quantity_type | quantityType }} of
                                                {{ sourcing.harvestDetail?.quantity
                                                }}{{ sourcing.harvestDetail?.quantity_unit }}
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-6 d-none d-md-block border-left-primary">
                                        <div class="real-estate">
                                            <h6>{{ 'minimum_quantity' | translate }} :</h6>
                                            <h3 class="mb-0">
                                                {{ sourcing.harvestDetail?.minimum_purchase_quantity }}
                                                {{ sourcing.harvestDetail?.quantity_type | quantityType }}
                                            </h3>
                                        </div>
                                    </div>
                                </div>

                                <div class="product-pro br-2 p-3 p-md-4 mt-45 mt-md-5">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-6">
                                            <div class="real-estate mt-0">
                                                <h6 class="mt-0">
                                                    {{
                                                        sourcing.harvestDetail?.cupping?.cupped_at
                                                            | date: 'MMMM dd, yyyy'
                                                    }}
                                                </h6>
                                                <h3>
                                                    {{ 'cup_score' | translate }} :
                                                    {{ sourcing.harvestDetail?.cupping?.cup_score }}
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 mb-2 mb-md-0">
                                            <div class="real-estate d-flex mt-3 mt-md-0">
                                                <div class="mr-2 mr-md-3">
                                                    <app-user-detail
                                                        [imageUrl]="sourcing.harvestDetail?.cupping?.evaluator_dp_thumb"
                                                        [userId]="sourcing.harvestDetail?.cupping?.evaluator_id"
                                                        orgType="fc"
                                                        [size]="(isMobile$ | async) ? 32 : 40"
                                                    ></app-user-detail>
                                                </div>
                                                <div class="ellipsis">
                                                    <h3 class="ellipsis mb-1">
                                                        {{ sourcing.harvestDetail?.cupping?.evaluator_name }}
                                                    </h3>
                                                    <h6 class="my-0">Facilitator</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-6 mt-2 text-left text-md-right">
                                            <a
                                                class="brown-cta"
                                                [href]="sourcing.harvestDetail?.cupping?.url"
                                                target="_blank"
                                                >{{ 'view_report' | translate }}
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-md-none mt-3">
                                    <ng-container *ngTemplateOutlet="btnGroup"></ng-container>
                                </div>
                            </div>

                            <div class="px-3 p-lg-0">
                                <div class="col-lg-10 px-0 row gutter-8 gutter-md-16 mt-md-5 mt-4 mb-4 mb-md-5">
                                    <div class="col-6 col-md-4 col-lg-4 mb-45 pb-md-2">
                                        <div class="real-estate">
                                            <img src="assets/images/varient.svg" />
                                            <h6>{{ 'species' | translate }}</h6>
                                            <h3 class="elipsis">
                                                {{ sourcing.harvestDetail?.species.split(',')[0] || 'NA' }}
                                                {{
                                                    sourcing.harvestDetail?.species.split(',')?.length > 1
                                                        ? ' +' + (sourcing.harvestDetail?.species.split(',').length - 1)
                                                        : ''
                                                }}
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-4 col-lg-4 mb-45 pb-md-2">
                                        <div class="real-estate">
                                            <img src="assets/images/estate.svg" />
                                            <h6>{{ 'variety' | translate }}</h6>
                                            <h3>
                                                {{ sourcing.harvestDetail?.varieties || 'NA' }}
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-4 col-lg-4 mb-45 pb-md-2">
                                        <div class="real-estate">
                                            <img src="assets/images/harveaster.svg" />
                                            <h6>{{ 'harvest_month' | translate }}</h6>
                                            <h3>
                                                {{ sourcing.harvestDetail?.harvest_year_start | date: 'MMM' }} -
                                                {{ sourcing.harvestDetail?.harvest_year_end | date: 'MMM' }}
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-4 col-lg-4">
                                        <div class="real-estate">
                                            <img src="assets/images/flavour-image.svg" />
                                            <h6>{{ 'flavor_profile' | translate }}</h6>
                                            <div
                                                *ngIf="sourcing.harvestDetail?.flavours?.length"
                                                class="row gutter-12 v-gutter-8"
                                            >
                                                <div
                                                    *ngFor="
                                                        let flavour of sourcing.harvestDetail?.flavours | slice: 0:3
                                                    "
                                                    class="col-auto"
                                                >
                                                    <div class="custom-chip">
                                                        {{ flavour.name }}
                                                    </div>
                                                </div>
                                                <div
                                                    *ngIf="sourcing.harvestDetail?.flavours?.length > 3"
                                                    class="col-auto d-flex align-items-center"
                                                >
                                                    <span class="fw-b"
                                                        >+ {{ sourcing.harvestDetail.flavours?.length - 3 }}</span
                                                    >
                                                </div>
                                            </div>
                                            <h3
                                                *ngIf="!sourcing.harvestDetail?.flavours?.length"
                                                class="fnt-14 lh-normal fw-b text-clr334 ellipsis mb-0"
                                            >
                                                NA
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-4 col-lg-4">
                                        <div class="real-estate">
                                            <img src="assets/images/altitute.svg" />
                                            <h6>Altitude range</h6>
                                            <h3>
                                                {{ sourcing.harvestDetail?.min_altitude }} -
                                                {{ sourcing.harvestDetail?.max_altitude }}
                                                m
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="estate-focus with-last-border border-main border-lg-0 br-4 p-3 p-lg-0">
                                <h3 class="fnt-16 fnt-md-18 fw-b text-clr000">
                                    {{ 'estate_details' | translate }}
                                </h3>
                                <ul class="clearfix">
                                    <li>
                                        <label>{{ 'location' | translate }} :</label>
                                        <p>{{ sourcing.harvestDetail?.country | country }}</p>
                                    </li>
                                    <li>
                                        <label>{{ 'region' | translate }} :</label>
                                        <p>{{ sourcing.harvestDetail?.region || 'NA' }}</p>
                                    </li>
                                    <li>
                                        <label>{{ 'type' | translate }} :</label>
                                        <p>{{ sourcing.harvestDetail?.type | abailabilityType }}</p>
                                    </li>
                                    <li>
                                        <label>{{ 'listing_status' | translate }} :</label>
                                        <p>{{ sourcing.harvestDetail?.listing_status | abailabilityListingStatus }}</p>
                                    </li>
                                    <ng-container *ngIf="!isStillParchment">
                                        <li>
                                            <label>{{ 'wet_mill_processing' | translate }} :</label>
                                            <p>{{ sourcing.harvestDetail?.wet_milling?.process }}</p>
                                        </li>
                                        <li>
                                            <label>{{ 'fermentation_hr' | translate }} :</label>
                                            <p>{{ sourcing.harvestDetail?.wet_milling?.fermentation }}</p>
                                        </li>
                                        <li>
                                            <label>{{ 'dry_milling_process' | translate }} :</label>
                                            <p>{{ sourcing.harvestDetail?.dry_milling?.process }}</p>
                                        </li>
                                        <li>
                                            <label>{{ 'drying_period' | translate }} :</label>
                                            <p>{{ sourcing.harvestDetail?.dry_milling?.drying_period }}</p>
                                        </li>
                                        <li>
                                            <label>{{ 'water_activity' | translate }} :</label>
                                            <p>{{ sourcing.harvestDetail?.dry_milling?.water_activity }}</p>
                                        </li>

                                        <li>
                                            <label>{{ 'moisture' | translate }} :</label>
                                            <p>{{ sourcing.harvestDetail?.dry_milling?.moisture_content }}%</p>
                                        </li>
                                    </ng-container>
                                    <li>
                                        <label>{{ 'packaging' | translate }} :</label>
                                        <p>{{ sourcing.harvestDetail?.packaging }}</p>
                                    </li>
                                    <li>
                                        <label>{{ 'shipping_to' | translate }} :</label>
                                        <p>{{ shippingTo }}</p>
                                    </li>
                                </ul>
                                <div class="pt-md-35">
                                    <a
                                        class="brown-cta"
                                        [href]="
                                            sourcing.estate?.slug
                                                | gcBrandLink: sourcing.harvestId:sourcing.harvestDetail?.name
                                        "
                                        target="_blank"
                                        rel="noreferrer"
                                    >
                                        {{ 'know_more_listing' | translate }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="sourcing.lot?.polygon_id" class="mx-n2 mx-md-0">
                <app-remote-sensoring [polygonId]="sourcing.lot?.polygon_id"> </app-remote-sensoring>
            </div>
        </div>
    </div>

    <div class="bg-white br-4 pl-2 px-md-3 px-lg-5 py-3 py-lg-4 mt-4">
        <div class="px-0">
            <div class="fnt-16 fnt-md-18 fw-b text-clr000 mt-lg-2 mb-3 mb-lg-4">
                {{ 'estates_other_green_coffee' | translate }}
            </div>
            <div
                *ngIf="sourcing.otherGreenList && sourcing.otherGreenList.length; else noOtherCoffee"
                class="row gutter-md-16 gutter-lg-26 card-block"
            >
                <div
                    class="col-lg-4 col-md-6 col-12 cursor-pointer card-wrap d-none d-md-block"
                    *ngFor="let item of sourcing.otherGreenList"
                    routerLink="/sourcing/coffee-details/{{ item.harvest_id }}"
                >
                    <app-harvest-card [data]="item"></app-harvest-card>
                </div>
                <!-- Mobile Carousel -->
                <div class="col-lg-4 col-md-6 col-12 cursor-pointer d-md-none">
                    <p-carousel [value]="sourcing.otherGreenList" [numVisible]="1" [numScroll]="1" [circular]="true">
                        <ng-template let-item pTemplate="item">
                            <div routerLink="/sourcing/coffee-details/{{ item.harvest_id }}">
                                <app-harvest-card [data]="item"></app-harvest-card>
                            </div>
                        </ng-template>
                    </p-carousel>
                </div>
            </div>
        </div>
    </div>
</section>

<ng-template #btnGroup>
    <div class="row gutter-16 gutter-md-12">
        <div class="col-6 col-md-auto">
            <button
                class="btn-stroked w-100"
                routerLink="/sourcing/order-gc-sample"
                [queryParams]="{ gc_id: sourcing.harvestId }"
            >
                {{ 'order_sample' | translate }}
            </button>
        </div>
        <div class="col-6 col-md-auto">
            <button
                class="btn-raised w-100"
                routerLink="/sourcing/buy-gc"
                [queryParams]="{ gc_id: sourcing.harvestId }"
                [disabled]="!buyable"
            >
                {{ 'buy' | translate }}
            </button>
        </div>
    </div>
</ng-template>

<ng-template #loading>
    <div class="main-block"><app-loading></app-loading></div>
</ng-template>

<ng-template #noOtherCoffee>
    <app-blank
        [title]="'no_data_available' | translate"
        button="Browse availabilities"
        link="/sourcing/coffee-list"
    ></app-blank>
</ng-template>
