.content-block {
    @media (min-width: 768px) {
        padding: 24px 16px;
    }
    @media (min-width: 992px) {
        padding: 32px 24px;
    }
}
.left-block {
    @media (min-width: 768px) {
        padding-right: 32px;
    }
    @media (min-width: 992px) {
        padding-right: 30px;
    }
}
.right-block {
    @media (min-width: 768px) {
        padding-left: 0;
    }
    @media (min-width: 992px) {
        padding-left: 6px;
    }
}
.checked {
    font-size: 16px;
    @media (min-width: 768px) {
        font-size: 22px;
    }
}

.btn-wrap {
    display: flex;
    @media (max-width: 767px) {
        div {
            width: 50%;
            button {
                width: 100%;
            }
        }
    }
}

.cert-img {
    height: 24px;
    width: auto;
    @media (min-width: 768px) {
        height: 50px;
    }
}

.produect-pro {
    border: solid 1px #747588;
}

.card-block {
    margin-top: -8px;
    margin-bottom: -8px;
    @media (min-width: 992px) {
        margin-top: -13px;
        margin-bottom: -13px;
    }
    .card-wrap {
        margin-top: 8px;
        margin-bottom: 8px;
        @media (min-width: 992px) {
            margin-top: 13px;
            margin-bottom: 13px;
        }
    }
}
