:host {
    .action-menu-icon {
        padding: 0.625rem;
        border-radius: 50%;
        @media (min-width: 992px) {
        }
        &:hover {
            background-color: #f7f7f7;
        }
        &:active {
            background-color: #eff5f2;
        }

        @media only screen and (max-width: 767px) {
            & {
                padding: 0.25rem;
            }
        }
    }
}
