.license-content-wrapper {
    @media (max-width: 767px) {
        .btn-raised,
        .btn-stroke {
            width: 100%;
        }
    }

    .certification-item {
        & > div {
            @media (max-width: 767px) {
                padding: 14px 0;
                width: 100%;
                &:first-child {
                    border-bottom: 1px solid #d6d6d6;
                }
            }
        }
        .divider {
            height: 18px;
            overflow: hidden;
        }

        @media (max-width: 767px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    .file-name {
        padding: 6px 13px 6px 16px;
        border-radius: 3px;
        background-color: #f8f8f8;
        display: flex;
        align-items: center;
        span {
            max-width: 150px;
        }
    }

    .button-wrapper {
        @media (max-width: 767px) {
            width: 100%;
        }
    }

    .certification-wrapper {
        .certification-name {
            width: 50%;
        }

        .certification-year {
            width: 50%;
        }
    }

    @media (max-width: 767px) {
        .certification-name {
            width: 100% !important;
        }

        .certification-year {
            width: 100% !important;
        }
    }

    @media (min-width: 1200px) {
        .certification-wrapper {
            width: 652px;
            .certification-name {
                width: 370px !important;
            }

            .certification-year {
                width: 270px !important;
            }
        }
    }
}
