<div animateOnScroll animationName="fadeIn" class="animation-bounce-in-up br-main br-4 h-100 d-flex flex-column">
    <div class="fnt-18 fnt-bold text-black334 br-4 bg-f8 p-2 m-1">Onboard Customers</div>
    <div class="m-3 d-flex flex-column justify-content-between align-items-stretch flex-fill">
        <div class="fnt-14 fnt-normal text-clr588 mb-3">
            Lorem ipsum dolor sit amet, consec tetu ad ipiscing elit, sed eiusmod tempor incidid unt ut labore et
            dolore.
        </div>
        <div class="text-right text-md-left">
            <button type="submit" class="btn-stroked" routerLink="/features/onboard-customers">Send Invite</button>
        </div>
    </div>
</div>
