@import 'variables';

:host {
    @media all and (max-width: 767px) {
        .lot-box {
            &:not(:first-child) {
                padding-top: 16px;
            }
            &:not(:last-child) {
                padding-bottom: 12px;
                border-bottom: 1px solid $secondary-border-color;
            }

            span {
                width: 50%;
            }
        }
    }

    .divider {
        border-bottom: 1px dashed $secondary-border-color;
    }
}
