<div class="d-flex flex-column flex-md-row fnt-14 lh-18">
    <div class="d-flex flex-row flex-md-column w-100">
        <span class="fnt-500 text-muted">{{ 'origin' | translate }}</span>
        <span class="mt-md-3 fnt-600 text-clr334">{{ commonService.getCountryName(lot?.origin) }}</span>
    </div>
    <div class="d-flex flex-row flex-md-column w-100">
        <span class="fnt-500 text-muted">{{ 'variety' | translate }}</span>
        <span class="mt-md-3 fnt-600 text-clr334">{{ lot?.varieties }}</span>
    </div>
    <div class="d-flex flex-row flex-md-column w-100">
        <span class="fnt-500 text-muted">{{ 'quantity' | translate }}</span>
        <span class="mt-md-3 fnt-600 text-clr334">{{
            lot?.order_type === OrderType.Sample ? ('sample' | translate) : quantity || '-'
        }}</span>
        <div
            class="navigation-link mt-2"
            *ngIf="lot"
            [routerLink]="['/sourcing/lot-details/', lot?.estate_id, lot?.lot_id]"
        >
            {{ 'view_lot_details' | translate }}
        </div>
    </div>
    <div class="d-flex flex-row flex-md-column w-100">
        <span class="fnt-500 text-muted">{{ 'rate_per' | translate }} kg</span>
        <span class="mt-md-3 fnt-600 text-clr334">
            {{ CURRENCY_LIST[lot?.total_price_unit] }}
            {{ lot?.unit_price | number: '1.0-3' }}
            {{ lot?.total_price_unit }}
        </span>
    </div>
    <div class="d-flex flex-row flex-md-column w-100">
        <span class="fnt-500 text-muted">{{ 'total' | translate }}</span>
        <span class="mt-md-3 fnt-600 text-clr334"
            >{{ CURRENCY_LIST[lot?.total_price_unit] }}{{ lot?.total_price }} {{ lot?.total_price_unit }}</span
        >
    </div>
</div>
