@import 'variables';
.page-wrapper {
    background: $white;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    .copy-btn {
        position: absolute;
        bottom: 0;
        right: 5px;
        padding: 8px 16px;
        margin: 16px;
        border-radius: 4px;
        background-color: $primary-bg-color;
        cursor: pointer;
    }
    .pr-45 {
        padding-right: 45px !important;
    }
    .expert-sm,
    .preparation-sm,
    .cooking-sm {
        white-space: nowrap;
    }

    .ingredient-block {
        .ingredient-details {
            width: 313px;
            margin: 16px 0 0;
            padding: 24px;
            border-radius: 4px;
            border: solid 1px $secondary-border-color;
            .saprator {
                margin: 16px 0;
                border-bottom: solid 1px $secondary-border-color;
            }
            .name {
                width: 150px;
                color: #636363;
                text-transform: capitalize;
            }
        }
    }
    .background-header {
        padding: 11px 15px;
        border-radius: 4px;
        background-color: $primary-bg-color;
    }
    .expertise-level-block {
        display: flex;
        align-items: center;
        padding: 24px;
        border-radius: 4px;
        background-color: $primary-bg-color;
        .expertise-level {
            font-family: $general-font-family;
            font-size: 18px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: $general-text-color;
        }
        .expertise {
            font-family: $general-font-family;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.57;
            letter-spacing: normal;
            color: #636363;
        }
    }

    .coffee-name {
        font-family: $general-font-family;
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $general-text-color;
    }
    .btn-controls {
        button {
            @media (max-width: 767px) {
                width: 100%;
                margin-bottom: 8px;
            }
        }
    }
    @media (max-width: 767px) {
        background: $primary-bg-color;
        .expert-sm {
            border-right: solid 1px $primary-border-color;
            border-bottom: solid 1px $primary-border-color;
            padding: 0 16px 16px 0 !important;
            white-space: break-spaces;
            width: 50%;
            .expertise {
                width: 50px;
            }
        }
        .preparation-sm {
            width: 50%;
            padding: 0 16px 16px 15px !important;
            padding-right: 0 !important;
            border-bottom: solid 1px $primary-border-color;
            white-space: break-spaces;
        }
        .cooking-sm {
            width: 50%;
            padding: 16px 23px 0 0 !important;
            border-right: solid 1px $primary-border-color;
            white-space: break-spaces;
        }
        .serving-sm {
            width: 50%;
            padding: 16px 23px 0 15px !important;
            padding-right: 0 !important;
        }
        .expertise-level-block {
            flex-wrap: wrap;
        }
    }
    @media (max-width: 768px) {
        .pr-45 {
            padding-right: 16px !important;
        }
    }
}

.align-original {
    position: relative;
    bottom: 5px;
}

.align-arrow {
    position: relative;
    bottom: 12px;
}

::ng-deep .directions img {
    margin-top: 0.5rem !important;
    width: 100% !important;
}

::ng-deep .drop-add {
    top: -14px !important;
    right: -10px !important;
}

::ng-deep .p-disabled,
.p-component:disabled {
    background: #f8f8f8 !important;
}

.disable-color {
    color: #676767;
    opacity: 1;
}

::ng-deep.p-component:disabled {
    opacity: 0.8;
}

.description {
    min-height: 125px;
}

.button-list {
    margin: 0 4px 5px 0;
    padding: 7px 10px 8px;
    border-radius: 4px;
    background-color: #eaeaea;
    border: none;
    @media (min-width: 768px) {
        margin: 0 12px 0 0;
        padding: 10px 15px;
    }
}

.border-btm {
    border-bottom: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
}

.border-mob {
    @media (max-width: 768px) {
        border: 1px solid #e3e3e3;
        border-radius: 0.25rem;
    }
}

.border-d6 {
    border: 1px solid $primary-border-color;
}
