<section>
    <div class="container sewn-container section-head-pad">
        <div class="bg-fff">
            <div class="process_cont">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="back-page w-100">
                            <a><img src="assets/images/back-arrow-1.png"> Back</a>
                        </div>
                        <div class="details_heading">
                            <h1 class="fnt-play">Process details</h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-12 pr-lg-0">
                        <div class="process_info">
                            <ul class="clearfix">
                                <li><label>Wet Mill</label>
                                    <p>Tapucha Mill</p>
                                </li>
                                <li><label>Wet Mill Processing</label>
                                    <p>Fully Washed</p>
                                </li>
                                <li><label>Wet Mill Process description</label>
                                    <p>For fully-washed beans, first of all, once picked the cherries are put in water in order to separate them out. The ripe ones will sink, whereas the poor ones will float. Then, the skin of the cherry and some of the pulp is removed from each individual bean by pressing it through a screen using a machine.</p>
                                </li>
                                <li><label>Fermentation/h</label>
                                    <p>12hrs</p>
                                </li>
                                <li><label>Parchment weight after milling</label>
                                    <p>270Kg</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12 mt-lg-0 mt-3">
                        <div class="process_info">
                            <ul class="clearfix">
                                <li><label>Dry Mill<span class="mill-star">*</span></label>
                                    <p>Tapucha Mill</p>
                                </li>
                                <li><label>Dry Mill Processing*</label>
                                    <p>Semi - dried</p>
                                </li>
                                <li><label>Dry Mill Process description*</label>
                                    <p>
                                        For fully-washed beans, first of all, once picked the cherries are put in water in order to separate them out. The ripe ones will sink, whereas the poor ones will float. Then, the skin of the cherry and some of the pulp is removed from each individual bean by pressing it through a screen using a machine.
                                    </p>
                                </li>
                                <li><label>Drying Period*</label>
                                    <p>24hrs</p>
                                </li>
                                <li><label>Screen Size*</label>
                                    <p>11, 13, 15</p>
                                </li>
                                <li><label>Density</label>
                                    <p>-</p>
                                </li>
                                <li><label>Number of Defects*</label>
                                    <p>8</p>
                                </li>
                                <li><label>Preparation*</label>
                                    <p>-</p>
                                </li>
                                <li><label>Quality grade*</label>
                                    <p>AA</p>
                                </li>
                                <li><label>Moisture content*</label>
                                    <p>8%</p>
                                </li>
                                <li><label>Water activity*</label>
                                    <p>0.62</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</section>    
