.delivery__body{
    /* padding: 0px 16px 24px 24px; */
    padding-left: 12px;
}
.list_delivery li:first-child{
    width: 18%;
}
.list_delivery li:nth-child(2){
    width: 61%;
}
.list_delivery li:nth-child(3){
    width:21%;
}
.list_delivery{
    /* border-bottom: solid 1px #dddddd; */
    padding-bottom: 24px;
}
.list_delivery_1{
    border-bottom: none;
}
.ft_image{
    width: 70px;
    height: 70px;
}
.message__total{
    border-radius: 2px;
    border: solid 1px #747588;
    color: #747588;
    padding: 4px 8px;
}
.dimello-siena{
    font-size: 20px;
    font-weight: bold;
    color: #232334;
}
.whole_bean,.confirm__order__total p,.delivery__number,.delivery__receiver{
    font-size: 14px;
    font-weight: 600;
    color: #747588;
}
.total_amount,.confirm__order__total h1{
    font-size: 18px;
    font-weight: bold;
    color: #747588;
}
.view_text{
    font-size: 14px;
    font-weight: bold;
    color: #80460b;
    text-decoration: underline;
}
.delivery__name{
    font-size: 16px;
    font-weight: bold;
    color: #232334;
}
.delivery__receiver span{
    font-weight: bold;
    color: #232334;
}
.star__total span{
    font-size: 12px;
    font-weight: 600;
    color: #232334;
}
.payment__sec{
    border-top: solid 1px #dddddd;
    padding-left: 12px;
}
.receipt-btn {
    font-family: Muli;
    font-size: 14px;
    font-weight: 500;
    border-radius: 2px;
    border: solid 1px #747588;
    color: #232334;
}
.payment-title{
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}
.status_div{
    font-size: 18px;
    font-weight: 500;
    color: #232334;
}

.procedure__view {
    font-size: 14px;
    font-weight: bold;
    color: #80460b !important;
    cursor: pointer;
    text-decoration: underline !important;
}
.view-story{
    font-family: Muli;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.57;
    color: #80460b !important;
    text-decoration: underline !important;
    cursor: pointer;
}
.qr-shipment-div{
    border-left: 1px solid #d6d6d6;
}