.profile-image {
    width: 94px;
    height: 94px;
    border-radius: 50%;
}

::ng-deep {
    .small-info-text .user-name-text {
        font-size: 14px !important;
        color: #232334;
        font-weight: bold;
    }
}
