@import 'variables';

:host ::ng-deep {
    .p-datatable.p-datatable-responsive .p-datatable-tbody > tr > td .p-column-title {
        width: 50% !important;
    }
}

::ng-deep .modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 0;
}
