@import 'variables';

.container-marg {
    margin: 0 8.5rem;
    @media (max-width: 768px) {
        margin: 1.5rem -0.5rem 0 -0.5rem;
    }
}
::ng-deep {
    .tabview-create-post {
        .p-tabview-nav {
            position: relative;
            li {
                margin-right: 0;
                border-right: 1px solid $secondary-border-color;
                &:nth-last-child(-n + 2) {
                    border-left: 1px solid $secondary-border-color;
                    @media (min-width: 768px) {
                        position: absolute;
                    }
                    right: -1px;
                }
                .p-tabview-nav-link {
                    padding: 15px 16px 13px 16px !important;
                    img {
                        display: inline-block;
                        width: 24px;
                        &.active-icon {
                            display: none;
                        }
                    }
                }
            }
            .p-highlight {
                background-color: rgba(48, 133, 92, 0.16) !important;
            }
        }
    }
}
