::ng-deep {
    .tabview-create-post {
        .p-tabview-nav {
            li {
                margin-right: 0;
                .p-tabview-nav-link {
                    padding: 0 16px 4px 16px !important;
                    img {
                        display: inline-block;
                        &.active-icon {
                            display: none;
                        }
                    }
                }
                &.p-highlight {
                    img {
                        display: none;
                        &.active-icon {
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}
