@import 'variables';

.container-marg {
    margin: 0 8.5rem;
    @media (max-width: 768px) {
        margin: 0;
    }
}
::ng-deep {
    .tabview-create-post {
        .p-tabview-nav {
            li {
                margin-right: 0;
                @media (max-width: 767px) {
                    padding-top: 16px;
                    border-right: 1px solid $secondary-border-color;
                }
                &:nth-child(3) {
                    border-right-width: 0;
                }
                .p-tabview-nav-link {
                    padding: 15px 16px 13px 16px !important;
                    img {
                        display: inline-block;
                        width: 24px;
                        &.active-icon {
                            display: none;
                        }
                    }
                }
                &.p-highlight {
                    img {
                        display: none;
                        &.active-icon {
                            display: inline-block;
                        }
                    }
                }
            }
            .p-highlight {
                background-color: rgba(48, 133, 92, 0.16) !important;
            }
        }
    }
}
