@import '_variables.scss';

.faq-card {
    .question-wrap {
        height: 50px;
        padding-left: 4px;
        padding-right: 8px;
        cursor: move;

        span {
            margin-left: 16px;
            color: $button-icon-color;
            transform: rotate(-180deg);
            transition: all 0.2s;
        }

        &.collapsed {
            span {
                transform: rotate(0deg);
            }
        }

        .move-icon {
            height: 20px;
        }

        @media (min-width: 768px) {
            padding-left: 6px;
            padding-right: 16px;
            .move-icon {
                height: 24px;
            }
        }
    }
    .answer-wrap {
        padding: 8px 8px;
    }
}
