@import '_variables.scss';

.faq-card {
    .question-wrap {
        height: 50px;
        padding-left: 6px;
        padding-right: 16px;
        cursor: move;

        span {
            margin-left: 16px;
            color: $button-icon-color;
            transform: rotate(-180deg);
            transition: all 0.2s;
        }

        &.collapsed {
            span {
                transform: rotate(0deg);
            }
        }
    }
    .answer-wrap {
        padding: 8px 8px;
    }
}
