:host {
    color: #232334;
}

.agreement-item {
    display: block;
    border-bottom: 1px dashed #cccccc;
    &:hover {
        color: #232334;
    }
    &:last-child {
        border-width: 0;
    }
}
