<div class="main-block">
    <div class="bg-white content-container">
        <div class="mb-45 fnt-14 d-none d-md-block">
            <p-breadcrumb [model]="breadcrumbItems"></p-breadcrumb>
        </div>

        <div class="mb-4 d-block d-md-none">
            <a class="back-page" (click)="location.back()">
                {{ 'back' | translate }}
            </a>
        </div>

        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="mb-2 mb-md-25 fnt-16 fnt-md-18 font-weight-bold">
                    {{ 't_and_c_and_policies' | translate }}
                </div>
                <div class="text-clr588 fnt-14 fw-m font-weight-md-normal">
                    {{ 'privacy_subtext' | translate }}
                </div>
            </div>
        </div>

        <div class="d-block d-md-none mb-4 border-bottom-dashed-primary"></div>

        <div class="row p-0 border-md-main round-4 p-md-45 mx-0 mb-4">
            <div class="col-lg-6 px-0 pb-lg-2">
                <div class="fnt-16 fnt-md-18 font-weight-bold mt-0 mt-md-2 mb-1 mb-md-2">
                    {{ 'agreements' | translate }}
                </div>
                <ng-container *ngFor="let agreement of agreements">
                    <a
                        *ngIf="agreement.isShow"
                        [href]="agreement.url"
                        target="_blank"
                        rel="noreferrer"
                        class="py-25 py-md-3 agreement-item"
                    >
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="fnt-14 fnt-md-16 fw-m text-clr334 mr-4">
                                {{ agreement.title | translate }}
                            </div>
                            <img src="assets/images/icon-arrow-right.svg" alt="icon" width="16" height="16" />
                        </div>
                    </a>
                </ng-container>
            </div>
        </div>
    </div>
</div>
