<div class="page-not-found">
    <div class="col-lg-12 col-md-12 welcome-sec">
        <div class="text-center pink">
            <img src="assets/images/no-data.svg" alt="welcome-illustration" class="error-image" />
            <h1 class="error-header">No data available</h1>
            <p class="error-sub-text">There are no ongoing orders! Browse the availble green coffee to get going</p>
            <div class="text-center error-button">
                <button type="button" class="fnt-14 fw-m add-tem-butn" [routerLink]="['/']">
                    Browse availabilities
                </button>
            </div>
        </div>
    </div>
</div>
