.border-sourcetable {
    border-radius: 4px;
    border: solid 1px #d6d6d6;
    padding: 6px 4px;
    margin-top: 0.7rem;
}

.table-container {
    margin: 2% 4.5% 0 4.5%;
}

.table-header {
    border-radius: 4px;
    background-color: #f8f8f8;
}

table th,
table td,
.header-row {
    border: none !important;
}

tr {
    border-bottom: 1px dashed #d6d6d6;
}

tr:last-child {
    border-bottom-style: none;
    border-bottom-color: none;
}

.table .table-header th {
    font-family: Muli;
    font-size: 14px;
    font-weight: bold;
    color: #232334;
    padding-left: 2rem;
}

.table td {
    padding: 1rem 2rem;
}

.ticket-boby-txt {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    color: #232334;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.lot-class {
    color: #80460b !important;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline !important;
}

.checked {
    color: #ffc107;
}