.search {
    font-family: 'Muli';
    height: 36px;
    border-radius: 8px;
    border: solid 1px #d6d6d6;
    background-color: #ffffff;
    padding-left: 45px;
}

.border-lots {
    border-radius: 4px;
    border: solid 1px #d6d6d6;
    padding: 6px 4px;
}

.table-container {
    margin: 2% 4.5% 0 4.5%;
}

.table-header {
    border-radius: 4px;
    background-color: #f8f8f8;
}

table th, table td, .header-row {
    border: none !important;
}

tr {
    border-bottom: 1px dashed #d6d6d6;
}

tr:last-child {
    border-bottom-style: none;
    border-bottom-color: none;
}

.table .table-header th {
    font-family: Muli;
    font-size: 13px;
    font-weight: bold;
    color: #232334;
    padding: 14px 15px;
}

.table td {
    padding: 18px 15px;
}

.ticket-boby-txt {
    font-family: Muli;
    font-size: 13px;
    font-weight: 600;
    color: #232334;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.ticket-boby-txt:hover {
    box-shadow: 0 12px 34px 0 rgba(0, 0, 0, 0.1);
}

.estate-orders {
    position: relative;
}

.row {
    color: #232334 !important;
    font-size: 14px !important;
    font-weight: bold !important;
    font-family: 'Muli' !important;
    border-bottom: none !important;
}

.customer {
    height: 46px;
    width: 50%;
    -webkit-appearance: none;
    background: url('../../../../../assets/images/role-down.svg') right 16px top 16px no-repeat;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    font-size: 16px;
    font-family: Muli;
    font-weight: 600;
    cursor: pointer;
    color: #747588;
}

/**********popover*******/

.list-group-item {
    border: none;
    font-family: 'Muli';
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #747588;
}

.list-group-item:hover {
    color: #232334;
    font-weight: 600;
    background-color: #f8f8f8;
}

.menu-arrow {
    cursor: pointer;
    position: relative;
    top: 6px;
}

@media (max-width:1024px) {
    .estate-table {
        overflow: scroll;
    }
    .estate-table table {
        width: 1024px;
    }
}

@media (max-width:480px) {
    .estate-orders {
        margin: 1rem 0px;
    }
}

.share-txt {
    font-family: 'Muli';
    font-size: 14px;
    font-weight: 500;
    color: #232334;
    position: relative;
    top: 2px;
}

.text-black2424 {
    color: #232334;
}

.dwnd-img {
    width: 15px;
    height: 15px;
    position: relative;
    right: 6%;
}

.share-bor {
    cursor: pointer;
    padding: 8px 12px 9px 12px;
    border-radius: 2px;
    border: solid 1px #747588;
}

.upload-order {
    background-color: #ffffff;
    padding: 8px 12px;
}

.file-input {
    opacity: 0;
    visibility: hidden;
    display: none;
}

.cust-pad-left {
    padding-left: 2.5rem !important;
}

.cust-width {
    width: 40%;
}

/* MOdal popup css */

button:disabled {
    opacity: .5 !important;
}

.custom-width-30 {
    width: 20%;
}

.star-mark {
    color: #d50000;
}

.modal-content {
    padding: 15px !important;
}

.modal-header {
    padding: 0 0 15px 0 !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.modal-content .close {
    padding: 0 !important;
    margin: 0 !important;
}

.modal-content .close span {
    font-size: 35px;
    line-height: 0;
}

.modal-content .close:focus {
    box-shadow: none !important;
    outline: 0;
    border: 0;
}

.modal-body {
    padding: 15px 0 0 0 !important;
}

.modal-backdrop {
    background-color: rgb(0, 0, 0) !important;
}

.modal-backdrop.show {
    opacity: 0.8 !important;
}

.modal-footer {
    border: 0 !important;
    padding: 15px 0 0 0 !important;
}

@media (min-width: 768px) {
    .modal-content {
        padding: 20px !important;
    }
    .modal-header {
        padding: 0 0 20px 0 !important;
    }
    .modal-body {
        padding: 20px 0 0 0 !important;
    }
    .modal-footer {
        padding: 20px 0 0 0 !important;
    }
}

@media (min-width: 992px) {
    .modal-header {
        padding: 0 0 25px 0 !important;
    }
    .modal-body {
        padding: 25px 0 0 0 !important;
    }
    .modal-large {
        max-width: 740px !important;
    }
    .modal-small {
        max-width: 449px !important;
    }
    .modal-footer {
        padding: 25px 0 0 0 !important;
        border: 0 !important;
    }
    .modal-content {
        padding: 25px !important;
        width: 89.5% !important;
    }
    .btn-padding {
        padding: 12px 38px;
    }
}

/*  media query Fram Link */

@media (max-width:767px) {
    .bg-fff {
        padding: 1rem .7rem;
    }
    .estate-table {
        margin: 1rem 0rem;
    }
    .mobile-ce p {
        margin-bottom: .5rem !important;
    }
    .bor-d6d6 {
        border-top: 2px dashed #d6d6d6;
        padding-bottom: 5px;
    }
    .agreement-top {
        margin-top: 2rem;
    }
    .custom-width-30 {
        width: 25%;
    }
    .top-padd {
        top: 8px;
    }
}

@media (max-width: 480px) {
    .custom-width-30 {
        width: 30%;
    }
}

@media (max-width: 360px) {
    .custom-width-30 {
        width: 34%;
    }
}

.delete__text {
    color: #5d5d5d;
}

.p-invalid {
    font-family: 'Muli';
    font-size: 14px;
    font-weight: 600;
    color: #d50000;
}

.arrow-align {
    width: 20px;
    position: relative;
    bottom: 2px;
}

.file_url {
    color: #232334 !important;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Muli';
    text-decoration: none !important;
}

.oh-noh {
    font-family: 'PlayfairDisplay';
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #020202;
}

#bord-right {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#bord-left {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.custom-radio {
    display: block;
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Muli';
    font-size: 14px;
    font-weight: normal;
    color: #020202;
}

.custom-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #979797;
}

.custom-radio input:checked~.checkmark {
    border-color: #30855c !important;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-radio input:checked~.checkmark:after {
    display: block;
}

.custom-radio .checkmark:after {
    top: 5px;
    left: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #30855c;
}