<div class="row pb-md-7">
    <div class="col-lg-7 col-md-7 col-sm-12 bulk-details-content">
        <h4 class="sub-title">Bulk details</h4>
        <table class="recent-time">

            <tr>
                <td> <span class="list-que"> Flavour profile :  </span></td>
                <td> <span class="list-ans"> {{bookedService.flavours}} </span> </td>

            </tr>
            <tr>
                <td> <span class="list-que">  Listing Status : </span></td>
                <td> <span class="list-ans">  {{bookedService.listing_status}} </span> </td>

            </tr>
            <tr>
                <td> <span class="list-que">  {{globals.languageJson?.processing}}: </span></td>
                <td> <span class="list-ans">  {{bookedService.processing_types}} </span> </td>

            </tr>

            <tr>
                <td> <span class="list-que">  {{globals.languageJson?.type}}: </span></td>
                <td> <span class="list-ans"> {{bookedService.type}}</span> </td>

            </tr>

            <tr>
                <td> <span class="list-que">  {{globals.languageJson?.species}}: </span></td>
                <td> <span class="list-ans">  {{bookedService.species}} </span> </td>

            </tr>

            <tr>
                <td> <span class="list-que">   {{globals.languageJson?.quality}}: </span></td>
                <td> <span class="list-ans">  - </span> </td>

            </tr>

            <tr>
                <td> <span class="list-que"> Packaging : </span></td>
                <td> <span class="list-ans">  {{bookedService.packaging}} </span> </td>

            </tr>

            <tr>
                <td> <span class="list-que"> Water activity : </span></td>
                <td> <span class="list-ans">  {{bookedService.water_activity}}</span> </td>

            </tr>

            <tr>
                <td> <span class="list-que">ICO : </span></td>
                <td> <span class="list-ans"> {{bookedService.ico_number}}</span> </td>

            </tr>

        </table>

    </div>
</div>