
/* ================== USER MANAGEMENT CSS =====================*/

.page-breadcrumb{
    background-color: #FFFFFF;
    margin: 1% 5% 2% 4%;
}
.table-container{
    margin: 1% 5% 0% 5%;
}
.page-wrapper{
    background-color: #FFFFFF;
}
.create-role-btn{
    color: white;
    border-radius: 8px;
    background-color: #3d8462;
}
.view-btn,.add-btn{
    border-radius: 8px;
    border: solid 1px #3d8462;
    background-color: #ffffff;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #3d8462;
}
.list-group-item{
    border: none;
    font-family: 'Montserrat';
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
} 
.item-color{
  color: #666666;
    font-weight: 500;
}
.menu-arrow{
    cursor: pointer;
}
::ng-deep .popover-body{
    padding: 0 !important;
}
::ng-deep .popover{
    border: none !important;
    border-radius: 5px !important;
    box-shadow: 0 0 17px 2px rgba(27, 27, 27, 0.08) !important;
    background-color: #ffffff;
}
::ng-deep .bs-popover-bottom .arrow:after{
    top:0px !important;
}
.pointer-item{
    cursor: pointer;
}
/* .popover{
    border: 1px solid #FFFFFF;
    border-radius: 5px !important;
    position: absolute;
transform: translate3d(988px, 253px, 0px);
top: 0px;
left: 0px !important;
will-change: transform;
} */
.table-header{
    border-radius: 8px;
background-color: #faf8f4;
}
.header-row{
    border: none !important;
}
table th,table td{
    border: none !important;
}
tr{
    border-bottom: 1px dashed #ddd;
}
tr:last-child {
    border-bottom-style: none;
    border-bottom-color: none;
}
.table thead th {
    color: #87623b;
    font-weight: 600;
    font-family: 'Montserrat';
}
 span.checkmark{
    background-color: white;
    border: 1px solid #666666;
    border-radius: 4px;
}
.customcheckbox input:checked ~ .checkmark {
background-color: #000;
}
.breadcrumb-item a { 
    color: #666666;
 }
 .breadcrumb-item.active{
    color: #000;
 }
 table td{
      font-family: 'Montserrat';
font-size: 14px;
font-weight: 500;
font-stretch: normal;
font-style: normal;
line-height: normal;
letter-spacing: normal;
color: #000000;
 }
 .title-header{
    margin: 3% 5% 0% 5%
 }
 .page-title{
    font-family: 'Montserrat';
font-size: 18px;
font-weight: 600;
font-stretch: normal;
font-style: normal;
line-height: normal;
letter-spacing: normal;
color: #000000;
 }
 .search{
    width: 255px;
    font-family: 'Montserrat';
height: 36px;
border-radius: 8px;
border: solid 1px #cccccc;
background-color: #ffffff;
background: url(../../../assets/images/grey.png) no-repeat scroll 12px 5px;
padding-left:45px;
 }
 .filter{
    font-family: 'Montserrat';
    font-weight: 600;
    color: #3d8462;
 }
 .status-active{
        color: #1fa83a;
        margin-bottom: 0;
        font-weight: bold;
 }
 .status-disabled{
    color: #666666;
    margin-bottom: 0;
    font-weight: bold;
 }

 a.b-cum:hover{
        color: #000000;
          text-decoration: underline;
          font-weight: bold;
 }


/*=============== For Card layout ==================*/

/* Float four columns side by side */
.column {
float: left;
width: 50%;
padding: 0 10px;
box-sizing: border-box;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}
/* Style the counter cards */
.card {
/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
/* padding: 15px 0px; */
text-align: center;
background-color: #faf8f4;
font-size: 13px;
}
.header_main{
/* color: #a8a8a89e !important; */
background-color: #FFFFFF !important;
border: 1px solid #666666;
}
.name_head{
border-bottom: 1px solid #f9e8e8;
padding: 2%;
}
.last_head{
border-bottom: 1px solid #f9e8e8;
padding: 2%;
}
.email_head{
border-bottom: 1px solid #f9e8e8;
padding: 2%;
}
.status_head{
border-bottom: 1px solid #f9e8e8;
padding: 2%;
}
.roles_head{
border-bottom: 1px solid #f9e8e8;
padding: 2%;
}
.action_head{
padding: 2%;
}
.data_role{
padding-top: 5%;
}
.name_data{
padding-top: 5%;
}

/* .dyn-data{
    list-style: none;
    padding:0
} */
.dyn-data {
    padding-left: 0;
     width: 100%;
     /* padding-top:2rem; */
      border-bottom: 1px solid #dddddd; 
      list-style: none;
      padding-bottom: 4%;
      padding-top: 2%;
    }

.dyn-data  li:nth-child(1){width: 7%;}
.dyn-data  li:nth-child(2){width:73%; 
    padding-left: 5%;
    /* padding-right: 5%; */
}
.dyn-data  li:nth-child(3){width: 21%;}
.salemark{
    font-size: 13px;
    font-family: Montserrat;
    padding-bottom: 2px;

}
.top-space{
    margin-top: 2.8rem;
    /* float: right; */
    font-size:12px;
}
.user-name,.roles{
    color:#000000;
    font-weight: 600;
    

}
.checkmark {
    top: 2px !important;
    left: 8px !important;
    height: 17px !important;
    width: 17px !important;
}
.customcheckbox .checkmark:after {
    left: 5px !important;
    top: 1px !important;
}
/* .image-class{
    float: right;
} */
.delete_row{
    border: none;
    margin-right: 4%;
    margin-bottom: 3%;
}
/*************Modal css ************/
.update-title{
    color: #1F1F1F;
    font-weight: 600;
    font-size: 18px;
  }
  .icon-select{
    width: 20px;;
  }
  .heading{
    word-wrap: break-word;
  }
  select{
    width: 190px;
    height: 35px;
    padding: 5px 0px 5px 5px;
    border: none;
    /* background-color: #FDFDFD; */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-decoration: underline;
    cursor: pointer;
    }
    select::-ms-expand {
    display: none; /* remove default arrow in IE 10 and 11 */
    }
    option{
        padding: 5px;
        border: none;
        border-bottom-width: 1px !important;
        border-bottom-style: inset !important;
        border-bottom-color: #d0caca;
        padding-bottom: 10px;
        font-size: 14px;
    }
    .btn:focus,.btn:active{
        outline: none !important;
        box-shadow: none !important;
    }
    .chn-btn{
      background-color: #256547;
      border:1px solid #256547;
      color: #FDFDFD;
      font-weight: 600;
      font-size: 14px;
      padding: 2% 10%;
    }
    .main_button{
      text-align: center;
    }
    .loader{
        height: 17px;
        width: 17px;
        margin-left: 4px;
        margin-top:-4px;
    }
@media only screen and (min-width: 320px) and (max-width: 920px)  {
.desk_view_user{
    display: none !important;
}
.mobile_view_user{
    display: block !important;
    margin-top: 0%;
}
.list-group-item{
    border: none;
    font-family: 'Montserrat';
  font-size: 10px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
} 
.dyn-data{
    padding-top: 6%;
}
/* .popover-body{
    box-shadow: 0 0 17px 2px rgba(27, 27, 27, 0.08);
    background-color: #ffffff;
    padding: 0;
}
.popover{
    border: 1px solid #FFFFFF;
    border-radius: 5px !important;
    position: absolute;
transform: translate3d(988px, 253px, 0px);
top: 0px;
left: 0px !important;
will-change: transform;
} */
.page-breadcrumb{
    margin: 0;
    padding: 15px 0px 10px 0px !important;
}
 .page-title{
    display: inline-block!important;
    font-size: 16px;
    /*text-align: center;*/
 }
 .title-header{
    margin-left: 0% !important;
 }
}

@media only screen and (min-width: 767px){
.desk_view_user{
display:block;
padding: 0;
}
.mobile_view_user{
  display: none;
}
}
/* Responsive columns */
@media screen and (max-width: 767px) {
.column {
  width: 100%;
  display: block;
  margin-bottom: 20px;
}
.spacing-top{
    margin-top: 1.4rem !important;
 }
 .search-div,.role-div,.status-div,.page-title{
    display: inline-block!important;
    text-align: center;
    margin-bottom: 0% !important;
 }
 .title-header{
    margin-left: 0% !important;
 }
 .search{
     height: 46px;
     width: 100%;
 }
 .page-title{
     text-align: left;
     font-weight: bold;
     color: #87623b;
     margin-top: 2%;
     padding-left: 0;
 }
 .search-div{
     text-align: left;
     margin-bottom: 5% !important;
     margin-top: 5%;
     padding: 0;
 }
 .search{
    background: url(../../../assets/images/grey.png) no-repeat scroll 12px 10px;
 }
 .role-div{
display: inline !important;
 }
 .status-div{
    
    display: inline !important;
    /* margin-bottom:2%; */
    padding-left: 0px;
 }
 .mobile_view_user{
     border-top: 1px dashed #f2efeb;
 }

 .mobile-content{
     margin-top: 5%;
 }
 
}

.table td, .table th {
    vertical-align: middle !important;
}

.body-check{
    top:-6px !important;
}

.head-check{
    top:-6px !important;
}
