/* ================== USER MANAGEMENT CSS =====================*/

.page-breadcrumb {
    background-color: #FFFFFF;
    margin: 1% 5% 2% 4%;
}

.filter-text {
    color: #747588;
    font-size: 14px;
    font-weight: normal;
    font-family: Muli;
}

.table-container {
    margin: 22px 3rem 0 3rem;
    border-radius: 4px;
    border: solid 1px #d6d6d6;
    padding: 4px;
}

.page-wrapper {
    background-color: #FFFFFF;
}

.create-role-btn {
    color: white;
    border-radius: 8px;
    background-color: #3d8462;
}

.delete_name_txt {
    font-family: 'Muli';
    font-size: 14px;
    font-weight: 500;
    color: #232334;
    line-height: 24px;
    vertical-align: middle !important;
}

.view-btn,
.add-btn {
    border-radius: 8px;
    border: solid 1px #3d8462;
    background-color: #ffffff;
    font-family: 'Muli';
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #3d8462;
}

.search-raised {
    width: 70%;
    height: 38px;
    background-color: #fff;
    background: url(/assets/images/search-user.png) no-repeat scroll 11px 11px;
    background-size: 16px 16px;
    padding-left: 41px;
    font-family: Muli;
    font-size: 14px;
    font-weight: normal;
    color: #232334;
    margin-left: 4.7rem;
    border-radius: 4px;
    border: solid 1px #d6d6d6;
    background-color: #ffffff;
}

.list-group-item {
    border: none;
    font-family: 'Muli';
    font-size: 12px;
    font-weight: 600 !important;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #747588;
    cursor: pointer;
}

.list-group-item:hover {
    color: #232334;
    font-weight: 600 !important;
    background-color: #f8f8f8;
}

.menu-arrow {
    cursor: pointer;
}

.user-list-detail .list-item {
    border: none;
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    color: #747588;
}

.user-list-detail .list-item:hover {
    color: #232334;
    font-weight: 600;
    background-color: #f8f8f8;
}

.user-list-detail .list-data li {
    width: auto !important;
    padding: 13px 5rem 13px 16px !important;
}

.ellipse-image {
    /* width: 2px;
    height: 14px; */
}

::ng-deep .popover-body {
    padding: 0.25rem 0.25rem !important;
}

::ng-deep .popover {
    border: none !important;
    border-radius: 5px !important;
    box-shadow: 0 0 17px 2px rgba(27, 27, 27, 0.08) !important;
    background-color: #ffffff;
    top: 4px !important;
}

::ng-deep .bs-popover-bottom .arrow:after {
    top: 0px !important;
}

::ng-deep .tooltiptext {
    visibility: hidden;
    width: auto;
    object-fit: contain;
    border-radius: 4px;
    box-shadow: 0 -22px 34px 0 rgba(0, 0, 0, 0.08);
    border: solid 0.5px #ebebeb;
    background-color: #ffffff;
    line-height: 1.43;
    letter-spacing: normal;
    color: #747588;
    font-size: 14px;
    text-align: center;
    padding: 15px 20px 15px 20px;
    left: 22%;
    display: inline;
    margin-top: 2%;
    margin-left: 1.5%;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    left: 15%;
}

 ::ng-deep .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 12%;
    margin-left: -5px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent;
}

 ::ng-deep td:hover .tooltiptext {
    visibility: visible;
}

 ::ng-deep .table_ellipsis {
    max-width: 45px;
    /* width: 54px; */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 10%;
    /* position: relative; */
}

.pointer-item {
    cursor: pointer;
}


/* .popover{
    border: 1px solid #FFFFFF;
    border-radius: 5px !important;
    position: absolute;
transform: translate3d(988px, 253px, 0px);
top: 0px;
left: 0px !important;
will-change: transform;
} */

.table-header {
    border-radius: 4px;
    background-color: #f8f8f8;
}

.header-row {
    border: none !important;
}

table th,
table td {
    border: none !important;
}

tr {
    border-bottom: 1px dashed #d6d6d6;
}

tr:last-child {
    border-bottom-style: none;
    border-bottom-color: none;
}

.table thead th {
    color: #232334;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Muli';
}

span.checkmark {
    background-color: #fff !important;
    border: solid 1px #979797;
    border-radius: 2px;
}

.customcheckbox input:checked~.checkmark {
    background-color: #30855c !important;
}

.breadcrumb-item a {
    color: #666666;
}

.breadcrumb-item.active {
    color: #000;
}

table td {
    font-family: 'Muli';
    font-size: 14px;
    font-weight: normal;
    color: #232334;
}

.title-header {
    margin: 3% 3rem 0% 3rem;
}

.bread-nav {
    padding-top: 2rem;
    padding-left: 3rem;
}

.page-title {
    font-family: 'Muli';
    font-size: 18px;
    font-weight: bold;
    color: #232334;
}

.search {
    width: 255px;
    font-family: 'Muli';
    height: 36px;
    border-radius: 8px;
    border: solid 1px #d6d6d6;
    background-color: #ffffff;
    background: url(../../../assets/images/grey.png) no-repeat scroll 12px 5px;
    padding-left: 45px;
}

.filter {
    font-family: 'Muli';
    font-weight: 600;
    color: #232334;
    font-size: 14px;
}

.border-total {
    border-radius: 20px;
    border: solid 1px #d6d6d6;
    background-color: #ffffff;
    padding: 10px 12px;
    cursor: pointer;
}

.oh__text {
    color: #020202;
}

.delete__text {
    color: #5d5d5d;
}

.cancel-btn {
    color: #30855c;
    border-radius: 4px;
    border: 1px solid #30855c;
    background-color: #fff;
    cursor: pointer;
}

.cancel-btn:hover {
    background-color: #30855c;
    color: #fff;
}

.delete-btn {
    color: #fff;
    border-radius: 4px;
    background-color: #30855c;
}

.delete-btn:hover {
    box-shadow: 0 0 7px 1px rgba(67, 146, 108, 0.5);
}

.cancel-btn,
.delete-btn {
    font-family: Muli;
    font-size: 14px;
    font-weight: 700;
    padding: 11px 30px;
}


/* .border-total.current {
    border-radius: 20px;
    border: solid 1px red;
    background-color: #ffffff;
    padding: 10px 12px;
} */

.status-active {
    color: #649a2b;
    margin-bottom: 0;
    font-weight: bold;
}

.status-disabled {
    /* color: #666666; */
    margin-bottom: 0;
    font-weight: bold;
    color: #979797;
}

a.b-cum:hover {
    color: #000000;
    text-decoration: underline;
    font-weight: bold;
}

.help {
    font-size: 1.95em;
    cursor: pointer;
    position: relative;
    top: .25rem;
}

:host ::ng-deep .ui-dialog .ui-dialog-content {
    padding: 1rem 2rem !important;
    font-family: 'Muli' !important;
}

:host ::ng-deep .ui-dialog .ui-dialog-title {
    font-size: 20px !important;
    font-family: 'Muli' !important;
}

@media screen and (max-width: 40em) {
     :host ::ng-deep .ui-dialog {
        width: 75vw !important;
    }
}

.table {
    margin-bottom: 0px !important;
}


/*=============== For Card layout ==================*/


/* Style the counter cards */

.card {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    /* padding: 15px 0px; */
    text-align: center;
    background-color: #faf8f4;
    font-size: 13px;
}

.header_main {
    /* color: #a8a8a89e !important; */
    background-color: #FFFFFF !important;
    border: 1px solid #666666;
}

.name_head {
    border-bottom: 1px solid #f9e8e8;
    padding: 2%;
}

.last_head {
    border-bottom: 1px solid #f9e8e8;
    padding: 2%;
}

.email_head {
    border-bottom: 1px solid #f9e8e8;
    padding: 2%;
}

.status_head {
    border-bottom: 1px solid #f9e8e8;
    padding: 2%;
}

.roles_head {
    border-bottom: 1px solid #f9e8e8;
    padding: 2%;
}

.action_head {
    padding: 2%;
}

.data_role {
    padding-top: 5%;
}

.name_data {
    padding-top: 5%;
}

.user-title {
    margin: 0% 5% 2% 3rem;
}


/* 
.salemark {
    font-size: 13px;
    font-family: Muli;
    padding-bottom: 2px;
} */

.top-space {
    margin-top: 2.8rem;
    /* float: right; */
    font-size: 12px;
}


/* 
.user-name,
.roles {
    color: #232334;
    font-weight: 600;
} */

.checkmark {
    top: 2px !important;
    left: 8px !important;
    height: 17px !important;
    width: 17px !important;
}

.customcheckbox .checkmark:after {
    left: 5px !important;
    top: 1px !important;
    border-width: 0 2px 2px 0 !important;
}


/* .image-class{
    float: right;
} */

.delete_row {
    border: none;
    /* margin-right: 4%; */
    margin-bottom: 3%;
    background: none;
    outline: none !important;
}


/*************Modal css ************/

.update-title {
    color: #1F1F1F;
    font-weight: bold;
    font-size: 18px;
}

.icon-select {
    width: 20px;
    ;
}

.heading {
    word-wrap: break-word;
}

select {
    width: 190px;
    height: 35px;
    padding: 5px 0px 5px 5px;
    border: none;
    /* background-color: #FDFDFD; */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-decoration: underline;
    cursor: pointer;
}

select::-ms-expand {
    display: none;
    /* remove default arrow in IE 10 and 11 */
}

option {
    padding: 5px;
    border: none;
    border-bottom-width: 1px !important;
    border-bottom-style: inset !important;
    border-bottom-color: #d0caca;
    padding-bottom: 10px;
    font-size: 14px;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.chn-btn {
    background-color: #30855c;
    border: 1px solid #30855c;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    padding: 2% 10%;
}

.chn-btn:hover {
    box-shadow: 0 0 7px 1px rgba(67, 146, 108, 0.5);
}

.main_button {
    text-align: center;
}

.loader {
    height: 17px;
    width: 17px;
    margin-left: 4px;
    margin-top: -4px;
}

.image-class {
    width: 15px;
    height: 17px;
}

.desk_view_user {
    display: block !important;
}

.mobile_view_user {
    display: none !important;
}


/* 
@media only screen and (min-width: 768px) and (max-width: 920px) {
    .bread-nav {
        padding-left: 0;
        margin-bottom: 5%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 920px) {
    .desk_view_user {
        display: none !important;
    }
    .mobile_view_user {
        display: block !important;
    }
    .list-group-item {
        font-size: 10px;
        font-weight: normal;
    }
    .dyn-data {
        padding-top: 6%;
    }
    .page-breadcrumb {
        margin: 0;
        padding: 15px 0px 10px 0px !important;
    }
    .page-title {
        font-size: 16px;
    }
    .title-header {
        margin-left: 3% !important;
    }
    .bread-nav {
        margin-left: 5.2%;
    }
}

@media only screen and (min-width: 767px) {
    .desk_view_user {
        display: block;
    }
    .mobile_view_user {
        display: none;
    }
}

@media only screen and (min-width: 920px) and (max-width: 991px) {
    .bread-nav {
        margin-bottom: 5%;
        padding-left: 0;
    }
    .table-container {
        margin-top: 3%;
    }
} */


/* Responsive columns */

@media screen and (max-width: 767px) {
    .desk_view_user {
        display: none !important;
    }
    .mobile_view_user {
        display: block !important;
    }
    .spacing-top {
        margin-top: 1.4rem !important;
    }
    .search-div {
        display: inline-block!important;
    }
    .title-header {
        margin-left: 0% !important;
    }
    .search {
        height: 46px;
        width: 100%;
    }
    .page-title {
        text-align: left;
        font-weight: bold;
        color: #87623b;
        margin-top: 2%;
        padding-left: 1rem;
    }
    .search {
        background: url(../../../assets/images/search-user.png) no-repeat scroll 11px 11px;
    }
    .mobile-content {
        margin-top: 5%;
    }
    .bread-nav {
        margin-left: 1rem;
        padding: 0;
    }
    .search-raised {
        width: 100%;
        margin-left: 0rem !important;
    }
    /****New Css***/
    .filter-mob {
        margin: 1rem 1rem;
    }
    .dyn-userdata {
        float: left;
        border-bottom: 1px dashed #d6d6d6;
        padding-bottom: 16px;
        width: 100%
    }
    .dyn-userdata li {
        padding-left: 15px;
        padding-right: 15px;
        width: 100% !important;
        float: left;
    }
    /* .dyn-userdata{ margin-top: 16px; border-radius: 4px; padding-top: 1rem !important; padding-bottom: 1rem !important; } */
    .user-list-detail li {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .user-list-detail li:nth-child(1) {
        width: 71% !important;
        float: left;
    }
    .user-list-detail li:nth-child(2) {
        width: 20% !important;
        text-align: center;
        float: left;
    }
    .user-list-detail li:last-child {
        width: 9% !important;
        text-align: center;
        float: left;
    }
    .dyn-userdata li {
        width: 100% !important;
    }
    .no-padding {
        padding-left: 0;
        padding-right: 0;
    }
    .delete_row {
        margin-bottom: 1%;
    }
    .dyn-userdata li ul:last-child {
        border-bottom: none;
        /* margin-bottom: 4rem; */
    }
    .left-padd {
        padding-left: 25px;
    }
    /* .right-padd{padding-right: 5px;} */
    .user-name {
        color: #232334;
        font-weight: bold;
        font-size: 14px;
    }
    .user-email {
        color: #747588;
        font-weight: bold;
        font-size: 14px;
    }
    .lastlogin {
        font-size: 12px;
        color: #747588;
        font-weight: 600;
        padding-bottom: 1.2rem !important;
    }
    .roles {
        font-size: 12px;
        color: #232334;
        font-weight: 600;
    }
    .role-mob {
        color: #232334;
        font-size: 14px;
        font-weight: bold;
    }
    .modal-header {
        border-bottom: 1px solid #d6d6d6 !important;
        padding: 0 0 25px 0 !important;
    }
    .modal-body {
        margin-top: 0px !important;
        padding: 0 !important;
    }
    .dyn-userdata:last-child {
        margin-bottom: 4rem;
        border-bottom: none !important;
    }
}

.table td,
.table th {
    vertical-align: middle !important;
}

.body-check {
    top: -6px !important;
}

.head-check {
    top: -6px !important;
}


/* ========OUTLINE CSS FOR SEARCH BAR====== */

.search-raised:focus {
    box-shadow: 0 0 0 0.035rem green !important;
}