.message-space {
    @media (min-width: 768px) {
        margin-left: 50px;
    }
}

.review-list {
    @media (min-width: 768px) {
        padding-right: 54px;
    }
}

.fa-star {
    color: #999999;
}
