@import '../../../../theme/styles/variables';

.total-info {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    overflow-wrap: break-word;
    max-width: 120px;
}
.custom-chart-tooltip {
    background: white;
    color: black;
}

// ngx chart styles
// ::ng-deep .legend-wrap {
//     width: 300px !important;
//     margin-left: -30px;
// }
::ng-deep .chart-legend {
    .legend-labels {
        display: flex;
        flex-wrap: wrap;
        background: none !important;
    }

    .legend-label {
        margin: 0 !important;
        padding: 8px 4px !important;
        color: $general-text-color !important;
        font-weight: 600 !important;
        width: 33.33% !important;
    }

    .legend-label-color {
        height: 10px !important;
        width: 10px !important;
        margin-top: 2px;
        margin-right: 8px !important;
        border-radius: 50% !important;
    }
}

::ng-deep ngx-tooltip-content.ngx-charts-tooltip-content.type-tooltip {
    .tooltip-caret.position-top {
        border-top-color: white;
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
        text {
            fill: #747588;
        }
    }

    background-color: white;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    padding: 5px;
    color: #747588;
    text {
        fill: #747588;
    }
}

::ng-deep .textDataLabel {
    font-size: 12px;
    font-family: 'Muli';
    font-weight: bold;
    fill: #747588;
    // transform: translate(-20px, -8px);
}
