@import 'variables';

.total-info {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    overflow-wrap: break-word;
    max-width: 120px;
}
.custom-chart-tooltip {
    background: $white;
    color: $black;
}

::ng-deep .chart-legend {
    .legend-labels {
        display: flex;
        flex-wrap: wrap;
        background: none !important;
    }

    .legend-label {
        margin: 0 !important;
        padding: 8px 4px !important;
        color: $general-text-color !important;
        font-weight: 600 !important;
    }

    .legend-label-color {
        height: 10px !important;
        width: 10px !important;
        margin-top: 2px;
        margin-right: 8px !important;
        border-radius: 50% !important;
    }

    .legend-label-text {
        overflow: inherit !important;
    }
}

::ng-deep ngx-tooltip-content.ngx-charts-tooltip-content.type-tooltip {
    .tooltip-caret.position-top {
        border-top-color: white;
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
        text {
            fill: $muted-text-color;
        }
    }

    background-color: white;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    padding: 5px;
    color: $muted-text-color;
    text {
        fill: $muted-text-color;
    }
}

::ng-deep .textDataLabel {
    font-size: 12px;
    font-family: $general-font-family;
    font-weight: $fw-b;
    fill: $muted-text-color;
}
