@import 'variables';

:host ::ng-deep {
    margin-bottom: -0.5rem;
    .p-chips {
        display: flex;
        .p-chips-multiple-container {
            padding: 0;
            &.p-inputtext {
                border: none;
                background: transparent !important;
            }
            &.p-focus {
                border-color: transparent !important;
                box-shadow: none !important;
            }
            .p-chips-token {
                border-radius: 17px;
                border: solid 1px $muted-text-color;
                background-color: $muted-text-color;
                padding: 0.5rem 0.75rem;
                font-weight: $fw-m;
                margin: 0 0 0.5rem 0.5rem;
                .p-chips-token-icon::before {
                    content: '\e90b';
                }
            }
            .p-chips-input-token {
                display: none;
            }
        }
    }

    .p-multiselect {
        width: unset;
        border: solid 1px $muted-text-color;
        flex-direction: row-reverse;
        margin-bottom: 0.5rem;
        margin-right: 0.5rem;

        .p-multiselect-label {
            padding: 0.5rem 0.75rem 0.5rem 0;
            color: $general-text-color;
            font-weight: bold;
        }

        .p-multiselect-trigger-icon {
            color: $general-text-color;
        }
    }
}
