@import 'variables';

:host {
    ::ng-deep .p-datatable {
        thead.p-datatable-thead tr {
            background-color: unset;
            &.top-row {
                th {
                    &:first-child {
                        border-top-left-radius: 4px;
                    }
                    &:last-child {
                        border-top-right-radius: 4px;
                    }
                }
            }
            &.bottom-row {
                th {
                    &:first-child {
                        border-bottom-left-radius: 4px;
                    }
                    &:last-child {
                        border-bottom-right-radius: 4px;
                    }
                }
            }
            th {
                background-color: $primary-bg-color;
                border-radius: unset;
                &.right-border {
                    border-right: 1px solid #ebebeb;
                }
            }
        }

        tr.footer-row {
            @media (max-width: 768px) {
                display: flex;
                flex-direction: column;
                margin-top: 24px;
            }
            th {
                background-color: $primary-bg-color;
                border-radius: unset;
                padding: 1rem 0.625rem;
                border: none;
                font-weight: $fw-b;
                line-height: 18px;
                color: #232334;
                transition: background-color 0.2s, box-shadow 0.2s;
                &.no-background-color {
                    background: none;
                }
                &:first-child {
                    border-bottom-left-radius: 4px;
                    border-top-left-radius: 4px;
                }
                &:last-child {
                    border-bottom-right-radius: 4px;
                    border-top-right-radius: 4px;
                }
                .p-column-title {
                    display: inline-block;
                    width: 50%;
                }
            }
        }
    }
}

::ng-deep .mobile-card .p-datatable.p-datatable-responsive table {
    @media screen and (max-width: 767px) {
        width: 100% !important;
        tbody {
            tr {
                width: 100% !important;
            }
        }
    }
}

.mobile-card-view,
::ng-deep .mobile-card .p-datatable-tfoot {
    @media screen and (max-width: 767px) {
        display: none !important;
    }
}
