<div *ngIf="isLoading" class="text-center">Loading...</div>

<div *ngIf="!isLoading" class="bg-fff mobile-review">
    <div class="row gutter-8 gutter-md-16">
        <div class="col-lg-4 col-md-12">
            <app-review-summary [summary]="summary"></app-review-summary>
        </div>
        <div class="col-lg-8 col-md-12 mt-3 mt-lg-0 p-25">
            <app-reviews [reviews]="reviews" [average]="average"></app-reviews>
        </div>
    </div>
    <div *ngIf="!isLoading && !reviews.length" class="text-center">No reviews are available</div>
</div>
