.bg-md-white {
    @media (min-width: 768px) {
        background-color: white;
    }
}

.cust-marg {
    margin: 0 8.5rem;
    @media (max-width: 768px) {
        margin: 1.5rem -0.5rem 0 -0.5rem;
    }
}
