@import '../../../../../../theme/styles/variables';

.track-info {
    width: fit-content;
    border-top: 1px solid $primary-border-color;

    .track-info-container {
        width: fit-content;
    }
}
