<section class="main-block">
    <div class="pt-2 pt-md-0 d-flex flex-wrap justify-content-between align-items-start">
        <p-breadcrumb [model]="breadCrumbItems" styleClass="breadcrumb-mb"></p-breadcrumb>
        <button class="btn-raised d-none d-md-block" [routerLink]="'/e-commerce/product-details/' + type + '/add'">
            {{ 'add_product' | translate }}
        </button>
    </div>

    <h4 class="fnt-16 fnt-md-18 fnt-muli fnt-bold text-clr334 lh-normal mb-3">
        {{ (type === 'other' ? 'other_products' : type + '_product_catalog') | translate }}
    </h4>
    <button class="btn-raised d-block d-md-none mb-3" [routerLink]="'/e-commerce/product-details/' + type + '/add'">
        {{ 'add_product' | translate }}
    </button>
    <div class="d-flex flex-column flex-md-row-reverse justify-content-md-between">
        <span class="custom-search mb-3 mb-md-0 h-fit-content">
            <input
                type="text"
                pInputText
                class="w-mob-100"
                placeholder="{{ 'search_for_product_name' | translate }}"
                [(ngModel)]="keywords"
                (ngModelChange)="loadData()"
            />
        </span>
        <div class="dropdown-wrapper">
            <div class="dropdown-col" *ngIf="type !== 'other'">
                <p-dropdown
                    [options]="origins"
                    [(ngModel)]="selectedOrigin"
                    [autoDisplayFirst]="false"
                    [showClear]="true"
                    placeholder="{{ 'origin' | translate }}"
                    styleClass="round-border w-100"
                    (onChange)="loadData()"
                ></p-dropdown>
            </div>
            <div class="dropdown-col">
                <p-dropdown
                    [options]="priceRangeArray"
                    optionLabel="label"
                    optionValue="value"
                    [(ngModel)]="selectedPriceRange"
                    (onChange)="loadData()"
                    [showClear]="true"
                    placeholder="{{ 'price_range' | translate }}"
                    [autoDisplayFirst]="false"
                    styleClass="round-border w-100"
                >
                    <ng-template let-item pTemplate="selectedItem"
                        >{{ item.value.price_min }} {{ baseCurrency }} - {{ item.value.price_max }}
                        {{ baseCurrency }}</ng-template
                    >
                    <ng-template let-item pTemplate="item"
                        >{{ item.value.price_min }} {{ baseCurrency }} - {{ item.value.price_max }}
                        {{ baseCurrency }}</ng-template
                    >
                </p-dropdown>
            </div>
            <div class="dropdown-col">
                <p-dropdown
                    [options]="type === ProductType.other ? OTHER_PRODUCT_STATUS_ITEMS : ECOM_PRODUCT_STATUS_ITEMS"
                    [(ngModel)]="selectedStatus"
                    [autoDisplayFirst]="false"
                    [showClear]="true"
                    placeholder="{{ 'status' | translate }}"
                    styleClass="round-border w-100"
                    (onChange)="loadData()"
                ></p-dropdown>
            </div>
            <div class="dropdown-col">
                <p-dropdown
                    [options]="visibilityArray"
                    optionLabel="label"
                    optionValue="value"
                    [(ngModel)]="visibilityStatus"
                    [autoDisplayFirst]="false"
                    [showClear]="true"
                    placeholder="{{ 'visibility' | translate }}"
                    styleClass="round-border w-100"
                    (onChange)="loadData()"
                ></p-dropdown>
            </div>
        </div>
    </div>
    <p-table
        #myTable
        [value]="tableData"
        [columns]="tableColumns"
        dataKey="id"
        [loading]="loading"
        [paginator]="totalRecords > rows"
        [rows]="rows"
        [lazy]="true"
        [showCurrentPageReport]="false"
        [totalRecords]="totalRecords"
        (onLazyLoad)="loadData($event)"
        [responsive]="true"
        [scrollable]="isTablet$ | async"
        styleClass="mobile-card-view"
    >
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th
                    *ngFor="let col of columns"
                    [pSortableColumn]="col.sortable ? col.field : null"
                    [style.width]="col.width ? col.width : 'unset'"
                >
                    <div class="d-flex">
                        <span>{{ col.header | translate }}</span>
                        <p-sortIcon *ngIf="col.sortable" [field]="col.field"> </p-sortIcon>
                    </div>
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr (click)="onViewDetails(rowData)">
                <td *ngFor="let col of columns" [ngSwitch]="col.field" [style.width]="col.width ? col.width : 'unset'">
                    <span *ngSwitchCase="'name'">
                        <div class="d-flex d-md-none justify-content-between align-items-center table-mobile-first-col">
                            <div class="d-flex align-items-center">
                                <span class="fnt-bold ellipsis mr-2"> {{ rowData[col.field] || '--' }} </span>
                                <ng-container *ngIf="type !== 'other'">
                                    <i class="pi pi-star" style="color: #ffc107"></i>
                                    <span class="pl-1">
                                        {{ rowData.rating | number: '1.1-1' }}
                                    </span>
                                </ng-container>
                            </div>
                            <app-action-menu
                                *ngIf="isMobile$ | async"
                                [menuItems]="getMenuItemsForItem(rowData)"
                            ></app-action-menu>
                        </div>
                        <span class="d-none d-md-flex align-items-center">
                            <img class="product-image" [src]="rowData['featured_image'] || 'assets/images/empty.svg'" />
                            <div class="ellipsis">
                                {{ rowData[col.field] || '--' }}
                                <div class="mt-2" *ngIf="type !== 'other'">
                                    <i class="pi pi-star" style="color: #ffc107"></i>
                                    <span class="pl-1">
                                        {{ rowData.rating | number: '1.1-1' }}
                                    </span>
                                </div>
                            </div>
                        </span>
                    </span>
                    <span *ngSwitchCase="'featured_image'">
                        <div class="d-flex">
                            <img class="product-image" [src]="rowData['featured_image'] || 'assets/images/empty.svg'" />
                            <div class="w-100">
                                <div *ngFor="let item of mobileFields" [ngSwitch]="item.field">
                                    <span class="pr-2">{{ item.header | translate }}:</span>
                                    <span class="fnt-bold" *ngSwitchCase="'status'">{{
                                        rowData[item.field] | productStatus
                                    }}</span>
                                    <span class="fnt-bold" *ngSwitchCase="'origin'">{{
                                        rowData[item.field] | country
                                    }}</span>
                                    <span *ngSwitchCase="'roast_level_name'">
                                        {{ rowData[item.field] | sentencecase | strReplace: ' roast':'' }}
                                    </span>
                                    <span class="fnt-bold" *ngSwitchCase="'price'"
                                        >{{ rowData[item.field] | number: '1.2-4' }} {{ rowData.price_unit }}</span
                                    >
                                    <span class="fnt-bold" *ngSwitchDefault>{{ rowData[item.field] }}</span>
                                </div>
                            </div>
                        </div>
                    </span>

                    <span *ngSwitchCase="'roast_level_name'">
                        {{ rowData[col.field] | sentencecase | strReplace: ' roast':'' }}
                    </span>

                    <span *ngSwitchCase="'status'">
                        {{ rowData[col.field] | productStatus }}
                    </span>

                    <span *ngSwitchCase="'origin'">
                        {{ rowData[col.field] | country }}
                    </span>
                    <span *ngSwitchCase="'weight'">
                        {{ rowData[col.field] | convertKg: rowData.weight_unit | number }} {{ rowData.weight_unit }}
                    </span>
                    <span *ngSwitchCase="'price'">
                        {{ rowData[col.field] | number: '1.2-4' }} {{ rowData.price_unit }}
                    </span>
                    <span *ngSwitchCase="'business_type'">
                        {{ rowData[col.field]?.toUpperCase() }}
                    </span>
                    <span class="d-flex align-items-center" *ngSwitchCase="'actions'">
                        <span class="brown-cta mr-2 d-none d-lg-block">
                            {{ 'edit_product' | translate }}
                        </span>
                        <app-action-menu [menuItems]="getMenuItemsForItem(rowData)"></app-action-menu>
                    </span>

                    <span *ngSwitchDefault>
                        <div class="d-flex justify-content-between align-items-center px-3 px-md-0">
                            <span *ngIf="isMobile$ | async" class="fnt-muli fnt-14 fnt-bold text-clr588">
                                {{ col.header | translate }}
                            </span>

                            <span>
                                {{ rowData[col.field] || '_' }}
                            </span>
                        </div>
                    </span>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <app-empty *ngIf="!loading && !tableData?.length" [title]="'no_data' | translate"></app-empty>
        </ng-template>
    </p-table>
</section>
