.main-block {
    min-height: 100%;
    display: flex;
    flex-direction: column;

    .custom-search input {
        @media (min-width: 768px) {
            min-width: 300px;
        }
    }

    .dropdown-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -6px;
        .dropdown-col {
            padding: 0 6px;
            padding-bottom: 16px;
            @media (max-width: 767px) {
                max-width: 50%;
            }
        }
    }
}

.product-image {
    width: 53px;
    height: 85px;
    margin-right: 18px;
    object-fit: contain;
    @media (max-width: 767px) {
        width: 88px;
        height: 138px;
        margin-right: 13px;
    }
}
