<div class="row">
    <div class="col-12 mb-3 mb-md-45">
        <div class="bg-fa br-4 fnt-14 fnt-md-16 fnt-600 text-clr5d p-3 mt-4">
            <span> Evaluate UV levels on your ordered lot. </span>
        </div>
    </div>
    <div class="col-12 w-100 d-md-flex justify-content-end align-items-center">
        <div class="d-inline-flex mr-5 mb-3 mb-md-0" *ngIf="showLegend">
            <div *ngFor="let item of legends; let i = index" class="legend-wrap d-inline-flex align-items-center ml-4">
                <div [style.background-color]="palette[i]"></div>
                <span class="fnt-12 fnt-md-16 fnt-500 text-clr334">
                    {{ item.label }}
                </span>
            </div>
        </div>
        <ng-container *ngIf="periods[selPeriod].period === 'range'">
            <span class="fnt-14 fnt-bold text-clr588 mr-3 d-none d-md-block">Selected dates</span>
            <p-calendar
                [(ngModel)]="startDate"
                (onSelect)="changeDate()"
                [showIcon]="true"
                dateFormat="dd.mm.yy"
                [readonlyInput]="true"
                [showButtonBar]="true"
                [maxDate]="maxDate"
                placeholder="Selected dates"
                styleClass="round-border mr-25 mb-25 mb-md-0"
            ></p-calendar>
            <p-calendar
                [(ngModel)]="endDate"
                (onSelect)="changeDate()"
                [showIcon]="true"
                dateFormat="dd.mm.yy"
                [readonlyInput]="true"
                [showButtonBar]="true"
                [maxDate]="maxDate"
                placeholder="Selected dates"
                styleClass="round-border mr-25 mb-25 mb-md-0"
            ></p-calendar>
        </ng-container>
        <p-dropdown
            [options]="periods"
            [(ngModel)]="selPeriod"
            (onChange)="changePeriod()"
            styleClass="round-border mb-25 mb-md-0"
        ></p-dropdown>
    </div>
</div>
<div class="mt-0 mt-md-4 chart-wrap">
    <div>
        <app-line-chart
            [data]="data"
            [loading]="loading"
            [xAxis]="primaryXAxis"
            [yAxis]="primaryYAxis"
            [showMarker]="periods[selPeriod].period == 'range' ? false : true"
        ></app-line-chart>
    </div>
</div>
