.border-total {
    border-radius: 20px;
    border: solid 1px #d6d6d6;
    background-color: #ffffff;
    padding: 10px 12px;
}

.legend-wrap {
    position: relative;

    div {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 8px;
    }
}