<div class="total-loader" *ngIf="coffeeDetailsActive != 1">
    <div>
        <app-loading></app-loading>
    </div>
</div>
<div *ngIf="coffeeDetailsActive == 1">
    <section>
        <div>
            <section class="section-farmlink">
                <div class="main-block">
                    <div class="row">
                        <div class="col-12 d-flex no-block tab-nav-btn">
                            <div class="breadcrumb-container d-none d-md-block">
                                <p-breadcrumb [model]="items"></p-breadcrumb>
                            </div>
                            <div class="mb-4 d-block d-md-none">
                                <a class="back-page fw-m" (click)="location.back()"> {{ 'back' | translate }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex align-items-start">
                                <div class="d-inline-block col-sm-12 col-md-9 col-lg-9 px-0">
                                    <div class="page-title">
                                        <span *ngIf="isCoffeeDetailsPage"
                                            >{{ 'order' | translate }} #{{ orderId }}</span
                                        >
                                        <span *ngIf="!isCoffeeDetailsPage">{{
                                            'roaster_default_settings' | translate
                                        }}</span>
                                    </div>
                                    <div class="page-description">
                                        <span *ngIf="!isCoffeeDetailsPage">
                                            {{ 'set_default_settings' | translate }}</span
                                        >
                                        <div class="d-flex flex-column">
                                            <span *ngIf="isCoffeeDetailsPage" class="d-lg-block d-md-block d-none">{{
                                                'coffee_experience_text-give' | translate
                                            }}</span>
                                            <span *ngIf="isCoffeeDetailsPage" class="d-lg-block d-md-block d-none">{{
                                                'coffee_experience_text-update' | translate
                                            }}</span>
                                            <span *ngIf="isCoffeeDetailsPage" class="d-lg-none d-md-none d-block">
                                                {{ 'coffee_experience_text' | translate }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 col-lg-3 butn-prev-save butn-prev-save--desktop">
                                    <button
                                        *ngIf="isEditableMode"
                                        type="button"
                                        class="btn-stroked cancel-btn px-4"
                                        (click)="onCancel()"
                                    >
                                        {{ 'cancel' | translate }}
                                    </button>
                                    <button
                                        *ngIf="isEditableMode"
                                        type="button"
                                        class="btn-raised px-4"
                                        [disabled]="isSaving"
                                        (click)="onSave()"
                                    >
                                        {{ 'save' | translate }}
                                    </button>
                                    <button
                                        *ngIf="!isEditableMode && !activateRoute.snapshot.queryParams.estate_id"
                                        type="button"
                                        class="btn-raised px-4"
                                        [disabled]="isSaving"
                                        (click)="isEditableMode = true"
                                    >
                                        {{ 'edit' | translate }}
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-lg-8 order-1 order-md-2 order-lg-1 hideTabView">
                                    <div
                                        class="border-0-input border-top-dashed-d6 border-btm-dashed-d6 form-container"
                                    >
                                        <div class="input-container">
                                            <div class="col-12 px-0" [ngClass]="{ 'col-md-5': isEditableMode }">
                                                <div class="sewn-form-field mb-0 w-100">
                                                    <div>
                                                        <label [ngClass]="{ 'text-clr588': !isEditableMode }"
                                                            >Roastery website</label
                                                        >
                                                    </div>
                                                    <input
                                                        *ngIf="isEditableMode"
                                                        pInputText
                                                        [(ngModel)]="defaultDetails.website"
                                                        class="roastery-website-input border"
                                                        type="text"
                                                        pInputText
                                                    />
                                                    <div
                                                        class="no-editable-text"
                                                        [ngClass]="isEditableMode ? 'fw-m' : 'text-break'"
                                                        *ngIf="!isEditableMode"
                                                    >
                                                        {{ defaultDetails.website }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-container">
                                            <div class="col-12 px-0">
                                                <div>
                                                    <label [ngClass]="{ 'text-clr588': !isEditableMode }"
                                                        >A short description about the Roastery
                                                        <span *ngIf="isEditableMode">
                                                            {{ defaultDetails.description | wordCount }}/100 words </span
                                                        ><span class="text-clr-e5a">*</span></label
                                                    >
                                                </div>
                                                <div class="sewn-form-field w-100 mb-0" *ngIf="isEditableMode">
                                                    <textarea
                                                        class="w-100 border"
                                                        [ngClass]="{
                                                            'ng-invalid': isSent && !defaultDetails.description
                                                        }"
                                                        rows="5"
                                                        cols="50"
                                                        pInputTextarea
                                                        [(ngModel)]="defaultDetails.description"
                                                    ></textarea>
                                                    <small
                                                        *ngIf="isSent && !defaultDetails.description"
                                                        class="p-error"
                                                    >
                                                        Description is required.
                                                    </small>
                                                </div>
                                                <div class="no-editable-text" *ngIf="!isEditableMode">
                                                    {{ defaultDetails.description }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="roastery-fields">
                                            <div class="roastery-tags">
                                                <div class="col-12 px-0">
                                                    <label [ngClass]="{ 'text-clr588': !isEditableMode }"
                                                        >{{ 'select_tags' | translate }} (max 5)</label
                                                    >
                                                    <div
                                                        class="roastery-tags__checkboxes"
                                                        [ngClass]="{ 'p-0 border-0': !isEditableMode }"
                                                    >
                                                        <label
                                                            *ngFor="let item of tagOptionList; let index = index"
                                                            class="custom-label"
                                                            [ngClass]="item.select ? 'active' : ''"
                                                        >
                                                            <input
                                                                class="custom-label__inputs"
                                                                type="checkbox"
                                                                (change)="onChangeTag(index)"
                                                            />
                                                            <span *ngIf="isEditableMode" class="custom-raotary-tags">{{
                                                                item.label
                                                            }}</span>
                                                            <span
                                                                *ngIf="!isEditableMode && item.select"
                                                                class="custom-raotary-tags"
                                                                [ngClass]="{ 'mt-2': !isEditableMode }"
                                                                >{{ item.label }}</span
                                                            >
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4 order-2 order-md-1 order-lg-2">
                                    <div
                                        class="form-section__inputs certificates-container form-section__inputs--withHead"
                                    >
                                        <div
                                            class="input-head input-head--uplaod d-flex align-items-center justify-content-between"
                                        >
                                            <h5 class="fnt-14 fw-b text-clr334 mb-0">
                                                {{ 'ro_certificates' | translate }}
                                            </h5>
                                        </div>
                                        <div class="input-body">
                                            <div class="upload-file-results">
                                                <div
                                                    *ngFor="let item of certificateDetails"
                                                    class="upload-file-results__item d-flex justify-content-between align-items-center"
                                                >
                                                    <div class="pr-3">
                                                        <h4 class="mb-0 fnt-14 fw-b text-clr334 mb-1">
                                                            {{ item.certificate_type_name }}
                                                        </h4>
                                                        <span class="d-block fnt-12 fw-m text-clr588">{{
                                                            item.year
                                                        }}</span>
                                                    </div>
                                                    <div class="d-none d-md-flex">
                                                        <button class="fnt-14 fw-b" (click)="viewCertificate(item)">
                                                            {{ 'view' | titlecase | translate }}
                                                        </button>
                                                    </div>
                                                    <div class="d-block d-md-none">
                                                        <i
                                                            class="pi pi-ellipsis-v cursor-pointer line-height-2"
                                                            (click)="menu.toggle($event); mobileViewCertificate(item)"
                                                        ></i>
                                                        <p-menu
                                                            #menu
                                                            [popup]="true"
                                                            [model]="certificateMenuItems"
                                                            appendTo="body"
                                                        ></p-menu>
                                                    </div>
                                                </div>
                                                <div *ngIf="!certificateDetails?.length" class="text-center">
                                                    No certificates to display
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-lg-8 order-1 order-md-2 order-lg-1 px-0 tabView">
                                        <div
                                            class="border-0-input border-top-dashed-d6 border-btm-dashed-d6 form-container"
                                        >
                                            <div class="input-container">
                                                <div class="col-12 px-0" [ngClass]="{ 'col-md-5': isEditableMode }">
                                                    <div class="sewn-form-field mb-0 w-100">
                                                        <div>
                                                            <label [ngClass]="{ 'text-clr588': !isEditableMode }"
                                                                >Roastery website</label
                                                            >
                                                        </div>
                                                        <input
                                                            *ngIf="isEditableMode"
                                                            pInputText
                                                            [(ngModel)]="defaultDetails.website"
                                                            class="roastery-website-input border"
                                                            type="text"
                                                            pInputText
                                                        />
                                                        <div
                                                            class="no-editable-text"
                                                            [ngClass]="isEditableMode ? 'fw-m' : 'text-break'"
                                                            *ngIf="!isEditableMode"
                                                        >
                                                            {{ defaultDetails.website }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="input-container">
                                                <div class="col-12 px-0">
                                                    <div>
                                                        <label [ngClass]="{ 'text-clr588': !isEditableMode }"
                                                            >A short description about the Roastery</label
                                                        >
                                                    </div>
                                                    <div class="sewn-form-field w-100 mb-0" *ngIf="isEditableMode">
                                                        <textarea
                                                            class="w-100 border"
                                                            [ngClass]="{
                                                                'ng-invalid': isSent && !defaultDetails.description
                                                            }"
                                                            rows="5"
                                                            cols="50"
                                                            pInputTextarea
                                                            [(ngModel)]="defaultDetails.description"
                                                        ></textarea>
                                                        <small
                                                            *ngIf="isSent && !defaultDetails.description"
                                                            class="p-error"
                                                        >
                                                            Description is required.
                                                        </small>
                                                    </div>
                                                    <div class="no-editable-text" *ngIf="!isEditableMode">
                                                        {{ defaultDetails.description }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="roastery-fields">
                                                <div class="roastery-tags">
                                                    <div class="col-12 px-0">
                                                        <label [ngClass]="{ 'text-clr588': !isEditableMode }"
                                                            >{{ 'select_tags' | translate }}(max 5)</label
                                                        >
                                                        <div
                                                            class="roastery-tags__checkboxes"
                                                            [ngClass]="{ 'p-0 border-0': !isEditableMode }"
                                                        >
                                                            <label
                                                                *ngFor="let item of tagOptionList; let index = index"
                                                                class="custom-label"
                                                                [ngClass]="item.select ? 'active' : ''"
                                                            >
                                                                <input
                                                                    class="custom-label__inputs"
                                                                    type="checkbox"
                                                                    (change)="onChangeTag(index)"
                                                                />
                                                                <span
                                                                    *ngIf="isEditableMode"
                                                                    class="custom-raotary-tags"
                                                                    >{{ item.label }}</span
                                                                >
                                                                <span
                                                                    *ngIf="!isEditableMode && item.select"
                                                                    class="custom-raotary-tags"
                                                                    [ngClass]="{ 'mt-2': !isEditableMode }"
                                                                    >{{ item.label }}</span
                                                                >
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-column flex-md-row flex-lg-column">
                                        <div class="media-container">
                                            <div *ngIf="isImagePreviewPanel" class="existing-media-container">
                                                <div
                                                    class="content-container br-4"
                                                    [style.backgroundImage]="'url(' + defaultDetails.image_url + ')'"
                                                >
                                                    <div class="grey-gradient-container text-white">
                                                        <div>
                                                            {{ imageName ? imageName : defaultDetails.image_name }}
                                                        </div>
                                                        <div *ngIf="isEditableMode">
                                                            <i
                                                                class="pi pi-ellipsis-v cursor-pointer line-height-2"
                                                                (click)="menu.toggle($event)"
                                                            ></i>
                                                            <p-menu
                                                                #menu
                                                                [popup]="true"
                                                                [model]="imageMenuItems"
                                                                appendTo="body"
                                                            ></p-menu>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div
                                                *ngIf="
                                                    !isImagePreviewPanel &&
                                                    !activateRoute.snapshot.queryParams.estate_id
                                                "
                                                class="roastery-upload-files"
                                            >
                                                <div class="roastery-fields">
                                                    <div>
                                                        <div
                                                            class="roastery-uploads__image d-flex align-items-center justify-content-center"
                                                        >
                                                            <label class="mb-0">
                                                                <input
                                                                    #imageUpload
                                                                    type="file"
                                                                    accept="image/png,image/jpeg,image/jpg"
                                                                    [disabled]="
                                                                        activateRoute.snapshot.queryParams.estate_id ||
                                                                        !isEditableMode
                                                                    "
                                                                    (change)="onChooseFile($event.target, 'fileImage')"
                                                                />
                                                                <div
                                                                    class="d-flex flex-wrap align-items-center justify-content-center img-roaster"
                                                                    [ngClass]="{
                                                                        'cursor-pointer': isEditableMode
                                                                    }"
                                                                >
                                                                    <img src="assets/images/upload-black.svg" />
                                                                    <span
                                                                        class="mb-0 ml-2 d-inline-block fnt-14 fw-m text-clr334"
                                                                    >
                                                                        {{ 'ro_upload_an_image' | translate }}
                                                                    </span>
                                                                    <p
                                                                        class="mb-0 d-block w-100 text-center mt-2 fnt-12 fnt-normal text-clr588"
                                                                    >
                                                                        {{ 'choose_image_text' | translate }}
                                                                    </p>
                                                                    <div *ngIf="fileImage" class="text-center">
                                                                        <small>File attached</small>
                                                                    </div>
                                                                </div>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="media-container">
                                            <div *ngIf="isVideoPreviewPanel" class="existing-media-container">
                                                <div
                                                    *ngIf="
                                                        defaultDetails?.video_url?.includes('png') ||
                                                        defaultDetails?.video_url?.includes('jpg') ||
                                                        defaultDetails?.video_url?.includes('jpeg') ||
                                                        defaultDetails?.video_url?.includes('gif')
                                                    "
                                                    class="content-container br-4"
                                                    [style.backgroundImage]="'url(' + defaultDetails?.video_url + ')'"
                                                >
                                                    <div class="grey-gradient-container pl-25 text-white mr-1">
                                                        <div>
                                                            {{ videoName ? videoName : defaultDetails.video_name }}
                                                        </div>
                                                        <span class="pull-right pr-2" *ngIf="isEditableMode">
                                                            <i
                                                                class="pi pi-ellipsis-v cursor-pointer line-height-2"
                                                                (click)="menu.toggle($event)"
                                                            ></i>
                                                            <p-menu
                                                                #menu
                                                                [popup]="true"
                                                                [model]="videoMenuItems"
                                                                appendTo="body"
                                                            ></p-menu>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div
                                                    *ngIf="
                                                        defaultDetails?.video_url?.includes('mp4') ||
                                                        defaultDetails?.video_url?.includes('mpeg') ||
                                                        defaultDetails?.video_url?.includes('mov') ||
                                                        defaultDetails?.video_url?.includes('wmv') ||
                                                        defaultDetails?.video_url?.includes('flv') ||
                                                        defaultDetails?.video_url?.includes('webm')
                                                    "
                                                    class="content-container br-4"
                                                >
                                                    <img
                                                        (click)="video.paused ? video.play() : video.pause()"
                                                        src="assets/images/play-button.png"
                                                        alt="play"
                                                        class="play-button"
                                                    />
                                                    <video
                                                        #video
                                                        [src]="defaultDetails.video_url"
                                                        class="w-100 br-4"
                                                    ></video>
                                                    <div class="grey-gradient-container text-white">
                                                        <div>
                                                            {{ videoName ? videoName : defaultDetails.video_name }}
                                                        </div>
                                                        <div *ngIf="isEditableMode">
                                                            <i
                                                                class="pi pi-ellipsis-v cursor-pointer line-height-2"
                                                                (click)="menu.toggle($event)"
                                                            ></i>
                                                            <p-menu
                                                                #menu
                                                                [popup]="true"
                                                                [model]="videoMenuItems"
                                                                appendTo="body"
                                                            ></p-menu>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div
                                                *ngIf="
                                                    !isVideoPreviewPanel &&
                                                    !activateRoute.snapshot.queryParams.estate_id
                                                "
                                                class="roastery-upload-files"
                                            >
                                                <div class="roastery-fields">
                                                    <div>
                                                        <div
                                                            class="roastery-uploads__image d-flex align-items-center justify-content-center"
                                                        >
                                                            <label class="mb-0">
                                                                <input
                                                                    #videoUpload
                                                                    type="file"
                                                                    accept="video/*,image/*"
                                                                    [disabled]="
                                                                        activateRoute.snapshot.queryParams.estate_id ||
                                                                        !isEditableMode
                                                                    "
                                                                    (change)="onChooseFile($event.target, 'fileVideo')"
                                                                />
                                                                <div
                                                                    class="d-flex flex-wrap align-items-center justify-content-center img-roaster"
                                                                    [ngClass]="{
                                                                        'cursor-pointer': isEditableMode
                                                                    }"
                                                                >
                                                                    <img src="assets/images/upload-black.svg" />
                                                                    <span
                                                                        class="mb-0 ml-2 d-inline-block fnt-14 fw-m text-clr334"
                                                                        >{{ 'ro_upload_an_video' | translate }}</span
                                                                    >
                                                                    <p
                                                                        class="mb-0 d-block w-100 text-center mt-2 fnt-12 fnt-normal text-clr588"
                                                                    >
                                                                        {{ 'choose_image_text' | translate }}
                                                                    </p>
                                                                    <div *ngIf="fileVideo" class="text-center">
                                                                        <small>File attached</small>
                                                                    </div>
                                                                </div>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="media-container">
                                            <div
                                                *ngIf="!isCoffeeDetailsPage && materialOnResponse"
                                                class="existing-media-container material-line"
                                            >
                                                <div class="content-container d-flex justify-content-center br-4">
                                                    <i class="text-clr094 material-icon">
                                                        <img src="assets/images/marketing-folder.svg"
                                                    /></i>
                                                    <div class="grey-gradient-container text-white">
                                                        {{
                                                            materialFileName
                                                                ? materialFileName
                                                                : ('download_zip' | translate)
                                                        }}
                                                        <span class="pull-right" *ngIf="isEditableMode">
                                                            <i
                                                                class="pi pi-ellipsis-v cursor-pointer line-height-2"
                                                                (click)="menu.toggle($event)"
                                                            ></i>
                                                            <p-menu
                                                                #menu
                                                                [popup]="true"
                                                                [model]="materialMenuItems"
                                                                appendTo="body"
                                                            ></p-menu>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div
                                                *ngIf="!isCoffeeDetailsPage && !materialOnResponse"
                                                class="roastery-upload-files"
                                            >
                                                <div class="roastery-fields">
                                                    <div>
                                                        <div
                                                            class="roastery-uploads__image d-flex align-items-center justify-content-center"
                                                        >
                                                            <label class="mb-0">
                                                                <input
                                                                    type="file"
                                                                    accept=".zip,.rar,.7zip"
                                                                    (change)="uploadMarketingMaterial($event)"
                                                                />
                                                                <div
                                                                    class="d-flex flex-wrap align-items-center justify-content-center"
                                                                >
                                                                    <img src="assets/images/upload-black.svg" />
                                                                    <span
                                                                        class="mb-0 ml-2 d-inline-block fnt-14 fw-m text-clr334"
                                                                    >
                                                                        {{ 'marketing_material' | translate }}
                                                                    </span>
                                                                    <p
                                                                        class="mb-0 d-block w-100 text-center mt-2 fnt-12 fnt-normal text-clr588"
                                                                    >
                                                                        Upload a folder containing all your high res
                                                                        images, videos, intruction etc for use by your
                                                                        customers
                                                                    </p>
                                                                    <div *ngIf="fileImage" class="text-center">
                                                                        <small>File attached</small>
                                                                    </div>
                                                                </div>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--Share your story-->
                                    <div
                                        *ngIf="isCoffeeDetailsPage && coffeeExperienceLink"
                                        class="form-section__inputs scan-margin"
                                    >
                                        <div class="roastery-fields tab">
                                            <div class="tab-width mb-4 mb-md-0">
                                                <h4 class="fnt-16 fw-b text-clr334 tab-bottom-margin">
                                                    {{ 'share_your_story' | translate }}
                                                </h4>
                                                <div class="copy-link">
                                                    <label class="fnt-14 fw-m text-clr588">
                                                        {{ 'share_story_text' | translate }}
                                                    </label>
                                                    <div class="link-wrapper">
                                                        <span class="fnt-14 fw-m flex-1 link-text">{{
                                                            coffeeExperienceLink?.coffee_story_url
                                                        }}</span>
                                                        <button
                                                            class="btn-raised"
                                                            ngxClipboard
                                                            [cbContent]="coffeeExperienceLink?.coffee_story_url"
                                                        >
                                                            {{ 'copy_link' | translate }}
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-width-right">
                                                <div class="scan-qr-link text-center">
                                                    <p
                                                        class="text-md-left fnt-14 fw-b text-clr334 mb-3 mb-lg-4 tab-bottom-margin"
                                                    >
                                                        {{ 'scan_download_text' | translate }}
                                                    </p>
                                                    <div class="text-center d-flex">
                                                        <div>
                                                            <img
                                                                class="img-fluid"
                                                                src="{{ coffeeExperienceLink?.qr_code_url }}"
                                                            />
                                                        </div>
                                                        <div
                                                            class="download-qr-link d-flex justify-content-center align-items-end mb-md-3"
                                                        >
                                                            <a
                                                                class="btn-trans-icon download-icon"
                                                                (click)="onDownloadQr()"
                                                            >
                                                                {{ 'download' | translate }}
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-center contact-for-help">
                                            <p class="mb-0 contact-for-help__text">
                                                {{ 'having_trouble' | translate }}?
                                                <a class="ml-1" href="mailto:support@eraofwe.com">{{
                                                    'contact_us' | translate
                                                }}</a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="mt-2 d-block d-md-none">
                                        <div *ngIf="isEditableMode">
                                            <div class="mb-3">
                                                <button
                                                    pButton
                                                    type="button"
                                                    [disabled]="isSaving"
                                                    (click)="onSave()"
                                                    [label]="'save' | translate"
                                                    class="btn-raised w-100"
                                                ></button>
                                            </div>
                                            <div>
                                                <button (click)="onCancel()" type="button" class="btn-stroked w-100">
                                                    {{ 'cancel' | translate }}
                                                </button>
                                            </div>
                                        </div>
                                        <div>
                                            <button
                                                *ngIf="!isEditableMode && !activateRoute.snapshot.queryParams.estate_id"
                                                type="button"
                                                (click)="isEditableMode = true"
                                                class="btn-raised w-100"
                                            >
                                                {{ 'edit' | translate }}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>
