@import 'variables';

::ng-deep {
    .p-calendar {
        input {
            background: none;
        }
    }

    .p-datepicker-buttonbar {
        .p-button-label {
            color: $brown-color;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@media all and (min-width: 768px) {
    .custom-search {
        max-width: 320px;
    }
}
