.filter-sort {
    position: absolute;
    right: 0;
    top: -24px;
}

::ng-deep .p-dialog {
    width: 90vw;
    @media (min-width: 768px) {
        width: 816px;
    }
}

.custom-search > .p-inputtext {
    border-radius: 0 3px 3px 0;
}
