<div class="main-block">
    <div>
        <div class="row no-gutters col-lg-6 px-0">
            <div class="col-6 col-md-3">
                <p-multiSelect
                    [options]="sourcingSrv.origins"
                    [(ngModel)]="queryParams.origin"
                    defaultLabel="{{ 'select_origin' | translate }}"
                    [maxSelectedLabels]="1"
                    selectedItemsLabel="{0} Origins"
                    [showToggleAll]="false"
                    (onChange)="filterCall()"
                    styleClass="w-100 mb-3 mb-md-4 br-right-0 {{ queryParams.origin?.length ? 'highlight' : '' }}"
                >
                    <ng-template pTemplate="footer">
                        <span class="brown-cta" (click)="queryParams.origin = null; filterCall()">
                            {{ 'clear' | translate }}
                        </span>
                    </ng-template>
                </p-multiSelect>
            </div>
            <div class="col-6 col-md-3">
                <p-multiSelect
                    [options]="sourcingSrv.varieties"
                    [(ngModel)]="queryParams.varieties"
                    defaultLabel="{{ 'add_variety' | translate }}"
                    [maxSelectedLabels]="1"
                    selectedItemsLabel="{0} {{ 'varieties' | translate }}"
                    (onChange)="filterCall()"
                    scrollHeight="225px"
                    styleClass="w-100 mb-3 mb-md-4 br-left-0 br-right-md-0 {{
                        queryParams.varieties?.length ? 'highlight' : ''
                    }}"
                >
                    <ng-template pTemplate="footer">
                        <span class="brown-cta" (click)="queryParams.varieties = null; filterCall()">
                            {{ 'clear' | translate }}
                        </span>
                    </ng-template>
                </p-multiSelect>
            </div>
            <div class="col-12 col-md-4 mb-3 mb-md-4">
                <span class="custom-search w-100">
                    <input
                        type="text"
                        #searchInput
                        pInputText
                        [(ngModel)]="queryParams.name"
                        placeholder="{{ 'search_by_name' | translate }}"
                        class="w-100 {{ queryParams.name ? 'highlight' : '' }}"
                    />
                </span>
            </div>
        </div>
        <div class="mb-25 mb-md-45">
            <p-dropdown
                [options]="gradeItems"
                [(ngModel)]="queryParams.grade"
                (onChange)="filterCall()"
                scrollHeight="225px"
                [showClear]="true"
                placeholder="Grade"
                styleClass="round-border mr-2 mb-25 mb-md-4 {{ queryParams.grade ? 'highlight' : '' }}"
            ></p-dropdown>
            <p-dropdown
                [options]="cropItems"
                [(ngModel)]="queryParams.crop_year"
                (onChange)="filterCall()"
                scrollHeight="225px"
                [showClear]="true"
                placeholder="{{ 'crop_month' | translate }}"
                styleClass="round-border mr-2 mb-25 mb-md-4 {{ queryParams.crop_year ? 'highlight' : '' }}"
            ></p-dropdown>
            <p-dropdown
                (click)="openFilter()"
                placeholder="{{ 'more_filters' | translate }}"
                styleClass="round-border mr-2 mb-25 mb-md-4 {{
                    queryParams.altitude_start ||
                    queryParams.altitude_end ||
                    queryParams.flavours?.length ||
                    queryParams.listing_status?.length ||
                    queryParams.certificates?.length
                        ? 'highlight'
                        : ''
                }}"
            ></p-dropdown>
            <p-dropdown
                *ngIf="sourcingSrv.showAvailableFilter"
                [options]="availableItems"
                [(ngModel)]="queryParams.available_coffee"
                (onChange)="filterCall()"
                [showClear]="true"
                placeholder="Available coffee"
                styleClass="round-border mr-2 mb-25 mb-md-4 {{ queryParams.available_coffee ? 'highlight' : '' }}"
            ></p-dropdown>
            <p-selectButton
                *ngIf="sourcingSrv.showUnitFilter"
                [options]="weightItems"
                [(ngModel)]="sourcingSrv.quantityUnit"
                styleClass="round-select mb-25 mb-md-4 "
            >
            </p-selectButton>
        </div>

        <div class="position-relative">
            <div class="filter-sort d-none d-md-block">
                <p-dropdown
                    [options]="sourcingSrv.sortItems"
                    [(ngModel)]="sourcingSrv.sortParam"
                    (onChange)="sort()"
                    scrollHeight="225px"
                    placeholder="{{ 'sort_by' | translate }}"
                    styleClass="round-border mr-25"
                ></p-dropdown>
                <p-selectButton
                    [options]="viewModeItems"
                    [(ngModel)]="viewMode"
                    (onChange)="changeViewMode()"
                    styleClass="select-layout"
                >
                    <ng-template let-item>
                        <svg
                            *ngIf="item.value === 'table'"
                            xmlns="http://www.w3.org/2000/svg"
                            width="14"
                            height="10"
                            viewBox="0 0 14 10"
                        >
                            <path
                                fill="#FFF"
                                d="M13.25 8c.414 0 .75.336.75.75s-.336.75-.75.75h-9.5c-.414 0-.75-.336-.75-.75S3.336 8 3.75 8h9.5zM.75 8c.414 0 .75.336.75.75s-.336.75-.75.75S0 9.164 0 8.75.336 8 .75 8zm12.5-4c.414 0 .75.336.75.75s-.336.75-.75.75h-9.5c-.414 0-.75-.336-.75-.75S3.336 4 3.75 4h9.5zM.75 4c.414 0 .75.336.75.75s-.336.75-.75.75S0 5.164 0 4.75.336 4 .75 4zm12.5-4c.414 0 .75.336.75.75s-.336.75-.75.75h-9.5C3.336 1.5 3 1.164 3 .75S3.336 0 3.75 0h9.5zM.75 0c.414 0 .75.336.75.75s-.336.75-.75.75S0 1.164 0 .75.336 0 .75 0z"
                            />
                        </svg>
                        <svg
                            *ngIf="item.value === 'grid'"
                            xmlns="http://www.w3.org/2000/svg"
                            width="13"
                            height="13"
                            viewBox="0 0 13 13"
                        >
                            <path
                                fill="#232334"
                                d="M12.387 7.195c.338 0 .613.275.613.613v4.579c0 .338-.275.613-.613.613H7.808c-.338 0-.613-.275-.613-.613V7.808c0-.338.275-.613.613-.613zm-7.195 0c.338 0 .613.275.613.613v4.579c0 .338-.275.613-.613.613H.613C.275 13 0 12.725 0 12.387V7.808c0-.338.275-.613.613-.613zm6.582 1.226H8.42v3.353h3.353V8.42zm-7.195 0H1.226v3.353H4.58V8.42zM5.192 0c.338 0 .613.275.613.613v4.579c0 .338-.275.613-.613.613H.613C.275 5.805 0 5.53 0 5.192V.613C0 .275.275 0 .613 0zm7.195 0c.338 0 .613.275.613.613v4.579c0 .338-.275.613-.613.613H7.808c-.338 0-.613-.275-.613-.613V.613c0-.338.275-.613.613-.613zM4.579 1.226H1.226V4.58H4.58V1.226zm7.195 0H8.42V4.58h3.353V1.226z"
                            />
                        </svg>
                    </ng-template>
                </p-selectButton>
            </div>

            <div class="pb-4">
                <p-tabMenu [model]="menuItems"></p-tabMenu>
            </div>
            <div class="mb-4">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
