.sewn_heading
    {
        background-color: #f3efe8;
    /* height: 60px;
    padding-left: 110px; */
    padding:2rem 7rem;
    }
    .logo_sewn{
        /* margin-top: 16px; */
    }
   .first_column{
     background-color: #f3efe8;
   }
   .last_column{
        background-color: #f3efe8;

   }
   .middle_column{
        border-radius: 6px;
        background-color: #ffffff;
   }
   .welcome_title{
    font-family: PlayfairDisplay;
    font-size: 32px;
    color: #000000;
    margin-top: 36px;
    font-weight: 500;
    line-height: 42px;
   }
   .thank_you{
    font-family: Montserrat;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.43;
  text-align: center;
  color: #666666;
   }
   .update-pwd-title{
    font-family: Montserrat;
  font-size: 15px;
  font-weight: 600;
  color: #a88057;
  margin-top: 32px;
   }
   .current-pwd_title,.new-pwd_title,.enter-pwd_title{
     font-family: Montserrat;
  font-size: 11px;
  font-weight: 600;
  color: #666666;
  padding-top: 9px;
   }
   .current-password,.new-password,.re-enter-password{
    height: 46px;
  border-radius: 6px;
  border: solid 1px #cccccc;
  background-color: #ffffff;
  color: #000000;
  font-weight: 500;
   }
   .current-password::placeholder,.new-password::placeholder,.re-enter-password::placeholder{
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 500;
   }
  .change-button{
       border-radius: 6px;
  background-color: #3d8462;
  height: 46px;
  /* margin-bottom: 14%; */
  } 
  .change-button:hover{
    background-color: #3d8462; 
      box-shadow: 0 0 7px 1px rgba(67, 146, 108, 0.5);
      /* border: #3d8462; */
  }
  .change-pwd-text{
     font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  }
  .bottom-spacing{
    /* margin-bottom: 160px;
    overflow-y:hidden; */
    padding-bottom: 1.3rem;

  }
  .box-spacing{
    margin-bottom: 0.5rem;
  }
  .position-total{
    /* top: 0;
    bottom:0; */
    /* position:fixed; */
    /* overflow-y:hidden; */
  }
  .mob_update{
	  display: none;
  }
  .padding-form{
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }
  .confirmPasswordError, .passwordError, .currentPasswordError{
	color: red;
	font-size: 12px;
  }

  @media screen and (min-width:1024px) and (max-width:1200px){
    .sewn_heading{
      padding: 2rem 5rem;
  }
}
  @media all and (max-width: 767px) {
  .sewn_heading{
      padding: 2rem 4rem;
  }
  .welcome_title {
	font-size: 24px !important;
	text-align: center;
	margin-top: 0px;
   
	  }
	  .total-step{
		margin-bottom: 0px;
		background-color: #faf8f4;
		padding: 10px;
		border-bottom: 1px solid #f2efeb; 

	  }
    .thank_you {
	font-size: 11px !important;
	
    }
    .mob_update{
      display: block;
    }
    .web_update{
      display: none;
    }
	.middle_column{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.update-pwd-title{
		font-size: 14px;
    color: #87623b;
    margin-top: 25px;
	}
	.padding-form{
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.mobile-space{
		padding:0;
	}
	/* .position-total{
		position: unset !important;
	} */
	.current-pwd_title,.new-pwd_title,.enter-pwd_title{
		font-size: 10px;
	}
	.login-butn {
		background-color: #3d8462;
		padding: 10px 24px;
		font-size: 11px;
		font-weight: 600;
		color: #ffffff;  
		border: #3d8462;
		border-radius: 6px;
		width: 90%;
		/* box-shadow: 0 0 7px 1px rgba(67, 146, 108, 0.5); */
	  }
	  
	  .login-butn:hover{
	   background-color: #3d8462; 
		 border: #3d8462;
		 box-shadow: 0 0 7px 1px rgba(67, 146, 108, 0.5);
	  
	  }
	  .login-butn:focus {
		outline:0;
		background-color: #3d8462 !important;
    }
    .bottom-spacing{
      padding-bottom: 5.9rem !important;
    }
  }
  @media screen and (max-width:425px){
    .sewn_heading{
      padding: 2rem 2rem;
      text-align: center;
  }
}