.chart-block {
    border: solid 1px #ebebeb;
    @media (min-width: 768px) {
        border: none;
        border-right: solid 1px #ebebeb;
    }
}

.estates-block {
    border: solid 1px #ebebeb;
    @media (min-width: 768px) {
        border: none;
    }
    .estate-wrap {
        border-bottom: dashed 2px #ebebeb;
    }
}

.total-stats {
    position: absolute;
    left: 50%;
    top: 120px;
    transform: translateX(-50%);
    line-height: 1.4;
}

.fnt-md-84 {
    @media screen and (min-width: 768px) and (max-width: 992px) {
        font-size: 8.4px !important;
        line-height: normal !important;
    }
}

.fnt-md-12 {
    @media screen and (min-width: 768px) and (max-width: 992px) {
        font-size: 12px !important;
        line-height: normal !important;
    }
}

.fnt-md-14 {
    @media screen and (min-width: 768px) and (max-width: 992px) {
        font-size: 14px !important;
        line-height: normal !important;
    }
}

.fnt-md-16 {
    @media screen and (min-width: 768px) and (max-width: 992px) {
        font-size: 16px !important;
        line-height: normal !important;
    }
}

.fnt-md-bold {
    @media screen and (min-width: 768px) and (max-width: 992px) {
        font-weight: bold;
    }
}

.fnt-16 {
    font-size: 16px;
    line-height: 20px;
}

.fnt-md-18 {
    font-size: 18px;
    line-height: 22px;
}
