<script src="language-dropdown.component.ts"></script>
<p-dropdown
    [options]="languageList"
    optionLabel="label"
    optionValue="value"
    [(ngModel)]="selectedLanguage"
    styleClass="p-dropdown-translate"
    (onChange)="onChangeLanguage()"
>
    <ng-template let-selectedItem pTemplate="selectedItem">
        <span class="fnt-14 fw-b text-clr60b pr-2">
            <img
                *ngIf="selectedLanguage !== 'pt'"
                [src]="'assets/images/' + selectedLanguage + '-flag.svg'"
                alt="flag-image"
                class="flag-image"
            />
            <img
                *ngIf="selectedLanguage === 'pt'"
                [src]="'assets/images/brazil-flag.png'"
                class="flag-image"
                alt="flag-image"
            />
            <span class="fw-b fnt-16">
                {{ selectedItem.label | titlecase }}
            </span>
        </span>
    </ng-template>
    <ng-template let-languageItem pTemplate="item">
        <div class="d-flex align-items-center">
            {{ languageItem.label }}
        </div>
    </ng-template>
</p-dropdown>
