@import 'variables';
.custom-popover {
    li {
        list-style: none;
        padding-right: 4.5rem;
        border: none !important;
    }
}
.searchContainer {
    margin-top: 2rem;
}
.roleTxt-selector {
    color: $primary-color;
    cursor: pointer;
}
.ellipsisWidth {
    width: 5%;
}
::ng-deep .userTable .p-datatable .p-sortable-column:not(.p-highlight):hover {
    background: #ffffff;
}
::ng-deep .userTable .headerFilter .p-inputtext {
    padding-left: 0px;
}
::ng-deep .userTable .p-datatable-tbody > tr > .checkBoxClass {
    padding-left: 0px !important;
    text-align: center;
}
::ng-deep .userTable .p-datatable-thead > tr > .checkBoxClass {
    padding: 0px !important;
    text-align: center;
}
.rolesHeader {
    font-weight: 700;
}
.selectedRoleHeader {
    color: $primary-color;
}
.popupExpression_txt {
    font-family: PlayfairDisplay;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #020202;
}
.popupMessage_txt {
    font-family: PlayfairDisplay;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #5d5d5d;
}
::ng-deep .userTable .ui-column-filter {
    margin-bottom: 0px !important;
    border: 0px !important;
    background: inherit;
}
::ng-deep .p-datatable.p-datatable-hoverable-rows .p-datatable-tbody > tr:not(.p-highlight):hover {
    background: #ffffff;
}
::ng-deep .userTable .p-datatable .p-datatable-tbody > tr:last-child {
    border-bottom: 1px dashed #d6d6d6;
}
::ng-deep .userTable .p-datatable .p-paginator-bottom {
    background-color: transparent;
    border-width: 0;
    margin: 22px 0;
}
::ng-deep .userDialog .p-dialog-header {
    display: none;
}
::ng-deep .userDropdown .p-dropdown {
    margin-bottom: 0px !important;
}

.tableDataFont {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #232334;
}
.typeofStatus-active {
    color: #649a2b;
}
.typeofStatus-disabled {
    color: #979797;
}
.content_list {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    color: #747588;
    padding: 10px 0px 8px 3px;
    cursor: pointer;
    &:hover {
        color: #232334;
        background-color: #f8f8f8;
    }
}
.rolesColumn {
    overflow: unset !important;
    white-space: normal !important;
}
::ng-deep .p-datatable-tbody > tr > td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
::ng-deep .content_list {
    .ui-overlaypanel {
        border: none !important;
        border-radius: 6px !important;
        box-shadow: 0 0 17px 2px rgba(27, 27, 27, 0.08) !important;
        background-color: #ffffff;
        margin-left: -9px;
        &:before {
            border-bottom-color: #fffafa !important;
        }
    }
    .ui-overlaypanel-shifted {
        &:after {
            right: 10.9em !important;
        }
    }
    .tooltiptext {
        visibility: hidden;
        width: auto;
        object-fit: contain;
        border-radius: 4px;
        box-shadow: 0 -22px 34px 0 rgba(0, 0, 0, 0.08);
        border: solid 0.5px #ebebeb;
        background-color: #ffffff;
        line-height: 1.43;
        letter-spacing: normal;
        color: #747588;
        font-size: 14px;
        text-align: center;
        padding: 15px 20px 15px 20px;
        left: 22%;
        display: inline;
        margin-top: 2%;
        margin-left: 1.5%;
        position: absolute;
        z-index: 1;
        left: 15%;
        &::after {
            content: '';
            position: absolute;
            bottom: 100%;
            left: 12%;
            margin-left: -5px;
            border-width: 8px;
            border-style: solid;
            border-color: transparent transparent #ffffff transparent;
        }
    }
    td {
        &:hover {
            .tooltiptext {
                visibility: visible;
            }
        }
    }
    .table_ellipsis {
        max-width: 20%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 20%;
    }
    .popover-body {
        padding: 0.25rem 0.25rem !important;
    }
    .popover {
        border: none !important;
        border-radius: 5px !important;
        box-shadow: 0 0 17px 2px rgba(27, 27, 27, 0.08) !important;
        background-color: #ffffff;
        top: 4px !important;
    }
    .bs-popover-bottom {
        .arrow {
            &:after {
                top: 0px !important;
            }
        }
    }
}
.filter {
    font-family: 'Muli';
    font-weight: 600;
    color: #232334;
    font-size: 14px;
}
.border-total {
    border-radius: 20px;
    border: solid 1px #d6d6d6;
    background-color: #ffffff;
    padding: 10px 12px;
}
.search-raised {
    width: 50%;
    height: 38px;
    background-color: #fff;
    background: url(/assets/images/search-user.png) no-repeat scroll 11px 11px;
    background-size: 16px 16px;
    padding-left: 41px;
    font-family: Muli;
    font-size: 14px;
    font-weight: normal;
    color: #232334;
    border-radius: 4px;
    border: solid 1px #d6d6d6;
    background-color: #ffffff;
}
.pointer-item {
    cursor: pointer;
}
.list-group-item {
    border: none;
    font-family: 'Muli';
    font-size: 14px;
    font-weight: 600 !important;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #747588;
    &:hover {
        color: #232334;
        font-weight: 600 !important;
        background-color: #f8f8f8;
    }
}
.header-row {
    border: none !important;
}
::ng-deep .userTable .p-checkbox {
    margin-left: 0px;
}
.table-container {
    margin: 1.5rem 0;
}
@media (max-width: 991px) {
    .inviteBtn {
        padding-top: 16px !important;
    }
}
@media screen and (max-width: 767px) {
    .modal-header {
        border-bottom: 1px solid #d6d6d6 !important;
        padding: 0 0 25px 0 !important;
    }
    .searchContainer {
        margin-top: 1.5rem;
    }
    .modal-body {
        margin-top: 0px !important;
        padding: 0 !important;
    }
    .mobileNameDiv {
        background-color: #f8f8f8;
        margin: 4px;
        padding: 12px;
    }
    .nameMobileHeader {
        padding: 0px !important;
    }
    .mobileData {
        padding: 1rem 1rem !important;
    }
    ::ng-deep .userTable .p-datatable.p-datatable-responsive .p-datatable-tbody > tr {
        padding: 0px;
    }
    ::ng-deep .userTable .p-datatable.p-datatable-responsive .p-datatable-tbody > tr > td {
        border-bottom: 0px !important;
    }
    ::ng-deep .userTable .p-datatable.p-datatable-responsive .p-datatable-tbody > tr > .emailMobileClass {
        border-bottom: 1px dashed #d6d6d6 !important;
    }

    .mobileLable {
        color: #747588;
    }

    :host ::ng-deep .p-checkbox .p-checkbox-box {
        border-radius: 12px;
    }
    .table-container {
        border: 0px;
    }
}
