<div
    *ngIf="selectedUsers && selectedUsers.length > 0"
    class="d-none d-md-flex align-items-center justify-content-end p-0 pt-4 assign"
>
    <span class="fw-m text-clr588 float-right mr-3"> Selected: {{ selectedUsers.length | number: '2.0' }} </span>
    <button
        *ngIf="selectedUsers.length > 0"
        type="button"
        class="btn btn-raised float-right"
        (click)="assignUsersToRole()"
    >
        {{ 'assign' | translate }}
    </button>
</div>
<div *ngIf="selectedUsers && selectedUsers.length > 0" class="d-flex d-sm-flex d-md-none pt-3 align-items-center">
    <span class="fw-m text-clr588"> {{ selectedUsers.length }} selected </span>
    <button
        *ngIf="selectedUsers.length > 0"
        type="button"
        class="btn btn-raised pull-right ml-auto w-50"
        (click)="assignUsersToRole()"
    >
        {{ 'assign' | translate }}
    </button>
</div>

<div class="mt-4">
    <p-table
        #myTable
        [value]="tableValue"
        [columns]="tableColumns"
        dataKey="id"
        [showCurrentPageReport]="false"
        [loading]="loading"
        [paginator]="totalCount > tableRows"
        [pageLinks]="(isMobile$ | async) ? 3 : 5"
        [rows]="tableRows"
        [lazy]="true"
        (onLazyLoad)="getTableData($event)"
        [totalRecords]="totalCount"
        selectionMode="multiple"
        [(selection)]="selectedUsers"
        [responsive]="true"
        [scrollable]="isTablet$ | async"
        styleClass="mobile-card-view"
    >
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngIf="isAddMember" style="width: 5%; padding-right: 0.625rem !important" class="checkBoxClass">
                    <p-checkbox (click)="selectRows(e.checked)" #e></p-checkbox>
                </th>
                <th
                    *ngFor="let col of columns"
                    [style.width]="col.width ? col.width + '%' : '30%'"
                    [ngClass]="{ 'd-md-none': col.field == 'add_user', 'curosr-pointer': col.field == 'roles' }"
                >
                    <span *ngIf="col.field !== 'roles'">{{ col.header | translate }}</span>
                    <p-sortIcon *ngIf="col.sortable" [field]="col.field"> </p-sortIcon>
                    <p-dropdown
                        *ngIf="col.field == 'roles'"
                        [options]="roleList"
                        optionLabel="name"
                        optionValue="id"
                        (onChange)="filterCall()"
                        scrollHeight="225px"
                        placeholder="{{ 'all_roles' | translate }}"
                        [(ngModel)]="termRole"
                        appendTo="body"
                        styleClass="no-border no-padding"
                    >
                        <ng-template pTemplate="selectedItem">
                            <span class="fw-b">{{ termRoleName }}</span>
                        </ng-template>
                    </p-dropdown>
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr (click)="editMember(rowData.id)">
                <td *ngIf="isAddMember && !(isMobile$ | async)">
                    <p-tableCheckbox
                        [value]="rowData"
                        [disabled]="assignedUsers.includes(rowData.id)"
                        (click)="selectRow(rowData.roles)"
                    ></p-tableCheckbox>
                </td>
                <td
                    *ngFor="let col of columns"
                    [ngSwitch]="col.field"
                    [style.width]="col.width ? col.width + '%' : '30%'"
                    [class.text-clrb7]="assignedUsers.includes(rowData.id)"
                >
                    <span *ngIf="col.field !== 'name'" class="p-column-title">{{ col.header | translate }}</span>
                    <span *ngSwitchCase="'name'">
                        <span class="d-none d-md-block">
                            {{ rowData[col.field] }}
                        </span>
                        <div class="d-flex align-items-center justify-content-between d-md-none">
                            <div>
                                <span>{{ rowData[col.field] }}</span>
                                <span class="status-badge {{ rowData['status'] }} ml-3 {{ rowData['status'] }}"
                                    >{{ rowData['status'] | titlecase }}
                                </span>
                            </div>
                            <p-tableCheckbox
                                *ngIf="isAddMember"
                                class="float-right"
                                [value]="rowData"
                                [disabled]="assignedUsers.includes(rowData.id)"
                                (click)="selectRow(rowData.roles)"
                            ></p-tableCheckbox>
                            <div *ngIf="!isAddMember" class="float-right">
                                <ng-container
                                    *ngTemplateOutlet="actionsTpl; context: { rowData: rowData }"
                                ></ng-container>
                            </div>
                        </div>
                    </span>
                    <span *ngSwitchCase="'last_login_at'">
                        {{ (rowData[col.field] | date: 'd MMM y, h:mm a') || '-' }}
                    </span>
                    <span *ngSwitchCase="'created_at'">
                        {{ (rowData[col.field] | date: 'd MMM y, h:mm a') || '-' }}
                    </span>
                    <span *ngSwitchCase="'email'" class="text-break"> {{ rowData[col.field] }} </span>
                    <span *ngSwitchCase="'roles'"> {{ rowData['roleLable'] }} </span>
                    <span *ngSwitchCase="'status'" class="status-badge {{ rowData['status'] }}"
                        >{{ rowData['status'] | titlecase }}
                    </span>
                    <span *ngSwitchCase="'actions'">
                        <ng-container *ngTemplateOutlet="actionsTpl; context: { rowData: rowData }"></ng-container>
                    </span>
                    <span *ngSwitchDefault> {{ rowData[col.field] }} </span>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="summary">
            <app-empty *ngIf="!loading && !tableValue?.length" [title]="'no_data_available' | translate"></app-empty>
        </ng-template>
    </p-table>
</div>
<button class="btn-stroked d-none d-md-block mt-4" *ngIf="isAddMember" (click)="location.back()">Cancel</button>

<ng-template #actionsTpl let-rowData="rowData">
    <div *ngIf="route.snapshot.routeConfig.path === 'pending-invitations'">
        <div class="brown-cta" (click)="inviteTeamMember(rowData); $event.stopPropagation()">
            {{ 'resend_invite' | translate }}
        </div>
    </div>
    <div *ngIf="route.snapshot.routeConfig.path !== 'pending-invitations'">
        <app-action-menu *ngIf="rowData.id !== loginId" [menuItems]="getMenuItemsForItem(rowData)"></app-action-menu>
    </div>
</ng-template>
