@import 'variables';
.custom-popover {
    li {
        list-style: none;
        padding-right: 4.5rem;
        border: none !important;
    }
}
.ellipsisWidth {
    width: 5%;
}
::ng-deep .userTable .p-datatable .p-sortable-column:not(.p-highlight):hover {
    background: #ffffff;
}
::ng-deep .userTable .headerFilter .p-inputtext {
    padding: 0px;
}
::ng-deep .userTable .p-datatable-tbody > tr > .checkBoxClass {
    padding-left: 0px !important;
    text-align: center;
}
::ng-deep .userTable .p-datatable-thead > tr > .checkBoxClass {
    padding: 0px !important;
    text-align: center;
}
.selectedRoleHeader {
    color: $primary-color;
}
::ng-deep .userTable .ui-column-filter {
    margin-bottom: 0px !important;
    border: 0px !important;
    background: inherit;
}
::ng-deep .p-datatable.p-datatable-hoverable-rows .p-datatable-tbody > tr:not(.p-highlight):hover {
    background: #ffffff;
}
::ng-deep .userTable .p-datatable .p-datatable-tbody > tr:last-child {
    border-bottom: 1px dashed #d6d6d6;
}
::ng-deep .userTable .p-datatable .p-paginator-bottom {
    background-color: transparent;
    border-width: 0;
    margin: 22px 0;
}
::ng-deep .userTable .p-datatable .p-paginator-bottom {
    margin: 0;
}
::ng-deep .userDialog .p-dialog-header {
    display: none;
}
::ng-deep .userDropdown .p-dropdown {
    margin-bottom: 0px !important;
}

.tableDataFont {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
}
.typeofStatus-active {
    color: #649a2b;
}
.typeofStatus-disabled {
    color: #979797;
}
.rolesColumn {
    overflow: unset !important;
    white-space: normal !important;
}
::ng-deep .p-datatable-tbody > tr > td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.filter {
    font-family: 'Muli';
    font-weight: 600;
    color: #232334;
    font-size: 14px;
}
.list-group-item {
    border: none;
    font-family: 'Muli';
    font-size: 14px;
    font-weight: 600 !important;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #747588;
    &:hover {
        color: #232334;
        font-weight: 600 !important;
        background-color: #f8f8f8;
    }
}
::ng-deep .userTable .p-checkbox {
    margin-left: 0px;
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    .inviteBtn {
        width: 234px;
    }
}
@media screen and (max-width: 767px) {
    .modal-header {
        border-bottom: 1px solid #d6d6d6 !important;
        padding: 0 0 25px 0 !important;
    }
    .searchContainer {
        margin-top: 1.5rem;
    }
    .modal-body {
        margin-top: 0px !important;
        padding: 0 !important;
    }
    .mobileNameDiv {
        background-color: #f8f8f8;
        margin: 4px;
        padding: 12px;
    }
    .nameMobileHeader {
        padding: 0px !important;
    }
    .mobileData {
        padding: 1rem 1rem !important;
    }
    ::ng-deep .userTable .p-datatable.p-datatable-responsive .p-datatable-tbody > tr {
        padding: 0px;
    }
    ::ng-deep .userTable .p-datatable.p-datatable-responsive .p-datatable-tbody > tr > td {
        border-bottom: 0px !important;
    }
    ::ng-deep .userTable .p-datatable.p-datatable-responsive .p-datatable-tbody > tr > .emailMobileClass {
        border-bottom: 1px dashed #d6d6d6 !important;
    }

    .mobileLable {
        color: #747588;
    }

    :host ::ng-deep .p-checkbox .p-checkbox-box {
        border-radius: 50%;
    }
    .table-container {
        border: 0px;
    }
}
.text-clrb7 {
    color: #b7b7b7 !important;
}

@media (min-width: 768px) {
    .table-wrapper {
        overflow-x: auto;
        .table-container {
            min-width: 1144px;
        }
    }
}
