@import 'variables';

.text-clrb7 {
    color: #b7b7b7 !important;
}

.assign {
    @media (min-width: 768px) {
        margin-top: -70px;
    }
}

:host ::ng-deep {
    .p-dropdown {
        background-color: transparent;
    }
}
