@import 'variables';

.btn-file-upload {
    background: transparent;
    font-size: 14px;
    color: #232334;
    line-height: 16px;
    padding: 8px 12px;
    border: 1px solid #747588;
    border-radius: 2px;
    &:hover {
        border: 1px solid #747588 !important;
    }
    img {
        height: 16px;
        width: 16px;
    }
}

.header {
    height: 50px;
    border-radius: 4px;
    background-color: #f8f8f8;
    padding: 0.75rem;
}

hr {
    border-top: 1px dashed #d6d6d6 !important;
}

.border-right {
    border-right: 1px solid #d6d6d6;
}

.star {
    color: #ff1e5a;
}

.add-text {
    color: #80460b;
}

.partner-tag {
    cursor: pointer;
}

.partner-tag:hover {
    text-decoration: underline !important;
}

.img-estate {
    width: 32px;
    height: 32px;
}

.details-list {
    list-style: none;
    margin-left: 1.5rem;
}

.border-div {
    border-bottom: 1px dashed #d6d6d6;
}

/**********popover*******/

.list-data li {
    width: auto !important;
    padding: 10px 3rem 10px 10px !important;
}

.list-data {
    margin-bottom: 0%;
}

::ng-deep .popover-body {
    padding: 0.25rem 0.25rem !important;
}

::ng-deep .popover {
    border: none !important;
    border-radius: 6px !important;
    box-shadow: 0 0 17px 2px rgba(27, 27, 27, 0.08) !important;
    background-color: #ffffff;
}

.list-item {
    border: none;
    font-family: $general-font-family;
    font-size: 14px;
    font-weight: 600 !important;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #747588;
    &:hover {
        color: #232334 !important;
        font-weight: 600 !important;
        background-color: #f8f8f8 !important;
    }
}

.pointer-item {
    cursor: pointer;
}

.partner-image {
    height: 52px;
    width: 52px;
    border-radius: 100%;
}

/* contacts view port Desktop view */

.add-partner {
    cursor: pointer;
    color: #80460b;
}

.unit-dropdown {
    position: absolute;
    bottom: 5px;
    right: 13px;
    @media screen and (max-width: 767px) {
        right: 19px !important;
    }
}

::ng-deep .unit-dropdown {
    .p-dropdown {
        height: 42px;
        min-width: 87px;
        background: #f8f8f8;
        border: none;
    }
}

.custom-chart-container {
    height: 235px;
    width: 235px;
    margin: auto;
    margin-top: -72px;
    margin-bottom: 60px;
}

.menu-arrow {
    height: 20px;
    width: 20px;
    text-align: center;
    margin-right: -10px;
}

.add-contact-group {
    padding-top: 0.1rem !important;
}

.partner-item-container {
    display: flex;
    justify-content: space-between;
    .partner-item {
        width: 100%;
    }
}

.add-partner-data {
    .profile-avatar {
        position: relative;
        .avatar-img {
            height: 90px;
            width: 90px;
            border-radius: 50%;
        }
        .change-avatar-btn {
            position: absolute;
            bottom: 0px;
            right: 0px;
        }
    }

    .partner-name {
        width: 100%;
        input {
            max-width: 345px;
            width: 100%;
        }
    }

    .btn-delete-avatar {
        background-color: transparent;
        border: none;
        color: #3d8462;
        padding: 8px 12px 0 12px;
    }
}
.add-partner-btns {
    min-height: 26px;
}

.partner-name-input {
    max-width: 345px;
    @media screen and (min-width: 768px) {
        max-width: 310px;
    }
    @media screen and (max-width: 767px) {
        max-width: none;
    }
}

.partner-edit-btn {
    margin-left: 19px;
    margin-top: 10px;
}

.sewn-form-field {
    label {
        color: #747588;
    }
}

.profile-des {
    p {
        white-space: nowrap;
    }
}

.upload-button {
    padding: 8px 12px;
    border-radius: 2px;
    border: solid 1px #747588;
    cursor: pointer;
}

.visiblity-hidden {
    visibility: hidden;
}

.slider-div {
    width: 80%;
    margin: auto;
}

// link with add
.add-link {
    color: $brown-color !important;
    font-weight: 700;
    position: relative;
    padding-right: 16px;
    line-height: normal !important;
    cursor: pointer;

    &::before {
        content: '';
        position: absolute;
        width: 16px;
        height: 100%;
        top: 0px;
        left: 0px;
        background-image: url('/assets/images/add-field.svg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    &:hover {
        color: $brown-color;
        text-decoration: underline !important;
    }
}

.service-content {
    min-height: 100%;
}

.contact-profile-img {
    max-width: 150px;
    max-height: 146px;
}
