<div class="form-container">
    <div class="row pl-2 pr-2 mt-4">
        <div class="col-lg-8 col-12 pt-0 pl-2 pr-2">
            <div class="border-md-main br-4 p-lg-4 p-md-3">
                <div class="row border-md-main border-md-none br-6 mt-3 m-0 p-0 p-md-0 mr-md-0 ml-md-0">
                    <div class="sewn-form-field col-6 col-md-6 m-0 pl-0 pr-md-2 pr-0 pt-0 pt-md-0">
                        <label class="fnt-12 fnt-md-14" for="founded_in">
                            {{ 'founded_in' | translate }}
                        </label>
                        <p class="fnt-14 fw-m text-clr334 mb-1">
                            {{ profileCreationService.organizationProfile?.founded_on }}
                        </p>
                    </div>

                    <div class="sewn-form-field col-6 mt-0 col-md-6 mt-md-0 mb-0 pl-0 pr-0 pl-md-2">
                        <label class="fnt-12 fnt-md-14" for="owner_name">
                            {{ 'owner_name' | translate }}
                        </label>
                        <p class="fnt-14 fw-m text-clr334 mb-1">
                            {{ profileCreationService.organizationProfile?.owner_name }}
                        </p>
                    </div>
                </div>

                <div
                    class="row border-md-main border-md-none br-4 mb-3 mb-md-45 m-0 mt-3 mt-md-0 p-0 p-md-0 mr-md-0 ml-md-0"
                >
                    <div class="sewn-form-field col-md-12 mt-md-45 p-0 mb-0">
                        <label class="fnt-12 fnt-md-14" for="summary">Company Summary </label>
                        <p class="fnt-14 fw-m text-clr334">
                            {{ profileCreationService.organizationProfile?.description }}
                        </p>
                    </div>
                </div>

                <!-- company details d-none d-md-block -->

                <hr class="mt-2" />
                <div class="row border-md-main border-md-none br-4 mt-md-45 mb-4 mb-md-45 m-0 p-0 p-md-0">
                    <div class="col-9 mb-3 mb-md-45 p-0">
                        <p class="fnt-18 fw-b text-clr334 w-100 mb-1">Company details</p>
                    </div>

                    <!-- save mode company details -->
                    <div class="col-12 p-0">
                        <div class="border-main pl-3 pr-3 pl-md-4 pr-md-4">
                            <div class="border-bottom pt-3 pb-3 d-flex justify-content-between">
                                <p class="fnt-14 m-0 fw-m text-clr588">VAT number</p>
                                <p class="fnt-14 m-0 fw-m text-clr276">
                                    {{ profileCreationService.organizationProfile?.vat_number }}
                                </p>
                            </div>
                            <div class="pt-3 pb-3 d-flex justify-content-between">
                                <p class="fnt-14 m-0 fw-m text-clr588">Customer ID</p>
                                <p class="fnt-14 m-0 fw-m text-clr276">
                                    {{ profileCreationService.organizationProfile?.registration_id }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- // save mode company details // -->
                </div>

                <hr class="mt-0 mb-4 mb-md-45" />

                <!-- partner -->
                <div class="row mt-md-45 mb-4 mb-md-45">
                    <div class="col-12">
                        <p class="fnt-18 fw-b text-clr334 w-100 mt-2 mt-md-0 mb-1">
                            Your partners <span class="fnt-14 fw-m text-clr588">(optional)</span>
                        </p>
                    </div>
                </div>

                <div class="row mb-4 mb-md-45 pl-2 pr-2">
                    <div class="col-12 col-md-6 pl-2 pr-2 mb-25" *ngFor="let partner of partners">
                        <div class="border-main br-4 partner-item p-25 p-md-3">
                            <div class="w-100 d-flex align-items-center mb-25 mb-md-4">
                                <div class="mr-3">
                                    <img [src]="partnerImageUrl" class="partner-image" />
                                </div>
                                <div class="partner-meta-container">
                                    <p class="fnt-16 fw-b text-clr334 mb-2">
                                        {{ partner.name }}
                                    </p>
                                    <p class="fnt-14 fw-m text-clr334 mb-0">
                                        {{ partner.type }}
                                    </p>
                                </div>
                            </div>
                            <div class="w-100 pt-25 mt-md-0 mb-0 text-right text-md-left border-top">
                                <a class="arrow-link" routerLink="/invite-friends">View Partner</a>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="mt-0 mb-4 mb-md-45" />

                <div class="d-block">
                    <div class="employer mt-4">
                        <p class="fnt-18 fw-b text-clr334 w-100 mb-1">{{ 'contacts' | translate }}</p>
                        <p class="fnt-14 fw-m text-clr588 w-100 m-0 mb-4">
                            {{ 'list_down_top_employees' | translate }}
                        </p>
                        <div class="row p-0">
                            <div
                                class="col-lg-3 col-md-3 col-sm-6 col-6 mb-3 pl-3 pr-3"
                                *ngFor="let contact of profileCreationService.operatorContacts"
                            >
                                <div class="employ-profile">
                                    <div class="p-gal">
                                        <img
                                            class="w-100 contact-profile-img"
                                            [src]="contact.profile_image_url || 'assets/images/profile.svg'"
                                        />
                                    </div>
                                    <div class="profile-des">
                                        <p class="fnt-16 fw-b mb-1 mt-3 text-clr334">
                                            {{ contact.name | titlecase }}
                                        </p>
                                        <p class="fnt-14 fw-m text-clr588 mb-0">
                                            {{ contact.roles[0] || '-' }}
                                        </p>
                                    </div>
                                    <div class="mt-3 mt-lg-45">
                                        <button class="btn-file-upload d-flex">
                                            <img class="mr-2" src="assets/images/message-icon.svg" alt="message icon" />
                                            {{ 'message' | translate }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-12 pt-0 pl-2 pr-2 d-none d-lg-block"></div>
    </div>
</div>
