<ng-container *ngFor="let menu of menuItems">
    <li
        [class.nav-links__item]="!menuParentId"
        [class.d-md-inline-block]="!menuParentId"
        [class.position-relative]="!menuParentId"
        [class.arrow]="menu.hasSubMenu"
        [id]="'menu-item-' + menu.id"
        *appAclIf="menu.permissions"
    >
        <ng-container *ngIf="!menu.hasSubMenu">
            <ng-container *ngIf="menu.type == MenuType.GENERAL">
                <a *ngIf="!menu.href" class="d-inline-block fw-m" [routerLink]="[menu.routerLink]"
                    >{{ menu.title | translate }}
                </a>
                <a *ngIf="menu.href" class="d-inline-block fw-m" [href]="menu.href" target="_blank" rel="noreferrer"
                    >{{ menu.title | translate }}
                </a>
            </ng-container>
            <ng-container *ngIf="menu.type == MenuType.SHOPLINK">
                <a class="d-inline-block fw-m" [href]="menu.href | shopLink" target="_blank" rel="noreferrer"
                    >{{ menu.title | translate }}
                </a>
            </ng-container>
        </ng-container>

        <a *ngIf="menu.hasSubMenu" class="d-inline-block fw-m" href="javascript:void(0)" (click)="onClick(menu.id)"
            >{{ menu.title | translate }}
        </a>
        <ul
            *ngIf="menu.hasSubMenu; &quot;sub-menu&quot;"
            class="nav-dropdown mb-0 no-bullet-ul"
            [id]="'sub-menu-' + menu.id"
        >
            <app-menu [menuParentId]="menu.id"></app-menu>
        </ul>
    </li>
</ng-container>
