.order__id {
    color: #232334;

    span {
        &.order--prebook {
            color: #7c6be8;
        }

        &.order--booked {
            color: #649a2b;
        }

        &.order--sample {
            color: #f19634;
        }
    }
}
