<div class="total_header page-breadcrumb margin-mb-0 pmb-0 pb-0 pt-0">
  <div class="row">
      <div class="col-12 px-3">
          <div class="d-md-flex flex-column bg-white w-100 br-4 pt-3 px-md-3 py-md-4 px-lg-5">
              <div class="col-12 px-md-0 page-breadcrumb__nav">
                  <div class="col-lg-6 col-md-6 col-sm-12 pull-left mr-auto pl-0 pr-0">
                      <p-breadcrumb [model]="breadcrumbs"></p-breadcrumb>
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-12 pull-right ml-auto d-none d-md-block pl-0 pr-0">
                      <span class="pull-right ml-auto order-placed-text">
                          {{ 'order_placed_on' | translate }} :
                          <span class="date-text">{{createdAt | date: 'd MMM, y'}}</span>
                      </span>
                  </div>
              </div>
              <section class="container create-role-sec mt-35 mt-md-2 px-md-0 mb-15">
                  <div class="col-lg-12 col-md-12 col-sm-12 pr-0">
                      <div class="row">
                          <div class="col-md-6 pl-0 pr-0">
                              <div class="order__id d-flex align-items-center pt-2 fnt-sm-16 fnt-18 font-bold">
                                  {{ 'order' | translate }} #{{ orderId }}
                                  <span class="ml-2 fnt-sm-12 fnt-14 fnt-600" [ngClass]="typeClass">&#9679; {{ typeName }}</span>
                              </div>
                          </div>
                          <div class="btn-div col-md-6 pl-0 pr-3 d-md-block d-none">
                              <button class="btn-raised pull-right" (click)="openInvoice()">{{ 'order_invoice' | translate | titlecase }}</button>
                          </div>
                      </div>
                  </div>
                  <app-order-timeline [invoiceUrl]="invoiceUrl"></app-order-timeline>
              </section>
              <app-payment-status [orderId]="orderId" *ngIf="!statusPaid && organizationType === OrgTypes.MICRO_ROASTER"></app-payment-status>
          </div>
      </div>
  </div>
</div>