<div class="mb-3 mb-md-5">
    <div class="experience-block bg-f8 br-4">
        <div class="content-wrap">
            <h3 class="fnt-16 fnt-md-18 black fw-b" style="white-space: nowrap">
                {{ 'update_your_coffee_experience' | translate }}!
            </h3>
            <p class="fnt-14 fnt-12-md-only text-clr588 fnt-normal">
                {{ 'roaster_update_your_coffee_experience_desp' | translate }}
            </p>
            <button class="btn-raised mt-25" routerLink="/coffee-experience">{{ 'update_now' | translate }}</button>
        </div>

        <div class="img-wrap w-100">
            <img
                class="d-none d-lg-block"
                src="assets/images/update-your-coffee-exp.svg"
                alt="update-your-coffee-exp"
            />
            <img class="d-sm-none" src="assets/images/update-your-coffee-exp-mob.svg" alt="update-your-coffee-exp" />
            <img
                class="sm-hide d-lg-none"
                src="assets/images/update-your-coffee-exp-tab.svg"
                alt="update-your-coffee-exp"
            />
        </div>
    </div>
</div>
