.bg-fff {
    padding: 1rem 2rem 2rem 2rem;
}

.social-head {
    font-family: Muli;
    font-size: 18px;
    font-weight: bold;
    color: #232334;
}

.social-para {
    font-family: Muli;
    font-size: 14px;
    font-weight: normal;
    color: #747588;
}


/*=======   Tabs  =======*/

.mixups-tabs {
    background-color: #ffffff;
    overflow: hidden;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #232334;
    font-size: 14px;
    font-weight: 600;
    background-color: unset !important;
    border-radius: unset;
}

.nav-pills .nav-link.active {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    display: inline-block;
}

.nav-pills .nav-link.active:before {
    content: '';
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 50%;
    text-align: center;
    margin: auto;
    top: 80%;
    transform: translate(-50%);
    border-radius: 1.5px;
    background-color: #30855c;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.nav-pills .nav-link:hover::before {
    width: 100%;
    content: '';
    opacity: 1;
}

.nav-pills .nav-link.active:before {
    opacity: 1;
    width: 100%;
}

.nav-pills {
    border-bottom: 1px solid #dddddd;
}

li.nav-item {
    margin-right: 7%;
    position: relative;
    top: .25rem;
}

.nav-pills .nav-link {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    color: #232334;
}

.nav-pills .nav-link.active {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    color: #30855c;
}

.img-open-title {
    font-family: Muli;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.38;
    color: #232334;
}

.img-open-para {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.57;
    color: #747588;
}

.share-txt {
    font-family: Muli;
    font-size: 13px;
    font-weight: 500;
    color: #232334;
}

.share-img {
    width: 17px;
    height: 17px;
}

.dwnd-img {
    width: 15px;
    height: 15px;
}

.share-bor {
    border-radius: 2px;
    border: solid 2px rgba(116, 117, 136, 0.6);
    padding: 6px 12px;
    cursor: pointer;
}

.underline {
    text-decoration: none;
}

.cursor-pointer img {
    cursor: pointer;
}

.txt-l {
    text-align: left;
}

.december {
    font-family: Muli;
    font-size: 12px;
    font-weight: 600;
    color: #979797;
}

.read-art {
    font-family: Muli;
    font-size: 14px;
    font-weight: bold;
    color: #30855c;
    position: relative;
    top: 1px;
}

.border {
    border-radius: 2px;
    border: solid 1px #ebebeb;
    background-color: #ffffff;
}

.border:hover {
    box-shadow: 0 22px 54px -10px rgba(223, 223, 223, 0.5);
}

.social-images {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.social-post-farmlink__item {
    width: 100%;
    height: 100%;
}

.social-post-farmlink__item::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    z-index: 1;
    mix-blend-mode: multiply;
    background-image: linear-gradient(to bottom, #ffffff, #000000);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.4;
    transition: 0.4s ease-in-out;
}

.social-post-farmlink__item:hover::after {
    height: 100%;
}

.social-post-farmlink__item:hover .post-info {
    bottom: 25px;
    opacity: 1;
}

.post-info {
    position: absolute;
    bottom: 0;
    opacity: 0;
    transition: 0.5s ease-in-out;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.38;
    color: #ffffff;
    text-align: left;
    z-index: 9;
    padding: 0px 25px;
}

.video-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
}

::ng-deep .modal-header {
    border-bottom: 0px !important;
    padding: 0.5rem 1rem;
}

::ng-deep .modal-header {
    border-bottom: 0px !important;
    padding: 1rem 2rem .5rem 2rem;
}

::ng-deep .modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 0rem 0rem 1rem 2rem;
}

@media (min-width: 576px) {
     ::ng-deep .modal-dialog {
        max-width: 58% !important;
        margin: 10rem auto 3rem auto;
    }
}

@media (max-width:767px) {
    .bg-fff {
        padding: 1rem .7rem;
        border-radius: 4px;
    }
    .fram-img {
        height: 220px;
    }
    .post-info {
        font-size: 12px;
        padding: 0px 5px;
    }
     ::ng-deep .modal-dialog {
        max-width: 90% !important;
        margin: 8rem auto 3rem auto;
    }
     ::ng-deep .modal-body {
        position: relative;
        flex: 1 1 auto;
        padding: 0rem 0rem 1rem 0rem;
    }
     ::ng-deep .modal-header {
        border-bottom: 0px !important;
        padding: 1rem 1rem 1rem 1rem;
    }
    .txt-l {
        padding: 0rem 2rem 1rem 2rem;
    }
    .grey-bor {
        border-bottom: 2px dashed #ebebeb;
    }
}

@media (max-width:375px) {
    li.nav-item {
        margin-right: 5%;
    }
}

@media (max-width:320px) {
    .fnt-18 {
        font-size: 14px !important;
    }
    .txt-l {
        padding: 0rem 1rem 1rem 2rem;
    }
}

/* Video model popup */

::ng-deep .mat-slider-horizontal .mat-slider-wrapper{
    top: 4px !important;
}
::ng-deep .controls .progress{
    height: 8px !important;
}
::ng-deep .mat-slider{
    position: unset !important;
}
::ng-deep .modal-content.video-content{
    padding: 0 !important;
    background: none !important;
}
.video-close {
    background: #00b3ff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: 700;
    margin: 0 0 0 auto;
    transform: translate(50%, -50%);
    position: absolute;
    z-index: 99;
    cursor: pointer;
    right: 0;
    top: 0;
    pointer-events: all;
}