@import 'variables';

.dashboard-button {
    height: 12.31rem;
    width: 16.93rem;
    border-radius: 2px;
    border: solid 1px #ebebeb;
    background-color: #ffffff;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}
.dashboard-button:hover {
    border: 1px solid $primary-color;
}
.logo-img {
    bottom: 2px;
    position: relative;
}
.mobileCardDiv {
    padding: 12px;
    border: 1px solid #d6d6d6;
}
@media all and (max-width: 767px) {
    .logo-img {
        bottom: 2px;
        position: relative;
        width: 24px;
        height: 24px;
    }
    .arrowClass {
        font-size: 20px;
        font-weight: bold;
        color: #232334;
    }
}
@media only screen and (max-width: 1240px) {
    .dashboard-button {
        height: 12.31rem;
        width: 20.06rem;
        border-radius: 2px;
        border: solid 1px #ebebeb;
        background-color: #ffffff;
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
    }
}
@media only screen and (max-width: 1024px) and (min-width: 991px) {
    .dashboard-button {
        height: 12.31rem;
        width: 16.93rem;
        border-radius: 2px;
        border: solid 1px #ebebeb;
        background-color: #ffffff;
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
    }
}

@media only screen and (max-width: 990px) {
    .dashboard-button {
        height: 12.31rem;
        width: 20.06rem;
        border-radius: 2px;
        border: solid 1px #ebebeb;
        background-color: #ffffff;
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
    }
}
