<header>
    <div class="sewn_heading">
            <svg class="logo_sewn" xmlns="http://www.w3.org/2000/svg" width="90" height="27" viewBox="0 0 115 27">
                <g fill="none" fill-rule="evenodd">
                    <g stroke="#000" stroke-width="1.5">
                        <path d="M1.448 9.926L10 18.416l8.552-8.49L10 1.437l-8.552 8.49z" transform="translate(0 -4) translate(0 4)"/>
                        <path d="M1.448 17.074L10 25.563l8.552-8.49L10 8.585l-8.552 8.49z" transform="translate(0 -4) translate(0 4)"/>
                    </g>
                    <text fill="#000" font-family="PlayfairDisplay-Bold, Playfair Display" font-size="26" font-weight="bold" letter-spacing="2.786" transform="translate(0 -4)">
                        <tspan x="32" y="28">SEWN</tspan>
                    </text>
                </g>
            </svg>
            
        <!-- <img class="logo_sewn" src="assets/images/sewn-black-logo.svg" alt="image"> -->
    </div> 
</header>
<div class="container-fluid position-total">
    <div class="row">
    <div class="col-1 first_column">
    </div>
    <div class="col-10 middle_column">
            <div class="mob-privacy policy-title">Our Privacy Policy</div>

        <div class="container">
            <div class="row justify-content-center">
                <h3 class="policy-title web-privacy">Our Privacy Policy</h3>
                <div class="col-12 text-center privacy-text mt-3">We care about your privacy!</div>
                <div class="col-12 text-center agree-text mt-1">By agreeing to the following, you are  giving permission to SEWN for</div>
            </div>
            <div class="main_spacing">
             <div class="col-xl-5 col-lg-6 col-md-7 col-sm-10 mx-auto">
                  <div class="custom-control custom-checkbox mb-1 top-spacing box_mobile">
                      <input type="checkbox" class="custom-control-input" id="custom_check1" name="example1">
                      <label class="custom-control-label text_checkbox" for="custom_check1"><span class="remeber-left">Accessing my account and it’s details</span></label>
                  </div>
                  <div class="custom-control custom-checkbox mb-1 mt-4 box_mobile" >
                      <input type="checkbox" class="custom-control-input" id="custom_check2" name="example2">
                      <label class="custom-control-label text_checkbox" for="custom_check2"><span class="remeber-left">Collecting my data</span></label>
                  </div>
                  <div class="custom-control custom-checkbox mb-1 mt-4 box_mobile">
                      <input type="checkbox" class="custom-control-input" id="custom_check3" name="example3">
                      <label class="custom-control-label text_checkbox" for="custom_check3"><span class="remeber-left">Accessing my chat</span></label>
                  </div>
                  <div class="line_spacing mt-3"></div>

                   <div class="custom-control custom-checkbox mb-1 mt-4 box_mobile">
                      <input type="checkbox" class="custom-control-input" id="custom_policy" name="example4">
                      <label class="custom-control-label policy_checkbox" for="custom_policy"><span class="remeber-left">I have read and agree to the <span class="policy_color">Privacy Policy</span></span></label>
                  </div>
                  <div class="custom-control custom-checkbox mb-1 mt-4 box_mobile">
                      <input type="checkbox" class="custom-control-input" id="custom_terms" name="example5">
                      <label class="custom-control-label policy_checkbox" for="custom_terms"><span class="remeber-left">I have read and agree to the <span class="policy_color">Terms and Conditions</span></span></label>
                  </div>
            </div>
          </div>
           <div class="text-center policy-spacing web-privacy">
                <button type="submit" class="col-3 col-sm-2 col-md-2 col-lg-1 next-button btn" routerLink="../login"><span class="next-text">NEXT</span>
                  </button>
            </div>

            <div class="form-group row mt-4 mob-privacy">
                    <div class="text-center">
                             <button type="button" routerLink="../login" class="btn btn-info login-butn">NEXT</button>
                         </div>
                 
                 </div>
    </div>
    
</div>
<div class="col-1 last_column">
    </div>
</div>
