.sewn_heading
    {
        background-color: #f3efe8;
    /* height: 60px; */
    /* padding-left: 101px; */
    padding: 2rem 7rem;
    }
    /* .logo_sewn{
        padding-top: 15px;
        margin-top: 16px;
    } */
   .first_column{
     background-color: #f3efe8;
     /* height: 90vh; */
     
   }
   .last_column{
        background-color: #f3efe8;

   }
   .middle_column{
        border-radius: 6px;
        background-color: #ffffff;
   }
   .policy-title{
    font-family: PlayfairDisplay;
    font-size: 32px;
    color: #000000;
    margin-top: 36px;
    font-weight: 500;
    line-height: 42px;
   }
   .privacy-text{
    font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  color: #a88057;
   }
   .agree-text{
    font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.43;
  color: #666666;
   }
   .text_checkbox{
     font-family: Montserrat;
  font-size: 13px;
  font-weight: 600;
  color: #666666;
  cursor: pointer;
   }
.policy_checkbox{
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 600;
  color: #666666;
  cursor: pointer;
  /* color: #333333 */
}
.top-spacing{
  margin-top: 2.3rem;
}
.main_spacing{
  margin-left: 4rem;
}
.line_spacing{
  border-top: 1px dashed #f3efe8;
  /*width: 215%;
    margin-left: -75%;*/
}
.policy_color{
  color: #3d8462;
}
.next-button{
  height: 40px;
  border-radius: 6px;
  background-color: #3d8462;
    margin-top: 3%;
    /* margin-bottom: 9%; */

}
.next-button:hover{
    background-color: #3d8462; 
    box-shadow: 0 0 7px 1px rgba(67, 146, 108, 0.5);
    /* border: #3d8462; */
}
.next-text{
   font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
}
.policy-spacing{
  /* margin-bottom: 70px; */
  padding-bottom: 2.3rem;
}
.remeber-left{
  display: inline-block;
  padding-left: 22px;
}
input:checked + label {
  /* color: #333333; */
  color:#000000;
  font-weight: 600;
}
.position-total{
  /* position:fixed; */
}
.text_checkbox:before,.policy_checkbox::before{
  /* border-radius: 6px; */
  border: solid 1px #827a7a87;
  background-color: #ffffff;
  top:2px;
}
.text_checkbox::after,.policy_checkbox::after{
  height: 1.4rem;
}
.mob-privacy{
  display: none;
}

@media screen and (min-width:1024px) and (max-width:1200px){
  .sewn_heading{
    padding: 2rem 5rem;
}
  
}
  @media all and (max-width: 991px) {
 .main_spacing {
    margin-left: 0rem !important;
}
}
@media all and (max-width: 767px) {
  .sewn_heading{
    padding: 2rem 4rem;
}
 .policy-title {
  font-size: 24px !important;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #faf8f4;
  padding: 10px;
  border-bottom: 1px solid #f2efeb;
  }
  .box_mobile{
    /* padding-left: 0px !important; */
  }
  .main_spacing {
    margin-left: -0.5rem !important;
    margin-top: -6px;
}
.position-total{
  /* position: unset !important; */
}
.text_checkbox{
  font-size: 12px !important;
}
.policy_checkbox {
  font-size: 12px !important;
}
.policy_color{
  text-decoration: underline;
}
.mob-privacy{
  display: block;
}
.web-privacy{
  display: none;
}
.privacy-text{
  color: #87623b;
}
.agree-text{
  font-size: 10px;
}
.login-butn {
  background-color: #3d8462;
  padding: 10px 24px;
  font-size: 11px;
  font-weight: 600;
  color: #ffffff;  
  border: #3d8462;
  border-radius: 6px;
  width: 90%;
  /* box-shadow: 0 0 7px 1px rgba(67, 146, 108, 0.5); */
}

.login-butn:hover{
 background-color: #3d8462; 
   border: #3d8462;
   box-shadow: 0 0 7px 1px rgba(67, 146, 108, 0.5);

}
.login-butn:focus {
  outline:0;
  background-color: #3d8462 !important;
}
.middle_column{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.policy-spacing{
  padding-bottom: 5.9rem !important;

}
.position-total{
  /* top:0;
  bottom: 0;
  position:fixed; */
}
}
@media screen and (max-width:425px){
  .sewn_heading{
    padding: 2rem 2rem;
    text-align: center;
}
}
