<ng-template #timeline>
    <div class="transit-scoll overflow-hidden overflow-md-auto mt-md-4">
        <div class="transit-maxwidth main-order-tracking-mbVesrion">
            <div class="w-100 d-flex flex-column flex-md-row">
                <div
                    class="d-flex flex-column align-items-center order-tracking"
                    [class.completed]="index > currentPointIndex"
                    *ngFor="let point of timelinePoints; let index = index; let last = last"
                >
                    <span class="d-block is-complete"></span>
                    <div class="text-md-center order-tracking__mb-text mt-order-0 ml-2 ml-md-0">
                        <p
                            class="order-status fnt-13 font-bold text-clr334 mt-md-2 mb-1"
                            [class.text-muted]="index > currentPointIndex"
                        >
                            {{ point.label }}
                        </p>

                        <p class="view-order cursor-pointer mb-0" *ngIf="isPrebook && index === 3; else statusInfo">
                            {{ 'view_lot_status' | translate }}
                        </p>
                        <ng-template #statusInfo>
                            <p
                                class="mb-0 fnt-14 fnt-sm-12 text-muted font-bold d-lg-block d-md-none d-sm-block"
                                *ngIf="index < 2"
                            >
                                By :
                                <span class="text-underline">{{ getStatusAuthor(point) }}</span>
                            </p>
                            <p class="pt-1 fnt-12 d-lg-block d-md-none d-sm-block">
                                {{ getStatusDate(point) | date: 'd MMMM y' }}
                            </p>
                        </ng-template>

                        <ng-container *ngIf="last && isGraded">
                            <label class="order-datecolor mb-0" *ngIf="!isGraded" (click)="upload.click()">
                                {{ 'upload_report' | translate }}
                            </label>
                            <input hidden type="file" #upload />
                            <p class="order-datecolor mb-0" *ngIf="isGraded">
                                {{ 'view_report' | translate }}
                            </p>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<div class="in-order mt-3 pb-lg-2 br-4" *ngIf="!showTextBlock">
    <div class="row">
        <div class="col-12 col-md-12">
            <ng-container *ngIf="(isMobile$ | async) !== true; else mobileTimeline">
                <h4 class="fnt-play fnt-700 fnt-24 text-clr334 mb-4 mb-md-2">
                    {{ statusLabel }}
                </h4>
                <ng-container *ngTemplateOutlet="timeline"></ng-container>
            </ng-container>
            <div
                class="btn-div col-md-6 pl-0 pr-0 d-inline-block d-md-none mb-2"
                [class.invoice-block]="accordionOpened"
            >
                <button type="submit" class="btn-raised pull-right w-100 text-center" (click)="openInvoice()">
                    {{ 'order_invoice' | translate }}
                </button>
            </div>
        </div>
    </div>
</div>

<ng-template #mobileTimeline>
    <p-accordion (onOpen)="accordionOpened = true" (onClose)="accordionOpened = false">
        <p-accordionTab #tab [selected]="true">
            <ng-template pTemplate="header">
                <div class="w-100 fnt-play fnt-700 fnt-18 text-clr334 mb-4 mb-md-2">
                    <span>{{ statusLabel }}</span>
                    <img
                        class="pl-2 pt-2 mt-1 pull-right"
                        src="assets/images/collapse-arrow.svg"
                        *ngIf="!tab.selected"
                    />
                    <img class="pl-2 pt-2 mt-1 pull-right" src="assets/images/expand-arrow.svg" *ngIf="tab.selected" />
                </div>
            </ng-template>
            <ng-template pTemplate="content">
                <ng-container *ngTemplateOutlet="timeline"></ng-container>
            </ng-template>
        </p-accordionTab>
    </p-accordion>
</ng-template>

<ng-container *ngIf="order && showTextBlock">
    <div class="in-order mt-4 confirm-shippment br-4">
        <div class="row">
            <ng-container *ngIf="order.status === OrderStatus.Received; else confirmationBlock">
                <div class="col-12 d-flex px-2 px-md-3">
                    <div class="img-block d-none d-md-block">
                        <span class="circle-image">
                            <img src="assets/images/timeline-check-active.svg" />
                        </span>
                    </div>
                    <div class="w-100 ml-md-3 d-flex flex-column flex-md-row justify-content-between">
                        <div class="d-flex flex-column">
                            <h4 class="fnt-md-26 fnt-sm-18 text-clr334 fnt-play">
                                {{ 'received_on' | translate }} {{ receivedDate | date: 'd MMMM y' }}
                            </h4>
                            <div class="fnt-md-16 fnt-sm-12 text-clr5d pt-2 fnt-500">
                                {{ 'you_have_successfully_received' | translate }}<br />
                                {{ 'please_rate_and_review' | translate }}
                            </div>
                        </div>
                        <div class="d-flex flex-column justify-content-between h-100">
                            <button
                                type="submit"
                                class="btn-raised sm"
                                *ngIf="orderId && orgType"
                                [routerLink]="orderId | orderRatingLink: orgType"
                            >
                                {{ ((isReviewed$ | async) ? 'view_feedback' : 'leave_a_feedback') | translate }}
                            </button>
                            <button
                                type="button"
                                class="btn-stroked sm my-3"
                                *ngIf="orderId && orgType === OrgTypes.ESTATE"
                                routerLink="/sourcing/estate-list"
                            >
                                {{ 'brose_other_estates' | translate }}
                            </button>
                        </div>

                        <button
                            type="submit"
                            class="btn-raised pull-right w-100 text-center mt-2 d-md-none"
                            (click)="openInvoice()"
                        >
                            {{ 'order_invoice' | translate }}
                        </button>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>

    <ng-template #confirmationBlock>
        <div class="col-12">
            <div class="d-flex justify-content-between">
                <div class="d-flex-column">
                    <div class="text-clr02 font-bold fnt-24">Confirm Order</div>
                    <div class="mt-25 text-clr5d fnt-16">
                        Please confirm if you have recieved the shipment you have ordered.<br />
                        The order will be marked as complete then
                    </div>
                    <div class="mt-4">
                        <button class="btn-stroked" [routerLink]="orderId | orderRatingLink: orgType">
                            {{ 'leave_a_feedback' | translate }}
                        </button>
                    </div>
                </div>

                <div class="d-flex flex-column">
                    <button class="btn-raised p-3 mb-2" (click)="confirmOrder()">Yes I have</button>
                    <button class="btn-stroked p-3 mt-2">No I haven't</button>
                </div>
            </div>
        </div>
    </ng-template>
</ng-container>
