.top-padding {
    padding-top: 2rem;
}

.bread-nav {
    margin-left: 1.7rem;
}

.prefer-space {
    margin-right: 2.6rem;
}

.border-total {
    border-radius: 0px;
    border: solid 1px #ebebeb;
    padding: 1.5rem;
}

.header-login {
    font-family: Muli;
    font-size: 18px;
    font-weight: bold;
    color: #232334;
}

.sub-header {
    font-family: Muli;
    font-size: 14px;
    font-weight: normal;
    color: #747588;
}

.save-padding {
    margin-right: 2%;
}

.save-change {
    border-radius: 4px;
    background-color: #30855c;
    font-family: Muli;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    color: #ffffff;
    padding: 0.7rem;
}

.login-text,
.login-history,
.deactivate-account {
    font-family: Muli;
    font-size: 18px;
    font-weight: bold;
    color: #232334;
}

.total-space {
    padding-top: 2%;
}

.pwd-label {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    color: #747588;
}

.star-color {
    color: #ff1e5a;
}

.change-password {
    position: absolute;
    top: 2.3rem;
    top: 42px;
    font-family: Muli;
    font-size: 14px;
    font-weight: bold;
    color: #30855c;
    left: 5px;
}

.last-update {
    font-family: Muli;
    font-size: 12px;
    font-weight: 500;
    color: #747588;
}

.pwd-box {
    height: 50px;
    border-radius: 4px;
    border: solid 1px #d6d6d6;
    font-family: Muli;
    font-size: 13px;
    font-weight: normal;
    color: #000000;
}

.history-div {
    margin: 0%;
    padding-top: 2%;
}

.session-list {
    list-style: none;
    margin-left: 1.5rem;
}

.session {
    font-family: Muli;
    font-size: 16px;
    font-weight: 600;
    color: #232334;
    margin-bottom: 0.5rem;
}

.current-session {
    border-radius: 13px;
    border: solid 0.5px #747588;
    font-family: Muli;
    font-size: 11px;
    font-weight: 600;
    color: #747588;
    padding: 3px 5px;
}

.session-details {
    font-family: Muli;
    font-size: 13px;
    font-weight: 600;
    color: #747588;
}

.logout {
    font-family: Muli;
    font-size: 14px;
    font-weight: bold;
    color: #747588;
}

.logout-current {
    font-family: Muli;
    font-size: 14px;
    font-weight: bold;
    color: #80460b;
    text-decoration: underline;
}

.border-login {
    border-bottom: dashed 1px #cccccc;
}

.sub-deactivate {
    font-family: Muli;
    font-size: 14px;
    font-weight: normal;
    color: #747588;
}

.deactivate-button {
    font-family: Muli;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 4px;
    background-color: #30855c;
    padding: 0.6rem 0.9rem;
}

.main-spacing {
    padding: 0.5rem 2.7rem 2.5rem 2.6rem
}


/********Modal********/

.modal-header {
    border-bottom: none;
}

.are-sure {
    font-family: PlayfairDisplay;
    font-size: 28px;
    font-weight: normal;
    color: #020202;
}

.do-account {
    font-family: Muli;
    font-size: 16px;
    font-weight: normal;
    color: #5d5d5d;
}

.no-btn {
    font-family: Muli;
    font-size: 14px;
    font-weight: bold;
    color: #30855c;
    border-radius: 4px;
    border: solid 1px #30855c;
    background-color: #ffffff;
    padding: 7px 1.2rem;
}

.no-btn:hover {
    background-color: #30855c;
    color: #ffffff;
}

.yes-btn {
    border-radius: 4px;
    background-color: #30855c;
    font-family: Muli;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    padding: 7px 1.2rem;
}

::ng-deep .modal-content {
    top: 3rem;
}

.mob-padding {
    margin-bottom: 4px;
}


/*********Media Queries***************/

@media screen and (max-width: 575px) {
    .main-spacing {
        padding: 1.5rem 0.2rem;
    }
    .save-padding {
        margin-right: 5%;
    }
    .logout {
        font-size: 12px;
    }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .total-space {
        padding-left: 4px;
    }
}

@media screen and (max-width:375px) {
    .page-breadcrumb {
        margin: 1% 0.5% 0 0%;
    }
}


.change-password-btn{
padding: 0.5rem 1rem;
color: #30855c;
border: 1px solid #30855c;
background-color: #ffffff;
border-radius: 4px;
font-family: Muli;
}

.change-password-btn:hover{
background-color: #30855c;
color: #ffffff;
}