<section>
    <div class="container sewn-container section-head-pad">
        <div class="bg-fff">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <nav role="navigation" aria-labelledby="title-breadcrumb-1" class="breadcrumb1 farm-breadcum">
                        <span id="title-breadcrumb-1" class="sr-only"></span>
                        <ul class="bread-nav">
                            <li class="b-cum">
                                <a class="b-cum"
                                    routerLink="/features/welcome-aboard">{{globals.languageJson?.home}}</a><span
                                    class="padl-r" aria-hidden="true"> <img class="group-img"
                                        src="/assets/images/arrow-1.png" alt=""> </span>
                            </li>
                            <li class="b-cum">
                                <a class="b-cum">{{globals.languageJson?.farm_link}}</a><span class="padl-r"
                                    aria-hidden="true"> <img class="group-img" src="/assets/images/arrow-1.png" alt="">
                                </span>
                            </li>
                            <li class="b-cum">
                                <a class="b-cum"
                                    routerLink="/features/brand-profile">{{globals.languageJson?.brand_profile}}</a><span
                                    class="padl-r" aria-hidden="true"> <img class="group-img"
                                        src="/assets/images/arrow-1.png" alt=""> </span>
                            </li>
                            <li class="b-cum c-pink">Home page</li>
                        </ul>
                    </nav>
                </div>
            </div>

            <section class="col-sm-12 col-md-12 col-lg-12 brand-profile-sec px-0">

                <div class="row mb-4 mt-2">
                    <div class="col-md-6 col-12">
                        <h4 class="fnt-18 fnt-700 fnt-muli txt-clr33"> Home page</h4>
                        <p class="fnt-14 fnt-600 fnt-muli text-clr588">Add details according to respective sections to
                            create your brand profile website </p>
                    </div>
                    <div class="col-md-6 col-12 web-farm">
                        <button type="button" class="save ml-3 pull-right" (click)="saveHomeProfile()">Save </button>
                        <button type="button" class="preview">Preview </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <div class="border p-4">
                            <h4 class="fnt-18 fnt-700 fnt-muli txt-clr334">Banner<span class="star">*</span></h4>
                            <p class="fnt-14 fnt-600 fnt-muli txt-clr334 mb-1">Image/Video banner<span
                                    class="star">*</span></p>
                            <p class="fnt-14 fnt-600 fnt-muli text-clr588 m-0">Upload a banner cover about your roaster
                            </p>
                            <p class="fnt-14 fnt-600 fnt-muli text-clr588">Size - 1440 x 465 px</p>

                            <label class="mt-3">
                                <input type="file" class="file-inpt" accept="video/*,image/*"
                                    (change)="onFileChange($event, 1440, 465, 'Banner')">
                                <span class="save"> Upload </span>
                            </label>
                            <span class="pl-3 sub-header-text fnt-muli">{{banner_image_name}}</span>

                            <label class="w-100 fnt-14 fnt-600 fnt-muli txt-clr334 mt-3">Banner Title<span
                                    class="star">*</span> <span
                                    class="sub-text fnt-muli pull-right">{{globals.countTheString(banner_title,10)}}/10
                                    words</span></label>
                            <input type="text" class="form-control banner-title" name="banner-title" id="banner-title"
                                [(ngModel)]="banner_title" maxlength="{{globals.getTheMaxLength(banner_title,10)}}">
                        </div>

                        <div class="border mt-3 p-4">
                            <h4 class="fnt-18 fnt-700 fnt-muli txt-clr334">Who you are</h4>
                            <p class="fnt-14 fnt-600 fnt-muli txt-clr334">give yourself a small intro!</p>

                            <label class="w-100 fnt-14 fnt-600 fnt-muli txt-clr334 mt-3">Title<span
                                    class="star">*</span> <span
                                    class="sub-text fnt-muli pull-right">{{globals.countTheString(intro_title,10)}}/10
                                    words</span></label>
                            <input type="text" class="form-control banner-title" name="title" id="title"
                                [(ngModel)]="intro_title" maxlength="{{globals.getTheMaxLength(intro_title,10)}}">

                            <label class="w-100 fnt-14 fnt-600 fnt-muli txt-clr334 mt-3">A short description about the
                                Estate<span class="star">*</span> <span
                                    class="sub-text fnt-muli pull-right">{{globals.countTheString(estate_desc,10)}}/50
                                    words</span></label>
                            <textarea id="description" class="form-control" rows="5" cols="50" [(ngModel)]="estate_desc"
                                maxlength="{{globals.getTheMaxLength(estate_desc,10)}}"> </textarea>

                        </div>

                        <div class="border mt-3 p-4">
                            <h4 class="fnt-18 fnt-700 fnt-muli txt-clr334">Wizard </h4>
                            <p class="fnt-14 fnt-600 fnt-muli txt-clr334">Your customers can personalise their coffee
                                from this section.</p>

                            <label class="w-100 fnt-14 fnt-600 fnt-muli txt-clr334 mt-3">Title<span
                                    class="star">*</span> <span
                                    class="sub-text fnt-muli pull-right">{{globals.countTheString(wizard_title,10)}}/10
                                    words</span></label>
                            <input type="text" class="form-control banner-title" name="title" id="title"
                                [(ngModel)]="wizard_title" maxlength="{{globals.getTheMaxLength(wizard_title,10)}}">

                            <label class="w-100 fnt-14 fnt-600 fnt-muli txt-clr334 mt-3">Sub heading <span
                                    class="star">*</span> <span
                                    class="sub-text fnt-muli pull-right">{{globals.countTheString(wizard_heading,10)}}/10
                                    words</span></label>
                            <input type="text" class="form-control banner-title" name="title" id="title"
                                [(ngModel)]="wizard_heading" maxlength="{{globals.getTheMaxLength(wizard_title,10)}}">

                        </div>

                        <div class="border mt-3 p-4">
                            <h4 class="fnt-18 fnt-700 fnt-muli txt-clr334">Feature your products </h4>
                            <p class="fnt-14 fnt-600 fnt-muli txt-clr334">Select products from your shop to display them
                                here</p>
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="select-product">
                                        <label class="cursor-pointer">
                                            <input type="file" class="file-inpt">
                                            <img class="plus-circle" src="assets/images/plus-circle.svg">
                                            <p class="fnt-14 fnt-600 fnt-muli txt-clr334 m-0">Select a product</p>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="select-product">
                                        <label class="cursor-pointer">
                                            <input type="file" class="file-inpt">
                                            <img class="plus-circle" src="assets/images/plus-circle.svg">
                                            <p class="fnt-14 fnt-600 fnt-muli txt-clr334 m-0">Select a product</p>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="select-product">
                                        <label class="cursor-pointer">
                                            <input type="file" class="file-inpt">
                                            <img class="plus-circle" src="assets/images/plus-circle.svg">
                                            <p class="fnt-14 fnt-600 fnt-muli txt-clr334 m-0">Select a product</p>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="select-product">
                                        <label class="cursor-pointer">
                                            <input type="file" class="file-inpt">
                                            <img class="plus-circle" src="assets/images/plus-circle.svg">
                                            <p class="fnt-14 fnt-600 fnt-muli txt-clr334 m-0">Select a product</p>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="border mt-3 p-4">
                            <h4 class="fnt-18 fnt-700 fnt-muli txt-clr334">Traceability stories </h4>
                            <p class="fnt-14 fnt-600 fnt-muli txt-clr334">Users will be redirected to your completed
                                coffee experience stories. Give them insights!</p>

                            <label class="w-100 fnt-14 fnt-600 fnt-muli txt-clr334 mt-3">Title<span
                                    class="star">*</span> <span
                                    class="sub-text fnt-muli pull-right">{{globals.countTheString(traceability_title,10)}}/10
                                    words</span></label>
                            <input type="text" class="form-control banner-title" name="title" id="title"
                                [(ngModel)]="traceability_title"
                                maxlength="{{globals.getTheMaxLength(traceability_title,10)}}">

                            <label class="w-100 fnt-14 fnt-600 fnt-muli txt-clr334 mt-3">Sub heading <span
                                    class="star">*</span> <span
                                    class="sub-text fnt-muli pull-right">{{globals.countTheString(traceability_heading,10)}}/10
                                    words</span></label>
                            <input type="text" class="form-control banner-title" name="title" id="title"
                                [(ngModel)]="traceability_heading"
                                maxlength="{{globals.getTheMaxLength(traceability_heading,10)}}">

                            <p class="fnt-14 fnt-600 fnt-muli txt-clr334 mt-3 mb-0">Upload 2 Images / Videos*<span
                                    class="star">*</span></p>
                            <p class="fnt-14 fnt-600 fnt-muli text-clr588">Size - 540x 445 px</p>

                            <label class="mt-3">
                                <input type="file" class="file-inpt" accept="video/*,image/*" multiple
                                    (change)="onFileChange($event, 540, 445, 'Traceability')">
                                <span class="save"> Upload </span>
                            </label>
                            <span class="pl-3 sub-header-text fnt-muli">{{traceability_image_name_1}},
                                {{traceability_image_name_2}}</span>

                        </div>


                        <div class="border mt-3 p-4">
                            <h4 class="fnt-18 fnt-700 fnt-muli txt-clr334">Sustainability </h4>
                            <p class="fnt-14 fnt-600 fnt-muli txt-clr334">Give an intro to your practices</p>

                            <label class="w-100 fnt-14 fnt-600 fnt-muli txt-clr334 mt-3">Title<span
                                    class="star">*</span> <span
                                    class="sub-text fnt-muli pull-right">{{globals.countTheString(substainability_title,10)}}/10
                                    words</span></label>
                            <input type="text" class="form-control banner-title" name="title" id="title"
                                [(ngModel)]="substainability_title"
                                maxlength="{{globals.getTheMaxLength(substainability_title,10)}}">

                            <label class="w-100 fnt-18 fnt-700 fnt-muli txt-clr334 mt-3">Sub heading <span
                                    class="star">*</span> <span
                                    class="sub-text fnt-muli pull-right">{{globals.countTheString(substainability_heading,10)}}/10
                                    words</span></label>
                            <input type="text" class="form-control banner-title" name="title" id="title"
                                [(ngModel)]="substainability_heading"
                                maxlength="{{globals.getTheMaxLength(substainability_heading,10)}}">

                            <p class="fnt-14 fnt-600 fnt-muli txt-clr334 mt-3 mb-0">Upload 2 Images / Videos*<span
                                    class="star">*</span></p>
                            <p class="fnt-14 fnt-600 fnt-muli text-clr588">Please upload 2 images : Size - 600 x 650 px
                            </p>

                            <label class="mt-3">
                                <input type="file" class="file-inpt" accept="video/*,image/*" multiple
                                    (change)="onFileChange($event, 600, 650, 'Substainability')">
                                <span class="save"> Upload </span>
                            </label>
                            <span class="pl-3 sub-header-text fnt-muli">{{substainability_image_name_1}},
                                {{substainability_image_name_2}}</span>
                        </div>


                    </div>


                    <div class="col-12 col-md-4">

                        <div class="form-section__inputs form-section__inputs--withHead">
                            <div
                                class="input-head input-head--uplaod d-flex align-items-center justify-content-between">
                                <h5 class="fnt-14 fnt-muli fnt-700 text-black334 mb-0">Certificates</h5>
                                <label class="mb-0">
                                    <input type="file">
                                    <span class="fnt-muli fnt-700 d-inline-block">+</span>
                                </label>
                            </div>
                            <div class="input-body">
                                <div class="upload-file-results">
                                    <div
                                        class="upload-file-results__item d-flex flex-md-column flex-lg-row justify-content-between">
                                        <div class="pr-3">
                                            <h4 class="mb-0 fnt-14 fnt-700 fnt-muli text-black334">Rise Certificate</h4>
                                            <span class="d-block fnt-12 fnt-600 fnt-muli text-gray588">2014</span>
                                        </div>
                                        <div class="d-flex">
                                            <button class="fnt-muli fnt-14 fnt-700">
                                                View
                                            </button>

                                            <button class="fnt-muli fnt-14 fnt-700">
                                                Delete
                                            </button>
                                        </div>
                                    </div>

                                    <div
                                        class="upload-file-results__item  d-flex flex-md-column flex-lg-row justify-content-between">
                                        <div class="pr-3">
                                            <h4 class="mb-0 fnt-14 fnt-700 fnt-muli text-black334">Rise Certificate</h4>
                                            <span class="d-block fnt-12 fnt-600 fnt-muli text-gray588">2014</span>
                                        </div>
                                        <div class="d-flex">
                                            <button class="fnt-muli fnt-14 fnt-700">
                                                View
                                            </button>

                                            <button class="fnt-muli fnt-14 fnt-700">
                                                Delete
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="py-4 ">
                    <button class="cancel pull-left mr-auto fnt-muli" type="button"
                        routerLink="/features/brand-profile">Cancel</button>
                </div>

            </section>

        </div>
    </div>
</section>