@import 'variables';
@media screen and (max-width: 767px) {
    .p-datatable.p-datatable-responsive .p-datatable-tbody > tr {
        width: 297px;
    }
    #tabTable .p-datatable table {
        margin-top: 1rem;
    }
    .menu-arrow {
        top: 0px !important;
    }
}
.calender .p-calendar .p-inputtext {
    margin: 0 1rem;
    padding: 0.625rem 0rem !important;
}

.mobile-header {
    background-color: $primary-bg-color;
    margin: -0.75rem -0.75rem 1rem -0.75rem;
}

@media (min-width: 768px) and (max-width: 991px) {
    #tabTable .p-datatable-wrapper {
        overflow-x: scroll;
    }
    #tabTable .p-datatable table {
        width: 180%;
    }
}
