<div class="main-block">
    <div class="d-flex justify-content-between">
        <div class="breadcrumb-container">
            <p-breadcrumb [model]="breadItems"></p-breadcrumb>
        </div>
        <div class="col-md-4 col-lg-4 px-0 web-farm">
            <span class="custom-search">
                <input
                    type="text"
                    pInputText
                    class="w-100 {{ searchTerm ? 'highlight' : '' }}"
                    [(ngModel)]="searchTerm"
                    (input)="search()"
                    placeholder="{{ 'search_by_customer_name' | translate }}"
                />
            </span>
        </div>
    </div>
    <section>
        <div
            class="d-md-flex flex-column flex-md-row justify-content-between align-items-end mb-3 mt-45 mt-md-3 mb-md-4 mb-lg-475"
        >
            <div>
                <div class="fnt-md-18 fnt-16 fnt-bold text-clr334 fnt-muli mb-2 mb-md-1">
                    {{ 'outtake_order' | translate }}
                </div>
                <div class="text-clr334 fnt-md-14 fnt-12 fnt-600 fnt-muli mb-3 mb-md-0">
                    {{ 'maintain_bulk_orders' | translate }}
                </div>
            </div>
            <div class="d-md-flex">
                <button
                    class="btn-stroked px-4 mr-3 w-mob-100 d-none d-md-block"
                    (click)="displayExportDialog = !displayExportDialog"
                >
                    {{ 'export' | translate }}
                </button>
                <button
                    class="btn-raised text-nowrap px-4 w-mob-100 mt-3 mt-md-0"
                    routerLink="/outtake-orders/add-order"
                >
                    {{ 'add_new_order' | translate }}
                </button>
                <button
                    class="btn-stroked px-4 mt-3 mr-3 w-mob-100 d-md-none"
                    (click)="displayExportDialog = !displayExportDialog"
                >
                    {{ 'export' | translate }}
                </button>
            </div>
        </div>
        <div class="d-block d-md-none mb-3 mt-4 pt-4 border-top-dashed-d6">
            <span class="custom-search mobile-bord">
                <input
                    type="text"
                    pInputText
                    class="w-100 {{ searchTerm ? 'highlight' : '' }} "
                    [(ngModel)]="searchTerm"
                    placeholder="{{ 'search_by_customer_name' | translate }}"
                />
            </span>
        </div>
    </section>

    <div class="mt-4 d-flex justify-content-between">
        <div class="d-md-flex">
            <p-dropdown
                [options]="customerType"
                [showClear]="true"
                [(ngModel)]="customerStatus"
                (onChange)="setStatus()"
                scrollHeight="225px"
                placeholder="{{ 'customer_type' | translate }}"
                [autoDisplayFirst]="false"
                styleClass="round-border mr-2 mb-3 {{ customerStatus ? 'highlight' : '' }}"
            ></p-dropdown>
            <p-calendar
                class="ml-md-2 calender"
                [readonlyInput]="true"
                placeholder="Date range"
                selectionMode="range"
                [formControl]="searchForm.controls['dates']"
                [showButtonBar]="true"
                [showIcon]="true"
                [styleClass]="
                    'round-border mb-25 mb-md-3 mb-lg-4' +
                    (queryParams.from_date || queryParams.to_date ? ' highlight' : '')
                "
            >
            </p-calendar>
        </div>
        <div class="float-right mobile-lead">
            <p-dropdown
                [options]="displayItems"
                [showClear]="true"
                [(ngModel)]="display"
                (onChange)="setDisplay()"
                scrollHeight="225px"
                placeholder="Display"
                [autoDisplayFirst]="false"
                styleClass="round-border mb-3 {{ display ? 'highlight' : '' }}"
            ></p-dropdown>
        </div>
    </div>
    <div>
        <p-table
            id="tabTable"
            #markedTable
            [value]="primeTableService?.records"
            [columns]="primeTableService._allColumns"
            [(selection)]="primeTableService.selectedRecords"
            dataKey="id"
            [rows]="primeTableService.rows"
            [showCurrentPageReport]="false"
            [loading]="primeTableService.loading"
            [paginator]="primeTableService.paginationValue"
            [lazy]="true"
            (onLazyLoad)="primeTableService.getData($event)"
            [totalRecords]="primeTableService.totalRecords"
            [responsive]="true"
            [scrollable]="isTablet$ | async"
            styleClass="mobile-card-view"
        >
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup class="mob-disp">
                    <col *ngFor="let col of columns" [style.width]="col.width ? col.width + 'px' : '50px'" />
                </colgroup>
            </ng-template>

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th
                        *ngFor="let col of columns"
                        [pSortableColumn]="col.sortable ? col.field : null"
                        [style.width]="col.width ? col.width + '%' : '30%'"
                    >
                        <span class="primeng-table-header">{{ col.header | translate }}</span>
                        <p-sortIcon *ngIf="col.sortable" [field]="col.field"> </p-sortIcon>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [routerLink]="'/outtake-orders/view-order/' + rowData.id">
                    <td
                        *ngFor="let col of columns"
                        [ngSwitch]="col.field"
                        [class.border-none]="col.field === 'id'"
                        [style.width]="col.width ? col.width + '%' : '30%'"
                    >
                        <span *ngIf="col.field !== 'product_name' && col.field !== 'id'" class="p-column-title">
                            {{ col.header | translate }}
                        </span>
                        <ng-container *ngSwitchCase="'product_name'">
                            <div class="d-flex justify-content-between align-items-center">
                                <span>
                                    <span class="d-md-none">{{ 'order' | translate }} #{{ rowData['id'] }} - </span>
                                    {{ rowData[col.field] }}
                                </span>
                                <span class="d-md-none">
                                    <app-action-menu [menuItems]="getMenuItemsForItem(rowData)"></app-action-menu>
                                </span>
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="'id'">
                            <span class="d-none d-md-block"> {{ rowData[col.field] }} </span>
                            <div class="d-md-none">
                                <div class="fnt-16 fnt-bold mb-2">
                                    <span>
                                        {{ 'gc_order_id' | translate }}
                                    </span>
                                    <span class="">#{{ rowData['order_id'] }}</span>
                                </div>
                                <div class="fnt-12 fnt-semi-bold">
                                    <span class="text-clr588"> {{ 'placed_on' | translate }}: </span>
                                    <span>{{ rowData['order_date'] | date: 'd MMM yyyy' }}</span>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="'type_of_customer'">
                            <span>{{ rowData['customer_type'] | orgType }}</span>
                        </ng-container>
                        <ng-container *ngSwitchCase="'status'">
                            <span>
                                {{ rowData['status'] | sentencecase }}
                            </span>
                        </ng-container>
                        <ng-container *ngSwitchCase="'date_placed'">
                            <span>
                                {{ rowData['order_date'] | date: 'd MMM yyyy' }}
                            </span>
                        </ng-container>
                        <ng-container *ngSwitchCase="'price'">
                            <span class="truncate break-word">
                                {{ rowData['total_price'] | number: '1.2-4' || '--' }}
                                {{ rowData['total_price_currency'] || '--' }}
                            </span>
                        </ng-container>
                        <ng-container *ngSwitchCase="'quantity'">
                            <span class="truncate break-word">
                                {{ rowData['gc_total_quantity'] || '--' }}
                                {{ rowData['gc_total_quantity_unit'] || '--' }}
                            </span>
                        </ng-container>

                        <ng-container *ngSwitchCase="'actions'">
                            <div class="d-flex align-items-center">
                                <span class="brown-cta mr-3">{{ 'view' | translate }}</span>
                                <app-action-menu [menuItems]="getMenuItemsForItem(rowData)"></app-action-menu>
                            </div>
                        </ng-container>

                        <ng-container *ngSwitchDefault>
                            <span>{{ rowData[col.field] }}</span>
                        </ng-container>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="summary">
                <app-empty
                    *ngIf="!primeTableService?.loading && !primeTableService?.records?.length"
                    [title]="'no_data_available' | translate"
                ></app-empty>
            </ng-template>
        </p-table>
    </div>
</div>

<form class="export-dialog" id="export-dialog" [formGroup]="exportForm">
    <p-dialog
        header="Export orders"
        [(visible)]="displayExportDialog"
        [style]="{ width: '450px' }"
        [baseZIndex]="10000"
        [modal]="true"
        styleClass="export-p-dialog"
        [contentStyle]="{ overflow: 'visible' }"
    >
        <div class="d-flex flex-column bd-highlight mb-3 pt-2" id="calendar-div">
            <div class=""><span class="text-clr588">Select start and end date for the order</span></div>

            <div class="d-flex flex-row bd-highlight mb-3 pt-1">
                <p-calendar
                    class="mr-2 w-100"
                    formControlName="from_date"
                    [maxDate]="exportForm.get('to_date').value"
                    [showIcon]="true"
                    dateFormat="dd.mm.yy"
                    [readonlyInput]="true"
                    [showButtonBar]="true"
                    placeholder="Select start date"
                    styleClass="w-100 p-calendar-w-btn round-border mr-3 export-calendar {{
                        exportForm.get('from_date').value ? 'highlight' : ''
                    }}"
                >
                </p-calendar>
                <p-calendar
                    class="ml-2 w-100"
                    formControlName="to_date"
                    [minDate]="exportForm.get('from_date').value"
                    [showIcon]="true"
                    dateFormat="dd.mm.yy"
                    [readonlyInput]="true"
                    [showButtonBar]="true"
                    placeholder="Select end date"
                    styleClass="w-100 p-calendar-w-btn round-border ml-0 export-calendar {{
                        exportForm.get('to_date').value ? 'highlight' : ''
                    }}"
                >
                </p-calendar>
            </div>
            <div class="pt-3"><span class="text-clr588">Export Format</span></div>
            <div class="pt-1">
                <span class="w-100 general-text">Select the format you want your orders</span>
            </div>
            <div class="pt-3">
                <p-radioButton label="PDF" value="pdf" formControlName="export_type"></p-radioButton>
                <p-radioButton class="ml-3" label="CSV" value="csv" formControlName="export_type"></p-radioButton>
            </div>
        </div>

        <ng-template pTemplate="footer">
            <button class="btn-stroked" type="button" (click)="displayExportDialog = !displayExportDialog">
                {{ 'cancel' | translate }}
            </button>

            <button class="btn-raised" type="button" (click)="downloadOrderClicked()" [disabled]="isDownloading">
                <span>{{ 'download_order' | translate }}</span>
            </button>
        </ng-template>
    </p-dialog>
</form>
