@import 'variables';

.header {
    height: 50px;
}

.list-section table tr td:first-child {
    min-width: 200px;
}

@media screen and (max-width: 768px) {
    .list-section table tr {
        border-bottom: 1px dashed #d6d6d6;
    }
    .list-section table tr td {
        display: block;
    }
    .list-section table tr td:first-child {
        min-width: none;
    }
    .list-section table tr:last-child {
        border-bottom: none;
    }
    .cont-info {
        border: 4px solid #fff;
    }
}
