::ng-deep .draft-posts.p-dialog {
    @media (min-width: 992px) {
        width: 583px;
    }
    padding: 0;
    border-radius: 8px;
    margin-left: 16px;
    margin-right: 16px;
    & .p-dialog-content {
        padding: 0;
        border-radius: 8px;
    }
}

.post-list-content {
    padding-right: 1rem;

    img {
        width: 100%;
    }
    @media (min-width: 991px) {
        padding-right: 108px;
    }
    @media (min-width: 767px) {
        padding-right: 2rem;
    }
}

.delete-draft {
    &:hover {
        text-decoration: underline !important;
    }
}
