<div class="bg-f8 br-8 col-12 pb-3 pt-4 sewn-form-field" *ngIf="drafts?.length > 0">
    <label class="mb-1">{{ 'filter_by' | translate }}</label>
    <p-dropdown
        [options]="tabList"
        (onChange)="onChangeFilterBy($event)"
        [(ngModel)]="selectedTabType"
        styleClass="text-clr588 bg-white"
        [placeholder]="'sort_by' | translate"
        class="col-md-5 col-12 pl-0"
    >
        <ng-template let-item pTemplate="selectedItem">{{ item.label | translate }}</ng-template>
        <ng-template let-item pTemplate="item">{{ item.label | translate }}</ng-template>
    </p-dropdown>
</div>
<div class="px-3">
    <div>
        <div
            *ngFor="let draft of filteredDrafts"
            class="d-flex justify-content-between py-4 border-bottom-dashed cursor-pointer"
        >
            <div class="d-flex" (click)="onClickDraft(draft)">
                <div class="mr-3">
                    <img
                        *ngIf="draft.post_type === 'question' || draft.post_type === 'answer'"
                        src="assets/images/qa-forum.svg"
                        alt="icon"
                        width="32"
                        height="32"
                    />
                    <img
                        *ngIf="draft.post_type === 'article'"
                        src="assets/images/article.svg"
                        alt="icon"
                        width="32"
                        height="32"
                    />
                    <img
                        *ngIf="draft.post_type === 'recipe'"
                        src="assets/images/coffee-recipe.svg"
                        alt="icon"
                        width="32"
                        height="32"
                    />
                </div>
                <div class="post-list-content">
                    <div
                        class="fnt-14 font-weight-bold text-clr334 mb-2"
                        appFullImgWrapper
                        [innerHTML]="draft.post_title"
                    ></div>
                    <div class="fnt-12 text-clr588">
                        {{ 'draft_saved' | translate }}: {{ draft.created_at | amTimeAgo: true | dateAgoReplace: true }}
                    </div>
                </div>
            </div>
            <div>
                <a (click)="onDeleteDraft(draft)" class="procedure fw-m delete-draft">{{ 'delete' | translate }}</a>
            </div>
        </div>
    </div>
    <div *ngIf="drafts.length > 15" class="pt-3 pt-md-4">
        <p-paginator
            class="custom-background"
            [rows]="15"
            [totalRecords]="drafts.length"
            (onPageChange)="paginate($event)"
        ></p-paginator>
    </div>
    <div *ngIf="filteredDrafts.length == 0" class="text-center py-4">
        {{ 'no_data_is_available' | translate }}
    </div>
</div>
