<div class="d-flex justify-content-between align-items-center">
    <a class="back-page" routerLink="/coffee-lab/overview/qa-forum">
        {{ 'back' | translate }}
    </a>
    <a (click)="onOpenDraftPosts()" class="draft-link">{{ 'draft_posts' | translate }}</a>
</div>

<div class="post-container bg-f8 py-4">
    <p-tabMenu [model]="menuItems" styleClass="tabmenu-create-post">
        <ng-template pTemplate="item" let-item let-i="index">
            <img [src]="item.icon" alt="icon" />
            <img [src]="item.activeIcon" alt="icon" class="active-icon" />
            <span class="pl-1">{{ item.label | translate }}</span>
        </ng-template>
    </p-tabMenu>
    <div class="p-4">
        <router-outlet></router-outlet>
    </div>
</div>
