@import 'variables';

.draft-link {
    color: $muted-text-color;
    cursor: pointer;
    &:hover {
        color: $muted-text-color;
        text-decoration: underline!important;
    }
}

.post-container {
    margin: 64px auto 48px;
    width: 830px;
    @media (max-width: 991px) {
        margin: 24px auto;
        width: 100%;
    }
    @media (max-width: 767px) {
        margin: 20px auto;
    }
}
