@import 'variables';

.draft-link {
    color: $brown-color !important;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline !important;
}

.post-container {
    margin: 64px auto 48px;
    width: 830px;
    @media (max-width: 991px) {
        margin: 24px auto;
        width: 100%;
    }
    @media (max-width: 767px) {
        margin: 20px auto;
    }
}
