@import 'variables';

.draft-link {
    color: $brown-color !important;
    cursor: pointer;
    font-weight: $fw-b;
    text-decoration: underline !important;
}

.post-container {
    margin: 64px auto 48px;
    width: 830px;
    @media (max-width: 991px) {
        margin: 24px auto;
        width: 100%;
    }
    @media (max-width: 767px) {
        margin: 20px auto;
    }
}

.back-page::before {
    top: -4px !important;
    width: 20px !important;
    height: 20px !important;
    padding: 15px !important;
    background-repeat: no-repeat !important;
    background-size: auto !important;
}
.back-page:hover::before {
    border-radius: 50%;
    background-color: rgba(128, 70, 11, 0.14);
}
