/****************************scss for remote sensoring starts***************************************/

.br-4 {
    border-radius: 4px;
}

.chart-details {
    padding-left: 12px;
    padding-right: 12px;
    @media (min-width: 768px){
        & {
            padding: 2rem 1.5rem 0rem;
        }
    }
}

/*=======   Tabs  =======*/

.mixups-tabs {
    background-color: #ffffff;
    overflow: hidden;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #232334;
    font-size: 14px;
    font-weight: 600;
    background-color: unset !important;
    border-radius: unset;
}

.nav-pills .nav-link.active {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    display: inline-block;
}

.nav-pills .nav-link.active:before {
    content: '';
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 50%;
    text-align: center;
    margin: auto;
    top: 80%;
    transform: translate(-50%);
    border-radius: 1.5px;
    background-color: #30855c;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.nav-pills .nav-link:hover::before {
    width: 100%;
    content: '';
    opacity: 1;
}

.nav-pills .nav-link.active:before {
    opacity: 1;
    width: 100%;
}

.nav-pills {
    border-bottom: 1px solid #dddddd;
}

li.nav-item {
    margin-right: 7%;
    position: relative;
    top: .25rem;
}

.nav-pills .nav-link {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    color: #232334;
}

.nav-pills .nav-link.active {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    color: #30855c;
}