<div class="total_header mb-md-2 margin-mb-0 pmb-0">
  <div class="row">
    <div class="col-12">
      <div class="d-flex flex-column footer-content recent-fff bg-white br-4">
        <div class="col-12 px-md-0 page-breadcrumb__nav">
          <div class="col-lg-6 col-md-12 pull-left mr-auto pl-0 pr-0">
            <nav
              role="navigation"
              aria-labelledby="title-breadcrumb-1"
              class="breadcrumb1 pt-2"
            >
              <span id="title-breadcrumb-1" class="sr-only"></span>
              <ul class="bread-nav">
                <li class="b-cum">
                  <a class="b-cum" routerLink="/features/welcome-aboard">
                    {{ appLanguage?.home }}
                  </a>
                  <span class="padl-r" aria-hidden="true">
                    <img
                      class="group-img"
                      src="/assets/images/arrow-1.png"
                      alt=""
                    />
                  </span>
                </li>
                <li class="b-cum">
                  <a class="b-cum" routerLink="/ordermanagement/myorders">
                    {{ appLanguage?.order_management }}
                  </a>
                  <span class="padl-r" aria-hidden="true">
                    <img
                      class="group-img"
                      src="/assets/images/arrow-1.png"
                      alt=""
                    />
                  </span>
                </li>
                <li class="b-cum c-pink">Remote Sensoring</li>
              </ul>
            </nav>
          </div>
        </div>

        <section class="container mt-2 px-md-0 mb-15">
          <div class="col-12 chart-details border-ebebeb mt-2">
            <div class="row">
              <div class="live-estate col-lg-12">
                <h2 class="fnt-28 fnt-normal fnt-play text-black334">
                  {{ appLanguage?.follow_your_harvest }}
                </h2>
                <div class="mt-2 fnt-16 fnt-normal fnt-muli text-grey588">
                  We bring you live updates of your lot with geo tracking!
                </div>
              </div>
            </div>

            <div class="row">
              <div class="mt-3 pr-3 col-lg-12 col-md-12">
                <ul class="nav nav-pills mb-3 w-100">
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      routerLink="/ordermanagement/remote-sensoring/weather"
                      routerLinkActive="active"
                      >{{ appLanguage?.weather }}</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      routerLink="/ordermanagement/remote-sensoring/soil"
                      routerLinkActive="active"
                      >{{ appLanguage?.soil }}</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      routerLink="/ordermanagement/remote-sensoring/uv"
                      routerLinkActive="active"
                      >UV</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      routerLink="/ordermanagement/remote-sensoring/vegetation"
                      routerLinkActive="active"
                      >Vegetation Index</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      routerLink="/ordermanagement/remote-sensoring/images"
                      routerLinkActive="active"
                      >Images</a
                    >
                  </li>
                </ul>
                <router-outlet> </router-outlet>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
