@import 'variables';

:host ::ng-deep .ui-inputtext {
    display: none !important;
}

.give-your-end-users {
    font-size: 14px;
    font-weight: normal;
    color: #747588;
    width: 75%;
    line-height: normal;
}

.estate-order-title {
    font-size: 18px;
    font-weight: $fw-b;
    line-height: normal;
    color: #232334;
}

.coffee-exp {
    padding: 32px 48px;
}

.breadcrumb-container {
    margin-bottom: 40px;
}

.custom-search-width {
    width: 34%;
    @media (min-width: 768px) and (max-width: 992px) {
        width: 33%;
    }
    @media (max-width: 767px) {
        width: 100%;
    }
}

@media (max-width: 991px) {
    .give-your-end-users {
        width: 95%;
    }
    .coffee-exp {
        padding: 24px 16px;
    }
}

@media (max-width: 767px) {
    .give-your-end-users {
        font-size: 12px;
        width: 100%;
        font-weight: $fw-m;
        padding-bottom: 0.5rem;
    }
    .estate-order-title {
        font-size: 16px;
    }
    .breadcrumb-container {
        margin-bottom: 32px;
    }
    .default-settings-container,
    .default-settings {
        width: 100%;
    }
}
@media (max-width: 480px) {
    .p-tabview .p-tabview-nav li {
        margin-right: 1.5rem !important;
    }
    .mobile-bord .p-inputtext {
        border: 1px solid #d6d6d6 !important;
    }
    .mobile-bord .p-inputtext:enabled:hover,
    .p-inputtext:enabled:focus {
        border-color: #30855c !important;
    }
    .p-inputtext {
        border: none;
    }
    .place {
        ::placeholder {
            font-size: 12px;
        }
    }
}
