.social-head {
    max-width: 600px;
}

.relative-blog-container {
    min-height: calc(100% - 68px);
}

.share-txt {
    font-size: 13px;
}

.share-img {
    width: 17px;
    height: 17px;
}

.dwnd-img {
    width: 14px;
    height: 14px;
}

.share-bor {
    border-radius: 2px;
    border: solid 1px #747588;
    cursor: pointer;
    .underline {
        text-decoration: none;
        display: flex;
    }
}
