.blog-details-container {
    margin-left: -24px;
    margin-right: -24px;
}
.blog-details-heading {
    position: relative;
}
.social-head {
    max-width: 600px;
}
.article-date {
    @media screen and (min-width: 992px) {
        position: absolute;
        right: 3px;
        bottom: -16px;
    }
}
.relative-blog-container {
    min-height: calc(100% - 68px);
}

.share-txt {
    font-family: Muli;
    font-size: 13px;
    font-weight: 500;
    color: #232334;
}

.share-img {
    width: 17px;
    height: 17px;
    margin-right: 8px;
}

.dwnd-img {
    width: 14px;
    height: 14px;
}

.share-dwn {
    display: flex;
}
.blogs-back {
    display: flex;
    justify-content: space-between;
}
.share-bor {
    border-radius: 2px;
    border: solid 2px #747588;
    padding: 8px 12px;
    cursor: pointer;
    .underline {
        text-decoration: none;
        display: flex;
    }
}

.main-article-container {
    @media screen and (max-width: 767px) {
        margin-left: -15px;
        margin-right: -15px;
    }
    // @media (min-width: 768px) and (max-width: 992px) {
    //     max-width: 734px !important;
    // }
    @media (min-width: 992px) and (max-width: 1280px) {
        width: 540px !important;
    }
    @media (min-width: 1280px) {
        width: 716px !important;
    }
}

.back {
    font-family: Muli;
    font-size: 16px;
    font-weight: 600;
    color: #80460b;
}

.december {
    font-family: Muli;
    font-size: 12px;
    font-weight: 600;
    color: #979797;
}

.related-post {
    margin-top: 7rem;
}

.blogs-inner-details-para {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #232334;
}

.blog-details-img {
    width: 100%;
}

.read-art {
    font-family: Muli;
    font-size: 14px;
    font-weight: bold;
    color: #30855c;
    position: relative;
    top: 1px;
}

.border {
    border-radius: 2px;
    border: solid 1px #ebebeb;
    background-color: #ffffff;
}

.border:hover {
    box-shadow: 0 22px 54px -10px rgba(223, 223, 223, 0.5);
}

.fr {
    float: right;
}

.farm-stricky {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: 9;
    padding: 20px 50px;
    text-align: center;
    /* margin: 1rem 1rem 0rem 1rem; */
}

.shar-dwnd {
    text-align: center;
    padding: 1rem 0rem;
}

@media (max-width: 767px) {
    .bg-fff {
        padding: 1rem 0rem;
        border-radius: 4px;
        background-color: unset;
    }
    .social-head {
        padding: 0px;
    }
    .fr {
        float: none;
    }
    .blogs-inner-details {
        padding: 0px;
        border: none;
    }
    .related-post {
        margin-top: 2rem;
        padding: 0px;
    }
    .related-post-details {
        padding: 1rem 0rem 0rem 0rem;
        border-radius: 4px;
        border: none;
    }
    .white-color {
        background-color: #ffffff;
    }
    .grey-bor {
        border-bottom: 2px dashed #ebebeb;
    }
}

.option-button-container {
    @media screen and (min-width: 768px) {
        float: right;
    }
    text-align: right;
}
