.checked {
    font-size: 16px;
    @media (min-width: 768px) {
        font-size: 22px;
    }
}
.source-det-tit {
    @media (max-width: 767px) {
        width: 100%;
        text-align: center;
        margin-top: -4rem;
        position: relative;
        z-index: 9;
    }
}

.source-knowmore {
    @media (max-width: 767px) {
        a {
            width: 48%;
            text-align: center;
            margin: 0;
        }
    }
}
