@import 'variables';

.checked {
    font-size: 16px;
    @media (min-width: 768px) {
        font-size: 22px;
    }
}

.source-det-tit {
    @media (max-width: 767px) {
        width: 100%;
        text-align: center;
        margin-top: -3rem;
        position: relative;
        z-index: 9;
    }
}

.banner-img {
    background-color: $primary-bg-color;
    height: 109px;
    width: calc(100% + 2rem);
    display: flex;
    align-items: center;
    justify-content: center;
    @media (min-width: 768px) {
        height: 208px;
        width: 100%;
    }
    @media (min-width: 992px) {
        height: 304px;
    }

    img {
        &:not(.empty) {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

.reviews-position {
    position: absolute;
    top: calc(#{-$mobile-header-height - $mobile-page-pt});
    @media (min-width: 768px) {
        top: calc(#{-$tablet-header-height - $tablet-page-pt});
    }
    @media (min-width: 992px) {
        top: calc(#{-$desktop-header-height - $desktop-nav-height - $desktop-page-pt});
    }
}
