<div class="pt-1">
    <div class="col-12 bg-f8 br-4 p-3">
        <p class="fnt-14 fw-n text-clr334 m-0">
            <span class="fw-b">Please note : </span> Edit VAT rate only when you are sure of a change in the rates. A
            slight mistake can lead to a penalty from the authorities.
        </p>
    </div>

    <div class="mt-2 mt-md-3 mt-lg-475">
        <form [formGroup]="transaction" novalidate>
            <p-table
                [value]="mrList"
                [columns]="tableColumns"
                [lazy]="true"
                [lazyLoadOnInit]="false"
                [responsive]="true"
                [scrollable]="isTablet$ | async"
                styleClass="mobile-card-view"
            >
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [style.width]="col.width ? col.width + '%' : '30%'">
                            {{ col.header | translate }}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-i="rowIndex" let-rowData let-columns="columns">
                    <tr>
                        <td
                            *ngFor="let col of columns"
                            [ngSwitch]="col.field"
                            [style.width]="col.width ? col.width + '%' : '30%'"
                            [ngClass]="editIndex === i && col.formField ? 'border-none pb-0' : ''"
                        >
                            <span *ngSwitchCase="'title'">
                                <span class="fnt-14 fw-b">{{ 'transaction' | translate }} {{ i + 1 }}</span>
                                <span class="pull-right">
                                    <span
                                        *ngIf="editIndex !== i; else editCta"
                                        class="brown-cta"
                                        (click)="editVAT(rowData, i)"
                                    >
                                        {{ 'edit' | translate }}
                                    </span>
                                    <ng-template #editCta>
                                        <span class="brown-cta" (click)="deleteEachVat(eachId)"
                                            >{{ 'delete' | translate }}
                                        </span>
                                    </ng-template>
                                </span>
                            </span>
                            <span *ngSwitchCase="'action'">
                                <span *ngIf="editIndex !== i" class="brown-cta" (click)="editVAT(rowData, i)">{{
                                    'edit' | translate
                                }}</span>
                                <span *ngIf="editIndex === i">
                                    <button
                                        type="submit"
                                        class="btn btn-raised mr-25"
                                        (click)="saveVATDetails(rowData.id, transaction.value)"
                                        [disabled]="transaction.invalid"
                                    >
                                        {{ 'save' | translate }}
                                    </button>
                                    <span *ngIf="rowData.id" class="brown-cta" (click)="deleteEachVat(eachId)"
                                        >{{ 'delete' | translate }}
                                    </span>
                                    <span *ngIf="!rowData.id" class="brown-cta" (click)="deleteRow(i)"
                                        >{{ 'delete' | translate }}
                                    </span>
                                </span>
                            </span>
                            <span *ngSwitchCase="'country'">
                                <span *ngIf="editIndex !== i" class="p-column-title">{{ col.header | translate }}</span>
                                <span *ngIf="editIndex !== i" class="float-md-left">
                                    {{ rowData.country | country }}
                                </span>
                                <div class="sewn-form-field w-100 mb-0" *ngIf="editIndex === i">
                                    <label class="d-md-none"
                                        >{{ col.header | translate }}<span class="star">*</span></label
                                    >
                                    <p-dropdown
                                        [options]="COUNTRY_LIST"
                                        optionLabel="name"
                                        optionValue="isoCode"
                                        filter="true"
                                        formControlName="country"
                                        placeholder="{{ 'select_country' | translate }}"
                                    ></p-dropdown>
                                    <small *ngIf="detailsFormControl.country.errors?.required" class="p-error">
                                        {{ 'required' | translate }}
                                    </small>
                                </div>
                            </span>
                            <span *ngSwitchCase="'transaction_type'">
                                <span *ngIf="editIndex !== i" class="p-column-title">{{ col.header | translate }}</span>
                                <span *ngIf="editIndex !== i" class="float-md-left">
                                    {{ rowData.transaction_type }}
                                </span>
                                <div class="sewn-form-field w-100 mb-0" *ngIf="editIndex === i">
                                    <label class="d-md-none"
                                        >{{ col.header | translate }}<span class="star">*</span></label
                                    >
                                    <input type="text" formControlName="transaction_type" pInputText />
                                    <span class="p-error" *ngIf="detailsFormControl.transaction_type.errors?.required">
                                        {{ 'required' | translate }}
                                    </span>
                                </div>
                            </span>
                            <span *ngSwitchCase="'vat_percentage'">
                                <span *ngIf="editIndex !== i" class="p-column-title">{{ col.header | translate }}</span>
                                <span *ngIf="editIndex !== i" class="float-md-left">
                                    {{ rowData.vat_percentage }}%</span
                                >
                                <div class="sewn-form-field w-100 mb-0" *ngIf="editIndex === i">
                                    <label class="d-md-none"
                                        >{{ col.header | translate }}<span class="star">*</span></label
                                    >
                                    <input type="number" formControlName="vat_percentage" pInputText />
                                    <span class="p-error" *ngIf="detailsFormControl.vat_percentage.errors?.required">
                                        {{ 'required' | translate }}
                                    </span>
                                </div>
                                <div *ngIf="editIndex === i" class="d-md-none">
                                    <button
                                        type="submit"
                                        class="w-100 btn-raised mt-3"
                                        (click)="saveVATDetails(rowData.id, transaction.value)"
                                        [disabled]="!transaction.valid"
                                    >
                                        {{ 'save' | translate }}
                                    </button>
                                    <button
                                        type="button"
                                        class="w-100 btn-stroked mt-3"
                                        (click)="cancelItem(rowData, i)"
                                    >
                                        {{ 'cancel' | translate }}
                                    </button>
                                </div>
                            </span>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </form>
    </div>

    <div class="mt-3">
        <span class="brown-cta" (click)="addNewTranscation()">{{ 'add_new_transaction' | translate }}</span>
    </div>
</div>
