.page-breadcrumb {
    background-color: #FFFFFF;
    margin: 1% 0.5% 0 1%;
}

.language-spacing {
    padding: 1rem 2rem;
}

.breadcrumb-item a {
    color: #666666;
}

.breadcrumb-item.active {
    color: #000;
}

a.b-cum:hover {
    color: #232334;
    text-decoration: underline;
    font-weight: bold;
}

.page-wrapper {
    background-color: #FFFFFF;
}

.create-role-btn {
    background-color: #30855c;
    border-radius: 4px;
    color: #ffffff;
    border: 1px solid #30855c;
    font-size: 13px;
    font-weight: bold;
    padding: 0.7rem;
    word-break: keep-all;
}

.create-role-btn:hover {
    /* background-color: #3d8462; 
    color:#fff; */
    box-shadow: 0 0 7px 1px rgba(67, 146, 108, 0.5);
}

.header-value {
    font-family: Muli;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #232334;
    padding-left: 2%;
    word-break: keep-all;
}

.raise-ticket {
    padding-right: 2.4rem;
    padding-top: 2rem;
}

.sub-text {
    font-family: Muli;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #747588;
    padding-left: 2%;
}

label {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #232334;
    width: 100%;
}

.select-region {
    font-size: 14px !important;
    height: 46px !important;
    border-radius: 4px;
    border: 1px solid #d6d6d6;
    background-color: #fff;
    color: #232334 !important;
    font-family: Muli;
    cursor: pointer;
    background: url(/assets/images/active-region.svg) right 16px top 14px no-repeat;
    -webkit-appearance: none;
}

.description {
    font-family: Muli;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #747588;
    display: flex;
    width: 100%;
}

.add-language {
    height: 34px;
    border-radius: 2px;
    border: solid 1px #747588;
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;
    padding-top: 7px;
    padding-left: 8px;
    font-weight: 500;
    float: left;
}

.plus-symbol {
    /* padding-right: .5rem; */
    padding-right: 8px;
    margin-top: -3px;
}

@media screen and (max-width: 425px) {
    .sub-text {
        font-size: 13px;
    }
    .raise-ticket {
        padding-top: 2rem;
    }
    .create-role-btn {
        font-size: 10px;
    }
}

@media screen and (min-width: 1200px) {
    .add-language {
        width: 33.33%;
    }
}

.breadcrumb1 {
    padding: 2rem 2rem 0rem 1.8rem;
}

.border-clr {
    border-radius: 2px;
    border: solid 1px #ebebeb;
    padding: 2rem 2rem 2.5rem 2rem;
    margin: .5rem;
}

.list-group-item {
    border: none;
    font-family: "Muli";
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #747588;
}

.list-group-item:hover {
    color: #232334;
    font-weight: 600;
    background-color: #f8f8f8;
}

.popover-body {
    padding: .5rem .5rem !important;
}
.cross-icon{
    cursor: pointer;
    padding-left: 8px;
}
.mat-chip-ripple{
    border: 1px solid #747588 !important;
}
.mat-standard-chip{
    color: #747588 !important;
    background-color: #ffffff !important;
}
.mat-chip-list-wrapper{
    padding-left: 1rem !important;
}

.languageError, .timeZoneError {
    color: #D50000;
}