<p-table
    #ordersTable
    [class.table-mobile]="isMobile$ | async"
    class="mt-2 order-disp"
    [ngClass]="{ 'table-mobile': isMobileView, 'table-scroll-active': !isMobileView }"
    [value]="tableData"
    dataKey="id"
    [rows]="rowsPerPage"
    [showCurrentPageReport]="false"
    [paginator]="pageInfo.total_count > rowsPerPage"
    [lazy]="true"
    [loading]="loading"
    (onLazyLoad)="loadOrders($event)"
    [totalRecords]="pageInfo.total_count"
    [responsive]="isMobileView"
    [scrollable]="!isMobileView"
    sortField="date_received"
    sortOrder="-1"
    [scrollable]="isTablet$ | async"
    styleClass="p-datatable-responsive-single p-datatable-custom-paginator"
>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th class="id-column" pSortableColumn="id" width="80px">
                <div class="d-flex w-100 justify-content-center">
                    <span class="ml-2 text-overflow-ellipsis">{{ 'id' | translate }}</span>
                    <p-sortIcon
                        field="id"
                        ariaLabel="Activate to sort"
                        ariaLabelDesc="Activate to sort in descending order"
                        ariaLabelAsc="Activate to sort in ascending order"
                    >
                    </p-sortIcon>
                </div>
            </th>
            <th *ngIf="orgType === OrgTypes.ESTATE" pSortableColumn="estateName" width="120px">
                <div class="d-flex">
                    <span class="text-overflow-ellipsis">{{ 'estate_name' | translate }}</span>
                    <p-sortIcon
                        field="estateName"
                        ariaLabel="Activate to sort"
                        ariaLabelDesc="Activate to sort in descending order"
                        ariaLabelAsc="Activate to sort in ascending order"
                    >
                    </p-sortIcon>
                </div>
            </th>
            <ng-container *ngIf="orgType === OrgTypes.MICRO_ROASTER">
                <th pSortableColumn="product_name" width="120px">
                    <div class="d-flex">
                        <span class="text-overflow-ellipsis">{{ 'product_name' | translate }}</span>
                        <p-sortIcon
                            field="product_name"
                            ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order"
                        >
                        </p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="micro_roaster_name" width="120px">
                    <div class="d-flex">
                        <span class="text-overflow-ellipsis">{{ 'micro-roaster' | translate }}</span>
                        <p-sortIcon
                            field="micro_roaster_name"
                            ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order"
                        >
                        </p-sortIcon>
                    </div>
                </th>
            </ng-container>
            <th *ngIf="orgType === OrgTypes.ESTATE" pSortableColumn="availability_name" width="140px">
                <div class="d-flex">
                    <span class="text-overflow-ellipsis">{{ 'availability_name' | translate }}</span>
                    <p-sortIcon
                        field="availability_name"
                        ariaLabel="Activate to sort"
                        ariaLabelDesc="Activate to sort in descending order"
                        ariaLabelAsc="Activate to sort in ascending order"
                    >
                    </p-sortIcon>
                </div>
            </th>
            <th pSortableColumn="date_received" width="120px">
                <div class="d-flex">
                    <span class="text-overflow-ellipsis">{{ 'date_ordered' | translate }}</span>
                    <p-sortIcon
                        field="date_received"
                        ariaLabel="Activate to sort"
                        ariaLabelDesc="Activate to sort in descending order"
                        ariaLabelAsc="Activate to sort in ascending order"
                    >
                    </p-sortIcon>
                </div>
            </th>
            <th pSortableColumn="origin" width="100px">
                <div class="d-flex">
                    <span class="text-overflow-ellipsis">{{ 'origin' | translate }}</span>
                    <p-sortIcon
                        field="origin"
                        ariaLabel="Activate to sort"
                        ariaLabelDesc="Activate to sort in descending order"
                        ariaLabelAsc="Activate to sort in ascending order"
                    >
                    </p-sortIcon>
                </div>
            </th>
            <th *ngIf="orgType === OrgTypes.MICRO_ROASTER" pSortableColumn="varieties" width="100px">
                <div class="d-flex">
                    <span class="text-overflow-ellipsis">{{ 'variety' | translate }}</span>
                    <p-sortIcon
                        field="varieties"
                        ariaLabel="Activate to sort"
                        ariaLabelDesc="Activate to sort in descending order"
                        ariaLabelAsc="Activate to sort in ascending order"
                    >
                    </p-sortIcon>
                </div>
            </th>
            <th *ngIf="orgType === OrgTypes.ESTATE" pSortableColumn="price" width="120px">
                <div class="d-flex">
                    <span class="text-overflow-ellipsis">{{ 'price' | translate }}</span>
                    <p-sortIcon
                        field="price"
                        ariaLabel="Activate to sort"
                        ariaLabelDesc="Activate to sort in descending order"
                        ariaLabelAsc="Activate to sort in ascending order"
                    >
                    </p-sortIcon>
                </div>
            </th>
            <th pSortableColumn="quantity" width="120px">
                <div class="d-flex">
                    <span class="text-overflow-ellipsis">{{ 'roaster_reference_no' | translate }}</span>
                    <p-sortIcon
                        field="quantity"
                        ariaLabel="Activate to sort"
                        ariaLabelDesc="Activate to sort in descending order"
                        ariaLabelAsc="Activate to sort in ascending order"
                    >
                    </p-sortIcon>
                </div>
            </th>
            <th pSortableColumn="type" width="100px">
                <div class="d-flex">
                    <span class="text-overflow-ellipsis">{{ 'type' | translate }}</span>
                    <p-sortIcon
                        field="type"
                        ariaLabel="Activate to sort"
                        ariaLabelDesc="Activate to sort in descending order"
                        ariaLabelAsc="Activate to sort in ascending order"
                    >
                    </p-sortIcon>
                </div>
            </th>
            <th pSortableColumn="status" width="100px">
                <div class="d-flex">
                    <span class="text-overflow-ellipsis">{{ 'status' | translate }}</span>
                    <p-sortIcon
                        field="status"
                        ariaLabel="Activate to sort"
                        ariaLabelDesc="Activate to sort in descending order"
                        ariaLabelAsc="Activate to sort in ascending order"
                    >
                    </p-sortIcon>
                </div>
            </th>
            <th class="action-column text-center" width="100px">
                <span class="text-overflow-ellipsis">{{ 'action' | translate }}</span>
            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData>
        <tr>
            <td class="border-0" width="80px">
                <span class="d-none d-md-flex w-100 justify-content-center">{{ rowData.id }}</span>
                <div
                    *ngIf="orgType"
                    class="p-mobile-row-content border-ebebeb p-0"
                    [routerLink]="orgType | orderLink: rowData.id"
                >
                    <div class="d-flex flex-column fnt-12">
                        <div class="order-header d-flex justify-content-between px-3 py-25 m-1 br-4">
                            <span class="fnt-14 fnt-bold text-clr334">
                                {{ 'Order' | translate }}# {{ rowData.id }}
                            </span>
                            <span class="fnt-500 status-badge" [ngClass]="rowData.type">{{
                                rowData.type | orderType
                            }}</span>
                        </div>

                        <div class="px-3 pb-1">
                            <div class="d-flex justify-content-between pt-3">
                                <span class="text-clr334">{{ rowData.status | sentencecase }}</span>
                                <span class="text-muted">{{ rowData.created_at | date: 'dd/MM/yyyy' }}</span>
                            </div>

                            <div class="mobile-row py-3 d-flex">
                                <span class="text-muted cell-header">{{ 'estate_name' | translate }}</span>
                                <span class="text-clr334 cell-header-right">{{ rowData.estate_name }}</span>
                            </div>
                            <div class="mobile-row py-3 d-flex">
                                <span class="text-muted cell-header">{{ 'origin' | translate }}</span>
                                <span class="text-clr334 cell-header-right">
                                    {{ rowData.origin | country }}
                                </span>
                            </div>
                            <div class="mobile-row py-3 d-flex">
                                <span class="text-muted cell-header cell-header">{{ 'variety' | translate }}</span>
                                <span class="text-clr334 cell-header-right">{{ rowData.varieties }}</span>
                            </div>
                            <div class="py-3 d-flex justify-content-center">
                                <span class="text-muted cell-header">{{ 'roaster_reference_no' | translate }}</span>
                                <span class="text-clr334">
                                    {{ rowData.order_refence }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </td>

            <td *ngIf="orgType === OrgTypes.ESTATE" class="d-none d-md-table-cell text-overflow-ellipsis" width="120px">
                <div class="d-flex">
                    <span class="text-overflow-ellipsis"> {{ rowData.estate_name }}</span>
                </div>
            </td>
            <ng-container *ngIf="orgType === OrgTypes.MICRO_ROASTER">
                <td class="d-none d-md-table-cell text-overflow-ellipsis" width="120px">
                    <div class="d-flex">
                        <span class="text-overflow-ellipsis"> {{ rowData.product_name }}</span>
                    </div>
                </td>
                <td class="d-none d-md-table-cell text-overflow-ellipsis" width="120px">
                    <div class="d-flex">
                        <span class="text-overflow-ellipsis"> {{ rowData.micro_roaster_name }}</span>
                    </div>
                </td>
            </ng-container>
            <td *ngIf="orgType === OrgTypes.ESTATE" class="d-none d-md-table-cell text-overflow-ellipsis" width="140px">
                <div class="d-flex">
                    <a
                        *ngIf="rowData.type !== OrderType.Prebook; else na"
                        class="text-overflow-ellipsis"
                        [routerLink]="['/sourcing/coffee-details', rowData.harvest_id]"
                    >
                        {{ rowData.availability_name }}
                    </a>
                    <ng-template #na><span>--</span></ng-template>
                </div>
            </td>
            <td class="d-none d-md-table-cell text-overflow-ellipsis" width="120px">
                <div class="d-flex">
                    <span class="text-overflow-ellipsis"> {{ rowData.created_at | date: 'd MMM yyyy' }}</span>
                </div>
            </td>
            <td class="d-none d-md-table-cell text-overflow-ellipsis" width="100px">
                <div class="d-flex">
                    <span class="text-overflow-ellipsis"> {{ rowData.origin | country }}</span>
                </div>
            </td>
            <td
                *ngIf="orgType === OrgTypes.MICRO_ROASTER"
                class="d-none d-md-table-cell text-overflow-ellipsis"
                width="100px"
            >
                <div class="d-flex">
                    <span class="text-overflow-ellipsis">
                        {{ rowData.varieties }}
                    </span>
                </div>
            </td>
            <td *ngIf="orgType === OrgTypes.ESTATE" class="d-none d-md-table-cell text-overflow-ellipsis" width="120px">
                <div class="d-flex">
                    <span class="text-overflow-ellipsis">
                        {{ getPrice(rowData) | currency: 'USD' }}
                    </span>
                </div>
            </td>
            <td class="d-none d-md-table-cell text-overflow-ellipsis" width="120px">
                <div class="d-flex">
                    <span class="text-overflow-ellipsis">
                        {{ rowData.order_reference || '-' }}
                    </span>
                </div>
            </td>
            <td class="d-none d-md-table-cell text-overflow-ellipsis" width="100px">
                <div class="d-flex">
                    <span class="fnt-14 fnt-600 status-badge text-overflow-ellipsis" [ngClass]="rowData.type">
                        {{ rowData.type | orderType }}
                    </span>
                </div>
            </td>
            <td class="d-none d-md-table-cell text-overflow-ellipsis" width="100px">
                <div class="d-flex">
                    <span class="text-overflow-ellipsis"> {{ rowData.status | sentencecase }} </span>
                </div>
            </td>
            <td class="d-none d-md-table-cell" width="100px">
                <div class="d-flex">
                    <a *ngIf="orgType" class="view-order" [routerLink]="orgType | orderLink: rowData.id">{{
                        'view_order' | translate
                    }}</a>
                </div>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="summary">
        <app-empty *ngIf="!loading && !tableData?.length" [title]="'no_data_available' | translate"></app-empty>
    </ng-template>
</p-table>
