@import 'variables';

:host {
    display: block;
}

:host ::ng-deep {
    @media (min-width: 768px) {
        .p-datatable .p-datatable-thead > tr > th {
            padding: 1rem 0.125rem;
            &:first-child {
                padding-left: 0.5rem;
            }
            &:last-child {
                padding-right: 0.5rem;
            }
        }
        .p-datatable .p-datatable-tbody > tr > td {
            padding: 1.25rem 0.125rem;
            &:first-child {
                padding-left: 0.5rem;
            }
            &:last-child {
                padding-right: 0.5rem;
            }
        }
    }
}
