<p-table
    #ordersTable
    [class.table-mobile]="isMobile$ | async"
    class="mt-2"
    [value]="tableData"
    dataKey="id"
    [rows]="rowsPerPage"
    [showCurrentPageReport]="false"
    [paginator]="true"
    [lazy]="true"
    [loading]="loading"
    (onLazyLoad)="loadOrders($event)"
    [totalRecords]="pageInfo.total_count"
    sortField="date_received"
    styleClass="p-datatable-responsive-single p-datatable-tablet-scrollable p-datatable-custom-paginator"
>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th class="id-column" pSortableColumn="id">
                <div class="d-flex">
                    <span class="text-overflow-ellipsis">{{ 'order_id' | translate }}</span>
                    <p-sortIcon
                        field="id"
                        ariaLabel="Activate to sort"
                        ariaLabelDesc="Activate to sort in descending order"
                        ariaLabelAsc="Activate to sort in ascending order"
                    >
                    </p-sortIcon>
                </div>
            </th>
            <th *ngIf="orgType === OrgTypes.ESTATE" pSortableColumn="estateName">
                <div class="d-flex">
                    <span class="text-overflow-ellipsis">{{ 'estate_name' | translate }}</span>
                    <p-sortIcon
                        field="estateName"
                        ariaLabel="Activate to sort"
                        ariaLabelDesc="Activate to sort in descending order"
                        ariaLabelAsc="Activate to sort in ascending order"
                    >
                    </p-sortIcon>
                </div>
            </th>
            <ng-container *ngIf="orgType === OrgTypes.MICRO_ROASTER">
                <th pSortableColumn="product_name">
                    <div class="d-flex">
                        <span class="text-overflow-ellipsis">{{ 'product_name' | translate }}</span>
                        <p-sortIcon
                            field="product_name"
                            ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order"
                        >
                        </p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="micro_roaster_name">
                    <div class="d-flex">
                        <span class="text-overflow-ellipsis">{{ 'micro_roaster_name' | translate }}</span>
                        <p-sortIcon
                            field="micro_roaster_name"
                            ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order"
                        >
                        </p-sortIcon>
                    </div>
                </th>
            </ng-container>
            <th pSortableColumn="date_received">
                <div class="d-flex">
                    <span class="text-overflow-ellipsis">{{ 'date_ordered' | translate }}</span>
                    <p-sortIcon
                        field="date_received"
                        ariaLabel="Activate to sort"
                        ariaLabelDesc="Activate to sort in descending order"
                        ariaLabelAsc="Activate to sort in ascending order"
                    >
                    </p-sortIcon>
                </div>
            </th>
            <th pSortableColumn="origin">
                <div class="d-flex">
                    <span class="text-overflow-ellipsis">{{ 'origin' | translate }}</span>
                    <p-sortIcon
                        field="origin"
                        ariaLabel="Activate to sort"
                        ariaLabelDesc="Activate to sort in descending order"
                        ariaLabelAsc="Activate to sort in ascending order"
                    >
                    </p-sortIcon>
                </div>
            </th>
            <th *ngIf="orgType === OrgTypes.ESTATE" pSortableColumn="species">
                <div class="d-flex">
                    <span class="text-overflow-ellipsis">{{ 'species' | translate }}</span>
                    <p-sortIcon
                        field="species"
                        ariaLabel="Activate to sort"
                        ariaLabelDesc="Activate to sort in descending order"
                        ariaLabelAsc="Activate to sort in ascending order"
                    >
                    </p-sortIcon>
                </div>
            </th>
            <th *ngIf="orgType === OrgTypes.MICRO_ROASTER" pSortableColumn="varieties">
                <div class="d-flex">
                    <span class="text-overflow-ellipsis">{{ 'variety' | translate }}</span>
                    <p-sortIcon
                        field="varieties"
                        ariaLabel="Activate to sort"
                        ariaLabelDesc="Activate to sort in descending order"
                        ariaLabelAsc="Activate to sort in ascending order"
                    >
                    </p-sortIcon>
                </div>
            </th>
            <th *ngIf="orgType === OrgTypes.ESTATE" pSortableColumn="price">
                <div class="d-flex">
                    <span class="text-overflow-ellipsis">{{ 'price' | translate }}</span>
                    <p-sortIcon
                        field="price"
                        ariaLabel="Activate to sort"
                        ariaLabelDesc="Activate to sort in descending order"
                        ariaLabelAsc="Activate to sort in ascending order"
                    >
                    </p-sortIcon>
                </div>
            </th>
            <th pSortableColumn="quantity">
                <div class="d-flex">
                    <span class="text-overflow-ellipsis">{{ 'roaster_reference_no' | translate }}</span>
                    <p-sortIcon
                        field="quantity"
                        ariaLabel="Activate to sort"
                        ariaLabelDesc="Activate to sort in descending order"
                        ariaLabelAsc="Activate to sort in ascending order"
                    >
                    </p-sortIcon>
                </div>
            </th>
            <th pSortableColumn="type">
                <div class="d-flex">
                    <span class="text-overflow-ellipsis">{{ 'type' | translate }}</span>
                    <p-sortIcon
                        field="type"
                        ariaLabel="Activate to sort"
                        ariaLabelDesc="Activate to sort in descending order"
                        ariaLabelAsc="Activate to sort in ascending order"
                    >
                    </p-sortIcon>
                </div>
            </th>
            <th pSortableColumn="status">
                <div class="d-flex">
                    <span class="text-overflow-ellipsis">{{ 'status' | translate }}</span>
                    <p-sortIcon
                        field="status"
                        ariaLabel="Activate to sort"
                        ariaLabelDesc="Activate to sort in descending order"
                        ariaLabelAsc="Activate to sort in ascending order"
                    >
                    </p-sortIcon>
                </div>
            </th>
            <th class="action-column text-center">
                <span class="text-overflow-ellipsis">{{ 'action' | translate }}</span>
            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData>
        <tr>
            <td class="border-0">
                <span class="d-none d-md-inline">{{ rowData.id }}</span>
                <div class="p-mobile-row-content border-ebebeb p-0" [routerLink]="orgType | orderLink: rowData.id">
                    <div class="d-flex flex-column fnt-12">
                        <div class="order-header d-flex justify-content-between px-3 py-1">
                            <span class="fnt-14 font-bold text-clr334">
                                {{ 'Order' | translate }} #{{ rowData.id }}
                            </span>
                            <span class="fnt-500" [ngClass]="rowData.type">&#9679;&nbsp;{{ rowData.type }}</span>
                        </div>

                        <div class="px-3">
                            <div class="d-flex justify-content-between pt-2">
                                <span class="text-clr334">{{ rowData.status }}</span>
                                <span class="text-muted">{{ rowData.created_at | date: 'd MMM yyyy' }}</span>
                            </div>

                            <div class="mobile-row py-2 d-flex">
                                <span class="text-muted cell-header">{{ 'estate_name' | translate }}</span>
                                <span class="text-clr334">{{ rowData.estate_name }}</span>
                            </div>
                            <div class="mobile-row py-2 d-flex">
                                <span class="text-muted cell-header">{{ 'origin' | translate }}</span>
                                <span class="text-clr334">
                                    {{ commonService.getCountryName(rowData.origin) }}
                                </span>
                            </div>
                            <div class="py-2 d-flex">
                                <span class="text-muted cell-header cell-header">{{ 'variety' | translate }}</span>
                                <span class="text-clr334">{{ rowData.varieties }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </td>

            <td *ngIf="orgType === OrgTypes.ESTATE" class="d-none d-md-table-cell text-overflow-ellipsis">
                {{ rowData.estate_name }}
            </td>
            <ng-container *ngIf="orgType === OrgTypes.MICRO_ROASTER">
                <td class="d-none d-md-table-cell text-overflow-ellipsis">{{ rowData.product_name }}</td>
                <td class="d-none d-md-table-cell text-overflow-ellipsis">{{ rowData.micro_roaster_name }}</td>
            </ng-container>
            <td class="d-none d-md-table-cell text-overflow-ellipsis">{{ rowData.created_at | date: 'd MMM yyyy' }}</td>
            <td class="d-none d-md-table-cell text-overflow-ellipsis">
                {{ commonService.getCountryName(rowData.origin) }}
            </td>
            <td *ngIf="orgType === OrgTypes.ESTATE" class="d-none d-md-table-cell text-overflow-ellipsis">
                {{ rowData.species }}
            </td>
            <td *ngIf="orgType === OrgTypes.MICRO_ROASTER" class="d-none d-md-table-cell text-overflow-ellipsis">
                {{ rowData.varieties }}
            </td>
            <td *ngIf="orgType === OrgTypes.ESTATE" class="d-none d-md-table-cell text-overflow-ellipsis">
                {{ rowData.price || rowData.total_price | currency: 'USD' }}
            </td>
            <td class="d-none d-md-table-cell text-overflow-ellipsis">
                {{ rowData.order_reference || '-' }}
            </td>
            <td class="d-none d-md-table-cell text-overflow-ellipsis">
                <span class="fnt-14 fnt-600" [ngClass]="rowData.type">&#9679;&nbsp;{{ rowData.type }}</span>
            </td>
            <td class="d-none d-md-table-cell text-overflow-ellipsis">{{ rowData.status }}</td>
            <td class="d-none d-md-table-cell">
                <a class="view-order" [routerLink]="orgType | orderLink: rowData.id">{{ 'view_order' | translate }}</a>
            </td>
        </tr>
    </ng-template>
</p-table>
