
.nameError, .emailError, .phoneError, 
.countryError , .addressError, .cityError {
     color: #D50000;
}

.form-control{
    height: 46px;
}

.border-class{
    border: 1px solid #ebebeb;
    border-radius: 2px;
}
.header{
    font-family: Muli;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #232334;
    height: 50px;
    border-radius: 4px;
    background-color: #f8f8f8;
    padding: .75rem;
}

.role_edit {
    border-radius: 4px;
    border: solid 1px #d6d6d6;
    background-color: #ffffff;
    background: url(../../../../assets/images/active.png) right 16px top 19px/10px no-repeat;
    -webkit-appearance: none;
    font-family: Muli;
    font-weight: 500;
    height: 50px !important;
    padding-top: 7px;
    cursor: pointer;
}

label{
    color: #232334;
}
.star{
    color: #ff1e5a;
}
td{
    width: 100%;
}
.list-que{
    color: #747588 !important;
    padding-top: 1.5rem;
}
.list-ans{
    padding-top: 1.5rem;
}

.form-section{
    display: block;
}
/* .list-section{
    display: none;
} */

/* ========CSS for select list and phone number =============  */



/* .hidden-phone-num {
    opacity: 0;
    display: none;
} */

.phone-number {
    display: inline-block;
}

.phone-number .select-list {
    border: 0;
    outline: 0;
}

.phone-number .entered-number {
    border: 0 !important;
    outline: 0 !important;
    padding: 0 10px;
    width: 75% !important;
    display: inline-block;
}

.phone-number .enetered-number:focus {
    border: none !important;
}

.Selected-ISD {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-right: 20px;
    border-right: 1px solid #d6d6d6;
}

.Selected-ISD::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    border-top: 1.5px solid #d6d6d6;
    border-right: 1.5px solid #d6d6d6;
    right: 7px;
    top: 50%;
    transition: .4s;
    transform: translateY(-50%) rotate(135deg);
}

.Selected-ISD.active::after {
    transform: translateY(-50%) rotate(315deg);
}

.select-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 150px;
    padding: 10px 0;
    background: #fff;
    list-style-type: none;
    opacity: 0;
    display: none;
    transition: 0.6s ease-in-out;
    overflow: auto;
    cursor: pointer;
}

.select-list.active {
    display: block;
    opacity: 1;
    border: 1px solid #d6d6d6 !important;
    z-index: 9999;
    padding: 10px;
}

.phone-nmber__select {
    position: relative;
    border: 1px solid #d6d6d6;
    padding: 12px 15px;
    border-radius: 4px;
    height: 46px;
}

.phone-nmber__select .enetered-number:focus {
    outline: 0;
    box-shadow: 0 0 0 0.035rem green !important;
}
ul li {
    padding: 3px !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.entered-number::placeholder{
    font-size: 12px;
}
@media screen and (max-width:768px) {
.border-class.p-4{padding-left: 16px !important; padding-right: 16px !important; border: 0;}
.mobile-border{border: none;}
.mobile-border .header {background: none; display: none;}
.mobile-border .form-group{margin-left: 8px; margin-right: 8px;}
.mobile-border .form-group{margin-bottom: 2rem;}
.list-section table tr{padding-top: 1rem; padding-bottom: 1rem; display: block; border-bottom: 1px dotted #000;}
.list-section table tr td{display: block;}
.list-que{padding-top: 0px; color: #747588; font-size: 12px;}
.list-ans{padding-top: 5px; color: #232334; font-size: 14px;}
.contact-view table{padding-left: 16px; padding-right: 16px; display: block;}
.cont-info{border:2px solid #fff; color: #232334; font-size: 16px; padding-top: 1rem; padding-left: 1rem; padding-bottom: 1rem; background: #f8f8f8;}
.no-padding{padding-left: 0; padding-right: 0;}
}