@import 'src/theme/styles/variables';

// custom intl-tel-input ------->

::ng-deep ngx-intl-tel-input {
    .custom-intl-tel-input {
        height: 50px !important;
        border: 1px solid $primary-border-color !important;
        border-radius: 4px;
        color: $general-text-color;
        font-family: 'Muli', sans-serif !important;
        font-weight: bold;
        font-size: 14px;

        &:hover {
            border-color: $primary-color !important;
        }
    }

    .iti__selected-flag {
        margin-left: 8px !important;
    }

    .iti__flag-container {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }

    .iti--allow-dropdown input {
        padding-left: 63px !important;
    }

    .dropdown-toggle {
        border-right: 1px solid #d6d6d6 !important;
    }
}
::ng-deep .iti {
    display: block !important;
}

::ng-deep ngx-intl-tel-input.w-100 .iti--allow-dropdown {
    width: 100% !important;
    .custom-intl-tel-input {
        width: 100% !important;
    }
}

// custom intl-tel-input <--------

.nameError,
.emailError,
.phoneError,
.countryError,
.addressError,
.cityError {
    color: #d50000;
}

.header {
    height: 50px;
}

.star {
    color: #ff1e5a;
}

.list-section table tr td:first-child {
    min-width: 200px;
}

@media screen and (max-width: 768px) {
    .list-section table tr {
        border-bottom: 1px dashed #d6d6d6;
    }
    .list-section table tr td {
        display: block;
    }
    .list-section table tr td:first-child {
        min-width: none;
    }
    .list-section table tr:last-child {
        border-bottom: none;
    }
    .cont-info {
        border: 2px solid #fff;
    }
}

::ng-deep .profile-dropdown {
    width: 100%;
    height: 50px;
    .p-dropdown-label {
        margin: auto;
    }
}
