<section>
    <div class="bg-fff">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 pt-5 onboard-section">
                <h1 class="title">Onboard Customers</h1>
                <p class="fnt-muli sub-text mb-5">Invite Mirco-Roaster and HoReCa's for setup</p>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                        <button
                            class="btn dashboard-button"
                            routerLink="/features/roaster-quick-setup"
                            [queryParams]="{ buttonValue: 'Micro-Roaster' }"
                        >
                            <img class="logo-img float-left" src="assets/images/roaster.svg" />
                            <span class="roaster">Micro-Roaster</span>
                            <img class="icon-img float-right" src="assets/images/unfilled-arrow.png" /><img
                                class="icon-img-filled float-right"
                                src="assets/images/filled-arrow.png"
                            />
                        </button>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                        <button
                            class="btn dashboard-button"
                            routerLink="/features/roaster-quick-setup"
                            [queryParams]="{ buttonValue: 'HoReCa' }"
                        >
                            <img class="logo-img float-left" src="assets/images/facilitator.png" />
                            <span class="facilitator">HoReCa</span>
                            <img class="icon-img float-right" src="assets/images/unfilled-arrow.png" /><img
                                class="icon-img-filled float-right"
                                src="assets/images/filled-arrow.png"
                            />
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
