<div class="main-block">
    <div class="mb-3">
        <div class="d-none d-md-block">
            <p-breadcrumb [model]="breadCrumbItem"></p-breadcrumb>
        </div>
        <div class="d-md-none">
            <div class="back-page" [routerLink]="['/dispute-system/order-chat/', orderId]">
                {{ 'back' | translate }}
            </div>
        </div>
    </div>
    <div class="d-md-flex justify-content-between align-items-end mb-4">
        <div class="fnt-18 fw-b mb-4 mb-md-0">{{ 'order_support' | translate }}</div>
        <button class="btn-raised w-mob-100" routerLink="/dispute-system/raised-tickets/{{ orgType }}/{{ orderId }}">
            {{ 'view_all_raised_tickets' | translate }}
        </button>
    </div>

    <div class="row gutter-16 v-gutter-16">
        <div [formGroup]="ticketForm" class="col-12 col-xl-6 order-2 order-md-1">
            <div class="border-md-main br-4 h-100 px-md-4 py-md-45">
                <div class="col-12 p-0 d-none d-sm-none d-md-flex">
                    <span class="primary_txt">Raise a ticket</span>
                </div>
                <div class="col-12 p-0 mt-md-4">
                    <div class="row no-gutters">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-8 sewn-form-field">
                            <div class="d-flex">
                                <label class="mobileOrderDiv">Order ID #<span class="star">*</span></label>
                                <div
                                    class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 d-flex d-sm-flex p-0 d-md-none mobileOrderDiv"
                                >
                                    <span
                                        class="raise-chng-ord ml-auto"
                                        routerLink="/dispute-system/select-order"
                                        [queryParams]="{ orderId: orderId, orgType: orgType }"
                                    >
                                        <img src="/assets/images/change_order.svg" alt="" />
                                        {{ 'change_order' | translate }}</span
                                    >
                                </div>
                            </div>
                            <input type="text" placeholder="product name" formControlName="orderId" pInputText />
                            <small *ngIf="ticketForm.controls['orderId'].errors?.required" class="p-error">
                                Required
                            </small>
                        </div>
                        <div
                            class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 d-none d-sm-none d-md-flex pl-3 align-items-center"
                        >
                            <span
                                class="raise-chng-ord"
                                routerLink="/dispute-system/select-order"
                                [queryParams]="{ id: orderId, orderType: orgType }"
                            >
                                <img src="/assets/images/shape-2.png" alt="" />
                                {{ 'change_order' | translate }}</span
                            >
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-8 p-0 sewn-form-field">
                    <label>What can we help you with?<span class="star">*</span></label>
                    <p-dropdown
                        [options]="helpTextArray"
                        optionLabel="label"
                        placeholder=""
                        [style]="{ width: '100%' }"
                        formControlName="dispute_type"
                        optionValue="value"
                    ></p-dropdown>
                    <small *ngIf="ticketForm.controls['dispute_type'].errors?.required" class="p-error">
                        Required
                    </small>
                </div>
                <!-- <div class="col-12 col-md-12 col-lg-12 col-xl-12 p-0 sewn-form-field">
                <label>Why do you want to dispute the order?</label>
                <p-dropdown
                    [options]="reasonTextArray"
                    optionLabel="label"
                    placeholder="Select subscription type"
                    [style]="{ width: '100%' }"
                    formControlName="dispute_reason"
                    optionValue="value"
                ></p-dropdown>
                <small *ngIf="ticketForm.controls['dispute_reason'].errors?.required" class="p-error"> Required </small>
            </div> -->
                <div class="col-12 p-0 sewn-form-field">
                    <label>Describe your problem<span class="star">*</span></label>
                    <textarea
                        type="text"
                        class="descriptionText-area"
                        placeholder="Describe your problem"
                        formControlName="description"
                        pInputText
                    ></textarea>
                    <small *ngIf="ticketForm.controls['description'].errors?.required" class="p-error">
                        Required
                    </small>
                </div>
                <div class="col-12 p-0 sewn-form-field">
                    <label>Whats your solution to the problem? (Optional)</label>
                    <textarea
                        type="text"
                        class="descriptionText-area"
                        placeholder="Describe your problem"
                        formControlName="solution"
                        pInputText
                    ></textarea>
                    <small *ngIf="ticketForm.controls['solution'].errors?.required" class="p-error"> Required </small>
                </div>
                <div class="col-12 p-0 sewn-form-field">
                    <label
                        >Attachments <span *ngIf="filesArray">({{ filesArray.length }})</span></label
                    >
                    <div class="file-box" *ngIf="filesArray.length">
                        <div class="file-name-wrapper" *ngFor="let file of filesArray; let i = index">
                            <label class="fnt-14 fw-m lh-normal text-clr588 mb-0">{{ file.name }}</label>

                            <i
                                *ngIf="file.uploadStatus === 'DONE'"
                                (click)="removeFile(i)"
                                class="pi pi-times fnt-12 text-clr588 pl-2 cursor-pointer"
                            ></i>
                            <div class="file-uploader-loader" *ngIf="file.uploadStatus === 'IP'">
                                <p-progressSpinner strokeWidth="5"></p-progressSpinner>
                            </div>
                        </div>
                    </div>

                    <div class="imgContainer image-upload-wrap">
                        <input class="file-upload-input" type="file" (change)="documentUpload($event)" />
                        <div class="secondary_txt">
                            <span>+ Add File</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="orderDetails" class="col-12 col-xl-6 order-1 order-md-2">
            <div class="border-md-main br-4 h-100 px-md-4 py-md-45">
                <div class="col-12 p-0">
                    <span class="primary_txt">Order details</span>
                </div>
                <div class="row p-3">
                    <div class="col-xl-12 col-lg-5 col-md-6 col-sm-12 mt-md-4">
                        <div class="row pb-4 border-bottom-primary d-none d-sm-none d-md-flex n-margin">
                            <div class="col-2 p-0 d-flex align-items-center">
                                <app-avatar
                                    [size]="36"
                                    [src]="orderDetails?.estate_profile_image_thumbnail_url"
                                    [name]="orderDetails?.estate_name"
                                ></app-avatar>
                            </div>
                            <div class="col-10 p-0 ownerDiv">
                                <span class="estateMediumFont mb-1"
                                    ><span class="fw-m">{{ 'estate_name' | translate }}: </span
                                    >{{ orderDetails.estate_name ? orderDetails.estate_name : 'NA' }}</span
                                >
                                <span class="estateMediumFont"
                                    ><span class="fw-m">{{ 'manager' | translate }}:</span>
                                    {{ orderDetails.estate_owner ? orderDetails.estate_owner : 'NA' }}</span
                                >
                            </div>
                        </div>
                        <div class="row roasterDiv pb-4 border-bottom-primary n-margin">
                            <div class="col-2 p-0 d-flex align-items-center">
                                <app-avatar
                                    [size]="36"
                                    [src]="orderDetails?.roaster_profile_image_thumbnail_url"
                                    [name]="orderDetails?.roaster_name"
                                ></app-avatar>
                            </div>
                            <div class="col-10 p-0 ownerDiv">
                                <span class="estateMediumFont mb-1"
                                    ><span class="fw-m">{{ 'roaster_name' | translate }}:</span>
                                    {{ orderDetails.roaster_name ? orderDetails.roaster_name : 'NA' }}</span
                                >
                                <span class="estateMediumFont"
                                    ><span class="fw-m">{{ 'manager' | translate }}:</span>
                                    {{ orderDetails.roaster_owner ? orderDetails.roaster_owner : 'NA' }}</span
                                >
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-12 col-lg-7 col-md-6 col-sm-12 mt-2 origin-pad">
                        <div class="row pt-3 pb-3 border-bottom-primary">
                            <div class="col-6 col-sm-6 col-md-3 p-0 col-lg-3 col-xl-3 secondary_txt fw-m">
                                {{ 'origin' | translate }} :
                            </div>
                            <div class="col-6 col-sm-6 col-md-3 p-0 col-lg-3 col-xl-3 tableContentFont">
                                {{ orderDetails?.origin | country }}
                            </div>
                        </div>
                        <div class="row pt-3 pb-3 border-bottom-primary">
                            <div class="col-6 col-sm-6 col-md-3 p-0 col-lg-3 col-xl-3 secondary_txt fw-m">
                                {{ 'variety' | translate }} :
                            </div>
                            <div class="col-6 col-sm-6 col-md-3 p-0 col-lg-3 col-xl-3 tableContentFont">
                                {{ orderDetails?.varieties || 'NA' }}
                            </div>
                        </div>
                        <div class="row pt-3 pb-3 border-bottom-primary">
                            <div class="col-6 col-sm-6 col-md-3 p-0 col-lg-3 col-xl-3 secondary_txt fw-m">
                                {{ 'price' | translate }} :
                            </div>
                            <div class="col-6 col-sm-6 col-md-3 p-0 col-lg-3 col-xl-3 tableContentFont">
                                {{ orderDetails?.price + orderDetails?.shipping_price | number }}
                                {{ orderDetails?.price_unit }}
                            </div>
                        </div>
                        <div class="row pt-3 pb-3 border-bottom-primary">
                            <div class="col-6 col-sm-6 col-md-3 p-0 col-lg-3 col-xl-3 secondary_txt fw-m">
                                {{ 'type_of_order' | translate }} :
                            </div>
                            <div class="col-6 col-sm-6 col-md-3 p-0 col-lg-3 col-xl-3 tableContentFont">
                                {{ orderDetails?.order_type | orderType }}
                            </div>
                        </div>
                        <div class="row pt-3 pb-3 statusBorder">
                            <div class="col-6 col-sm-6 col-md-3 p-0 col-lg-3 col-xl-3 secondary_txt fw-m">
                                {{ 'status' | translate }} :
                            </div>
                            <div class="col-6 col-sm-6 col-md-3 p-0 col-lg-3 col-xl-3 tableContentFont">
                                {{ orderDetails?.status | sentencecase }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-md-4">
        <div class="col-12 d-none d-sm-none d-md-flex">
            <button class="btn btn-stroked ml-auto" [routerLink]="['/dispute-system/order-chat/', orderId]">
                {{ 'cancel' | translate }}
            </button>
            <button class="btn btn-raised ml-3" (click)="submitTicket()">{{ 'submit' | translate }}</button>
        </div>
        <div class="col-12 d-block d-sm-block d-md-none">
            <button class="btn btn-raised w-100" (click)="submitTicket()">{{ 'submit' | translate }}</button>
            <button class="btn btn-stroked w-100 mt-3" [routerLink]="['/dispute-system/order-chat/', orderId]">
                {{ 'cancel' | translate }}
            </button>
        </div>
    </div>
</div>
