.search-raised {
    height: 38px;
    background-color: #fff;
    background: url(/assets/images/search-user.png) no-repeat scroll 11px 11px;
    background-size: 16px 16px;
    padding-left: 41px;
    font-family: Muli;
    font-size: 14px;
    font-weight: normal;
    color: #232334;
    margin-left: 4.7rem;
    border-radius: 4px;
    border: solid 1px #d6d6d6;
    background-color: #ffffff;
}
.detailsDiv {
    margin-left: 1rem !important;
}
.roasterDiv {
    padding-top: 1.5rem;
}
.raise-chng-ord {
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #30855c;
    cursor: pointer;
}
.formDiv {
    border: 1px solid #d6d6d6;
    padding: 32px 24px;
}
.descriptionText-area {
    height: 6.75rem;
}
.estateMediumFont {
    font-family: Muli-Regular_;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #232334;
}
.rowBorder {
    border-bottom: 1px solid #d6d6d6;
}
.ownerDiv {
    display: grid;
}
.tableContentFont {
    font-family: Muli-Regular_;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #232334;
}
.imgContainer {
    border: 1px dashed #d6d6d6;
    text-align: center;
    padding: 14px 0px;
}
.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}
.image-upload-wrap {
    margin-top: 10px;
    border-radius: 4px;
    border: solid 1px #dddddd;
    position: relative;
}
@media (max-width: 767px) {
    .detailsDiv {
        margin-top: 1rem !important;
        margin-left: 0px !important;
    }
    .formDiv {
        border: 0px;
        padding: 0px;
    }
    .statusBorder {
        border-bottom: 1px solid #d6d6d6;
        margin-bottom: 2rem !important;
    }
    .roasterDiv {
        padding-top: 0px;
    }
    .mobileOrderDiv {
        flex: 1;
    }
}
