<div class="main-block">
    <div class="row justify-content-between">
        <div class="col-lg-8"><p-breadcrumb [model]="breadCrumbItems"></p-breadcrumb></div>
        <div class="col-lg-4 d-none d-lg-inline-block">
            <span class="custom-search w-100">
                <input
                    type="text"
                    pInputText
                    class="w-100"
                    [placeholder]="'search_orderid_estate' | translate"
                    [(ngModel)]="term"
                    (ngModelChange)="termSubject.next(term)"
                />
            </span>
        </div>
    </div>
    <section class="grading__total pt-3 pt-lg-25 pt-md-4">
        <div class="d-flex flex-wrap justify-content-between flex-column flex-md-row">
            <div class="green_grading_cont">
                <h1 class="fnt-general fw-b fnt-18">{{ 'assign_orders' | translate }}</h1>
                <h3 class="mb-0 fnt-general fnt-14 text-clr588 pt-1 mb-0">
                    {{ 'assign_orders_your_members' | translate }}
                </h3>
            </div>
            <span class="custom-search d-inline-block d-lg-none mt-3 mt-md-0 custom-search-width">
                <input
                    type="text"
                    class="w-100"
                    pInputText
                    placeholder="{{ 'search_orderid_estate' | translate }}"
                    [(ngModel)]="term"
                    (ngModelChange)="termSubject.next(term)"
                />
            </span>
        </div>
        <div class="d-flex flex-column flex-md-row">
            <div class="d-flex flex-wrap justify-content-between px-0 dropdown-wrapper">
                <div class="mt-3 px-2">
                    <p-dropdown
                        [options]="orderTypeItems"
                        [(ngModel)]="selectedOrderType"
                        placeholder="Type of order"
                        styleClass="round-border"
                        optionLabel="label"
                        optionValue="value"
                        [showClear]="true"
                        (onChange)="loadData()"
                    >
                    </p-dropdown>
                </div>
                <div class="mt-3 px-2 d-none d-md-block">
                    <p-dropdown
                        [options]="displayOptions"
                        [(ngModel)]="displayRowCounts"
                        placeholder="Display"
                        styleClass="round-border"
                        optionLabel="label"
                        optionValue="value"
                        [showClear]="true"
                        (onChange)="loadData()"
                    >
                        <ng-template pTemplate="selectedItem">
                            <span class="d-flex align-items-center"> Display {{ displayRowCounts }} </span>
                        </ng-template>
                    </p-dropdown>
                </div>
            </div>
        </div>
        <div class="table-container mt-md-4">
            <div class="table-responsive">
                <p-table
                    #myTable
                    [class.table-mobile]="isMobileView"
                    [value]="tableData"
                    [columns]="tableColumns"
                    styleClass="p-table-estate"
                    [loading]="loading"
                    [paginator]="totalCount > displayRowCounts"
                    [lazy]="true"
                    [rows]="displayRowCounts"
                    [showCurrentPageReport]="false"
                    [totalRecords]="totalCount"
                    (onLazyLoad)="loadData($event)"
                    [responsive]="isMobileView"
                >
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th
                                *ngFor="let col of columns"
                                [pSortableColumn]="col.sortable === true ? col.field : null"
                                [style.width]="col.width ? col.width : 'unset'"
                                [ngClass]="{ ellipsis: col.isCut }"
                            >
                                <span class="primeng-table-header">{{ col.header | translate }}</span>
                                <p-sortIcon
                                    *ngIf="col.sortable === true"
                                    [field]="col.field"
                                    ariaLabel="Activate to sort"
                                    ariaLabelDesc="Activate to sort in descending order"
                                    ariaLabelAsc="Activate to sort in ascending order"
                                >
                                </p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr>
                            <td *ngFor="let col of columns" [ngSwitch]="col.field">
                                <span class="d-flex" *ngSwitchCase="'order_id'">
                                    <span *ngIf="isMobileView" class="d-flex w-100">
                                        <span class="prime-table-label w-50">
                                            {{ col.header | translate }} {{ rowData[col.field] }}
                                        </span>
                                        <span class="fnt-14" [ngClass]="rowData.order_type">
                                            &#9679;&nbsp;{{
                                                rowData[col.field] === 'GC_ORDER'
                                                    ? 'Booked'
                                                    : rowData[col.field] === 'GC_ORDER_SAMPLE'
                                                    ? 'Sample'
                                                    : 'Prebook'
                                            }}
                                        </span>
                                    </span>
                                    <span *ngIf="!isMobileView">
                                        {{ rowData[col.field] }}
                                    </span>
                                </span>
                                <span class="d-flex" *ngSwitchCase="'order_date'">
                                    <span *ngIf="isMobileView" class="prime-table-label w-50">
                                        {{ col.header | translate }}
                                    </span>

                                    <span>
                                        {{ rowData[col.field] | date: 'd MMM yyyy' }}
                                    </span>
                                </span>
                                <span class="d-flex" *ngSwitchCase="'origin'">
                                    <span *ngIf="isMobileView" class="prime-table-label w-50">
                                        {{ col.header | translate }}
                                    </span>

                                    <span>
                                        {{ rowData[col.field] | country }}
                                    </span>
                                </span>
                                <span class="d-flex" *ngSwitchCase="'order_type'">
                                    <span *ngIf="isMobileView" class="prime-table-label w-50">
                                        {{ col.header | translate }}
                                    </span>

                                    <span [ngClass]="rowData.order_type">
                                        &#9679;&nbsp;{{
                                            rowData[col.field] === 'GC_ORDER'
                                                ? 'Booked'
                                                : rowData[col.field] === 'GC_ORDER_SAMPLE'
                                                ? 'Sample'
                                                : 'Prebook'
                                        }}
                                    </span>
                                </span>
                                <span class="d-flex" *ngSwitchCase="'type'">
                                    <span *ngIf="isMobileView" class="prime-table-label w-50">
                                        {{ col.header | translate }}
                                    </span>

                                    <span
                                        class="ellipsis brown-cta"
                                        [routerLink]="'/green-grading/assign-user/' + rowData.order_id"
                                        [style.color]="'#80460b'"
                                    >
                                        {{ rowData[col.field] ? 'Re-assign' : 'Assign' }}
                                    </span>
                                </span>
                                <span class="d-flex" *ngSwitchDefault>
                                    <span *ngIf="isMobileView" class="prime-table-label w-50">
                                        {{ col.header | translate }}
                                    </span>

                                    <span>
                                        {{ capitalizeFirstLetter(rowData[col.field]) || 'N/A' }}
                                    </span>
                                </span>
                            </td>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="summary">
                        <app-empty
                            *ngIf="!loading && !tableData?.length"
                            [title]="'no_data_available' | translate"
                        ></app-empty>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </section>
</div>
