@import 'variables';

.custom-width {
    width: 300px;
}

.star {
    color: #d50000;
}

.dropdown-wrapper {
    flex: 1;
    margin: 0 -8px;
}

.dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin: 0 4px;
    background: $muted-text-color;
}

.custom-search-width {
    width: 26.5%;
    height: fit-content;
    @media (min-width: 768px) and (max-width: 992px) {
        width: 43%;
    }
    @media (max-width: 767px) {
        width: 100%;
    }
}

.GC_ORDER_SAMPLE {
    color: #f19634;
}

.GC_ORDER {
    color: #649a2b;
}

.PREBOOK_LOT {
    color: #7c6be8;
}

@media (min-width: 768px) {
    .table-container {
        overflow-x: auto;
        .table-responsive {
            min-width: 1144px;
        }
    }
}

::ng-deep {
    .p-datatable.p-table-estate {
        table tr td {
            span {
                text-overflow: ellipsis;
                overflow: hidden;
                @media (max-width: 767px) {
                    overflow: unset;
                }
            }

            .action-button {
                color: $muted-text-color;
                padding-left: 0.25rem;
                padding-right: 0.25rem;
                font-weight: $fw-m;
            }

            .p-inputtext {
                @media (min-width: 768px) {
                    padding: 15px 0.25rem;
                }
            }

            .p-button-text {
                color: $muted-text-color;
                position: relative;
            }

            .p-menu.p-menu-overlay {
                top: -15px !important;
                left: -185px !important;
                .p-menuitem-link {
                    .p-menuitem-text {
                        color: $muted-text-color;

                        &:hover {
                            color: #232334;
                        }
                    }

                    &:not(.p-disabled):hover {
                        background-color: #f8f8f8;
                    }
                }
            }

            .p-button-outlined {
                padding: 0.5rem;
                color: #232334;
                border-color: $muted-text-color;
                font-family: $general-font-family;
                font-size: 14px;
                font-weight: $fw-m !important;
            }
        }

        &.p-datatable-responsive {
            table {
                tbody tr {
                    padding: 0;
                    td {
                        padding: 1rem 1rem 0;
                        border-radius: 4px;
                        border-bottom: none !important;

                        &:first-child,
                        &:last-child {
                            & > span {
                                border: none;
                            }
                        }
                        @media (max-width: 767px) {
                            &:not(.border-none) {
                                border-bottom: none !important;
                            }
                        }

                        .action-button .p-button-label {
                            color: #232334;
                        }

                        & > span {
                            border-bottom: 1px dashed #d6d6d6;
                            padding-bottom: 1rem;

                            span:first-child {
                                color: $muted-text-color;
                            }

                            @media (max-width: 767px) {
                                font-size: 12px;
                                font-weight: $fw-m;
                            }
                        }

                        &:first-child {
                            background-color: #f8f8f8;

                            span > span > span:first-child {
                                font-size: 14px;
                                font-weight: $fw-b;
                                color: #232334;
                            }
                        }

                        .id-t-sample {
                            @media (max-width: 991px) {
                                border: none;
                            }
                        }
                    }
                }
            }

            .p-checkbox {
                width: 20px;
                height: 20px;

                .p-checkbox-box {
                    border-radius: 10px;
                    border: solid 0.5px #d6d6d6;
                    width: 20px;
                    height: 20px;

                    &.p-highlight {
                        background-color: #32a822;
                    }

                    .p-checkbox-icon {
                        color: #ffffff !important;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .brown-cta {
        text-decoration: none !important;
    }
}
