@import 'variables';

#origin-post {
    img {
        cursor: pointer;
        &:hover {
            opacity: 0.8;
        }
    }
}

.copying-image {
    img {
        cursor: not-allowed !important;
    }
}
