.cancel_user {
    border-radius: 4px;
    border: solid 1px #30855c;
    background-color: #ffffff;
    height: 40px;
    margin-right: 1rem;

}

.update_user {
    border: solid 1px #30855c;
    border-radius: 4px;
    background-color: #30855c;
    height: 40px;
    padding: 0px 30px;
    color: white;
    font-family: Muli;
    font-weight: bold;
}

.update_user:hover {
    background-color: #30855c;
    box-shadow: 0 0 7px 1px rgba(67, 146, 108, 0.5);
}

.update_text {
    font-family: Muli;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    padding: 12px 18px;
}

.cancel_text {
    font-family: Muli;
    font-size: 14px;
    font-weight: bold;
    color: #30855c;
    padding: 12px 11px;
}

.add-partner-mt {
    margin-top: 2.2rem;
}

.edit_heading {
    font-family: Muli;
    font-size: 18px;
    font-weight: bold;
    color: #232334;
    margin-bottom: 0;
}

.account_activation {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    color: #747588;
}

.activation__bold {
    color: #232334;
}

.user_name,
.user_email {
    font-family: Muli;
    font-size: 11px;
    font-weight: 600;
    color: #666666;
}

.rectangle_username,
.rectangle_useremail {
    border-radius: 4px;
    border: solid 1px #d6d6d6;
    background-color: #ffffff;
    height: 46px;
}

.rectangle_username::placeholder,
.rectangle_useremail::placeholder {
    font-family: Muli;
    font-size: 13px;
    font-weight: 500;
    color: #000000;
}

.recovery_email {
    font-family: Muli;
    font-size: 18px;
    font-weight: bold;
    color: #232334;
}

.recovery_account {
    border-radius: 8px;
    background-color: #faf8f4;
    padding: 1.5rem;
}

.email_text {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    color: #747588;
}

.send_email {
    border-radius: 4px;
    border: 1px solid #30855c;
    font-family: Muli;
    font-size: 14px;
    font-weight: bold;
    color: #30855c;
    padding: 12px 24px;
}

.send_email:hover {
    color: #fff;
    background-color: #30855c;
}

.send_text {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
}

.active_default {
    background-color: #3d8462;
    height: 30px;
    padding: 4px 16px;
    font-size: 14px;
    color: #fff !important;
    border-radius: 4px !important;
    font-family: Muli;
    font-weight: 600;
}

.disable_default {
    background-color: #ffffff;
    height: 30px;
    padding: 4px 16px;
    font-size: 14px;
    font-weight: 600;
    color: #979797;
    font-family: Muli;
}

.btn-group__item.active:last-child {
    background-color: #ff1e5a !important;
}

label {
    font-family: Muli;
    font-size: 14px;
    font-weight: 600;
    color: #747588;
}

.star {
    color: #ff1e5a;
}


/* 
.edit-memberspacing {
    margin-top: -1.4rem;
} */

.cancel_user:hover {
    background-color: #3d8462;
}

.cancel_user:hover>.cancel_text {
    color: white;
}

.mob_edit {
    display: none;
}

.memberNameError,
.memberEmailError,
.memberRoleError {
    color: red;
    font-size: 14px;
}

.bread-nav {
    padding: 2rem 3rem 1.1rem;
}

.edit__spacing {
    padding: 0 3rem;
}

.edit__total {
    padding: 1.5rem 1.5rem 6rem;
    border-radius: 4px;
    border: 1px solid #d6d6d6;
}

.active__main {
    border-radius: 4px;
    border: solid 1px #d6d6d6;
    padding: 2px;
    margin-right: 14px;
}

.delete-rows {
    color: #30855c;
    font-size: 14px;
    line-height: 24px;
}

.disabledDiv {
    pointer-events: none;
}


/******************Media Query for Edit Member *********************/

@media all and (max-width: 991px) {
    .spacing_recovery {
        margin-left: 0% !important;
        margin-top: 1.5rem;
    }
    .recovery_account {
        padding: 0% !important;
    }
}

@media all and (max-width: 767px) {
    .user_heading {
        margin-left: 0px !important;
    }
    .web_edit {
        display: none;
    }
    .mob_edit {
        display: block;
    }
    .edit_heading {
        color: #87623b;
    }
    .mob_activation {
        color: #000000 !important;
        font-weight: 600;
    }
    .cancel {
        background-color: #FDFDFD;
        border: none;
        color: #256547;
        padding: 4.3% 9%;
        font-size: 13px;
        font-weight: 600;
    }
    .update {
        border: 1px solid #256547;
        color: #ffffff;
        padding: 0% 9%;
        font-size: 12px;
        font-weight: 600;
        height: 44px;
        border-radius: 8px;
        background-color: #3d8462;
    }
    .edit_heading {
        font-size: 17px !important;
    }
    .email_text {
        font-size: 12px;
    }
    .login-butn {
        background-color: #3d8462;
        padding: 10px 24px;
        font-size: 12px;
        font-weight: 600;
        color: #ffffff;
        border: #3d8462;
        border-radius: 6px;
        /* box-shadow: 0 0 7px 1px rgba(67, 146, 108, 0.5); */
    }
    .login-butn:hover {
        background-color: #3d8462;
        border: #3d8462;
        box-shadow: 0 0 7px 1px rgba(67, 146, 108, 0.5);
    }
    .login-butn:focus {
        outline: 0;
        background-color: #3d8462 !important;
    }
    .crumb-space {
        margin-left: 10px;
    }
}

.add-partner span {
    color: #80460b;
    position: relative;
}

.add-partner {
    cursor: pointer;
    padding-top: 1.4rem;
}

.add-partner span::after {
    position: absolute;
    content: "";
    width: 0;
    height: 1px;
    left: 0;
    bottom: 0;
    background-color: #80460b;
    transition: 0.4s ease-in-out;
}

.add-partner span:hover {
    color: #80460b;
    text-decoration: none;
}

.add-partner span:hover::after {
    width: 100%;
}