<div class="main-block">
    <div class="col-lg-12 mb-3 px-0">
        <div class="back-page w-100">
            <a class="back-href fnt-500" routerLink="/people/customer-management">Back </a>
        </div>
    </div>

    <app-details-user></app-details-user>

    <app-details-discount [customerType]="'hrc'"></app-details-discount>

    <app-important-contacts [customerType]="'hrc'"></app-important-contacts>

    <section class="discount-sec">
        <p class="fnt-16 fnt-md-18 fnt-700 fnt-muli black">Customers on-boarder by HoReCa</p>
        <div class="col-12 px-0">
            <app-horeca-table> </app-horeca-table>
        </div>
    </section>
</div>
